@{
    LoadingUI.MarkLoaded();
}

<ModalHost />
<MenuHost />
@if (ScreenSize.IsWide()) {
    <TooltipHost />
}

<RenderIntoSlot Name="MainLeftDrawer">
    <LeftPanel/>
</RenderIntoSlot>

<RenderIntoStack Name="SubHeader" Order="-1000_000" Key="HistoricalPlaybackSubHeader">
    <HistoricalPlaybackSubHeader/>
    <RecordingSubHeader/>
</RenderIntoStack>

<div class="ui-is-rendered"></div>

@code {
    [Inject] private LoadingUI LoadingUI { get; init; } = null!;

    [CascadingParameter] public ScreenSize ScreenSize { get; set; }
}
