@inherits ComputedStateComponent<ImmutableList<(string Backend, Exception Error)>>
@inject Session _session
@inject IBackendStatus _backendStatus

@{
    var errors = State.ValueOrDefault ?? ImmutableList<(string Backend, Exception Error)>.Empty;
}

<h3>Backend status:</h3>
@if (errors.Any()) {
    @foreach (var (backend, error) in errors) {
        <h4><b>@backend:</b> @(error.Message.NullIfEmpty() ?? "Unknown error")</h4>
    }
}
else {
    <h4>No errors</h4>
}

@code {
    protected override Task<ImmutableList<(string Backend, Exception Error)>> ComputeState(CancellationToken cancellationToken)
        => _backendStatus.GetAllErrors(_session, cancellationToken);
}
