@inherits ComputedStateComponent<string>
@{
    var errors = State.Value;
}

<h3>Backend status:</h3>
@if (!errors.IsNullOrEmpty()) {
    <h4>@errors</h4>
}
else {
    <h4>No errors</h4>
}

@code {
    private RpcPeerConnectionMonitor? _connectionMonitor;

    [Inject] private Session Session { get; init; } = null!;

    protected override void OnInitialized() {
        _connectionMonitor = Services.GetService<RpcPeerConnectionMonitor>();
        _connectionMonitor?.Start();
        base.OnInitialized();
    }

    protected override ComputedState<string>.Options GetStateOptions()
        => new() {
            InitialValue = "",
            Category = GetStateCategory(),
        };

    protected override async Task<string> ComputeState(CancellationToken cancellationToken) {
        if (_connectionMonitor == null)
            return "";

        try {
            var isConnected = await _connectionMonitor.IsConnected.Use(cancellationToken);
            return (isConnected ?? true) ? "" : "Unknown error";
        }
        catch (Exception e) {
            return e.Message;
        }
    }

}
