@inherits ComputedStateComponent<string>
@{
    var errors = State.Value;
}

<h3>Connection state:</h3>
@if (!errors.IsNullOrEmpty()) {
    <h4>@errors</h4>
}
else {
    <h4>No errors</h4>
}

@code {
    private ReconnectUI? _reconnectUI;

    [Inject] private Session Session { get; init; } = null!;

    protected override void OnInitialized() {
        _reconnectUI = Services.GetService<ReconnectUI>();
        base.OnInitialized();
    }

    protected override ComputedState<string>.Options GetStateOptions()
        => new() {
            InitialValue = "",
            Category = GetStateCategory(),
        };

    protected override async Task<string> ComputeState(CancellationToken cancellationToken) {
        if (_reconnectUI == null)
            return "";

        try {
            var state = await _reconnectUI.State.Use(cancellationToken);
            return state.GetDescription();
        }
        catch (Exception e) {
            return e.Message;
        }
    }

}
