@inherits ComputedStateComponent<string>
@{
    var errors = State.Value;
}

<h3>Backend status:</h3>
@if (!errors.IsNullOrEmpty()) {
    <h4>@errors</h4>
}
else {
    <h4>No errors</h4>
}

@code {
    private RpcPeerStateMonitor? _monitor;

    [Inject] private Session Session { get; init; } = null!;

    protected override void OnInitialized() {
        _monitor = Services.GetService<RpcPeerStateMonitor>();
        _monitor?.Start();
        base.OnInitialized();
    }

    protected override ComputedState<string>.Options GetStateOptions()
        => new() {
            InitialValue = "",
            Category = GetStateCategory(),
        };

    protected override async Task<string> ComputeState(CancellationToken cancellationToken) {
        if (_monitor == null)
            return "";

        try {
            var state = await _monitor.State.Use(cancellationToken);
            if (state == null)
                return "";

            return state.Error?.Message ?? "Unknown error";
        }
        catch (Exception e) {
            return e.Message;
        }
    }

}
