
<h3>External image test:</h3>

<img draggable="false" class="h-9 w-9 cursor-pointer rounded-full block "
     src="https://www.gravatar.com/avatar/c3267f4b946d9130b32c1e192df788ae?s=80" alt="avatar" title="">

@{
    // Examine issues:
    // - https://github.com/dotnet/maui/issues/5986
    // - https://github.com/dotnet/maui/issues/6067
}
