@using ActualChat.UI.Blazor.Services
@using ActualChat.Users
@inherits ComputedStateComponent<Welcome.Model?>
@{
    var m = State.LatestNonErrorValue;
    var error = State.Error;
}

@if (error != null) {
    <WhenError Error="error"/>
    return;
}
@if (m == null) {
    return;
}
@if (m.MustBypass) {
    @ChildContent
    return;
}

@if (m.Account.IsAuthenticated()) {
    if (m.Account.IsActive() || m.IsActivating) {
        @ChildContent
    } else {
        <WelcomeLayout>
            <h1 class="text-02">Welcome to Actual Chat!</h1>
            <p class="text-02 mt-5">
                Hello, <span class="font-semibold">@(m.Account.User.Name)!</span>
            </p>
            <p class="text-02">
                @if (m.Account.Status == AccountStatus.Suspended) {
                    <span>Your account is suspended. Please feel free to contact Actual.chat team to clarify what happened.</span>
                } else {
                    <span>Please wait for your approval or use invite code.</span>
                }
            </p>
            <div class="mt-5">
                <Button Class="btn-cancel-outline" Click="OnSignOutClick">Sign out</Button>
            </div>
        </WelcomeLayout>
    }
} else {
    <WelcomeLayout>
        <h1 class="text-02">Welcome to Actual Chat!</h1>
        <div class="relative mt-5">
            <SignInMenu ButtonClass="px-4 py-2" ContentPositionClass="bottom-8"/>
        </div>
    </WelcomeLayout>
}

@code {
    private WelcomeOptions? _welcomeOptions;

    [Inject] private WelcomeOptions WelcomeOptions { get; init; } = null!;
    [Inject] private Session Session { get; init; } = null!;
    [Inject] private IAccounts Accounts { get; init; } = null!;
    [Inject] private IClientAuth ClientAuth { get; init; } = null!;
    [Inject] private NavigationManager Nav { get; init; } = null!;

    [Parameter] public RenderFragment? ChildContent { get; set; }

    protected override async Task<Model?> ComputeState(CancellationToken cancellationToken) {
        if (_welcomeOptions is { MustBypass: true })
            return Model.Bypassing;

        var account = await Accounts.Get(Session, cancellationToken).ConfigureAwait(false);
        if (account == null)
            return Model.Unauthenticated;

        var isActivating = false;
        if (account.Status == AccountStatus.Inactive) {
            var relativePath = Nav.ToBaseRelativePath(Nav.Uri);
            const string activationPath = "user/activate/";
            if (relativePath.StartsWith(activationPath, StringComparison.OrdinalIgnoreCase)
                && relativePath.Length > activationPath.Length) {
                isActivating = true;
            }
        }
        return new Model(account) { IsActivating = isActivating };
    }

    private async Task OnSignOutClick() {
        await ClientAuth.SignOut();
    }

    public record Model(Account Account) {
        public static Model Unauthenticated { get; } = new(Account.Guest);
        public static Model Bypassing { get; } = new(Account.Guest) { MustBypass = true };

        public bool IsActivating { get; init; }
        public bool MustBypass { get; init; }
    }
}
