@namespace ActualChat.Chat.UI.Blazor.Components
@inherits ComputedStateComponent<bool>

@{
    var isVisible = State.LatestNonErrorValue;
}

<div class="plus-btn-panel @(isVisible ? "open" : "closed")">
    <div class="header">
        <div class="w-full px-4 text-lg font-medium">Create</div>
        <ButtonRound Class="transparent" ContentClass="!min-w-14 !max-w-14">
            <i class="icon-search text-xl font-medium"></i>
        </ButtonRound>
    </div>
</div>

@code {
    [Inject] private PlusButtonPanelUI PlusButtonPanelUI { get; set; } = null!;
    [Inject] private Features Features { get; init; } = null!;

    protected override ComputedState<bool>.Options GetStateOptions()
        => new() { UpdateDelayer = FixedDelayer.Instant };

    protected override async Task<bool> ComputeState(CancellationToken cancellationToken)
        => await PlusButtonPanelUI.IsVisible.Use(cancellationToken);
}
