@namespace ActualChat.UI.Blazor.App.Components
@inherits BubbleBase

<BubbleContent Bubble="@(this)">
    <Title>Create Chat or Place</Title>
    <Body>
    <p>
        Use "+" button to create a new Chat or Place.
    </p>
    </Body>
</BubbleContent>
