@namespace ActualChat.UI.Blazor.App.Components
@inherits BubbleBase

<BubbleContent Bubble="@(this)">
    <Title>Context menus</Title>
    <Body>
    <ul>
        <li>Chats, contacts and messages have context menus</li>
        <li>To open a menu, use <strong>force push</strong> (long push) on mobile
            or <strong>right click</strong> on desktop.</li>
    </ul>
    </Body>
</BubbleContent>
