@namespace ActualChat.UI.Blazor.App.Components
@inherits BubbleBase

<BubbleContent Bubble="@(this)">
    <Title>"Listen" button</Title>
    <Body>
    <p>
        Use this button to start or stop listening in this chat.
    </p>
    <ul>
        <li>When you record in "Call" mode, the listening mode turns on as well.</li>
        <li>And it automatically turns off if no one speaks for about 1 minute.</li>
    </ul>
    </Body>
</BubbleContent>
