@namespace ActualChat.UI.Blazor.App.Components
@inherits BubbleBase

<BubbleContent Bubble="@(this)">
    <VideoMP4>
        <video autoplay loop muted playsinline src="/dist/images/bubbles/record-1.mp4"></video>
    </VideoMP4>
    <VideoWebM>
        <video autoplay loop muted playsinline src="/dist/images/bubbles/record-1.webm"></video>
    </VideoWebM>
    <Title>"Record" button</Title>
    <Body>
    <p>
        <strong>Toggle this button</strong> to start or stop recording in this chat.
    </p>
    <p>
        <strong>Push and hold</strong> the "Record" button to use push-to-talk mode.
    </p>
    <p>
        Recording automatically stops if you remain silent for 30 seconds.
    </p>
    </Body>
</BubbleContent>
