/* ChatAudioPanel Desktop and Mobile Landscape) */
.chat-audio-panel {
    @apply flex-x justify-center self-end items-end gap-x-2.5;
    @apply h-12;
    @apply rounded-none outline-none;
}

/* ChatAudioPanel Mobile */
@media (orientation: portrait) {
    body.narrow .chat-audio-panel {
        @apply absolute bottom-3 z-10;
        @apply self-stretch items-center gap-x-8;
        @apply h-auto;
        @apply p-0;
        @apply rounded-b-4xl;
        @apply overflow-visible;
        left: calc(50% - 2.75rem);
    }
    body.narrow .chat-message-editor:has(.related-chat-entry-panel) .chat-audio-panel,
    body.narrow .text-mode .chat-audio-panel,
    body.narrow .narrow-panel .chat-audio-panel {
        @apply bottom-2;
        left: calc(50% - 1rem);
    }
}
@media (orientation: landscape) {
    body.narrow .chat-audio-panel {
        @apply bg-post-panel;
    }
}
@media (orientation: portrait) {
    body.narrow .to-thick:not(.text-mode) .chat-audio-panel {
        @apply z-button;
        @apply gap-x-8;
        @apply py-0;
        transition: all 0ms;
    }
    body.narrow .to-thick.smooth .chat-audio-panel {
        transition: all 150ms ease-in-out;
    }
}

/* Buttons */
.chat-audio-panel .record-off-btn.btn,
body.hoverable .chat-audio-panel .record-off-btn.btn:hover {
    @apply text-06;
    @apply duration-0 ease-in-out;
    background: linear-gradient(180deg, #2970FF 0.32%, #C60077 133.76%);
    transition-property: transform, opacity, filter;
}
.chat-audio-panel .record-on-btn.btn,
body.hoverable .chat-audio-panel .record-on-btn.btn:hover {
    @apply text-06;
    @apply duration-150 ease-in-out;
    background: linear-gradient(180deg, #2970FF -116.66%, #FF3880 66.08%);
    transition-property: filter;
}
.chat-audio-panel .language-button,
.chat-audio-panel .playback-wrapper,
.chat-audio-panel .recorder-wrapper {
    @apply rounded-full;
}
.chat-audio-panel .language-button {
    @apply relative;
}
.chat-audio-panel .language-button .btn.btn-round,
.chat-audio-panel .playback-wrapper .btn.btn-round {
    @apply bg-post-panel md:bg-input;
    @apply text-audio-panel-button-text;
}
body.narrow .chat-audio-panel .language-button .btn.btn-round,
body.narrow .chat-audio-panel .playback-wrapper .btn.btn-round {
    @apply landscape:bg-mobile-landscape-audio-panel-button;
    @apply portrait:bg-audio-panel-button;
    @apply landscape:text-mobile-landscape-audio-panel-button-text;
    @apply portrait:text-audio-panel-button-text;
}

.chat-audio-panel .recorder-wrapper.applying-changes .record-on-btn.btn {
    filter: brightness(0.8);
}

.recorder-wrapper .mic-disabled.btn .btn-content,
body.hoverable .recorder-wrapper .mic-disabled.btn:hover .btn-content {
    @apply bg-05;
}
.recorder-wrapper.mic-disabled {
    @apply border-text-04;
}

.playback-wrapper.listen-off-to-on,
.playback-wrapper.listen-on {
    @apply outline outline-1 outline-primary outline-offset-0;
    @apply bg-round-focus;
}
.chat-audio-panel .recorder-wrapper.record-off,
.chat-audio-panel .recorder-wrapper.record-on-to-off {
    @apply relative;
    @apply items-center;
    @apply rounded-full;
    @apply bg-transparent;
    @apply text-06;
    box-shadow:
        -1px 0 0 0 var(--recorder-off-middle),
        0 -1px 0 0 var(--recorder-off-top),
        1px 0 0 0 var(--recorder-off-middle),
        0 1px 0 0 var(--recorder-off-bottom);
}

.chat-audio-panel .recorder-wrapper.record-on,
.chat-audio-panel .recorder-wrapper.record-off-to-on {
    box-shadow:
        -1px 0 0 0 var(--recorder-on-middle),
        0 -1px 0 0 var(--recorder-on-top),
        1px 0 0 0 var(--recorder-on-middle),
        0 1px 0 0 var(--recorder-on-bottom);
}
.chat-audio-panel .recorder-wrapper .btn {
    @apply absolute z-button;
    @apply self-center;
    @apply m-0.5;
}
.chat-audio-panel .recorder-wrapper {
    @apply border-none;
}

/* Buttons, Mobile View */
body.narrow .chat-audio-panel .language-button,
body.narrow .chat-audio-panel .playback-wrapper,
body.narrow .chat-audio-panel .recorder-wrapper {
    @apply drop-shadow-lg;
}
body.narrow .chat-audio-panel .playback-button {
    @apply portrait:hidden;
}
body.narrow .chat-audio-panel .btn.btn-round .btn-content {
    @apply min-h-10 max-h-10 min-w-10 max-w-10;
}
body.narrow .chat-audio-panel .language-button:active,
body.narrow .chat-audio-panel .playback-wrapper:active,
body.narrow .chat-audio-panel .recorder-wrapper:active {
    @apply translate-y-0.5;
}
@media (orientation: portrait) {
    body.narrow .chat-audio-panel .language-button {
        @apply hidden;
    }
    body.narrow .chat-audio-panel .language-button .btn.btn-round {
        @apply h-10 w-20;
    }
}
@media (orientation: portrait) {
    body.narrow .chat-audio-panel .playback-wrapper.listen-off,
    body.narrow .chat-audio-panel .playback-wrapper.listen-on-to-off,
    body.narrow .chat-audio-panel .language-button {
        @apply bg-gradient-to-b from-[var(--background-02)] to-[var(--background-01)];
    }
}
@media (orientation: landscape) {
    body.narrow .chat-audio-panel .playback-wrapper.listen-off,
    body.narrow .chat-audio-panel .playback-wrapper.listen-on-to-off,
    body.narrow .chat-audio-panel .language-button {
        @apply bg-mobile-landscape-audio-panel-button;
    }
}

/* Recorder, Mobile View */
body.narrow .chat-audio-panel .recorder-wrapper:active {
    @apply translate-y-0;
}
body.narrow .chat-audio-panel .recorder-wrapper .btn {
    @apply self-center;
}
@media (orientation: portrait) {
    body.narrow .chat-audio-panel .recorder-wrapper {
        @apply flex;
        @apply h-22 w-22;
        @apply justify-center;
    }
    body.narrow .chat-audio-panel .recorder-wrapper .btn {
        @apply min-w-20 max-w-20 min-h-20 max-h-20;
        @apply text-06;
    }
    body.narrow .chat-audio-panel .recorder-button .btn.recorder-skeleton .btn-content {
        @apply min-w-20 min-h-20;
    }
    body.narrow .to-thick:not(.text-mode) .chat-audio-panel .recorder-wrapper {
        @apply flex justify-center;
        @apply h-22 w-22;
        transition: all 0ms;
    }
    body.narrow .to-thick .chat-audio-panel .recorder-wrapper {
        border-width: 1px;
    }
}

/* Language, Mobile View */
body.narrow .chat-audio-panel .language-wrapper {
    @apply flex-x items-center justify-center;
}

/* Buttons, Mobile view, Text mode */
@media (orientation: portrait) {
    body.narrow .narrow-panel .chat-audio-panel .btn.btn-round {
        @apply min-w-8 max-w-8 min-h-8 max-h-8;
    }
    body.narrow .narrow-panel .chat-audio-panel .btn.btn-round svg {
        @apply h-6 w-6;
    }
}

/* Recorder, Mobile View, Text Mode */
body.narrow .base-panel .chat-audio-panel .recorder-wrapper .btn.btn-round .btn-content {
    @apply min-w-20 max-w-20 min-h-20 max-h-20;
}
@media (orientation: portrait) {
    body.narrow .chat-message-editor:has(.related-chat-entry-panel) .chat-audio-panel .recorder-button,
    body.narrow .text-mode .chat-audio-panel .recorder-button,
    body.narrow .to-thin .chat-audio-panel .recorder-button {
        @apply bottom-2.5;
        @apply min-w-8 min-h-8 max-w-8 max-h-8;
        @apply border-none;
    }
    body.narrow .chat-message-editor:has(.related-chat-entry-panel) .chat-audio-panel .recorder-wrapper,
    body.narrow .text-mode .chat-audio-panel .recorder-wrapper,
    body.narrow .to-thin .chat-audio-panel .recorder-wrapper {
        @apply flex justify-center;
        @apply h-8 w-8;
        transition: all 0ms;
    }
    body.narrow .to-thin.smooth .chat-audio-panel .recorder-wrapper {
        transition: all 100ms ease-in-out;
    }
    body.narrow .chat-message-editor:has(.related-chat-entry-panel) .chat-audio-panel .recorder-wrapper,
    body.narrow .text-mode .chat-audio-panel .recorder-wrapper,
    body.narrow .to-thin .chat-audio-panel .recorder-wrapper {
        @apply border-none;
        @apply shadow-none;
    }
    body.narrow .chat-message-editor:has(.related-chat-entry-panel) .chat-audio-panel .recorder-wrapper .btn.btn-round,
    body.narrow .text-mode .chat-audio-panel .recorder-wrapper .btn.btn-round,
    body.narrow .to-thin .chat-audio-panel .recorder-wrapper .btn.btn-round {
        @apply min-w-8 max-w-8 min-h-8 max-h-8;
        @apply bg-transparent;
        background: transparent;
        transition: all 0ms;
    }
    body.narrow .chat-message-editor:has(.related-chat-entry-panel) .chat-audio-panel .recorder-wrapper .btn.btn-round .btn-content,
    body.narrow .text-mode .chat-audio-panel .recorder-wrapper .btn.btn-round .btn-content,
    body.narrow .to-thin .chat-audio-panel .recorder-wrapper .btn.btn-round .btn-content {
        @apply min-w-8 max-w-8 min-h-8 max-h-8;
    }
    body.narrow .chat-message-editor:has(.related-chat-entry-panel) .rec-icon,
    body.narrow .text-mode .rec-icon,
    body.narrow .to-thin .rec-icon {
        @apply w-8 h-8;
    }
    body.narrow .chat-message-editor:has(.related-chat-entry-panel) .rec-icon.off i.left,
    body.narrow .text-mode .rec-icon.off i.left,
    body.narrow .to-thin .rec-icon.off i.left,
    body.narrow .chat-message-editor:has(.related-chat-entry-panel) .rec-icon.off i.right,
    body.narrow .text-mode .rec-icon.off i.right,
    body.narrow .to-thin .rec-icon.off i.right {
        @apply text-1.5xl text-mobile-landscape-audio-panel-button-text;
        @apply opacity-100;
    }
    body.narrow .chat-message-editor:has(.related-chat-entry-panel) .rec-icon.off i.right,
    body.narrow .text-mode .rec-icon.off i.right,
    body.narrow .to-thin .rec-icon.off i.right {
        @apply always-white;
    }
    body.narrow .chat-message-editor:has(.related-chat-entry-panel) .rec-icon.text-mode-on,
    body.narrow .text-mode .rec-icon.text-mode-on,
    body.narrow .to-thin .rec-icon.text-mode-on {
        @apply text-2xl text-danger;
    }
}

/* Language, Mobile View, Text Mode */
@media (orientation: portrait) {
    body.narrow .to-thin .chat-audio-panel .language-wrapper {
        @apply min-w-20 max-w-20 min-h-10 max-h-10;
        transition: all 0ms;
    }
    body.narrow .to-thin.smooth .chat-audio-panel .language-wrapper {
        transition: all 150ms ease-in-out;
    }
}

/* Buttons, Desktop view */
.chat-audio-panel .recorder-wrapper {
    @apply relative flex;
    @apply h-14 w-14;
    @apply justify-center;
    @apply top-1;
    @apply rounded-full;
}
body.narrow .chat-audio-panel .recorder-wrapper {
    @apply portrait:top-0;
}
.chat-language-toggle.btn {
    @apply font-semibold text-lg text-03 md:text-base;
}
.chat-audio-panel .playback-button .btn-content-inner > * {
    @apply relative top-[0.09rem] left-0; /* Fix headphones position */
}

/* Recorder button animation */

/* From "off" state */
.chat-audio-panel .recorder-wrapper.record-off .record-on-btn.btn {
    @apply opacity-0;
}
.chat-audio-panel .recorder-wrapper.record-off .record-off-btn.btn {
    @apply opacity-100;
}
.chat-audio-panel .recorder-wrapper.record-off-to-on .record-off-btn.btn {
    @apply opacity-0;
}
.chat-audio-panel .recorder-wrapper.record-off-to-on.applying-changes .record-on-btn.btn {
    filter: brightness(0.8);
}
.chat-audio-panel .recorder-wrapper.record-off-to-on.applying-changes .record-on-btn.btn .btn-content {
    transition-property: filter;
    filter: blur(2px);
}

/* From "on" state */
.chat-audio-panel .recorder-wrapper.record-on .record-off-btn.btn {
    @apply opacity-0;
}
.chat-audio-panel .recorder-wrapper.record-on .record-on-btn.btn {
    @apply opacity-100;
}
.chat-audio-panel .recorder-wrapper.record-on.applying-changes .record-on-btn.btn {
    filter: brightness(0.8);
}
.chat-audio-panel .recorder-wrapper.record-on.applying-changes .record-on-btn.btn .btn-content {
    transition-property: filter;
    filter: blur(2px);
}
.chat-audio-panel .recorder-wrapper.record-on-to-off .record-on-btn.btn {
    @apply opacity-0;
    @apply transition-opacity;
}
.chat-audio-panel .recorder-wrapper.record-on-to-off .record-off-btn.btn {
    @apply opacity-100;
}

.modal-frame.menu-styled-modal {
    @apply md:gap-x-0;
    @apply max-w-72;
}
.modal-frame.menu-styled-modal .c-text {
    @apply flex-y gap-y-2;
    @apply font-medium text-sm;
}

.narrow .modal-frame.menu-styled-modal .c-text {
    @apply font-normal text-base;
}
.narrow .modal-frame.menu-styled-modal .dialog-body {
    @apply gap-y-4;
}

.narrow .recorder-wrapper > .c-tooltip {
    @apply hidden;
}

.recorder-wrapper > .c-tooltip {
    @apply relative z-tooltip bottom-12 left-0;
    @apply flex justify-center;
    @apply h-10;
    @apply px-[12px] py-[7px];
    @apply rounded-lg;
    @apply whitespace-nowrap;
    @apply bg-01;
    @apply text-base text-02;
    @apply pointer-events-none;
    filter: drop-shadow(0px 5px 12px rgba(0, 0, 0, 0.16));
}

.recorder-wrapper > .c-tooltip > .c-tooltip-arrow {
    @apply absolute -bottom-1;
    @apply w-[8px] h-[8px];
    @apply rotate-45;
    @apply bg-01;
}

.narrow .narrow-recorder-tooltip {
    @apply visible;
    @apply fixed z-tooltip;
    @apply flex justify-center text-center;
    @apply h-10 w-48;
    @apply p-2;
    @apply rounded-lg;
    @apply whitespace-nowrap;
    @apply bg-01;
    @apply text-base text-02;
    @apply pointer-events-none;
    @apply portrait:bottom-28 portrait:left-0 portrait:right-0;
    @apply landscape:bottom-16 landscape:left-auto landscape:right-0.5;
    margin: 0 auto;
    filter: drop-shadow(0px 5px 12px rgba(0, 0, 0, 0.16));
}
.narrow-recorder-tooltip .c-tooltip-text {
    @apply line-clamp-1;
}

@media (orientation: portrait) {
    body.narrow .narrow-panel .narrow-recorder-tooltip {
        @apply portrait:bottom-34 landscape:bottom-16;
    }
}

.wide .narrow-recorder-tooltip {
    @apply hidden;
}

.narrow-recorder-tooltip > .c-tooltip-arrow {
    @apply absolute -bottom-1;
    @apply w-[8px] h-[8px];
    @apply bg-01;
    @apply rotate-45;
}

.btn.btn-round.transcription-options-btn i {
    @apply text-2xl font-thin;
}
.transcription-options-modal > .dialog-body {
    @apply gap-y-1;
}
.transcription-options-modal .language-btn-group {
    @apply flex-y;
    @apply mb-2;
}
.transcription-options-modal .language-btn-group > .c-settings-hint {
    @apply mb-4;
    @apply text-02;
}
.transcription-options-modal .language-btn-group > .c-title {
    @apply mb-2;
    @apply text-02;
}
.transcription-options-modal .language-btn-group a.link {
    @apply md:cursor-pointer;
    @apply text-primary;
    @apply underline;
}

.transcription-options-modal .language-btn-group > .c-languages{
    @apply flex-x gap-x-2;
    @apply p-2;
    @apply rounded-lg;
    @apply bg-04;
}
.transcription-options-modal .language-btn-group > .c-languages > span {
    @apply flex-1 flex items-center justify-center;
    @apply text-03;
}
.transcription-options-modal .language-btn-group > .c-languages > button {
    @apply flex-1 flex items-center justify-center;
    @apply h-8;
    @apply rounded-lg;
    @apply bg-transparent;
    @apply text-02;
}
.transcription-options-modal .language-btn-group > .c-languages > button.active {
    @apply bg-cancel;
    @apply text-primary;
}

.options-item {
    @apply flex-x items-center gap-x-4;
    @apply h-12;
}
.options-item > .c-title {
    @apply flex-1 flex-y;
}

.selected-language {
    @apply absolute z-menu-container -top-1 -right-0.5;
    @apply flex items-center justify-center;
    @apply w-6 h-4;
    @apply rounded-full;
    @apply bg-05;
    @apply text-primary-title text-xxs;
}
body.narrow .selected-language {
    @apply w-7 h-5;
    @apply text-caption-1;
}

/*Recorder icon*/
.rec-icon {
    @apply absolute;
    @apply flex-none flex items-center justify-center;
    @apply w-10 h-10;
    @apply opacity-100;
    @apply always-white text-2xl;
    transition-behavior: allow-discrete;
}
.rec-icon i.left {
    @apply -mr-0.5;
    @apply text-2xl;
    @apply opacity-60;
}
.rec-icon i.right {
    @apply -ml-0.5;
    @apply text-2xl;
}
body.narrow .rec-icon,
body.narrow .rec-icon i {
    @apply portrait:text-3.5xl landscape:text-2xl;
}
body.narrow .chat-message-editor:has(.related-chat-entry-panel) .rec-icon,
body.narrow .chat-message-editor:has(.related-chat-entry-panel) .rec-icon i,
body.narrow .text-mode .rec-icon,
body.narrow .text-mode .rec-icon i,
body.narrow .narrow-panel .rec-icon,
body.narrow .narrow-panel .rec-icon i {
    @apply text-2xl;
}

/*Record OFF*/
.record-off .rec-icon.off {
    @apply opacity-100;
    @apply scale-100;
}
.record-off .rec-icon.on {
    @apply opacity-0;
    @apply scale-0;
}

/*Record ON*/
.record-on .rec-icon.off {
    @apply opacity-0;
    @apply scale-0;
}
.record-on .rec-icon.on {
    @apply opacity-100;
    @apply scale-100;
}

/*Record OFF to ON*/
.record-off-to-on .rec-icon.off {
    opacity: 0;
    transform: scale(0);
    transition-duration: 0.15s;
    transition-property: opacity, transform;
    transition-timing-function: ease-in-out;
    @starting-style {
        opacity: 1;
        transform: scale(1);
    }
}

/*Record ON to OFF*/
.record-on-to-off .rec-icon.on {
    opacity: 0;
}
.record-on-to-off .rec-icon.off {
    @apply opacity-100;
    @apply scale-100;
    transition-property: transform, opacity;
    transition-duration: 0.2s;
    transition-delay: 0.2s;
    transition-timing-function: ease-in-out;
    @starging-style {
        opacity: 0;
        transform: scale(0.1);
    }
}
.record-on-to-off.applying-changes .rec-icon.off {
    @apply opacity-100;
}

/*Text-mode and Narrow-panel */
body.wide .rec-icon.text-mode-on {
    @apply hidden;
}
body.narrow .rec-icon.text-mode-on {
    @apply landscape:hidden;
}
@media (orientation: portrait) {
    body.narrow .chat-message-editor:has(.related-chat-entry-panel) .rec-icon.text-mode-on,
    body.narrow .text-mode .rec-icon.text-mode-on,
    body.narrow .to-thin .rec-icon.text-mode-on {
        @apply flex;
        @apply pt-0.5;
    }
    body.narrow .chat-message-editor:has(.related-chat-entry-panel) .rec-icon.text-mode-off,
    body.narrow .text-mode .rec-icon.text-mode-off,
    body.narrow .to-thin .rec-icon.text-mode-off {
        @apply hidden;
    }
    body.narrow .to-thick:not(.text-mode) .rec-icon.text-mode-on,
    body.narrow .chat-message-editor:not(.text-mode, .narrow-panel) .rec-icon.text-mode-on {
        @apply hidden;
    }
}

/* Audio Panel Wrapper */
.audio-panel-wrapper {
    @apply relative;
    @apply flex-x items-center gap-x-2.5;
}
@media (orientation: portrait) {
    body.narrow .audio-panel-wrapper {
        @apply items-end gap-x-1;
    }
    body.narrow .chat-message-editor:has(.related-chat-entry-panel) .audio-panel-wrapper,
    body.narrow .chat-message-editor.text-mode .audio-panel-wrapper,
    body.narrow .chat-message-editor.narrow-panel .audio-panel-wrapper {
        @apply gap-x-2;
    }
}
.audio-panel-wrapper .recorder-wrapper {
    @apply -mt-2;
}
@media (orientation: portrait) {
    body.narrow .audio-panel-wrapper .recorder-wrapper {
        @apply m-0;
    }
}

/* Volume Settings Button */
.chat-audio-panel .volume-settings-btn {
    @apply landscape:hidden md:hidden;
    @apply duration-150 ease-in-out;
    transition-property: background-color, opacity;
}
@media (orientation: portrait) {
    .volume-settings-btn.btn-round {
        @apply pt-1.5;
    }
    body.narrow .volume-settings-btn.btn.btn-round > .btn-content {
        @apply relative;
        @apply min-h-8 max-h-8 min-w-8 max-w-8;
    }
    body.narrow .volume-settings-btn.btn.btn-round > .btn-content i {
        @apply text-2xl text-mobile-landscape-audio-panel-button-text;
    }
    body.narrow .chat-audio-panel:has(.record-on) .volume-settings-btn.btn.btn-round > .btn-content i {
        background: linear-gradient(180deg, #2970FF -116.66%, #FF3880 66.08%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .volume-settings-btn > .btn-content .c-text {
        @apply absolute top-0.5 left-1/2;
        @apply text-xxs font-semibold always-white;
    }
}

body.narrow .volume-settings-btn.text {
    @apply landscape:hidden;
    @apply relative bottom-1.5;
    @apply flex items-center justify-center;
    @apply h-5;
    @apply px-2;
    @apply rounded-full;
    @apply bg-post-panel;
}
body.narrow .volume-settings-btn.text > .c-text {
    @apply text-caption-6 font-semibold;
    @apply bg-mobile-landscape-audio-panel-button-text;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
body.narrow .volume-settings-btn.text::before {
    @apply landscape:hidden;
    @apply content-empty;
    @apply absolute inset-0 z-minus;
    @apply rounded-full;
    @apply bg-mobile-landscape-audio-panel-button-text;
    margin: -2px;
}

@media (orientation: portrait) {
    body.narrow .chat-audio-panel:has(.record-on-btn) .volume-settings-btn.text > .c-text,
    body.narrow .chat-audio-panel:has(.record-on-btn):not(.text-mode, .narrow-panel) .volume-settings-btn.text > .c-text {
        background-image: linear-gradient(to right, #FF3880, 10%, white);
    }
    body.narrow .chat-audio-panel:has(.record-on-btn) .volume-settings-btn.text::before,
    body.narrow .chat-audio-panel:has(.record-on-btn):not(.text-mode, .narrow-panel) .volume-settings-btn.text::before {
        background-image: linear-gradient(to right, #FF3880, 25%, var(--mobile-landscape-audio-panel-button-text));
    }
    body.narrow .chat-message-editor:not(.text-mode, .narrow-panel) .volume-settings-btn.text > .c-text {
        background-image: linear-gradient(to right, #852FB0, 10%, white);
    }
    body.narrow .chat-message-editor:not(.text-mode, .narrow-panel) .volume-settings-btn.text::before {
        background-image: linear-gradient(to right, #852FB0, 25%, var(--mobile-landscape-audio-panel-button-text));
    }
}
