@inherits ComputedStateComponent<string>
@inject IFusionTime _fusionTime

<span class="@Class @(_typeClass ??= CssClasses.Default[GetType()])">@(State.Value ?? "")</span>

@code {
    private static string? _typeClass;

    [Parameter]
    public string Class { get; set; } = "";
    [Parameter]
    public DateTime? Value { get; set; }
    [Parameter]
    public string None { get; set; } = "n/a";

    protected override Task<string> ComputeState(CancellationToken cancellationToken)
        => Value.HasValue ? _fusionTime.GetMomentsAgo(Value.Value) : Task.FromResult(None);
}
