@inherits ComputedStateComponent<string>

<span class="@Class moments-ago-badge">@(State.Value ?? "")</span>

@code {
    [Parameter] public string Class { get; set; } = "";
    [Parameter] public DateTime? Value { get; set; }
    [Parameter] public string None { get; set; } = "n/a";

    [Inject] private IFusionTime FusionTime { get; init; } = null!;

    protected override Task<string> ComputeState(CancellationToken cancellationToken)
        => Value.HasValue ? FusionTime.GetMomentsAgo(Value.Value) : Task.FromResult(None);
}
