@namespace ActualChat.Chat.UI.Blazor.Components
@inherits ChatAuthorBadgeBase

@{
    var model = State.LatestNonErrorValue;
    var status = model.IsRecording ? AuthorBadgeStatus.Recording : AuthorBadgeStatus.None;

    <div class="author-badge">
        <AuthorAvatar Author="@model.Author" Size="AuthorBadgeSize.Size9"
                      Status="@status" OnClick="@OnClick"/>
    </div>
}

@code {
    [Parameter] public EventCallback<MouseEventArgs> OnClick { get; set; }

    protected override void OnInitialized() {
        base.OnInitialized();
        TrackRecording = true;
    }
}
