@namespace ActualChat.Chat.UI.Blazor.Components
@inherits ChatAuthorBadgeBase
@{
    var m = State.LatestNonErrorValue;
}

<div class="author-badge">
    <AuthorCircle
        Author="@m.ChatAuthor" Size="SquareSize.Size9" Presence="@m.Presence"
        Click="@Click"/>
</div>

@code {
    [Parameter] public EventCallback<MouseEventArgs> Click { get; set; }

    public ChatMessageAuthorCircle() {
        ShowsPresence = true;
        ShowsRecording = true;
    }
}
