@namespace ActualChat.Chat.UI.Blazor.Components
@inherits ChatAuthorBadgeBase
@{
    var m = State.LatestNonErrorValue;
}

<span class="@Class">@m.Author.Name</span>

@code {
    [Parameter] public string Class { get; set; } = "";
}
