@namespace ActualChat.Chat.UI.Blazor.Components
@inherits ChatAuthorBadgeBase
@{
    var m = State.LatestNonErrorValue;
    var sizeClass = GetSizeClass();
}
@if (m == Model.None) {
    <div class="author-badge animate-pulse">
        <div class="@sizeClass rounded-full bg-04"></div>
    </div>
} else {
    <AuthorCircle Author="@m.Author" Size="@Size" Presence="@m.Presence" />
}

@code {
    [Parameter] public SquareSize Size { get; set; } = SquareSize.Size10;

    private string GetSizeClass() {
        var size = (int) Size;
        return $"h-{size} w-{size}";
    }
}
