.edit-settings-modal {
    @apply text-03;
    @apply h-full md:w-90;
}

.edit-settings-modal.modal-frame {
    @apply px-0;
    @apply gap-y-0;
}

.edit-settings-modal .no-padding-header-decorator {
    @apply mx-0;
}

.edit-chat-settings-modal .dialog-body {
    @apply pt-0;
    scrollbar-width: none;
}

.edit-chat-settings-modal .chat-settings-container {
    @apply px-2;
}

.edit-settings-modal .form-block:not(:first-of-type) {
    @apply border-0;
}
.edit-settings-modal:has(.chat-settings-header) .modal-header {
    @apply hidden;
}

.edit-settings-modal .dialog-buttons {
    @apply pt-4;
}
.edit-settings-modal .dialog-buttons .btn-group {
    @apply flex-1;
    @apply max-w-none;
}

.edit-settings-modal .form-block {
    @apply px-4;
}
.edit-settings-modal .form-block.with-input-radio {
    @apply px-2;
}
.edit-settings-modal .form-block.with-input-radio .tile-item {
    @apply h-16;
    @apply px-4;
}
.edit-settings-modal .form-block.with-input-radio .tile-item .tile-item-icon {
    @apply min-w-8;
}
.edit-settings-modal .form-block.with-input-radio .tile-item .tile-item-body-content label,
.edit-settings-modal .form-block.with-input-radio .tile-item .tile-item-body-caption * {
    @apply text-01;
}
.edit-settings-modal .form-block.with-input-radio .tile-item .tile-item-body-caption * {
    @apply font-normal;
}
.chat-settings-container .tile-item {
    @apply h-12;
    @apply px-4;
}
body.hoverable .chat-settings-container .tile-item:hover {
    @apply bg-hover;
}

.field-chat-public-url .tile-item-body-content {
    @apply relative;
}
.field-chat-public-url section {
    @apply mt-0;
}
.field-chat-public-url .copy-to-clipboard {
    @apply absolute top-0 right-0;
}

.form.form-y .field-chat-public-url section .form-section-content {
    @apply mt-0;
}

.tile-item.field-chat-public-url .label-inside-input input {
    @apply h-6;
}

.tile-item.field-chat-public-url .tile-item-icon,
.tile-item.field-chat-public-url .tile-item-right {
    @apply my-auto;
}

.form .field-allow-guest .tile-item-body-caption label {
    @apply text-danger;
}

/*.wide .field-chat-title input {*/
/*    @apply h-10;*/
/*}*/

.edit-settings-modal .tile-item-icon i {
    @apply text-2xl;
}

body.hoverable .edit-settings-modal .item-leave-group.tile-item:hover {
    @apply bg-menuitem-hover-warning;
}
.edit-settings-modal .item-leave-group .tile-item-icon,
.edit-settings-modal .item-leave-group .tile-item-body-content {
    @apply text-danger;
}

.chat-type-tile-item .tile-item-right {
    @apply text-headline-1 text-primary;
}

/* Edit members page */

.tile-item.item-manage-members .tile-item-right {
    @apply min-w-8 justify-end;
    @apply text-03;
}
.tile-item.item-manage-members .tile-item-right i {
    @apply -ml-2;
}

.edit-settings-modal.edit-members .dialog-body {
    @apply overflow-hidden;
    @apply px-4;
}
.edit-settings-modal.edit-members .dialog-body > * {
    @apply mt-3;
}
.edit-settings-modal.edit-members .list {
    @apply overflow-y-auto custom-scrollbar;
}
.edit-settings-modal.edit-members .list > li {
    @apply flex-x;
    @apply min-h-12;
}
.edit-settings-modal.edit-members .list > li .menu {
    @apply flex items-center justify-center;
    @apply min-w-4;
}
.edit-settings-modal.edit-members .list .avatar-badge {
    @apply flex-1;
    @apply overflow-x-hidden;
}
.edit-settings-modal.edit-members .list .avatar-badge .c-status {
    @apply text-03 text-xs leading-3.5;
}

.edit-settings-modal.edit-members .tile-item {
    @apply shrink-0; /* prevents shrinking tile item when list overflows */
}

.edit-settings-modal .pic.pic-square {
    @apply rounded-xl overflow-hidden;
}

/* Edit member menu */

.edit-member-menu {
    @apply md:w-90;
}
.edit-member-menu .ac-menu-item {
    @apply h-auto min-h-10;
}
.edit-member-menu .avatar-badge {
    @apply p-[6px];
}
.edit-member-menu .ac-menu-content {
    @apply gap-x-2;
}
.edit-member-menu .ac-menu-icon {
    @apply w-10 min-w-10 max-w-10;
    @apply flex-x justify-center;
    @apply self-start;
}
.edit-member-menu .ac-menu-text,
.edit-member-menu .avatar-name {
    @apply font-medium text-02;
}
.edit-member-menu .ac-menu-hint {
    @apply text-caption-6 text-03;
    @apply whitespace-normal;
}

.copy-chat-to-place-modal .c-chat-list {
    @apply flex-y justify-center gap-y-1;
}
.copy-chat-to-place-modal .c-chat-list .c-chat {
    @apply flex-x items-center gap-x-2;
    @apply px-2 py-1;
    @apply rounded-lg;
    @apply overflow-hidden;
}
.copy-chat-to-place-modal .c-chat-list .c-chat .c-chat-title {
    @apply line-clamp-1;
    @apply text-headline-1 text-01;
}
body.hoverable .copy-chat-to-place-modal .c-chat-list .c-chat:hover {
    @apply bg-hover;
    @apply cursor-pointer;
}

.form-block.chat-settings-header {
    @apply relative;
    @apply flex-y items-center gap-x-4;
    @apply min-h-32;
    @apply p-0;
}
.chat-settings-header > .c-top {
    @apply relative;
    @apply flex-none;
    @apply h-26 w-full;
    @apply rounded-b-xl;
    @apply overflow-hidden;
}
.chat-settings-header > .c-center {
    @apply absolute top-17 z-20;
    @apply flex-x;
    @apply h-16 w-full;
    @apply px-4;
}
.chat-settings-header > .c-center > .c-buttons {
    @apply flex-1 flex-x items-center justify-end gap-x-3;
}
.chat-settings-header > .c-center > .c-buttons .btn.btn-round {
    @apply bg-[var(--round-right-panel)];
    @apply text-primary;
    @apply shadow;
}
.chat-settings-header > .c-bottom {
    @apply flex-y items-start justify-end gap-y-1;
    @apply w-full;
    @apply px-4 pt-10;
    @apply bg-transparent;
}
