@using ActualChat.Media
@namespace ActualChat.Chat.UI.Blazor.Components

<DiveInDialogFramePage
    Id="@ChatSettingsModal.PageIds.Start"
    IsStartPage="true">
    <Body Context="pageContext">
        <ChatSettingsStartContent ChatSid="@ChatSid" Context="@pageContext" />
    </Body>
    <Buttons>
        <RenderSlot Name="@ButtonsSlotName" />
    </Buttons>
</DiveInDialogFramePage>

@code {
    public const string ButtonsSlotName = "ChatSettingsModal-PageButtons";

    [Parameter, EditorRequired] public string ChatSid { get; set; } = "";
}
