@namespace ActualChat.Chat.UI.Blazor.Components

<DiveInDialogFramePage
    Id="@ChatSettingsModal.PageIds.Members"
    Title="Members"
    UseBackButton="true">
    <Body>
        <ManageMembersContent ChatSid="@ChatSid" Context="context" />
    </Body>
</DiveInDialogFramePage>

@code {
    [Parameter, EditorRequired] public string ChatSid { get; set; } = "";
}
