@namespace ActualChat.Chat.UI.Blazor.Components

<div class="chat-not-found-container">
    <div class="c-wrapper">
        <img width="308" height="274" src="/dist/images/chat-not-found.svg" alt="Chat not found"/>
        <div class="text-wrapper">
            <p>Chat not found.</p>
            <p>Choose the other one.</p>
        </div>
    </div>
</div>

@if (ShowSignIn) {
    <RenderIntoSlot Name="MainFooter">
        <div class="flex-x items-center justify-center gap-x-2">
            <span>You can try to sign in to see it</span>
            <SignInButton/>
        </div>
    </RenderIntoSlot>
}

@code {
    [Parameter] public bool ShowSignIn { get; set; }
}
