@namespace ActualChat.Chat.UI.Blazor.Components

<div class="flex items-center justify-center h-full">
    <img width="308" height="274" src="/dist/images/chat-not-found-cat.svg" alt="chat-not-found" />
</div>

@if (ShowSignIn) {
    <RenderIntoSlot Name="MainFooter">
        <div class="flex-x items-center justify-center gap-x-2">
            <span>You can try to sign in to see it</span>
            <SignInButton/>
        </div>
    </RenderIntoSlot>
}

@code {
    [Parameter] public bool ShowSignIn { get; set; }
}
