@namespace ActualChat.UI.Blazor.Components
@inherits FusionComponentBase

<div class="severity-icon">
     <i class="@Icon text-2xl"></i>
</div>

@code {
    [Parameter, EditorRequired] public BannerSeverity Severity { get; set; }

    private string Icon {
        get {
            var iconName = Severity switch {
                BannerSeverity.Success => "checkmark-circle",
                BannerSeverity.Info => "bell",
                BannerSeverity.Error => "info",
                BannerSeverity.Warning => "alert-triangle",
                _ => "info",
            };

            return $"icon-{iconName}";
        }
    }
}
