@namespace ActualChat.UI.Blazor.Components
@{
    var cls = IsEndAligned ? "justify-end" : "justify-start";
}

<div class="@cls @Class form-buttons">
    @ChildContent
</div>

@code {
    [Parameter] public string Class { get; set; } = "";
    [Parameter] public bool IsEndAligned { get; set; } = true;
    [Parameter] public RenderFragment? ChildContent { get; set; }
}
