.form section {
    @apply flex-y;
    @apply mt-2;
    @apply rounded-t-md;
}
.form section:has(.form-section-content.label-inside-input) {
    @apply bg-input;
}
.form-section-content {
    @apply flex-1 flex-x items-center;
}
.form-section-content > .c-left {
    @apply flex-y flex-1 items-start justify-center gap-y-1;
}
.form-section-content > .c-left > * {
    @apply w-full;
}
.form-section-content.label-inside-input .c-left {
    @apply gap-y-0;
}

.form input {
    @apply bg-input;
}

.form label {
    @apply font-medium text-03;
}
.form input:not([type='checkbox']):not(.dialog-unstyled),
.form select {
    @apply border outline-none p-1 px-2;
}
.form input:not([type='checkbox']):not(.dialog-unstyled).invalid,
.form select.invalid {
    @apply border-danger;
    @apply ring-1 ring-danger;
}
.form input:focus,
.form select:focus {
    @apply outline-none border-primary;
    @apply ring-1 ring-primary;
}
.form input:not([type='checkbox']):not(.dialog-unstyled).invalid:focus,
.form select.invalid:focus {
    @apply border-danger;
    @apply ring-1 ring-danger;
}

.form.form-y section > * {
    @apply flex-none w-full;
}
.form.form-y section .form-section-content {
    @apply px-1;
}
.form.form-y section .form-section-content.label-inside-input {
    @apply h-12;
    @apply px-4;
}
.form.form-y section .form-section-content.label-inside-input:has(.form-section-label) .text-box-btn {
    @apply -mt-4;
}

.form.form-x section {
    @apply flex-row items-start;
}
.form.form-x section > * {
    @apply grow;
}
.form.form-x section > .form-section-label {
    @apply flex-none w-1/3 pt-1;
}

.form-buttons {
    @apply mt-2;
    @apply flex-x w-full items-center gap-x-4;
}

.form-section-validation {
    @apply flex-y;
}

.form-section-validation-message {
    @apply text-caption-2 text-danger;
}

/*Label inside input*/
.form-section-content.label-inside-input {
    @apply gap-y-0;
    @apply bg-transparent;
    @apply border-b border-text-03;
}
.form-section-content.label-inside-input:focus-within {
    @apply border-primary;
    @apply caret-primary;
}
.form section.invalid .form-section-content.label-inside-input {
    @apply border-danger;
}
.label-inside-input input,
.label-inside-input select {
    @apply h-8 min-h-8 md:h-6 md:min-h-6;
    @apply border-none rounded-none;
    @apply bg-transparent;
    @apply text-02 font-normal;
}
.form-section-content > .c-left > select,
.label-inside-input select {
    width: calc(100% + 0.5rem);
    @apply -ml-1;
}

.form .form-section-content.label-inside-input label {
    @apply text-xs font-normal text-03;
}
.form .form-section-content.label-inside-input:focus-within label {
    @apply text-primary;
}
.form section.invalid .form-section-content.label-inside-input label {
    @apply text-danger;
}
.form .form-section-content.label-inside-input input:not([type='checkbox']):not(.dialog-unstyled),
.form .form-section-content.label-inside-input select {
    @apply p-0;
    @apply border-none outline-none;
    @apply custom-scrollbar;
}
.form .form-section-content.label-inside-input input:not([type='checkbox']):not(.dialog-unstyled).invalid,
.form .form-section-content.label-inside-input select.invalid {
    @apply border-danger ring-0;
}
.form .form-section-content.label-inside-input input:focus,
.form .form-section-content.label-inside-input select:focus {
    @apply outline-none ring-0;
}
.form .form-section-content.label-inside-input input:not([type='checkbox']):not(.dialog-unstyled).invalid:focus,
.form .form-section-content.label-inside-input select.invalid:focus {
    @apply border-danger ring-0;
}

.form .form-section-content.label-inside-input option {
    @apply bg-02;
    @apply text-03;
}

.form .tile-item {
    @apply min-h-10;
    @apply h-auto;
}

.form .tile-item-icon {
    @apply justify-start;
}

.form .tile-item-body {
    @apply grow;
    @apply max-h-max;
}

.form .tile-item-body-content {
    @apply max-h-max;
    @apply text-headline-1;
}

.form .tile-item-right {
    @apply grow-0;
}

.form .tile-item input[type=radio] {
    @apply h-5 w-5;
}
.form .tile-item input[type=radio]:focus {
    box-shadow: none;
}

.form-block {
    @apply flex-y;
    @apply p-4;
    @apply gap-y-2;
}

.form-block .form-block-title {
    @apply text-caption-1;
}

/* separator between form blocks */
.form-block:not(:first-of-type) {
    @apply border-separator border-t;
}

.form-block section {
    @apply mt-0; /* reset top margin on FormSection */
}

.form-section-label {
    line-height: 0.875rem;
}

.form option:checked {
    @apply text-primary bg-none;
}

/* Radio buttons */
.form-radio-hidden {
    @apply relative;
    @apply justify-start;
    @apply h-5 w-5;
}
.form-radio-hidden input {
    @apply absolute;
    @apply block;
    @apply h-0 w-0;
    @apply opacity-0;
}
.form-radio-hidden .radio {
    @apply relative;
    @apply inline-block;
    @apply appearance-none;
    @apply h-5 w-5;
    @apply rounded-full border border-radio-border;
    @apply box-border;
    @apply bg-radio;
    @apply outline-none;
    @apply transition-all duration-500;
    box-shadow: 0 0 4px 0 var(--radio-shadow);
}
.form-radio-hidden.form-radio-active .radio {
    @apply cursor-pointer;
}
.form-radio-hidden.form-radio-disabled .radio {
    @apply bg-radio-shadow;
}
.form-radio-hidden.form-radio-active:hover .radio {
    box-shadow: inset 1px 2px 3px 0 var(--radio-shadow);
}
.form-radio-hidden.form-radio-active:hover input:checked + .radio {
    box-shadow: none;
}

.form-radio-hidden input:checked + .radio {
    @apply bg-radio;
    @apply border-primary;
}

.form-radio-hidden.form-radio-active:hover input:not(:checked) + .radio::before,
.form-radio-hidden input:checked + .radio::before {
    @apply content-empty;
    @apply absolute top-1/2 left-1/2;
    @apply w-2.5 h-2.5;
    @apply rounded-full;
    @apply bg-hover;
    @apply -translate-x-1/2 -translate-y-1/2;
}
.form-radio-hidden input:checked + .radio::before{
    @apply bg-primary;
}
