@namespace ActualChat.UI.Blazor.Components

<label for="@(InputId.NullIfEmpty() ?? "-")">
    <span>@Text</span>
    @if (IsRequired) {
        <sup class="text-error text-xxs opacity-50"> &#x2731</sup>
    }
</label>

@code {
    [Parameter] public string Text { get; set; } = "";
    [Parameter] public string InputId { get; set; } = "";
    [Parameter] public bool IsRequired { get; set; }
}
