.form-toggle {
    @apply flex flex-row items-center gap-x-2;
}

.form-toggle-label {
    @apply text-03;
}

.form-toggle .form-toggle-input {
    @apply appearance-none ring-0;
    @apply w-9 h-5;
    @apply rounded-full bg-no-repeat bg-contain bg-gray-300 focus:outline-none cursor-pointer shadow-sm;
    background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%22-4 -4 8 8%22%3E%3Ccircle r=%223%22 fill=%22%23fff%22/%3E%3C/svg%3E");
    background-position: 0;
    transition: background-position .1s ease-in-out
}
.form-toggle .form-toggle-input:focus {
    @apply ring-2 ring-offset-1 ring-primary outline-none border-0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%22-4 -4 8 8%22%3E%3Ccircle r=%223%22 fill=%22%23fff%22/%3E%3C/svg%3E")
}
.form-toggle .form-toggle-input:checked {
    @apply ring-0 bg-toggle-on;
    background-position: 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%22-4 -4 8 8%22%3E%3Ccircle r=%223%22 fill=%22%23fff%22/%3E%3C/svg%3E")
}
.form-toggle .form-toggle-input:checked[type=checkbox] {
    @apply ring-0;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e")
}
.form-toggle .form-toggle-input:checked:focus[type=checkbox] {
    @apply ring-2 ring-offset-1 ring-primary outline-none border-0;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e")
}
.form-toggle .form-toggle-input:checked[type=radio] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%22-4 -4 8 8%22%3E%3Ccircle r=%222%22 fill=%22%23fff%22/%3E%3C/svg%3E")
}
.form-toggle .form-toggle-input[type=checkbox]:indeterminate {
    background-color: #0d6efd;
    @apply ring-0;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e")
}
.form-toggle-input:disabled {
    pointer-events: none;
    filter: none;
    opacity: .5;
}

@media(prefers-reduced-motion:reduce) {
    .form-toggle-input {
        transition: none;
    }
}

.checkbox-x {
    @apply flex-x items-center justify-items-start;
}
.checkbox-y {
    @apply flex-y;
    place-items: flex-start;
}

/* Custom checkbox */
.checkbox {
    @apply inline-block relative align-middle select-none text-sm mr-2.5 mt-0.5 leading-7 h-7;
}
form label.checkbox-label {
    @apply font-normal;
}
.checkbox .checkbox-switch {
    @apply inline-block relative h-3.5 w-9 rounded-3xl top-1.5 align-top bg-04;
    transition: .2s;
}
.checkbox .checkbox-switch:before {
    @apply inline-block absolute w-5 h-5 -left-px bg-01 rounded-full;
    content: '';
    top: -3px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12);
    transition: .15s;
}
.checkbox input[type=checkbox] {
    @apply block w-0 h-0 absolute opacity-0 z-minus;
}
.checkbox input[type=checkbox]:checked + .checkbox-switch {
    @apply bg-secondary;
}
.checkbox input[type=checkbox]:checked + .checkbox-switch:before {
    @apply bg-primary;
    transform:translateX(18px);
}

/* Hover */
.checkbox input[type="checkbox"]:not(:disabled) + .checkbox-switch {
    @apply cursor-pointer border-separator;
}

/* Active/Focus */
.checkbox input[type="checkbox"]:not(:disabled):active + .checkbox-switch:before,
.checkbox input[type="checkbox"]:not(:disabled):focus + .checkbox-switch:before {
    @apply animate-checkbox-active-on;
}
.checkbox input[type="checkbox"]:not(:disabled):checked:active + .checkbox-switch:before,
.checkbox input[type="checkbox"]:not(:disabled):checked:focus + .checkbox-switch:before {
    @apply animate-checkbox-active-off;
}

/* Disabled */
.checkbox input[type=checkbox]:disabled + .checkbox-switch {
    @apply border-separator;
    filter: grayscale(60%);
}
.checkbox input[type=checkbox]:disabled + .checkbox-switch:before {
    @apply bg-01;
}
