@page "/voice"
@inherits ComputedStateComponent<int>
@using System.Threading.Channels
@using ActualChat.Streaming
@implements IAudioRecorderBackend
@inject IJSRuntime _js
@inject JSModule _jsModule;
@inject Session _session
@inject UICommandRunner _cmd
@inject IAudioRecorder _audioRecorder
@inject IAudioStreamProvider _audioStreamProvider
@inject ITranscriptStreamProvider _transcriptStreamProvider
@inject ILogger<AudioPage> _log

<h1>Voice Transcription</h1>

<AuthorizeView>
    <NotAuthorized>
        <SignInDropdown Why="to use this page"/>
    </NotAuthorized>
    <Authorized>
        <Row>
            <Column ColumnSize="ColumnSize.Is6.OnDesktop.Is12.OnTablet">
                <Paragraph>
                </Paragraph>

                <Form @onsubmit="StartRecording" Margin="Margin.Is3.OnY">
                    <Addons>
                        <Addon AddonType="AddonType.Start">
                            <Button Type="@ButtonType.Button" Clicked="ToggleRecording" Color="@ToggleColor">
                                <Blazorise.Icon Name="@FontAwesomeIcons.Microphone"/>
                                @ToggleText
                            </Button>
                        </Addon>
                    </Addons>
                </Form>
            </Column>
        </Row>
    </Authorized>
</AuthorizeView>

@code {
    private IJSObjectReference? ModuleRef { get; set; }
    private DotNetObjectReference<IAudioRecorderBackend>? ComponentRef { get; set; }
    private ChannelWriter<BlobPart>? Writer { get; set; }
    private int Index { get; set; }

    private bool IsRecording { get; set; } = false;
    private Color ToggleColor { get; set; } = Color.Secondary;
    private string ToggleText { get; set; } = "Start Recording";

    public override ValueTask DisposeAsync()
    {
        ComponentRef?.Dispose();
        return base.DisposeAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (ModuleRef != null || !firstRender)
            return;
        ModuleRef = await _jsModule.Import(typeof(AudioPage).Assembly, "js/audio-recorder.js");
        ComponentRef = DotNetObjectReference.Create<IAudioRecorderBackend>(this);
        await ModuleRef.InvokeVoidAsync("initialize", ComponentRef);
    }

    protected override Task<int> ComputeState(CancellationToken cancellationToken)
    {
        return Task.FromResult(1);
    }

    private async Task StartRecording()
    {
        await ModuleRef!.InvokeVoidAsync("startRecording");
    }

    private async Task StopRecording()
    {
        await ModuleRef!.InvokeVoidAsync("stopRecording");
    }

    private async Task ToggleRecording()
    {
        if (IsRecording)
        {
            await StopRecording();
            ToggleColor = Color.Secondary;
            ToggleText = "Start Recording";
        }
        else
        {
            await StartRecording();
            ToggleColor = Color.Primary;
            ToggleText = "Recording...";
        }
        IsRecording = !IsRecording;

        StateHasChanged();
    }

    [JSInvokable]
    public Task OnStartRecording()
    {
        if (Writer == null) {
            var channel = Channel.CreateBounded<BlobPart>(
                new BoundedChannelOptions(100) {
                    FullMode = BoundedChannelFullMode.Wait,
                    SingleReader = true,
                    SingleWriter = true,
                    AllowSynchronousContinuations = true
                });
            Writer = channel.Writer;

            var record = new AudioRecord(
                "1",
                new AudioFormat { Codec = AudioCodec.Opus, ChannelCount = 1, SampleRate = 48_000 },
                "RU-ru",
                CpuClock.Now.EpochOffset.TotalSeconds);
            _ = _audioRecorder.Record(_session, record, channel.Reader, CancellationToken.None);
        }

        return Task.CompletedTask;
    }

    private async Task ReadAudio(AudioRecordId audioRecordId)
    {
        var streamId = new StreamId(audioRecordId, 0);
        var reader = await _audioStreamProvider.GetStream(streamId, CancellationToken.None);
        await foreach (var audioMessage in reader.ReadAllAsync()) {
            Console.WriteLine($"Got from server: {audioMessage.Data.Length} bytes");
        }
    }

    private async Task ReadTranscription(AudioRecordId audioRecordId)
    {
        var streamId = new StreamId(audioRecordId, 0);
        var reader = await _transcriptStreamProvider.GetStream(streamId, CancellationToken.None);
        await foreach (var transcriptMessage in reader.ReadAllAsync()) {
            Console.WriteLine($"Got from server: {transcriptMessage.Text}");
        }
    }

    [JSInvokable]
    public async Task OnAudioData(byte[] chunk)
    {
        if (Writer != null) {
            await Writer.WriteAsync(new BlobPart(Index++, chunk));
        }
    }

    [JSInvokable]
    public Task OnStopRecording()
    {
        // _ = _cmd.Run(new CompleteAudioRecording(RecordingId));

        Writer?.Complete();
        Writer = null;
        return Task.CompletedTask;
    }
}
