@namespace ActualChat.Chat.UI.Blazor.Components
@{
    var fileSize = Attachment.Media.Length / (1024 * 1024d);
    var url = UrlMapper.ContentUrl(Attachment.Media.ContentId);
}

<a class="file-attachment unfocusable" href="@url" target="_blank" role="button">
    <div class="c-icon">
        <i class="icon-download text-xl"></i>
    </div>
    <div class="c-info">
        <div class="c-title">
            <span>@Attachment.Media.FileName</span>
        </div>
        <div class="c-size">
            <span>@fileSize.ToString("N2") MB</span>
        </div>
    </div>
</a>

@code {
    [Inject] private UrlMapper UrlMapper { get; init; } = null!;

    [Parameter, EditorRequired]
    public TextEntryAttachment Attachment { get; set; } = null!;
}
