@namespace ActualChat.Chat.UI.Blazor.Components
@{
    var fileSize = Attachment.Media.Length / (1024 * 1024d);
    var url = UrlMapper.ContentUrl(Attachment.Media.ContentId);
}

<div class="file-attachment">
    <a class="c-icon" href="@url" target="_blank" role="button">
        <i class="icon-download text-xl"></i>
    </a>
    <div class="c-info">
        <div class="c-title">
            <a href="@url" target="_blank" role="button">@Attachment.Media.FileName</a>
        </div>
        <div class="c-size">
            <span>@fileSize.ToString("N2") MB</span>
        </div>
    </div>
</div>

@code {
    [Inject] private UrlMapper UrlMapper { get; init; } = null!;

    [Parameter, EditorRequired]
    public TextEntryAttachment Attachment { get; set; } = null!;
}
