@using System.Numerics
@namespace ActualChat.Chat.UI.Blazor.Components
@{
    var attachment = Attachment;
    var url = UrlMapper.ContentUrl(Attachment.ContentId);
    var previewUrl = UrlMapper.ImagePreviewUrl(url, MaxWidth * ActualResolutionMultiplier, MaxHeight * ActualResolutionMultiplier);
    var imgStyle = $"max-width: {MaxWidth}px; max-height: {MaxHeight}px";
    if (attachment.Height > 0 && attachment.Width > 0) {
        var (width, height) = (attachment.Width, attachment.Height)
            .ToVector2()
            .ScaleToFitInto(MaxSize)
            .ToIntPair();
        imgStyle = $"max-width: {width}px; max-height: {height}px; width:100%; display:block; aspect-ratio: {width} / {height};";
    }
}

<div class="image-attachment">
    <a class="cursor-pointer"
       href="@url"
       role="button"
       @onclick="@(_ => ImageViewerUI.Show(url, null, previewUrl, attachment.Width, attachment.Height, ChatEntry))"
       @onclick:preventDefault="true">
        <img class="inline skeleton" style="@imgStyle" src="@previewUrl" alt="image" onload="this.classList.remove('skeleton')" />
    </a>
</div>

@code {
    private const int MaxWidth = 400; // In pixels
    private const int MaxHeight = 300; // In pixels
    private static readonly Vector2 MaxSize = new(MaxWidth, MaxHeight);
    private const int ActualResolutionMultiplier = 2;

    [Inject] private ImageViewerUI ImageViewerUI { get; init; } = null!;
    [Inject] private UrlMapper UrlMapper { get; init; } = null!;
    [Inject] private NavigationManager Nav { get; init; } = null!;

    [Parameter, EditorRequired]
    public TextEntryAttachment Attachment { get; set; } = null!;
    [Parameter] public ChatEntry? ChatEntry { get; set; }
}
