@using System.Numerics
@namespace ActualChat.Chat.UI.Blazor.Components
@{
    var attachment = Attachment;
    var url = UrlMapper.ContentUrl(Attachment.Media.ContentId);
    string? previewUrl = null;
    if (attachment.IsGif()) {
        previewUrl = url; // currently image proxy fails on large gifs
    } else if(attachment.IsImage()) {
        previewUrl = UrlMapper.ImagePreviewUrl(url, Constants.Attachments.MaxImageWidth * ActualResolutionMultiplier, Constants.Attachments.MaxImageHeight * ActualResolutionMultiplier);
    }
}

<div class="image-attachment @Class">
    <a class="cursor-pointer"
       href="@url"
       role="button"
       @onclick="@(_ => VisualMediaViewerUI.Show(url, previewUrl, null, ChatEntry))"
       @onclick:preventDefault="true">
        @if (attachment.IsVideo()) {
            <video preload="metadata" muted playsinline>
                <source src="@url#t=,5" />
            </video>
        } else {
            <image-skeleton
                class="loading"
                src="@previewUrl"
            />
        }
    </a>
</div>

@code {
    private const int ActualResolutionMultiplier = 2;
    private static readonly Vector2 MaxSize = new(Constants.Attachments.MaxImageWidth, Constants.Attachments.MaxImageHeight);

    [Inject] private VisualMediaViewerUI VisualMediaViewerUI { get; init; } = null!;
    [Inject] private UrlMapper UrlMapper { get; init; } = null!;
    [Inject] private NavigationManager Nav { get; init; } = null!;

    [CascadingParameter] public ScreenSize ScreenSize { get; set; }

    [Parameter, EditorRequired]
    public TextEntryAttachment Attachment { get; set; } = null!;
    [Parameter] public ChatEntry? ChatEntry { get; set; }
    [Parameter] public string Class { get; set; } = "";
}
