@namespace ActualChat.Chat.UI.Blazor.Components

<div class="image-line @Class @GetRowHeightCls()">
    @foreach (var tile in Row.Tiles) {
        <div class="image-item" style="width: @Row.GetTileWidthPercent(tile)%">
            <VisualMediaAttachment Attachment="@tile.Attachment" ChatEntry="@ChatEntry" />
        </div>
    }
</div>

@code {
    [Parameter, EditorRequired] public ImageRow Row { get; set; } = null!;
    [Parameter] public ChatEntry? ChatEntry { get; set; }
    [Parameter] public string Class { get; set; } = "";

    private string GetRowHeightCls() {
        return Row.Narrowest.Proportions switch {
            ImageProportions.Narrow => RowHeight(64, 120),
            ImageProportions.Square => RowHeight(48, 80),
            ImageProportions.Wide => RowHeight(36, 60),
            _ => RowHeight(24, 40),
            };

        string RowHeight(int size, int mdSize)
            => $"h-{size} min-h-{size} max-h-{size} md:h-{mdSize} md:min-h-{mdSize} md:max-h-{mdSize}";
    }
}
