@namespace ActualChat.Chat.UI.Blazor.Components

<div class="image-line @Class @GetRowHeightCls()">
    @foreach (var tile in Row.Tiles) {
        <div class="image-item" style="width: @Row.GetTileWidthPercent(tile)%">
            <VisualMediaAttachment Attachment="@tile.Attachment" ChatEntry="@ChatEntry" />
        </div>
    }
</div>

@code {
    [Parameter, EditorRequired] public ImageRow Row { get; set; } = null!;
    [Parameter] public ChatEntry? ChatEntry { get; set; }
    [Parameter] public string Class { get; set; } = "";

    private string GetRowHeightCls() {
        return Row.Narrowest.Proportions switch {
            ImageProportions.Narrow =>  "h-64 md:h-120",
            ImageProportions.Square => "h-48 md:-h80",
            ImageProportions.Wide => "h-36 md:-h60",
            _ => "h-24 md:-h40",
            };
    }
}
