@using Stl.Extensibility
@implements IModalView<ImagePreviewModal.Model>
@namespace ActualChat.UI.Blazor.Components
@attribute [MatchFor(typeof(Model), typeof(IModalView))]

<DialogFrame HasCloseButton="true" Class="image-preview-modal">
    <Body>
        <img src="@ModalModel.Url" alt="@(ModalModel.AltText.NullIfEmpty() ?? "image")"/>
    </Body>
    <Buttons>
        <a class="show-original-button" href="@ModalModel.Url" target="_blank">Show original</a>
    </Buttons>
</DialogFrame>

@code {
    [Parameter] public Model ModalModel { get; set; } = null!;

    public sealed record Model(string Url, string? AltText);
}
