@namespace ActualChat.Chat.UI.Blazor.Components
@using ActualChat.UI.Blazor.Services
@using ActualChat.UI.Blazor.Module
@using ActualChat.UI.Blazor.Components.SideNav
@inherits ComputedStateComponent<bool>

@{
    var isOpen = State.ValueOrDefault;
    var cls = isOpen ? "thin-open" : "thin-closed";
}

<SideNav Direction="SideNavDirection.LeftToRight"
         Opened="() => NavbarUI.IsVisible = true"
         Closed="() => NavbarUI.IsVisible = false"
         IsOpen="@NavbarUI.IsVisible">
    <div class="@cls flex-x h-full w-full bg-04">
        <ThinLeftPanel/>
        <WideLeftPanel/>
    </div>
</SideNav>

@code {
    [Inject] private NavbarUI NavbarUI { get; init; } = null!;

    protected override ComputedState<bool>.Options GetStateOptions()
        => new() { UpdateDelayer = FixedDelayer.Instant };

    protected override async Task<bool> ComputeState(CancellationToken cancellationToken)
        => await NavbarUI.IsThinPanelOpen.Use(cancellationToken).ConfigureAwait(false);
}
