fund=false
audit=false
audit-level=critical
update-notifier=false
yes=true
# just in case a private registry is configured in ~/.npmrc
registry = https://registry.npmjs.org/
//npm.pkg.github.com/:_authToken=${NPM_READ_TOKEN}
@actual-chat:registry=https://npm.pkg.github.com
@actual-chat:always-auth=true