fund=false
audit=false
audit-level=critical
update-notifier=false
yes=true
# just in case a private registry is configured in ~/.npmrc
registry = https://registry.npmjs.org/
//npm.pkg.github.com/:_authToken=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
@actual-chat:registry=https://npm.pkg.github.com