# git will be uncommented on CI, locally we need this for nbgv
#**/.git
docker-compose*.yml
*.md
hosts
LICENSE
*.testsettings
vsts-docs
test
readme
k8s
img
docs
deploy
**/bin/
**/obj/
**/node_modules/
**/bower_components/
**/wwwroot/lib/*
**/wwwroot/dist/*
**/appsettings.Development.json
**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/charts
**/Dockerfile*
**/npm-debug.log
**/.gitignore
**/*.log
artifacts/**
**/vsdbg/
