*settings.local.json
src/dotnet/App.Wasm/wwwroot/dist/
src/dotnet/App.Maui/wwwroot/dist/
build/Build.sln
ActualChat.CI.slnf
Nerdbank.GitVersioning.*
*.snk

# IDE folders & files
.vs/
.vscode/
.idea/
.history
.DS_Store
.env
.devcontainer
_ReSharper*/
*.[Rr]e[Ss]harper
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# Build artifacts
[Aa]rtifacts/
[Bb]in/
[oO]bj/
[tT]mp/
BenchmarkDotNet.Artifacts/
StyleCopReport.xml
*.dotCover
*.coverage
*.coveragexml

# Package folders
[Pp]ackages/
node_modules/

# Log files & folders
*.log
*.binlog

# Visual Studio Profiler & Trace files
*.psess
*.vsp
*.vspx
*.sap
*.e2e

# Config files
*.config.json
*.config.js

# Test results
*.trx

# MAUI replaced index.html
index.html
sw.js

# VIM swap files
*.swp
