version: '3.7'
services:
  tests:
    build:
      context: .
      target: base
      args:
        GITHUB_TOKEN: ${GITHUB_TOKEN}
    volumes:
      - ${GOOGLE_APPLICATION_CREDENTIALS:-PLEASE_SET_GOOGLE_APPLICATION_CREDENTIALS_ENV_VAR}:/etc/.gcp/key.json
      - ./artifacts:/artifacts
    environment:
      HostSettings__WebRootPath: /src/src/dotnet/App.Wasm/wwwroot/
      GOOGLE_APPLICATION_CREDENTIALS: /etc/.gcp/key.json
      NPM_READ_TOKEN: ${NPM_READ_TOKEN}
      GITHUB_ACTIONS: ${GITHUB_ACTIONS}
      USERSSETTINGS__GOOGLECLIENTID: ${USERSSETTINGS__GOOGLECLIENTID}
      USERSSETTINGS__GOOGLECLIENTSECRET: ${USERSSETTINGS__GOOGLECLIENTSECRET}
      USERSSETTINGS__MICROSOFTACCOUNTCLIENTID: ${USERSSETTINGS__MICROSOFTACCOUNTCLIENTID}
      USERSSETTINGS__MICROSOFTACCOUNTCLIENTSECRET: ${USERSSETTINGS__MICROSOFTACCOUNTCLIENTSECRET}
      TESTS__USERS__USER1__EMAIL: ${TESTS__USERS__USER1__EMAIL}
      TESTS__USERS__USER1__PASSWORD: ${TESTS__USERS__USER1__PASSWORD}
#      TODO: find out why value from testsettings.docker.json is not picked up and remove this override
      RedisSettings__DefaultRedis: redis|test_{instance.}{context}
    command: >-
      /bin/sh -c "
      dotnet build --nologo --no-restore --configuration Release &&
      dotnet run --project build --configuration Release --no-build --no-launch-profile -- --skip-dependencies --configuration Release integration-tests &&
      cp -R /src/tests/. /artifacts
      "
    depends_on:
      - redis
      - postgres
