#components-reconnect-modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.333);
    display: none;
}

#components-reconnect-modal.components-reconnect-show,
#components-reconnect-modal.components-reconnect-failed,
#components-reconnect-modal.components-reconnect-rejected {
    display: block;
}

#components-reconnect-modal .loading {
    width: 360px;
    height: 110px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#components-reconnect-modal .loading .loading-caption {
    color: rgb(8, 8, 10);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

#components-reconnect-modal .loading .loading-progress-ring {
    border: solid 10px;
    border-color: rgb(13, 13, 14) rgb(138, 138, 138) rgb(138, 138, 138);
    border-radius: 50px;
    position: absolute;
    width: 50px;
    height: 50px;
    top: unset;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    animation: rotation 1.5s linear 0s infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(405deg);
    }
}
