
:root, .theme-light {
    /* Main colors */
    --background-01: #FFFFFF;
    --background-02: #FAFAFA;
    --background-03: #F5F5F5;
    --background-04: #E7E7E7;
    --background-05: #ADADAD;
    --background-06: #505050;
    --background-07: #444444;
    --background-08: #FF3880;

    --text-01: #000000;
    --text-02: #444444;
    --text-03: #626262;
    --text-04: #FFFFFF;
    --text-05: #B9B9B9;
    --text-06: #1050D0;

    --icons-01: #898989;
    --icons-02: #B9B9B9;
    --icons-03: #757D8A;
    --icons-04: #FF3880;

    --counter: #D0D0D0;
    --counter-navgroup: #FF3880;

    /* Buttons */
    --disabled: #E7E7E7;

    --primary: #2970FF;
    --accent: #007AFF;
    --reaction-own: rgba(41, 112, 255, 0.6);
    --primary-hover: #2569F1;
    --primary-title: #FFFFFF;

    --secondary: #F5F5F5;
    --secondary-hover: #C5D8FF;
    --secondary-title: #007AFF;

    --cancel: #E7E7E7;
    --cancel-hover: #E7E7E7;
    --cancel-title: #444444;

    --outline: #FFFFFF;
    --outline-hover: #E1EFFA;
    --outline-title: #007AFF;

    --error: #FF7070;
    --error-hover: #FFE4E4;
    --error-title: #edf0f3;
    --error-ring: #f47a7a;
    --error-outline-hover: #fef4f4;
    --error-outline-title: #ef4444;

    --square: #e2e7ec;
    --square-active: #e2e7ec;
    --square-hover: #E1E9FA;
    --square-focus: #cad3dc;
    --square-title: #4b5e71;

    --round: #F5F5F5;
    --round-active: #E1EFFA;
    --round-hover: #E1EFFA;
    --round-focus: #E1EFFA;
    --round-title: #4b5e71;

    --recorder: #e2e7ec;
    --recorder-hover: #edf0f3;
    --recorder-title: #4b5e71;
    --background-recording-countdown: #fff3cf;

    --shadow-main: #B9B9B9;

    /* Utils colors */
    --selected: #C5D8FF;
    --hover: #F2F6FF;
    --online: #0AA489;
    --success: #2FCB80;
    --background-banner-success: #E7FFED;
    --text-banner-success: #2FCB5B;
    --background-banner-info: #007AFF1A;
    --text-banner-info: #007AFF;
    --background-banner-warning: #FFC1231A;
    --text-banner-warning: #FFC123;
    --background-banner-error: #FF38801A;
    --text-banner-error: #FF3880;
    --new-separator: #FF388014;
    --away: #FFCC31;
    --unread: #93c5fd;
    --separator: #2b3641;
    --placeholder: #788ea5;
    --white: #ffffff;
    --rating: #fde047;
    --code: #D83E52;
    --avatar: #5a7188;
    --recorder-on: #FF7070;
    --toggle-on: #0ea5e9;
    --toggle-hover: #38bdf8;
    --message-hover: #F8FBFE;
    --mention-other: #DDE8FF;
    --mention-other-text: #2970FF;
    --mention-own: #98E5AE;
    --mention-own-border: #2FCB5B;
    --mention-own-text: #00611B;
    --mention-invalid: #DDE8FF;
    --mention-invalid-text: #D83E52;
    --mention-list-item-selected: #EDF2FA;
    --mention-message: #fff7ed;
    --mention-message-hover: #fff7e5;
    --replied-message: #dbeafe;
    --replied-message-hover: #bfdbfe;
    --replied-message-border: #3b82f6;
    --audio-message: #0ea5e9;
    --context-menu: #F9FAFB;
    --context-border: #e2e7ec;
    --selection: #cbd5e1;
    --dot: #e2e7ec;
    --dot-selected: #4b5e71;
    --skeleton: #edf0f3;
    --skeleton-border: #F9FAFB;
    --scrollbar: #B9B9B9;
    --quote: #d6dde4;
    --place: #A98AFF;
    --badge: #007AFF;
    --bubble: #515BE9;
    --menuitem-hover: #2970FF0F;
    --menuitem-hover-warning: #FF008A1A;
    --bubble-btn-hover: #626BEB;
    --gradient-stop-01: #FFFFFF;
    --gradient-stop-02: #EEEEEE;

    --error-toast-body: #FFBFBF;
    --error-toast-text: #fafafa;
    --info-toast-body: #444444E0;
    --info-toast-text: #FFFFFF;
    --info-toast-action: #6BCAFF;

    --glow-max: rgb(255, 255, 255);
    --glow-mid: rgb(181, 240, 255);
    --glow-min: rgb(0, 204, 255);
    --playing-glow-max: rgb(181, 240, 255);
    --playing-glow-mid: rgb(0, 204, 255);
    --playing-glow-min: rgb(0, 139, 173);
}

.theme-dark {
    /* Main colors */
    --background-01: #36393F;
    --background-02: #2F3136;
    --background-03: #292B2F;
    --background-04: #292B2F;
    --text-01: #fafafa;
    --text-02: #e5e6e8;
    --text-03: #d0d2d6;
    --text-04: #d0d2d6;

    /* Buttons */
    --cancel: #64748b;
    --cancel-hover: #546174;
    --cancel-title: #edf0f3;
    --cancel-ring: #9aa6b7;
    --cancel-outline-hover: #2F3136;
    --cancel-outline-title: #d7d8dc;

    --error: #ef4444;
    --error-hover: #ec2020;
    --error-title: #edf0f3;
    --error-ring: #f47a7a;
    --error-outline-hover: #2F3136;
    --error-outline-title: #ef4444;

    --square: #292b2f;
    --square-active: #202125;
    --square-hover: #202125;
    --square-focus: #17181a;
    --square-title: #edf0f3;

    --shadow-main: #64748b;

    /* Utils colors */
    --online: #31d872;
    --unread: #93c5fd;
    --separator: #2b3641;
    --placeholder: #788ea5;
    --white: #ffffff;
    --rating: #fde047;
    --code: #D83E52;
    --avatar: #5a7188;
    --recorder-on: #ef4444;
    --toggle-on: #52baf6;
    --toggle-hover: #65c1f7;
    --message-hover: #484c54;
    --mention: #672d0d;
    --mention-hover: #893d11;
    --mention-message: #4e4039;
    --mention-message-hover: #594941;
    --audio-message: #d2effc;
    --context-menu: #17181a;
    --context-border: #17181a;
    --selection: #484c54;
    --dot: #292B2F;
    --dot-selected: #fafafa;
    --skeleton: #292B2F;
    --skeleton-border: #2F3136;

    --error-toast-body: #fd5757;
    --error-toast-text: #fafafa;

    --glow-max: rgb(255, 255, 255);
    --glow-mid: rgb(181, 240, 255);
    --glow-min: rgb(0, 204, 255);
    --playing-glow-max: rgb(181, 240, 255);
    --playing-glow-mid: rgb(0, 204, 255);
    --playing-glow-min: rgb(0, 139, 173);
}
