@keyframes rotate-4 {
    0% { transform: rotate(0deg); }
    20% { transform: rotate(90deg); }
    25% { transform: rotate(90deg); }
    45% { transform: rotate(180deg); }
    50% { transform: rotate(180deg); }
    70% { transform: rotate(270deg); }
    75% { transform: rotate(270deg); }
    95% { transform: rotate(360deg); }
    100% { transform: rotate(360deg); }
}
