/* Default styling */

html {
    height: 100%;
    @apply text-base;
}

body {
    height: 100%;
}

*:focus {
    @apply outline-none;
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a {
    @apply bg-inherit text-02;
}
a:focus {
    @apply outline-none underline underline-offset-1 decoration-primary;
}
a.unfocusable:focus {
    @apply outline-none no-underline;
}

input,
textarea {
    @apply bg-01 text-02 border-bg-03;
}
input {
    @apply h-12 md:h-8;
}

input:focus {
    @apply bg-03;
    @apply rounded-sm border-0 outline-none;
    @apply ring-1 ring-secondary;
}
input:focus[type="text"]::selection {
    @apply bg-selection text-02;
}

code {
    @apply px-0.5;
    @apply rounded-sm border border-bg-03;
    /* @apply rounded-sm border-0 ring ring-1 ring-accent; */
    @apply bg-01;
    @apply font-mono;
}

h1, h2, h3, h4, h5, h6 {
    @apply font-semibold leading-loose;
}
h1 {
    @apply text-2xl;
}
h2 {
    @apply text-xl;
}
h3 {
    @apply text-lg;
}


/* Sections */

h1.section, h2.section, h3.section, h4.section {
    @apply mt-4 pt-1;
    @apply border-0 border-t-2 border-bg-03;
    @apply text-03 subpixel-antialiased;
}

h1.section-top, h2.section-top, h3.section-top, h4.section-top,
h1.section:nth-child(1), h2.section:nth-child(1), h3.section:nth-child(1), h4.section:nth-child(1) {
    @apply mt-0;
    @apply border-0;
}

/* Other inputs */

input.input-imprinted {
    @apply border-0 bg-04;
}

input.input-underlined {
    @apply bg-transparent border-b border-placeholder;
}

.error-toast {
    @apply flex flex-col w-full justify-center my-1 shadow-md rounded-md text-error-toast-text z-50;
}

.error-toast .toast-header {
    @apply flex flex-row items-center w-full p-2 bg-error-toast-header rounded-t-md;
}

.error-toast .header-icon {
    @apply flex justify-center items-center mb-0.5;
}

.error-toast .header-title {
    @apply flex flex-1 float-left w-full text-lg font-medium px-2;
}

.error-toast .toast-content {
    @apply flex p-2 rounded-b-md bg-error-toast-body;
}

/* BlazorContextMenu overridden classes */

.context-menu {
    @apply rounded-xl p-1;
}
.context-menu-list {
    @apply p-0;
}
.context-menu-item {
    @apply !flex rounded-lg h-12 whitespace-nowrap;
}
.context-menu-item:hover {
    @apply bg-round-hover;
}
.context-menu-item:hover .context-menu-icon {
    @apply text-primary;
}
.context-menu-content {
    @apply flex-x gap-x-2 items-center;
}
.context-menu-text {
    @apply w-full text-02 text-md font-medium ml-2 mr-6;
}
.context-menu-icon {
    @apply text-icons-01;
}
.context-menu-separator {
    @apply h-0 mx-2 my-1 border-b border-bg-04 bg-transparent;
}
.context-menu-separator > * {
    @apply bg-transparent border-0 m-0 p-0;
}
/* Important ContextMenuItem */
.context-menu-item.important-item .context-menu-icon,
.context-menu-item.important-item.off .context-menu-icon,
.context-menu-item.important-item .context-menu-text,
.context-menu-item.important-item.off .context-menu-text {
    @apply text-primary;
}
.context-menu-item.important-item.on .context-menu-icon,
.context-menu-item.important-item.on .context-menu-text {
    @apply text-error;
}
.context-menu-item.important-item.on:hover {
    @apply bg-error-hover;
}
/* Warning Menu Item */
.context-menu-item.warning-item:hover {
    @apply bg-error-hover;
}
.context-menu-item.warning-item:hover .context-menu-icon,
.context-menu-item.warning-item:hover .context-menu-text {
    @apply text-error;
}

.base-page-body {
    @apply flex-1 overflow-y-auto flex-y relative float-left;
}
