/* Body */

html {
    overscroll-behavior-x: none; /* Disables navigate back/forward w/ swipe, doesn't work on Safari */
}
body {
    @apply select-none;
    -webkit-touch-callout: none;
    overscroll-behavior-x: none; /* Disables navigate back/forward w/ swipe, doesn't work on Safari */
}

/* prevent pull-to-refresh for Safari 16+ */
@media screen and (pointer: coarse) {
    @supports (-webkit-backdrop-filter: blur(1px)) and (overscroll-behavior-y: none)  {
        html {
            overscroll-behavior-y: none;
        }
    }
    /* prevent pull-to-refresh for Safari 9~15 */
    @supports (-webkit-backdrop-filter: blur(1px)) and (not (overscroll-behavior-y: none))  {
        html {
            overflow: hidden;
        }
    }
}

/* Styled inputs */

input.input-imprinted {
    @apply border-0 bg-04;
}

/* Sections */

h1.section, h2.section, h3.section, h4.section {
    @apply mt-4 pt-1;
    @apply border-0 border-t-2 border-bg-03;
    @apply text-03 subpixel-antialiased;
}

h1.section-top, h2.section-top, h3.section-top, h4.section-top,
h1.section:nth-child(1), h2.section:nth-child(1), h3.section:nth-child(1), h4.section:nth-child(1) {
    @apply mt-0;
    @apply border-0;
}

/* Stack */

.stack {
    @apply inline-grid;
}
.stack > * {
    @apply col-start-1 row-start-1;
}
.stack > * {
    transform: translateY(1rem) scale(0.9);
    z-index: 1;
}
.stack > *:nth-child(2) {
    transform: translateY(0.5rem) scale(0.95);
    z-index: 2;
}
.stack > *:nth-child(1) {
    transform: translateY(0) scale(1);
    z-index: 3;
}

/* Error toast */

input.input-underlined {
    @apply border-b border-placeholder;
    @apply bg-transparent;
}

.error-toast {
    @apply flex-x z-50 items-start gap-x-4 overflow-hidden;
    @apply md:w-110;
    @apply p-2 pl-4;
    @apply drop-shadow-md shadow-shadow-main rounded-3.5xl;
    @apply text-02;
    @apply bg-error-toast-body;
}
.error-toast * {
    @apply bg-error-toast-body;
}
.error-toast i {
    @apply text-error;
}
.error-toast .header-title {
    @apply flex;
    @apply text-headline-1;
}
.error-toast .toast-content {
    @apply flex;
    @apply text-base font-normal;
    @apply break-all;
}
.error-toast .btn.btn-x {
    @apply flex-none;
    @apply self-start;
    @apply my-1;
}

/* Layouts */

.base-layout-body {
    @apply relative;
    @apply flex-1 flex-y flex-nowrap;
    @apply overflow-y-auto;
    @apply float-left;
}

.list-view-layout .layout-body {
    @apply flex-y flex-nowrap justify-between;
    @apply h-full w-full;
    @apply p-0 -mb-22 md:mb-0;
    @apply overflow-y-auto;
}

.list-view-layout .layout-footer {
    @apply min-h-footer;
    @apply shadow-none;
}

.default-layout .layout-body {
    @apply flex flex-col flex-nowrap justify-start gap-y-4;
    @apply h-full w-full;
    @apply p-4;
    @apply overflow-y-auto;
    @apply float-left;
}

/* Error container */

.error-container {
    @apply fixed z-error-container;
    @apply inset-x-0 md:inset-x-auto md:right-0;
    @apply h-auto;
    @apply overflow-y-auto;
}

/* Auto-closing windows */

.fusion-close {
    @apply flex-y justify-center;
    @apply h-screen;
    @apply bg-[#0036A3];
}
.fusion-close > .c-content {
    @apply flex-1 flex-y items-center justify-center gap-y-4;
}
.fusion-close > .c-content > .c-title {
    @apply flex-y items-center;
    @apply text-3.5xl leading-9 text-04 font-normal;
}
.fusion-close > .c-content > .c-footer {
    @apply flex-y items-center;
    @apply text-lg text-04;
}
