/* Body */

html {
    overscroll-behavior-x: none; /* Disables navigate back/forward w/ swipe, doesn't work on Safari */
}
body {
    @apply select-none;
    -webkit-touch-callout: none;
    overscroll-behavior-x: none; /* Disables navigate back/forward w/ swipe, doesn't work on Safari */
}

/* Styled inputs */

input.input-imprinted {
    @apply border-0 bg-04;
}

/* Sections */

h1.section, h2.section, h3.section, h4.section {
    @apply mt-4 pt-1;
    @apply border-0 border-t-2 border-bg-03;
    @apply text-03 subpixel-antialiased;
}

h1.section-top, h2.section-top, h3.section-top, h4.section-top,
h1.section:nth-child(1), h2.section:nth-child(1), h3.section:nth-child(1), h4.section:nth-child(1) {
    @apply mt-0;
    @apply border-0;
}

/* Stack */

.stack {
    @apply inline-grid;
}
.stack > * {
    @apply col-start-1 row-start-1;
}
.stack > * {
    transform: translateY(1rem) scale(0.9);
    z-index: 1;
}
.stack > *:nth-child(2) {
    transform: translateY(0.5rem) scale(0.95);
    z-index: 2;
}
.stack > *:nth-child(1) {
    transform: translateY(0) scale(1);
    z-index: 3;
}

/* Error toast */

input.input-underlined {
    @apply bg-transparent border-b border-placeholder;
}

.error-toast {
    @apply flex flex-col w-full justify-center shadow-md rounded-md text-error-toast-text z-50;
}

.error-toast .toast-header {
    @apply flex-x items-center w-full px-2 bg-error-toast-header rounded-t-md;
}

.error-toast .header-icon {
    @apply flex justify-center items-center mb-0.5;
}

.error-toast .header-title {
    @apply flex flex-1 float-left w-full text-lg font-medium px-2;
}

.error-toast .toast-content {
    @apply flex p-2 rounded-b-md bg-error-toast-body;
}

/* Layouts */

.base-layout-body {
    @apply relative;
    @apply flex-1 flex flex-col flex-nowrap;
    @apply overflow-y-auto;
    @apply float-left;
}

.list-view-layout .layout-body {
    @apply h-full w-full flex flex-col flex-nowrap justify-between;
    @apply p-0 -mb-22 md:mb-0;
    @apply overflow-y-auto;
}

.list-view-layout .layout-footer {
    @apply min-h-footer;
    @apply shadow-none;
}

.default-layout .layout-body {
    @apply h-full w-full flex flex-col flex-nowrap justify-start gap-y-4;
    @apply p-4;
    @apply overflow-y-auto;
    @apply float-left;
}

/* Welcome page */

.welcome-page {
    @apply fixed flex-y md:flex-x h-full w-full p-8;
    background-image: linear-gradient(to right bottom, #96d6f9, #8bdef6, #88e6ee, #8febe2, #9ff0d4, #97ecd2, #8fe9d0, #87e5ce, #65d7da, #54c7e3, #5eb5e4, #76a1db);
}
@media not (min-width: 1024px) {
    .welcome-page {
        @apply fixed flex-y md:flex-x h-full w-full p-1;
        background-image: linear-gradient(to right bottom, #bff0f5, #c8f1f9, #d1f2fc, #daf4fe, #e3f5ff, #dceffc, #d6eafa, #d1e4f7, #bcd6f1, #a7c8ea, #93bae4, #7eacde);
    }
}
.welcome-menu {
    @apply flex-y md:w-96 h-fit gap-y-4 float-right mt-16;
    @apply bg-transparent md:bg-01 rounded-2xl px-4 py-12;
}
.welcome-btn.btn {
    @apply bg-01 border-transparent md:border-primary text-01 h-12 max-w-full justify-start;
}
.welcome-btn.btn .btn-content {
    @apply flex-x gap-x-4 items-center text-primary;
}

/* Error container */

.error-container {
    @apply fixed z-error-container;
    @apply w-auto md:w-1/3;
    @apply inset-x-0 md:inset-x-auto md:right-0;
    @apply p-4;
    @apply h-auto overflow-y-auto;
}
