@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* Base classes, don't use @apply here! */

    .whitespace-break-spaces {
        white-space: break-spaces;
    }
    .fill-available {
        min-width: -webkit-fill-available;
        min-width: -moz-available;
    }
    .no-highlight {
        -webkit-tap-highlight-color: transparent;
    }
}

@layer components {
    /* Flex shortcuts */

    .flex-x {
        @apply flex flex-row;
    }
    .-flex-x {
        @apply flex flex-row-reverse;
    }
    .flex-y {
        @apply flex flex-col;
    }
    .-flex-y {
        @apply flex flex-col-reverse;
    }

    /* Inline-flex shortcuts */

    .inline-flex-x {
        @apply inline-flex flex-row;
    }
    .-inline-flex-x {
        @apply inline-flex flex-row-reverse;
    }
    .inline-flex-y {
        @apply inline-flex flex-col;
    }
    .-inline-flex-y {
        @apply inline-flex flex-col-reverse;
    }

    /* Other */

    .disabled {
        @apply pointer-events-none opacity-70;
    }
}
