
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        font-family: 'TT Commons Pro', sans-serif;
    }

    html {
        height: 100%;
        @apply text-base;
        @apply antialiased sm:subpixel-antialiased md:antialiased;
        -webkit-tap-highlight-color: transparent; /* See https://css-tricks.com/custom-tailwind-css/ */
    }

    body {
        height: 100%;
    }

    *:focus {
        @apply outline-none;
    }

    input,
    textarea,
    button,
    select,
    a {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    a {
        @apply bg-inherit text-02;
    }
    a:focus {
        @apply outline-none underline underline-offset-1 decoration-primary;
    }
    a.unfocusable:focus {
        @apply outline-none no-underline;
    }

    input,
    textarea {
        @apply bg-01 text-02 border-primary;
    }
    input {
        @apply h-12 md:h-8;
    }

    input:focus {
        @apply bg-03;
        @apply rounded-sm border-0 outline-none;
    }
    input:focus[type="text"]::selection {
        @apply bg-selection text-02;
    }

    label {
        -webkit-tap-highlight-color: transparent;
    }

    code {
        @apply rounded-sm border border-bg-03;
        @apply px-0.5;
        @apply bg-01;
        @apply font-mono;
    }
     code * {
         @apply font-mono;
     }

    h1, h2, h3, h4, h5, h6 {
        @apply font-semibold leading-loose;
    }
    h1 {
        @apply text-2xl;
    }
    h2 {
        @apply text-xl;
    }
    h3 {
        @apply text-lg;
    }
}

@layer components {
    .whitespace-break-spaces {
        white-space: break-spaces;
    }
    .fill-available {
        min-width: -webkit-fill-available;
        min-width: -moz-available;
    }
    .no-highlight {
        -webkit-tap-highlight-color: transparent;
    }

    .content-empty {
        content: "";
    }

    /* Flex shortcuts */

    .flex-x {
        @apply flex flex-row;
    }
    .-flex-x {
        @apply flex flex-row-reverse;
    }
    .flex-y {
        @apply flex flex-col;
    }
    .-flex-y {
        @apply flex flex-col-reverse;
    }

    /* Inline-flex shortcuts */

    .inline-flex-x {
        @apply inline-flex flex-row;
    }
    .-inline-flex-x {
        @apply inline-flex flex-row-reverse;
    }
    .inline-flex-y {
        @apply inline-flex flex-col;
    }
    .-inline-flex-y {
        @apply inline-flex flex-col-reverse;
    }

    /* Other */

    .disabled {
        @apply pointer-events-none opacity-70;
    }

    .sub, .sup {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
    }
    .sup {
        top: -0.20em;
        vertical-align: super;
    }
    .sub {
        bottom: -0.20em;
        vertical-align: sub;
    }

    /* Custom scrollbars */

    /* Webkit */
    .custom-scrollbar::-webkit-scrollbar,
    .custom-scrollbar-x::-webkit-scrollbar {
        @apply w-1;
        @apply h-1;
    }
    body.narrow .custom-scrollbar::-webkit-scrollbar,
    body.narrow .custom-scrollbar-x::-webkit-scrollbar {
        @apply w-0.5;
        @apply h-0.5;
    }
    .custom-scrollbar-hide::-webkit-scrollbar {
        @apply w-0;
        @apply h-0;
    }

    .custom-scrollbar::-webkit-scrollbar-track,
    .custom-scrollbar-x::-webkit-scrollbar-track {
        @apply bg-transparent rounded-full;
    }
    .custom-scrollbar::-webkit-scrollbar-thumb,
    .custom-scrollbar-x::-webkit-scrollbar-thumb {
        @apply bg-scrollbar rounded-full;
        @apply border border-scrollbar;
        @apply shadow-inner shadow-scrollbar;
    }

    .custom-scrollbar-outside {
        @apply custom-scrollbar;
        @apply -mr-3 pr-1.5;
    }

    /* Mozilla */
    .custom-scrollbar, .custom-scrollbar-x {
        scrollbar-width: 2px;
        scrollbar-color: #e2e7ec #F9FAFB;
    }

    /* Ordinary header style */

    .ordinary-header {
        @apply flex-x items-center gap-x-4;
        @apply min-h-14 max-h-14;
        @apply px-4;
    }

    /* Hover styles */

    .hover-after {
        @apply absolute inset-0;
        @apply opacity-5;
        @apply content-empty;
    }
    .more-colored-hover {
        @apply hover-after;
        @apply bg-more-colored;
    }
    .less-colored-hover {
        @apply hover-after;
        @apply bg-less-colored;
    }
    .primary-colored-hover {
        @apply hover-after;
        @apply bg-primary-colored;
        @apply opacity-10;
    }
    .danger-colored-hover {
        @apply hover-after;
        @apply bg-danger-colored;
        @apply opacity-10;
    }

    .always-white {
        @apply text-[var(--white)];
    }
}

@layer utilities {
    :root {
        --safe-area-inset-top: env(safe-area-inset-top);
        --safe-area-inset-bottom: env(safe-area-inset-bottom);
    }
}
