.group:hover .hover-item {
    position: absolute;
    opacity: 0%;
}

.group .hover-item.alt {
    position: absolute;
    opacity: 0%;
}

.group:hover .hover-item.alt {
    position: static;
    opacity: 100%;
}

.tooltip {
    visibility: hidden;
    position: absolute;
}

.has-tooltip:hover .tooltip {
    visibility: visible;
    z-index: 100;
}