@namespace ActualChat.Chat.UI.Blazor.Components
@using BlazorContextMenu

<Item OnClick="OnLeaveChatClick" Class="warning-item">
    <div class="context-menu-content">
        <div class="context-menu-icon">
            <i class="icon-trash02 text-2xl"></i>
        </div>
        <div class="context-menu-text">
            Leave chat
        </div>
    </div>
</Item>


@code {
    [Inject] private ChatUI ChatUI { get; init; } = null!;
    [Inject] private ModalUI ModalUI { get; init; } = null!;

    [CascadingParameter] public Chat Chat { get; set; } = null!;

    private void OnLeaveChatClick() {
        _ = ModalUI.Show(new LeaveChatConfirmationModal.Model(Chat));
    }
}
