@namespace ActualChat.Chat.UI.Blazor.Components
@using BlazorContextMenu
@inherits ComputedStateComponent<Symbol>

@{
    var isRecording = RecordingChatId == Chat.Id;
    var cls = "context-menu-item important-item " + (isRecording ? "on" : "off");
}

@if (isRecording) {
    <Item OnClick="@(_ => RecordingChatId = Symbol.Empty)" CssClass="@cls">
        <div class="context-menu-content">
            <div class="context-menu-icon">
                <i class="icon-Stop-fill text-2xl"></i>
            </div>
            <div class="context-menu-text">
                Stop talking
            </div>
        </div>
    </Item>
} else {
    <Item OnClick="@(_ => RecordingChatId = Chat.Id)" CssClass="@cls">
        <div class="context-menu-content">
            <div class="context-menu-icon">
                <i class="icon-mic text-2xl"></i>
            </div>
            <div class="context-menu-text">
                Start talking
            </div>
        </div>
    </Item>
}

@code {
    [Inject] private ChatUI ChatUI { get; init; } = null!;

    [CascadingParameter] public Chat Chat { get; set; } = null!;

    private Symbol RecordingChatId {
        get => State.ValueOrDefault;
        set => _ = ChatUI.SetRecordingState(value);
    }

    protected override ComputedState<Symbol>.Options GetStateOptions()
        => new() { UpdateDelayer = UpdateDelayer.ZeroDelay };

    protected override async Task<Symbol> ComputeState(CancellationToken cancellationToken)
        => await ChatUI.RecordingChatId.Use(cancellationToken).ConfigureAwait(false);
}
