@namespace ActualChat.Chat.UI.Blazor.Components
@using ActualChat.Chat.UI.Blazor.Pages
@inherits ComputedStateComponent<EmptyChatContent.Model?>
@{
    var m = State.ValueOrDefault; // Intended: Error != null when chat is not found
    if (ReferenceEquals(m, null))
        return;
}

<div class="empty-chat-content">
    <empty-chat-svg />
    <div class="c-text">
        <span>No messages here yet.</span>
        @if (m.PeerAccount is { } peerAccount) {
            <span>Say "Hi" to <AccountName UserSid="@peerAccount.Id"/>!</span>
        } else {
            <span>Post the first one!</span>
        }
    </div>
</div>

@code {
    private Session Session => ChatContext.Hub.Session();
    private Chat Chat => ChatContext.Chat;
    private IAccounts Accounts => ChatContext.Hub.Accounts;
    private ChatUI ChatUI => ChatContext.Hub.ChatUI;

    [Parameter, EditorRequired] public ChatContext ChatContext { get; set; } = null!;

    protected override async Task<Model?> ComputeState(CancellationToken cancellationToken) {
        var chat = Chat;
        var chatId = chat.Id;
        var session = Session;
        var isEmpty = await ChatUI.IsEmpty(chatId, cancellationToken).ConfigureAwait(false);
        if (!isEmpty || chat.HasSingleAuthor)
            return null;

        if (!chatId.IsPeerChat(out var peerChatId))
            return Model.NoPeerAccount;

        var ownAccount = ChatContext.OwnAccount;
        var peerAccountId = peerChatId.UserIds.OtherThanOrDefault(ownAccount.Id);
        if (peerAccountId.IsNone)
            return Model.NoPeerAccount;

        var peerAccount = await Accounts.Get(session, peerAccountId, cancellationToken).ConfigureAwait(false);
        return new() { PeerAccount = peerAccount };
    }

    // Nested types

    public sealed record Model {
        public static readonly Model NoPeerAccount = new();

        public Account? PeerAccount { get; init; }
    }
}
