.blazor-mode-toggle {
    @apply flex-x overflow-hidden;
    @apply rounded-full outline-none bg-01 my-1 border border-bg-04;
}
.blazor-mode-toggle .btn.btn-square {
    @apply text-01 rounded-none min-w-0 p-0 m-0;
}
.blazor-mode-toggle .btn.btn-square.is-active,
.blazor-mode-toggle .btn.btn-square.is-active * {
    @apply cursor-default;
}
.blazor-mode-toggle .btn.btn-square .btn-content,
.blazor-mode-toggle .btn.btn-square:disabled .btn-content {
    @apply p-0 m-0 !bg-02;
}
.blazor-mode-toggle .btn.btn-square .btn-content-inner {
    @apply text-xs;
}
.blazor-mode-toggle .btn.btn-square:first-child .btn-content-inner {
    @apply ml-1;
}
.blazor-mode-toggle .btn.btn-square:last-child .btn-content-inner {
    @apply mr-1;
}
.blazor-mode-toggle .btn.btn-square .btn-content {
    @apply bg-round subpixel-antialiased rounded-none;
}
.blazor-mode-toggle .btn.btn-square:disabled .btn-content,
body.hoverable .blazor-mode-toggle .btn.btn-square:disabled:hover .btn-content {
    @apply bg-round opacity-80;
}
body.hoverable .blazor-mode-toggle .btn.btn-square:hover:not(:disabled) .btn-content {
    @apply bg-hover underline;
}
