@namespace ActualChat.UI.Blazor.Components
@inject IJSRuntime _js

<span class="@(_class ??= this.DefaultClass()) group cursor-pointer"
     @onclick="@ToggleMediaRecorder">
    <span class="hover-item">Player: <b>@(IsMsePlayer ? "MSE" : "AudioContext")</b></span>
    <span class="hover-item alt">Switch to <b>@(IsMsePlayer ? "AudioContext" : "MSE")</b></span>
</span>

@code {
    private static string? _class;

    private const string AudioModuleImportName = "audio";
    protected bool IsMsePlayer { get; set; } = false;

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender)
            IsMsePlayer = await _js.InvokeAsync<bool>(
                $"{AudioModuleImportName}.AudioPlayer.isMsePlayer"
                ).ConfigureAwait(true);
    }

    private async Task ToggleMediaRecorder()
    {
        IsMsePlayer = !IsMsePlayer;
        await _js.InvokeVoidAsync(
            $"{AudioModuleImportName}.AudioPlayer.changePlayerImplementation", IsMsePlayer).ConfigureAwait(false);
    }
}
