@namespace ActualChat.UI.Blazor.Components
@using System.Reflection
@inject BlazorModeHelper BlazorModeHelper
@inject BlazorCircuitContext CircuitContext

@{
    var serverClass = IsServerSideBlazor ? "blazor-mode-btn !font-bold" : "blazor-mode-btn";
    var wasmClass = !IsServerSideBlazor ? "blazor-mode-btn !font-bold" : "blazor-mode-btn";
}

<div class="flex-x rounded-sm overflow-hidden w-max">
    <Button Class="@serverClass" OnClick="() => BlazorModeHelper.ChangeMode(true)" Disabled="@IsServerSideBlazor">Server</Button>
    <Button Class="@wasmClass" OnClick="() => BlazorModeHelper.ChangeMode(false)" Disabled="@(!IsServerSideBlazor)">WASM</Button>
</div>

@code {
    private bool IsServerSideBlazor { get; set; } = BlazorModeHelper.IsServerSideBlazor;
}
