@namespace ActualChat.UI.Blazor.Components
@using System.Reflection
@inject BlazorModeHelper _blazorModeHelper
@inject IJSRuntime _js

<div @onclick="@(() => _blazorModeHelper.ChangeMode(!IsServerSideBlazor))" class="cursor-pointer select-none flex flex-row bg-gray-700 text-gray-400 text-xs py-2 px-2 rounded-lg opacity-75 hover:opacity-100">
    <span><i class="fa fa-cog" aria-hidden="true"></i> @(IsPrerenderding ? "Loading..." : GetModeName(IsServerSideBlazor))</span>
</div>

@code {
    private bool IsPrerenderding { get; set; }
    private bool IsServerSideBlazor { get; set; } = BlazorModeHelper.IsServerSideBlazor;

    [Parameter]
    public string CssClass { get; set; } = "";

    protected override void OnInitialized()
    {
        var jsRuntimeType = _js.GetType();
        if (jsRuntimeType.Name != "RemoteJSRuntime") {
            IsPrerenderding = false;
            return;
        }
        var fClientProxy = jsRuntimeType.GetField("_clientProxy", BindingFlags.Instance | BindingFlags.NonPublic);
        var clientProxy = fClientProxy?.GetValue(_js);
        IsPrerenderding = fClientProxy != null && clientProxy == null;
    }

    private string GetModeName(bool isServerSideBlazor)
        => isServerSideBlazor ? "Blazor Server" : "Blazor WASM";
}
