@namespace ActualChat.UI.Blazor.Components
@using System.Reflection
@inject BlazorModeHelper _blazorModeHelper
@inject IJSRuntime _js

<div @onclick="@(() => _blazorModeHelper.ChangeMode(!IsServerSideBlazor))" class="blazor-mode-toggle">
    <span class="visible-blazor-mode-toggle">@(IsPrerendering ? "Loading..." : GetModeName(IsServerSideBlazor))</span>
    <span class="hidden-blazor-mode-toggle">@(IsPrerendering ? "Loading..." : GetBlazorToggleHoverText(IsServerSideBlazor))</span>
</div>

@code {
    private bool IsPrerendering { get; set; }
    private bool IsServerSideBlazor { get; set; } = BlazorModeHelper.IsServerSideBlazor;

    [Parameter]
    public string CssClass { get; set; } = "";

    protected override void OnInitialized()
    {
        var jsRuntimeType = _js.GetType();
        if (jsRuntimeType.Name != "RemoteJSRuntime") {
            IsPrerendering = false;
            return;
        }
        var fClientProxy = jsRuntimeType.GetField("_clientProxy", BindingFlags.Instance | BindingFlags.NonPublic);
        var clientProxy = fClientProxy?.GetValue(_js);
        IsPrerendering = fClientProxy != null && clientProxy == null;
    }

    private string GetModeName(bool isServerSideBlazor)
        => isServerSideBlazor ? "Blazor Server" : "Blazor WASM";

    private string GetBlazorToggleHoverText(bool isServerSideBlazor)
        => isServerSideBlazor ? "Switch to WASM" : "Switch to Server";
}
