<div class="flex-col content-center">
    <button class="@Class flex justify-center items-center
                   hover:bg-02 hover:scale-110 ease-in-out duration-150"
            aria-label="@Title" role="button" tabindex="0" title="@Title"
            @onclick="@Click">
        <svg aria-hidden="true" class="fill-current w-5 h-5" viewBox="0 0 24 24" >
            <path d="M18.4 4L12 10.4L5.6 4L4 5.6L10.4 12L4 18.4L5.6 20L12 13.6L18.4 20L20 18.4L13.6 12L20 5.6L18.4 4Z"></path>
        </svg>
    </button>
    @* @if (ShowKeyBind) { *@
    @*     <div class="mt-1.5 font-semibold text-sm text-gray-400 flex justify-center" aria-hidden="true">ESC</div> *@
    @* } *@
</div>

@code {
    // [Parameter]
    // public bool ShowKeyBind { get; set; } = true;
    [Parameter]
    public string Class { get; set; } = "border-2 rounded-full w-10 h-10 text-02";
    [Parameter]
    public string Title { get; set; } = "Close";
    [Parameter]
    public EventCallback Click { get; set; } = default!;
}
