@using ActualChat.UI.Blazor.Module
@using Stl.Extensibility
@implements IFeatureBackend
@implements IAsyncDisposable
@implements IModalView<FeatureRequestModal.Model>
@attribute [MatchFor(typeof(Model), typeof(IModalView))]

<DialogFrame Title="Sorry, this feature is not implemented yet">
    <Body>
        @{
            var title = ModalModel.FeatureTitle;
            var featureTitle = title.IsNullOrEmpty() ? "This" : title;
        }

        <div class="text-sm md:text-md">
            <p>Help us to prioritize features.</p>
            <p>Please vote how <span class="p-0.5 bg-secondary rounded-sm font-mono text-inline-code border">@featureTitle</span> feature is important for you.</p>
            <p>1 = not important, 5 = very important!</p>
        </div>

        <div @ref="_feedbackRef" class="flex justify-center my-4">
            @for (var i = 1; i <= 5; i++) {
                var cls = _rating >= i ? "fa-star" : "fa-star-o";
                var rating = i;
                var id = "rating-button-" + (rating - 1);
                <button class="rating-button px-1 md:px-2" role="button" @onclick="_ => SetRating(rating)">
                    <i class="fa @cls fa-2x rating-icon" aria-hidden="true" id="@id"></i>
                </button>
            }
        </div>
        <div>
            <label>Comment:</label>
            <textarea class="feedback-textarea border border-accent w-full" rows="5" @bind="_comment" @bind:event="oninput"></textarea>
        </div>
    </Body>
    <Buttons>
        <Button Class="btn-primary" Click="OnCancel" Focus="true">Cancel</Button>
        <Button Click="OnSubmit">Send feedback</Button>
    </Buttons>
</DialogFrame>

@code {
    private int _rating;
    private string _comment = "";
    private DotNetObjectReference<IFeatureBackend> _blazorRef = null!;
    private IJSObjectReference _jsRef = null!;
    private ElementReference _feedbackRef;

    [Inject] private IJSRuntime JS { get; init; } = null!;

    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; } = null!;
    [Parameter] public Model ModalModel { get; set; } = null!;

    [JSInvokable]
    private async Task SetRating(int rating) {
        _rating = rating == _rating ? 0 : rating;
        await _jsRef.InvokeVoidAsync("updateRating", _rating - 1).ConfigureAwait(true);
    }

    private void OnSubmit() {
        ModalModel.Comment = _comment;
        ModalModel.Rating = _rating;
        ModalInstance.CloseAsync(ModalResult.Ok(true));
    }

    private void OnCancel() {
        ModalInstance.CloseAsync(ModalResult.Cancel());
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            _blazorRef = DotNetObjectReference.Create<IFeatureBackend>(this);
            _jsRef = await JS.InvokeAsync<IJSObjectReference>(
                $"{BlazorUICoreModule.ImportName}.Feedback.create",
                _feedbackRef, _blazorRef
                ).ConfigureAwait(true);
        }
    }

    public async ValueTask DisposeAsync()
    {
        if (_jsRef != null!)
            await _jsRef.DisposeSilentlyAsync("dispose").ConfigureAwait(true);
        _blazorRef?.Dispose();
    }

    public class Model {
        public string? FeatureTitle { get; init; }
        public int Rating { get; set; }
        public string Comment { get; set; } = "";
    }
}
