@using ActualChat.Hosting
@using ActualChat.UI.Blazor.Module
@implements IFeatureBackend
@implements IAsyncDisposable
@inject IJSRuntime _js
@inject MomentClockSet _clocks
@inject HostInfo _hostInfo

<div class="relative p-4">
    @{
        var featureTitle = FeatureTitle.IsNullOrEmpty() ? "This" : FeatureTitle;
    }
    <div class="flex-x mb-8">
        <h1 class="font-bold text-center flex-1 left-0">Sorry, this feature is not implemented yet</h1>
        <CloseButton Click="OnCancel" Class="w-6 h-6 ml-3"/>
    </div>

    <div class="text-sm md:text-md my-4">
        <p>Help us to prioritize features.</p>
        <p>Please vote how <span class="p-0.5 bg-secondary rounded-sm font-mono text-inline-code border">@featureTitle</span> feature is important for you.</p>
        <p>1 = not important, 5 = very important!</p>
    </div>

    <div @ref="_feedbackRef" class="flex justify-center my-4">
        @for (var i = 1; i <= 5; i++) {
            var cls = _rating >= i ? "fa-star" : "fa-star-o";
            var rating = i;
            var id = "rating-button-" + (rating - 1);
            <button class="rating-button px-1 md:px-2" role="button" @onclick="_ => SetRating(rating)">
                <i class="fa @cls fa-2x rating-icon" aria-hidden="true" id="@id"></i>
            </button>
        }
    </div>
    <div class="my-4">
        <label>Comment:</label>
        <textarea class="feedback-textarea border border-accent w-full" rows="5" @bind="_comment" @bind:event="oninput"></textarea>
    </div>
    <div class="mt-4">
        <Button Class="btn btn-success" OnClick="OnSubmit" Caption="Send feedback" ></Button>
    </div>
</div>

@code {
    private int _rating;
    private string _comment = "";
    private ElementReference _feedbackRef;
    private IJSObjectReference _jsRef = null!;
    private DotNetObjectReference<IFeatureBackend> _blazorRef = null!;

    [CascadingParameter]
    BlazoredModalInstance ModalInstance { get; set; } = null!;

    [Parameter]
    public string? FeatureTitle { get; set; }

    [JSInvokable]
    private async Task SetRating(int rating) {
        _rating = rating == _rating ? 0 : rating;
        await _jsRef.InvokeVoidAsync("updateRating", _rating - 1).ConfigureAwait(true);
    }

    private void OnSubmit() {
        ModalInstance.CloseAsync(ModalResult.Ok((_rating, _comment)));
    }

    private void OnCancel() {
        ModalInstance.CloseAsync(ModalResult.Cancel());
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            _blazorRef = DotNetObjectReference.Create<IFeatureBackend>(this);
            _jsRef = await _js.InvokeAsync<IJSObjectReference>(
                $"{BlazorUICoreModule.ImportName}.Feedback.create",
                _feedbackRef, _blazorRef
                ).ConfigureAwait(true);
        }
    }

    public async ValueTask DisposeAsync()
    {
        if (_jsRef != null!)
            await _jsRef.DisposeSilentlyAsync("dispose").ConfigureAwait(true);
        _blazorRef?.Dispose();
    }
}
