@using Stl.Extensibility
@implements IModalView<ImagePreviewModal.Model>
@attribute [MatchFor(typeof(Model), typeof(IModalView))]

<div>
    <img style="max-width: 95vw; max-height: 95vh" src="@ModalModel.Url" alt="@(ModalModel.AltText.NullIfEmpty() ?? "image")" />
</div>
<div>
    <a class="font-semibold cursor-pointer text-02 hover:underline hover:text-04"
       href="@ModalModel.Url" target="_blank">Show original</a>
</div>

@code {
    [Parameter] public Model ModalModel { get; set; } = null!;

    public sealed record Model(string Url, string? AltText);
}
