<div>
    <img style="max-width: 800px; max-height: 600px" src="@Url" alt="@(AltText.NullIfEmpty() ?? "image")" />
</div>
<div>
    <a class="font-semibold text-sm cursor-pointer text-primary hover:underline hover:text-accent-muted"
       href="@Url" target="_blank">Show original</a>
</div>

@code {
    [Parameter, EditorRequired]
    public string Url { get; set; } = "";
    [Parameter]
    public string? AltText { get; set; }
}
