@using ActualChat.UI.Blazor.Services
@namespace ActualChat.UI.Blazor.Components
@{
    var mauiAppBuildTime = (int)LoadingUI.MauiAppBuildTime.TotalMilliseconds;
    var appInitTime = (int)LoadingUI.AppInitializeTime.TotalMilliseconds;
    var appAboutRenderContentTime = (int)LoadingUI.AppReadyToRenderContentTime.TotalMilliseconds;
    var appStartTime = (int)LoadingUI.LoadingTime.TotalMilliseconds;
    var chatListLoaded = (int)LoadingUI.ChatListLoadTime.TotalMilliseconds;
}

@if (appStartTime > 0) {
    <div class="blazor-mode-toggle px-1">
        @if (mauiAppBuildTime > 0) {
            @(mauiAppBuildTime + "/")
        }
        @($"{appInitTime}/{appAboutRenderContentTime}/{appStartTime}/{chatListLoaded}ms")
    </div>
}

@code {
    [Inject] LoadingUI LoadingUI { get; init; } = null!;
}
