@using ActualChat.UI.Blazor.Services
@using ActualChat.Hosting
@namespace ActualChat.UI.Blazor.Components
@{
    if (!HostInfo.IsDevelopmentInstance)
        return;
    var mauiAppBuildTime = (int)LoadingUI.MauiAppBuildTime.TotalMilliseconds;
    var appCreatedTime = (int)LoadingUI.AppCreationTime.TotalMilliseconds;
    var loadingTime = (int)LoadingUI.LoadTime.TotalMilliseconds;
    var chatListLoadedTime = (int)LoadingUI.ChatListLoadTime.TotalMilliseconds;
}

@if (loadingTime > 0) {
    <div class="blazor-mode-toggle px-1">
        @if (mauiAppBuildTime > 0) {
            @(mauiAppBuildTime + "/")
        }
        @($"{appCreatedTime}/{loadingTime}/{chatListLoadedTime}ms")
    </div>
}

@code {
    [Inject] HostInfo HostInfo { get; init; } = null!;
    [Inject] LoadingUI LoadingUI { get; init; } = null!;
}
