@namespace ActualChat.UI.Blazor.Components

<RenderIntoSlot Name="MainHeader">
    <div class="flex flex-row justify-items-stretch items-start bg-primary md:bg-secondary text-primary font-medium">
        <div class="flex-none">
            <NavbarToggle/>
        </div>
        <div class="flex-auto flex flex-row p-3.5 pt-2.5">
            @ChildContent
        </div>
    </div>
</RenderIntoSlot>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
