@namespace ActualChat.UI.Blazor.Components

<RenderIntoSlot Name="MainHeader">
        <div class="c-content">
            <NavbarPullerButton/>
            <div class="c-title">
                @ChildContent
            </div>
        </div>
</RenderIntoSlot>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
}
