@namespace ActualChat.UI.Blazor.Components

<RenderIntoSlot Name="MainHeader">
    <div class="flex-x justify-items-stretch items-start bg-primary md:bg-secondary text-primary font-medium">
        <div class="flex-none self-start">
            <NavbarToggle/>
        </div>
        <div class="flex-auto flex-x items-center m-3 ml-4">
            @ChildContent
        </div>
    </div>
</RenderIntoSlot>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
