@namespace ActualChat.UI.Blazor.Components

<RenderIntoSlot Name="MainHeader">
    <div class="flex-x justify-items-stretch items-start bg-02 md:bg-01 text-02 font-medium">
        <div class="flex-none self-start">
            <NavbarToggle/>
        </div>
        <div class="flex-auto flex-x self-center ml-4">
            @ChildContent
        </div>
    </div>
</RenderIntoSlot>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
}
