@namespace ActualChat.UI.Blazor.Components

<RenderIntoSlot Name="MainHeader">
    <div class="flex-none flex-y w-full overflow-hidden bg-02 z-50">
        <div class="flex-x justify-items-stretch items-center px-2 min-h-14 border-b border-bg-04">
            <div class="flex-none self-start">
                <NavbarButton/>
            </div>
            <div class="flex-auto flex-x self-center ml-4 text-03 font-semibold">
                @ChildContent
            </div>
        </div>
    </div>
</RenderIntoSlot>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
}
