@namespace ActualChat.UI.Blazor.Components

<RenderIntoSlot Name="MainHeader">
    <div class="flex-none flex-y w-full overflow-hidden bg-02 z-50">
        <div class="flex-x justify-items-stretch items-center px-1 min-h-mobile-header border-b border-bg-04">
            <div class="flex-none self-start">
                <NavbarToggle/>
            </div>
            <div class="flex-auto flex-x self-center ml-4">
                @ChildContent
            </div>
        </div>
    </div>
</RenderIntoSlot>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
}
