@namespace ActualChat.UI.Blazor.Components
@inject IJSRuntime _js

<span class="@(_class ??= this.DefaultClass()) select-none cursor-pointer transition duration-500 ease-in-out group"
     @onclick="@ToggleMediaRecorder">
    <span class="hover-item">Recorder: <b>@(MediaRecorderNames[IsStandardMediaRecorder ? 1 : 0])</b></span>
    <span class="hover-item alt">Switch to <b>@(MediaRecorderNames[IsStandardMediaRecorder ? 0 : 1])</b></span>
</span>

@code {
    private static readonly string[] MediaRecorderNames = { "WASM", "Standard" };
    private static string? _class;

    private const string AudioModuleImportName = "audio";
    private bool IsStandardMediaRecorder { get; set; } = false;

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender)
            IsStandardMediaRecorder = await _js.InvokeAsync<bool>(
                $"{AudioModuleImportName}.AudioRecorder.isStandardMediaRecorder"
                ).ConfigureAwait(true);
    }

    private async Task ToggleMediaRecorder()
    {
        IsStandardMediaRecorder = !IsStandardMediaRecorder;
        await _js.InvokeVoidAsync(
            $"{AudioModuleImportName}.AudioRecorder.changeMediaRecorder",
            IsStandardMediaRecorder
            ).ConfigureAwait(false);
    }
}
