@using ActualChat.UI.Blazor.Services
@namespace ActualChat.UI.Blazor.Components

<div class="flex md:hidden items-center cursor-pointer min-h-14">
    <HeaderButton Click="OnClick" Class="md:!hidden transparent">
        <i class="icon-arrow-left text-2xl"></i>
    </HeaderButton>
</div>

@code {
    [Inject] private PanelsUI PanelsUI { get; init; } = null!;

    private void OnClick()
        => PanelsUI.Left.SetIsVisible(true);
}
