<div class="page-with-header-and-footer h-full w-full flex flex-col flex-nowrap justify-between overflow-hidden @Class">
    <div class="flex-none flex flex-col w-full overflow-hidden shadow-md">
        @Header
    </div>
    <div class="flex-1 flex flex-col-reverse h-full overflow-hidden">
        <div class="flex-none flex flex-col w-full overflow-hidden shadow-[0_0_6px_-1px_rgba(0,0,0,0.1)]">
            @Footer
        </div>
        <div class="flex-1 flex flex-col overflow-y-auto @BodyClass">
            @Body
        </div>
    </div>
</div>

@code {
    [Parameter] public string Class { get; set; } = "";
    [Parameter] public string BodyClass { get; set; } = "";
    [Parameter] public RenderFragment? Header { get; set; }
    [Parameter] public RenderFragment? Footer { get; set; }
    [Parameter] public RenderFragment? Body { get; set; }
}
