@namespace ActualChat.UI.Blazor.Components

<div class="flex items-center mx-4">
    <div class="flex-1 h-px @Class"></div>
    <span class="px-2 py-0 font-medium @TitleClass">@Title</span>
    <div class="flex-1 h-px @Class"></div>
</div>

@code {

    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public string Class { get; set; } = "bg-gray-300";

    [Parameter]
    public string TitleClass { get; set; } = "text-secondary";

}
