@namespace ActualChat.UI.Blazor.Components

<div class="flex items-center justify-center my-2 mx-4">
    <span class="@TitleClass rounded-full px-2 py-0 text-xs font-medium">@Title</span>
</div>

@code {
    [Parameter] public string? Title { get; set; }
    [Parameter] public string TitleClass { get; set; } = "bg-02 text-03";
}
