@namespace ActualChat.UI.Blazor.Components

<div class="@TypeClass @Class">
    @ChildContent
</div>

@code {
    private static readonly string TypeClass = CssClasses.Default[typeof(SkeletonContainer)];

    [Parameter]
    public string Class { get; set; } = "";
    [Parameter]
    public RenderFragment ChildContent { get; set; } = null!;

    /// <inheritdoc />
    protected override bool ShouldRender() => false;
}
