
[tooltip]::before,
[tooltip]::after {
    @apply leading-4 select-none pointer-events-none absolute normal-case text-xxs hidden opacity-0;
}

[tooltip]::before {
    @apply content-[''] z-30 border-5 border-transparent border-solid;
}

[tooltip]::after {
    @apply text-center whitespace-nowrap overflow-hidden text-ellipsis py-1 px-2 z-20 bg-separator;
    @apply text-04 shadow-current shadow-md rounded-sm min-w-12 max-w-xxs;
    content: attr(tooltip);
}

[tooltip]:hover::before,
[tooltip]:hover::after {
    @apply block;
}

/* don't show empty tooltips */
[tooltip='']::before,
[tooltip='']::after {
    display: none !important;
}

/* TOP (default) */

/* ONLY the ::before */
[tooltip]:not([flow])::before,
[tooltip][flow^="top"]::before {
    @apply bottom-full border-b-0 border-t-separator;
}

/* ONLY the ::after */
[tooltip]:not([flow])::after,
[tooltip][flow^="top"]::after {
    bottom: calc(100% + 5px);
}

/* Both ::before & ::after */
[tooltip]:not([flow])::before,
[tooltip]:not([flow])::after,
[tooltip][flow^="top"]::before,
[tooltip][flow^="top"]::after {
    @apply left-1/2 -translate-x-1/2;
}

/* DOWN */

[tooltip][flow^="bottom"]::before {
    @apply top-full border-t-0 border-b-separator;
}

[tooltip][flow^="bottom"]::after {
    top: calc(100% + 5px);
}

[tooltip][flow^="bottom"]::before,
[tooltip][flow^="bottom"]::after {
    @apply left-1/2 -translate-x-1/2
}

/* LEFT */

[tooltip][flow^="left"]::before {
    @apply top-1/2 border-r-0 border-l-separator -translate-y-1/2;
    left: calc(0rem - 5px);
}

[tooltip][flow^="left"]::after {
    @apply top-1/2 -translate-y-1/2;
    right: calc(100% + 5px);
}

/* RIGHT */

[tooltip][flow^="right"]::before {
    @apply top-1/2 border-l-0 border-r-separator -translate-y-1/2;
    right: calc(0rem - 5px);
}

[tooltip][flow^="right"]::after {
    @apply top-1/2 -translate-y-1/2;
    left: calc(100% + 5px);
}

[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="top"]:hover::before,
[tooltip][flow^="top"]:hover::after,
[tooltip][flow^="bottom"]:hover::before,
[tooltip][flow^="bottom"]:hover::after {
    @apply animate-tooltip-vertical;
}

[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover::after,
[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover::after {
    @apply animate-tooltip-horizontal;
}
