<div class="max-w-sm">
    <div class="p-4">
        <p>Starting @Operation.</p>
    </div>
    <div class="p-4 pt-1 flex justify-center">
        <Button Class="btn btn-success" OnClick="OnContinueClick">Continue</Button>
    </div>
</div>

@code {
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; } = null!;
    [Parameter] public string Operation { get; set; } = "audio playback or capture";

    private void OnContinueClick()
        => ModalInstance.CloseAsync();
}
