<div class="max-w-sm">
    <div class="my-8 mx-6">
        <h3 class="font-bold mb-3 text-center">INTERACTION REQUIRED</h3>
        <p>Your action is required to start audio playback in the browser. Click 'OK' to continue.</p>
    </div>

    <div class="py-4 flex justify-center">
        <button class="signin-button h-10 inline-flex py-2"
                @onclick="OnOkClicked">
            <span class="signin-text">OK</span>
        </button>
    </div>
</div>

@code {
    [CascadingParameter]
    BlazoredModalInstance ModalInstance { get; set; } = null!;

    private void OnOkClicked() => ModalInstance.CloseAsync();
}
