@namespace ActualChat.Chat.UI.Blazor.Components
@using BlazorContextMenu

@if (!Contact.IsFavorite) {
    <Item OnClick="OnClick" CssClass="context-menu-item warning-item">
        <div class="context-menu-content">
            <div class="context-menu-icon">
                @* TODO: *@
            </div>
            <div class="context-menu-text">
                Add to Favorites
            </div>
        </div>
    </Item>
}

@code {
    [Inject] private Session Session { get; init; } = null!;
    [Inject] private DiffEngine DiffEngine { get; init; } = null!;
    [Inject] private UICommander UICommander { get; init; } = null!;

    [CascadingParameter] public UserContact Contact { get; set; } = null!;

    private async Task OnClick() {
        var diff = DiffEngine.Diff<UserContact, UserContactDiff>(Contact, Contact with { IsFavorite = true });
        var command = new IUserContacts.ChangeCommand(Session, Contact.Id, null, new Change<UserContactDiff> { Update = diff });
        await UICommander.Run(command).ConfigureAwait(false);
    }
}
