/* Gradient circle */

.c-wrapper {
    @apply relative flex items-center justify-center;
    @apply w-full h-full;
    @apply overflow-hidden;
    @apply bg-[#0036a3];
}

.loading-image-bg {
    @apply flex items-center justify-center;
    @apply h-96 w-96;
    @apply overflow-hidden;
    @apply bg-gradient-to-b from-[#0036A3] to-[#9B0C80];
}
.loading-image-bg > .c-circle {
    @apply flex-y items-center justify-center gap-y-2 z-10;
    @apply w-88 h-88 md:w-96 md:h-96;
    @apply rounded-full;
    @apply md:backdrop-blur-sm;
    @apply text-2xl font-semibold text-03;
    @apply overflow-hidden;
}
.loading-image-bg > .c-border {
    @apply absolute z-10;
    @apply w-88 h-88 md:w-96 md:h-96;
    @apply rounded-full;
    @apply blur;
    box-shadow: 0 0 50px 50px #0036a3;
}
.loading-image-bg > .c-circle .c-text {
    @apply text-03;
    @apply animate-pulse-70;
}
.loading-image-bg > .c-circle img {
    @apply animate-pulse-70;
}

/* Loading screen (until-ui-is-ready) */

.until-ui-is-ready {
    @apply absolute top-0;
    @apply flex;
    @apply h-full w-full;
    z-index: 2000;
}
.until-ui-is-ready .loading-image-bg > .c-border {
    @apply w-36 h-36 md:w-72 md:h-72;
    @apply rounded-5xl;
    @apply bg-transparent;
    @apply blur-none;
    @apply overflow-hidden;
    box-shadow: 0 0 0 100vw #0036a3;
    animation: rotate-4 8s infinite;
}
.until-ui-is-ready .loading-image-bg > .c-border {
    @apply p-0.5;
}
.until-ui-is-ready .loading-image-bg .c-before-circle {
    @apply w-full h-full;
    @apply rounded-5xl;
    box-shadow: 0 0 15px 10px rgba(255,255,255,0.3);
}
.until-ui-is-ready .loading-image-bg > .c-circle {
    @apply w-36 h-36 md:w-64 md:h-64;
    @apply rounded-5xl;
    @apply bg-transparent;
    @apply backdrop-blur-none;
}
.until-ui-is-ready .loading-image-bg > .c-circle .c-text {
    @apply animate-none;
}
.until-ui-is-ready .loading-image-bg > .c-circle img {
    @apply animate-none;
}

.until-ui-is-ready .loading-image-bg:before {
    @apply absolute top-1/3;
    @apply w-48 md:w-120 h-1/2 md:h-full;
    @apply opacity-50;
    @apply blur-sm;
    @apply animate-shine;
    content: '';
    background: linear-gradient(to left, transparent 0%, #fff 40%, #fff 60%, transparent 100%);
    transform: translate(-100%, -5%) rotate(10deg);
}

@keyframes rotate-4 {
    0% { transform: rotate(0deg); }
    20% { transform: rotate(90deg); }
    25% { transform: rotate(90deg); }
    45% { transform: rotate(180deg); }
    50% { transform: rotate(180deg); }
    70% { transform: rotate(270deg); }
    75% { transform: rotate(270deg); }
    95% { transform: rotate(360deg); }
    100% { transform: rotate(360deg); }
}
