@namespace ActualChat.UI.Blazor.Components

<div class="loading-bg"></div>
<div class="loading-image-bg">
    <div class="c-before-circle"></div>
    <div class="c-circle">
        <img src="/dist/images/loading-cat.svg" alt="loading">
        <span class="c-text">Reconnecting...</span>
    </div>
</div>
