@using ActualChat.UI.Blazor.Module
@using ActualChat.UI.Blazor.Components.SideNav
@implements IAsyncDisposable

<div @ref="ElementRef" class="@_class" data-side-nav="@_attribute">
    @ChildContent
</div>

@code {
    private static readonly string JSCreateMethod = $"{BlazorUICoreModule.ImportName}.SideNav.create";

    private string _class = "";
    private string _attribute = "";

    [Inject] private IJSRuntime JS { get; init; } = null!;

    [Parameter] public SideNavSide Side { get; set; } = SideNavSide.Left;
    [Parameter] public bool IsOpen { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; } = null!;
    [Parameter] public EventCallback<bool> VisibilityChanged { get; set; }

    private ElementReference ElementRef { get; set; }
    private IJSObjectReference JSRef { get; set; } = null!;
    private DotNetObjectReference<SideNav> BlazorRef { get; set; } = null!;

    protected override void OnParametersSet() {
        _class = "side-nav";
        _class += Side == SideNavSide.Left
            ? " side-nav-left"
            : " side-nav-right";
        _attribute = IsOpen
            ? "open"
            : "closed";
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            BlazorRef = DotNetObjectReference.Create(this);
            var options = new SideNavOptions {
                Side = Side,
            };
            JSRef = await JS.InvokeAsync<IJSObjectReference>(JSCreateMethod, ElementRef, BlazorRef, options);
        }
    }

    public async ValueTask DisposeAsync() {
        await JSRef.DisposeSilentlyAsync("dispose");
        JSRef = null!;
        BlazorRef.DisposeSilently();
        BlazorRef = null!;
    }

    [JSInvokable]
    public async Task OnVisibilityChanged(bool isOpen) {
        if (IsOpen != isOpen)
            await VisibilityChanged.InvokeAsync(isOpen);
    }
}
