@namespace ActualChat.UI.Blazor.App.Components
@inherits ComputedStateComponent<IReadOnlyList<FoundItem>>
@{
    var foundItems = State.ValueOrDefault;
    if (foundItems == null)
        // TODO: loading view
        return;

    var listCls = IsPlace ? "place" : "";
}

@if (foundItems.Count == 0) {
    <NoResults />
    return;
}

<div class="chat-list own-chat-list @listCls">
    @foreach (var foundItem in foundItems) {
        @if (foundItem.IsFirstInGroup) {
            <SearchResultGroupHeader
                CanExpandOrCollapse="foundItem.CanScopeBeExpanded"
                Scope="foundItem.Scope"
                IsGlobalSearchResult="foundItem.IsGlobalSearchResult" />
        }

        <FoundResult @key=@foundItem.SearchResult.Id FoundItem="@foundItem" IsPlace="@IsPlace"/>

        @if (foundItem.IsLastInGroup) {
            <Divider Class="mx-1 my-1.5" />
        }
    }
</div>

@code {
    [Inject] private ChatUIHub Hub { get; init; } = null!;
    private SearchUI SearchUI => Hub.SearchUI;

    [Parameter] public bool IsPlace { get; set; }

    protected override async Task<IReadOnlyList<FoundItem>> ComputeState(CancellationToken cancellationToken) {
        var isOn = await SearchUI.IsSearchModeOn.Use(cancellationToken).ConfigureAwait(false);
        return isOn
            ? await SearchUI.GetSearchResults().ConfigureAwait(false)
            : [];
    }
}
