@using ActualChat.Search
@inherits ComputedStateComponent<bool>
@namespace ActualChat.UI.Blazor.App.Components
@{
    var isExpanded = State.ValueOrDefault;
    var btnText = isExpanded ? "Show less" : "Show more";
    var isExpandedCls = isExpanded ? "expanded" : "";
}

<div class="search-result-group-header @isExpandedCls">
    <div class="c-title">
        @Scope.ToString()
    </div>
    @if (CanExpandOrCollapse) {
        <Button Class="show-more-btn btn-transparent unhovered btn-sm" Click="@OnClick">
            <i class="icon-chevron-up c-arrow"></i>
            <span class="c-text">@btnText</span>
        </Button>
    }
</div>

@code {
    [Inject] private ChatUIHub Hub { get; init; } = null!;
    private SearchUI SearchUI => Hub.SearchUI;

    [Parameter, EditorRequired] public bool CanExpandOrCollapse { get; set; }
    [Parameter, EditorRequired] public SearchScope Scope { get; set; }

    private async Task OnClick(MouseEventArgs e) {
        var scope = Scope;
        if (State.ValueOrDefault)
            await SearchUI.ShowLess(scope);
        else
            await SearchUI.ShowMore(scope);
    }

    protected override Task<bool> ComputeState(CancellationToken cancellationToken)
        => SearchUI.IsExpanded(Scope);
}
