.virtual-list {
    height: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.virtual-list::-webkit-scrollbar {
    display: none;
}

.virtual-list ul.virtual-container {
    list-style-type: none;
}

.virtual-list ul.virtual-container li.item.new {
    position: relative;
    top: -20000px;
}
