@namespace ActualChat.UI.Blazor.Components
@{
    _lastSkeletonCount = SkeletonCount;
}

<SkeletonContainer Class="skeleton-container">
    @if (Skeleton != null) {
        @for (var i = 0; i < SkeletonCount; ++i) {
            <div @key="@i" class="skeleton">
                @Skeleton(i)
            </div>
        }
    }
</SkeletonContainer>

@code {
    private int? _lastSkeletonCount;

    [Parameter, EditorRequired] public int SkeletonCount { get; set; }
    [Parameter] public RenderFragment<int>? Skeleton { get; set; }

    protected override bool ShouldRender()
        => SkeletonCount != _lastSkeletonCount;
}
