@namespace ActualChat.UI.Blazor.Components
@{
    _lastSkeletonCount = SkeletonCount;
}

<div class="skeleton-container">
    @if (Skeleton != null) {
        @for (var i = 0; i < SkeletonCount; ++i) {
            @Skeleton(i)
        }
    }
    else if (SkeletonBatch != null) {
        @SkeletonBatch(SkeletonCount)
    }

</div>

@code {
    private int? _lastSkeletonCount;

    [Parameter, EditorRequired] public int SkeletonCount { get; set; }
    [Parameter] public RenderFragment<int>? Skeleton { get; set; }
    [Parameter] public RenderFragment<int>? SkeletonBatch { get; set; }

    protected override bool ShouldRender()
        => SkeletonCount != _lastSkeletonCount;
}
