@namespace ActualChat.UI.Blazor.Components
@using ActualChat.UI.Blazor.Components
@{
    var cls = $"{Class} {Menu.ItemClass}";
}

<div class="relative">
    <button @onclick="OnClick" disabled="@IsDisabled"
        class="menu-item @cls" name="@Name">
        @if (Icon != null) {
            <div class="menu-item-icon">
                @Icon
            </div>
        }
        <div class="menu-item-text">
            @Title
        </div>
    </button>
</div>

@code {
    [CascadingParameter] public IMenu Menu { get; set; } = null!;
    [Parameter] public string Title { get; set; } = "";
    [Parameter] public RenderFragment? Icon { get; set; }
    [Parameter] public string Class { get; set; } = "";
    [Parameter] public string Name { get; set; } = "";
    [Parameter] public bool IsDisabled { get; set; }
    [Parameter] public EventCallback Click { get; set; }

    private async Task OnClick() {
        await Menu.OnItemClick(this);
        await Click.InvokeAsync();
    }
}
