@namespace ActualChat.UI.Blazor.Components
@implements IMenu
@using ActualChat.UI.Blazor.Components

<CascadingValue Value="@((IMenu) this)" IsFixed="true">
    <div class="@Class menu" name="@Name">
        <div class="select-none flex-y">
            @ChildContent
        </div>
    </div>
</CascadingValue>

@code {
    [CascadingParameter] public Dropdown? Dropdown { get; set; }
    [Parameter] public string Class { get; set; } = "";
    [Parameter] public string ItemClass { get; set; } = "";
    [Parameter] public string Title { get; set; } = "";
    [Parameter] public string Icon { get; set; } = "";
    [Parameter] public MenuTooltipPosition TooltipPosition { get; set; } = MenuTooltipPosition.Top;
    [Parameter] public string Name { get; set; } = "";
    [Parameter] public RenderFragment? ChildContent { get; set; }

    public async Task OnItemClick(MenuItem item) {
        if (Dropdown != null)
            await Dropdown.Toggle(false);
    }
}
