/* Host & overlay */
.ac-menu-host {
    @apply fixed z-menu-container inset-0 overflow-hidden;
    @apply pointer-events-none select-none;
}
.ac-menu-host.has-overlay {
    @apply pointer-events-auto;
}
.ac-menu-overlay {
    @apply fixed inset-0 overflow-hidden z-menu-overlay;
    background-color: rgba(0,0,0,.32);
}

/* Normal menu container */
.ac-menu {
    @apply hidden absolute z-menu;
    @apply p-1;
    @apply bg-01 rounded-lg;
    @apply pointer-events-auto;
}
.ac-menu {
    animation: ac-menu-show 200ms ease-in-out;
}
body.wide .ac-menu {
    box-shadow: 0 10px 20px rgba(0,0,0,.3), 0 0 0 1px #eee;
}
body.narrow .ac-menu {
    @apply !left-4 !top-auto right-4 bottom-10;
    @apply p-3;
    box-shadow: 0 10px 20px rgba(0,0,0,.75);
}

@keyframes ac-menu-show {
    0% {
        opacity: 0;
        transform: translateY(1rem);
    }
    99% {
        opacity: 1;
        transform: translateY(0rem);
    }
}

/* Hover menu container */
.ac-menu-hover {
    @apply hidden absolute z-menu-hover;
    @apply p-1;
    @apply bg-01 rounded-full border border-bg-03;
    @apply pointer-events-auto;

}
.ac-menu-hover .btn.btn-round .btn-content {
    @apply min-h-8 min-w-8 max-h-8 min-h-8;
    @apply bg-01;
}
body.hoverable .ac-menu-hover .btn.btn-round:hover .btn-content {
    @apply bg-round-hover;
}

/* Item list */
.ac-menu-list {
}
.ac-menu-item {
    @apply flex-1 flex-x;
    @apply min-w-[120px] h-12 md:h-10 p-[6px];
    @apply rounded-lg hover:bg-round-hover;
    @apply text-02 whitespace-nowrap;
    @apply cursor-pointer;
}
.ac-menu-separator {
    @apply h-0 mx-2 my-1;
    @apply border-b border-bg-04;
    @apply bg-transparent;
}
.ac-menu-content {
    @apply flex-1 flex-x items-center gap-x-4;
}
.ac-menu-icon > i {
    @apply text-03 text-2xl;
}
body.narrow .ac-menu-icon > i {
    @apply text-2xl;
}
.ac-menu-text {
    @apply w-full text-02 text-base font-medium mr-2;
}
body.narrow .ac-menu-text {
    @apply text-headline-1;
}
body.hoverable .ac-menu-item:hover .ac-menu-icon {
    @apply text-primary;
}
.ac-menu-item.important-item .ac-menu-icon > i,
.ac-menu-item.important-item.off .ac-menu-icon > i,
.ac-menu-item.important-item .ac-menu-text,
.ac-menu-item.important-item.off .ac-menu-text {
    @apply text-primary;
}
.ac-menu-item.important-item.on .ac-menu-icon > i,
.ac-menu-item.important-item.on .ac-menu-text {
    @apply text-record;
}
body.hoverable .ac-menu-item.important-item.on:hover {
    @apply bg-menuitem-hover-warning;
}
body.hoverable .ac-menu-item.warning-item:hover {
    @apply bg-menuitem-hover-warning;
}
.ac-menu-item.warning-item .ac-menu-icon > i,
.ac-menu-item.warning-item .ac-menu-text {
    @apply text-record;
}
