@namespace ActualChat.UI.Blazor.Components
@using ActualChat.UI.Blazor.Components
@{
    var directionClass = Orientation == MenuOrientation.Vertical ? "flex-col" : "flex-row";
}

<CascadingValue Value="@this" IsFixed="true">
    <div class="menu @Class" name="@Name">
        <div class="select-none flex @directionClass">
                @ChildContent
        </div>
    </div>
</CascadingValue>

@code {
    [CascadingParameter] public Dropdown? Dropdown { get; set; }
    [Parameter] public string Class { get; set; } = "";
    [Parameter] public string ItemClass { get; set; } = "";
    [Parameter] public string Title { get; set; } = "";
    [Parameter] public string Icon { get; set; } = "";
    [Parameter] public MenuOrientation Orientation { get; set; } = MenuOrientation.Vertical;
    [Parameter] public MenuIconPosition IconPosition { get; set; } = MenuIconPosition.Right;
    [Parameter] public MenuTooltipPosition TooltipPosition { get; set; } = MenuTooltipPosition.Top;
    [Parameter] public string Name { get; set; } = "";
    [Parameter] public RenderFragment? ChildContent { get; set; }
}
