@using ActualChat.UI.Blazor.Components

<details class="docs-details">
    <summary>
        <div class="c-title">
            <i class="icon-chevron-up c-icon"></i>
            <span>
                Privacy Policy
            </span>
        </div>
    </summary>
    <Tile Class="c-docs docs-privacy-policy">
        <DocsPrivacyContent/>
    </Tile>
</details>

<details class="docs-details">
    <summary>
        <div class="c-title">
            <i class="icon-chevron-up c-icon"></i>
            <span>
                Terms & Conditions
            </span>
        </div>
    </summary>
    <Tile Class="c-docs docs-terms-conditions">
        <DocsTermsContent/>
    </Tile>
</details>

<details class="docs-details">
    <summary>
        <div class="c-title">
            <i class="icon-chevron-up c-icon"></i>
            <span>
                Cookies
            </span>
        </div>
    </summary>
    <Tile Class="c-docs docs-cookies">
        <DocsCookiesContent/>
    </Tile>
</details>

@code {

}
