@namespace ActualChat.UI.Blazor.App.Components
@inherits ComputedStateComponent<bool>
@if (!State.Value) {
    return;
}

<div class="chat-view-search-results-navigator @Class">
    <div class="c-content">
        <ButtonRound Tooltip="Navigate to previous search result" Click="@SearchUI.SelectPrevious">
            <i class="icon-chevron-compact-up text-2xl font-thin"></i>
        </ButtonRound>
        <ButtonRound Tooltip="Navigate to next search result" Click="@SearchUI.SelectNext">
            <i class="icon-chevron-compact-down text-2xl font-thin"></i>
        </ButtonRound>
    </div>
</div>

@code {
    [Inject] private ChatUIHub Hub { get; init; } = null!;
    private SearchUI SearchUI => Hub.SearchUI;
    private BrowserInfo BrowserInfo => Hub.BrowserInfo;

    [Parameter] public string Class { get; set; } = "";

    protected override ComputedState<bool>.Options GetStateOptions()
        => ComputedStateComponent.GetStateOptions(GetType(),
            static t => new ComputedState<bool>.Options() {
                InitialValue = false,
                UpdateDelayer = FixedDelayer.NextTick,
                Category = ComputedStateComponent.GetStateCategory(t),
            });

    protected override async Task<bool> ComputeState(CancellationToken cancellationToken) {
        var screenSize = await BrowserInfo.ScreenSize.Use(cancellationToken).ConfigureAwait(false);
        if (!screenSize.IsNarrow())
            return false;

        return await SearchUI.IsResultsNavigationOn.Use(cancellationToken);
    }
}
