.navigate-to-end {
    @apply relative z-button;
}
.navigate-to-end .btn {
    transform-origin: center center;
}

/* Animation */
.navigate-to-end.off-to-on .btn,
.navigate-to-end.off-to-on .unread-counter {
    opacity: 1;
    transform: scale(1) translateY(0);
    transition: opacity 150ms ease-in-out, transform 300ms ease-in-out;
}
.navigate-to-end.on-to-off .btn,
.navigate-to-end.on-to-off .unread-counter {
    opacity: 0;
    transform: scale(0) translateY(1rem);
    transition: opacity 300ms ease-in-out, transform 150ms ease-in-out;
}
.navigate-to-end.off .btn,
.navigate-to-end.off .unread-counter {
    opacity: 0;
    transform: scale(0) translateY(1rem);
}

.navigate-to-end > .c-content {
    @apply absolute bottom-3 md:bottom-0 right-3 z-10;
    @apply flex-y items-center justify-center;
    @apply shadow-scrollbar;
}
body.hoverable .navigate-to-end > .c-content {
    @apply right-0;
    @apply p-3 pl-8;
}
.navigate-to-end .unread-counter {
    @apply z-10;
    @apply -mb-2;
    @apply text-06;
    @apply cursor-pointer;
}
.navigate-to-end .btn.btn-round {
    @apply rounded-full border border-modal;
    @apply bg-01;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.15);
}
.navigate-to-end .btn.btn-round {
    @apply font-bold text-4xl;
}
