@namespace ActualChat.UI.Blazor.App.Components
@using ActualChat.Kvas
@inherits ComputedStateComponent<bool>

<Banner
    IsVisible="@State.Value"
    Severity="BannerSeverity.Warning"
    ShowDismissButton="true"
    Dismiss="@OnDismiss">
    <Icon>
        <i class="icon-bell text-2xl"></i>
    </Icon>
    <Body>
        You are the only person in this chat!
    </Body>
    <Buttons>
        <Button
            Class="btn-transparent unhovered"
            Click="@OnInviteClick">Add members</Button>
    </Buttons>
</Banner>

@code {
    private static readonly TimeSpan DismissDuration = TimeSpan.FromDays(7);

    private ISyncedState<Moment> _dismissedAt = null!;
    private ILogger? _log;

    private ChatUIHub Hub => ChatContext.Hub;
    private Session Session => Hub.Session();
    private Chat Chat => ChatContext.Chat;
    private IRoles Roles => Hub.Roles;
    private IAuthors Authors => Hub.Authors;
    private AccountSettings AccountSettings => Hub.AccountSettings();
    private EditMembersUI EditMembersUI => Hub.EditMembersUI;
    private ChatListUI ChatListUI => Hub.ChatListUI;
    private ModalUI ModalUI => Hub.ModalUI;
    private MomentClockSet Clocks => Hub.Clocks();
    private ILogger Log => _log ??= Hub.LogFor(GetType());

    [Parameter, EditorRequired] public ChatContext ChatContext { get; set; } = null!;

    protected override void OnInitialized() {
        var chatId = Chat.Id;
        var dismissChatId = Chat is { Kind: ChatKind.Place,IsPublic: true } ? Chat.Id.PlaceId.ToRootChatId() :  chatId;
        var key = $"AddChatMembersBanner_DismissedAt_{dismissChatId.Value}";
        _dismissedAt = StateFactory.NewKvasSynced<Moment>(new(AccountSettings, key));
    }

    protected override ComputedState<bool>.Options GetStateOptions()
        => ComputedStateComponent.GetStateOptions(GetType(),
            static t => new ComputedState<bool>.Options() {
                InitialValue = false,
                UpdateDelayer = FixedDelayer.NextTick,
                Category = ComputedStateComponent.GetStateCategory(t),
            });

    protected override async Task<bool> ComputeState(CancellationToken cancellationToken) {
        var chat = Chat;
        var chatId = chat.Id;
        if (!_dismissedAt.WhenFirstTimeRead.IsCompleted)
            await _dismissedAt.WhenFirstTimeRead.ConfigureAwait(false);

        if (!EditMembersUI.CanAddMembers(chat))
            return false;

        var dismissedAt = await _dismissedAt.Use(cancellationToken).ConfigureAwait(false);
        if (dismissedAt + DismissDuration > Clocks.ServerClock.Now)
            return false;

        var allAuthorIds = await Authors.ListAuthorIds(Session, chatId, cancellationToken).ConfigureAwait(false);
        if (allAuthorIds.Count > 1)
            return false;

        var ownerIds = await Roles.ListOwnerIds(Session, chatId, cancellationToken).ConfigureAwait(false);
        var hasRegularMembers = allAuthorIds.Except(ownerIds).Any();
        if (hasRegularMembers)
            return false;

        return true;
    }

    // Event handlers

    private void OnDismiss()
        => _dismissedAt.Value = Clocks.ServerClock.Now;

    private void OnInviteClick()
        => ModalUI.Show(new AddMemberModal.Model(Chat.Id));
}
