.banner.reconnect-banner  {
    @apply relative overflow-hidden;
    @apply gap-x-2;
    @apply h-10;
    @apply border-none;
    @apply animate-opacity-from-0;
    background:
        linear-gradient(to left, var(--indigo-70-10), var(--magenta-70-20)),
        var(--background-01);
}
.banner.reconnect-banner::after {
    @apply content-empty;
    @apply absolute inset-0;
    @apply opacity-70;
    @apply pointer-events-none;
    background: linear-gradient(
        90deg,
        transparent 0%,
        var(--magenta-70-20) 50%,
        transparent 100%
    );
    animation: reconnect-wave 3s infinite ease-in-out;
}
@keyframes reconnect-wave {
    0%   { transform: translateX(-100%); }
    100% { transform: translateX(100%); }
}
.banner.reconnect-banner::before {
    @apply content-empty;
    @apply absolute inset-0;
    @apply p-0.5;
    @apply rounded-lg;
    @apply pointer-events-none;
    background: linear-gradient(to right, var(--indigo-70-10), var(--magenta-70-20));
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}
.banner.reconnect-banner i {
    @apply text-2xl text-danger;
}
.banner.reconnect-banner .banner-body {
    @apply flex-1 flex-x items-center gap-x-2;
}
.banner.reconnect-banner .banner-body > .c-main-text {
    @apply text-caption-1;
}
body.narrow .banner.reconnect-banner .banner-body > .c-main-text.desktop {
    @apply hidden;
}
.banner.reconnect-banner .banner-body > .c-secondary-text {
    @apply text-caption-4;
}
.banner.reconnect-banner .banner-body .reconnect-countdown {
    @apply text-caption-4;
}
.banner.reconnect-banner .btn.btn-transparent {
    @apply text-caption-1;
}
.left-panel .reconnect-banner {
    @apply self-center;
    width: calc(100% - 1rem);
}

/* ── Incoming call banner ── */

.incoming-call-banner .c-texts {
    @apply flex-x items-center justify-start;
    @apply cursor-pointer;
}
.incoming-call-banner .avatar-badge .c-content {
    @apply p-0;
}

/* ── Outgoing-call banner ── */

.banner.outgoing-call-banner {
    @apply h-auto min-h-12;
    @apply my-1;
}
.outgoing-call-banner .c-icon {
    @apply text-01;
}
.outgoing-call-banner .banner-body {
    @apply flex-x items-center justify-center;
}
.outgoing-call-banner .c-text {
    @apply text-caption-1 text-01;
}
.outgoing-call-banner .banner-buttons .btn-h.btn-close-call i {
    @apply text-02;
}
