@namespace ActualChat.UI.Blazor.App.Components

<Banner IsVisible="@true" Severity="BannerSeverity.Default" Class="talking-members-banner subheader">
    <Icon></Icon>
    <Body>
        <TalkingMembersPanel ChatContext="@ChatContext"/>
    </Body>
</Banner>

@code {
    private Chat Chat => ChatContext.Chat;
    private ChatUIHub Hub => ChatContext.Hub;
    private ChatActivity ChatActivity => Hub.ChatActivity;

    private IChatStreamingActivity? ChatRecordingActivity { get; set; }

    [Parameter, EditorRequired] public ChatContext ChatContext { get; set; } = null!;

    protected override async Task OnParametersSetAsync() {
        ChatRecordingActivity?.Dispose();
        ChatRecordingActivity = Chat.Id.IsNone ? null
            : await ChatActivity.GetStreamingActivity(Chat.Id, CancellationToken.None);
        await base.OnParametersSetAsync();
    }
}
