@namespace ActualChat.UI.Blazor.App.Components

<div class="left-panel-content-header">
    <LeftChatSearchInput />
    <div class="c-content">
        <div class="c-title">
            Chats
        </div>
    </div>
</div>
