[*.cs]
# CA1707: Identifiers should not contain underscores
# Justification: Test method names contain underscores
# https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1707
dotnet_diagnostic.CA1707.severity = none
# Unit1031: Test methods must not use blocking task operations,
# as they can cause deadlocks. Use an async test method and await instead.
# https://xunit.net/xunit.analyzers/rules/xUnit1031
dotnet_diagnostic.xUnit1031.severity = none
