@using Stl.Extensibility
@namespace ActualChat.UI.Blazor.Components
@implements IModalView<IosSafariModal.Model>
@attribute [MatchFor(typeof(Model), typeof(IModalView))]

<DialogFrame Class="guide-modal" HasHeader="false">
    <Body>
    <GuideHeader OnCloseClick="OnCancel" OnOkClick="OnCancel"/>

    <img src="/dist/images/guide/mic-access.svg" alt="mic access">
    <div class="c-text text-title-1">
        Allow access to mic in 3 steps
    </div>
    <div class="c-text font-normal">
        To use it for recording voice messages. Here are the guide how to enable microphone permission in the Safari
        or Chrome mobile browser.
    </div>

    <div class="c-text text-headline-1">
        1. Tap in the browser app to the central button
    </div>
    <img src="/dist/images/guide/ios-safari-01.svg" alt="iOS/Safari/01">

    <div class="c-text text-headline-1">
        2. Go to Settings for websites > Microphone
    </div>
    <img src="/dist/images/guide/ios-safari-02.svg" alt="iOS/Safari/02">

    <div class="c-text text-headline-1">
        3. Allow access to your mic for Actual.chat
    </div>
    <img src="/dist/images/guide/ios-safari-03.svg" alt="iOS/Safari/03">

    </Body>
</DialogFrame>

@code {
    [Inject] private Session Session { get; init; } = null!;
    [Inject] private UICommander UICommander { get; init; } = null!;

    [CascadingParameter] public Modal Modal { get; set; } = null!;
    [Parameter] public Model ModalModel { get; set; } = null!;

    private void OnCancel()
        => Modal.Close();

    public sealed record Model;
}
