@namespace ActualChat.Chat.UI.Blazor.Components
@using BlazorContextMenu

<div class="fixed"> @* use fixed class to eliminate space style coming from NavGroup *@
    <ContextMenu Id="@Id">
        <ChildContent>
            <CascadingValue Value="@(context.Data as UserContact)">
                <ContactContextMenuAddToFavorites />
            </CascadingValue>
        </ChildContent>
    </ContextMenu>
</div>

@code{
    public const string Id = "contextMenu-contactList-chat";
}
