@page "/test/embedded"

<RequireAccount MustBeAdmin="true"/>
<h2>Embedded Test Page</h2>

<p>
    <iframe id="chatFrame"
            class="min-w-88 min-h-120"
            style="
               border: none;
               box-shadow: 5px 5px 10px #CCC;"
            src="https://local.actual.chat/embedded/the-actual-one"
            referrerpolicy="origin-when-cross-origin"
            loading="lazy"
            sandbox="allow-downloads allow-scripts allow-same-origin"
            allow="microphone *; storage-access-api *; sync-xhr *; document-domain *">
    </iframe>
</p>
