@page "/test/maui"

<RequireAccount MustBeAdmin="true"/>
<h2>MAUI Test Page</h2>

<BackendStatusTest />
<ExternalImageTest />

<div>
    <Button Click="OnSimulateAppCrashClicked">Simulate App crash</Button>
</div>

@code {
    [Inject] private IServiceProvider Services { get; set; } = null!;

    private void OnSimulateAppCrashClicked()
        => Services.GetService<IMauiTestPageBackend>()?.SimulateAppCrash();

    public interface IMauiTestPageBackend {
        void SimulateAppCrash();
    }
}
