@import './Components/Avatar/avatar.css';
@import './Components/Badge/badge.css';
@import './Components/Banner/banner.css';
@import './Components/BlazorModeToggle/blazor-mode-toggle.css';
@import './Components/Button/button.css';
@import './Components/Bubble/bubble.css';
@import './Components/Bubble/bubble-content.css';
@import './Components/Checkbox/checkbox.css';
@import './Components/Clipboard/clipboard.css';
@import './Components/DiscardModal/discard.css';
@import './Components/Dropdown/dropdown.css';
@import './Components/ErrorBarrier/error-barrier.css';
@import './Components/Feedback/feedback.css';
@import './Components/Form/form.css';
@import './Components/Form/toggle.css';
@import './Components/InviteList/invite-list.css';
@import './Components/Lines/lines.css';
@import './Components/Menu/menu.css';
@import './Components/Modal/modal.css';
@import './Components/Overlays/loading-overlay.css';
@import './Components/Overlays/reconnect-overlay.css';
@import './Components/Pic/pic.css';
@import './Components/PicUpload/pic-upload.css';
@import './Components/Radio/radio.css';
@import './Components/SearchBox/search-box.css';
@import './Components/SearchBoxNew/search-box-new.css';
@import './Components/SettingsPanel/settings-panel.css';
@import './Components/SignIn/Modal/sign-in-modal.css';
@import './Components/SideNav/side-nav.css';
@import './Components/Share/share-modal.css';
@import './Components/Skeleton/skeleton.css';
@import './Components/Stepper/stepper.css';
@import './Components/TabPanel/tab-panel.css';
@import './Components/TextBox/text-box.css';
@import './Components/Tooltip/tooltip.css';
@import './Components/TotpInput/totp-input.css';
@import './Components/VirtualList/virtual-list.css';
@import './Components/VisualMediaViewerModal/visual-media-viewer-modal.css';

@import './Services/ScreenSize/screen-size.css';
