@using ActualChat.UI.Blazor.Module
@implements IAsyncDisposable

<div @ref="TooltipRef" class="ac-tooltip">
    @ChildContent
    <div @ref="ArrowRef" class="ac-tooltip-arrow"></div>
</div>

@code {
    private ElementReference TooltipRef { get; set; }
    private ElementReference ArrowRef { get; set; }
    private IJSObjectReference JSRef { get; set; } = null!;
    private DotNetObjectReference<Tooltip> BlazorRef { get; set; } = null!;

    [Inject] private IJSRuntime JS { get; init; } = null!;

    [Parameter, EditorRequired] public ForwardRef TriggerForwardRef { get; set; } = null!;
    [Parameter] public TooltipOptions Options { get; set; } = TooltipOptions.Default;
    [Parameter] public RenderFragment ChildContent { get; set; } = null!;

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            BlazorRef = DotNetObjectReference.Create(this);
            var identifier = $"{BlazorUICoreModule.ImportName}.Tooltip.create";
            JSRef = await JS.InvokeAsync<IJSObjectReference>(
                identifier,
                TriggerForwardRef.Current,
                TooltipRef,
                ArrowRef,
                BlazorRef,
                Options);
        }
    }

    public async ValueTask DisposeAsync() {
        await JSRef.DisposeSilentlyAsync("dispose");
        JSRef = null!;
        BlazorRef.DisposeSilently();
        BlazorRef = null!;
    }
}
