@using ActualChat.UI.Blazor.Module
@namespace ActualChat.UI.Blazor.Components
@implements IAsyncDisposable

<div class="ac-tooltip">
    <div class="ac-tooltip-text"></div>
    <div class="ac-tooltip-arrow"></div>
</div>

@code {
    private static readonly string JSCreateMethod = $"{BlazorUICoreModule.ImportName}.TooltipHost.create";

    private IJSObjectReference _jsRef = null!;
    private DotNetObjectReference<TooltipHost> _blazorRef = null!;

    [Inject] private IJSRuntime JS { get; init; } = null!;

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            _blazorRef = DotNetObjectReference.Create(this);
            _jsRef = await JS.InvokeAsync<IJSObjectReference>(JSCreateMethod, _blazorRef);
        }
    }

    public async ValueTask DisposeAsync() {
        await _jsRef.DisposeSilentlyAsync("dispose");
        _jsRef = null!;
        _blazorRef.DisposeSilently();
        _blazorRef = null!;
    }
}
