@namespace ActualChat.UI.Blazor.Components
@implements IContextMenuBackend
@implements IAsyncDisposable
@using ActualChat.UI.Blazor.Module
@{
    var menuClass = "context-menu " + MenuClass;
}

<CascadingValue Value="@this" IsFixed="true">
    <div @ref="Ref" class="context-menu @Class">
        <button class="context-menu-button @ButtonClass" @onclick="_ => Toggle()">
            <div class="context-menu-button-inner">
                @ButtonTemplate
            </div>
        </button>
        @if (_isOpen) {
            <div class="context-menu-menu @MenuClass">
                <div class="select-none relative p-1 flex-y context-menu-menu-inner">
                    @MenuTemplate
                </div>
            </div>
        }
    </div>
</CascadingValue>

@code {
    [Inject] private IJSRuntime JS { get; init; } = null!;

    private DotNetObjectReference<IContextMenuBackend>? BlazorRef { get; set; } = null!;
    private IJSObjectReference? JSRef { get; set; } = null!;
    private ElementReference Ref { get; set; }
    private bool _isOpen;

    [Parameter] public string Class { get; set; } = "";
    [Parameter] public string ButtonClass { get; set; } = "";
    [Parameter] public string MenuClass { get; set; } = "";
    [Parameter] public RenderFragment? ButtonTemplate { get; set; }
    [Parameter] public RenderFragment? MenuTemplate { get; set; }
    [Parameter] public EventCallback<bool> OpenStateChanged { get; set; }

    public bool IsOpen {
        get => _isOpen;
        set {
            if (_isOpen == value)
                return;
            _isOpen = value;
            OpenStateChanged.InvokeAsync(value);
            StateHasChanged();
        }
    }

    public async ValueTask DisposeAsync()
    {
        if (JSRef != null) {
            try {
                await JSRef.InvokeVoidAsync("dispose").ConfigureAwait(true);
                await JSRef.DisposeAsync().ConfigureAwait(true);
            }
            catch (JSDisconnectedException) { }
            JSRef = null;
        }
        if (BlazorRef != null) {
            BlazorRef.Dispose();
            BlazorRef = null;
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            BlazorRef = DotNetObjectReference.Create<IContextMenuBackend>(this);
            JSRef = await JS.InvokeAsync<IJSObjectReference>(
                $"{BlazorUICoreModule.ImportName}.ContextMenu.create",
                Ref, BlazorRef
                ).ConfigureAwait(true);
        }
    }

    [JSInvokable]
    public Task Toggle(bool? mustOpen = null) {
        IsOpen = mustOpen ?? !IsOpen;
        return Task.CompletedTask;
    }
}
