@namespace ActualChat.UI.Blazor.Components

<div class="context-menu-container">
    <RenderStack Name="@RenderStackName" />
</div>

@code {
    public const string RenderStackName = nameof(ContextMenuContainer);
}
