@namespace ActualChat.UI.Blazor.Components

<button class="@Class" id="@Id" onclick="@OnClick">
    <div class="context-button-child">
        @ChildContent
    </div>
</button>

@code {
    [Parameter] public string Class { get; set; } = "";
    [Parameter] public string Id { get; set; } = "";
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public EventCallback OnClick { get; set; }
}
