.context-menu-container {
    @apply fixed;
    z-index: 200;
}

.blazor-context-menu--horizontal {
    position: fixed;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px 0;
}

.blazor-context-menu__list--horizontal {
    @apply flex-x gap-x-0.5;
}

.blazor-context-menu__item--horizontal {
    text-align: left;
    white-space: nowrap;
    position: relative;
    cursor: pointer;
}

/* BlazorContextMenu overridden classes */

.context-menu {
    @apply rounded-xl p-1;
}
.context-menu-list {
    @apply p-0;
}
.context-menu-item {
    @apply !flex rounded-xl h-10 whitespace-nowrap;
}
.context-menu-item:hover {
    @apply bg-round-hover;
}
.context-menu-item:hover .context-menu-icon {
    @apply text-primary;
}
.context-menu-content {
    @apply flex-x gap-x-2 items-center;
}
.context-menu-text {
    @apply w-full text-02 text-base font-medium ml-2 mr-6;
}
.context-menu-icon {
    @apply text-icons-01;
}
.context-menu-separator {
    @apply h-0 mx-2 my-1 border-b border-bg-04 bg-transparent;
}
.context-menu-separator > * {
    @apply bg-transparent border-0 m-0 p-0;
}
/* Important ContextMenuItem */
.context-menu-item.important-item .context-menu-icon,
.context-menu-item.important-item.off .context-menu-icon,
.context-menu-item.important-item .context-menu-text,
.context-menu-item.important-item.off .context-menu-text {
    @apply text-primary;
}
.context-menu-item.important-item.on .context-menu-icon,
.context-menu-item.important-item.on .context-menu-text {
    @apply text-error;
}
.context-menu-item.important-item.on:hover {
    @apply bg-error-hover;
}
/* Warning Menu Item */
.context-menu-item.warning-item:hover {
    @apply bg-error-hover;
}
.context-menu-item.warning-item:hover .context-menu-icon,
.context-menu-item.warning-item:hover .context-menu-text {
    @apply text-error;
}
