.context-menu-old-button {
    @apply transition duration-150 ease-in-out outline-none;
    @apply fill-current;
    @apply max-w-max;
    @apply text-base font-semibold text-03;
    @apply p-1 mx-0 min-w-0;
}

.context-menu-old-button.show-on-hover {
    @apply invisible z-20 absolute;
}

.context-menu-old .context-menu-old-menu {
    @apply bg-context-menu border border-bg-02 p-1;
}
