@namespace ActualChat.UI.Blazor.Components
@using ActualChat.Users
@using ActualChat.UI.Blazor.Services
@using TaskExt = ActualLab.Async.TaskExt
@using ActualChat.Hosting
@inherits Step;

@{
    var phone = PhoneSignInModel.Phone;
    @if (CurrentStep != this || phone is null)
        return;
}

<div class="sign-in-step verify-phone-step" @onclick="@TryFocusTotpInput">
    <div class="flex-x flex-1 justify-center">
        <phone-verification-cat-svg/>
    </div>
    <div class="c-text-container">
        <p class="c-title">Enter the code</p>
        <p class="c-text">
            Please verify your phone number to enable sign-in with it and to allow your friends to find your account
            in their list of contacts on Actual Chat
        </p>
    </div>
    <TotpVerifier @ref="_totpVerifier" Purpose="TotpPurpose.SignIn" Phone="@phone.Value" Verified="OnTotpVerified"/>
</div>

@code {
    private TotpVerifier? _totpVerifier;

    [Inject] private UrlMapper UrlMapper { get; init; } = null!;
    [Inject] private History History { get; init; } = null!;
    [Inject] private HostInfo HostInfo { get; init; } = null!;

    [Parameter, EditorRequired] public PhoneSignInModel PhoneSignInModel { get; set; } = null!;
    [CascadingParameter] public Modal Modal { get; set; } = null!;

    protected override Task<bool> Save() {
        Modal.Close();
        _ = History.NavigateTo(Links.Chats);
        return TaskExt.TrueTask;
    }

    protected override Task<bool> Validate()
        => TaskExt.TrueTask;

    private Task TryFocusTotpInput()
        => _totpVerifier?.Focus().AsTask() ?? Task.CompletedTask;

    private Task OnTotpVerified()
        => Stepper.TryMoveForward().AsTask();
}
