@namespace ActualChat.UI.Blazor.Components

<Stepper Context="stepper">
    <Header>
        @if (!stepper.CanMoveBack) {
            <div class="sign-in-modal-header">Sign-in to Actual Chat</div>
        } else {
            <ButtonRound
                Class="transparent"
                Click="@stepper.MoveBack">
                <i class="icon-arrow-left text-2xl"></i>
            </ButtonRound>
            <div class="sign-in-modal-header">Back</div>
        }
    </Header>
    <Steps>
        <ProviderSelectStep PhoneSignInModel="_model"/>
        <VerifyPhoneStep PhoneSignInModel="_model"/>
    </Steps>
</Stepper>

@code {
    private PhoneSignInModel _model = new();
}
