@namespace ActualChat.UI.Blazor.Components

<Stepper Context="stepper">
    <Header>
        @if (!stepper.CanMoveBack) {
            <div class="sign-in-modal-header-wrapper">
                <div class="sign-in-modal-header">Sign-in to Actual Chat</div>
                @if (!string.IsNullOrEmpty(Reason)) {
                    <div class="sign-in-modal-reason">@Reason</div>
                }
            </div>
        } else {
            <ButtonRound
                Class="transparent"
                Click="@(_ => stepper.MoveBack())">
                <i class="icon-arrow-left text-2xl"></i>
            </ButtonRound>
            <div class="sign-in-modal-header">Back</div>
        }
    </Header>
    <Steps>
        <ProviderSelectStep PhoneSignInModel="_model"/>
        <CompletePhoneSignInStep PhoneSignInModel="_model"/>
    </Steps>
</Stepper>

@code {
    private PhoneSignInModel _model = new();

    [Parameter] public string Reason { get; set; } = "";
}
