@namespace ActualChat.Chat.UI.Blazor.Components
@inherits AuthorBadgeBase
@{
    var m = State.LatestNonErrorValue;
}

<div class="min-w-fit">
    <AvatarCircle
        Avatar="@m.Author.Avatar" Size="SquareSize.Size4" Presence="@m.Presence"
        Click="@Click"/>
</div>

@code {
    [Parameter] public EventCallback<MouseEventArgs> Click { get; set; }

    public QuotedMessageAuthorCircle() {
        ShowsPresence = false;
        ShowsRecording = true;
    }
}
