@using ActualChat.UI.Blazor.Module
@using ActualChat.UI.Blazor.Services
@namespace ActualChat.Chat.UI.Blazor.Components
@{
    var displayLink = new ShareRequest(Link).GetDisplayLink();
}

<div class="link-info">
    <div class="c-icon">
        <i class="icon-link-2 text-xl"></i>
    </div>
    <div class="c-body">
        <div class="c-link">
            @displayLink
        </div>
    </div>
    <div class="c-right">
        <CopyTrigger CopyTextSourceRef="@CopyTextSource">
            <ButtonRound
                ContentClass="flex-x gap-x-1"
                Class="transparent">
                <i class="hide-on-copied-hint icon-copy text-xl" aria-hidden="true"></i>
                <i class="copied-hint fa fa-check text-xl" aria-hidden="true"></i>
            </ButtonRound>
        </CopyTrigger>
    </div>
</div>

@code {
    [Inject] private UrlMapper UrlMapper { get; init; } = null!;

    [Parameter, EditorRequired] public LocalUrl Link { get; set; } = null!;
    [Parameter] public ElementReference? CopyTextSource { get; set; }
}
