/* image line */
.message-attachments .message-image-attachments {
    @apply w-fit;
}
.image-line {
    @apply flex-x gap-x-px;
    @apply max-w-96;
    @apply overflow-hidden;
}
.message-image-attachments.one-row .image-line:not(.one-image) {
    @apply w-full h-full;
}
.message-image-attachments .image-line:first-child {
    @apply rounded-t-xl;
}
.message-image-attachments .image-line:last-child {
    @apply rounded-b-xl;
}

.image-line .image-item {
    @apply /*flex-1*/ flex-x;
}
body.hoverable .image-line .image-item:hover {
    filter: brightness(1.1);
}
.image-line .image-item a {
    @apply flex-1 flex;
}
.image-line .image-item video {
    @apply object-cover;
}
.line-height-sm {
    @apply h-12 md:h-16;
}
.line-height-md {
    @apply h-16 md:h-20;
}
.line-height-lg {
    @apply h-28 md:h-32;
}
.line-height-xl {
    @apply h-40 md:h-48;
}
.image-line.sm-sm {
    @apply h-64 md:h-80;
}
.image-line.sm-md {
    @apply h-48 md:h-64;
}
.image-line.md-md {
    @apply h-32 md:h-40;
}
.image-line.lg-lg {
    @apply h-24 md:h-32;
}
.image-line.xl-xl {
    @apply h-18 md:h-24;
}
.one-row .image-line.sm-sm {
    @apply h-64 md:h-80;
}
.one-row .image-line.sm-md {
    @apply h-48 md:h-64;
}
.one-row .image-line.md-md {
    @apply h-40 md:h-48;
}
.one-row .image-line.one-image {
    @apply h-full w-fit;
}
.one-row .image-line.one-image.sm-sm {
    @apply max-h-96;
}
.one-row .image-line.one-image .image-item {
    @apply max-w-full;
}

.message-image-attachments.one-row:has(.sm-sm),
.message-image-attachments.one-row:has(.sm-md) {
    @apply max-w-80;
}
.message-image-attachments.one-row .sm-sm .image-item {
    @apply max-w-32 md:max-w-40;
}
.message-image-attachments.one-row .md-md .image-item {
    @apply max-w-40 md:max-w-48;
}
.message-image-attachments.one-row .one-image .image-item {
    @apply max-w-full;
}
.message-image-attachments.one-row .one-image.sm-sm .image-item {
    @apply max-w-48;
}

/* attachment */
.image-attachment, .file-attachment {
    @apply flex-x;
    @apply overflow-hidden;
}
.image-attachment {
    @apply relative;
    @apply w-full;
}
.image-attachment > .c-content {
    @apply flex;
    @apply cursor-pointer;
}
.image-attachment image-skeleton.show-image-skeleton {
    @apply bg-skeleton rounded-md animate-pulse;
    @apply w-full;
}
.image-attachment image-skeleton.show-image-original:before {
    @apply content-empty;
    @apply absolute inset-0 z-minus;
    @apply bg-03;
}
.image-attachment image-skeleton {
    @apply w-full;
}
.image-attachment image-skeleton::part(image) {
    object-fit: cover;
}

/* File Attachment */
.file-attachment {
    @apply gap-x-2;
    @apply min-w-64 max-w-80;
    @apply p-1 pr-4;
    @apply rounded-full border border-separator;
    @apply bg-01;
}
body.hoverable .file-attachment:hover,
.touch-capable .file-attachment:active {
    filter: brightness(1.1);
}
.file-attachment .c-file-icon {
    @apply relative;
    @apply flex-none flex items-center justify-center;
    @apply w-10 h-10;
    @apply rounded-full;
    @apply overflow-hidden;
    @apply text-white;
}
.file-attachment .c-file-info {
    @apply flex-y justify-between;
    @apply w-full;
    @apply overflow-hidden;
}
.file-attachment .c-title {
    @apply w-64;
    @apply line-clamp-1;
    @apply text-headline-1 text-02;
}
.file-attachment .c-normal-title {
    @apply flex-x;
    @apply text-headline-1 text-02;
}
.file-attachment .c-normal-title .c-start {
    @apply truncate;
}
.file-attachment .c-normal-title .c-end {
    @apply flex-none;
}

.file-attachment .c-bottom {
    @apply flex-x justify-between;
}
.file-attachment .c-size {
    @apply flex-x gap-x-2;
    @apply text-caption-4 text-03;
}
.file-attachment .c-open {
    @apply text-caption-4 text-primary;
}

.file-image {
    @apply bg-[var(--violet-60)];
}
.file-multimedia {
    @apply bg-[var(--magenta-70)];
}
.file-pdf {
    @apply bg-[var(--red-70)];
}
.file-table {
    @apply bg-[var(--emerald-40)];
}
.file-text {
    @apply bg-[var(--blue-70)];
}
.file-archive {
    @apply bg-[var(--sienna-70)];
}
.file-attachment .c-file-icon.file-default {
    @apply bg-cancel;
    @apply text-primary;
}
