@namespace ActualChat.Audio.UI.Blazor.Pages
@page "/test/audio-recorder"

<div class="px-6 pt-4 flex flex-col">
    <h1 class="block text-3xl text-bold">Audio recorder test page</h1>
    <div class="mt-6 text-xl text-bold p-3">
        <button @onclick="@(() => ToggleRecording())" class="px-3 py-2 @(IsRecording ? "bg-red-200" : "bg-yellow-200") rounded-lg"> @(IsRecording ? "StopTask" : "Record")</button>
    </div>
    <div class="mt-3 text-xl text-bold p-3" @ref="_recordsRef">
    </div>
</div>
