@inherits ComputedStateComponent<TestListItem>
@inject VirtualListTestService Service
@{
    var item = State.Value;
}

<div class="m-1" style="font-size: @(item.FontSize)em">
    <div style="font-weight: bold">@item.Title</div>
    <div>@item.Description</div>
</div>

@code {
    [Parameter] public TestListItemRef ItemRef { get; set; } = null!;

    protected override ComputedState<TestListItem>.Options GetStateOptions()
        => ComputedStateComponent.GetStateOptions(GetType(),
            static t => new ComputedState<TestListItem>.Options() {
                InitialValue = new(0, "Loading..."),
                Category = ComputedStateComponent.GetStateCategory(t),
            });

    protected override Task<TestListItem> ComputeState(CancellationToken cancellationToken)
        => Service.GetItem(ItemRef, cancellationToken);
}
