@namespace ActualChat.UI.Blazor.Components
<div class="@Class @Color badge" @onclick="Click">
    <span>@ChildContent</span>
</div>

@code {
    [Parameter] public string Class { get; set; } = "";
    [Parameter] public string Color { get; set; } = "bg-primary";
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public EventCallback Click { get; set; }
}
