@namespace ActualChat.UI.Blazor.Components
<div class="@Class badge">
    <div class="h-6 p-0.5 rounded-full">
            <span>@ChildContent</span>
    </div>
</div>

@code {
    [Parameter] public string Class { get; set; } = "";
    [Parameter] public string Color { get; set; } = "bg-primary";
    [Parameter] public RenderFragment? ChildContent { get; set; }
}
