@namespace ActualChat.Chat.UI.Blazor.Components
@using ActualChat.Audio.UI.Blazor
@implements IChatMessageEditorBackend
@implements IAsyncDisposable
@inject IChatService _chats
@inject Session _session
@inject UICommandRunner _cmd
@inject IJSRuntime _js

<div class="sticky bottom-0 self-end bg-white w-full">
    <div class="flex flex-row justify-between mx-3 my-2">
        <AuthorizeView>
            <Authorized>
                <div id="chat-message-editor-input" class="flex-1 p-2 mr-1 outline-none rounded-xl border-2 break-all border-gray-400 hover:border-gray-500 focus:border-gray-800 border-opacity-25" autocomplete="off" autocorrect="off" spellcheck="true" aria-expanded="false" aria-autocomplete="list" aria-multiline="true" aria-label="Message" dir="auto" contenteditable="true" role="textbox"></div>
            </Authorized>
            <NotAuthorized>
                <div class="flex-1 p-2 mr-1 outline-none rounded-xl border-2 break-all border-gray-300 hover:border-gray-200 bg-gray-100 border-opacity-10"></div>
            </NotAuthorized>
        </AuthorizeView>
        <div class="flex flex-row h-full px-1 justify-center justify-items-center">
            <AuthorizeView>
                <Authorized>
                    <button @onclick="Post" class="block px-3 py-2 text-green-500">
                        <svg class="items-center fill-current" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28">
                            <path d="M24 0l-6 22-8.129-7.239 7.802-8.234-10.458 7.227-7.215-1.754 24-12zm-15 16.668v7.332l3.258-4.431-3.258-2.901z" />
                        </svg>
                    </button>
                    <AudioRecorder ChatId="@ChatId" />
                </Authorized>
                <NotAuthorized>
                    <SignInDropdown Why="to chat" CssClass="px-3" />
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </div>
</div>

@code {
    // TODO(AY): Add some store that remembers typed messages
    private string Message { get; set; } = "";

    private IJSObjectReference _jsRef = null!;
    private DotNetObjectReference<IChatMessageEditorBackend> _blazorRef = null!;

    [Parameter]
    public string ChatId { get; set; } = "";

    public async ValueTask DisposeAsync()
    {
        await _jsRef.DisposeSilentAsync().ConfigureAwait(true);
        _blazorRef?.Dispose();
    }

    private async Task Post()
    {
        if (ChatId.IsNullOrEmpty() || Message.IsNullOrEmpty())
            return;
        var (_, ce) = await _cmd.Run(new ChatCommands.Post(_session, ChatId, Message));
        if (ce.IsFailed)
            return;
        await _jsRef.InvokeVoidAsync("clearMessage", Array.Empty<object?>());
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender) {
            _blazorRef = DotNetObjectReference.Create<IChatMessageEditorBackend>(this);
            _jsRef = await _js.InvokeAsync<IJSObjectReference>($"{ChatBlazorUIModule.ImportName}.ChatMessageEditor.create", _blazorRef);
            await _jsRef.InvokeVoidAsync("addEventListener", Array.Empty<object?>());
        }
    }

    [JSInvokable]
    public void SetMessage(string message)
    {
        if (message.IsNullOrEmpty() || message == Message) return;

        Message = message;
        StateHasChanged();
    }

}
