.message-input::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.not-recording {
    @apply text-secondary;
}

.recording {
    @apply text-toggle-on;
}

[contenteditable=true]:empty:not(:focus):before{
    @apply text-placeholder truncate text-xs md:text-sm;
    content:attr(data-text)
}

.toggle-button {
    @apply text-secondary;
}

.toggle-button-on {
    @apply text-toggle-on;
}

.chat-control-button {
    @apply outline-none justify-center bg-accent rounded-md;
}

.chat-control-button:hover {
    @apply md:bg-primary;
}

.text-mode .post-message {
    @apply flex md:hidden animate-display-from-left md:animate-instant-display;
}

.text-mode .recorder-button {
    @apply hidden md:flex;
}

.text-mode .audio-wave {
    @apply hidden;
}

.text-mode .language-button {
    @apply hidden;
}

.text-mode .player-button {
    @apply flex;
}

.record-mode .post-message {
    @apply hidden;
}

.record-mode .recorder-button {
    @apply flex;
}

.record-mode .audio-wave {
    @apply flex md:hidden;
}

.record-mode .language-button {
    @apply flex animate-display-from-right;
}

.record-mode .player-button {
    @apply flex;
}

.audio-wave-svg-main:nth-child(1),
.audio-wave-svg-main:nth-child(6),
.audio-wave-svg-main:nth-child(11),
.audio-wave-svg-main:nth-child(16),
.audio-wave-svg-main:nth-child(21),
.audio-wave-svg-main:nth-child(26) {
    animation: audio 500ms infinite;
}

.audio-wave-svg-main:nth-child(2),
.audio-wave-svg-main:nth-child(7),
.audio-wave-svg-main:nth-child(12),
.audio-wave-svg-main:nth-child(17),
.audio-wave-svg-main:nth-child(22),
.audio-wave-svg-main:nth-child(27) {
    animation: audio 575ms infinite;
}

.audio-wave-svg-main:nth-child(3),
.audio-wave-svg-main:nth-child(8),
.audio-wave-svg-main:nth-child(13),
.audio-wave-svg-main:nth-child(18),
.audio-wave-svg-main:nth-child(23),
.audio-wave-svg-main:nth-child(28) {
    animation: audio 650ms infinite;
}

.audio-wave-svg-main:nth-child(4),
.audio-wave-svg-main:nth-child(9),
.audio-wave-svg-main:nth-child(14),
.audio-wave-svg-main:nth-child(19),
.audio-wave-svg-main:nth-child(24),
.audio-wave-svg-main:nth-child(29) {
    animation: audio 725ms infinite;
}

.audio-wave-svg-main:nth-child(5),
.audio-wave-svg-main:nth-child(10),
.audio-wave-svg-main:nth-child(15),
.audio-wave-svg-main:nth-child(20),
.audio-wave-svg-main:nth-child(25),
.audio-wave-svg-main:nth-child(30) {
    animation: audio 800ms infinite;
}

@keyframes audio {
    0% {
        transform: scaleY(0.3);
    }
    50% {
    transform: scaleY(3);
    }
    100% {
        transform: scaleY(0.2);
    }
}
