.chat-message-editor {
    @apply bg-05 md:bg-01;
}
.message-input::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.message-input {
    @apply flex-1 overflow-y-auto max-h-36 md:max-h-72 ml-2 md:ml-6 mr-2;
    @apply break-all outline-none hover:cursor-text text-counter md:text-02 bg-05 md:bg-03;
}
.post-panel {
    @apply bg-05 md:bg-03 rounded-3xl min-h-3 items-center outline-none;
}

.not-recording {
    @apply text-03;
}

.recording {
    @apply text-toggle-on;
}

[contenteditable=true]:empty:not(:focus):before {
    @apply text-placeholder truncate text-xs md:text-base;
    content:attr(data-text)
}

.btn.btn-round.post-message {
    @apply sticky self-end outline-none text-05 pr-1 mr-2 hidden;
}

.text-mode .btn.btn-round.post-message {
    @apply flex md:hidden animate-display-from-left md:animate-none;
}

.text-mode .recorder-buttons .btn {
    @apply disabled;
}

.record-mode .btn.btn-round.post-message {
    @apply hidden;
}

.record-mode .language-button {
    @apply flex animate-scale-from-right;
}

.attachment-list {
    @apply flex justify-start mx-2 my-2 py-2 px-2 overflow-x-auto w-full;
    @apply grid grid-flow-col auto-cols-auto divide-x-2 divide-bg-04 divide-dashed;
    @apply border-4 border-primary rounded-xl;
}
.clear-attachments-btn.btn.btn-round {
    @apply relative min-w-12 self-center;
}
.clear-attachments-btn.btn.btn-round .btn-content {
    @apply bg-error text-error-title min-w-full;
}
.post-attachments-btn.btn.btn-round {
    @apply hidden md:flex relative min-w-12 self-center;
}
.post-attachments-btn.btn.btn-round .btn-content {
    @apply bg-primary text-primary-title min-w-full;
}
.attachment-wrapper {
    @apply relative mr-2 pl-2 first:pl-0 last:mr-0;
    max-width: 12rem;
    min-width: 12rem;
}
.attachment-item {
    @apply relative p-3 rounded-none grid overflow-y-auto overflow-x-hidden;
    min-height: 10rem;
    max-height: 12rem;
}
.attachment-wrapper .btn.btn-round {
    @apply w-8 h-8 text-white m-0 self-center;
}
.attachment-wrapper .btn.btn-round .btn-content {
    @apply bg-primary;
}
.attachment-wrapper .btn.btn-round:hover .btn-content {
    @apply bg-error-ring;
}
.attach-btn.btn.btn-round {
    @apply self-start;
}
.attach-btn.btn.btn-round .btn-content {
    @apply bg-05 md:bg-03 text-05 md:text-icons-01;
}
.attach-dropdown-menu {
    @apply absolute bottom-2;
}

.recorder-panel {
    @apply hidden;
    @apply md:flex-x justify-center;
    @apply bg-01 outline-none;
    @apply rounded-none;
    @apply self-stretch md:self-end;
}
.recorder-panel .playback-toggle .chat-playback-toggles {
    @apply rounded-lg;
}
.recorder-panel .playback-toggle {
    @apply flex flex-1 rounded-full w-fit h-fit self-end;
}
.playback-toggle .btn.btn-round {
    @apply rounded-full;
}
.playback-toggle .btn.btn-round .btn-content {
    @apply min-h-3 min-w-3 max-h-3 max-w-3 items-center justify-center rounded-full;
}

.recorder-panel .recorder-buttons .recorder-button .btn-round.audio-recorder-toggle {
    @apply flex flex-1 rounded-full w-fit h-fit self-end;
}
.btn-round.audio-recorder-toggle .btn-content {
    @apply bg-primary text-primary-title min-h-3 min-w-3 max-h-3 max-w-3 items-center justify-center;
}
.btn-round.audio-recorder-toggle:hover .btn-content {
    @apply bg-primary-hover text-primary-title min-h-3 min-w-3 max-h-3 max-w-3 items-center justify-center;
}
.btn-round.audio-recorder-toggle.recorder-disabled .btn-content {
    @apply bg-round;
}
.btn-round.audio-recorder-toggle.recorder-disabled:hover .btn-content {
    @apply bg-round;
}

.recorder-panel .chat-playback-toggles {
    @apply mr-0.5;
}

/*.audio-recorder-toggle.btn.btn-round {*/
/*    @apply w-full rounded-lg md:rounded-l-2xl md:rounded-r-none;*/
/*}*/

.btn.audio-recorder-toggle.on .btn-content {
    @apply bg-recorder-on;
}

.btn.audio-recorder-toggle.on svg {
    filter: drop-shadow(0px 0px 5px rgb(239 68 68 / 0.7));
}

.btn.chat-language-toggle {
    @apply relative md:-right-4 md:-ml-4;
}
