.chat-message-editor {
    @apply bg-05 md:bg-01;
}
.message-input::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.message-input {
    @apply flex-1 overflow-y-auto max-h-36 md:max-h-72 ml-2 md:ml-6 mr-2;
    @apply break-all outline-none hover:cursor-text text-counter md:text-02 bg-05 md:bg-03;
}
.post-panel {
    @apply bg-05 md:bg-03 rounded-3xl min-h-3 items-center outline-none;
}

.not-recording {
    @apply text-03;
}

.recording {
    @apply text-toggle-on;
}

[contenteditable=true]:empty:not(:focus):before {
    @apply text-placeholder truncate text-base;
    content:attr(data-text)
}
.notify-call-panel,
.notify-call-panel.panel-closed {
    @apply flex flex-row-reverse right-0 h-8 w-auto bg-transparent;
}
.notify-call-panel.panel-opening {
    @apply bg-05 md:bg-transparent;
}
.notify-call-panel.panel-closed {
    @apply gap-x-0;
}
.btn.btn-round.notify-call-toggle {
    @apply flex self-end outline-none text-05 md:text-icons-01 p-0 h-8 bg-05 md:bg-03 pr-1;
}
.panel-closed .notify-call-content * {
    @apply w-0 scale-0;
}
.panel-opening .btn.btn-round.notify-call-toggle {
    @apply scale-0 animate-notify-toggle-hide w-0;
}
.panel-closing .btn.btn-round.notify-call-toggle {
    @apply scale-100 animate-notify-toggle-show;
}
.btn.btn-round.notify-call-toggle .btn-content {
    @apply rounded-full bg-transparent;
    min-width: 2rem;
    min-height: 2rem;
}
.notify-call-content,
.panel-closed .notify-call-content {
    @apply relative right-4 flex-x gap-x-4 md:gap-x-8 justify-end w-0 opacity-0 w-0;
}
.panel-opening .notify-call-content {
    @apply relative w-full opacity-100 animate-notify-panel-opening translate-x-0 -mt-1 -mr-4;
    @apply md:-translate-x-0 md:-mr-5 md:mt-0;
}
.panel-closing .notify-call-content {
    @apply w-0 opacity-0 animate-notify-panel-closing translate-x-full;
}
.notify-call-content .btn {
    @apply rounded-full min-h-0 h-auto px-0 min-w-0;
    @apply bg-06 text-04 border-bg-06;
}
.notify-call-content .btn.notify-all-btn {
    @apply md:bg-04 md:border-bg-04 md:text-03;
}
.notify-call-content .btn.call-all-btn {
    @apply md:bg-primary md:border-primary md:text-04;
}
.notify-call-content .btn .btn-content{
    @apply rounded-full mx-0 items-center;
}
.notify-call-content .btn.close-btn {
    @apply flex self-end outline-none text-04 md:text-icons-01 p-0 mr-2 h-8;
    @apply bg-transparent;
}
.notify-call-content .btn.close-btn .btn-content{
    @apply rounded-full mx-0 items-center bg-transparent;
    min-width: 2rem;
    min-height: 2rem;
}
.text-mode .notify-call-panel {
    @apply hidden;
}

.btn.btn-round.post-message {
    @apply sticky self-end outline-none text-04 md:text-05 p-2 mr-2 hidden;
}

.text-mode .btn.btn-round.post-message {
    @apply flex md:hidden animate-display-from-left md:animate-none;
}

.text-mode .recorder-buttons .btn {
    @apply disabled;
}

.record-mode .btn.btn-round.post-message {
    @apply hidden;
}

.record-mode .language-button {
    @apply flex animate-scale-from-right;
}

.attachment-list {
    @apply flex justify-start mx-2 my-2 py-2 px-2 overflow-x-auto w-full;
    @apply grid grid-flow-col auto-cols-auto divide-x-2 divide-bg-04 divide-dashed;
    @apply border-4 border-primary rounded-xl;
}
.clear-attachments-btn.btn.btn-round {
    @apply relative min-w-12 self-center;
}
.clear-attachments-btn.btn.btn-round .btn-content {
    @apply bg-error text-error-title min-w-full;
}
.post-attachments-btn.btn.btn-round {
    @apply hidden md:flex relative min-w-12 self-center;
}
.post-attachments-btn.btn.btn-round .btn-content {
    @apply bg-primary text-primary-title min-w-full;
}
.attachment-wrapper {
    @apply relative mr-2 pl-2 first:pl-0 last:mr-0;
    max-width: 12rem;
    min-width: 12rem;
}
.attachment-item {
    @apply relative p-3 rounded-none grid overflow-y-auto overflow-x-hidden;
    min-height: 10rem;
    max-height: 12rem;
}
.attachment-wrapper .btn.btn-round {
    @apply w-8 h-8 text-04 m-0 self-center;
}
.attachment-wrapper .btn.btn-round .btn-content {
    @apply bg-primary;
}
.attachment-wrapper .btn.btn-round:hover .btn-content {
    @apply bg-error-ring;
}
.attach-btn.btn.btn-round {
    @apply self-start;
}
.attach-btn.btn.btn-round .btn-content {
    @apply bg-05 md:bg-03 text-05 md:text-icons-01;
}
.attach-dropdown-menu {
    @apply absolute bottom-2;
}

/* Desktop control panel */
.recorder-panel {
    @apply hidden;
    @apply md:-flex-x justify-center;
    @apply bg-01 outline-none;
    @apply rounded-none gap-x-2.5;
    @apply self-stretch md:self-end;
}
.recorder-panel > div {
    @apply flex flex-1 rounded-full w-fit h-fit self-end;
}
.recorder-panel .desktop-button {
    @apply flex rounded-full;
}
.recorder-panel .recorder-wrapper {
    @apply border justify-center flex h-14 w-14 relative top-1 border-primary;
}
.recorder-panel .recorder-wrapper .btn {
    @apply self-center m-0.5;
}
.recorder-panel .recorder-wrapper .record-off-btn.btn .btn-content {
    @apply bg-primary text-04;
}
.recorder-panel .recorder-wrapper .record-on-btn.btn .btn-content {
    @apply bg-error text-04;
}
.recorder-panel .recorder-wrapper.record-off,
.recorder-panel-control-panel .recorder-wrapper.record-on-to-off {
    @apply border-primary transition-colors duration-700;
}
.recorder-panel .recorder-wrapper.record-on,
.recorder-panel .recorder-wrapper.record-off-to-on {
    @apply border-error transition-colors duration-700;
}
.recorder-panel .recorder-wrapper .record-on-btn.btn .btn-content {
    @apply shadow-mobile-button shadow-error-hover;
}
.recorder-panel .recorder-wrapper .record-off-btn.btn .btn-content {
    @apply shadow-lg shadow-secondary;
}
.recorder-panel .recorder-wrapper.record-off .record-on-btn.btn {
    @apply scale-0 absolute;
}
.recorder-panel .recorder-wrapper.record-off .record-off-btn.btn {
    @apply scale-100;
}
.recorder-panel .recorder-wrapper.record-off-to-on .record-off-btn.btn {
    @apply animate-scale-to-5 scale-0 absolute;
}
.recorder-panel .recorder-wrapper.record-off-to-on .record-on-btn.btn {
    @apply animate-scale-to-full scale-100;
}
.recorder-panel .recorder-wrapper.record-on .record-off-btn.btn {
    @apply scale-0 absolute;
}
.recorder-panel .recorder-wrapper.record-on .record-on-btn.btn {
    @apply scale-100;
}
.recorder-panel .recorder-wrapper.record-on-to-off .record-on-btn.btn {
    @apply animate-scale-to-5 scale-0 absolute;
}
.recorder-panel .recorder-wrapper.record-on-to-off .record-off-btn.btn {
    @apply animate-scale-to-full scale-100;
}

.btn.chat-language-toggle {
    @apply font-semibold text-base;
}
