@namespace ActualChat.Chat.UI.Blazor.Components
@implements IChatMessageEditorBackend
@using ActualChat.Chat.UI.Blazor.Services
@using ActualChat.Audio.UI.Blazor.Components
@using ActualChat.Chat.UI.Blazor.Module
@implements IAsyncDisposable
@inject IChats _chatService
@inject Session _session
@inject UICommandRunner _cmd
@inject IJSRuntime _js

<div class="@(_class ??= this.DefaultClass()) sticky bottom-0 self-end bg-secondary w-full">
    <div class="flex flex-row justify-between px-3 my-1">
        @if (RealtimePlayer != null) {
            <ChatPlayerToggle Player="RealtimePlayer"/>
        }
        <button class="block py-2 px-4 ml-2 rounded-l-full outline-none hover:cursor-pointer bg-accent text-primary">
            <svg class="fill-current h-4 w-4 text-secondary hover:text-primary" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <path d="M11 9h4v2h-4v4H9v-4H5V9h4V5h2v4zm-1 11a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16z" />
            </svg>
        </button>
        <div @ref="Ref" class="message-input block overflow-y-auto max-h-12 break-words flex-1 md:pl-2 py-2 outline-none hover:cursor-text bg-accent text-primary focus:text-secondary"
             autocomplete="off" autocorrect="off" spellcheck="true" aria-expanded="false" aria-autocomplete="list"
             aria-multiline="true" aria-label="Message" dir="auto" contenteditable="true" role="textbox">
        </div>
        <div class="block flex flex-row justify-center justify-items-center outline-none bg-accent rounded-r-full mr-2 md:mr-8 pl-2">
            <button @onclick="_ => Post()" @ref="PostRef" class="post-message outline-none py-2 pr-3 text-secondary rounded-r-full bg-transparent max-h-12 hidden transition-all duration-150">
                <svg class="items-center fill-current" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="-1 -2 28 28">
                    <path d="M24 0l-6 22-8.129-7.239 7.802-8.234-10.458 7.227-7.215-1.754 24-12zm-15 16.668v7.332l3.258-4.431-3.258-2.901z"/>
                </svg>
            </button>
            <span @ref="RecorderRef">
                <AudioRecorder ChatId="@Chat.Id"/>
            </span>
        </div>
    </div>
</div>

@code {
    private static string? _class;

    [Inject] private ChatPlayers ChatPlayers { get; set; } = null!;
    private ElementReference Ref { get; set; }
    private ElementReference PostRef { get; set; }
    private ElementReference RecorderRef { get; set; }
    private IJSObjectReference JSRef { get; set; } = null!;
    private DotNetObjectReference<IChatMessageEditorBackend> BlazorRef { get; set; } = null!;
    private ChatPlayer? RealtimePlayer { get; set; }
    // TODO(AY): Add some store that remembers typed messages
    private string Text { get; set; } = "";

    [Parameter, EditorRequired, ParameterComparer(typeof(ByReferenceParameterComparer))]
    public Chat Chat { get; set; } = null!;

    protected override async Task OnInitializedAsync()
        => RealtimePlayer = await ChatPlayers.GetRealtimePlayer(Chat.Id);

    public async ValueTask DisposeAsync() {
        if (JSRef != null!)
            await JSRef.DisposeSilentlyAsync().ConfigureAwait(true);
    // ReSharper disable once ConstantConditionalAccessQualifier
        BlazorRef?.Dispose();
    }

    public override Task SetParametersAsync(ParameterView parameters)
        => this.HasChangedParameters(parameters) ? base.SetParametersAsync(parameters) : Task.CompletedTask;

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            BlazorRef = DotNetObjectReference.Create<IChatMessageEditorBackend>(this);
            JSRef = await _js.InvokeAsync<IJSObjectReference>(
                $"{ChatBlazorUIModule.ImportName}.ChatMessageEditor.create",
                Ref, PostRef, RecorderRef, BlazorRef
                ).ConfigureAwait(true);
            await JSRef.InvokeVoidAsync("setText", Text).ConfigureAwait(true);
        }
    }

    [JSInvokable]
    public void UpdateClientSideState(string? text) {
        Text = text ?? "";
    }

    [JSInvokable]
    public async Task Post(string? text = null)
    {
        if (text != null)
            Text = text;
        if (Text.IsNullOrEmpty())
            return;

        var (_, ce) = await _cmd.Run(new IChats.CreateEntryCommand(_session, Chat.Id, Text)).ConfigureAwait(true);
        if (!ce.IsFailed)
            await JSRef.InvokeVoidAsync("setText", "").ConfigureAwait(true);
    }
}
