@using ActualChat.Audio.UI.Blazor
@inject IChatService _chats
@inject Session _session
@inject UICommandRunner _cmd

<AuthorizeView>
    <Authorized>
        <form @onsubmit="Post">
            <button>Send</button>
            <AudioRecorder ChatId="@ChatId" />
        </form>
    </Authorized>
    <NotAuthorized>
        <SignInDropdown Why="to chat" />
    </NotAuthorized>
</AuthorizeView>

@code {
    // TODO(AY): Add some store that remembers typed messages
    private string Message { get; set; } = "";

    [Parameter]
    public string ChatId { get; set; } = "";

    private async Task Post()
    {
        if (ChatId.IsNullOrEmpty())
            return;
        var (_, ce) = await _cmd.Run(new ChatCommands.Post(_session, ChatId, Message));
        if (ce.IsFailed)
            return;
        Message = "";
    }
}
