.message-input::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.message-input {
    @apply flex-1 overflow-y-auto max-h-36 md:max-h-72 my-4 ml-3 mr-1 md:mr-3;
    @apply break-words outline-none hover:cursor-text text-primary;
}

.not-recording {
    @apply text-secondary;
}

.recording {
    @apply text-toggle-on;
}

[contenteditable=true]:empty:not(:focus):before {
    @apply text-placeholder truncate text-xs md:text-base;
    content:attr(data-text)
}

.recorder-buttons > *:hover button {
    @apply md:bg-primary;
}

.text-mode .post-message {
    @apply flex md:hidden animate-display-from-left md:animate-none;
}

.text-mode .recorder-buttons {
    @apply hidden;
}

.record-mode .post-message {
    @apply hidden;
}
.record-mode .recorder-buttons {
    @apply flex-row;
}
.record-mode .language-button {
    @apply flex animate-scale-from-right;
}

.attachment-item {
    min-width: 200px;
    max-width: 200px;
    min-height: 200px;
    max-height: 200px;
}

.attach-dropdown-menu {
    @apply rounded-md p-1 absolute bottom-14 -left-1 shadow-context;
}

.attach-dropdown-menu.menu {
    @apply border border-context-border;
}

.recorder-buttons {
    @apply flex-none rounded-2xl bg-accent ml-3;
}

.btn.audio-recorder-toggle.on {
    @apply text-recorder-on;
}

.btn.audio-recorder-toggle.on svg {
    filter: drop-shadow(0px 0px 5px rgb(239 68 68 / 0.7));
}
