.message-input::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.not-recording {
    @apply text-secondary;
}

.recording {
    @apply text-toggle-on;
}

[contenteditable=true]:empty:not(:focus):before {
    @apply text-placeholder truncate text-xs md:text-sm;
    content:attr(data-text)
}

.recorder-buttons > *:hover button {
    @apply md:bg-primary;
}

.text-mode .post-message {
    @apply flex md:hidden animate-display-from-left md:animate-none;
}

.text-mode .recorder-buttons {
    @apply hidden;
}

.record-mode .post-message {
    @apply hidden;
}
.record-mode .recorder-buttons {
    @apply flex-row;
}
.record-mode .language-button {
    @apply flex animate-display-from-right;
}

.attachment-item {
    min-width: 200px;
    max-width: 200px;
    min-height: 200px;
    max-height: 200px;
}

.recorder-buttons {
    @apply flex-none rounded-2xl bg-accent ml-3;
}
