@namespace ActualChat.Chat.UI.Blazor.Components
@{
    var panelCls = _panelState switch {
        PanelState.Closed => "panel-closed",
        PanelState.Opening => "panel-opening",
        PanelState.Closing => "panel-closing",
        _ => "",
    };
}

<div class="@panelCls notify-call-panel">
    @if (_enableIncompleteUI) {
        <HeaderButton Class="post-panel-btn notify-call-toggle" Click="@OnClick">
            <i class="icon-hand text-2xl"></i>
        </HeaderButton>
    }
    <div class="notify-call-content">
        <div class="actions">
            <Button Class="notify-btn btn-transparent">
                <Icon><i class="icon-at text-2xl"></i></Icon>
                <Title>Notify</Title>
            </Button>
            everyone
        </div>
        <HeaderButton Class="close-btn" Click="OnClick">
            <i class="icon-close text-2xl"></i>
        </HeaderButton>
    </div>
</div>

@code {
    enum PanelState {
        Closed = 0,
        Opening,
        Closing,
    }

    private bool _enableIncompleteUI;
    private PanelState _panelState = PanelState.Closed;

    [Inject] private Features Features { get; init; } = null!;

    protected override async Task OnInitializedAsync() {
        _enableIncompleteUI = await Features.Get<Features_EnableIncompleteUI, bool>(CancellationToken.None);
    }

    public void Close() {
        _panelState = PanelState.Closing;
        StateHasChanged();
    }

    private void OnClick() {
        _panelState = _panelState switch {
            PanelState.Closed => PanelState.Opening,
            PanelState.Opening => PanelState.Closing,
            PanelState.Closing => PanelState.Opening,
            _ => PanelState.Closed,
        };
    }

    private void OnNotifyClick()
        => Close();

    private void OnCloseClick()
        => Close();
}
