@namespace ActualChat.Chat.UI.Blazor.Components

@{
    var panelCls = _panelState switch {
        PanelState.Opening => "panel-opening",
        PanelState.Closing => "panel-closing",
        _ => "panel-closed",
        };
}

<div class="notify-call-panel @panelCls">
    <ButtonRound Class="notify-call-toggle" Click="OnClick">
        <svg class="fill-current w-8 h-8" viewBox="-1 0 26 26" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.8743 10.1687C13.0743 10.4688 13.3743 10.6687 13.7743 10.6687C13.9743 10.6687 14.1743 10.5688 14.3743 10.4688C14.8743 10.1687 14.9743 9.46875 14.6743 8.96875L10.1743 2.46875C9.87432 1.96875 9.17432 1.86875 8.67432 2.16875C8.17432 2.46875 8.07432 3.16875 8.37432 3.66875L12.8743 10.1687ZM10.8745 11.6688C10.4745 11.6688 10.1745 11.4688 9.97451 11.1688L5.57451 4.76885C5.27451 4.26885 5.37451 3.56885 5.87451 3.26885C6.37451 2.96885 6.97451 3.06885 7.37451 3.56885L11.7745 9.96885C12.0745 10.4688 11.9745 11.1688 11.4745 11.4688C11.2745 11.5688 11.0745 11.6688 10.8745 11.6688ZM19.8744 11.2687C19.8744 11.2687 19.8744 11.3687 19.9744 11.3687C20.8744 12.5687 21.3744 14.0687 21.3744 15.5687C21.3744 19.4687 18.1744 22.6687 14.2744 22.6687C11.9744 22.6687 9.77443 21.5687 8.47443 19.6687L3.17443 11.9687C2.87443 11.4687 2.97443 10.8687 3.37443 10.4687C3.87443 10.1687 4.57443 10.2687 4.87443 10.7687L10.0744 18.5687C11.0744 19.8687 12.5744 20.6687 14.1744 20.6687C16.9744 20.6687 19.1744 18.3687 19.1744 15.6687C19.1744 14.5687 18.7744 13.5687 18.1744 12.6687C18.0744 12.5687 17.9994 12.4437 17.9244 12.3187C17.8494 12.1937 17.7744 12.0687 17.6744 11.9687C16.4744 12.8687 15.6744 14.3687 15.6744 15.9687C15.6744 16.2687 15.6744 16.6687 15.7744 16.9687C15.8744 17.5687 15.5744 18.1687 14.9744 18.2687H14.7744C14.2744 18.2687 13.8744 17.8687 13.7744 17.3687C13.6744 16.9687 13.6744 16.4687 13.6744 15.9687C13.6744 13.5687 14.7744 11.3687 16.7744 10.0687C16.7744 9.96865 16.8744 9.96865 16.8744 9.96865C16.0744 7.76865 15.8744 5.36865 15.8744 4.96865C15.8744 4.46865 16.2744 3.86865 16.8744 3.86865C17.3744 3.86865 17.9744 4.26865 17.9744 4.86865C18.0744 6.16865 18.5744 9.86865 19.8744 11.2687ZM8.87431 14.0688C8.47431 14.0688 8.17431 13.8688 7.97431 13.5688L3.77431 7.4688C3.37431 6.9688 3.57431 6.2688 4.07431 5.9688C4.47431 5.6688 5.17431 5.7688 5.47431 6.2688L9.77431 12.3688C10.0743 12.8688 9.97431 13.5688 9.47431 13.8688C9.27431 13.9688 9.07431 14.0688 8.87431 14.0688Z"/>
        </svg>
    </ButtonRound>
    <div class="notify-call-content">
        <Button Class="notify-all-btn" Click="OnNotifyClick">
            <div class="w-full px-4 flex-x items-center gap-x-2">
                <svg class="fill-current w-6 h-6" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.1817 15.0907C9.47772 15.0907 8.09072 13.7037 8.09072 11.9997C8.09072 10.2957 9.47772 8.9087 11.1817 8.9087C12.8857 8.9087 14.2727 10.2957 14.2727 11.9997C14.2727 13.7037 12.8857 15.0907 11.1817 15.0907ZM12.9547 2.0437C9.95372 1.7617 7.01872 2.8247 4.90572 4.9527C2.79172 7.0797 1.75072 10.0227 2.05072 13.0257C2.40872 16.5977 4.65972 19.7077 7.92672 21.1407C9.23372 21.7137 10.6197 21.9947 11.9957 21.9947C14.1637 21.9947 16.3087 21.2957 18.0797 19.9397C18.5187 19.6037 18.6017 18.9757 18.2657 18.5367C17.9297 18.0997 17.3027 18.0167 16.8637 18.3517C14.5457 20.1267 11.4297 20.4907 8.72972 19.3087C6.16172 18.1827 4.32272 15.6387 4.04072 12.8257C3.80072 10.4207 4.63272 8.0647 6.32472 6.3617C8.01472 4.6597 10.3667 3.8077 12.7697 4.0357C16.8247 4.4127 19.9997 8.0097 19.9997 12.2247V12.8997C19.9997 13.3677 19.8137 13.8037 19.4747 14.1277C19.1367 14.4517 18.6887 14.6177 18.2217 14.5977C17.3277 14.5587 16.5997 13.7177 16.5997 12.7237V8.3997C16.5997 7.8467 16.1527 7.3997 15.5997 7.3997C15.0907 7.3997 14.6887 7.7827 14.6247 8.2747C13.7167 7.4347 12.5127 6.9087 11.1817 6.9087C8.37472 6.9087 6.09072 9.1937 6.09072 11.9997C6.09072 14.8067 8.37472 17.0907 11.1817 17.0907C12.8817 17.0907 14.3807 16.2447 15.3057 14.9607C15.9507 15.9007 16.9737 16.5447 18.1337 16.5957C19.1467 16.6497 20.1207 16.2777 20.8577 15.5727C21.5947 14.8677 21.9997 13.9187 21.9997 12.8997V12.2247C21.9997 6.9877 18.0277 2.5167 12.9547 2.0437Z"/>
                </svg>
                <div>
                    Notify all
                </div>
            </div>
        </Button>
        <Button Class="call-all-btn" Click="OnCallClick">
            <div class="w-full px-4 flex-x items-center gap-x-2">
                <svg class="fill-current w-6 h-6" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M6.6 4C5.166 4 4 5.166 4 6.6C4 13.988 10.011 20 17.4 20C18.833 20 20 18.834 20 17.4C20 17.289 19.993 17.18 19.979 17.072L15.359 16.012C15.267 16.188 15.166 16.379 15.074 16.557C14.618 17.427 14.288 18.059 13.446 17.72C10.14 16.56 7.441 13.86 6.266 10.514C5.909 9.729 6.589 9.373 7.451 8.923C7.626 8.831 7.815 8.732 7.988 8.642L6.928 4.021C6.817 4.007 6.709 4 6.6 4ZM17.4 22C8.908 22 2 15.092 2 6.6C2 4.063 4.063 2 6.6 2C6.86 2 7.117 2.022 7.366 2.065C7.609 2.104 7.853 2.166 8.091 2.248C8.416 2.361 8.661 2.634 8.738 2.97L10.107 8.934C10.183 9.262 10.088 9.606 9.854 9.85C9.718 9.992 9.715 9.995 8.475 10.644C9.479 12.818 11.224 14.557 13.354 15.527C14.004 14.286 14.008 14.282 14.15 14.146C14.394 13.912 14.74 13.821 15.066 13.893L21.031 15.262C21.366 15.339 21.639 15.583 21.751 15.908C21.833 16.144 21.895 16.388 21.936 16.639C21.978 16.886 22 17.142 22 17.4C22 19.937 19.936 22 17.4 22Z"/>
                </svg>
                <div>
                    Call all
                </div>
            </div>
        </Button>
        <ButtonRound Class="close-btn" Click="OnClick">
            <svg class="fill-current w-8 h-8" viewBox="-1 0 26 26" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M13.4141 12L17.7071 7.70701C18.0981 7.31601 18.0981 6.68401 17.7071 6.29301C17.3161 5.90201 16.6841 5.90201 16.2931 6.29301L12.0001 10.586L7.70713 6.29301C7.31613 5.90201 6.68413 5.90201 6.29313 6.29301C5.90213 6.68401 5.90213 7.31601 6.29313 7.70701L10.5861 12L6.29313 16.293C5.90213 16.684 5.90213 17.316 6.29313 17.707C6.48813 17.902 6.74413 18 7.00013 18C7.25613 18 7.51213 17.902 7.70713 17.707L12.0001 13.414L16.2931 17.707C16.4881 17.902 16.7441 18 17.0001 18C17.2561 18 17.5121 17.902 17.7071 17.707C18.0981 17.316 18.0981 16.684 17.7071 16.293L13.4141 12Z"/>
            </svg>
        </ButtonRound>
    </div>
</div>

@code {
    enum PanelState {
        Closed,
        Opening,
        Closing,
    }

    private PanelState _panelState = PanelState.Closed;

    private void OnClick() {
        _panelState = _panelState switch
        {
            PanelState.Closed => PanelState.Opening,
            PanelState.Opening => PanelState.Closing,
            PanelState.Closing => PanelState.Opening,
            _ => PanelState.Closed,
            };
    }
    private void OnNotifyClick() {}
    private void OnCallClick() {}
    private bool _isOpen;

}
