@namespace ActualChat.Chat.UI.Blazor.Components
@inject FeedbackUI FeedbackUI;

@{
    var panelCls = _panelState switch {
        PanelState.Opening => "panel-opening",
        PanelState.Closing => "panel-closing",
        _ => "panel-closed",
        };
}

<div class="notify-call-panel @panelCls">
    <ButtonRound Class="notify-call-toggle blackout" Click="OnClick">
        <i class="icon-hand text-2xl"></i>
    </ButtonRound>
    <div class="notify-call-content">
        <Button Class="notify-all-btn" Click="@(() => FeedbackUI.AskFeatureRequestFeedback("notify-call-panel/notify-all", "Notify all"))">
            <div class="w-full px-4 flex-x items-center gap-x-2">
                <i class="icon-at text-2xl"></i>
                <div>
                    Notify all
                </div>
            </div>
        </Button>
        <Button Class="call-all-btn" Click="@(() => FeedbackUI.AskFeatureRequestFeedback("notify-call-panel/call-all", "Call all"))">
            <div class="w-full px-4 flex-x items-center gap-x-2">
                <i class="icon-phone text-2xl"></i>
                <div>
                    Call all
                </div>
            </div>
        </Button>
        <ButtonRound Class="close-btn blackout" Click="OnClick">
            <i class="icon-close text-2xl"></i>
        </ButtonRound>
    </div>
</div>

@code {
    enum PanelState {
        Closed,
        Opening,
        Closing,
    }

    private PanelState _panelState = PanelState.Closed;

    private void OnClick() {
        _panelState = _panelState switch
        {
            PanelState.Closed => PanelState.Opening,
            PanelState.Opening => PanelState.Closing,
            PanelState.Closing => PanelState.Opening,
            _ => PanelState.Closed,
            };
    }
}
