@using ActualChat.Chat.UI.Blazor.Module
@namespace ActualChat.Chat.UI.Blazor.Components

@if (Count < 10) {
    <li class="attachment-wrapper last-element">
        <ButtonRound Class="add-attachment" Click="@AddClick">
            <i class="icon-plus text-2xl text-icons-01"></i>
        </ButtonRound>
    </li>
}

@code {
    [Parameter] public int Count { get; set; }
    [Parameter] public EventCallback AddClick { get; set; }
}
