@namespace ActualChat.UI.Blazor.Components

<div class="stepper">
    <CascadingValue Value="@this" IsFixed="true">
        @if (Header != null) {
            <div class="stepper-header">
                @Header.Invoke(this)
            </div>
        }
        <div class="stepper-body">
            @if (Steps != null) {
                <div class="stepper-content">
                    @Steps.Invoke(this)
                </div>
            }
            @if (Footer != null) {
                <div class="stepper-footer">
                    @Footer.Invoke(this)
                </div>
            }
        </div>
    </CascadingValue>
</div>

@code {
    private readonly List<Step> _steps = new();
    private Step? _currentStep;

    [Parameter] public RenderFragment<Stepper>? Header { get; set; }
    [Parameter] public RenderFragment<Stepper>? Footer { get; set; }
    [Parameter] public RenderFragment<Stepper>? Steps { get; set; }

    public void AddStep(Step step) {
        _steps.Add(step);
        if (_steps.Count == 1) {
            _currentStep = step;
        }
        StateHasChanged();
    }

    public int StepCount => _steps.Count;
    public int LastStepIndex => Math.Max(0, _steps.Count - 1);
    public int CurrentStepIndex => _currentStep is { } currentStep ? _steps.IndexOf(currentStep) : -1;
    public bool CanMoveForward => CurrentStepIndex is var i and >= 0 && i < LastStepIndex;
    public bool CanMoveBack => CurrentStepIndex > 0;
    public Step? CurrentStep => _currentStep;

    public async ValueTask<bool> TryMoveForward() {
        if (_currentStep == null)
            return false;
        if (!await _currentStep.TryComplete())
            return false;

        var nextStepIndex = CurrentStepIndex + 1;
        if (nextStepIndex >= StepCount)
            return true;

        var previousStep = _currentStep;
        _currentStep = _steps[nextStepIndex];
        previousStep.NotifyStateHasChanged();
        _currentStep.NotifyStateHasChanged();
        return true;
    }

    public void MoveBack() {
        if (_currentStep == null)
            return;

        var nextStepIndex = CurrentStepIndex - 1;
        if (nextStepIndex < 0)
            return;

        var previousStep = _currentStep;
        _currentStep = _steps[nextStepIndex];
        previousStep.NotifyStateHasChanged();
        _currentStep.NotifyStateHasChanged();
    }
}
