@namespace ActualChat.UI.Blazor.Components

@if (Stepper.CurrentStep != this) {
    return;
}

<div class="step">
    @ChildContent?.Invoke(Stepper)
</div>

@code {
    [CascadingParameter] public Stepper Stepper { get; set; } = null!;
    [Parameter] public RenderFragment<Stepper>? ChildContent { get; set; }

    protected override void OnInitialized() {
        Stepper.AddStep(this);
    }
}
