@inherits FusionComponentBase
@namespace ActualChat.Chat.UI.Blazor.Components

<div class="contact-select-badges">
    @foreach (var contact in ContextModel.GetSelectedChats()) {
        <div class="contact-select-badges-contact"
             @onclick="() => ContextModel.Remove(contact.Id)">
            <div class="contact-select-badges-remove-contact-icon">
                <i class="icon-close"></i>
            </div>
            <ChatIcon Chat="@contact.Chat" Size="SquareSize.Size6" />
            <div class="contact-select-badges-title">
                @contact.Chat.Title
            </div>
        </div>
    }
</div>

@code {
    [CascadingParameter] public ContactSelectContext.Model ContextModel { get; set; } = null!;

    protected override void OnInitialized()
        => ContextModel.Changed += (_, _) => StateHasChanged();
}
