@page "/test/features"
@using ActualChat.UI.Blazor.Services
@using ActualChat.Hosting
@inherits ComputedStateComponent<FeaturesTestPage.Model>
@{
    var m = State.Value;
}

<RequireAccount MustBeAdmin="true"/>
<MainHeader>Features Test Page</MainHeader>

<p>Client user: @(m.ClientUser?.Name ?? "n/a")</p>
<p>Server time: @(m.ServerTime)</p>
<p>Enable incomplete UI: @(m.EnableIncompleteUI)</p>
<p>Environment: @(m.Environment)</p>

@code {
    [Inject] private Features Features { get; init; } = null!;
    [Inject] private HostInfo HostInfo { get; init; } = null!;

    protected override ComputedState<Model>.Options GetStateOptions()
        => ComputedStateComponent.GetStateOptions(GetType(),
            static t => new ComputedState<Model>.Options() {
                InitialValue = Model.None,
                Category = ComputedStateComponent.GetStateCategory(t),
            });

    protected override async Task<Model> ComputeState(CancellationToken cancellationToken) {
        var hostInfo = HostInfo;
        return new() {
            ClientUser = await Features.Get<TestFeature_ClientUser, User?>(cancellationToken).ConfigureAwait(false),
            ServerTime = await Features.Get<TestFeature_ServerTime, Moment>(cancellationToken).ConfigureAwait(false),
            EnableIncompleteUI = await Features.Get<Features_EnableIncompleteUI, bool>(cancellationToken).ConfigureAwait(false),
            Environment = hostInfo.Environment.Value,
        };
    }

    // Nested types

    public sealed record Model
    {
        public static readonly Model None = new();

        public User? ClientUser { get; init; }
        public Moment ServerTime { get; init; }
        public bool EnableIncompleteUI { get; init; }
        public Symbol Environment { get; init; }
    }
}
