@page "/test/fusion"

<MainHeader>Fusion Test Page</MainHeader>

<Button Click="OnInvalidateEverything">Invalidate Everything</Button>

@code {
    private Task OnInvalidateEverything() {
        ComputedRegistry.Instance.InvalidateEverything();
        return Task.CompletedTask;
    }
}
