@page "/test/svg-cats"

<RequireAccount MustBeAdmin="true"/>
<MainHeader>SVG Test Page</MainHeader>

<div class="grid grid-cols-2 gap-4 items-center justify-items-center m-4">
    <empty-chat-svg/>
    <loading-cat-svg/>
    <phone-verification-cat-svg />
    <chat-not-found-svg />
</div>
