@page "/test/system"

<MainHeader>System Test Page</MainHeader>

<div class="flex-y justify-start gap-y-1">
    <div class="flex-1">
        <Button Click="OnInvalidateEverythingClick">Invalidate Everything</Button>
    </div>
    <div class="flex-1">
        <Button Click="OnGCCollectClick">GC.Collect() x 3</Button>
    </div>
</div>

@code {
    private Task OnInvalidateEverythingClick() {
        ComputedRegistry.Instance.InvalidateEverything();
        return Task.CompletedTask;
    }

    private async Task OnGCCollectClick() {
        for (var i = 0; i < 3; i++) {
            if (i != 0)
                await Task.Delay(500);
            GC.Collect();
        }
    }
}
