@page "/test/ui-colors"
@using ActualChat.UI.Blazor.Services
@using System.Text

<RequireAccount MustBeAdmin="true"/>
<MainHeader>UI Colors Test Page</MainHeader>

<h1>Text and background colors</h1>
<div class="text-bg-colors grid grid-cols-4 items-center justify-center gap-1">
    <div class="p-2 bg-01 text-03">
        <p>bg-01 text-03</p>
    </div>
    <div class="p-2 bg-02 text-02">
        <p>bg-02 text-02</p>
    </div>
    <div class="p-2 bg-03 text-03">
        <p>bg-03 text-03</p>
    </div>
    <div class="p-2 bg-04 text-primary">
        <p>bg-04 text-primary</p>
    </div>
    <div class="p-2 bg-05 text-01">
        <p>bg-05 text-01</p>
    </div>
    <div class="p-2 bg-06 text-04">
        <p>bg-06 text-04</p>
    </div>
    <div class="p-2 bg-07 text-05">
        <p>bg-07 text-05</p>
    </div>
    <div class="p-2 bg-08 text-06">
        <p>bg-08 text-06</p>
    </div>
</div>


<h1>Square buttons</h1>
<div class="flex-x gap-x-4">
    <ButtonSquare>
        1
    </ButtonSquare>
    <ButtonSquare Class="btn-primary">
        2
    </ButtonSquare>
    <ButtonSquare Class="btn-danger btn-sm">
        SM
    </ButtonSquare>
    <ButtonSquare Class="btn-cancel btn-xs">
        XS
    </ButtonSquare>
    <ButtonSquare Class="transparent">
        B
    </ButtonSquare>
    <ButtonSquare>
        C
    </ButtonSquare>
    <ButtonSquare IsDisabled="true">
        D
    </ButtonSquare>
</div>

<h1>Round buttons</h1>
<div class="flex-x gap-x-4">
    <ButtonRound>
        1
    </ButtonRound>
    <ButtonRound Class="btn-primary">
        2
    </ButtonRound>
    <ButtonRound Class="btn-danger">
        3
    </ButtonRound>
    <ButtonRound Class="btn-cancel">
        A
    </ButtonRound>
    <ButtonRound>
        B
    </ButtonRound>
    <ButtonRound>
        C
    </ButtonRound>
    <ButtonRound IsDisabled="true">
        D
    </ButtonRound>
</div>
<div class="flex-x gap-x-4">
    <ButtonRound>
        1
    </ButtonRound>
    <ButtonRound Class="btn-primary btn-md">
        MD
    </ButtonRound>
    <ButtonRound Class="btn-danger btn-sm">
        SM
    </ButtonRound>
    <ButtonRound Class="btn-cancel btn-xs">
        XS
    </ButtonRound>
    <ButtonRound Class="transparent">
        B
    </ButtonRound>
    <ButtonRound>
        C
    </ButtonRound>
    <ButtonRound IsDisabled="true">
        D
    </ButtonRound>
</div>

<h1>Button colors</h1>
<div class="flex-x gap-x-4">
    <Button Class="btn-primary">
        Long Primary
    </Button>
    <Button Class="btn-danger">
        Danger
    </Button>
    <Button Class="btn-cancel">
        Cancel
    </Button>
    <Button Class="notify-btn btn-transparent">
        <Icon><i class="icon-at text-2xl"></i></Icon>
        <Title>Notify</Title>
    </Button>
    <Button Class="notify-btn btn-transparent">
        <Icon><i class="icon-at text-2xl"></i></Icon>
    </Button>
</div>

<div class="flex-none flex-x items-center gap-x-4 w-80 p-1 overflow-hidden rounded-lg">
    <Button Class="btn-primary">
        Primary
    </Button>
    <Button Class="btn-danger">
        <Icon><i class="icon-person"></i></Icon>
        <Title>Long title button</Title>
    </Button>
    <Button Class="btn-cancel">
        <Icon><i class="icon-person"></i></Icon>
        <Title>Primary</Title>
    </Button>
</div>
<div class="flex-none flex-x items-center gap-x-4 w-fit p-1 bg-[var(--white-10)] overflow-hidden rounded-lg">
    <Button Class="btn-primary btn-xs">
        Primary XS
    </Button>
    <Button Class="btn-danger btn-sm">
        Danger SM
    </Button>
    <Button Class="btn-cancel">
        Cancel MD (Default)
    </Button>
    <Button Class="btn-primary btn-lg">
        <Icon><i class="icon-person"></i></Icon>
        <Title>Primary LG</Title>
    </Button>
    <Button Class="btn-danger btn-lg">
        <Icon><i class="icon-person"></i></Icon>
        <Title>Danger LG</Title>
    </Button>
</div>
<Button Class="btn-primary btn-w-full">
    Full Width Button
</Button>

<h1>Disabled buttons</h1>

<div class="flex-x gap-x-4">
    <Button Class="btn-primary" IsDisabled="true">
        Long Primary
    </Button>
    <Button Class="btn-danger" IsDisabled="true">
        Danger
    </Button>
    <Button Class="btn-cancel" IsDisabled="true">
        Cancel
    </Button>
    <Button Class="btn-primary btn-sm" IsDisabled="true">
        Primary SM
    </Button>
</div>

<h1>Outline buttons</h1>

<div class="flex-x gap-x-4">
    <Button Class="btn-outline">
        Default Outline
    </Button>
    <Button Class="btn-outline btn-primary">
        Primary Outline
    </Button>
    <Button Class="btn-outline btn-danger">
        Danger
    </Button>
    <Button Class="btn-outline btn-cancel">
        Cancel
    </Button>
</div>

<h1>Outline Disabled buttons</h1>

<div class="flex-x gap-x-4">
    <Button Class="btn-primary btn-outline" IsDisabled="true">
        Long Primary
    </Button>
    <Button Class="btn-danger btn-outline" IsDisabled="true">
        Danger
    </Button>
    <Button Class="btn-cancel btn-outline" IsDisabled="true">
        Cancel
    </Button>
    <Button Class="btn-primary btn-outline btn-sm" IsDisabled="true">
        Primary SM
    </Button>
</div>

<h1>Transparent buttons</h1>

<div class="flex-x items-center gap-x-4">
    <Button Class="btn-transparent btn-primary btn-lg">
        Primary LG
    </Button>
    <Button Class="btn-transparent btn-primary btn-md">
        Primary MD
    </Button>
    <Button Class="btn-transparent btn-danger btn-sm">
        Danger SM
    </Button>
    <Button Class="btn-transparent btn-cancel btn-xs">
        Cancel XS
    </Button>
</div>
<div class="flex-x items-center gap-x-4 bg-[var(--background-banner-error)]">
    <Button Class="btn-transparent btn-primary btn-lg">
        Primary LG
    </Button>
    <Button Class="btn-transparent btn-primary btn-md">
        Primary MD
    </Button>
    <Button Class="btn-transparent btn-danger btn-sm">
        Danger SM
    </Button>
    <Button Class="btn-transparent btn-cancel btn-xs">
        Cancel XS
    </Button>
</div>
<div class="flex-x items-center gap-x-4 bg-[var(--background-banner-info)]">
    <Button Class="btn-transparent btn-primary btn-lg">
        Primary LG
    </Button>
    <Button Class="btn-transparent btn-primary btn-md">
        Primary MD
    </Button>
    <Button Class="btn-transparent btn-danger btn-sm">
        Danger SM
    </Button>
    <Button Class="btn-transparent btn-cancel btn-xs">
        Cancel XS
    </Button>
</div>

<h1>Modal buttons</h1>

<div class="flex-x items-center gap-x-4">
    <Button Class="btn-modal btn-lg">
        Default Modal LG
    </Button>
    <Button Class="btn-modal btn-primary">
        Primary MD
    </Button>
    <Button Class="btn-modal btn-danger btn-sm">
        Danger SM
    </Button>
    <Button Class="btn-modal btn-cancel btn-xs">
        Cancel XS
    </Button>
</div>

<h1>Transparent Disabled buttons</h1>

<div class="flex-x items-center gap-x-4">
    <Button Class="btn-transparent" IsDisabled="true">
        Long Primary
    </Button>
    <Button Class="btn-danger btn-transparent" IsDisabled="true">
        Danger
    </Button>
    <Button Class="btn-cancel btn-transparent" IsDisabled="true">
        Cancel
    </Button>
    <Button Class="btn-primary btn-transparent btn-sm" IsDisabled="true">
        Primary SM
    </Button>
</div>

<h1>Modal Disabled buttons</h1>

<div class="flex-x items-center gap-x-4">
    <Button Class="btn-modal" IsDisabled="true">
        Long Primary
    </Button>
    <Button Class="btn-danger btn-modal" IsDisabled="true">
        Danger
    </Button>
    <Button Class="btn-cancel btn-modal" IsDisabled="true">
        Cancel
    </Button>
    <Button Class="btn-primary btn-modal btn-sm" IsDisabled="true">
        Primary SM
    </Button>
</div>

<div class="flex-none h-20"></div>
<div class="buttons-colors grid grid-cols-3 items-center justify-center gap-1">
    <Button Class="btn-primary">Primary</Button>
    <Button Class="btn-outline">Outline</Button>
    <Button Class="btn-secondary">Secondary</Button>

    <Button Class="btn-danger">Danger</Button>
    <Button Class="btn-danger-outline">Danger Outline</Button>
    <Button Class="btn-cancel">Cancel</Button>

    <Button Class="btn-primary btn-xs">Primary XS</Button>
    <Button Class="btn-danger btn-sm">Danger SM</Button>
    <Button Class="btn-secondary btn-lg">Secondary LG</Button>

    <Button Class="btn-modal">Modal</Button>
    <Button Class="btn-modal btn-primary">Modal Primary</Button>
    <Button Class="btn-modal btn-danger">Modal Danger</Button>

    <Button Class="btn-transparent">Transparent</Button>

    <ButtonRound>R</ButtonRound>
    <ButtonSquare ContentClass="flex-none items-center justify-center min-w-12 min-h-12 bg-03">S</ButtonSquare>
    <ButtonX></ButtonX>
    <HeaderButton>H</HeaderButton >
</div>

<div class="buttons-colors flex-y items-start justify-center gap-y-1">
    <h1>Toast and banner colors</h1>
    <ErrorToast Class="min-h-14">
        Color Test Page Error Toast
    </ErrorToast>

    <Toast Text="Test Toast"></Toast>

    <Banner
        IsVisible="true"
        ShowDismissButton="true">
        <Body>
        Default Banner
        </Body>
        <Buttons>
            <Button Class="btn-transparent">
                Configure
            </Button>
        </Buttons>
    </Banner>

    <Banner
        Severity="BannerSeverity.Info"
        IsVisible="true">
        <Body>
        Info Banner
        </Body>
        <Buttons>
            <Button Class="btn-transparent">
                Configure
            </Button>
        </Buttons>
    </Banner>

    <Banner
        Severity="BannerSeverity.Warning"
        IsVisible="true"
        ShowDismissButton="true">
        <Body>
        Warning Banner
        </Body>
        <Buttons>
            <Button Class="btn-transparent">
                Settings
            </Button>
        </Buttons>
    </Banner>

    <Banner
        Severity="BannerSeverity.Success"
        IsVisible="true">
        <Body>
        Success Banner
        </Body>
        <Buttons>
            <Button Class="btn-transparent">
                OK
            </Button>
        </Buttons>
    </Banner>

    <Banner
        Severity="BannerSeverity.Error"
        IsVisible="true">
        <Body>
        Error Banner
        </Body>
        <Buttons>
            <Button Class="btn-transparent">
                Yes
            </Button>
        </Buttons>
    </Banner>
</div>

<h1>Utility colors</h1>
<div class="separator-colors grid grid-cols-3 items-center justify-center gap-4">
    <div class="flex items-center p-2 bg-new-separator text-danger">
        bg-new-separator text-danger
    </div>
    <div class="flex items-center p-2 bg-hover text-01">
        bg-hover text-01
    </div>
    <div class="flex items-center p-2 bg-selected text-01">
        bg-selected text-01
    </div>
</div>

<input placeholder="Placeholder"/>
<TextBox @bind-Value="@_textBox"></TextBox>

@code {
    private string _textBox = "Test TextBox";

    [Inject] protected BlazorCircuitContext CircuitContext { get; init; } = null!;
    [Inject] private UICommander UICommander { get; init; } = null!;
    [Inject] private ILogger<UIColorsTestPage> Log { get; init; } = null!;
    [Inject] private InteractiveUI InteractiveUI { get; init; } = null!;

    private void OnClick(int count) {
        var result = new StringBuilder().Insert(0, "There's something wrong here! ", count).ToString();
        UICommander.ShowError(StandardError.Constraint(result));
    }

    private void OnLogErrorClick()
        => Log.LogError("!!!An error log entry is generated on UIColorsTestPage");

    private void OnCrashClick()
        => throw StandardError.Internal("Simulated crash!");

    private void OnAppCrashClick() {
        var rootComponent = (IRootComponent)CircuitContext.RootComponent;
        rootComponent.SimulateCrash(StandardError.Internal("Simulated application crash!"));
    }
}
