@page "/unavailable"
@page "/unavailable/{What}"
@inject NavigationManager _nav

<PageWithHeaderAndFooter>
    <Header><h1>Unavailable</h1></Header>
    <Body>
        This @(What.NullIfEmpty() ?? "page") doesn't exist.
    </Body>
</PageWithHeaderAndFooter>

@code {
    [Parameter]
    public string? What { get; set; }
}
