@page "/unavailable"
@page "/unavailable/{What}"

<PageWithHeaderAndFooter>
    <Header>
        <div class="flex h-11 justify-end md:justify-between mt-0 font-semibold bg-primary md:bg-secondary text-primary py-2 px-3 select-none border-b border-accent z-10">
            <NavbarIcon/>
            <div class="px-2 inline-flex">
                <span class="float-left text-secondary font-semibold chat-header-title">Unavailable</span>
            </div>
        </div>
    </Header>
    <Body>
        <div class="px-4">
            This @(What.NullIfEmpty() ?? "page") doesn't exist.
        </div>
    </Body>
</PageWithHeaderAndFooter>

@code {
    [Inject] private NavigationManager Nav { get; init; } = null!;

    [Parameter] public string? What { get; set; }
}
