@page "/unavailable"
@page "/unavailable/{What}"

<MainHeader>Unavailable</MainHeader>

<div>
    This @(What.NullIfEmpty() ?? "page") doesn't exist.
</div>

@code {
    [Inject] private NavigationManager Nav { get; init; } = null!;

    [Parameter] public string? What { get; set; }
}
