@namespace ActualChat.UI.Blazor
@page "/unavailable"
@page "/unavailable/{What}"
@inject NavigationManager _nav

<h1>Unavailable</h1>

This @(What.NullIfEmpty() ?? "page") doesn't exist.

@code {
    [Parameter]
    public string? What { get; set; }
}
