.share-location-modal .dialog-body {
    @apply relative;
    @apply flex-y;
    @apply p-0;
}
.share-location-modal .c-map-area {
    @apply relative;
    @apply w-full h-60;
    @apply overflow-hidden;
    @apply bg-03;
}
.share-location-modal .c-map {
    @apply w-full h-full;
}
.share-location-modal .c-permission-prompt {
    @apply flex-y items-center justify-center gap-y-2;
    @apply w-full h-full;
    @apply px-8;
    @apply text-center;
}
.share-location-modal .c-permission-prompt i {
    @apply text-3xl text-03;
}
.share-location-modal .c-permission-prompt span {
    @apply text-headline-1 text-02;
}
.share-location-modal .c-map-area .btn.btn-round {
    @apply absolute;
    @apply w-10 h-10;
    background: var(--white-60);
    color: var(--gray-05);
}
.share-location-modal .c-map-area .btn.btn-round i {
    @apply text-2xl;
}
.share-location-modal .c-map-area .c-close {
    @apply top-2 left-2;
}
.share-location-modal .c-map-menu {
    @apply absolute top-2 right-2;
    @apply flex-x items-center gap-x-3;
    @apply px-3 py-2;
    @apply rounded-full;
    background: var(--white-60);
}
.share-location-modal .c-map-menu .c-map-menu-item {
    @apply flex;
    color: var(--gray-05);
}
.share-location-modal .c-map-menu .c-map-menu-item i {
    @apply text-2xl;
}
.share-location-modal .c-actions {
    @apply flex-y;
    @apply py-2;
}
.share-location-modal .c-actions .btn-tile i,
.share-location-modal .c-actions .btn-tile marker-pin-live-svg {
    @apply text-2xl text-primary;
}
.share-location-modal .c-menu-backdrop {
    @apply fixed inset-0 z-10;
}
.share-location-modal .c-menu {
    @apply absolute z-20;
    @apply flex-y;
    @apply p-1;
    @apply rounded-xl border border-separator;
    @apply bg-01;
    box-shadow: 0 2px 6px var(--black-05);
}
.share-location-modal .c-duration-menu {
    @apply right-2 bottom-2;
    @apply w-52;
}
.share-location-modal .c-map-type-menu {
    @apply right-2 top-[3.875rem];
    @apply w-40;
}
.share-location-modal .c-menu .c-menu-item {
    @apply flex-x items-center gap-x-4;
    @apply h-12 shrink-0;
    @apply px-3;
    @apply rounded-lg;
}
.share-location-modal .c-menu .c-menu-item:disabled {
    @apply opacity-40;
}
body.hoverable .share-location-modal .c-menu .c-menu-item:hover:not(:disabled),
.touch-capable .share-location-modal .c-menu .c-menu-item:active:not(:disabled) {
    @apply bg-hover;
}
.share-location-modal .c-menu .c-menu-item i {
    @apply text-2xl text-03;
}
.share-location-modal .c-menu .c-menu-item span {
    @apply grow text-left;
    @apply text-headline-1 text-01;
}
.share-location-modal .c-menu .c-menu-item .c-check {
    @apply text-xl text-primary;
}
