.chat-activity-panel {
    @apply flex-none flex-x items-center gap-x-2 md:gap-x-1;
    @apply h-14 w-full md:w-64;
}
body.wide .chat-activity-panel {
    @apply h-10;
    @apply px-1;
    @apply rounded-2xl;
    @apply bg-03;
}
.chat-activity-panel .silence-text {
    @apply flex-1 text-start;
    @apply text-headline-1 text-03;
}
.chat-activity-panel > .author-circle-group {
    @apply flex-1 justify-start gap-x-1;
}
.chat-activity-panel > .c-buttons {
    @apply flex-none flex-x items-center gap-x-4 md:gap-x-2;
    @apply px-1;
}
.chat-activity-panel > .c-buttons > .btn {
    @apply px-0;
    @apply text-base;
    @apply rounded-full;
}
.chat-activity-panel > .c-buttons > .btn > .btn-content {
    @apply gap-0;
}
.chat-activity-panel > .c-buttons > .btn .btn-title {
    @apply flex-1;
}
.chat-activity-panel > .c-buttons > .btn i {
    @apply text-2xl md:text-xl;
}
.chat-activity-panel > .c-icon {
    @apply flex items-center justify-center;
    @apply h-8 w-8;
    @apply rounded-full;
}
.activity-svg {
    @apply md:mt-1;
}
.btn.c-glow {
    animation: glow-btn 1s steps(10, start) infinite;
    animation-direction: alternate;
}

.chat-activity-subheader:empty {
    @apply hidden;
}
.layout-subheader > div.chat-activity-subheader {
    @apply w-screen;
    @apply px-2 -mx-2;
    @apply border-b border-separator;
}
.chat-activity-subheader .chat-activity-panel {
    @apply h-12;
    @apply px-1 md:px-0;
}

@keyframes glow-btn {
    from {
        filter: drop-shadow(0 0 0.125rem var(--primary));
    }
    to {
        filter: drop-shadow(0 0 0.5rem var(--primary));
    }
}
