@page "/chat"
@page "/chat/{ChatId}"
@inherits ComputedStateComponent<ChatPage.Model>
@inject Session _session
@inject IAuth _auth
@inject IChats _chats
@inject NavigationManager _nav

@{
    var error = State.Error;
    var model = State.LatestNonErrorValue ?? new();
    if (model.IsUnavailable)
        _nav.Unavailable("chat");
    if (model.MustLogin)
        _nav.Login("to view this chat");
    var chat = model.Chat;
}

@if (error != null) {
    <WhenError Error="error"/>
} else if (chat != null) {
    <CascadingValue Value="chat">
        @* @key=... ensures child components are recreated on navigation to another chat *@
        <PageWithHeaderAndFooter @key="chat" Class="@this.DefaultClass()">
            <Header>
                <ChatHeader />
            </Header>
            <Body>
                <ChatView />
            </Body>
            <Footer>
                <ChatMessageEditor />
            </Footer>
        </PageWithHeaderAndFooter>
    </CascadingValue>
} else {
    <div>Loading...</div>
}

@code {
    public record Model {
        public bool IsUnavailable { get; init; }
        public bool MustLogin { get; init; }
        public Chat? Chat { get; init; }
    }

    [Parameter]
    public string ChatId { get; set; } = "";

    protected override async Task<Model> ComputeState(CancellationToken cancellationToken) {
        var chatId = ChatId;
        var user = await _auth.GetSessionUser(_session, cancellationToken).ConfigureAwait(false);
        var chat = await _chats.Get(_session, chatId, cancellationToken).ConfigureAwait(false);
        if (chat == null)
            return new () { IsUnavailable = true };
        if (!user.IsAuthenticated && !chat.IsPublic)
            return new () { MustLogin = true };
        return new () { Chat = chat };
    }
}
