@page "/join/{InviteCode}"
@using ActualChat.Invite
@attribute [Authorize(Policy = KnownPolicies.IsUserActive)]

<MainHeader>Joining via invite code</MainHeader>

@if (_usageResult is { Succeeded: false }) {
    @* NOTE(AY): We should use error style here! *@
    <p>Failed to join chat: @_usageResult.Message</p>
} else {
    <p>Processing invite code, please wait...</p>
}

@code {
    private InviteUsageResult? _usageResult;

    [Inject] private Session Session { get; init; } = null!;
    [Inject] private UICommandRunner Cmd { get; init; } = null!;
    [Inject] private NavigationManager Nav { get; init; } = null!;

    [Parameter] public string InviteCode { get; set; } = "";

    protected override async Task OnParametersSetAsync() {
        await base.OnParametersSetAsync();
        var cmd = new IInvites.UseInviteCommand(Session, InviteCode);
        var cmdResult = await Cmd.Run(cmd);

        _usageResult = cmdResult.Result;
        if (!_usageResult.Succeeded)
            return;
        var invite = _usageResult.Invite!;
        var uri = $"/chat/{invite.Details!.Chat!.ChatId}";
        Nav.NavigateTo(uri);
    }
}
