@page "/join/{InviteCode}"
@attribute [Authorize(Policy = KnownPolicies.IsUserActive)]

<MainHeader>Joining via invite code</MainHeader>

@if (_inviteCodeUseResult is { IsValid: false }) {
    @* NOTE(AY): We should use error style here! *@
    <p>Invite code is invalid or expired!</p>
} else {
    <p>Processing invite code, please wait...</p>
}

@code {
    private InviteCodeUseResult? _inviteCodeUseResult;

    [Inject] private Session Session { get; init; } = null!;
    [Inject] private UICommandRunner Cmd { get; init; } = null!;
    [Inject] private NavigationManager Nav { get; init; } = null!;

    [Parameter] public string InviteCode { get; set; } = "";
    [Parameter, SupplyParameterFromQuery(Name = ChatPage.AutoJoinQueryParameter)]
    public string? AutoJoin { get; set; }

    protected override async Task OnParametersSetAsync() {
        await base.OnParametersSetAsync();
        var cmd = new IInviteCodes.UseInviteCodeCommand(Session, InviteCode);
        var cmdResult = await Cmd.Run(cmd);
        _inviteCodeUseResult = cmdResult.Result;
        if (!_inviteCodeUseResult.IsValid)
            return;
        var uri = $"/chat/{_inviteCodeUseResult.ChatId}";
        if (AutoJoin != null)
            uri = uri + "?" + ChatPage.AutoJoinQueryParameter + "=" + AutoJoin;
        Nav.NavigateTo(uri);
    }
}
