@page "/join/{ChatId}"
<h3>About to join to '@ChatId'</h3>
<p>
    Please check if you need to log in first.
</p>
<p>
    <button type="button"
            class="bg-green-500 hover:bg-green-700 text-white py-1 px-4 rounded"
            @onclick="@OnJoinClicked">Join</button>
</p>

@code {
    [Inject] private Session Session { get; set; } = null!;
    [Inject] private UICommandRunner Cmd { get; set; } = null!;
    [Inject] private NavigationManager Nav { get; set; } = null!;

    [Parameter]
    public string ChatId { get; set; } = "";

    private async Task OnJoinClicked() {
        var command = new IChats.JoinChatCommand(Session, ChatId);
        await Cmd.Run(command, default);
        Nav.NavigateTo($"/chat/{ChatId}");
    }
}
