@page "/new/chat/"
@using System.ComponentModel.DataAnnotations

<MainHeader>New chat</MainHeader>

<EditForm Model="@_model" OnValidSubmit="@OnCreate">
    <DataAnnotationsValidator/>

    <div>
        <label for="Title" class="block text-sm font-medium text-secondary">Chat title</label>
        <div class="mt-1">
            <TextBox @bind-Value="@_model.Title" id="Title" tabIndex="1" Autofocus="true"
                       class="w-full px-2 py-1 border border-1 border-gray-300 rounded-md focus:outline-none focus:border-success"/>
        </div>
    </div>

    <div class="mt-3 flex-x justify-end">
        <button type="submit" class="bg-button-success hover:bg-button-success-hover text-white py-1 px-4 rounded">Create</button>
        <a type="button" class="bg-separate-line hover:bg-avatar text-white py-1 px-4 rounded ml-3" href="/">Cancel</a>
    </div>
</EditForm>

@code {
    private readonly Model _model = new();

    [Inject] private Session Session { get; init; } = null!;
    [Inject] private UICommandRunner Cmd { get; init; } = null!;
    [Inject] private NavigationManager Nav { get; init; } = null!;

    private async Task OnCreate()
    {
        var command = new IChats.CreateChatCommand(Session, _model.Title) { IsPublic = true };
        var result = await Cmd.Run(command, default);
        if (!result.CommandEvent.IsCompletedSuccessfully)
            return;
        var chatId = result.Result.Id;
        Nav.NavigateTo($"/chat/{chatId}");
    }

    public class Model
    {
        [Required]
        public string Title { get; set; } = "";
    }
}
