@page "/settings"
@attribute [Authorize(Policy = KnownPolicies.IsUserActive)]

<MainHeader>
    <ButtonSquare Class="transparent" Click="OnBackClicked">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </ButtonSquare>
    <div class="ml-1">
        <span class="text-secondary">Settings</span>
    </div>
</MainHeader>

<UserNameEditor />

<div>
    <label class="block text-sm font-medium text-secondary">User avatars</label>
    <div class="mt-2">
        <UserAvatarsEditor />
    </div>
</div>


@code {
    [Inject] private IJSRuntime JS { get; init; } = null!;

    private async Task OnBackClicked() {
        await JS.InvokeVoidAsync("window.history.back", Array.Empty<object>());
    }
}
