@page "/settings"
@attribute [Authorize(Policy = KnownPolicies.IsUserActive)]

<MainHeader>
    <span class="text-secondary">Settings</span>
</MainHeader>

<UserNameEditor />

<h4 class="section section-top">User page</h4>
<UserPageLink/>

<h4 class="section">Avatars</h4>
<UserAvatarsEditor />
