@page "/settings"
@using ActualChat.Chat.UI.Blazor.Components.Settings

<RequireAccount/>
<MainHeader>
    <span class="text-03">Settings</span>
</MainHeader>

<div class="flex-x justify-center w-full">
    <div class="flex-none flex-y w-full lg:w-2/3 xl:w-1/2 xxl:w-1/3 p-3">
        <TabPanel BottomBorder="true">
            <Tab Title="My Account" Class="px-2">
                <UserSettings/>
            </Tab>
            <Tab Title="Appearance" Class="px-2">
                <AppearanceSettings/>
            </Tab>
        </TabPanel>
    </div>
</div>
