@page "/settings"
@attribute [Authorize(Policy = KnownPolicies.IsUserActive)]

<MainHeader>
    <span class="text-secondary">Settings</span>
</MainHeader>

<UserNameEditor />

<h4 class="section top-section">Avatars</h4>

<UserAvatarsEditor />
