@page "/settings"
@attribute [Authorize(Policy = KnownPolicies.IsUserActive)]

<MainHeader>
    <span class="text-secondary">Settings</span>
</MainHeader>

<UserNameEditor />

<div>
    <label class="block text-sm font-medium text-secondary">User avatars</label>
    <div class="mt-2">
        <UserAvatarsEditor />
    </div>
</div>


@code {
    [Inject] private IJSRuntime JS { get; init; } = null!;
}
