@page "/settings"
@attribute [Authorize(Policy = KnownPolicies.IsUserActive)]

<MainHeader>
    <span class="text-secondary">Settings</span>
</MainHeader>

<div class="flex-y w-full border-accent p-3">
    <TabPanel>
        <Tab Title="User settings" Id="User settings">
            <UserSettings/>
        </Tab>
        <Tab Title="App settings" Id="App settings">
            <AppSettings/>
        </Tab>
        <Tab Title="Some settings" Id="Some settings">
            @* <SomeSettings /> *@
        </Tab>
    </TabPanel>
</div>
