@page "/test/slate-editor"

<MainHeader>Slate Editor Test Page</MainHeader>

<PageWithHeaderAndFooter>
    <Body>
        <div class="mt-2">
            <Button Click="OnGetTextClick">Get text</Button>
        </div>

        <div class="mt-2 bg-purple-200 min-h-[50px]">@_text</div>
    </Body>
    <Footer>
        <div class="flex-y">
            <MentionCandidateListManager>
                <SlateEditor @ref="_editor" Id="message-input" Class="bg-gray-200 min-h-[50px]"
                             Placeholder="Enter some text..."
                             Posted="OnPost"/>
            </MentionCandidateListManager>
        </div>
    </Footer>
</PageWithHeaderAndFooter>

@code{
    private SlateEditor? _editor;
    private string _text = "";

    private async Task OnGetTextClick() {
        if (_editor == null)
            return;
        _text = await _editor.GetText();
    }

    private async Task OnPost(string text) {
        _text = text;
        await _editor!.Clear();
    }
}
