@page "/test/slate-editor"

<MainHeader>Slate Editor Test Page</MainHeader>

<PageWithHeaderAndFooter>
    <Body>
        <div class="mt-2">
            <Button OnClick="OnGetTextClicked">Get text</Button>
        </div>

        <div class="mt-2 bg-purple-200 min-h-[50px]">@_text</div>
    </Body>
    <Footer>
        <div class="flex-y">
            <MentionsStateProvider>
                <div class="w-full mb-1">
                    <MentionsList/>
                </div>

                <SlateEditor @ref="_editor" Class="bg-gray-200 min-h-[50px]"
                             OnPost="OnPost"/>
            </MentionsStateProvider>
        </div>
    </Footer>
</PageWithHeaderAndFooter>

@code{
    private SlateEditor? _editor;
    private string _text = "";

    private async Task OnGetTextClicked() {
        if (_editor == null)
            return;
        _text = await _editor.GetText();
    }

    private Task OnPost(string text) {
        _text = text;
        return Task.CompletedTask;
    }
}
