@attribute [Authorize(Policy = KnownPolicies.IsUserActive)]

<div class="w-1/3">
    <UserNameEditor />
</div>

<div class="w-1/3">
    <h4 class="section section-top">User page</h4>
    <UserPageLink/>
</div>

<h4 class="section">Avatars</h4>
<UserAvatarsEditor />
