@page "/list"
@inject ILogger<ListPage> _log
@inject TestListService _listService

<h1>VirtualList Test Page</h1>

<VirtualList style="height: 600px;" Provider="GetVirtualListItems">
    <div style="font-size: @(context.FontSize)em">
        <div style="font-weight: bold">@context.Title</div>
        <div>@context.Description</div>
    </div>
</VirtualList>

@code {
    private Task<VirtualListResponse<TestListItem>> GetVirtualListItems(
        VirtualListQuery query, CancellationToken cancellationToken)
        => _listService.GetItems(query, cancellationToken);

}
