@namespace ActualChat.UI.Blazor
@using ActualChat.UI.Blazor.App.Pages.Landing

<div class="c-content">
    <div class="main-image">
        <img draggable="false" src="/dist/images/landing/evolution.svg" alt="evolution">
    </div>
    <div class="main-text">
        <span class="title-text">
            We used to speak, laugh, and cry
        </span>
        <p>
            But now we text, "like", and send emojis.
            It's slower, inconvenient, and less expressive.
        </p>
        <p>
            With all the progress in technology and AI, how it happened that <strong>we can't just talk</strong> in chats?
        </p>
    </div>
</div>
