@namespace ActualChat.UI.Blazor
@using ActualChat.UI.Blazor.App.Pages.Landing

@{
    var isNarrow = ScreenSize.IsNarrow();
}

<div class="c-content">
    <div class="curved-line">
        <img draggable="false" src="/dist/images/landing/curved-line.svg" alt="line">
    </div>
    <div class="c-title">How Actual Chat can help you?</div>

    @* Row 1 *@
    <div class="c-row c-first">
        <div class="title-text card-text">
            Experience Unmatched Flexibility
        </div>
        <div class="colored-card card-1">
            <div class="c-wrapper">
                <img draggable="false" src="/dist/images/landing/chat-body-1.svg" alt="chat">
            </div>
        </div>
        <div class="c-column">
            <div class="colored-card card-3">
                <div class="c-title">Jump In Anytime</div>
                <div class="c-text">
                    Start talking right away if you're early, or catch up quickly with the chat history if you arrive late
                </div>
            </div>
            <div class="colored-card card-3">
                <div class="c-title">Your Way, Always</div>
                <div class="c-text">
                    Choose to listen or read, text or talk. Whatever your preference, we've got it covered.
                </div>
            </div>
            <div class="colored-card card-3">
                <div class="c-title">Use Anonymity</div>
                <div class="c-text">
                    When this feature is enabled for a given chat, users can join it without revealing their actual
                    accounts. Their voice isn't transmitted either, but live transcription still allows them to
                    communicate in real-time
                </div>
            </div>
        </div>
    </div>

    @* Row 2 *@
    <div class="c-row">
        @if (isNarrow) {
            <div class="title-text card-text">
                Elevate Your Conversations
            </div>
            <div class="colored-card card-2">
                <div class="c-wrapper">
                    <img draggable="false" src="/dist/images/landing/chat-body-1.svg" alt="chat">
                </div>
            </div>
        }
        <div class="c-column">
            <div class="colored-card card-3">
                <div class="c-title">Boost Clarity</div>
                <div class="c-text">
                    Convey detailed responses or asks quickly. On average, we speak 5x faster than we type on mobile.
                </div>
            </div>
            <div class="colored-card card-3">
                <div class="c-title">Develop Spoken Excellence</div>
                <div class="c-text">
                    Instant transcription makes you more conscious of your speech clarity, filler word usage, and phrasing.
                </div>
            </div>
        </div>
        @if (!isNarrow) {
            <div class="colored-card card-2">
                <div class="c-wrapper">
                    <img draggable="false" src="/dist/images/landing/chat-body-1.svg" alt="chat">
                </div>
            </div>
            <div class="title-text card-text">
                Elevate Your Conversations
            </div>
        }
    </div>

    @* Row 3 *@
    <div class="c-row c-last">
        <div class="title-text card-text">
            Embrace Inclusivity
        </div>
        <div class="colored-card card-1">
            <div class="c-wrapper">
                <img draggable="false" src="/dist/images/landing/chat-body-1.svg" alt="chat">
            </div>
        </div>
        <div class="c-column">
            <div class="colored-card card-3">
                <div class="c-title">Bypass Stress</div>
                <div class="c-text">
                    Calls often come with an unspoken urgency and unknown context. With Actual Chat, you can sidestep
                    the pressures of traditional calls and dive straight into meaningful communication
                </div>
            </div>
            <div class="colored-card card-3">
                <div class="c-title">Include Everyone</div>
                <div class="c-text">
                    Make your voice conversations accessible for hearing-impaired users or those in loud environments.
                    Dive into real-time voice conversations, even if you can't listen at that very moment.
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [CascadingParameter] public ScreenSize ScreenSize { get; set; }
}
