@namespace ActualChat.UI.Blazor
@using ActualChat.UI.Blazor.App.Pages.Landing
@using ActualChat.Hosting

@{
    var isMaui = HostInfo.AppKind.IsMauiApp();
    var signinText = isMaui ? "Sign in" : "Sign-in to web app";
}

<div class="bg-wrapper">
    <div class="c-ground"></div>
    <div class="c-image"></div>
</div>

<div class="c-content">
    <div class="main-text">
        <div class="main-text-wrapper">
            <div class="c-title">Discover Chat 2.0</div>
            <div class="flex-y gap-y-2 title-text main">
                <Checkmark Checked="true">efficiency of texting</Checkmark>
                <Checkmark Checked="true">focus of calls</Checkmark>
                <Checkmark>drawbacks of either</Checkmark>
            </div>
            <p class="c-description">
                @if (!ScreenSize.IsNarrow()) {
                    <span>We fuse real-time audio, live transcription,</span>
                    <span>and AI assistance to let you communicate </span>
                    <span>with <strong>utmost efficiency</strong>.</span>
                } else {
                    <span>
                        We fuse real-time audio, live transcription,
                        and AI assistance to let you communicate
                        with <strong>utmost efficiency</strong>.
                    </span>
                }
            </p>
        </div>
        <div class="c-btn-group">
            @if (!isMaui) {
                <DownloadButton
                    Title="Get mobile/desktop app"
                    Click="@DownloadClick"
                    Class="download-app lg-icon"/>
            }
            @if (IsGuest) {
                <button class="btn-download transparent md:light lg-icon" @onclick="@SignInClick">
                    <span>@signinText</span>
                    @if (!isMaui) {
                        <i class="icon-monitor text-2xl font-thin"></i>
                    }
                </button>
            }
            @if (IsGuest) {
                <button class="btn-download transparent md:hidden" @onclick="@ShowVideoClick">
                    <i class="icon-play-fill text-2xl"></i>
                    <span>Watch video how it works</span>
                </button>
            }
        </div>
    </div>
    <div class="main-image">
        <video controls hidden muted playsinline loop class="landing-video">
            <source src="/dist/images/landing/landing-tutorial.mp4" type="video/mp4"/>
        </video>
        <img draggable="false"
             src="/dist/images/landing/landing-tutorial-plug.png"
             alt="Loading Actual Chat intro video..."
             class="landing-video-plug flex">
    </div>
</div>

@code {
    [Inject] private HostInfo HostInfo { get; init; } = null!;

    [CascadingParameter] public ScreenSize ScreenSize { get; set; }

    [Parameter] public bool IsGuest { get; set; }
    [Parameter] public EventCallback SignInClick { get; set; }
    [Parameter] public EventCallback ShowVideoClick { get; set; }
    [Parameter] public EventCallback DownloadClick { get; set; }
}
