@namespace ActualChat.UI.Blazor
@using ActualChat.UI.Blazor.App.Pages.Landing

<div class="c-content">
    <div class="c-title">Where Actual Chat stands out?</div>

    @* Row 1 *@
    <div class="c-row c-first">
        <LandingImageCard Class="title-card">
            <CardTitle>
                At Home
            </CardTitle>
        </LandingImageCard>
        <LandingImageCard>
            <CardImage>
                <img draggable="false" src="/dist/images/landing/card-family-chats.svg" alt="family chats">
            </CardImage>
            <CardTitle>
                Family chats
            </CardTitle>
            <CardText>
                <LandingImageCardItem>
                    Talk to the whole family without bothering them with calls
                </LandingImageCardItem>
                <LandingImageCardItem>
                    Allow both your youngsters and grandparents to use a medium that's universally accessible
                    and comfortable
                </LandingImageCardItem>
            </CardText>
        </LandingImageCard>
        <LandingImageCard>
            <CardImage>
                <img draggable="false" src="/dist/images/landing/card-classmate-chats.svg" alt="classmate chats">
            </CardImage>
            <CardTitle>
                Friend, Classmate Chats
            </CardTitle>
            <CardText>
                <LandingImageCardItem>
                    Talk to the whole family without bothering them with calls
                </LandingImageCardItem>
                <LandingImageCardItem>
                    Allow both your youngsters and grandparents to use a medium that's universally accessible
                    and comfortable
                </LandingImageCardItem>
            </CardText>
        </LandingImageCard>
    </div>

    <div class="row-title">At Work</div>

    @* Row 2 *@
    <div class="c-row c-last">
        <LandingImageCard>
            <CardImage>
                <img draggable="false" src="/dist/images/landing/card-webinar.svg" alt="webinar">
            </CardImage>
            <CardTitle>
                Webinars, Online Classes
                & Presentations
            </CardTitle>
            <CardText>
                <LandingImageCardItem>
                    Pair Actual Chat with any streaming platform to amplify audience engagement.
                </LandingImageCardItem>
                <LandingImageCardItem>
                    Foster a concurrent text and voice discussion while your presentation unfolds.
                </LandingImageCardItem>
            </CardText>
        </LandingImageCard>
        <LandingImageCard>
            <CardImage>
                <img draggable="false" src="/dist/images/landing/card-remote-team.svg" alt="remote team">
            </CardImage>
            <CardTitle>
                Remote Teams, Onsite Crews
            </CardTitle>
            <CardText>
                <LandingImageCardItem>
                    Optimize team communication without the scheduling headaches and calendar clutter
                </LandingImageCardItem>
                <LandingImageCardItem>
                    Deliver detailed responses rapidly: remember, we speak 5x faster than we type.
                </LandingImageCardItem>
                <LandingImageCardItem>
                    Spare your big-fingered on-site colleagues from texting!
                </LandingImageCardItem>
            </CardText>
        </LandingImageCard>
        <LandingImageCard>
            <CardImage>
                <img draggable="false" src="/dist/images/landing/card-customer-support.svg" alt="customer support">
            </CardImage>
            <CardTitle>
                Customer Support
            </CardTitle>
            <CardText>
                <LandingImageCardItem>
                    Sidestep the anxiety associated with traditional calls
                </LandingImageCardItem>
                <LandingImageCardItem>
                    Elevate customer satisfaction by granting immediate access to problem-solving, eliminating long wait times
                </LandingImageCardItem>
            </CardText>
        </LandingImageCard>
    </div>
</div>
