.landing.new {
    @apply flex-y;
    @apply select-text;
}
.landing.new .landing-video,
.landing.new .landing-video-plug {
    @apply h-full;
    max-height: inherit;
}
.landing.new .page {
    @apply flex-y justify-center items-center;
    @apply px-16 lg:px-32;
    @apply overflow-hidden;
}
.landing.new .page > .c-content {
    @apply gap-x-12;
    @apply h-full;
    @apply pt-30 pb-16;
    @apply overflow-hidden;
}
body.narrow .landing.new .page > .c-content {
    @apply gap-y-8;
    @apply pt-24 pb-16;
}
body.narrow .landing.new .page {
    @apply px-4;
}

/* General styles */

.landing.new ul {
    @apply mx-4;
    @apply md:ml-6 md:mt-4;
    @apply list-disc;
}
.landing.new ul li {
    @apply my-2;
    @apply leading-6;
}
body.narrow .landing.new ul li {
    @apply leading-4.5;
}
.landing.new .page a[target="_blank"] {
    @apply underline hover:no-underline;
}

.landing.new .page > .c-content .main-text {
    @apply flex-1 flex-y self-center;
}
body.narrow .landing.new .page > .c-content .main-text {
    @apply gap-y-2;
}
.landing.new .page > .c-content .main-text > p {
    @apply text-base leading-4.5 font-normal;
    @apply md:text-xl md:leading-6;
    @apply lg:text-3.5xl lg:leading-9;
}
.landing.new .page > .c-content .main-image {
    @apply flex justify-start items-center;
}
.landing-auth-btn.btn.btn-round {
    @apply min-w-8 max-w-8 min-h-8 max-h-8;
    @apply text-lg md:text-base;
}
.landing-auth-btn.btn.btn-round .btn-content {
    @apply min-w-8 max-w-8 min-h-8 max-h-8;
    @apply rounded-full;
}
.landing.new .title-text {
    @apply my-0;
    @apply text-start;
    @apply text-5xl;
}
.landing.new .title-text.highlight {
    @apply font-bold;
}
.landing.new .title-text.card-text {
    @apply text-4.5xl md:text-3.5xl lg:text-5xl;
}
body.narrow .landing.new .title-text {
    @apply py-4;
    @apply text-4.5xl;
    @apply leading-11;
}
body.narrow .landing.new .title-text.main {
    @apply text-3xl;
}

/* Header */
.landing.new .landing-header {
    @apply fixed z-20 top-0;
    @apply flex-x items-center justify-center;
    @apply w-full h-16;
    @apply py-2 px-16 lg:px-32;
    @apply bg-transparent;
    @apply opacity-100;
    @apply transition-all duration-300 ease-in-out;
}
.landing.new .landing-header > .c-content {
    @apply flex-1 flex-x;
}
.landing.new .landing-header > .c-content {
    @apply flex-1 flex-x;
}
.landing.new .landing-header > .c-content > .c-icon {
    @apply min-w-fit;
}
.landing.new .landing-header > .c-content > .c-title-wrapper {
    @apply flex-1 flex-x;
}
.landing.new .landing-header > .c-content > .c-title-wrapper > .c-title {
    @apply self-center;
    @apply min-w-fit;
    @apply px-2 -mt-1.5;
}
body.narrow .landing.new .landing-header > .c-content > .c-title-wrapper > .c-title {
    @apply max-w-40;
}
.landing.new .landing-header > .c-content > .c-title-wrapper > .c-version {
    @apply max-w-9;
    @apply -mt-0.5 -ml-1;
}
.landing.new .landing-header > .c-right {
    @apply flex-none justify-end;
}

.landing.new .landing-header.hide-header {
    @apply opacity-0;
    @apply transition-all duration-300 ease-in-out;
}
body.narrow .landing.new .landing-header {
    @apply h-14;
    @apply gap-x-2;
    @apply px-2;
}
body.wide.app-maui .landing.new .landing-header {
    @apply px-8;
}
.landing.new .landing-header .light-icon,
.landing.new .landing-header .dark-icon {
    @apply min-w-10 min-h-10 max-h-10;
}
.landing.new .landing-header .dark-icon {
    @apply absolute;
    @apply top-3;
}
body.narrow .landing-header .light-icon,
body.narrow .landing-header .dark-icon,
body.narrow .landing-menu .dark-icon {
    @apply min-w-8 min-h-8 max-h-8;
}
.landing.new .landing-header .light-title,
.landing.new .landing-header .dark-title {
    @apply min-h-6 max-h-6;
}
.landing.new .landing-header .dark-title {
    @apply absolute;
    @apply top-4;
}
.landing.new .landing-header .dark-alpha {
    @apply absolute;
    @apply max-w-9;
    @apply top-2.5;
}
body.narrow .landing.new .landing-header .light-title,
body.narrow .landing.new .landing-header .dark-title,
body.narrow .landing.new .landing-menu.open .dark-title {
    @apply min-h-8 max-h-8 max-w-32;
    @apply top-2;
}
body.narrow .landing-menu.open .dark-title {
    @apply -mt-2;
}
body.narrow .landing.new .landing-header .light-alpha,
body.narrow .landing.new .landing-header .dark-alpha {
    @apply min-h-8 max-h-8;
}
body.narrow .landing.new .landing-header .dark-alpha {
    @apply max-w-9;
    @apply top-0.5;
}
body.narrow .landing.new .landing-header .light-alpha {
    @apply -mt-2;
}
.landing.new .landing-header .light-icon,
.landing.new .landing-header .light-title,
.landing.new .landing-header .light-alpha {
    @apply opacity-100;
    @apply transition-all ease-in-out duration-200;
}

.landing.new .landing-header .dark-icon,
.landing.new .landing-header .dark-title,
.landing.new .landing-header .dark-alpha {
    @apply opacity-0;
    @apply transition-all ease-in-out duration-200;
}
.landing.new .landing-header .c-btn-group {
    @apply flex-x items-center justify-center gap-x-2;
    @apply min-w-fit w-fit;
    @apply text-04 font-medium;
    @apply transition-all ease-in-out duration-100;
}
.landing.new .landing-header .c-btn-group .lg-icon i {
    @apply md:hidden lg:flex;
}
body.narrow .landing.new .landing-header .c-btn-group {
    @apply hidden;
}
.landing.new .landing-header .btn-text {
    @apply flex-x items-center justify-center gap-x-2;
    @apply min-w-fit w-fit;
    @apply px-2;
    @apply text-04 text-headline-1 leading-4.5;
    @apply transition-all ease-in-out duration-100;
}

.landing.new .landing-header.filled .light-icon,
.landing.new .landing-header.filled .light-title,
.landing.new .landing-header.filled .light-alpha {
    @apply opacity-0;
    @apply transition-all ease-in-out duration-100;
}
.landing.new .landing-header.filled .dark-icon,
.landing.new .landing-header.filled .dark-title,
.landing.new .landing-header.filled .dark-alpha {
    @apply opacity-100;
    @apply transition-all ease-in-out duration-100;
}
.landing.new .landing-header.filled .btn-text {
    @apply text-01;
    @apply transition-all ease-in-out duration-100;
}
.landing.new .landing-header.filled .signin-button-group {
    @apply text-01;
    @apply border-text-01;
    @apply transition-all ease-in-out duration-100;
}
.landing.new .landing-header.blur-bg {
    @apply backdrop-blur-xl;
}
.landing.new .landing-header .signin-button.btn {
    @apply min-w-10;
    @apply border border-bg-01;
    @apply bg-transparent;
}
.landing.new .landing-header.filled .signin-button.btn {
    @apply border-text-01;
}
.landing.new .landing-header .signin-button.btn .btn-content {
    @apply min-w-10 max-w-10 min-h-10 max-h-10;
    @apply bg-transparent;
    @apply text-04;
}
.landing.new .landing-header.filled .signin-button.btn .btn-content {
    @apply text-01;
}
.landing.new .landing-header .menu-button.btn,
.docs-header .menu-button.btn {
    @apply min-w-10;
    @apply bg-transparent;
}
.landing.new .landing-header .menu-button.btn .btn-content,
.docs-header .menu-button.btn .btn-content {
    @apply min-w-10 max-w-10 min-h-10 max-h-10;
    @apply bg-transparent;
    @apply text-04;
}
.landing.new .landing-header.filled .menu-button.btn .btn-content {
    @apply text-01;
}
.landing.new .landing-header .signin-button-group {
    @apply flex gap-3;
    @apply px-6;
    @apply border border-bg-04;
    @apply bg-transparent;
    @apply text-04;
}
body.app-maui .landing.new .landing-header .btn-download {
    @apply hidden;
}
.landing-menu {
    @apply flex;
    @apply bg-06;
    background: linear-gradient(to right, rgba(255,255,255,1) 75%, rgba(68,68,68,0.5) 25%);
}

/* Page styles */
.landing.new .page {
    @apply text-base md:text-xl lg:text-2xl;
}
.landing.new .page .features-text {
    @apply text-base md:text-lg;
}
.landing.new .page p {
    @apply pt-2 md:pt-4;
}
.landing.new .page.full-screen-page {
    height: calc(var(--vh, 100vh));
}
.landing.new .page.full-screen-page.no-auto-scroll {
    @apply h-full;
}
.landing.new.no-full-screen-pages .page.full-screen-page {
    @apply h-full;
}

/* Page 1 styles */
.landing.new .page-1 {
    @apply relative;
}
.landing.new .page-1 {
    @apply min-h-screen;
    min-height: calc(var(--vh, 1vh) * 100);

}
.landing.new .page-1 > .c-content {
    @apply z-10;
    @apply flex-1 flex-x justify-center items-end;
    @apply w-full;
    @apply py-0;
}
body.narrow .landing.new .page-1 > .c-content {
    @apply py-16;
}
.landing.new .page-1 .page-1-wrapper,
.landing.new .page-links .page-links-wrapper {
    @apply z-10;
    @apply h-full;
    @apply pt-16;
    @apply bg-transparent;
}
body.narrow .landing.new .page-1 {
    @apply min-h-screen;
    @apply bg-gradient-to-b from-[#0036A3] to-[#6E368F];
    min-height: calc(var(--vh, 1vh) * 100);
}
body.narrow .landing.new .page-1 .page-1-wrapper,
body.narrow .landing.new .page-links .page-links-wrapper {
    @apply h-full;
    @apply pt-12 px-4;
    @apply bg-cover bg-repeat-round;
    @apply bg-[url('/dist/images/ellipses-mobile.svg')];
}
.landing.new .page-1 > .c-content .main-text {
    @apply flex-y gap-y-8 ;
    @apply p-0;
    @apply md:text-3xl font-normal text-04;
}
body.narrow .landing.new .page-1 > .c-content .main-text {
    @apply justify-center gap-y-4;
    @apply w-auto;
}
.landing.new .page-1 > .c-content .main-text > .c-title {
    @apply text-3.5xl md:text-headline-4 lg:text-headline-3;
}
.landing.new .page-1 .main-text .c-description {
    @apply flex-y;
    @apply pt-0;
    @apply md:leading-9;
}
.landing.new .page-1 > .c-content .main-text > p {
    @apply lg:text-2xl lg:leading-8;
}
body.narrow .landing.new .page-1 .main-text .c-description {
    @apply text-base;
}
.landing.new .page-1 .main-text .c-description > .bolder {
    @apply font-semibold;
}
.landing.new .page-1 .main-text .c-btn-group {
    @apply flex-y lg:flex-x gap-4;
    @apply py-4;
}
.landing.new .page-1 > .c-content .main-image {
    @apply hidden md:flex justify-end;
    @apply max-w-1/3;
    max-height: 85vh;
}
body.narrow .landing.new .page-1 .main-text .c-btn-group {
    @apply flex-y;
}
.landing.new .page-1 .main-text .c-btn-group .lg-icon i {
    @apply md:hidden lg:flex;
}
.landing.new .page-1 .main-text .c-btn-group .btn-download.web-signin > i {
    @apply md:text-01;
}
.landing.new .page-1 .bg-wrapper {
    @apply absolute;
    @apply w-screen h-full;
    @apply overflow-hidden;
}
.landing.new .page-1 .bg-wrapper > .c-ground {
    @apply absolute;
    @apply h-full w-screen;
    @apply bg-no-repeat;
    background: radial-gradient(circle at 40% 95%, #FF3880F5, #0036A3 50%) 0 60% / 120% 200%;
}
.landing.new .page-1 .bg-wrapper > .c-image {
    @apply absolute;
    @apply h-full w-screen;
    @apply bg-repeat-y;
    @apply bg-contain;
    @apply bg-[url('/dist/images/ellipses.svg')];
}
body.narrow .landing.new .page-1 .bg-wrapper > .c-ground {
    background: radial-gradient(circle at 50% 95%, #FF3880F5, #0036A3 40%);
}
body.narrow .landing.new .page-1 .bg-wrapper > .c-image {
    @apply bg-cover bg-repeat-round;
    @apply bg-[url('/dist/images/ellipses-mobile.svg')];
}

/* Page 2 */

.landing.new .page-2 {
    background: linear-gradient(to right, #E5E5FA 50%, #EAEAF7, #F6EEF5);
}
.landing.new .page-2 > .c-content {
    @apply flex-x items-center;
}
body.narrow .landing.new .page-2 > .c-content {
    @apply flex-y;
}
.landing.new .page-2 > .c-content .main-image {
    @apply w-3/5;
}
body.narrow .landing.new .page-2 > .c-content .main-image {
    @apply w-auto;
}
.landing.new .page-2 > .c-content .main-image > img,
.landing.new .page-3 > .c-content .main-image > img {
    @apply h-full max-h-110;
}

/* Page 3 */

.landing.new .page-3 > .c-content {
    @apply flex-y gap-y-8;
}
.landing.new .page-3 > .c-content > .c-top {
    @apply flex-x gap-x-4;
}
.landing.new .page-3 > .c-content > .c-top .main-image {
    @apply w-1/2;
}
.landing.new .page-3 > .c-content > .c-bottom {
    @apply flex-x gap-x-8;
}
body.narrow .landing.new .page-3 > .c-content > .c-top {
    @apply -flex-y gap-y-4;
}
body.narrow .landing.new .page-3 > .c-content > .c-top .main-image {
    @apply w-full;
}
body.narrow .landing.new .page-3 > .c-content > .c-bottom {
    @apply flex-y gap-y-4;
}

/* Page 4 */

.landing.new .page-4 {
    @apply px-12;
    background: linear-gradient(to right, #E5E5FA 50%, #EAEAF7, #F6EEF5);
}
.landing.new .page-4 > .c-content {
    @apply relative;
    @apply flex-y gap-y-8;
}
body.narrow .landing.new .page-4 > .c-content {
    @apply gap-y-4;
}
.landing.new .page-4 > .c-content > .curved-line {
    @apply absolute;
    @apply hidden lg:flex;
    @apply pt-12;
}
.landing.new .page-4 > .c-content > .c-row {
    @apply grid grid-cols-3 justify-items-center gap-x-6;
    @apply px-20;
}
body.narrow .landing.new .page-4 > .c-content > .c-row {
    @apply flex-y gap-y-4;
    @apply px-0;
}
.landing.new .page-4 > .c-content .c-row.c-first {
    @apply pt-12;
}
body.narrow .landing.new .page-4 > .c-content .c-row.c-first {
    @apply pt-0;
}
.landing.new .page-4 > .c-content .c-row.c-last {
    @apply pb-12;
}
.landing.new .page-4 > .c-content > .c-row > div {
    @apply max-w-80;
}
body.narrow .landing.new .page-4 > .c-content > .c-row > div {
    @apply max-w-none;
}
.landing.new .page-4 > .c-content > .c-row > .c-column {
    @apply flex-y gap-y-4;
}
.landing.new .page-4 > .c-content > .c-title,
.landing.new .page-5 > .c-content > .c-title {
    @apply text-center;
    font-size: 2.5rem;
    line-height: 2.625rem;
}
body.narrow .landing.new .page-4 > .c-content > .c-title,
body.narrow .landing.new .page-5 > .c-content > .c-title {
    @apply text-start;
    font-size: 2rem;
    line-height: 2.125rem;
    font-weight: 500;
}

.colored-card {
    @apply relative;
    @apply flex gap-4;
    @apply rounded-2xl;
    @apply overflow-hidden;
}
.colored-card > .c-wrapper {
    @apply px-6 pb-12;
}
body.narrow .colored-card > .c-wrapper,
body.narrow .colored-card > .c-wrapper > img {
    @apply flex-1 flex;
}
.colored-card.card-1 {
    @apply h-fit w-fit;
    @apply bg-[#686BCC3D];
}
body.narrow .colored-card.card-1,
body.narrow .colored-card.card-2 {
    @apply w-auto;
}
.colored-card.card-2 {
    @apply h-fit w-fit;
    @apply bg-[#A068CC3D];
}
.colored-card.card-3 {
    @apply flex-y gap-y-2;
    @apply p-4;
    @apply bg-[#FFFFFFD9];
}
.colored-card.card-3 > .c-title {
    @apply text-headline-6;
}
.colored-card.card-3 > .c-text {
    @apply text-text-1;
}

/* Page 5 */

.landing.new .page-5 > .c-content {
    @apply relative;
    @apply flex-y gap-y-8;
}
.landing.new .page-5 > .c-content > .c-row {
    @apply grid grid-cols-3 justify-items-center gap-x-6;
}
.landing.new .page-5 > .c-content > .c-row.c-first {
    @apply pt-12;
}
body.narrow .landing.new .page-5 > .c-content > .c-row {
    @apply flex-y gap-y-4;
}
body.narrow .landing.new .page-5 > .c-content > .c-row.c-first {
    @apply pt-0;
}

.landing-image-card {
    @apply flex-y;
    @apply rounded-xl;
    @apply border-2 border-[#CACCFF];
}
.landing-image-card.title-card {
    @apply w-full;
    @apply border-none;
}
.landing.new .page-5 > .c-content > .row-title,
.landing-image-card.title-card > .c-title {
    @apply text-5xl;
}
.landing-image-card.title-card > .c-image,
.landing-image-card.title-card > .c-text {
    @apply hidden;
}
.landing-image-card > .c-image {
    @apply flex;
}
.landing-image-card > .c-image > img {
    @apply flex-1 flex;
}
.landing-image-card > .c-title {
    @apply pt-4 px-4;
    @apply text-headline-6;
}
.landing-image-card > .c-text {
    @apply flex-y gap-y-4;
    @apply p-4;
}
.landing-image-card.title-card > .c-title {
    @apply p-0;
}
.landing-image-card-item {
    @apply flex-x gap-x-4;
}
.landing-image-card-item > .c-icon {
    @apply flex-none;
    @apply w-6 h-6;
}
.landing-image-card-item > .c-content {
    @apply text-text-1;
}

/* Page 6 */

.landing.new .page-6 {
    @apply min-h-0;
    background: linear-gradient(to right, #E5E5FA 50%, #EAEAF7, #F6EEF5);
}
.landing.new .page-6 > .c-content {
    @apply relative;
    @apply flex-y self-start lg:gap-y-8;
    @apply w-full;
    @apply pb-0;
}
.landing.new .page-6 > .c-content > .c-top {
    @apply flex-x gap-x-8;
}
body.narrow .landing.new .page-6 > .c-content > .c-top {
    @apply -flex-y gap-y-4;
}
.landing.new .page-6 > .c-content > .c-top > .main-image {
    @apply flex;
    @apply w-1/3;
}
body.narrow .landing.new .page-6 > .c-content > .c-top > .main-image {
    @apply w-full;
}
.landing.new .page-6 > .c-content > .c-top > .main-text {
    @apply flex items-start self-center;
}
body.narrow .landing.new .page-6 > .c-content .main-text p {
    @apply text-3.5xl;
}
.landing.new .page-6 > .c-content > .c-top > .main-text > .title-text > br {
    @apply hidden md:flex;
}
.landing.new .page-6 > .c-content > .c-top > .main-text .btn-download {
    @apply w-fit;
    @apply mt-8;
}
body.narrow .landing.new .page-6 > .c-content > .c-top > .main-text .btn-download.light {
    @apply w-full;
    @apply mt-4;
    @apply bg-01;
    @apply text-01;
}
.landing.new .page-6 > .c-content > .c-bottom {
    @apply flex;
}
.landing.new .page-6 > .c-content > .c-bottom > .c-btn-group {
    @apply hidden;
}
body.narrow .landing.new .page-6 > .c-content > .c-bottom > .c-btn-group {
    @apply flex-1 flex-y gap-y-4;
}
body.narrow .landing.new .page-6 > .c-content > .c-bottom > .c-btn-group > .btn-download.web-signin {
    @apply border-text-01;
    @apply bg-transparent;
    @apply text-01;
}
body.narrow .landing.new .page-6 > .c-content > .c-bottom > .c-btn-group > .btn-download.web-signin > i {
    @apply text-01;
}
.landing.new .page-6 > .c-content > .c-top > .main-text .btn-download.web-signin > span,
body.narrow .landing.new .page-6 > .c-content > .c-bottom > .c-btn-group > .btn-download.web-signin > span {
    @apply text-base font-medium;
}

/* Buttons */

.signin-button-group {
    @apply flex-x items-center;
    @apply px-2;
    @apply h-10 w-fit;
    @apply rounded-full;
    @apply bg-01;
    @apply text-01 font-semibold;
}
body.narrow .signin-button-group {
    @apply my-4;
    @apply text-xl;
}

.link-btn {
    @apply flex-none flex-x items-center justify-center gap-x-2;
    @apply bg-transparent;
}
.link-btn-content {
    @apply flex items-center;
    @apply h-12;
}
body.narrow .landing.new .link-btn-content {
    @apply h-8;
}
.link-btn-content img {
    @apply min-h-6 min-w-6 max-w-6 max-h-6;
    @apply lg:min-h-8 lg:min-w-8 lg:max-w-8 lg:max-h-8;
}
.landing.new .footer-link {
    @apply text-title-1 text-01;
}
body.narrow .landing.new .footer-link {
    @apply h-8;
    @apply text-title-1 text-start;
}

body.wide .landing.new .landing-menu,
body.wide .docs-header .landing-menu {
    @apply hidden;
}
body.narrow .landing.new .landing-menu,
body.narrow .docs-header .landing-menu {
    @apply absolute flex-x z-30;
    @apply top-0 left-0 right-0;
}
body.narrow .landing.new .landing-menu.closed,
body.narrow .docs-header .landing-menu.closed {
    @apply -translate-x-full;
    @apply transition-all ease-in-out duration-200;
}
body.narrow .landing.new .landing-menu.open,
body.narrow .docs-header .landing-menu.open {
    @apply translate-x-0;
    @apply transition-all ease-in-out duration-200;
}
body.narrow .landing-menu .c-container {
    @apply relative flex-y;
    @apply w-10/12;
    @apply rounded-r-2xl;
    @apply pl-12;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}
body.narrow .landing.new .landing-menu {
    @apply flex-x;
    @apply right-0;
}
.landing-menu.open .c-container {
    @apply relative flex-y;
    @apply h-screen w-10/12;
    @apply rounded-r-2xl;
    @apply bg-01;
    height: calc(var(--vh, 1vh) * 100);
}
.landing-menu .c-container .menu-header {
    @apply ordinary-header;
    @apply justify-start;
    @apply px-0 py-2;
}
.landing-menu .menu-footer {
    @apply flex-x items-center justify-start gap-x-2;
    @apply my-8;
}
.landing-menu .menu-content {
    @apply flex-y items-start justify-start gap-y-2;
    @apply h-full;
    @apply my-4;
}
.landing-menu .menu-content button,
.landing-menu .menu-content a {
    @apply text-title-1 text-01;
}
.landing.new .landing-links {
    @apply flex-1 flex-y lg:flex-x items-center justify-between gap-2 lg:gap-8;
    @apply p-2 lg:p-8 my-12;
    @apply rounded-lg;
    @apply bg-gradient-to-r from-[#C20279] to-[#2D6EFC];
}
body.narrow .landing.new .landing-links {
    @apply hidden;
}
.landing.new .landing-links > .c-title {
    @apply flex-none flex-y;
    @apply text-04 text-2xl lg:text-3.5xl;
}
.landing.new .landing-links > .link-group {
    @apply flex-1 flex-x justify-evenly gap-x-8;
}
.landing.new .landing-links > .link-group > .link-btn > .c-text {
    @apply flex-y items-start;
    @apply text-04 md:text-caption-1 lg:text-title-1;
}
.landing.new .landing-footer {
    @apply flex-x;
    @apply p-4 md:py-8 md:px-16;
    @apply bg-01;
}
.btn-download {
    @apply md:flex-none flex-x gap-x-4 items-center justify-center;
    @apply h-10;
    @apply px-6;
    @apply rounded-full;
    @apply bg-gradient-to-r from-[#C20279] to-[#2D6EFC];
    @apply text-04 text-headline-1;
}
.btn-download.light {
    @apply bg-none bg-01;
    @apply text-01;
}
.btn-download.light.with-border {
    @apply border border-text-02;
}
.landing.new .btn-download {
    @apply max-w-none md:max-w-88;
}
.landing.new .btn-download > i {
    @apply text-2xl font-thin text-04;
}
.landing.new .btn-download.light > i {
    @apply text-01;
}
.landing.new .btn-download.web-signin,
.landing.new .btn-download.ios-disabled {
    @apply justify-center;
    @apply w-full lg:w-fit;
    @apply bg-none bg-01;
    @apply border border-text-04;
}
body.narrow .landing.new .btn-download.web-signin,
body.narrow .landing.new .btn-download.ios-disabled {
    @apply justify-center;
    @apply w-full;
    @apply bg-none bg-transparent;
    @apply border border-text-04;
    @apply text-04;
}
.btn-download.transparent,
.btn-download.ios-disabled.transparent {
    @apply justify-center;
    @apply bg-none bg-transparent;
    @apply border border-bg-01;
}
.btn-download.ios-disabled {
    @apply opacity-75;
}
.btn-download.transparent * {
    @apply text-04;
}
.btn-download .c-content {
    @apply flex items-center;
    @apply text-04 text-headline-1;
}

.page-container {
    @apply flex-y;
    @apply h-full;
    @apply p-14;
}
.page-container.with-header {
    @apply pt-0;
}
.page-container.with-footer {
    @apply pb-0;
}
body.narrow .page-container {
    @apply px-4 pb-4;
}
.page-container .c-content {
    @apply justify-evenly;
    @apply h-full;
}
.page .c-header {
    @apply flex-x justify-center;
    @apply pt-16 pb-8;
    @apply text-5xl font-semibold;
}
body.narrow .landing.new .c-header {
    @apply flex-y items-center;
    @apply pt-14 pb-4;
    @apply text-title-1;
}
.page-container .c-content .c-item-image {
    @apply flex md:flex-1 justify-center;
}
body.narrow .page-container .c-content .c-item-image {
    @apply self-center;
    @apply max-h-64;
}
body.narrow .page-container .c-content > .c-item-image > img {
    @apply h-auto;
}
.page-container .c-content .c-item-description {
    @apply flex-y justify-center md:gap-y-4;
    @apply md:w-1/2;
}
.page-container .c-content .c-item-description p {
    @apply leading-6;
}
body.narrow .page-container .c-content .c-item-description p {
    @apply leading-4.5;
}
.page-container img {
    @apply h-full;
}
.features-grid {
    @apply flex-col gap-y-12;
    @apply mt-8;
}
body.wide .features-grid {
    @apply justify-around gap-y-4;
}
.features-grid .c-row {
    @apply flex-y md:flex-x justify-around gap-y-12;
}
.features-grid .c-cell {
    @apply flex-y gap-y-2;
    @apply md:w-72;
}
.features-grid .c-image {
    @apply flex justify-start md:items-end;
    @apply md:h-36;
}
.features-grid .c-image img {
    @apply flex-1 md:flex-none;
}
.features-grid .c-text {
    @apply flex-y;
    @apply px-2;
}
body.narrow .features-grid .c-text {
    @apply text-2xl;
}
.landing.new .extra-content {
    @apply flex-x items-start gap-x-4;
    @apply h-full;
    @apply p-4;
    @apply bg-01;
    @apply rounded-lg;
    @apply leading-6;
}
body.narrow .landing.new .extra-content {
    @apply leading-4.5;
}
.landing.new .extra-content p {
    @apply p-0;
}

/* Docs */
.docs-layout {
    @apply flex-y;
}
.docs-layout .layout-header {
    @apply px-4;
    @apply border-b border-bg-04;
}
body.narrow .docs-layout .layout-header {
    @apply border-none;
}
.docs-layout .docs-header {
    @apply bg-transparent;
}
body.narrow .docs-layout .layout-header {
    @apply px-2;
}
.docs-layout .layout-footer {
    @apply hidden;
}
body.narrow .side-nav-left:has(.docs-left-panel) {
    @apply hidden;
}

.docs-left-panel {
    @apply flex-y;
    @apply h-full w-110;
    @apply pl-24 pr-4;
    @apply bg-03;
    @apply border-r border-bg-04;
}
body.narrow .docs-left-panel {
    @apply hidden;
}
.docs-left-panel .c-header {
    @apply flex-x;
    @apply h-14;
    @apply items-center;
    @apply py-2;
}
.docs-left-panel .c-header > .c-icon {
    @apply max-w-fit;
}
.docs-left-panel .c-header > .c-title-wrapper {
    @apply flex-x;
}
.docs-left-panel .c-header > .c-title-wrapper > .c-title {
    @apply self-center;
    @apply max-w-40;
    @apply px-2 -mt-1.5;
}
.docs-left-panel .c-header > .c-title-wrapper > .c-version {
    @apply max-w-9;
    @apply -mt-2 -ml-1;
}
.docs-left-panel .c-content {
    @apply h-full py-2;
}

.docs-left-panel .navbar-item {
    @apply cursor-pointer;
}
.docs-left-panel .navbar-item .c-title,
.docs-right-panel .c-title {
    @apply text-caption-3 font-medium;
}
.docs-left-panel .navbar-item.active .navbar-item-content {
    @apply text-primary;
}
body.hoverable .docs-left-panel .navbar-item.inactive:hover {
    @apply bg-secondary;
}
.docs-left-panel .navbar-item {
    @apply gap-x-0;
}
.docs-left-panel .navbar-item .navbar-item-content {
    @apply flex-x gap-x-4 items-center;
    @apply mx-2;
}
.docs-left-panel .navbar-item-content {
    @apply grow;
}
.docs-left-panel .navbar-item-ending {
    @apply hidden;
}
.docs-header {
    @apply flex;
    @apply h-14;
    @apply items-center;
    @apply bg-01;
    @apply text-3xl font-semibold;
}
.docs-right-panel .context-menu-btn,
.landing.new .context-menu-btn {
    @apply md:mx-4;
    @apply rounded-full;
    @apply cursor-pointer;
}
.docs-right-panel {
    @apply flex-y;
    @apply w-full md:w-80 h-full;
    @apply bg-01;
}
body.narrow .docs-right-panel {
    @apply hidden;
}
.docs-right-panel .c-header {
    @apply flex-x items-center justify-end gap-x-4;
    @apply h-14;
    @apply px-4;
    @apply bg-01;
}
.docs-right-panel .signin-button-group {
    @apply h-10;
    @apply border border-text-01;
}
.docs-right-panel .c-title.active,
.docs-subheader .c-title.active {
    @apply text-primary;
}
.docs-right-panel .c-title,
.docs-subheader .c-title {
    @apply no-underline;
}
.docs-subheader > .c-text {
    @apply text-sm font-medium;
}

.docs-content {
    @apply flex-y flex-1;
    @apply gap-y-4 px-4;
    @apply overflow-y-auto custom-scrollbar;
    @apply select-text;
}
body.narrow .docs-content {
    @apply px-0 ml-4;
}

body.narrow .docs-header {
    @apply gap-x-2;
    @apply bg-02;
    @apply text-headline-1;
}
.docs-header .menu-button.btn .btn-content {
    @apply text-icons-01;
}

body.wide .docs-subheader {
    @apply hidden;
}
body.narrow .docs-subheader {
    @apply flex-y gap-y-2;
    @apply px-4 py-1;
    @apply bg-01;
    @apply shadow-md;
}

body.narrow .side-nav.side-nav-right:has(> .docs-right-panel) {
    @apply hidden;
}
body.narrow .layout-body:has(> .docs-content) {
    @apply px-0;
}

/* Video modal */
body.narrow .landing-video-modal {
    @apply top-0 bottom-0 left-0 right-0;
    @apply p-0;
    @apply rounded-none;
}
body.narrow .landing-video-modal video,
body.narrow .landing-video-modal .c-video-plug {
    @apply h-screen;
    height: calc(var(--vh, 1vh) * 100);
}
body.narrow .landing-video-modal .dialog-body {
    @apply bg-gradient-to-b from-[#0036A3] to-[#6E368F];
}
.landing-video-modal .modal-wrapper {
    @apply absolute;
    @apply inset-0;
    @apply bg-cover bg-repeat-round;
    @apply bg-[url('/dist/images/ellipses-mobile.svg')];
}
.landing-video-modal .video-wrapper {
    @apply relative z-20;
    @apply flex items-center justify-center;
    @apply h-full w-full;
}
.landing-video-modal .control-wrapper {
    @apply absolute z-30 top-0 bottom-0 left-0 right-0;
    @apply flex-y;
}
.landing-video-modal .c-header > .c-btn {
    @apply flex-none;
    @apply w-14 h-14;
}
.landing-video-modal .c-header > .c-title {
    @apply flex-1 flex;
}
body.narrow .landing-video-modal .c-header {
    @apply flex-x items-center;
    @apply h-14;
    @apply text-04;
    @apply bg-black opacity-80;
}
body.narrow .landing-video-modal .c-body {
    @apply flex-1 flex justify-center items-center;
}
body.narrow .landing-video-modal .c-footer {
    @apply flex-x items-center gap-x-2;
    @apply h-14;
    @apply px-2;
    @apply text-04;
    @apply bg-black opacity-80;
}
.landing-video-modal .play-btn,
.landing-video-modal .pause-btn {
    @apply flex-none items-center justify-center;
    @apply w-20 h-20;
    @apply rounded-full;
    @apply bg-black;
    @apply opacity-50;
    left: calc(50vw - 2.5rem);
    bottom: calc(50vh - 2.5rem);
}
.landing-video-modal .play-btn-icon {
    @apply absolute;
    @apply bg-transparent;
    @apply text-3xl text-04;
    @apply opacity-100;
}
.landing-video-modal .c-body .play-btn,
.landing-video-modal .c-body.playing .pause-btn {
    @apply flex;
}
.landing-video-modal .c-body .pause-btn,
.landing-video-modal .c-body.playing .play-btn {
    @apply hidden;
}
.landing-video-modal progress {
    @apply flex-1;
    @apply h-0.5 w-full;
}
.landing-video-modal progress[value]::-webkit-progress-bar {
    @apply bg-06;
    @apply rounded-sm;
}

.landing-video-modal progress[value]::-webkit-progress-value {
    @apply bg-01;
}
.landing-video-modal .c-timeline {
    @apply flex-none flex-x gap-x-1;
    @apply text-04 text-xs font-thin;
}
.landing-video-modal .c-current,
.landing-video-modal .c-duration {
    @apply flex items-center justify-center;
    @apply w-10;
}

.landing.new .page-links {
    @apply h-screen;
    @apply overflow-hidden;
    @apply bg-gradient-to-b from-[#0036A3] to-[#6E368F];
    height: calc(var(--vh, 1vh) * 100);
}
body.narrow .page-links {
    @apply min-h-screen;
    min-height: calc(var(--vh, 1vh) * 100);
}
.landing.new .page-links .page-links-wrapper {
    @apply overflow-hidden;
}
.page-links .c-content {
    @apply flex-y items-center justify-center;
    @apply h-full;
    @apply overflow-hidden;
}
.page-links .page-title {
    @apply flex;
    @apply my-8;
    @apply text-headline-4 text-04;
}
body.narrow .page-links .page-title {
    @apply justify-start;
    @apply w-full;
    @apply mt-0 mb-4;
    @apply text-2xl;
}
.page-links .c-tiles {
    @apply grid grid-cols-2 gap-8;
    @apply w-auto;
}
body.narrow .page-links .c-tiles {
    @apply grid-cols-1 gap-4;
    @apply w-full;
}
body.wide .page-links .btn-to-main-page {
    @apply hidden;
}
.landing-download-tile {
    @apply flex-x justify-between gap-4;
    @apply p-4;
    @apply rounded-lg;
    @apply bg-01;
    @apply overflow-hidden;
}
body.hoverable .landing-download-tile:hover {
    @apply bg-accent;
}
body.hoverable .landing-download-tile:hover .c-title,
body.hoverable .landing-download-tile:hover .c-text {
    @apply text-04;
}
.landing-download-tile .c-title {
    @apply flex justify-start;
    @apply text-xl font-semibold;
}
.landing-download-tile .c-text {
    @apply flex justify-start;
    @apply text-text-1;
}
.landing-download-tile .c-brand {
    @apply md:mt-4;
}
.landing-download-tile .c-qrcode {
    @apply hidden md:flex;
    @apply w-20 h-20;
    @apply m-4;
}
.landing.new .landing-header .btn-download {
    @apply gap-x-3;
    @apply min-w-0;
}
.landing-download-tile .c-content {
    @apply flex-1 flex-y justify-between;
}
body.narrow .landing-download-tile .c-content {
    @apply flex-x items-center;
}
.landing-download-tile .web-app {
    @apply flex-x items-center gap-2;
    @apply px-2 py-1;
    @apply rounded-lg;
    @apply bg-black;
}
.landing-download-tile .web-app > span {
    @apply text-base font-medium text-04;
}
.landing-download-tile .web-app > i {
    @apply text-2xl text-04 font-thin;
}

.landing.new .checkmark {
    @apply flex-x items-center gap-x-4;
}
.landing.new .checkmark > .c-text {
    @apply text-2xl md:text-3.5xl lg:text-4.5xl font-normal;
}
.landing.new .checkmark img {
    @apply w-11 h-11 md:w-12 md:h-12;
}


/* Landing card */

.landing-card {
    @apply flex-y gap-y-2;
    @apply p-4;
    @apply rounded-lg;
    @apply border-2 border-[#CACCFF];
}
.landing-card > .landing-card-header {
    @apply flex-x gap-x-4;
}
.landing-card > .landing-card-header > .c-icon {
    @apply flex;
}
.landing-card > .landing-card-header > .c-icon i {
    @apply text-2xl text-accent;
}
.landing-card > .landing-card-header > .c-title {
    @apply flex items-center;
    @apply text-headline-6;
}
.landing-card > .c-text {
    @apply text-xl leading-6;
}

/* Premium features modal */

.premium-features-modal.modal-frame {
    @apply flex-y gap-y-0;
    @apply w-full;
    @apply py-8;
    max-width: 47rem;
}
body.narrow .premium-features-modal.modal-frame {
    @apply py-0;
}
body.wide .premium-features-modal .modal-header {
    @apply hidden;
}
.premium-features-modal .modal-header-interactive {
    @apply bg-bubble;
}
.premium-features-modal .modal-header-interactive * {
    @apply text-04;
}
.premium-features-modal .modal-header-interactive .modal-title {
    @apply text-headline-1;
}
.premium-features-modal > .dialog-body {
    @apply px-8;
}
body.narrow .premium-features-modal > .dialog-body {
    @apply px-4;
}
.premium-features-modal > .dialog-body > .form-block {
    @apply p-0;
}
body.narrow .premium-features-modal > .dialog-body > .form-block {
    @apply py-4;
}
.premium-features-modal .modal-wrapper {
    @apply flex-y gap-y-6;
}
.premium-features-modal .c-left,
.premium-features-modal .c-right {
    @apply flex-y gap-y-4;
    @apply w-1/2;
}
body.narrow .premium-features-modal .c-left,
body.narrow .premium-features-modal .c-right {
    @apply w-auto;
}
.premium-features-modal .c-header {
    @apply flex-y;
    @apply text-01;
}
.premium-features-modal .c-header > .c-title {
    @apply text-headline-4;
}
.premium-features-modal .c-header > .c-subtitle {
    @apply text-3.5xl font-normal;
}
.premium-features-modal .c-block-1,
.premium-features-modal .c-block-2,
.premium-features-modal .c-block-3,
.premium-features-modal .c-block-4,
.premium-features-modal .c-block-note {
    @apply flex-x gap-x-8;
}
.premium-features-modal .c-block-yellow {
    @apply p-4;
    @apply rounded-lg;
    @apply overflow-hidden;
    @apply bg-[#FFF0CA];
    @apply text-headline-1 text-01;
}
body.narrow .premium-features-modal .c-block-1 {
    @apply -flex-y gap-y-4;
}
body.narrow .premium-features-modal .c-block-2 {
    @apply flex-y;
}
body.narrow .premium-features-modal .c-block-3 {
    @apply flex-y gap-y-6;
}
body.narrow .premium-features-modal .c-block-4 {
    @apply -flex-y gap-y-6;
}
body.narrow .premium-features-modal .c-block-note {
    @apply flex-y gap-y-4;
}
.premium-features-modal .c-block-1 p {
    @apply text-text-1 text-01;
}
.premium-features-modal .c-block-1 .c-left p span {
    @apply text-headline-1;
}
.premium-features-modal .c-block-3 .c-left {
    @apply gap-0;
    @apply text-3.5xl text-01;
}
.premium-features-modal .c-block-3 .c-left > span {
    @apply text-05;
}
.premium-features-modal .c-block-3 .c-right {
    @apply text-text-1 text-01;
}
.premium-features-modal .c-block-3 .c-right .btn-download {
    @apply flex-1;
}
.premium-features-modal .c-block-4 .c-left p {
    @apply text-text-1 text-01;
}
.premium-features-modal .c-block-4 .c-right {
    @apply text-text-1 text-01;
}

.premium-features-modal .text-note {
    @apply text-caption-2 text-icons-01;
}
.premium-features-modal-card {
    @apply flex-x items-center gap-x-4;
    @apply h-14;
    @apply p-2;
    @apply rounded-lg;
    @apply border-2 border-[#CACCFF];
}
.premium-features-modal-card .c-icon {
    @apply text-accent;
}
.premium-features-modal-card .c-text {
    @apply text-headline-1 text-01;
}
.premium-features-modal-card.text-only {
    @apply justify-start items-end;
    @apply px-0;
    @apply border-none;
}
.premium-features-modal-card.text-only .c-icon {
    @apply hidden;
}
.premium-features-modal .round-blue {
    @apply flex-none flex justify-center items-center;
    @apply w-8 h-8;
    @apply rounded-full;
    @apply bg-[#CCE4FFFF];
    @apply text-title-1 text-accent;
}
