@using ActualChat.UI.Blazor.Services
@namespace ActualChat.UI.Blazor.Components

<Button
    Class="btn-outline"
    Click="@OnClick">Sign out</Button>

@code {
    [Inject] private NavigationManager Nav { get; init; } = null!;

    private void OnClick()
        => Nav.NavigateTo(Links.SignOut, true);
}
