@using ActualChat.UI.Blazor.Services
@namespace ActualChat.UI.Blazor.Components

<Button
    Class="btn-outline"
    Click="@OnSignOutClick">Sign out</Button>

@code {
    [Inject] private IClientAuth ClientAuth { get; init; } = null!;
    [Inject] private NavigationManager Nav { get; init; } = null!;

    private void OnSignOutClick()
        => Nav.NavigateTo(Links.SigningOut);
}
