@using ActualChat.UI.Blazor.Services
@using ActualChat.Users
@namespace ActualChat.UI.Blazor.Components

@{
    var mainButtonClass = ButtonType == MenuButton.Default ? "btn-primary " : "btn-round ";
    var btnClass = mainButtonClass + ButtonClass;
}

<Button
    Class="@btnClass"
    Click="@SignIn">
    @if (ButtonType == MenuButton.Default) {
        <span>Sign in</span>
    } else {
        <i class="icon-log-in text-2xl"></i>
    }
</Button>

@code {
    public enum MenuButton {
        Default,
        Round,
    }

    [Inject] private IClientAuth ClientAuth { get; init; } = null!;
    [Inject] private ModalUI ModalUI { get; init; } = null!;

    [Parameter] public string ButtonClass { get; set; } = "";
    [Parameter] public MenuButton ButtonType { get; set; } = MenuButton.Default;

    private Task SignIn()
        => ModalUI.Show(new SignInModal.Model());
}
