<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<!--	<key>CFBundleDisplayName</key>-->
<!--	<string>App.Maui.IosShareExtShareExtension</string>-->
<!--	<key>CFBundleName</key>-->
<!--	<string>App.Maui.IosShareExtShareExtension</string>-->
<!--	<key>CFBundleIdentifier</key>-->
<!--	<string>chat.actual.dev.app.share</string>-->
<!--	<key>CFBundleDevelopmentRegion</key>-->
<!--	<string>en</string>-->
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
<!--	<key>CFBundleShortVersionString</key>-->
<!--	<string>1.0</string>-->
<!--	<key>CFBundleVersion</key>-->
<!--	<string>1.0</string>-->
<!--	<key>MinimumOSVersion</key>-->
<!--	<string>16.4</string>-->
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>NSExtensionActivationRule</key>
			<string>TRUEPREDICATE</string>
		</dict>
        <key>NSExtensionPrincipalClass</key>
        <string>ShareViewController</string>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.share-services</string>
	</dict>
</dict>
</plist>
