<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>NSExtensionActivationRule</key>
			<string>SUBQUERY (
				extensionItems,
				$extensionItem,
				SUBQUERY (
					$extensionItem.attachments,
					$attachment,
					ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.item"
                        OR ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.image"
                        OR ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.text"
				).@count &gt;= 1
			).@count &gt;= 1</string>
			<key>IntentsSupported</key>
			<array>
				<string>INSendMessageIntent</string>
			</array>
		</dict>
		<key>NSExtensionPrincipalClass</key>
		<string>ShareViewController</string>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.share-services</string>
	</dict>
</dict>
</plist>
