.pic-upload {
    @apply relative flex-x gap-8;
}
body.hoverable .pic-upload:hover .pic-upload-picker {
    @apply visible;
}
body:not(.hoverable) .pic-upload .pic-upload-picker {
    @apply visible;
}

.pic-upload-picker {
    @apply invisible absolute top-0 left-0 rounded-full;
    @apply rounded-full;
}
.pic-upload-picker,
.pic-upload-picker * {
    @apply cursor-pointer;
}

.pic-upload-input-file-label {
    @apply flex items-center justify-center w-full h-full cursor-pointer;
}

.pic-upload-drop-zone {
    @apply border-primary;
    @apply rounded-full;
}

.pic-upload-drop-zone-hover {
    border-style: solid;
}
.pic-upload .btn {
    @apply max-w-none;
}

.pic-size-4 {
    @apply w-4 h-4 min-w-4 min-h-4 max-w-4 max-h-4;
}

.pic-size-5 {
    @apply w-5 h-5 min-w-5 min-h-5 max-w-5 max-h-5;
}

.pic-size-6 {
    @apply w-6 h-6 min-w-6 min-h-6 max-w-6 max-h-6;
}

.pic-size-7 {
    @apply w-7 h-7 min-w-7 min-h-7 max-w-7 max-h-7;
}

.pic-size-8 {
    @apply w-8 h-8 min-w-8 min-h-8 max-w-8 max-h-8;
}

.pic-size-9 {
    @apply w-9 h-9 min-w-9 min-h-9 max-w-9 max-h-9;
}

.pic-size-10 {
    @apply w-10 h-10 min-w-10 min-h-10 max-w-10 max-h-10;
}

.pic-size-12 {
    @apply w-12 h-12 min-w-12 min-h-12 max-w-12 max-h-12;
}

.pic-size-16 {
    @apply w-16 h-16 min-w-16 min-h-16 max-w-16 max-h-16;
}

.pic-size-20 {
    @apply w-20 h-20 min-w-20 min-h-20 max-w-20 max-h-20 text-2xl;
}

.pic-size-24 {
    @apply w-24 h-24 min-w-24 min-h-24 max-w-24 max-h-24 text-2xl;
}

.pic-size-30 {
    @apply w-30 h-30 min-w-30 min-h-30 max-w-30 max-h-30 text-2xl;
}
