@namespace ActualChat.Chat.UI.Blazor.Components
@{
    var action = Details.HasLeft ? "left" : "joined";
}
<AuthorName AuthorSid="@Details.AuthorId" Class="service-message-author-name"/><span> @action the chat</span>

@code {
    [Inject] private IAuthors Authors { get; init; } = null!;
    [Inject] private Session Session { get; init; } = null!;
    [Parameter, EditorRequired] public ChatMessageModel Message { get; set; } = null!;
    private MembersChanged Details => Message.Entry.SystemEntry!.MembersChanged!;
}
