@namespace ActualChat.Chat.UI.Blazor.Components

<div class="service-message">
    @if (Message.Entry.SystemEntry!.MembersChanged != null) {
        <ChatMembershipChangeMessage Message="@Message"/>
    }
</div>

@code {
    [Parameter, EditorRequired] public ChatMessageModel Message { get; set; } = null!;
}
