<div class="discover-right">
    <div class="welcome-message">
        <div class="c-title">
            Welcome message
        </div>
        <div class="c-item">
            In <span class="c-chat-link">Actual Chat</span>, the main topic of the day is discussing the Air Chat app feature.
        </div>
        <div class="c-item">
            In the <span class="c-chat-link">Design News</span> chat room they discuss the possibilities of the voice interface.
        </div>
        <div class="c-item">
            <span class="c-chat-link">Olesya</span> asks to plan a vacation.
        </div>
    </div>
</div>
