<div class="discover-header">
    <div class="c-title">
        @Title
    </div>
    <div class="c-ending">
        <i class="icon-play-fill text-2xl"></i>
        <i class="icon-search text-2xl"></i>
    </div>
</div>

@code {
    [Parameter] public string Title { get; set; } = "";
}
