.image-viewer-modal.modal-frame {
    @apply relative;
    @apply flex-1 flex-y justify-center items-center;
    @apply w-full h-screen min-h-screen;
    @apply p-0;
    @apply overflow-hidden;
    @apply rounded-none;
    @apply border-0;
    @apply bg-transparent;
    @apply backdrop-blur-sm;
    @apply backdrop-brightness-30;
    height: calc(var(--vh, 1vh) * 100);
    min-height: calc(var(--vh, 1vh) * 100);
}

/* Image viewer header */
.image-viewer-header {
    @apply ordinary-header;
    @apply absolute top-0 z-20;
    @apply w-full;
    @apply md:shadow-md;
    @apply bg-08 md:bg-viewer-header;
}
.image-viewer-header > .c-author {
    @apply flex-1 flex-x items-center gap-x-4;
}
.image-viewer-header > .c-author > .c-content {
    @apply flex-y;
}
.image-viewer-header > .c-author > .c-content > .c-name {
    @apply max-h-6;
    @apply overflow-y-hidden truncate;
    @apply text-base md:text-sm text-04;
}
.image-viewer-header > .c-author > .c-content > .c-time {
    @apply text-xs md:text-xxs text-04;
}
.image-viewer-header .c-control-panel {
    @apply flex-x gap-x-3 md:gap-x-4;
}
.image-viewer-header > .c-control-panel > .c-link {
    @apply flex justify-center;
}
.image-viewer-header .btn-h.mobile {
    @apply flex md:hidden;
}
.image-viewer-header .btn-h.desktop {
    @apply hidden md:flex;
}
.image-viewer-header .image-header-btn .btn-content {
    @apply bg-transparent text-03 min-h-10 max-h-10 min-w-10 max-w-10;
}
.image-viewer-header .image-header-btn .btn-content i {
    @apply text-3xl md:text-2xl;
}
body.hoverable .image-viewer-header .image-header-btn.btn.btn-round:hover .btn-content {
    @apply bg-06 text-06;
}
.image-viewer-header.hide-to-show {
    opacity: 1;
    transform: translateY(0);
    transition: all 300ms ease-in-out;
}
.image-viewer-header.show-to-hide {
    opacity: 0;
    transform: translateY(-3.5rem);
    transition: all 300ms ease-in-out;
}

/* Image viewer footer */
.image-viewer-footer {
    @apply absolute bottom-0;
    @apply flex-x justify-center items-center;
    @apply h-14 w-full;
    @apply md:shadow-md-top;
    @apply bg-08 md:bg-viewer-header;
}
.image-viewer-footer .show-original-button {
    @apply -mt-4 underline underline-offset-2;
    @apply text-04 text-sm font-normal;
    @apply hover:text-06;
    @apply bg-transparent;
    @apply cursor-pointer;
}
.image-viewer-footer.hide-to-show {
    opacity: 1;
    transform: translateY(0);
    transition: all 300ms ease-in-out;
}
.image-viewer-footer.show-to-hide {
    opacity: 0;
    transform: translateY(3.5rem);
    transition: all 300ms ease-in-out;
}

/* Swiper */
swiper-container {
    width: 100%;
    height: 100%;
}
swiper-slide img {
    max-width: 100%;
    max-height: 100%;
}
.media-swiper {
    height: 100%;
    width: 100%;
}
.media-swiper video {
    max-height: 100%;
}
.media-preview-swiper {
    height: 10%;
    box-sizing: border-box;
    padding: 10px 0;
}
.media-preview-swiper swiper-slide {
    height: 100%;
    opacity: 0.4;
    max-width: fit-content;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
swiper-container.media-preview-swiper::part(wrapper) {
    justify-content: center;
}
.media-preview-swiper .swiper-slide-thumb-active {
    opacity: 1;
}
swiper-container.media-swiper.navigation-hidden::part(button-prev) {
    opacity: 0;
    transform: translateX(-40px);
    transition: all 300ms ease-in-out;
}
swiper-container.media-swiper.navigation-hidden::part(button-next) {
    opacity: 0;
    transform: translateX(40px);
    transition: all 300ms ease-in-out;
}
swiper-container.media-swiper.navigation-visible::part(button-next),
swiper-container.media-swiper.navigation-visible::part(button-prev) {
    transition: all 300ms ease-in-out;
}
