.image-viewer-modal.modal-frame {
    @apply relative;
    @apply flex-1 flex-y justify-center items-center;
    @apply w-full h-screen min-h-screen;
    @apply p-0;
    @apply overflow-hidden;
    @apply rounded-none;
    @apply bg-transparent;
    @apply backdrop-blur-sm;
    @apply backdrop-brightness-30;
    height: calc(var(--vh, 1vh) * 100);
    min-height: calc(var(--vh, 1vh) * 100);
}

/* Image viewer header */
.image-viewer-header {
    @apply ordinary-header;
    @apply absolute top-0 z-20;
    @apply w-full;
    @apply md:shadow-md;
    @apply bg-08 md:bg-[#44444466];
}
.image-viewer-header > .c-author {
    @apply flex-1 flex-x items-center gap-x-4;
}
.image-viewer-header > .c-author > .c-content {
    @apply flex-y;
}
.image-viewer-header > .c-author > .c-content > .c-name {
    @apply max-h-6;
    @apply overflow-y-hidden truncate;
    @apply text-base md:text-sm text-04;
}
.image-viewer-header > .c-author > .c-content > .c-time {
    @apply text-xs md:text-xxs text-04;
}
.image-viewer-header .c-control-panel {
    @apply flex-x gap-x-3 md:gap-x-4;
}
.image-viewer-header > .c-control-panel > .c-link {
    @apply flex justify-center;
}
.image-viewer-header .btn-h.mobile {
    @apply flex md:hidden;
}
.image-viewer-header .btn-h.desktop {
    @apply hidden md:flex;
}
.image-viewer-header .image-header-btn .btn-content {
    @apply bg-transparent text-03 min-h-10 max-h-10 min-w-10 max-w-10;
}
.image-viewer-header .image-header-btn .btn-content i {
    @apply text-3xl md:text-2xl;
}
body.hoverable .image-viewer-header .image-header-btn.btn.btn-round:hover .btn-content {
    @apply bg-06 text-06;
}
.image-viewer-header.hide-to-show {
    opacity: 1;
    transform: translateY(0);
    transition: all 300ms ease-in-out;
}
.image-viewer-header.show-to-hide {
    opacity: 0;
    transform: translateY(-3.5rem);
    transition: all 300ms ease-in-out;
}

/* Footer gallery */

.footer-gallery {
    @apply flex-x justify-center items-end gap-x-0.5;
    @apply w-full;
    @apply py-px;
    @apply bg-transparent;
}
.footer-gallery .gallery-item {
    @apply relative flex h-full;
    @apply relative;
    @apply flex;
    @apply min-w-8 max-w-20;
    @apply overflow-hidden;
    @apply cursor-pointer;
    height: calc(3.5rem - 4px);
}
.footer-gallery .gallery-item.inactive {
    filter: brightness(.25);
}
.footer-gallery .gallery-item > img,
.footer-gallery .gallery-item > video {
    @apply absolute top-1/2 left-1/2;
    @apply min-w-8 max-w-20;
    @apply object-cover;
    height: calc(3.5rem - 4px);
    transform:translate(-50%,-50%);
}

/* Image viewer footer */
.image-viewer-footer {
    @apply absolute bottom-0;
    @apply flex-x justify-center items-center;
    @apply h-14 w-full;
    @apply md:shadow-md-top;
    @apply bg-08 md:bg-[#44444466];
}
.image-viewer-footer .show-original-button {
    @apply -mt-4 underline underline-offset-2;
    @apply text-04 text-sm font-normal;
    @apply hover:text-06;
    @apply bg-transparent;
    @apply cursor-pointer;
}
.image-viewer-footer.hide-to-show {
    opacity: 1;
    transform: translateY(0);
    transition: all 300ms ease-in-out;
}
.image-viewer-footer.show-to-hide {
    opacity: 0;
    transform: translateY(3.5rem);
    transition: all 300ms ease-in-out;
}

/* Image viewer content */
.image-viewer-modal .image-viewer-content {
    @apply absolute flex-x;
    @apply justify-center items-center md:backdrop-blur-md;
}
.image-viewer-content .image-container.inactive,
.image-viewer-content .video-container.inactive {
    @apply hidden;
}

.image-viewer-modal .image-viewer-content img,
.image-viewer-modal .image-viewer-content video {
    @apply flex-auto w-fit;
    @apply object-contain;
}

.image-viewer-modal .c-previous,
.image-viewer-modal .c-next {
    @apply absolute;
    @apply flex items-center justify-center;
    @apply h-full w-12;
    @apply cursor-pointer;
}
body.narrow .image-viewer-modal .c-previous,
body.narrow .image-viewer-modal .c-next {
    @apply hidden;
}
.image-viewer-modal .c-previous i,
.image-viewer-modal .c-next i {
    @apply text-06;
}
.image-viewer-modal .c-previous:hover i,
.image-viewer-modal .c-next:hover i {
    text-shadow: 0 0 20px #FFFFFF;
    transition: all 0.2s ease-in;
}
.image-viewer-modal .c-previous {
    @apply left-0;
    @apply rounded-r-lg;
}
.image-viewer-modal .c-next {
    @apply right-0;
    @apply rounded-l-lg;
}
