@namespace ActualChat.UI.Blazor.Components

@if (!_isDismissed) {
    <div class="@Class toast">
        @if (!Icon.IsNullOrEmpty()) {
            <div class="c-icon">
                <i class="@Icon text-xl"></i>
            </div>
        }
        <div class="c-content">@Text</div>
        @if (ActionClick != null) {
            <div class="c-action">
                <Button
                    Class="btn-transparent btn-sm unhovered"
                    Click="@(_ => Act())">
                    @ActionText
                </Button>
            </div>
        }
        @if (HasCloseButton) {
            <TimerCloseButton Class="btn-sm" CircleClass="btn-sm" Click="@(_ => Dismiss())" Delay="@(AutoDismissDelay ?? 0)"/>
        }
    </div>
}

@code {
    private bool _isDismissed;

    [Parameter] public string Class { get; set; } = "";
    [Parameter] public string Icon { get; set; } = "";
    [Parameter] public string ActionText { get; set; } = "";
    [Parameter] public string Text { get; set; } = "";
    [Parameter] public double? AutoDismissDelay { get; set; }
    [Parameter] public bool HasCloseButton { get; set; } = true;
    [Parameter] public Action? Dismissed { get; set; }
    [Parameter] public Action? ActionClick { get; set; }

    protected override void OnInitialized() {
        if (AutoDismissDelay is { } autoDismissDelay)
            _ = AutoDismiss(TimeSpan.FromSeconds(autoDismissDelay));
    }

    private async Task AutoDismiss(TimeSpan delay) {
        await Task.Delay(delay);
        Dismiss();
    }

    private void Act() {
        Dismiss();
        ActionClick?.Invoke();
    }

    private void Dismiss() {
        if (_isDismissed)
            return;
        _isDismissed = true;
        Dismissed?.Invoke();
    }
}
