@namespace ActualChat.Audio.UI.Blazor.Components

<img draggable="false" src="/dist/images/guide/mic-access.png" alt="mic access">
<div class="c-text text-title-1">
    Allow access to mic in 6 steps
</div>
<div class="c-text font-normal">
    To use it for recording voice messages. Here are the guide how to enable microphone permission in your Phone Settings.
</div>

<div class="c-text text-headline-1">
    1. Open Settings on your Phone
</div>
<img draggable="false" src="/dist/images/guide/android-app-01.png" alt="Android/App/01">

<div class="c-text text-headline-1">
    2. Go to Apps section
</div>
<img draggable="false" src="/dist/images/guide/android-app-02.png" alt="Android/App/02">

<div class="c-text text-headline-1">
    3. Go to Manage apps
</div>
<img draggable="false" src="/dist/images/guide/android-app-03.png" alt="Android/App/03">

<div class="c-text text-headline-1">
    4. Choose Actual Chat
</div>
<img draggable="false" src="/dist/images/guide/android-app-04.png" alt="Android/App/04">

<div class="c-text text-headline-1">
    5. Tap on App permissions
</div>
<img draggable="false" src="/dist/images/guide/android-app-05.png" alt="Android/App/05">

<div class="c-text text-headline-1">
    6. Allow Actual chat app to record audio
</div>
<img draggable="false" src="/dist/images/guide/android-app-06.png" alt="Android/App/06">
