@namespace ActualChat.Audio.UI.Blazor.Components

<img draggable="false" src="/dist/images/guide/mic-access.png" alt="mic access">
<div class="c-text text-title-1">
    Allow access to mic in 3 steps
</div>
<div class="c-text font-normal">
    To use it for recording voice messages. Here are the guide how to enable microphone permission in your Phone Settings.
</div>

<div class="c-text text-headline-1">
    1. Open Settings on your Phone
</div>
<img draggable="false" src="/dist/images/guide/ios-app-01.png" alt="Ios/App/01">

<div class="c-text text-headline-1">
    2. Scroll to Apps and open Actual Chat
</div>
<img draggable="false" src="/dist/images/guide/ios-app-02.png" alt="Ios/App/02">

<div class="c-text text-headline-1">
    3. Allow access to your mic for Actual.chat
</div>
<img draggable="false" src="/dist/images/guide/ios-app-03.png" alt="Ios/App/03">
