@namespace ActualChat.Audio.UI.Blazor.Components

<img draggable="false" src="/dist/images/guide/mic-access.png" alt="mic access">
<div class="c-text text-title-1">
   Microphone access is blocked, but you can fix this!
</div>
<div class="c-text font-normal">
    Actual Chat requires microphone access to record and transcribe your messages.
    To enable it in Safari or any other browser on iOS:
</div>

<div class="c-text text-headline-1">
    1. Open iOS Settings app, then "Safari" section
</div>
<img draggable="false" src="/dist/images/guide/ios-safari-01.png" alt="iOS/Safari/01">

<div class="c-text text-headline-1">
    2. Go to "Settings for websites" (section) > Microphone
</div>
<img draggable="false" src="/dist/images/guide/ios-safari-02.png" alt="iOS/Safari/02">

<div class="c-text text-headline-1">
    3. Change "Microphone access on all websites" to "Ask"
</div>
<img draggable="false" src="/dist/images/guide/ios-safari-03.png" alt="iOS/Safari/03">
