@namespace ActualChat.Audio.UI.Blazor.Components

<img src="/dist/images/guide/mic-access.png" alt="mic access">
<div class="c-text text-title-1">
    Allow access to mic in 5 steps
</div>
<div class="c-text font-normal">
    To use it for recording voice messages. Here are the guide how to enable microphone permission in the Edge
    mobile browser.
</div>

<div class="c-text text-headline-1">
    1. Tap in the browser app to the central button
</div>
<img src="/dist/images/guide/android-edge-01.png" alt="Android/Edge/01">

<div class="c-text text-headline-1">
    2. Go to Settings
</div>
<img src="/dist/images/guide/android-edge-02.png" alt="Android/Edge/02">

<div class="c-text text-headline-1">
    3. Choose Privacy and security
</div>
<img src="/dist/images/guide/android-edge-03.png" alt="Android/Edge/03">

<div class="c-text text-headline-1">
    4. Go to site permissions
</div>
<img src="/dist/images/guide/android-edge-04.png" alt="Android/Edge/04">

<div class="c-text text-headline-1">
    5. Choose microphone
</div>
<img src="/dist/images/guide/android-edge-05.png" alt="Android/Edge/05">

<div class="c-text text-headline-1">
    6. To ask first should be allowed
</div>
<img src="/dist/images/guide/android-edge-06.png" alt="Android/Edge/06">

<div class="c-text text-headline-1">
    7. Turn on mic in Android Settings for the app
</div>
<img src="/dist/images/guide/android-edge-07.png" alt="Android/Edge/07">

<div class="c-text text-headline-1">
    8. Choose Microphone and turn on
</div>
<img src="/dist/images/guide/android-edge-08.png" alt="Android/Edge/08">
