@using ActualChat.UI.Blazor.Services
@using Stl.Rpc
@namespace ActualChat.Audio.UI.Blazor.Components

<img draggable="false" src="/dist/images/guide/mic-access.png" alt="mic access">
<div class="c-text text-headline-1">
    It appears that Actual Chat is unable to start audio recording.
    The most likely cause is that the microphone access permission isn't granted,
    although it could also be due to an issue on our end.
</div>
<div class="c-text text-headline-1">
    To address this problem:
</div>

<ul class="c-items">
    <li><a class="c-reload" @onclick="@OnReloadClick">Click here</a> to perform a hot restart of the app.</li>
    <li>If that doesn't help, try closing and reopening the app.</li>
    <li>If the above steps are not effective, please verify whether the app has internet access.</li>
</ul>

@code {

    [Inject] private ReloadUI ReloadUI { get; init; } = null!;

    private Task OnReloadClick() {
        ReloadUI.Reload();
        return Task.CompletedTask;
    }
}
