@namespace ActualChat.UI.Blazor.Components

<div class="separator">
    <span class="@TitleClass c-title">@Title</span>
</div>

@code {
    [Parameter] public string? Title { get; set; }
    [Parameter] public string TitleClass { get; set; } = "bg-02 text-03";
}
