@namespace ActualChat.Chat.UI.Blazor.Components
@using ActualChat.Kvas
@inherits Step;

@if (CurrentStep != this) {
    return;
}

<div>
    @if (Stepper.CurrentStepIndex == 0) {
        <p class="text-title-1 text-center">Welcome to Actual Chat!</p>
    }
    <div class="analytics-step">
        <p class="c-subtitle">
            Telemetry Consent Request
        </p>
        <div class="c-content">
            Actual Chat collects certain telemetry events, such as error and crash logs, to help us identify user
            experience issues faster. The data is currently processed by
            <a href="https://firebase.google.com/docs/analytics" target="_blank">
                Firebase Analytics
            </a> and
            <a href="https://sentry.io/" target="_blank">
                Sentry
            </a>, though we may use
            other services in the future. Please help us improve Actual Chat by consenting to the collection and
            processing of your telemetry data.
        </div>
    </div>

</div>

@code {

    [Inject] private UIHub Hub { get; init; } = null!;
    [Inject] private Session Session { get; init; } = null!;
    [Inject] private OnboardingUI OnboardingUI { get; init; } = null!;
    [Inject] private IAnalyticsUI AnalyticsUI { get; init; } = null!;
    private AccountSettings AccountSettings => Hub.AccountSettings();

    [Parameter, EditorRequired] public bool IsAnalyticsConfigured { get; set; }

    public override bool CanSkip => true;

    public override string SkipTitle => "Decline";
    public override string NextTitle => "Enable Analytics";

    public override bool IsCompleted
        => OnboardingUI.UserSettings.Value.IsAnalyticsStepCompleted || IsAnalyticsConfigured;

    protected override void MarkCompleted()
        => OnboardingUI.UpdateUserSettings(OnboardingUI.UserSettings.Value with { IsAnalyticsStepCompleted = true });

    protected override Task<bool> Validate()
        => Task.FromResult(true);

    protected override async Task<bool> Save() {
        await UpdateAnalyticsState(true);
        return true;
    }

    protected override async ValueTask OnSkip() {
        await UpdateAnalyticsState(false);
    }

    private async Task UpdateAnalyticsState(bool isAnalyticsEnabled) {
        var settings = await AccountSettings.GetUserAppSettings(CancellationToken.None);
        settings = settings with { IsAnalyticsEnabled = isAnalyticsEnabled };
        await AccountSettings.SetUserAppSettings(settings, CancellationToken.None);
        await AnalyticsUI.UpdateAnalyticsState(isAnalyticsEnabled, CancellationToken.None);
    }
}
