@namespace ActualChat.Chat.UI.Blazor.Components
@using System.ComponentModel.DataAnnotations
@using ActualChat.Media
@using ActualChat.UI.Blazor.Components.FileUpload
@using Microsoft.Toolkit.HighPerformance
@using Stl.Generators
@inherits Step;

@if (CurrentStep != this) {
    return;
}

<div>
    <p class="text-title-1 text-center">Your user name and avatar</p>
    <Form
        @ref="_formRef"
        Model="@_model">
        <DataAnnotationsValidator/>
        <div class="flex-none flex-x my-8">
            <Pic
                Title="@_model.Name"
                Picture="@_model.Picture"
                Size="SquareSize.Size24"/>

            <div class="flex-y">
                <Button Class="transparent border-none" Click="OnGenerateAvatarClick">
                    <div class="flex min-w-10 items-center justify-center">
                        <i class="icon-sync text-xl text-primary"></i>
                    </div>
                    <div class="flex items-center text-headline-1 text-primary">
                        Generate random avatar
                    </div>
                </Button>
                <FileUpload
                    @key="@_model.AvatarId.Value"
                    id="fileUpload"
                    UploadUrl="/api/avatars/upload-picture"
                    Uploaded="OnImagePicked"
                    MaxSize="Constants.Attachments.AvatarPictureFileSizeLimit"
                    accept="image/*"
                    hidden>
                </FileUpload>
                <Button Class="transparent border-none">
                    <label for="fileUpload" class="flex-x">
                        <div class="flex min-w-10 items-center justify-center">
                            <i class="icon-image text-xl text-primary"></i>
                        </div>
                        <div class="flex items-center text-headline-1 text-primary">
                            Upload your photo
                        </div>
                    </label>
                </Button>
            </div>
        </div>
        <FormSection
            For="() => _model.Name"
            InputId="name"
            Label="First name"
            IsLabelInsideInput="true"
            IsRequired="true">
            <InputText id="name" @bind-Value="_model.Name" autocomplete="given-name"/>
        </FormSection>
        <FormSection
            For="() => _model.LastName"
            InputId="lastName"
            Label="Last name (optional)"
            IsLabelInsideInput="true">
            <InputText id="lastName" @bind-Value="_model.LastName" autocomplete="family-name"/>
        </FormSection>
    </Form>
</div>

@code {
    private static RandomStringGenerator IdGenerator { get; } = new(10, Alphabet.AlphaNumeric);
    private readonly Model _model = new();
    private Form? _formRef;

    [Inject] private Session Session { get; init; } = null!;
    [Inject] private IAccounts Accounts { get; init; } = null!;
    [Inject] private IAvatars Avatars { get; init; } = null!;
    [Inject] private UICommander UICommander { get; init; } = null!;
    [Inject] private OnboardingUI OnboardingUI { get; init; } = null!;

    public override bool IsCompleted => OnboardingUI.UserSettings.Value.IsAvatarStepCompleted;

    protected override void MarkCompleted()
        => OnboardingUI.UpdateUserSettings(OnboardingUI.UserSettings.Value with { IsAvatarStepCompleted = true });

    protected override async Task OnInitializedAsync() {
        var account = await Accounts.GetOwn(Session, CancellationToken.None);
        _model.Name = account.Name;
        _model.LastName = account.LastName;

        if (!account.Avatar.Id.IsEmpty) {
            _model.Picture = account.Avatar.Picture!;
            _model.AvatarId = account.Avatar.Id;
            return;
        }

        var createAvatarCommand = new Avatars_Change(Session, Symbol.Empty, null, new Change<AvatarFull> {
            Create = new AvatarFull(account.Id).WithMissingPropertiesFrom(account.Avatar),
        });
        var (newAvatar, error) = await UICommander.Run(createAvatarCommand);
        if (error != null)
            return;

        _model.AvatarId = newAvatar.Id;
        _model.Picture = newAvatar.Picture! with { ExternalUrl = account.Avatar.PictureUrl };
        var setDefaultAvatarCommand = new Avatars_SetDefault(Session, newAvatar.Id);
        await UICommander.Run(setDefaultAvatarCommand);
    }

    protected override Task<bool> Validate() {
        var isValid = _formRef?.EditContext?.Validate() ?? false;
        return Task.FromResult(isValid);
    }

    protected override async Task<bool> Save() {
        var account = await Accounts.GetOwn(Session, default);
        var updateAccountCommand = new Accounts_Update(
            Session,
            account with {
                Name = _model.Name,
                LastName = _model.LastName,
            },
            account.Version);
        await UICommander.Run(updateAccountCommand);

        var avatar = await Avatars.GetOwn(Session, _model.AvatarId, default).Require();
        var updateAvatarCommand = new Avatars_Change(
            Session,
            _model.AvatarId,
            avatar.Version,
            new Change<AvatarFull> {
                Update = avatar.WithPicture(_model.Picture) with {
                    Name = $"{_model.Name} {_model.LastName}".Trim(),
                },
            });
        var (_, error) = await UICommander.Run(updateAvatarCommand);
        return error is null;
    }

    private void OnImagePicked(MediaContent mediaContent) {
        _model.Picture = new (mediaContent);
    }

    private void OnGenerateAvatarClick() {
        _model.Picture = new(null, null, DefaultUserPicture.GetAvatarKey(IdGenerator.Next()));
    }

    public class Model {
        [Required] public string Name { get; set; } = "";
        public string LastName { get; set; } = "";
        public Symbol AvatarId { get; set; } = "";
        public Picture Picture { get; set; } = null!;
    }
}
