@namespace ActualChat.Chat.UI.Blazor.Components
@using System.ComponentModel.DataAnnotations

<div>
    <p>Set up your avatar and name</p>
    <EditForm
        Model="@_stepModel"
        OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator/>
        <ValidationSummary/>
        <InputText id="name" @bind-Value="_stepModel.Name"/>
        <InputText id="lastName" @bind-Value="_stepModel.LastName"/>
        <InputText id="userName" @bind-Value="_stepModel.UserName"/>
        <button type="submit">Submit</button>
    </EditForm>
</div>

@code {
    private readonly AvatarStepModel _stepModel = new();

    public class AvatarStepModel {
        [Required]
        public string? Name { get; set; }
        public string? LastName { get; set; }
        [Required]
        public string? UserName { get; set; }
    }

    private void HandleValidSubmit() {
    }
}
