@namespace ActualChat.Chat.UI.Blazor.Components
@using System.ComponentModel.DataAnnotations

<div>
    <p class="text-title-1 text-center mb-8">Set up your avatar and name</p>
    <Form
        Model="@_stepModel"
        OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator/>
        <FormSection InputId="name" Label="Name" IsLabelInsideInput="true" IsRequired="true">
            <InputText id="name" @bind-Value="_stepModel.Name"/>
        </FormSection>
        <FormSection InputId="lastName" Label="Last name (optional)" IsLabelInsideInput="true">
            <InputText id="lastName" @bind-Value="_stepModel.LastName"/>
        </FormSection>
        <FormSection InputId="userName" Label="@("@username")" IsLabelInsideInput="true" IsRequired="true">
            <InputText id="userName" @bind-Value="_stepModel.UserName"/>
        </FormSection>
    </Form>
</div>

@code {
    private readonly AvatarStepModel _stepModel = new();

    public class AvatarStepModel {
        [Required]
        public string? Name { get; set; }
        public string? LastName { get; set; }
        [Required]
        public string? UserName { get; set; }
    }

    private void HandleValidSubmit() {
    }
}
