@namespace ActualChat.Chat.UI.Blazor.Components
@implements IModalView<EmailVerificationModal.Model>

<DialogFrame
    Class="onboarding-modal"
    HasHeader="true"
    Title="Email verification"
    HasCloseButton="true">
    <Body>
    <div class="flex-1 flex-y">
        <div class="flex-x justify-center mb-4">
            <phone-verification-cat-svg/>
        </div>
        <div class="flex-1 flex-y mx-4">
            <div class="font-bold text-2xl text-02">Enter code</div>
            <TotpVerifier
                Purpose="TotpPurpose.VerifyEmail"
                Email="@ModalModel.Email"
                Verified="@(_ => Complete(true))"
                Error="@(_ => Complete(false))"/>
        </div>
    </div>
    </Body>
</DialogFrame>

@code {
    [CascadingParameter] public Modal Modal { get; set; } = null!;
    [Parameter] public Model ModalModel { get; set; } = null!;

    private void Complete(bool isVerified) {
        ModalModel.IsVerified = isVerified;
        Modal.Close();
    }

    public sealed record Model(string Email) {
        public bool IsVerified { get; set; }
    }
}
