@namespace ActualChat.Chat.UI.Blazor.Components
@using Stl.Extensibility
@implements IModalView<OnboardingModal.Model>
@attribute [MatchFor(typeof(Model), typeof(IModalView))]
@inherits ComputedStateComponent<OnboardingModal.ComputedModel>

@{
    var m = State.LatestNonErrorValue;
}

<DialogFrame
    Class="onboarding-modal"
    ShowMobileHeader="false"
    HasHeader="false"
    HandleEscape="false">
    <Body>
    <Stepper Context="stepper">
        <HeaderContent>
            @if (stepper.CanMoveBack) {
                <ButtonRound
                    Class="transparent"
                    Click="stepper.MoveBack">
                    <i class="icon-arrow-left text-2xl"></i>
                </ButtonRound>
                <div class="text-xl md:text-lg font-semibold md:font-medium">Back</div>
            }
        </HeaderContent>
        <ChildContent>
            <Step>
                <PhoneStep/>
            </Step>
            <Step>
                <AvatarStep/>
            </Step>
        </ChildContent>
        <FooterContent>
            @if (stepper.IsLast) {
                <Button
                    Click="ModalInstance.CloseAsync"
                    Class="btn-primary btn-w-full">
                    Start messaging
                </Button>
            } else if (stepper.CanMoveForward) {
                <Button
                    Click="stepper.MoveForward"
                    Class="btn-primary btn-w-full">
                    Next
                </Button>
            }
        </FooterContent>
    </Stepper>
    </Body>
</DialogFrame>

@code {
    [Inject] private Features Features { get; init; } = null!;
    [Inject] private Session Session { get; init; } = null!;
    [Inject] private IAccounts Accounts { get; init; } = null!;

    [CascadingParameter] public BlazoredModalInstance ModalInstance { get; set; } = null!;
    [Parameter] public Model ModalModel { get; set; } = null!;

    protected override ComputedState<ComputedModel>.Options GetStateOptions()
        => new() {
            InitialValue = ComputedModel.None,
            UpdateDelayer = FixedDelayer.Instant,
        };

    protected override async Task<ComputedModel> ComputeState(CancellationToken cancellationToken) {
        var enableIncompleteUI = await Features.Get<UIFeatures.EnableIncompleteUI, bool>(cancellationToken);
        var account = await Accounts.GetOwn(Session, cancellationToken);
        if (!account.IsActive())
            return ComputedModel.None;
        return new ComputedModel {
            EnableIncompleteUI = enableIncompleteUI,
        };
    }

    public sealed record Model;

    public sealed record ComputedModel {
        public static ComputedModel None { get; } = new() {
            EnableIncompleteUI = false,
        };

        public bool EnableIncompleteUI { get; init; }
    }
}
