.onboarding-modal.modal-frame {
    @apply h-full md:min-w-90 md:max-w-90 md:min-h-160 md:max-h-160;
    @apply p-0;
}
.step-tiles {
    @apply mt-6 flex-y gap-y-4;
}
.step-tile {
    @apply flex-x gap-x-4;
    @apply pl-4 pt-2 pb-2 pr-4;
    @apply bg-03;
    @apply rounded-lg;
}
.step-tile-body {
    @apply flex-y gap-y-2 grow;
}
.step-tile-title {
    @apply truncate;
    @apply text-headline-1;
}
.step-tile-subtitle {
    @apply text-03 text-caption-2;
}
.onboarding-modal .stepper-footer .btn-group {
    @apply max-w-none md:max-w-none;
}
.onboarding-modal .stepper-footer .btn-group .btn {
    @apply max-w-none md:max-w-none;
}
.onboarding-modal .avatar-step {
    @apply flex-y gap-y-4;
}
.onboarding-modal .c-upload {
    @apply flex-none flex-x gap-x-4;
    @apply my-8;
}
.onboarding-modal .c-upload .c-buttons {
    @apply flex-1 flex-y justify-center gap-y-2;
}
.onboarding-modal .form-block {
    @apply p-0;
}
