@namespace ActualChat.Chat.UI.Blazor.Components
@using Stl.Extensibility
@implements IModalView<OnboardingModal.Model>
@attribute [MatchFor(typeof(Model), typeof(IModalView))]

<DialogFrame
    Class="onboarding-modal"
    ShowMobileHeader="false"
    HasHeader="false"
    HandleEscape="false">
    <Body>
    <Stepper Context="stepper">
        <HeaderContent>
            @if (stepper.CanMoveBack) {
                <ButtonRound
                    Class="transparent"
                    Click="stepper.MoveBack">
                    <i class="icon-arrow-left text-2xl"></i>
                </ButtonRound>
                <div class="text-xl md:text-lg font-semibold md:font-medium">Back</div>
            }
        </HeaderContent>
        <ChildContent>
            <PhoneStep/>
            <AvatarStep/>
        </ChildContent>
        <FooterContent>
            @if (stepper.IsLast) {
                <Button
                    Click="() => OnLastClick(stepper)"
                    Class="btn-primary btn-w-full">
                    Start messaging
                </Button>
            } else if (stepper.CanMoveForward) {
                <Button
                    Click="stepper.MoveForward"
                    Class="btn-primary btn-w-full">
                    Next
                </Button>
            }
        </FooterContent>
    </Stepper>
    </Body>
</DialogFrame>

@code {
    [Inject] private Features Features { get; init; } = null!;
    [Inject] private Session Session { get; init; } = null!;
    [Inject] private IAccounts Accounts { get; init; } = null!;

    [CascadingParameter] public BlazoredModalInstance ModalInstance { get; set; } = null!;
    [Parameter] public Model ModalModel { get; set; } = null!;

    private void OnLastClick(Stepper stepper) {
        if (stepper.CurrentStep == null)
            return;
        var isStepValid = stepper.CurrentStep.Validate();
        if (!isStepValid)
            return;
        ModalInstance.CloseAsync();
    }

    public sealed record Model;
}
