@namespace ActualChat.Chat.UI.Blazor.Components
@implements IModalView<PhoneVerificationModal.Model>

<DialogFrame
    Class="onboarding-modal"
    HasHeader="true"
    Title="Phone number verification"
    HasCloseButton="true">
    <Body>
    <div class="flex-1 flex-y justify-center mx-4 gap-y-8">
        <div>Please verify your phone number to enable sign-in with it and to allow your friends to find your account in their list of contacts on Actual Chat.</div>
        <TotpVerifier
            Purpose="TotpPurpose.VerifyPhone"
            PurposeText=""
            Phone="@ModalModel.Phone" Verified="@(_ => Complete(true))"
            Error="@(_ => Complete(false, true))"/>
    </div>
    </Body>
</DialogFrame>

@code {
    [CascadingParameter] public Modal Modal { get; set; } = null!;
    [Parameter] public Model ModalModel { get; set; } = null!;

    private void Complete(bool isVerified, bool canSkip = false) {
        ModalModel.IsVerified = isVerified;
        ModalModel.CanSkip = canSkip;
        Modal.Close();
    }

    public sealed record Model(Phone Phone) {
        public bool IsVerified { get; set; }
        public bool CanSkip { get; set; }
    }
}
