@namespace ActualChat.UI.Blazor.Components
@implements IModalView<DownloadAppModal.Model>

<DialogFrame
    Class="download-app-modal"
    Title="Get Actual Chat"
    HasCloseButton="true"
    NarrowViewSettings="@DialogFrameNarrowViewSettings.Stretch">
    <Body>
        <FormBlock>
            <DownloadTiles/>
        </FormBlock>
    </Body>
</DialogFrame>

@code {
    [Parameter] public Model ModalModel { get; set; } = null!;

    public sealed record Model;
}
