@namespace ActualChat.Chat.UI.Blazor.Components
@using ActualChat.Chat.UI.Blazor.Services

<div class="@(_class ??= this.DefaultClass()) bg-secondary w-full flex flex-row items-center justify-start px-3 my-1">
    @if (HistoricalPlayer != null) {
        <HistoricalChatPlayerStatus Player="HistoricalPlayer"/>
        <ChatPlayerPosition Player="HistoricalPlayer"/>
        <div class="ml-2 flex flex-row items-center"><ChatPlayerStopButton Player="HistoricalPlayer" /></div>
    }
</div>

@code {
    private static string? _class;

    private ChatPlayer? HistoricalPlayer { get; set; }

    [Inject] private ChatPlayers ChatPlayers { get; set; } = null!;

    [CascadingParameter]
    public Chat Chat { get; set; } = null!;

    protected override async Task OnInitializedAsync()
        => HistoricalPlayer = await ChatPlayers.GetHistoricalPlayer(Chat.Id);
}
