@namespace ActualChat.Chat.UI.Blazor.Components
@inherits BubbleBase

<BubbleContent Bubble="@(this)">
    <Title>Active chats</Title>
    <Body>
    <p>
        Chats where you are <strong>listening</strong> or <strong>recording</strong> right now.
    </p>
    </Body>
</BubbleContent>
