@namespace ActualChat.Chat.UI.Blazor.Components
@inherits BubbleBase

<BubbleContent Bubble="@(this)">
    <Title>Chats and contacts</Title>
    <Body>
    <ul>
        <li>Use tabs to see only personal or group chats</li>
        <li>Click on the "Order" button to sort the list by chat recency, count of unread messages, etc.</li>
    </ul>
    </Body>
</BubbleContent>
