@namespace ActualChat.Chat.UI.Blazor.Components
@inherits BubbleBase

<BubbleContent Bubble="@(this)">
    <Title>Context menus</Title>
    <Body>
    <ul>
        <li>Chats, contacts and messages have context menus</li>
        <li>To open a menu, use "force push" on mobile / right click on desktop.</li>
    </ul>
    </Body>
</BubbleContent>
