@namespace ActualChat.Chat.UI.Blazor.Components
@inherits BubbleBase

<BubbleContent Bubble="@(this)">
    <Title>Chats</Title>
    <Body>
    <ul>
        <li>Click to choose a chat</li>
        <li>Use force push to open a menu on a mobile</li>
        <li>Use right click to open a menu on a desktop</li>
    </ul>
    </Body>
</BubbleContent>
