@namespace ActualChat.Chat.UI.Blazor.Components
@inherits BubbleBase

<BubbleContent Bubble="@(this)">
    <Title>Tabs</Title>
    <Body>
    <ul class="list-disc pl-4">
        <li>messages sorting by number of unread, recency of activity, alphabet</li>
        <li>grouping into direct & group</li>
    </ul>
    </Body>
</BubbleContent>
