@namespace ActualChat.Chat.UI.Blazor.Components
@inherits BubbleBase

<BubbleContent Bubble="@(this)">
    <Title>Create chat</Title>
    <Body>
    <p>
        Use "+" button to create a new group chat.
    </p>
    <p>
        In future it will allow to create Places &ndash; chat sets which are managed together.
    </p>
    </Body>
</BubbleContent>
