@namespace ActualChat.Chat.UI.Blazor.Components
@inherits BubbleBase

<BubbleContent Bubble="@(this)">
    <Title>Create</Title>
    <Body>
    <ul>
        <li>New group chat</li>
    </ul>
    </Body>
</BubbleContent>
