@namespace ActualChat.Chat.UI.Blazor.Components
@inherits BubbleBase

<BubbleContent Bubble="@(this)">
    <Title>Shares link to your account</Title>
    <Body>
    <p>
        Share this link with your friends to let them chat with you.
    </p>
    </Body>
</BubbleContent>
