@namespace ActualChat.Chat.UI.Blazor.Components
@inherits BubbleBase

<BubbleContent Bubble="@(this)">
    <Title>Link to your account</Title>
    <Body>
    <span>Copy & share with friends</span>
    </Body>
</BubbleContent>
