@namespace ActualChat.Chat.UI.Blazor.Components
@inherits BubbleBase

<BubbleContent Bubble="@(this)">
    <Title>Link to your account</Title>
    <Body>
    <ul>
        <li>Share this link with your friends to let them chat with you</li>
        <li>Click "Copy" button on the right to copy the account link to the clipboard.</li>
    </ul>
    </Body>
</BubbleContent>
