@namespace ActualChat.Chat.UI.Blazor.Components
@inherits BubbleBase

<BubbleContent Bubble="@(this)">
    <Title>Link to your account</Title>
    <Body>
    <p>
        Share this link with your friends to let them chat with you.
    </p>
    <p>
        "Copy" button on the right side copies the link to the clipboard.
    </p>
    </Body>
</BubbleContent>
