@namespace ActualChat.Chat.UI.Blazor.Components
@inherits BubbleBase

<BubbleContent Bubble="@(this)">
    <Title>Listen button</Title>
    <Body>
    <ul>
        <li>listen to other users' messages when they record them live</li>
    </ul>
    </Body>
</BubbleContent>
