@namespace ActualChat.Chat.UI.Blazor.Components
@inherits BubbleBase

<BubbleContent Bubble="@(this)">
    <Title>"Listen" button</Title>
    <Body>
    <ul>
        <li>Click it to start or stop listening in this chat</li>
        <li>Unlike with voice messages, listening is always real-time</li>
        <li>You can listen in up to 3 chats simultaneously.</li>
    </ul>
    <p>
        When no one is talking for ~ 5 minutes, listening mode turns off.
        And when you start recording, the listening mode turns on as well.
    </p>
    </Body>
</BubbleContent>
