@namespace ActualChat.Chat.UI.Blazor.Components
@inherits BubbleBase

<BubbleContent Bubble="@(this)">
    <Title>Your account and settings</Title>
    <Body>
    <p>
        Click here to:
    </p>
    <ul>
        <li>Edit your account</li>
        <li>Add or change your avatars</li>
        <li>Manage transcription languages</li>
        <li>Or change some other settings.</li>
    </ul>
    </Body>
</BubbleContent>
