@namespace ActualChat.Chat.UI.Blazor.Components
@inherits BubbleBase

<BubbleContent Bubble="@(this)">
    <Title>Manage Account Settings</Title>
    <Body>
    <ul class="list-disc pl-4">
        <li>New group chat</li>
    </ul>
    </Body>
</BubbleContent>
