@namespace ActualChat.Chat.UI.Blazor.Components
@inherits BubbleBase

<BubbleContent Bubble="@(this)">
    <Title>Manage Account Settings</Title>
    <Body>
    <ul>
        <li>edit your profile</li>
        <li>create and switch your avatars</li>
        <li>manage languages</li>
    </ul>
    </Body>
</BubbleContent>
