@namespace ActualChat.Chat.UI.Blazor.Components
@inherits BubbleBase

<BubbleContent Bubble="@(this)">
    <Title>"People" tab</Title>
    <Body>
    <p>
        Members of this Place.
    </p>
    </Body>
</BubbleContent>
