@namespace ActualChat.Chat.UI.Blazor.Components
@inherits BubbleBase

<BubbleContent Bubble="@(this)">
    <Title>Recent Chats</Title>
    <Body>
    <ul>
        <li>your most recent chats</li>
        <li>you could continue to listen it or to turn off and come back when you will be ready</li>
    </ul>
    </Body>
</BubbleContent>
