@namespace ActualChat.Chat.UI.Blazor.Components
@inherits BubbleBase

<BubbleContent Bubble="@(this)">
    <Title>Recent chats</Title>
    <Body>
    <ul>
        <li>3 of your most recently used chats are shown here</li>
        <li>They always include chats where you're listening or recording.</li>
    </ul>
    </Body>
</BubbleContent>
