@namespace ActualChat.Chat.UI.Blazor.Components
@inherits BubbleBase

<BubbleContent Bubble="@(this)">
    <Video>
        <video muted autoplay loop playsinline>
            <source src="/dist/images/bubbles/record-1.webm" type="video/webm"/>
            <source src="/dist/images/bubbles/record-1.mp4" type="video/mp4"/>
        </video>
    </Video>
    <Title>"Record" button</Title>
    <Body>
    <ul>
        <li>Toggle it to start or stop recording in this chat</li>
    </ul>
    </Body>
</BubbleContent>
