@namespace ActualChat.Chat.UI.Blazor.Components
@inherits BubbleBase

<BubbleContent Bubble="@(this)">
    <Title>Your privacy is crucial for us</Title>
    <Body>
    <p>
        We believe that <strong>delivering the best communication experience is the best way for us to grow.</strong>
        This experience implies strong privacy.
        In fact, even a single failure with user privacy may undermine
        almost two years of work we have spent so far building Actual Chat.
    </p>
    <p>
        <strong>Recording you without your explicit permission would be a disaster for us</strong> -
        even if happened due to a bug.
        If you see any signs of this (e.g., you see the iOS / Android microphone icon is on
        after you turn off the recording), please report this ASAP!
    </p>
    </Body>
</BubbleContent>
