@namespace ActualChat.Chat.UI.Blazor.Components
@inherits BubbleBase

<BubbleContent Bubble="@(this)">
    <Title>Record button</Title>
    <Body>
    <ul>
        <li>tap to record messages</li>
        <li>press stop when you`ve done</li>
    </ul>
    </Body>
</BubbleContent>
