@namespace ActualChat.Chat.UI.Blazor.Components
@inherits BubbleBase

<BubbleContent Bubble="@(this)">
    <Title>"Record" button</Title>
    <Body>
    <ul>
        <li>Toggle it to start or stop recording in this chat</li>
        <li>Or push and hold it, if you prefer "push to talk" mode</li>
        <li>When the button turns from pink to red, the recording is on.</li>
    </ul>
    <p>
        If you are silent for ~ 3 minutes, recording automatically turns off.
    </p>
    </Body>
</BubbleContent>
