@namespace ActualChat.Chat.UI.Blazor.Components
@inherits BubbleBase

<BubbleContent Bubble="@(this)">
    <Title>Push-to talk mode</Title>
    <Body>
    <p>
        Push and hold the "Record" button to use push-to-talk mode.
    </p>
    <p>
        When the button turns from pink to red, the recording is on.
    </p>
    </Body>
</BubbleContent>
