@namespace ActualChat.Chat.UI.Blazor.Components
@inherits BubbleBase

<BubbleContent Bubble="@(this)">
    <Title>Chat properties</Title>
    <Body>
    <ul>
        <li>Use this button to open chat settings</li>
        <li>In settings you can see a chat owner, properties and members</li>
    </ul>
    </Body>
</BubbleContent>
