@namespace ActualChat.Chat.UI.Blazor.Components
@inherits BubbleBase

<BubbleContent Bubble="@(this)">
    <Title>Chat Settings</Title>
    <Body>
    <p>
        This button opens Chat Settings, where you can see who else is in this chat,
        copy its link, or make changes, if you are the chat owner.
    </p>
    <p>
        Swiping from the right side on mobile is another way to open Chat Settings.
    </p>
    </Body>
</BubbleContent>
