@namespace ActualChat.Chat.UI.Blazor.Components
@inherits BubbleBase

<BubbleContent Bubble="@(this)">
    <Title>Text input panel</Title>
    <Body>
        <span>Type your messages if you couldn`t speak or if it is your prefer way to communicate</span>
    </Body>
</BubbleContent>
