@namespace ActualChat.Chat.UI.Blazor.Components
@inherits BubbleBase

<BubbleContent Bubble="@(this)">
    <Title>Transcription language</Title>
    <Body>
    <p>
        Click here to switch between your transcription languages.
    </p>
    <p>
        Transcription languages can be configured in Account Settings.
    </p>
    </Body>
</BubbleContent>
