@namespace ActualChat.Chat.UI.Blazor.Components
@inherits BubbleBase

<BubbleContent Bubble="@(this)">
    <Title>Transcription language</Title>
    <Body>
    <ul>
        <li>Use this button to change transcription language</li>
    </ul>
    </Body>
</BubbleContent>
