@namespace ActualChat.Chat.UI.Blazor.Components
@inherits BubbleBase

<BubbleContent Bubble="@(this)">
    <Title>Voice settings</Title>
    <Body>
    <p>
        Click here to change your transcription language
        or to disable voice streaming.
    </p>
    <p>
        Voice settings are stored on a per-chat basis, so
        you normally need to change them just once for a given chat.
    </p>
    </Body>
</BubbleContent>
