@namespace ActualChat.UI.Blazor.Components
@using ActualChat.Users
@inherits FusionComponentBase

@if (ReferenceEquals(Avatar, Avatar.Loading)) {
    // See avatar-name-spacing class - any width mentioned below has to be listed there
    var tailwindSpacing = new [] { 10, 11, 12, 14, 16, 20, 24, 28, 32, 36, 40 };
    var firstLength = tailwindSpacing[Random.Shared.Next(5, tailwindSpacing.Length - 1)];
    var secondLength = tailwindSpacing[Random.Shared.Next(0, 7)];
    <span class="@Class avatar-name skeleton animate-pulse">
        <span class="bg-skeleton rounded-md border-skeleton-border border-2 w-@firstLength h-4"></span>
        <span class="bg-skeleton rounded-md border-skeleton-border border-2 w-@secondLength h-4"></span>
    </span>
} else {
    var extraClass = Click.HasDelegate ? " cursor-pointer" : "";
    <span class="@Class @extraClass avatar-name" @onclick="@Click">
        @Avatar.Name
    </span>

}

@code {
    [Parameter, EditorRequired] public Avatar Avatar { get; set; } = null!;
    [Parameter] public string Class { get; set; } = "";
    [Parameter] public EventCallback<MouseEventArgs> Click { get; set; }
    [Parameter] public bool IsAnonymous { get; set; }
}
