@namespace ActualChat.UI.Blazor.Components
@inherits FusionComponentBase

<span class="@_sizeClass avatar-text">
    @Text
</span>

@code {
    private string _sizeClass = "";

    [Parameter, EditorRequired] public string Text { get; set; } = "";
    [Parameter] public SquareSize Size { get; set; } = SquareSize.Size6;

    protected override void OnParametersSet()
        => _sizeClass = GetSizeClass();

    private string GetSizeClass() {
        var size = (int) Size;
        return $"h-{size} w-{size}";
    }
}
