@using ActualChat.Users
@namespace ActualChat.UI.Blazor.Components
@inherits FusionComponentBase

@{
    RenderFragment RenderCircle(string color)
        => @<div class="presence-indicator">
               <div class="@color c-dot"></div>
           </div>;
}

@switch (Presence) {
    case Presence.Online:
        @RenderCircle("bg-online");
        break;
    case Presence.Away:
        @RenderCircle("bg-away");
        break;
    case Presence.Recording:
        @RenderCircle("bg-icons-04 animate-pulse");
        break;
}

@code {
    [Parameter] public Presence Presence { get; set; }
}
