@using ActualChat.Users
@namespace ActualChat.UI.Blazor.Components

@{
    if (Presence is Presence.Unknown or Presence.Offline)
        return;

    var cls = Presence switch {
        Presence.Online => "bg-online",
        Presence.Away => "bg-away",
        Presence.Recording => "bg-danger animate-pulse",
        _ => "",
    };
}

<div class="presence-indicator">
    <div class="@cls c-dot"></div>
</div>

@code {
    [Parameter] public Presence Presence { get; set; }
}
