@namespace ActualChat.Chat.UI.Blazor.Components

<h3>ChatMessageContextMenu</h3>
<h3>@Argument</h3>

@code {
    [Parameter] public string Argument { get; set; } = "";

    [CascadingParameter] public ContextMenuEx ContextMenu { get; set; } = null!;

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        await ContextMenu.ShowMenu();
    }
}
