@namespace ActualChat.UI.Blazor.Components
@using Microsoft.AspNetCore.Authorization
@using ActualChat.UI.Blazor.Authorization
@attribute [Authorize(Policy = KnownPolicies.IsUserActive)]

<div class="flex-y gap-y-2">
    <button type="button" onclick="@(() => ChangeTheme(Theme.Light))" class="grid bg-accent w-full h-10 selected">
        <div class="flex-x self-center items-center">
            <Dot/>
            <div class="text-secondary">Light</div>
        </div>
    </button>
    <button type="button" onclick="@(() => ChangeTheme(Theme.Dark))" class="block bg-accent w-full h-10">
        <div class="flex-x self-center items-center">
            <Dot/>
            <div class="text-secondary">Dark</div>
        </div>
    </button>
</div>

@code {
    enum Theme {
        Light,
        Dark,
    }
    private Theme CurrentTheme { get; set; } = Theme.Light;
    private void ChangeTheme(Theme theme) {
        if (CurrentTheme != theme)
            CurrentTheme = theme;
    }
}
