.chat-page {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.chat-page > .header {
    flex: 0 0 auto;
}

.chat-page > .content {
    flex: 1 0 auto;
    height: 1px;
}

.chat-page > .footer {
    flex: 0 0 auto;
}
