@namespace ActualChat.UI.Blazor.App.Components

<div class="no-results-container">
    <div class="c-wrapper">
        <no-results-svg />
        <div class="text-wrapper">
            <p>No results.</p>
            <p>Try another request.</p>
        </div>
    </div>
</div>
