.search-panel {
    @apply absolute z-[100];
    @apply gap-y-2;
    @apply w-full h-screen;
    @apply overflow-hidden custom-scrollbar;
    @apply p-2;
    @apply bg-02;
    @apply hidden;
}
.search-panel.instant.open {
    @apply flex-y;
    @apply visible;
    @apply opacity-100;
}
.search-panel.smooth.open.right {
    @apply flex-y;
    animation: smooth-open 200ms ease-in-out;
}
.search-panel.instant.open.right.close,
.search-panel.smooth.open.right.close {
    animation: smooth-close 200ms ease-in-out;
    opacity: 0;
}

@keyframes smooth-open {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes smooth-close {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(100%);
    }
}

.search-panel .c-search {
    @apply flex-x gap-x-2;
}
.search-panel .c-search .btn-h {
    @apply px-2;
}
.search-panel .tab-panel {
    @apply flex-none;
}
.search-panel .tab-panel .tab {
    @apply grow-0;
}

.search-panel .search-panel-tabs > .btn-group {
    @apply px-0;
}

.search-input {
    @apply flex-1;
    @apply max-h-10;
    @apply rounded-full border border-transparent;
}
.search-input label {
    @apply relative flex-x;
}
.search-input .search-icon,
.search-input .c-close-btn {
    @apply absolute;
    @apply flex items-center justify-center;
    @apply w-10 h-10;
    @apply text-03;
}
.search-input .search-icon {
    @apply left-0;
}
.search-input .c-close-btn {
    @apply right-0;
}
.search-input input {
    @apply h-10;
    @apply pl-10 pr-4;
    @apply rounded-full;
    @apply text-left bg-input;
}
.search-input input:focus {
    @apply pl-4;
    @apply bg-transparent;
}
.search-input input:focus + .search-icon {
    @apply hidden;
}
.search-input input::placeholder {
    @apply text-left;
}
.search-input input:focus::placeholder {
    @apply text-transparent;
}
.search-input:has(input:focus) {
    @apply border-primary;
}
.search-input.icon-alight-right i {
    @apply right-0;
}
.search-input.icon-alight-right input {
    @apply pr-10 pl-4;
}

.search-panel-list {
    @apply flex-y;
}
.search-panel-list-item {
    @apply flex-x gap-x-2;
    @apply p-1;
    @apply rounded-md;
}
body.hoverable .search-panel-list-item:hover {
    @apply bg-hover;
}
.search-panel-list-item .c-center {
    @apply flex-1 flex-y gap-y-1;
    @apply truncate;
}

.search-panel-list-item .c-center > .c-top {
    @apply text-headline-1 text-02;
}
.search-panel-list-item .c-center > .c-bottom {
    @apply flex-x gap-x-2;
    @apply truncate;
    @apply text-caption-4 text-04;
}
.search-panel-list-item .c-center > .c-bottom > .c-match {
    @apply text-primary;
}
.search-panel-list-item .c-center > .c-bottom > .c-text {
    @apply truncate;
}

.search-panel-list-item .c-right {
    @apply flex-none flex-y gap-y-1 items-end justify-end;
    @apply min-w-10;
    @apply pr-2;
}
.search-panel-list-item .c-right > .c-top,
.search-panel-list-item .c-right > .c-bottom {
    @apply text-caption-4 text-04;
}
