<DiveInDialogFramePage
    Id="@DiveInModal.PageIds.Inner"
    UseBackButton="true"
    Title="Dive-in modal (Inner)">
    <Body>
        <div class="grow flex-y justify-center items-center">
            <h3>DiveInModalInner</h3>
        </div>
    </Body>
</DiveInDialogFramePage>
