@namespace ActualChat.Chat.UI.Blazor.Components
@using ActualChat.Contacts
@inherits ComputedStateComponent<ApiArray<Contact?>>
@{
    var m = State.Value;
}

<div class="c-chat-list">
    @foreach (var contact in m) {
        @if (contact != null) {
            <div class="c-chat"
                 @onclick="@(() => OnChatClick.InvokeAsync(contact.Chat.Id))">
                <div class="c-chat-avatar">
                    <ChatIcon Chat="@contact.Chat"/>
                </div>
                <div class="c-chat-title">
                    @contact.Chat.Title
                </div>
            </div>
        }
    }
</div>

@code {
    [Inject] private ChatUIHub Hub { get; init; } = null!;
    private IContacts Contacts => Hub.Contacts;
    private Session Session => Hub.Session();

    [CascadingParameter] public Modal Modal { get; set; } = null!;
    [Parameter] public EventCallback<ChatId> OnChatClick { get; set; }

    protected override ComputedState<ApiArray<Contact?>>.Options GetStateOptions()
        => new() {
            InitialValue = ApiArray.Empty<Contact?>(),
            Category = GetStateCategory(),
        };

    protected override async Task<ApiArray<Contact?>> ComputeState(CancellationToken cancellationToken) {
        var contactIds = await Contacts.ListIds(Session, cancellationToken).ConfigureAwait(false);
        var allContacts = await contactIds
            .Select(x => Contacts.Get(Session, x, cancellationToken))
            .Collect();
        var allowedContacts = allContacts
            .SkipNullItems()
            .Where(c => c.Kind == ContactKind.Chat
                        && c.PlaceId == PlaceId.None
                        && c.Chat is { IsPublic: true, HasSingleAuthor: false }
                        && (c.Chat.Rules.Permissions & ChatPermissions.Write) != 0
                        && (c.Chat.Rules.Permissions & ChatPermissions.Owner) != 0)
            .ToApiArray<Contact?>();
        return allowedContacts;
    }
}
