/* Loading overlay */

:root, .theme-light, .theme-dark, .theme-ash {
    --loading-overlay-bg-color: var(--blue-30); /* Old: --background-01 */
    --loading-overlay-box-size: 24rem;
    --loading-overlay-shine-size: 30%;
    --loading-overlay-logo-size: 12rem;
}
@media (min-width: 1024px) {
    :root {
        --loading-overlay-logo-size: 18rem;
    }
}

.loading-overlay {
    @apply absolute inset-0 z-[1900] overflow-hidden;
    @apply flex items-center justify-center;
    background-color: var(--loading-overlay-bg-color);
    @apply transition-opacity ease-in duration-250;
    will-change: custom;
}

.loading-overlay .c-content {
    @apply flex-y gap-y-8 items-center justify-center;
    @apply min-w-48 min-h-48 max-w-48 max-h-48;
}
.loading-overlay .c-content > img {
    @apply min-h-32 min-w-32;
}
.loading-overlay .progress {
    @apply relative;
    @apply flex justify-start items-center;
    @apply w-full min-h-1;
    @apply rounded-full;
    @apply bg-[var(--white-05)];
}
.loading-overlay .progress-value {
    @apply w-0 h-1;
    @apply rounded-full;
    @apply bg-[var(--white)];
    box-shadow: 0 5px 5px -5px var(--white);
    animation: load 3s normal forwards;
}
@keyframes load {
    0% { width: 0; }
    100% { width: 100%; }
}
