@namespace ActualChat.UI.Blazor.Components

<div class="loading-overlay">
    <div class="c-box">
        <img draggable="false" src="/dist/images/landing/ac-icon-light.svg" alt="loading">
    </div>
    <div class="c-rotating-bg"></div>
</div>
