@namespace ActualChat.UI.Blazor.Components

<div class="loading-overlay">
    <div class="c-content">
        <img draggable="false" src="/dist/images/splashscreen.svg" alt="Loading...">
        <div class="progress">
            <div class="progress-value"></div>
        </div>
    </div>
</div>
