@namespace ActualChat.UI.Blazor.Components

<div class="loading-bg">
    <div class="loading-image-bg">
        <div class="c-border">
            <div class="c-before-circle"></div>
        </div>
        <div class="c-circle">
            <img src="/dist/images/landing/ac-icon-light.svg" alt="loading" class="w-24 h-24 md:w-48 md:h-48">
        </div>
    </div>
</div>
