/* Blazor reconnect & error classes:
   - BrowserInit.startReloadWatchers is responsible for tracking their state
   - BrowserInit.startReloading is responsible for showing actual #app-reloading overlay on reloading
*/
#components-reconnect-modal {
    @apply absolute z-minus top-0 bottom-0 w-0 h-0;
}
#blazor-error-ui {
    @apply absolute z-minus top-0 bottom-0 w-0 h-0;
}

/* Reconnect overlay */

:root {
    @media (max-width: 819px) {
        --reconnect-overlay-circle-size: 16rem;
        --reconnect-overlay-blur-size: 22rem;
    }
    @media (min-width: 820px) {
        --reconnect-overlay-circle-size: 18rem;
        --reconnect-overlay-blur-size: 24rem;
    }
}
.reconnect-overlay {
    @apply absolute inset-0 z-[1900];
    @apply flex items-center justify-center overflow-hidden;
    @apply backdrop-blur;
}
.reconnect-overlay > .c-bg {
    @apply absolute inset-0 z-minus;
    background: rgba(0,0,0,.5);
    backdrop-filter: blur(2px) opacity(.8) brightness(.8);
}
.reconnect-overlay > .c-circle {
    @apply flex-y items-center justify-center gap-y-2;
    @apply bg-transparent;
    @apply text-xl md:text-2xl font-semibold text-03;
    @apply animate-pulse-70;
    width: var(--reconnect-overlay-circle-size);
    height: var(--reconnect-overlay-circle-size);
}
.reconnect-overlay > .c-circle > img {
    @apply w-[55%];
}
.reconnect-overlay > .c-circle > .c-text {
    @apply relative p-1;
    @apply text-02;
}
.reconnect-overlay > .c-circle > .c-text::before {
    @apply absolute inset-0 z-minus rounded-full;
    content: '';
    background: linear-gradient(to bottom,
                transparent 5%,
                var(--loading-cat-body-gradient-1) 50%,
                transparent 95%);
    filter: blur(8px);
}
