@namespace ActualChat.UI.Blazor.Components

<div class="reconnect-overlay">
    <div class="c-bg"></div>
    <div class="c-circle-blur"></div>
    <div class="c-circle">
        <img draggable="false" src="/dist/images/loading-cat.svg" alt="Loading...">
        <span class="c-text">Reconnecting...</span>
    </div>
</div>
