/* Loading overlay */

:root, .theme-light, .theme-dark, .theme-ash {
    --web-splash-bg-color: var(--blue-30); /* Old: --background-01 */
    --web-splash-box-size: 24rem;
    --web-splash-shine-size: 30%;
    --web-splash-logo-size: 12rem;
}
@media (min-width: 1024px) {
    :root {
        --web-splash-logo-size: 18rem;
    }
}

.web-splash {
    @apply absolute z-[1900] overflow-hidden;
    @apply flex items-center justify-center;
    @apply w-screen h-screen;
    @apply transition-opacity ease-in duration-300;
    will-change: transform;
    background: #0C003D;
}
.web-splash.removing {
    @apply transition-opacity ease-out duration-350 opacity-0;
}

.web-splash .c-wrapper {
    @apply relative;
    @apply flex items-center justify-center;
    @apply w-full h-full;
}
.web-splash .bg-wrapper {
    @apply absolute inset-0 z-10;
}
.web-splash .bg-wrapper:before {
    @apply content-empty;
    @apply absolute;
    @apply w-full h-full;
    @apply opacity-40;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cdefs%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='12' numOctaves='2' stitchTiles='stitch' /%3E%3C/filter%3E%3Cmask id='edge-fade'%3E%3CradialGradient id='fade' cx='50%25' cy='50%25' r='50%25'%3E%3Cstop offset='50%25' stop-color='white' /%3E%3Cstop offset='90%25' stop-color='blue' /%3E%3C/radialGradient%3E%3Crect width='100%25' height='100%25' fill='url(%23fade)' /%3E%3C/mask%3E%3C/defs%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)' mask='url(%23edge-fade)' /%3E%3C/svg%3E");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.web-splash .bg-wrapper > img {
    @apply absolute top-0 z-10;
    @apply h-full w-[120%];
}
.web-splash .c-content {
    @apply z-10;
    @apply flex-y items-center justify-center gap-y-8;
    min-height: 240px;
    min-width: 240px;
    max-height: 240px;
    max-width: 240px;
}
.web-splash .c-content > img {
    min-height: 100px;
    min-width: 100px;
    max-height: 100px;
    max-width: 100px;
}
body.app-maui.device-ios .web-splash .c-content > img {
    @apply hidden;
}
body.app-maui.device-android .web-splash .c-content > img {
    @apply hidden;
}
.web-splash .progress {
    @apply relative;
    @apply flex justify-start items-center;
    @apply min-w-full max-w-full min-h-1 overflow-hidden;
    @apply rounded-full;
    @apply bg-[var(--white-05)];
}
.web-splash .progress-value {
    @apply w-full h-1;
    @apply rounded-full;
    @apply bg-[var(--white)];
    box-shadow: 0 5px 5px -5px var(--white);
    animation: load 3s normal cubic-bezier(0.3, 0.9, 0.3, 0.9);
}
@keyframes load {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0); }
}
