/* Loading overlay */

:root, .theme-light, .theme-dark, .theme-ash {
    --web-splash-bg-color: var(--blue-30); /* Old: --background-01 */
    --web-splash-box-size: 24rem;
    --web-splash-shine-size: 30%;
    --web-splash-logo-size: 8rem;
}
@media (min-width: 1024px) {
    :root {
        --web-splash-logo-size: 18rem;
    }
}

.web-splash {
    @apply absolute z-[1900] overflow-hidden;
    @apply flex items-center justify-center;
    @apply w-screen h-screen;
    @apply transition-opacity ease-in duration-300;
    @apply bg-pal-indigo-10;
    will-change: transform;
}
.web-splash.removing {
    @apply transition-opacity ease-out duration-350 opacity-0;
}

.web-splash .c-wrapper {
    @apply relative;
    @apply flex items-center justify-center;
    @apply w-full h-full;
}
.web-splash .bg-wrapper {
    @apply absolute inset-0 z-10;
}
.web-splash .bg-wrapper > img {
    @apply absolute top-0 z-10;
    @apply h-full w-full;
    filter: blur(2px) opacity(0);
    animation: showSplashImage 0.5s linear forwards;

}
@keyframes showSplashImage {
    0%, 50% {
        filter: blur(2px) opacity(0);
    }
    100% {
        filter: blur(0) opacity(1);
    }
}
body.wide .web-splash .narrow-image,
body.narrow .web-splash .wide-image {
    @apply hidden;
}
body.narrow .web-splash .narrow-image,
body.wide .web-splash .wide-image {
    @apply block;
}
.web-splash .c-content {
    @apply relative z-10;
    @apply flex-y items-center justify-center gap-y-8;
    @apply min-h-64 min-w-48;
}
.web-splash .c-content > img {
    @apply h-[var(--web-splash-logo-size)] w-[var(--web-splash-logo-size)];
}
.web-splash .progress {
    @apply absolute;
    @apply flex justify-start items-center;
    @apply min-w-full max-w-full min-h-1 overflow-hidden;
    @apply rounded-full;
    @apply bg-pal-white-05;
    bottom: calc(32px + var(--safe-area-bottom));
}
.web-splash .progress-value {
    @apply w-full h-1;
    @apply rounded-full;
    @apply bg-white;
    box-shadow: 0 5px 5px -5px var(--white);
    animation: load 3s normal cubic-bezier(0.3, 0.9, 0.3, 0.9);
}
@keyframes load {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0); }
}

/* Skeletons */
.web-splash .splash-page {
    @apply flex-x;
    @apply w-screen h-screen;
    @apply bg-01;
}

