.add-member-modal.modal-frame {
    @apply md:min-w-90 md:max-w-90 md:h-160 md:max-h-160;
}
.add-member-modal-content .dialog-body {
    @apply flex-y gap-y-2;
}
.add-member-modal-content .dialog-buttons {
    @apply md:pt-2;
}
.c-contact-list {
    @apply flex-y grow;
    @apply overflow-y-auto custom-scrollbar-outside;
}
.c-contact-list > .c-item {
    @apply flex-x items-center gap-x-1;
    @apply min-h-12 max-h-12;
    @apply px-2;
    @apply rounded-md;
    @apply hover:bg-hover;
}
.c-contact-list > .c-item,
.c-contact-list > .c-item * {
    @apply cursor-pointer;
}
.c-contact-list > .c-item > .avatar-name {
    @apply grow;
    @apply truncate;
    @apply text-headline-1 text-02;
}
.c-contact-list > .c-item:hover > .avatar-name {
    @apply text-01;
}
