@namespace ActualChat.UI.Blazor.Components

<div class="flex-x items-center">
    <ButtonSquare Click="@OnClicked" Class="first-pinned">
        AC
    </ButtonSquare>
    <div class="ml-8 md:hidden">Actual Chat</div>
</div>
<div class="flex-x items-center">
    <ButtonSquare Click="@OnClicked" Class="second-pinned">
        <div>BD</div>
    </ButtonSquare>
    <div class="ml-8 md:hidden">Brahmapar Dumba</div>
</div>

<ButtonSquare Click="@OnClicked" Class="plus-chat">
    <svg class="fill-current w-6 h-6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M19 11H13V5C13 4.447 12.552 4 12 4C11.448 4 11 4.447 11 5V11H5C4.448 11 4 11.447 4 12C4 12.553 4.448 13 5 13H11V19C11 19.553 11.448 20 12 20C12.552 20 13 19.553 13 19V13H19C19.552 13 20 12.553 20 12C20 11.447 19.552 11 19 11Z" fill="#8E8E8E"/>
    </svg>
</ButtonSquare>

@code {
    private void OnClicked() {}
}
