@using ActualChat.UI.Blazor.Services
@namespace ActualChat.UI.Blazor.Components
@inject NavbarUI _navbarUI

@{
    var title = _navbarUI.ActiveGroupTitle.ToUpper();
}

<div class="mobile-menu-header-title flex flex-1 w-full justify-end">
    <div class="mx-4 font-semibold">@title</div>
</div>

@code {
    protected override void OnInitialized() {
        _navbarUI.ActiveGroupChanged += (s, e) => StateHasChanged();
    }
}

