@using ActualChat.Hosting
@namespace ActualChat.UI.Blazor.Components
@inject HostInfo _hostInfo

<button class="navbar-menu-icon h-10 w-10 rounded-r-md my-0.25 bg-accent flex justify-center grid content-center cursor-pointer @Css">
    <svg xmlns="http://www.w3.org/2000/svg" class="fill-current h-@IconHeight w-@IconWidth" viewBox="@ViewBox">
        <path d="@IconPath"></path>
    </svg>
</button>

@code {
    [Parameter]
    public string? IconPath { get; set; }
    [Parameter]
    public int IconHeight { get; set; } = 6;
    [Parameter]
    public int IconWidth { get; set; } = 6;
    [Parameter]
    public string ViewBox { get; set; } = "0 0 24 24";
    [Parameter]
    public string? Css { get; set; } = "";

}
