@namespace ActualChat.UI.Blazor.Components
@implements IDisposable
@using ActualChat.UI.Blazor.Services

@{
    var isVisible = NavbarUI.ActiveGroupId == Id;
    var cls = isVisible ? "flex" : "hidden";
}

<div class="@Class navbar-menu-group flex-col space-y-2 @cls">
    <div class="hidden md:flex flex-col justify-between items-center mt-2">
        <div class="text-secondary-muted text-sm uppercase font-medium">@Title</div>
        @Icons
    </div>
    @ChildContent
</div>

@code{
    [Inject] private NavbarUI NavbarUI { get; init; } = null!;
    private EventHandler? _onActiveGroupChanged;

    [Parameter] public string? Class { get; set; } = "";
    [Parameter, EditorRequired] public string Title { get; set; } = "";
    [Parameter] public RenderFragment? Icons { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter, EditorRequired] public string Id { get; set; } = "";

    protected override void OnInitialized() {
        _onActiveGroupChanged = (s, e) => StateHasChanged();
        NavbarUI.ActiveGroupChanged += _onActiveGroupChanged;
    }

    public void Dispose()
        => NavbarUI.ActiveGroupChanged -= _onActiveGroupChanged;
}
