@namespace ActualChat.UI.Blazor.Components

<div class="pt-10 md:pt-6 pb-4 px-1 flex flex-col space-y-2">
    <div class="flex justify-between items-center">
        <div class="text-secondary-muted text-sm uppercase font-medium">@Data.Name</div>
        @Icons
    </div>
    @foreach(var link in Data.Links){
        <NavbarLink Data="@link"/>
    }
</div>


@code{
    [Parameter, EditorRequired]
    public NavbarLinksGroupModel Data { get; set;} = null!;
    [Parameter]
    public RenderFragment? Icons { get; set; }
}
