@namespace ActualChat.UI.Blazor.Components

@{
    string additionalCssClass = Data.Status switch {
        NavbarLinkModelStatus.Online => "bg-button-success",
        NavbarLinkModelStatus.Offline => "border border-secondary",
        NavbarLinkModelStatus.None => "",
        _ => "",
    };
}

<div class="flex flex-row items-center mb-2 px-1">
    <span class="rounded-full block w-2 h-2 mr-3 @additionalCssClass"></span>
    <span class="links-item"><a href="@Data.Href">@Data.Name</a></span>
</div>

@code {
    [Parameter, EditorRequired]
    public NavbarLinkModel Data { get; set; } = null!;
}

