@using ActualChat.UI.Blazor.Services
@namespace ActualChat.UI.Blazor.Components
@inject FeedbackUI FeedbackUI

<div class="flex-x items-center">
    <ButtonSquare
        Click="@OnClick"
        Class="first-pinned"
        Tooltip="Imaginary Place"
        TooltipPosition="TooltipPosition.Right">
        IP
    </ButtonSquare>
    <div class="ml-4 md:hidden">Imaginary Place</div>
</div>

<div class="flex-x items-center">
    <ButtonSquare
        Class="plus-chat"
        Click="@OnClick"
        Tooltip="Create Place"
        TooltipPosition="TooltipPosition.Right">
        <i class="icon-plus text-2xl font-medium"></i>
    </ButtonSquare>
    <div class="ml-4 md:hidden">Create Place</div>
</div>

@code {
    private Task OnClick()
        => FeedbackUI.AskFeatureRequestFeedback("places", "Places");
}
