@namespace ActualChat.UI.Blazor.Components
@implements IDisposable
@using ActualChat.UI.Blazor.Services

@{
    var slotName = "NavbarGroupTitle-" + NavbarUI.ActiveGroupId;
}
<div class="-flex-x items-center gap-x-2">
    <RenderSlot Name="@slotName" />
</div>

@code {
    [Inject] private NavbarUI NavbarUI { get; init; } = null!;
    private EventHandler? _onActiveGroupChanged;

    protected override void OnInitialized() {
        _onActiveGroupChanged = (s, e) => StateHasChanged();
        NavbarUI.ActiveGroupChanged += _onActiveGroupChanged;
    }

    public void Dispose()
        => NavbarUI.ActiveGroupChanged -= _onActiveGroupChanged;
}
