@namespace ActualChat.UI.Blazor.Components

<div class="flex-x justify-start items-center gap-x-1 w-full navbar-subgroup @Class">
    @ChildContent
</div>

@code {
    [Parameter] public string Class { get; set; } = "";
    [Parameter] public RenderFragment? ChildContent { get; set; }
}
