@namespace ActualChat.UI.Blazor.Components
@implements IDisposable
@using ActualChat.Hosting
@using ActualChat.UI.Blazor.Services
@{
    var isActive = NavbarUI.ActiveGroupId == Id;
    var cls = isActive ? "on" : "";
    var btnClass = $"navbar-group-toggle {cls} {Class}";
    var lineClass = isActive ? "bg-primary" : "bg-transparent";
}

<div class="flex-x">
    <div class="@lineClass left-line hidden md:block">
    </div>
    <ButtonSquare Click="@OnClick" Title="@Title" Class="@btnClass">
        <div class="flex w-12 md:justify-center pl-1 md:pl-0">
            @ChildContent
        </div>
        <div class="@cls navbar-group-title ml-2 md:hidden">@Title</div>
    </ButtonSquare>
</div>

@code {
    [Inject] private NavbarUI NavbarUI { get; init; } = null!;
    [Inject] private HostInfo HostInfo { get; init; } = null!;
    private EventHandler? _onActiveGroupChanged;

    [Parameter] public string? Class { get; set; } = "";
    [Parameter] public string ViewBox { get; set; } = "0 0 24 24";
    [Parameter, EditorRequired] public string Title { get; set; } = "";
    [Parameter, EditorRequired] public string Id { get; set; } = "";
    [Parameter] public RenderFragment ChildContent { get; set; } = null!;

    protected override void OnInitialized() {
        _onActiveGroupChanged = (s, e) => StateHasChanged();
        NavbarUI.ActiveGroupChanged += (s, e) => StateHasChanged();
    }

    public void Dispose()
        => NavbarUI.ActiveGroupChanged -= _onActiveGroupChanged;

    private void OnClick()
        => NavbarUI.ActivateGroup(Id, Title);

}
