@namespace ActualChat.UI.Blazor.Components

@{
    var bulletClass = IsOnline switch {
        {} v when v is true => "bg-online",
        {} v when v is false => "border border-primary-inverted",
        _ => "",
    };
    var cls = IsActive ? "font-semibold" : "";
}

<div class="flex flex-row items-center navbar-link">
    @if (IsOnline.HasValue) {
        <span class="rounded-full block w-2 h-2 mr-2 @bulletClass"></span>
    }
    <span class="text-primary-muted text-sm hover:text-primary @cls">
        @if (Url.IsNullOrEmpty()) {
            @Title
        } else {
            <a href="@Url">@Title</a>
        }
    </span>
    @PostFragment
</div>

@code {
    [Parameter, EditorRequired] public string Title { get; set; } = "";
    [Parameter] public string Url { get; set; } = "";
    [Parameter] public bool? IsOnline { get; set; } = null;
    [Parameter] public RenderFragment? PostFragment { get; set; }
    [Parameter] public bool IsActive { get; set; }
}
