@using ActualChat.Hosting;
@namespace ActualChat.UI.Blazor.Components

@{
    var version = "v" + (GetType().Assembly.GetInformationalVersion() ?? "n/a").Replace('+', ' ');
}

<div class="flex-y w-full h-full overflow-y-hidden bg-primary">
    <div class="flex-x justify-center items-center min-h-mobile-header border-b border-accent px-4 gap-x-2">
        <Search/>
        <div class="w-16 flex-1 float-right">
            <ButtonRound Click="@Click" Class="add-to-chat">
                <svg class="fill-current w-6 h-6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M19 11H13V5C13 4.447 12.552 4 12 4C11.448 4 11 4.447 11 5V11H5C4.448 11 4 11.447 4 12C4 12.553 4.448 13 5 13H11V19C11 19.553 11.448 20 12 20C12.552 20 13 19.553 13 19V13H19C19.552 13 20 12.553 20 12C20 11.447 19.552 11 19 11Z"/>
                </svg>
            </ButtonRound>
        </div>
    </div>
    <div class="navbar-content flex-auto flex-y overflow-y-auto custom-scrollbar px-2 m-2">
        <NavbarContent/>
    </div>
    <div class="flex-none flex-y">
        <div class="flex-x text-xxs px-3 py-1 items-baseline border-t border-accent">
            <div class="px-0.5 w-full"><b class="text-primary font-medium">@version</b></div>
            @if (HostInfo.HostKind != HostKind.Maui)
            {
                <div class="pt-0.5 w-24"><BlazorModeToggle/></div>
            }
        </div>
    </div>
</div>

@code {
    [Inject] private HostInfo HostInfo { get; init; } = null!;

    private void Click() {}
}
