.date-visor-wrapper {
    @apply hidden justify-center;
    @apply max-h-0;
    @apply bg-transparent;
    @apply duration-500;
    filter: opacity(0);
    transition-property: display, filter, -webkit-filter;
    transition-behavior: allow-discrete;
}
.layout-subheader > div.date-visor-wrapper {
    @apply mt-0;
}
.date-visor-wrapper.show {
    @apply flex-x;
    @apply delay-200;
    filter: opacity(1);
    @starting-style {
        filter: opacity(0);
    }
}
.date-visor-wrapper:has(.date-visor:empty) {
    @apply hidden;
}
.date-visor {
    @apply flex items-center;
    @apply h-4;
    @apply px-2 -mt-2;
    @apply rounded-full border-none;
    @apply bg-01;
    @apply text-caption-6 text-01;
    @apply drop-shadow-lg;
}
