.date-visor-wrapper {
    @apply hidden justify-center;
    @apply max-h-0;
    @apply opacity-0;
    @apply bg-transparent;
    @apply duration-500;
    transition-property: display, opacity;
    transition-behavior: allow-discrete;
}
.layout-subheader > div.date-visor-wrapper {
    @apply z-button;
    @apply mt-0;
}
.date-visor-wrapper.show {
    @apply flex-x;
    @apply opacity-100;
    @apply delay-200;
    @starting-style {
        opacity: 0;
    }
}
.date-visor-wrapper:empty {
    @apply hidden;
}
.date-visor {
    @apply flex items-center;
    @apply h-4;
    @apply px-2 mt-1;
    @apply rounded-full border border-separator;
    @apply bg-01;
    @apply text-caption-6 text-01;
    @apply drop-shadow-lg;
}
/* Extra margin when video panel drag handle is present */
.list-view-layout:has(.c-drag-handle) .date-visor {
    @apply mt-4;
}
