.mobile-control-panel {
    @apply h-auto py-4;
    @apply md:hidden justify-center;
    @apply bg-01;
    @apply self-stretch md:self-end;
    @apply items-center;
    border-bottom-right-radius: 2.5rem;
    border-bottom-left-radius: 2.5rem;
}

.mobile-control-panel .mobile-button {
    @apply rounded-full;
}

.mobile-control-panel .btn.btn-round .btn-content {
    @apply bg-01 rounded-full;
    max-width: 3.5rem;
    max-height: 3.5rem;
    min-width: 3.5rem;
    min-height: 3.5rem;
}

.mobile-control-panel .mobile-recorder-toggle.btn.btn-round {
    @apply outline-1 outline-offset-4;
    @apply border-none shadow-mobile-button;
}
.mobile-control-panel .mobile-recorder-toggle.btn,
.mobile-control-panel .mobile-recorder-toggle.btn.off {
    @apply outline-primary shadow-secondary;
}
.mobile-control-panel .mobile-recorder-toggle.btn.on {
    @apply outline-error shadow-error-hover;
}

.mobile-control-panel .mobile-recorder-toggle.btn .btn-content,
.mobile-control-panel .mobile-recorder-toggle.btn.off .btn-content {
    @apply bg-primary text-04 h-20 w-20;
    max-width: 5rem;
    max-height: 5rem;
}
.mobile-control-panel .mobile-recorder-toggle.btn.on .btn-content {
    @apply bg-error text-04 h-20 w-20;
}
.mobile-control-panel .mobile-playback-toggle {
    @apply w-28 -mr-14;
}
.mobile-control-panel .mobile-playback-toggle .playback-wrapper {
    @apply relative h-14 flex-x shadow-mobile-button shadow-shadow-main;
}
.mobile-control-panel .mobile-playback-toggle .playback-wrapper .btn.btn-round {
    @apply absolute;
}

.playback-wrapper.listen-on {
    @apply w-28;
}
.playback-wrapper.listen-on .loud-btn.btn.btn-round {
    @apply opacity-100 translate-x-12;
}
.playback-wrapper.listen-off {
    @apply w-14;
}
.playback-wrapper.listen-off .loud-btn.btn.btn-round {
    @apply opacity-0 translate-x-12 absolute;
}
.playback-wrapper.listen-on-to-off {
    @apply animate-width-full-to-half w-14;
}
.playback-wrapper.listen-on-to-off .loud-btn.btn.btn-round {
    @apply animate-loud-hide absolute transition duration-500 opacity-0 scale-0;
}
.playback-wrapper.listen-off-to-on {
    @apply animate-width-half-to-full w-28;
}
.playback-wrapper.listen-off-to-on .loud-btn.btn.btn-round {
    @apply animate-loud-show absolute translate-x-12;
}

/*Text mode*/
.text-mode .mobile-control-panel {
    @apply gap-x-2;
}
.text-mode .mobile-control-panel .btn.btn-round .btn-content {
    @apply bg-01 rounded-full;
    max-width: 5rem;
    max-height: 3rem;
    min-width: 5rem;
    min-height: 3rem;
}
.text-mode .mobile-control-panel .btn.btn-round {
    @apply outline-0 outline-offset-0;
}
.text-mode .mobile-control-panel .btn.btn-round svg {
    @apply h-6 w-6;
}

.text-mode .mobile-control-panel .mobile-recorder-toggle.btn.btn-round,
.text-mode .mobile-control-panel .mobile-recorder-toggle.btn.btn-round.off {
    @apply shadow-mobile-button shadow-secondary;
}
.text-mode .mobile-control-panel .mobile-recorder-toggle.btn.btn-round.on {
    @apply shadow-error-hover;
}
.text-mode .mobile-control-panel .mobile-recorder-toggle.btn .btn-content,
.text-mode .mobile-control-panel .mobile-recorder-toggle.btn.off .btn-content {
    @apply bg-primary text-04;
}
.text-mode .mobile-control-panel .mobile-recorder-toggle.btn.on .btn-content {
    @apply bg-error text-04;
}

.text-mode .mobile-control-panel .mobile-playback-toggle {
    @apply w-32;
}
.text-mode .mobile-control-panel .mobile-playback-toggle .playback-wrapper {
    @apply h-12;
}
.text-mode .mobile-control-panel .mobile-playback-toggle .playback-wrapper .btn {
    @apply left-4;
}
.text-mode .mobile-control-panel .mobile-playback-toggle .playback-wrapper .btn.btn-round .btn-content {
    @apply bg-01 rounded-full;
    max-width: 3rem;
    min-width: 3rem;
}
.text-mode .mobile-control-panel .mobile-playback-toggle .playback-wrapper svg {
    @apply h-8 w-8;
}

.text-mode .playback-wrapper.listen-on {
    @apply w-32;
}
.text-mode .playback-wrapper.listen-on .loud-btn.btn.btn-round {
    @apply opacity-100 translate-x-12;
}
.text-mode .playback-wrapper.listen-off {
    @apply w-20;
}
.text-mode .playback-wrapper.listen-off .loud-btn.btn.btn-round {
    @apply opacity-0 translate-x-12 absolute;
}
.text-mode .playback-wrapper.listen-on-to-off {
    @apply animate-width-full-to-60 w-20;
}
.text-mode .playback-wrapper.listen-on-to-off .loud-btn.btn.btn-round {
    @apply animate-loud-hide absolute transition duration-500 opacity-0 scale-0;
}
.text-mode .playback-wrapper.listen-off-to-on {
    @apply animate-width-60-to-full w-32;
}
.text-mode .playback-wrapper.listen-off-to-on .loud-btn.btn.btn-round {
    @apply animate-loud-show absolute translate-x-12;
}
