.mobile-control-panel {
    @apply h-auto py-4;
    @apply md:hidden justify-center;
    @apply bg-01;
    @apply self-stretch md:self-end;
    @apply items-center;
    border-bottom-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
}

.mobile-control-panel .mobile-button {
    @apply rounded-full;
}

.mobile-control-panel .btn.btn-round .btn-content {
    @apply bg-01;
    max-width: 3.5rem;
    max-height: 3.5rem;
    min-width: 3.5rem;
    min-height: 3.5rem;
}

.mobile-control-panel .mobile-recorder-toggle.btn.btn-round {
    @apply outline-1 outline-offset-4;
    @apply border-none shadow-none;
}
.mobile-control-panel .mobile-recorder-toggle.btn,
.mobile-control-panel .mobile-recorder-toggle.btn.off {
    @apply outline-primary;
}
.mobile-control-panel .mobile-recorder-toggle.btn.on {
    @apply outline-error;
}

.mobile-control-panel .mobile-recorder-toggle.btn .btn-content,
.mobile-control-panel .mobile-recorder-toggle.btn.off .btn-content {
    @apply bg-primary text-04 h-20 w-20 rounded-full outline-primary;
    max-width: 5rem;
    max-height: 5rem;
}
.mobile-control-panel .mobile-recorder-toggle.btn.on .btn-content {
    @apply bg-error text-04 h-20 w-20 rounded-full outline-error;
}

.mobile-control-panel .playback-toggle .playback-wrapper {
    @apply relative;
}
.mobile-control-panel .playback-toggle .playback-wrapper .btn.btn-round {
    @apply absolute;
}

.playback-wrapper.listen-on {
    @apply w-28;
}
.playback-wrapper.listen-on .loud-btn.btn.btn-round {
    @apply opacity-100 translate-x-12;
}
.playback-wrapper.listen-off {
    @apply w-14;
}
.playback-wrapper.listen-off .loud-btn.btn.btn-round {
    @apply opacity-0 translate-x-12 absolute;
}
.playback-wrapper.listen-on-to-off {
    @apply animate-width-full-to-half w-14;
}
.playback-wrapper.listen-on-to-off .loud-btn.btn.btn-round {
    @apply animate-loud-hide absolute transition duration-500 opacity-0 scale-0;
}
.playback-wrapper.listen-off-to-on {
    @apply animate-width-half-to-full w-28;
}
.playback-wrapper.listen-off-to-on .loud-btn.btn.btn-round {
    @apply animate-loud-show absolute translate-x-12;
}

