@namespace ActualChat.Chat.UI.Blazor.Components
@using ActualChat.Audio.UI.Blazor.Components

<div class="mobile-control-panel flex-x gap-x-6">
    <div class="language-button flex">
        <MobileLanguageToggle/>
    </div>
    <div class="recorder-button flex">
        <MobileRecorderToggle ChatId="@Chat.Id"/>
    </div>
    <div class="playback-toggle">
        <MobilePlaybackToggle ChatId="@Chat.Id"/>
    </div>
</div>

@code {
    [CascadingParameter] public Chat Chat { get; set; } = null!;
}
