@namespace ActualChat.Chat.UI.Blazor.Components
@using ActualChat.Audio.UI.Blazor.Components
@inherits ComputedStateComponent<ChatUserSettings?>
@{
    var language = State.LatestNonErrorValue.LanguageOrDefault();
}

<ButtonRound
    Class="chat-language-toggle shadow-mobile-button shadow-shadow-main"
    Click="OnClick">
    <span class="w-8 h-8 m-1">
        @switch (language.Shortcut) {
            case "EN":
                <svg class="fill-current w-8 h-8" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <mask id="mask0_1036_33380" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
                        <circle cx="12" cy="12" r="12" fill="#D9D9D9"/>
                    </mask>
                    <g mask="url(#mask0_1036_33380)">
                        <path d="M30.6768 0.0891113H0.0322266V23.9108H30.6768V0.0891113Z" fill="white"/>
                        <path d="M30.6517 0H0.0322266V1.88343H30.6517V0Z" fill="#CF1C31"/>
                        <path d="M30.6517 3.68701H0.0322266V5.57044H30.6517V3.68701Z" fill="#CF1C31"/>
                        <path d="M30.6517 7.37158H0.0322266V9.25501H30.6517V7.37158Z" fill="#CF1C31"/>
                        <path d="M30.6517 11.0583H0.0322266V12.9418H30.6517V11.0583Z" fill="#CF1C31"/>
                        <path d="M30.6517 14.7429H0.0322266V16.6263H30.6517V14.7429Z" fill="#CF1C31"/>
                        <path d="M30.6517 18.4297H0.0322266V20.3131H30.6517V18.4297Z" fill="#CF1C31"/>
                        <path d="M30.6517 22.1167H0.0322266V24.0001H30.6517V22.1167Z" fill="#CF1C31"/>
                        <path d="M12.2608 0H0.0322266V12.9417H12.2608V0Z" fill="#3A3870"/>
                        <path d="M1.07295 0.496094L1.18724 1.02409H1.55752L1.25809 1.35095L1.37238 1.87895L1.07295 1.55209L0.773522 1.87895L0.887807 1.35095L0.588379 1.02409H0.958665L1.07295 0.496094Z" fill="white"/>
                        <path d="M2.0815 1.82422L2.19578 2.35222H2.56607L2.26664 2.67908L2.38092 3.20708L2.0815 2.88022L1.78207 3.20708L1.89635 2.67908L1.59692 2.35222H1.96721L2.0815 1.82422Z" fill="white"/>
                        <path d="M2.0815 4.41846L2.19578 4.94646H2.56607L2.26664 5.27331L2.38092 5.80131L2.0815 5.47446L1.78207 5.80131L1.89635 5.27331L1.59692 4.94646H1.96721L2.0815 4.41846Z" fill="white"/>
                        <path d="M2.0815 7.0127L2.19578 7.5407H2.56607L2.26664 7.86755L2.38092 8.39555L2.0815 8.07098L1.78207 8.39555L1.89635 7.86755L1.59692 7.5407H1.96721L2.0815 7.0127Z" fill="white"/>
                        <path d="M2.0815 9.60693L2.19578 10.1372H2.56607L2.26664 10.4618L2.38092 10.9921L2.0815 10.6652L1.78207 10.9921L1.89635 10.4618L1.59692 10.1372H1.96721L2.0815 9.60693Z" fill="white"/>
                        <path d="M4.12422 1.82422L4.23851 2.35222H4.60879L4.30936 2.67908L4.42365 3.20708L4.12422 2.88022L3.82479 3.20708L3.93908 2.67908L3.63965 2.35222H4.00993L4.12422 1.82422Z" fill="white"/>
                        <path d="M4.12422 4.41846L4.23851 4.94646H4.60879L4.30936 5.27331L4.42365 5.80131L4.12422 5.47446L3.82479 5.80131L3.93908 5.27331L3.63965 4.94646H4.00993L4.12422 4.41846Z" fill="white"/>
                        <path d="M4.12422 7.0127L4.23851 7.5407H4.60879L4.30936 7.86755L4.42365 8.39555L4.12422 8.07098L3.82479 8.39555L3.93908 7.86755L3.63965 7.5407H4.00993L4.12422 7.0127Z" fill="white"/>
                        <path d="M4.12422 9.60693L4.23851 10.1372H4.60879L4.30936 10.4618L4.42365 10.9921L4.12422 10.6652L3.82479 10.9921L3.93908 10.4618L3.63965 10.1372H4.00993L4.12422 9.60693Z" fill="white"/>
                        <path d="M6.16841 1.82422L6.28269 2.35222H6.65298L6.35355 2.67908L6.46784 3.20708L6.16841 2.88022L5.86898 3.20708L5.98327 2.67908L5.68384 2.35222H6.05412L6.16841 1.82422Z" fill="white"/>
                        <path d="M6.16841 4.41846L6.28269 4.94646H6.65298L6.35355 5.27331L6.46784 5.80131L6.16841 5.47446L5.86898 5.80131L5.98327 5.27331L5.68384 4.94646H6.05412L6.16841 4.41846Z" fill="white"/>
                        <path d="M6.16841 7.0127L6.28269 7.5407H6.65298L6.35355 7.86755L6.46784 8.39555L6.16841 8.07098L5.86898 8.39555L5.98327 7.86755L5.68384 7.5407H6.05412L6.16841 7.0127Z" fill="white"/>
                        <path d="M6.16841 9.60693L6.28269 10.1372H6.65298L6.35355 10.4618L6.46784 10.9921L6.16841 10.6652L5.86898 10.9921L5.98327 10.4618L5.68384 10.1372H6.05412L6.16841 9.60693Z" fill="white"/>
                        <path d="M8.20894 1.82422L8.32551 2.35222H8.69579L8.39408 2.67908L8.51065 3.20708L8.20894 2.88022L7.90951 3.20708L8.02379 2.67908L7.72437 2.35222H8.09465L8.20894 1.82422Z" fill="white"/>
                        <path d="M8.20894 4.41846L8.32551 4.94646H8.69579L8.39408 5.27331L8.51065 5.80131L8.20894 5.47446L7.90951 5.80131L8.02379 5.27331L7.72437 4.94646H8.09465L8.20894 4.41846Z" fill="white"/>
                        <path d="M8.20894 7.0127L8.32551 7.5407H8.69579L8.39408 7.86755L8.51065 8.39555L8.20894 8.07098L7.90951 8.39555L8.02379 7.86755L7.72437 7.5407H8.09465L8.20894 7.0127Z" fill="white"/>
                        <path d="M8.20894 9.60693L8.32551 10.1372H8.69579L8.39408 10.4618L8.51065 10.9921L8.20894 10.6652L7.90951 10.9921L8.02379 10.4618L7.72437 10.1372H8.09465L8.20894 9.60693Z" fill="white"/>
                        <path d="M10.2524 1.82422L10.3667 2.35222H10.737L10.4375 2.67908L10.5518 3.20708L10.2524 2.88022L9.95297 3.20708L10.0673 2.67908L9.76782 2.35222H10.1381L10.2524 1.82422Z" fill="white"/>
                        <path d="M10.2524 4.41846L10.3667 4.94646H10.737L10.4375 5.27331L10.5518 5.80131L10.2524 5.47446L9.95297 5.80131L10.0673 5.27331L9.76782 4.94646H10.1381L10.2524 4.41846Z" fill="white"/>
                        <path d="M10.2524 7.0127L10.3667 7.5407H10.737L10.4375 7.86755L10.5518 8.39555L10.2524 8.07098L9.95297 8.39555L10.0673 7.86755L9.76782 7.5407H10.1381L10.2524 7.0127Z" fill="white"/>
                        <path d="M10.2524 9.60693L10.3667 10.1372H10.737L10.4375 10.4618L10.5518 10.9921L10.2524 10.6652L9.95297 10.9921L10.0673 10.4618L9.76782 10.1372H10.1381L10.2524 9.60693Z" fill="white"/>
                        <path d="M1.07295 3.09033L1.18724 3.61833H1.55752L1.25809 3.94519L1.37238 4.47319L1.07295 4.14633L0.773522 4.47319L0.887807 3.94519L0.588379 3.61833H0.958665L1.07295 3.09033Z" fill="white"/>
                        <path d="M1.07295 5.68481L1.18724 6.21281H1.55752L1.25809 6.53967L1.37238 7.06767L1.07295 6.7431L0.773522 7.06767L0.887807 6.53967L0.588379 6.21281H0.958665L1.07295 5.68481Z" fill="white"/>
                        <path d="M1.07295 8.27905L1.18724 8.80934H1.55752L1.25809 9.13391L1.37238 9.6642L1.07295 9.33734L0.773522 9.6642L0.887807 9.13391L0.588379 8.80934H0.958665L1.07295 8.27905Z" fill="white"/>
                        <path d="M1.07295 10.8755L1.18724 11.4035H1.55752L1.25809 11.7303L1.37238 12.2583L1.07295 11.9315L0.773522 12.2583L0.887807 11.7303L0.588379 11.4035H0.958665L1.07295 10.8755Z" fill="white"/>
                        <path d="M3.08931 0.496094L3.20359 1.02409H3.57388L3.27445 1.35095L3.38874 1.87895L3.08931 1.55209L2.78988 1.87895L2.90416 1.35095L2.60474 1.02409H2.97502L3.08931 0.496094Z" fill="white"/>
                        <path d="M3.08931 3.09033L3.20359 3.61833H3.57388L3.27445 3.94519L3.38874 4.47319L3.08931 4.14633L2.78988 4.47319L2.90416 3.94519L2.60474 3.61833H2.97502L3.08931 3.09033Z" fill="white"/>
                        <path d="M3.08931 5.68481L3.20359 6.21281H3.57388L3.27445 6.53967L3.38874 7.06767L3.08931 6.7431L2.78988 7.06767L2.90416 6.53967L2.60474 6.21281H2.97502L3.08931 5.68481Z" fill="white"/>
                        <path d="M3.08931 8.27905L3.20359 8.80934H3.57388L3.27445 9.13391L3.38874 9.6642L3.08931 9.33734L2.78988 9.6642L2.90416 9.13391L2.60474 8.80934H2.97502L3.08931 8.27905Z" fill="white"/>
                        <path d="M3.08931 10.8755L3.20359 11.4035H3.57388L3.27445 11.7303L3.38874 12.2583L3.08931 11.9315L2.78988 12.2583L2.90416 11.7303L2.60474 11.4035H2.97502L3.08931 10.8755Z" fill="white"/>
                        <path d="M5.15986 0.496094L5.27415 1.02409H5.64444L5.34501 1.35095L5.45929 1.87895L5.15986 1.55209L4.86044 1.87895L4.97472 1.35095L4.67529 1.02409H5.04558L5.15986 0.496094Z" fill="white"/>
                        <path d="M5.15986 3.09033L5.27415 3.61833H5.64444L5.34501 3.94519L5.45929 4.47319L5.15986 4.14633L4.86044 4.47319L4.97472 3.94519L4.67529 3.61833H5.04558L5.15986 3.09033Z" fill="white"/>
                        <path d="M5.15986 5.68481L5.27415 6.21281H5.64444L5.34501 6.53967L5.45929 7.06767L5.15986 6.7431L4.86044 7.06767L4.97472 6.53967L4.67529 6.21281H5.04558L5.15986 5.68481Z" fill="white"/>
                        <path d="M5.15986 8.27905L5.27415 8.80934H5.64444L5.34501 9.13391L5.45929 9.6642L5.15986 9.33734L4.86044 9.6642L4.97472 9.13391L4.67529 8.80934H5.04558L5.15986 8.27905Z" fill="white"/>
                        <path d="M5.15986 10.8755L5.27415 11.4035H5.64444L5.34501 11.7303L5.45929 12.2583L5.15986 11.9315L4.86044 12.2583L4.97472 11.7303L4.67529 11.4035H5.04558L5.15986 10.8755Z" fill="white"/>
                        <path d="M7.18949 0.496094L7.30378 1.02409H7.67407L7.37464 1.35095L7.48892 1.87895L7.18949 1.55209L6.88778 1.87895L7.00435 1.35095L6.70264 1.02409H7.07292L7.18949 0.496094Z" fill="white"/>
                        <path d="M7.18949 3.09033L7.30378 3.61833H7.67407L7.37464 3.94519L7.48892 4.47319L7.18949 4.14633L6.88778 4.47319L7.00435 3.94519L6.70264 3.61833H7.07292L7.18949 3.09033Z" fill="white"/>
                        <path d="M7.18949 5.68481L7.30378 6.21281H7.67407L7.37464 6.53967L7.48892 7.06767L7.18949 6.7431L6.88778 7.06767L7.00435 6.53967L6.70264 6.21281H7.07292L7.18949 5.68481Z" fill="white"/>
                        <path d="M7.18949 8.27905L7.30378 8.80934H7.67407L7.37464 9.13391L7.48892 9.6642L7.18949 9.33734L6.88778 9.6642L7.00435 9.13391L6.70264 8.80934H7.07292L7.18949 8.27905Z" fill="white"/>
                        <path d="M7.18949 10.8755L7.30378 11.4035H7.67407L7.37464 11.7303L7.48892 12.2583L7.18949 11.9315L6.88778 12.2583L7.00435 11.7303L6.70264 11.4035H7.07292L7.18949 10.8755Z" fill="white"/>
                        <path d="M9.21675 0.496094L9.33104 1.02409H9.70361L9.40189 1.35095L9.51846 1.87895L9.21675 1.55209L8.91732 1.87895L9.03161 1.35095L8.73218 1.02409H9.10246L9.21675 0.496094Z" fill="white"/>
                        <path d="M9.21675 3.09033L9.33104 3.61833H9.70361L9.40189 3.94519L9.51846 4.47319L9.21675 4.14633L8.91732 4.47319L9.03161 3.94519L8.73218 3.61833H9.10246L9.21675 3.09033Z" fill="white"/>
                        <path d="M9.21675 5.68481L9.33104 6.21281H9.70361L9.40189 6.53967L9.51846 7.06767L9.21675 6.7431L8.91732 7.06767L9.03161 6.53967L8.73218 6.21281H9.10246L9.21675 5.68481Z" fill="white"/>
                        <path d="M9.21675 8.27905L9.33104 8.80934H9.70361L9.40189 9.13391L9.51846 9.6642L9.21675 9.33734L8.91732 9.6642L9.03161 9.13391L8.73218 8.80934H9.10246L9.21675 8.27905Z" fill="white"/>
                        <path d="M9.21675 10.8755L9.33104 11.4035H9.70361L9.40189 11.7303L9.51846 12.2583L9.21675 11.9315L8.91732 12.2583L9.03161 11.7303L8.73218 11.4035H9.10246L9.21675 10.8755Z" fill="white"/>
                        <path d="M11.288 0.496094L11.4023 1.02409H11.7726L11.4732 1.35095L11.5875 1.87895L11.288 1.55209L10.9886 1.87895L11.1029 1.35095L10.8035 1.02409H11.1738L11.288 0.496094Z" fill="white"/>
                        <path d="M11.288 3.09033L11.4023 3.61833H11.7726L11.4732 3.94519L11.5875 4.47319L11.288 4.14633L10.9886 4.47319L11.1029 3.94519L10.8035 3.61833H11.1738L11.288 3.09033Z" fill="white"/>
                        <path d="M11.288 5.68481L11.4023 6.21281H11.7726L11.4732 6.53967L11.5875 7.06767L11.288 6.7431L10.9886 7.06767L11.1029 6.53967L10.8035 6.21281H11.1738L11.288 5.68481Z" fill="white"/>
                        <path d="M11.288 8.27905L11.4023 8.80934H11.7726L11.4732 9.13391L11.5875 9.6642L11.288 9.33734L10.9886 9.6642L11.1029 9.13391L10.8035 8.80934H11.1738L11.288 8.27905Z" fill="white"/>
                        <path d="M11.288 10.8755L11.4023 11.4035H11.7726L11.4732 11.7303L11.5875 12.2583L11.288 11.9315L10.9886 12.2583L11.1029 11.7303L10.8035 11.4035H11.1738L11.288 10.8755Z" fill="white"/>
                    </g>
                </svg>
                break;
            case "RU":
                <svg class="fill-current w-8 h-8" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <mask id="mask0_1036_33379" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
                        <circle cx="12" cy="12" r="12" fill="#D9D9D9"/>
                    </mask>
                    <g mask="url(#mask0_1036_33379)">
                        <path d="M24 0H0V8H24V0Z" fill="white"/>
                        <path d="M24 8H0V16H24V8Z" fill="#0000FF"/>
                        <path d="M24 16H0V24H24V16Z" fill="#FF0000"/>
                    </g>
                </svg>
                break;
        }
    </span>
</ButtonRound>

@code {
    [Inject] private Session Session { get; init; } = null!;
    [Inject] private IChatUserSettings ChatUserSettings { get; init; } = null!;
    [Inject] private UICommander UICommander { get; init; } = null!;

    [CascadingParameter] public Chat Chat { get; set; } = null!;

    protected override ComputedState<ChatUserSettings?>.Options GetStateOptions()
        => new() { UpdateDelayer = UpdateDelayer.ZeroDelay };

    protected override async Task<ChatUserSettings?> ComputeState(CancellationToken cancellationToken)
        => await ChatUserSettings.Get(Session, Chat.Id, cancellationToken).ConfigureAwait(false);

    private async Task OnClick()
    {
        var settings = State.Value ?? new() { Language = LanguageId.Default };
        settings = settings with { Language = settings.LanguageOrDefault().Next() };
        var command = new IChatUserSettings.SetCommand(Session, Chat.Id, settings);
        await UICommander.Run(command).ConfigureAwait(false);
    }
}
