@namespace ActualChat.Chat.UI.Blazor.Components
@using ActualChat.Audio.UI.Blazor.Components

<div class="mobile-control-panel">
    <div class="recorder-buttons -flex-x gap-x-1.5">
        <div class="recorder-button flex">
            <MobileRecorderToggle ChatId="@Chat.Id"/>
        </div>
        <div class="language-button flex hidden">
            <ChatLanguageToggle/>
        </div>
        <div class="playback-toggle">
            <ChatPlaybackToggle ChatId="@Chat.Id"/>
        </div>
    </div>
</div>

@code {
    [CascadingParameter] public Chat Chat { get; set; } = null!;
}
