@inherits BubbleBase
@namespace ActualChat.Users.UI.Blazor.Components

<BubbleContent Bubble="@(this)">
    <Title>Create new avatar</Title>
    <Body>
    <p>
        Avatars are your "looks" in different chats - e.g. you can use different avatars for your work & family chats.
    </p>
    <ul>
        <li>Each avatar has distinct name, photo, and bio.</li>
        <li>You can use a distinct avatar in each chat.</li>
        <li>Some chats can be joined anonymously - avatars there are always randomly generated.</li>
    </ul>
    </Body>
</BubbleContent>
