@namespace ActualChat.Chat.UI.Blazor.Components
@inherits BubbleBase

<BubbleContent Bubble="@(this)">
    <Title>Add avatar</Title>
    <Body>
    <span>Create your different identities: names & profile photos for different chats</span>
    </Body>
</BubbleContent>
