@using ActualChat.UI.Blazor.Components
@namespace ActualChat.Users.UI.Blazor.Components

<Button Class="add-avatar-btn"
        Click="OnClick"
        data-bubble="@(BubbleRef.New<AddAvatarBubble>())"
        data-bubble-priority="302"
        data-bubble-placement="@(FloatingPosition.LeftStart.ToPositionString())">
    <Icon><i class="icon-plus text-xl"></i></Icon>
    <Title>Add avatar</Title>
</Button>

@code{
    [Parameter] public EventCallback<MouseEventArgs> OnClick { get; set; }
}
