@using System.Text.Encodings.Web
@inherits ComputedStateComponent<ImmutableArray<Symbol>>
@{
    var m = State.LatestNonErrorValue;
}

<ul class="user-avatar-editor">
    @foreach (var avatarId in m) {
        <li class="user-avatar-editor-item" @onclick="@(() => EditAvatar(avatarId))">
            <UserAvatar AvatarId="@avatarId" ChatId="@ChatId" />
        </li>
    }
    <li class="user-avatar-editor-item" @onclick="OnAddNewAvatar">
        <UserAvatarAddTile />
    </li>
</ul>

@code {
    [Inject] private Session Session { get; init; } = null!;
    [Inject] private IUserAvatars UserAvatars { get; init; } = null!;
    [Inject] private IChatUserSettings ChatUserSettings { get; init; } = null!;
    [Inject] private ModalUI ModalUI { get; init; } = null!;
    [Inject] private UICommandRunner Cmd { get; init; } = null!;

    [Parameter] public string ChatId { get; set; } = "";

    protected override ComputedState<ImmutableArray<Symbol>>.Options GetStateOptions()
        => new () { InitialValue = ImmutableArray<Symbol>.Empty };

    protected override Task<ImmutableArray<Symbol>> ComputeState(CancellationToken cancellationToken)
        => UserAvatars.ListAvatarIds(Session, cancellationToken);

    private async Task OnAddNewAvatar() {
        var command = new IUserAvatars.CreateCommand(Session);
        await Cmd.Run(command).ConfigureAwait(false);
    }

    private void EditAvatar(string avatarId) {
        ModalUI.Show(new UserAvatarEditorModal.Model(avatarId, ChatId));
    }
}
