.user-avatar-editor {
    @apply flex flex-wrap gap-4;
}

.user-avatar-editor-item {
    @apply cursor-pointer;
}

.user-avatar-card {
    @apply w-40 h-32 max-w-xs p-2 pb-1.5;
    @apply border rounded-xl shadow-inner;
    @apply flex flex-col items-center overflow-hidden;
    @apply bg-white font-semibold text-center;
}

.user-avatar-card-content {
    @apply my-auto;
}

.user-avatar-card-bio {
    @apply mt-2 h-8 text-xs text-03;
    @apply font-light;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.user-avatar-card-picture {
    @apply w-16 h-16 rounded-full shadow-lg mx-auto;
}
svg.user-avatar-card-picture {
    @apply text-03 fill-current opacity-40;
}

.user-avatar-card-tag {
    @apply pl-2 pr-2.5 pt-1 pb-0.5 rounded-bl;
    @apply bg-online;
    @apply align-top text-03 text-xxs font-light;
}

.user-avatar-card-add-tile .user-avatar-card-picture {
    @apply m-auto;
}
