@namespace ActualChat.Users.UI.Blazor.Components
@{
    var icon = IsVerified ? "icon-checkmark-circle-2" : "icon-alert-circle";
    var text = IsVerified ? "Verified" : "Not verified";
    var colorCls = IsVerified ? "text-success" : "text-icons-04";
}

<div class="flex-x items-center justify-center @Class">
    <i class="@icon text-xl @colorCls" aria-hidden="true" data-tooltip="@text"></i>
</div>


@code {
    [Parameter, EditorRequired] public bool IsVerified { get; set; }
    [Parameter] public string Class { get; set; } = "";
}
