@font-face {font-family: "icon";
  src: url('icon.eot?t=1708517890403'); /* IE9*/
  src: url('icon.eot?t=1708517890403#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("icon.woff2?t=1708517890403") format("woff2"),
  url("icon.woff?t=1708517890403") format("woff"),
  url('icon.ttf?t=1708517890403') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('icon.svg?t=1708517890403#icon') format('svg'); /* iOS 4.1- */
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icon' !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:global {
.icon-add-reaction:before { content: "\ea01"; }
.icon-admin02:before { content: "\ea02"; }
.icon-adminx-1:before { content: "\ea03"; }
.icon-ai-bot-avatar:before { content: "\ea04"; }
.icon-ai-search:before { content: "\ea05"; }
.icon-ai:before { content: "\ea06"; }
.icon-alert-circle:before { content: "\ea07"; }
.icon-alert-triangle:before { content: "\ea08"; }
.icon-archive:before { content: "\ea09"; }
.icon-arrow-down-1:before { content: "\ea0a"; }
.icon-arrow-down:before { content: "\ea0b"; }
.icon-arrow-left-fill:before { content: "\ea0c"; }
.icon-arrow-left:before { content: "\ea0d"; }
.icon-arrow-right-1:before { content: "\ea0e"; }
.icon-arrow-right-2:before { content: "\ea0f"; }
.icon-arrow-right:before { content: "\ea10"; }
.icon-at:before { content: "\ea11"; }
.icon-attach-2:before { content: "\ea12"; }
.icon-bell-fill:before { content: "\ea13"; }
.icon-bell-off-fill:before { content: "\ea14"; }
.icon-bell:before { content: "\ea15"; }
.icon-bookmark-fill:before { content: "\ea16"; }
.icon-bookmark:before { content: "\ea17"; }
.icon-calendar:before { content: "\ea18"; }
.icon-chat-add-two:before { content: "\ea19"; }
.icon-checkmark-circle-2:before { content: "\ea1a"; }
.icon-checkmark-circle:before { content: "\ea1b"; }
.icon-checkmark:before { content: "\ea1c"; }
.icon-chevron-left:before { content: "\ea1d"; }
.icon-chevron-right-fill:before { content: "\ea1e"; }
.icon-chevron-right:before { content: "\ea1f"; }
.icon-chevron-up:before { content: "\ea20"; }
.icon-close-fill:before { content: "\ea21"; }
.icon-close:before { content: "\ea22"; }
.icon-cloud-disconnected:before { content: "\ea23"; }
.icon-cloud:before { content: "\ea24"; }
.icon-conversation:before { content: "\ea25"; }
.icon-copy:before { content: "\ea26"; }
.icon-download:before { content: "\ea27"; }
.icon-edit-2:before { content: "\ea28"; }
.icon-edit-fill:before { content: "\ea29"; }
.icon-edit:before { content: "\ea2a"; }
.icon-email:before { content: "\ea2b"; }
.icon-emotion:before { content: "\ea2c"; }
.icon-external-link:before { content: "\ea2d"; }
.icon-eye-off:before { content: "\ea2e"; }
.icon-eye:before { content: "\ea2f"; }
.icon-file-text:before { content: "\ea30"; }
.icon-file:before { content: "\ea31"; }
.icon-folder:before { content: "\ea32"; }
.icon-gallery-arrow-left:before { content: "\ea33"; }
.icon-gallery-arrow-right:before { content: "\ea34"; }
.icon-guest:before { content: "\ea35"; }
.icon-hand:before { content: "\ea36"; }
.icon-hash-fill:before { content: "\ea37"; }
.icon-headphones-fill:before { content: "\ea38"; }
.icon-heart-fill:before { content: "\ea39"; }
.icon-history:before { content: "\ea3a"; }
.icon-image:before { content: "\ea3b"; }
.icon-info:before { content: "\ea3c"; }
.icon-language-1:before { content: "\ea3d"; }
.icon-language:before { content: "\ea3e"; }
.icon-layout:before { content: "\ea3f"; }
.icon-link-2:before { content: "\ea40"; }
.icon-list:before { content: "\ea41"; }
.icon-listen:before { content: "\ea42"; }
.icon-lock:before { content: "\ea43"; }
.icon-log-in:before { content: "\ea44"; }
.icon-log-out:before { content: "\ea45"; }
.icon-loudspeaker:before { content: "\ea46"; }
.icon-menu:before { content: "\ea47"; }
.icon-message-add-2:before { content: "\ea48"; }
.icon-message-add:before { content: "\ea49"; }
.icon-message-ellipse:before { content: "\ea4a"; }
.icon-message-square-fill:before { content: "\ea4b"; }
.icon-message-square:before { content: "\ea4c"; }
.icon-mic-2:before { content: "\ea4d"; }
.icon-mic-fill:before { content: "\ea4e"; }
.icon-mic-off-fill:before { content: "\ea4f"; }
.icon-mic-off:before { content: "\ea50"; }
.icon-mic:before { content: "\ea51"; }
.icon-minus-circle:before { content: "\ea52"; }
.icon-monitor:before { content: "\ea53"; }
.icon-moon-fill:before { content: "\ea54"; }
.icon-more-vertical-2:before { content: "\ea55"; }
.icon-more-vertical:before { content: "\ea56"; }
.icon-night-mode-1:before { content: "\ea57"; }
.icon-night-mode:before { content: "\ea58"; }
.icon-not-listening:before { content: "\ea59"; }
.icon-options-2:before { content: "\ea5a"; }
.icon-paper-plane:before { content: "\ea5b"; }
.icon-pause-circle-fill:before { content: "\ea5c"; }
.icon-pause-fill:before { content: "\ea5d"; }
.icon-people-fill:before { content: "\ea5e"; }
.icon-people:before { content: "\ea5f"; }
.icon-person-add-fill:before { content: "\ea60"; }
.icon-person-add:before { content: "\ea61"; }
.icon-person:before { content: "\ea62"; }
.icon-phone-call:before { content: "\ea63"; }
.icon-phone-fill:before { content: "\ea64"; }
.icon-phone-missed:before { content: "\ea65"; }
.icon-phone-off:before { content: "\ea66"; }
.icon-phone:before { content: "\ea67"; }
.icon-pin:before { content: "\ea68"; }
.icon-play-circle-fill:before { content: "\ea69"; }
.icon-play-fill:before { content: "\ea6a"; }
.icon-plus:before { content: "\ea6b"; }
.icon-QR:before { content: "\ea6c"; }
.icon-question-mark-bubble:before { content: "\ea6d"; }
.icon-question-mark-circle:before { content: "\ea6e"; }
.icon-radio-button-on-fill:before { content: "\ea6f"; }
.icon-realtime-translation:before { content: "\ea70"; }
.icon-refresh:before { content: "\ea71"; }
.icon-reply:before { content: "\ea72"; }
.icon-rewind-left-fill:before { content: "\ea73"; }
.icon-rewind-right-fill:before { content: "\ea74"; }
.icon-search:before { content: "\ea75"; }
.icon-select:before { content: "\ea76"; }
.icon-settings-2-fill:before { content: "\ea77"; }
.icon-settings:before { content: "\ea78"; }
.icon-share-fill:before { content: "\ea79"; }
.icon-share-more:before { content: "\ea7a"; }
.icon-share:before { content: "\ea7b"; }
.icon-skip-back-fill:before { content: "\ea7c"; }
.icon-skip-forward-fill:before { content: "\ea7d"; }
.icon-sort-by-alphabet:before { content: "\ea7e"; }
.icon-sort-by-me:before { content: "\ea7f"; }
.icon-sort-by-message:before { content: "\ea80"; }
.icon-sort-by-recent:before { content: "\ea81"; }
.icon-star:before { content: "\ea82"; }
.icon-status:before { content: "\ea83"; }
.icon-stop-fill:before { content: "\ea84"; }
.icon-sync:before { content: "\ea85"; }
.icon-talking:before { content: "\ea86"; }
.icon-text:before { content: "\ea87"; }
.icon-transcription:before { content: "\ea88"; }
.icon-trash-fill:before { content: "\ea89"; }
.icon-trash02:before { content: "\ea8a"; }
.icon-trash03:before { content: "\ea8b"; }
.icon-unpin:before { content: "\ea8c"; }
.icon-unread:before { content: "\ea8d"; }
.icon-vector-left:before { content: "\ea8e"; }
.icon-vector-right:before { content: "\ea8f"; }
.icon-volume-off-fill:before { content: "\ea90"; }
.icon-volume-off:before { content: "\ea91"; }
.icon-volume-up-fill:before { content: "\ea92"; }
.icon-volume-up:before { content: "\ea93"; }

}