@font-face {
  font-family: "icon";
  src: url('icon.eot?t=1782996313811'); /* IE9*/
  src: url('icon.eot?t=1782996313811#iefix') format('embedded-opentype') /* IE6-IE8 */,
  url('icon.woff2?t=1782996313811') format('woff2'),
  url('icon.woff?t=1782996313811') format('woff'),
  url('icon.ttf?t=1782996313811') format('truetype'),
  url('icon.svg?t=1782996313811') format('svg');
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icon' !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


:global {
.icon-QR::before { content: "\ea01"; }
.icon-activity::before { content: "\ea02"; }
.icon-add-reaction::before { content: "\ea03"; }
.icon-admin02::before { content: "\ea04"; }
.icon-adminx-1::before { content: "\ea05"; }
.icon-ai-bot-avatar::before { content: "\ea06"; }
.icon-ai-brain::before { content: "\ea07"; }
.icon-ai-search::before { content: "\ea08"; }
.icon-ai-stars::before { content: "\ea09"; }
.icon-ai::before { content: "\ea0a"; }
.icon-alert-circle::before { content: "\ea0b"; }
.icon-alert-triangle::before { content: "\ea0c"; }
.icon-anonym::before { content: "\ea0d"; }
.icon-archive::before { content: "\ea0e"; }
.icon-arrow-down-1::before { content: "\ea0f"; }
.icon-arrow-down::before { content: "\ea10"; }
.icon-arrow-left-fill::before { content: "\ea11"; }
.icon-arrow-left::before { content: "\ea12"; }
.icon-arrow-right-1::before { content: "\ea13"; }
.icon-arrow-right-2::before { content: "\ea14"; }
.icon-arrow-right::before { content: "\ea15"; }
.icon-at::before { content: "\ea16"; }
.icon-attach-2::before { content: "\ea17"; }
.icon-bell-check::before { content: "\ea18"; }
.icon-bell-fill::before { content: "\ea19"; }
.icon-bell-off-fill::before { content: "\ea1a"; }
.icon-bell::before { content: "\ea1b"; }
.icon-blur-person::before { content: "\ea1c"; }
.icon-bookmark-fill::before { content: "\ea1d"; }
.icon-bookmark::before { content: "\ea1e"; }
.icon-calendar::before { content: "\ea1f"; }
.icon-call::before { content: "\ea20"; }
.icon-camera-switch::before { content: "\ea21"; }
.icon-cast::before { content: "\ea22"; }
.icon-chat-add-two::before { content: "\ea23"; }
.icon-checkmark-circle-2::before { content: "\ea24"; }
.icon-checkmark-circle::before { content: "\ea25"; }
.icon-checkmark-simple::before { content: "\ea26"; }
.icon-checkmark::before { content: "\ea27"; }
.icon-chevron-compact-down::before { content: "\ea28"; }
.icon-chevron-compact-up::before { content: "\ea29"; }
.icon-chevron-left::before { content: "\ea2a"; }
.icon-chevron-right-fill::before { content: "\ea2b"; }
.icon-chevron-right::before { content: "\ea2c"; }
.icon-chevron-up::before { content: "\ea2d"; }
.icon-clock-2::before { content: "\ea2e"; }
.icon-clock::before { content: "\ea2f"; }
.icon-close-fill::before { content: "\ea30"; }
.icon-close::before { content: "\ea31"; }
.icon-cloud-disconnected::before { content: "\ea32"; }
.icon-cloud-upload::before { content: "\ea33"; }
.icon-cloud::before { content: "\ea34"; }
.icon-collapse::before { content: "\ea35"; }
.icon-compas::before { content: "\ea36"; }
.icon-conversation::before { content: "\ea37"; }
.icon-cookie::before { content: "\ea38"; }
.icon-copy::before { content: "\ea39"; }
.icon-corner-up-right::before { content: "\ea3a"; }
.icon-diagonal-arrow-left-down::before { content: "\ea3b"; }
.icon-download::before { content: "\ea3c"; }
.icon-edit-2::before { content: "\ea3d"; }
.icon-edit-fill::before { content: "\ea3e"; }
.icon-edit::before { content: "\ea3f"; }
.icon-email::before { content: "\ea40"; }
.icon-emoji-2::before { content: "\ea41"; }
.icon-emotion::before { content: "\ea42"; }
.icon-expand::before { content: "\ea43"; }
.icon-external-link::before { content: "\ea44"; }
.icon-eye-off::before { content: "\ea45"; }
.icon-eye::before { content: "\ea46"; }
.icon-file-blocked::before { content: "\ea47"; }
.icon-file-broken::before { content: "\ea48"; }
.icon-file-text::before { content: "\ea49"; }
.icon-file::before { content: "\ea4a"; }
.icon-folder::before { content: "\ea4b"; }
.icon-gallery-arrow-left::before { content: "\ea4c"; }
.icon-gallery-arrow-right::before { content: "\ea4d"; }
.icon-gif::before { content: "\ea4e"; }
.icon-globe::before { content: "\ea4f"; }
.icon-grid::before { content: "\ea50"; }
.icon-guest::before { content: "\ea51"; }
.icon-hand::before { content: "\ea52"; }
.icon-hash-fill::before { content: "\ea53"; }
.icon-headphones-fill::before { content: "\ea54"; }
.icon-heart-fill::before { content: "\ea55"; }
.icon-history::before { content: "\ea56"; }
.icon-image-2::before { content: "\ea57"; }
.icon-image::before { content: "\ea58"; }
.icon-infinity::before { content: "\ea59"; }
.icon-info::before { content: "\ea5a"; }
.icon-interface::before { content: "\ea5b"; }
.icon-key::before { content: "\ea5c"; }
.icon-language-1::before { content: "\ea5d"; }
.icon-language-auto::before { content: "\ea5e"; }
.icon-language::before { content: "\ea5f"; }
.icon-layout::before { content: "\ea60"; }
.icon-link-2::before { content: "\ea61"; }
.icon-list::before { content: "\ea62"; }
.icon-listen::before { content: "\ea63"; }
.icon-loading::before { content: "\ea64"; }
.icon-lock::before { content: "\ea65"; }
.icon-log-in::before { content: "\ea66"; }
.icon-log-out::before { content: "\ea67"; }
.icon-loudspeaker::before { content: "\ea68"; }
.icon-map-point::before { content: "\ea69"; }
.icon-media-backward-10::before { content: "\ea6a"; }
.icon-media-forward-10::before { content: "\ea6b"; }
.icon-mention::before { content: "\ea6c"; }
.icon-menu::before { content: "\ea6d"; }
.icon-message-add-2::before { content: "\ea6e"; }
.icon-message-add::before { content: "\ea6f"; }
.icon-message-ellipse::before { content: "\ea70"; }
.icon-message-square-fill::before { content: "\ea71"; }
.icon-message-square::before { content: "\ea72"; }
.icon-message-stars::before { content: "\ea73"; }
.icon-mic-2::before { content: "\ea74"; }
.icon-mic-bubble::before { content: "\ea75"; }
.icon-mic-fill::before { content: "\ea76"; }
.icon-mic-off-fill::before { content: "\ea77"; }
.icon-mic-off::before { content: "\ea78"; }
.icon-mic::before { content: "\ea79"; }
.icon-minus-circle::before { content: "\ea7a"; }
.icon-mirror-video::before { content: "\ea7b"; }
.icon-monitor::before { content: "\ea7c"; }
.icon-moon-fill::before { content: "\ea7d"; }
.icon-more-vertical-2::before { content: "\ea7e"; }
.icon-more-vertical::before { content: "\ea7f"; }
.icon-night-mode-1::before { content: "\ea80"; }
.icon-night-mode::before { content: "\ea81"; }
.icon-not-listen::before { content: "\ea82"; }
.icon-note::before { content: "\ea83"; }
.icon-notify-phone-2::before { content: "\ea84"; }
.icon-notify-phone::before { content: "\ea85"; }
.icon-options-2::before { content: "\ea86"; }
.icon-paper-plane::before { content: "\ea87"; }
.icon-pause-circle-fill::before { content: "\ea88"; }
.icon-pause-fill::before { content: "\ea89"; }
.icon-people-2::before { content: "\ea8a"; }
.icon-people-fill::before { content: "\ea8b"; }
.icon-people::before { content: "\ea8c"; }
.icon-person-add-2::before { content: "\ea8d"; }
.icon-person-add-fill::before { content: "\ea8e"; }
.icon-person-add::before { content: "\ea8f"; }
.icon-person::before { content: "\ea90"; }
.icon-phone-call::before { content: "\ea91"; }
.icon-phone-fill::before { content: "\ea92"; }
.icon-phone-missed::before { content: "\ea93"; }
.icon-phone-off::before { content: "\ea94"; }
.icon-phone-take::before { content: "\ea95"; }
.icon-phone::before { content: "\ea96"; }
.icon-pin-to-navbar::before { content: "\ea97"; }
.icon-pin::before { content: "\ea98"; }
.icon-place-small::before { content: "\ea99"; }
.icon-place::before { content: "\ea9a"; }
.icon-play-circle-fill::before { content: "\ea9b"; }
.icon-play-fill::before { content: "\ea9c"; }
.icon-plus-circle::before { content: "\ea9d"; }
.icon-plus::before { content: "\ea9e"; }
.icon-question-mark-bubble::before { content: "\ea9f"; }
.icon-question-mark-circle::before { content: "\eaa0"; }
.icon-radio-button-on-fill::before { content: "\eaa1"; }
.icon-realtime-translation::before { content: "\eaa2"; }
.icon-recorder-left-half::before { content: "\eaa3"; }
.icon-recorder-right-half::before { content: "\eaa4"; }
.icon-refresh::before { content: "\eaa5"; }
.icon-reply::before { content: "\eaa6"; }
.icon-resummarize::before { content: "\eaa7"; }
.icon-rewind-left-fill::before { content: "\eaa8"; }
.icon-rewind-right-fill::before { content: "\eaa9"; }
.icon-screen-share::before { content: "\eaaa"; }
.icon-search::before { content: "\eaab"; }
.icon-select::before { content: "\eaac"; }
.icon-settings-1::before { content: "\eaad"; }
.icon-settings-2-fill::before { content: "\eaae"; }
.icon-settings::before { content: "\eaaf"; }
.icon-share-fill::before { content: "\eab0"; }
.icon-share-more::before { content: "\eab1"; }
.icon-share::before { content: "\eab2"; }
.icon-silence::before { content: "\eab3"; }
.icon-skip-back-fill::before { content: "\eab4"; }
.icon-skip-forward-fill::before { content: "\eab5"; }
.icon-slash-circle::before { content: "\eab6"; }
.icon-sort-by-alphabet::before { content: "\eab7"; }
.icon-sort-by-me::before { content: "\eab8"; }
.icon-sort-by-message::before { content: "\eab9"; }
.icon-sort-by-recent::before { content: "\eaba"; }
.icon-star-2::before { content: "\eabb"; }
.icon-star::before { content: "\eabc"; }
.icon-status::before { content: "\eabd"; }
.icon-stop-fill::before { content: "\eabe"; }
.icon-sync::before { content: "\eabf"; }
.icon-talking::before { content: "\eac0"; }
.icon-text-message-2::before { content: "\eac1"; }
.icon-text-message::before { content: "\eac2"; }
.icon-text::before { content: "\eac3"; }
.icon-thread::before { content: "\eac4"; }
.icon-tldr::before { content: "\eac5"; }
.icon-transcription::before { content: "\eac6"; }
.icon-translate::before { content: "\eac7"; }
.icon-translation::before { content: "\eac8"; }
.icon-trash-fill::before { content: "\eac9"; }
.icon-trash02::before { content: "\eaca"; }
.icon-trash03::before { content: "\eacb"; }
.icon-unpin-from-navbar::before { content: "\eacc"; }
.icon-unpin::before { content: "\eacd"; }
.icon-unread::before { content: "\eace"; }
.icon-upload-cloud::before { content: "\eacf"; }
.icon-vector-left::before { content: "\ead0"; }
.icon-vector-right::before { content: "\ead1"; }
.icon-video-and-voice-live::before { content: "\ead2"; }
.icon-video-collapse::before { content: "\ead3"; }
.icon-video-expand::before { content: "\ead4"; }
.icon-video-play-live::before { content: "\ead5"; }
.icon-video-play::before { content: "\ead6"; }
.icon-video::before { content: "\ead7"; }
.icon-voice-01::before { content: "\ead8"; }
.icon-voice-and-text::before { content: "\ead9"; }
.icon-voice-message::before { content: "\eada"; }
.icon-voice-to-text-message::before { content: "\eadb"; }
.icon-volume-off-fill::before { content: "\eadc"; }
.icon-volume-off::before { content: "\eadd"; }
.icon-volume-settings::before { content: "\eade"; }
.icon-volume-up-fill::before { content: "\eadf"; }
.icon-volume-up::before { content: "\eae0"; }
.icon-wrap::before { content: "\eae1"; }

}
