@font-face {
  font-family: "icon";
  src: url('icon.eot?t=1782830409956'); /* IE9*/
  src: url('icon.eot?t=1782830409956#iefix') format('embedded-opentype') /* IE6-IE8 */,
  url('icon.woff2?t=1782830409956') format('woff2'),
  url('icon.woff?t=1782830409956') format('woff'),
  url('icon.ttf?t=1782830409956') format('truetype'),
  url('icon.svg?t=1782830409956') format('svg');
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icon' !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-activity::before { content: "\ea01"; }
.icon-add-reaction::before { content: "\ea02"; }
.icon-admin02::before { content: "\ea03"; }
.icon-adminx-1::before { content: "\ea04"; }
.icon-ai-bot-avatar::before { content: "\ea05"; }
.icon-ai-brain::before { content: "\ea06"; }
.icon-ai-search::before { content: "\ea07"; }
.icon-ai-stars::before { content: "\ea08"; }
.icon-ai::before { content: "\ea09"; }
.icon-alert-circle::before { content: "\ea0a"; }
.icon-alert-triangle::before { content: "\ea0b"; }
.icon-anonym::before { content: "\ea0c"; }
.icon-archive::before { content: "\ea0d"; }
.icon-arrow-down-1::before { content: "\ea0e"; }
.icon-arrow-down::before { content: "\ea0f"; }
.icon-arrow-left-fill::before { content: "\ea10"; }
.icon-arrow-left::before { content: "\ea11"; }
.icon-arrow-right-1::before { content: "\ea12"; }
.icon-arrow-right-2::before { content: "\ea13"; }
.icon-arrow-right::before { content: "\ea14"; }
.icon-at::before { content: "\ea15"; }
.icon-attach-2::before { content: "\ea16"; }
.icon-bell-fill::before { content: "\ea17"; }
.icon-bell-off-fill::before { content: "\ea18"; }
.icon-bell::before { content: "\ea19"; }
.icon-blur-person::before { content: "\ea1a"; }
.icon-bookmark-fill::before { content: "\ea1b"; }
.icon-bookmark::before { content: "\ea1c"; }
.icon-calendar::before { content: "\ea1d"; }
.icon-call::before { content: "\ea1e"; }
.icon-camera-switch::before { content: "\ea1f"; }
.icon-cast::before { content: "\ea20"; }
.icon-chat-add-two::before { content: "\ea21"; }
.icon-checkmark-circle-2::before { content: "\ea22"; }
.icon-checkmark-circle::before { content: "\ea23"; }
.icon-checkmark-simple::before { content: "\ea24"; }
.icon-checkmark::before { content: "\ea25"; }
.icon-chevron-compact-down::before { content: "\ea26"; }
.icon-chevron-compact-up::before { content: "\ea27"; }
.icon-chevron-left::before { content: "\ea28"; }
.icon-chevron-right-fill::before { content: "\ea29"; }
.icon-chevron-right::before { content: "\ea2a"; }
.icon-chevron-up::before { content: "\ea2b"; }
.icon-clock-2::before { content: "\ea2c"; }
.icon-clock::before { content: "\ea2d"; }
.icon-close-fill::before { content: "\ea2e"; }
.icon-close::before { content: "\ea2f"; }
.icon-cloud-disconnected::before { content: "\ea30"; }
.icon-cloud-upload::before { content: "\ea31"; }
.icon-cloud::before { content: "\ea32"; }
.icon-collapse::before { content: "\ea33"; }
.icon-compas::before { content: "\ea34"; }
.icon-conversation::before { content: "\ea35"; }
.icon-cookie::before { content: "\ea36"; }
.icon-copy::before { content: "\ea37"; }
.icon-corner-up-right::before { content: "\ea38"; }
.icon-diagonal-arrow-left-down::before { content: "\ea39"; }
.icon-download::before { content: "\ea3a"; }
.icon-edit-2::before { content: "\ea3b"; }
.icon-edit-fill::before { content: "\ea3c"; }
.icon-edit::before { content: "\ea3d"; }
.icon-email::before { content: "\ea3e"; }
.icon-emoji-2::before { content: "\ea3f"; }
.icon-emotion::before { content: "\ea40"; }
.icon-expand::before { content: "\ea41"; }
.icon-external-link::before { content: "\ea42"; }
.icon-eye-off::before { content: "\ea43"; }
.icon-eye::before { content: "\ea44"; }
.icon-file-blocked::before { content: "\ea45"; }
.icon-file-broken::before { content: "\ea46"; }
.icon-file-text::before { content: "\ea47"; }
.icon-file::before { content: "\ea48"; }
.icon-folder::before { content: "\ea49"; }
.icon-gallery-arrow-left::before { content: "\ea4a"; }
.icon-gallery-arrow-right::before { content: "\ea4b"; }
.icon-gif::before { content: "\ea4c"; }
.icon-globe::before { content: "\ea4d"; }
.icon-grid::before { content: "\ea4e"; }
.icon-guest::before { content: "\ea4f"; }
.icon-hand::before { content: "\ea50"; }
.icon-hash-fill::before { content: "\ea51"; }
.icon-headphones-fill::before { content: "\ea52"; }
.icon-heart-fill::before { content: "\ea53"; }
.icon-history::before { content: "\ea54"; }
.icon-image-2::before { content: "\ea55"; }
.icon-image::before { content: "\ea56"; }
.icon-infinity::before { content: "\ea57"; }
.icon-info::before { content: "\ea58"; }
.icon-interface::before { content: "\ea59"; }
.icon-key::before { content: "\ea5a"; }
.icon-language-1::before { content: "\ea5b"; }
.icon-language-auto::before { content: "\ea5c"; }
.icon-language::before { content: "\ea5d"; }
.icon-layout::before { content: "\ea5e"; }
.icon-link-2::before { content: "\ea5f"; }
.icon-list::before { content: "\ea60"; }
.icon-listen::before { content: "\ea61"; }
.icon-loading::before { content: "\ea62"; }
.icon-lock::before { content: "\ea63"; }
.icon-log-in::before { content: "\ea64"; }
.icon-log-out::before { content: "\ea65"; }
.icon-loudspeaker::before { content: "\ea66"; }
.icon-map-point::before { content: "\ea67"; }
.icon-media-backward-10::before { content: "\ea68"; }
.icon-media-forward-10::before { content: "\ea69"; }
.icon-mention::before { content: "\ea6a"; }
.icon-menu::before { content: "\ea6b"; }
.icon-message-add-2::before { content: "\ea6c"; }
.icon-message-add::before { content: "\ea6d"; }
.icon-message-ellipse::before { content: "\ea6e"; }
.icon-message-square-fill::before { content: "\ea6f"; }
.icon-message-square::before { content: "\ea70"; }
.icon-message-stars::before { content: "\ea71"; }
.icon-mic-2::before { content: "\ea72"; }
.icon-mic-bubble::before { content: "\ea73"; }
.icon-mic-fill::before { content: "\ea74"; }
.icon-mic-off-fill::before { content: "\ea75"; }
.icon-mic-off::before { content: "\ea76"; }
.icon-mic::before { content: "\ea77"; }
.icon-minus-circle::before { content: "\ea78"; }
.icon-mirror-video::before { content: "\ea79"; }
.icon-monitor::before { content: "\ea7a"; }
.icon-moon-fill::before { content: "\ea7b"; }
.icon-more-vertical-2::before { content: "\ea7c"; }
.icon-more-vertical::before { content: "\ea7d"; }
.icon-night-mode-1::before { content: "\ea7e"; }
.icon-night-mode::before { content: "\ea7f"; }
.icon-not-listen::before { content: "\ea80"; }
.icon-note::before { content: "\ea81"; }
.icon-notify-phone-2::before { content: "\ea82"; }
.icon-notify-phone::before { content: "\ea83"; }
.icon-options-2::before { content: "\ea84"; }
.icon-paper-plane::before { content: "\ea85"; }
.icon-pause-circle-fill::before { content: "\ea86"; }
.icon-pause-fill::before { content: "\ea87"; }
.icon-people-2::before { content: "\ea88"; }
.icon-people-fill::before { content: "\ea89"; }
.icon-people::before { content: "\ea8a"; }
.icon-person-add-2::before { content: "\ea8b"; }
.icon-person-add-fill::before { content: "\ea8c"; }
.icon-person-add::before { content: "\ea8d"; }
.icon-person::before { content: "\ea8e"; }
.icon-phone-call::before { content: "\ea8f"; }
.icon-phone-fill::before { content: "\ea90"; }
.icon-phone-missed::before { content: "\ea91"; }
.icon-phone-off::before { content: "\ea92"; }
.icon-phone-take::before { content: "\ea93"; }
.icon-phone::before { content: "\ea94"; }
.icon-pin-to-navbar::before { content: "\ea95"; }
.icon-pin::before { content: "\ea96"; }
.icon-place-small::before { content: "\ea97"; }
.icon-place::before { content: "\ea98"; }
.icon-play-circle-fill::before { content: "\ea99"; }
.icon-play-fill::before { content: "\ea9a"; }
.icon-plus-circle::before { content: "\ea9b"; }
.icon-plus::before { content: "\ea9c"; }
.icon-QR::before { content: "\ea9d"; }
.icon-question-mark-bubble::before { content: "\ea9e"; }
.icon-question-mark-circle::before { content: "\ea9f"; }
.icon-radio-button-on-fill::before { content: "\eaa0"; }
.icon-realtime-translation::before { content: "\eaa1"; }
.icon-recorder-left-half::before { content: "\eaa2"; }
.icon-recorder-right-half::before { content: "\eaa3"; }
.icon-refresh::before { content: "\eaa4"; }
.icon-reply::before { content: "\eaa5"; }
.icon-resummarize::before { content: "\eaa6"; }
.icon-rewind-left-fill::before { content: "\eaa7"; }
.icon-rewind-right-fill::before { content: "\eaa8"; }
.icon-screen-share::before { content: "\eaa9"; }
.icon-search::before { content: "\eaaa"; }
.icon-select::before { content: "\eaab"; }
.icon-settings-1::before { content: "\eaac"; }
.icon-settings-2-fill::before { content: "\eaad"; }
.icon-settings::before { content: "\eaae"; }
.icon-share-fill::before { content: "\eaaf"; }
.icon-share-more::before { content: "\eab0"; }
.icon-share::before { content: "\eab1"; }
.icon-silence::before { content: "\eab2"; }
.icon-skip-back-fill::before { content: "\eab3"; }
.icon-skip-forward-fill::before { content: "\eab4"; }
.icon-slash-circle::before { content: "\eab5"; }
.icon-sort-by-alphabet::before { content: "\eab6"; }
.icon-sort-by-me::before { content: "\eab7"; }
.icon-sort-by-message::before { content: "\eab8"; }
.icon-sort-by-recent::before { content: "\eab9"; }
.icon-star-2::before { content: "\eaba"; }
.icon-star::before { content: "\eabb"; }
.icon-status::before { content: "\eabc"; }
.icon-stop-fill::before { content: "\eabd"; }
.icon-sync::before { content: "\eabe"; }
.icon-talking::before { content: "\eabf"; }
.icon-text-message-2::before { content: "\eac0"; }
.icon-text-message::before { content: "\eac1"; }
.icon-text::before { content: "\eac2"; }
.icon-thread::before { content: "\eac3"; }
.icon-tldr::before { content: "\eac4"; }
.icon-transcription::before { content: "\eac5"; }
.icon-translate::before { content: "\eac6"; }
.icon-translation::before { content: "\eac7"; }
.icon-trash-fill::before { content: "\eac8"; }
.icon-trash02::before { content: "\eac9"; }
.icon-trash03::before { content: "\eaca"; }
.icon-unpin-from-navbar::before { content: "\eacb"; }
.icon-unpin::before { content: "\eacc"; }
.icon-unread::before { content: "\eacd"; }
.icon-upload-cloud::before { content: "\eace"; }
.icon-vector-left::before { content: "\eacf"; }
.icon-vector-right::before { content: "\ead0"; }
.icon-video-and-voice-live::before { content: "\ead1"; }
.icon-video-collapse::before { content: "\ead2"; }
.icon-video-expand::before { content: "\ead3"; }
.icon-video-play-live::before { content: "\ead4"; }
.icon-video-play::before { content: "\ead5"; }
.icon-video::before { content: "\ead6"; }
.icon-voice-01::before { content: "\ead7"; }
.icon-voice-and-text::before { content: "\ead8"; }
.icon-voice-message::before { content: "\ead9"; }
.icon-voice-to-text-message::before { content: "\eada"; }
.icon-volume-off-fill::before { content: "\eadb"; }
.icon-volume-off::before { content: "\eadc"; }
.icon-volume-settings::before { content: "\eadd"; }
.icon-volume-up-fill::before { content: "\eade"; }
.icon-volume-up::before { content: "\eadf"; }
.icon-wrap::before { content: "\eae0"; }


$icon-activity = '\ea01'
$icon-add-reaction = '\ea02'
$icon-admin02 = '\ea03'
$icon-adminx-1 = '\ea04'
$icon-ai-bot-avatar = '\ea05'
$icon-ai-brain = '\ea06'
$icon-ai-search = '\ea07'
$icon-ai-stars = '\ea08'
$icon-ai = '\ea09'
$icon-alert-circle = '\ea0a'
$icon-alert-triangle = '\ea0b'
$icon-anonym = '\ea0c'
$icon-archive = '\ea0d'
$icon-arrow-down-1 = '\ea0e'
$icon-arrow-down = '\ea0f'
$icon-arrow-left-fill = '\ea10'
$icon-arrow-left = '\ea11'
$icon-arrow-right-1 = '\ea12'
$icon-arrow-right-2 = '\ea13'
$icon-arrow-right = '\ea14'
$icon-at = '\ea15'
$icon-attach-2 = '\ea16'
$icon-bell-fill = '\ea17'
$icon-bell-off-fill = '\ea18'
$icon-bell = '\ea19'
$icon-blur-person = '\ea1a'
$icon-bookmark-fill = '\ea1b'
$icon-bookmark = '\ea1c'
$icon-calendar = '\ea1d'
$icon-call = '\ea1e'
$icon-camera-switch = '\ea1f'
$icon-cast = '\ea20'
$icon-chat-add-two = '\ea21'
$icon-checkmark-circle-2 = '\ea22'
$icon-checkmark-circle = '\ea23'
$icon-checkmark-simple = '\ea24'
$icon-checkmark = '\ea25'
$icon-chevron-compact-down = '\ea26'
$icon-chevron-compact-up = '\ea27'
$icon-chevron-left = '\ea28'
$icon-chevron-right-fill = '\ea29'
$icon-chevron-right = '\ea2a'
$icon-chevron-up = '\ea2b'
$icon-clock-2 = '\ea2c'
$icon-clock = '\ea2d'
$icon-close-fill = '\ea2e'
$icon-close = '\ea2f'
$icon-cloud-disconnected = '\ea30'
$icon-cloud-upload = '\ea31'
$icon-cloud = '\ea32'
$icon-collapse = '\ea33'
$icon-compas = '\ea34'
$icon-conversation = '\ea35'
$icon-cookie = '\ea36'
$icon-copy = '\ea37'
$icon-corner-up-right = '\ea38'
$icon-diagonal-arrow-left-down = '\ea39'
$icon-download = '\ea3a'
$icon-edit-2 = '\ea3b'
$icon-edit-fill = '\ea3c'
$icon-edit = '\ea3d'
$icon-email = '\ea3e'
$icon-emoji-2 = '\ea3f'
$icon-emotion = '\ea40'
$icon-expand = '\ea41'
$icon-external-link = '\ea42'
$icon-eye-off = '\ea43'
$icon-eye = '\ea44'
$icon-file-blocked = '\ea45'
$icon-file-broken = '\ea46'
$icon-file-text = '\ea47'
$icon-file = '\ea48'
$icon-folder = '\ea49'
$icon-gallery-arrow-left = '\ea4a'
$icon-gallery-arrow-right = '\ea4b'
$icon-gif = '\ea4c'
$icon-globe = '\ea4d'
$icon-grid = '\ea4e'
$icon-guest = '\ea4f'
$icon-hand = '\ea50'
$icon-hash-fill = '\ea51'
$icon-headphones-fill = '\ea52'
$icon-heart-fill = '\ea53'
$icon-history = '\ea54'
$icon-image-2 = '\ea55'
$icon-image = '\ea56'
$icon-infinity = '\ea57'
$icon-info = '\ea58'
$icon-interface = '\ea59'
$icon-key = '\ea5a'
$icon-language-1 = '\ea5b'
$icon-language-auto = '\ea5c'
$icon-language = '\ea5d'
$icon-layout = '\ea5e'
$icon-link-2 = '\ea5f'
$icon-list = '\ea60'
$icon-listen = '\ea61'
$icon-loading = '\ea62'
$icon-lock = '\ea63'
$icon-log-in = '\ea64'
$icon-log-out = '\ea65'
$icon-loudspeaker = '\ea66'
$icon-map-point = '\ea67'
$icon-media-backward-10 = '\ea68'
$icon-media-forward-10 = '\ea69'
$icon-mention = '\ea6a'
$icon-menu = '\ea6b'
$icon-message-add-2 = '\ea6c'
$icon-message-add = '\ea6d'
$icon-message-ellipse = '\ea6e'
$icon-message-square-fill = '\ea6f'
$icon-message-square = '\ea70'
$icon-message-stars = '\ea71'
$icon-mic-2 = '\ea72'
$icon-mic-bubble = '\ea73'
$icon-mic-fill = '\ea74'
$icon-mic-off-fill = '\ea75'
$icon-mic-off = '\ea76'
$icon-mic = '\ea77'
$icon-minus-circle = '\ea78'
$icon-mirror-video = '\ea79'
$icon-monitor = '\ea7a'
$icon-moon-fill = '\ea7b'
$icon-more-vertical-2 = '\ea7c'
$icon-more-vertical = '\ea7d'
$icon-night-mode-1 = '\ea7e'
$icon-night-mode = '\ea7f'
$icon-not-listen = '\ea80'
$icon-note = '\ea81'
$icon-notify-phone-2 = '\ea82'
$icon-notify-phone = '\ea83'
$icon-options-2 = '\ea84'
$icon-paper-plane = '\ea85'
$icon-pause-circle-fill = '\ea86'
$icon-pause-fill = '\ea87'
$icon-people-2 = '\ea88'
$icon-people-fill = '\ea89'
$icon-people = '\ea8a'
$icon-person-add-2 = '\ea8b'
$icon-person-add-fill = '\ea8c'
$icon-person-add = '\ea8d'
$icon-person = '\ea8e'
$icon-phone-call = '\ea8f'
$icon-phone-fill = '\ea90'
$icon-phone-missed = '\ea91'
$icon-phone-off = '\ea92'
$icon-phone-take = '\ea93'
$icon-phone = '\ea94'
$icon-pin-to-navbar = '\ea95'
$icon-pin = '\ea96'
$icon-place-small = '\ea97'
$icon-place = '\ea98'
$icon-play-circle-fill = '\ea99'
$icon-play-fill = '\ea9a'
$icon-plus-circle = '\ea9b'
$icon-plus = '\ea9c'
$icon-QR = '\ea9d'
$icon-question-mark-bubble = '\ea9e'
$icon-question-mark-circle = '\ea9f'
$icon-radio-button-on-fill = '\eaa0'
$icon-realtime-translation = '\eaa1'
$icon-recorder-left-half = '\eaa2'
$icon-recorder-right-half = '\eaa3'
$icon-refresh = '\eaa4'
$icon-reply = '\eaa5'
$icon-resummarize = '\eaa6'
$icon-rewind-left-fill = '\eaa7'
$icon-rewind-right-fill = '\eaa8'
$icon-screen-share = '\eaa9'
$icon-search = '\eaaa'
$icon-select = '\eaab'
$icon-settings-1 = '\eaac'
$icon-settings-2-fill = '\eaad'
$icon-settings = '\eaae'
$icon-share-fill = '\eaaf'
$icon-share-more = '\eab0'
$icon-share = '\eab1'
$icon-silence = '\eab2'
$icon-skip-back-fill = '\eab3'
$icon-skip-forward-fill = '\eab4'
$icon-slash-circle = '\eab5'
$icon-sort-by-alphabet = '\eab6'
$icon-sort-by-me = '\eab7'
$icon-sort-by-message = '\eab8'
$icon-sort-by-recent = '\eab9'
$icon-star-2 = '\eaba'
$icon-star = '\eabb'
$icon-status = '\eabc'
$icon-stop-fill = '\eabd'
$icon-sync = '\eabe'
$icon-talking = '\eabf'
$icon-text-message-2 = '\eac0'
$icon-text-message = '\eac1'
$icon-text = '\eac2'
$icon-thread = '\eac3'
$icon-tldr = '\eac4'
$icon-transcription = '\eac5'
$icon-translate = '\eac6'
$icon-translation = '\eac7'
$icon-trash-fill = '\eac8'
$icon-trash02 = '\eac9'
$icon-trash03 = '\eaca'
$icon-unpin-from-navbar = '\eacb'
$icon-unpin = '\eacc'
$icon-unread = '\eacd'
$icon-upload-cloud = '\eace'
$icon-vector-left = '\eacf'
$icon-vector-right = '\ead0'
$icon-video-and-voice-live = '\ead1'
$icon-video-collapse = '\ead2'
$icon-video-expand = '\ead3'
$icon-video-play-live = '\ead4'
$icon-video-play = '\ead5'
$icon-video = '\ead6'
$icon-voice-01 = '\ead7'
$icon-voice-and-text = '\ead8'
$icon-voice-message = '\ead9'
$icon-voice-to-text-message = '\eada'
$icon-volume-off-fill = '\eadb'
$icon-volume-off = '\eadc'
$icon-volume-settings = '\eadd'
$icon-volume-up-fill = '\eade'
$icon-volume-up = '\eadf'
$icon-wrap = '\eae0'
