@font-face {font-family: "icon";
  src: url('icon.eot?t=1741002382831'); /* IE9*/
  src: url('icon.eot?t=1741002382831#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("icon.woff2?t=1741002382831") format("woff2"),
  url("icon.woff?t=1741002382831") format("woff"),
  url('icon.ttf?t=1741002382831') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('icon.svg?t=1741002382831#icon') format('svg'); /* iOS 4.1- */
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icon' !important;
  font-size: 16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-activity:before { content: "\ea01"; }
.icon-add-reaction:before { content: "\ea02"; }
.icon-admin02:before { content: "\ea03"; }
.icon-adminx-1:before { content: "\ea04"; }
.icon-ai-bot-avatar:before { content: "\ea05"; }
.icon-ai-search:before { content: "\ea06"; }
.icon-ai:before { content: "\ea07"; }
.icon-alert-circle:before { content: "\ea08"; }
.icon-alert-triangle:before { content: "\ea09"; }
.icon-anonym:before { content: "\ea0a"; }
.icon-archive:before { content: "\ea0b"; }
.icon-arrow-down-1:before { content: "\ea0c"; }
.icon-arrow-down:before { content: "\ea0d"; }
.icon-arrow-left-fill:before { content: "\ea0e"; }
.icon-arrow-left:before { content: "\ea0f"; }
.icon-arrow-right-1:before { content: "\ea10"; }
.icon-arrow-right-2:before { content: "\ea11"; }
.icon-arrow-right:before { content: "\ea12"; }
.icon-at:before { content: "\ea13"; }
.icon-attach-2:before { content: "\ea14"; }
.icon-bell-fill:before { content: "\ea15"; }
.icon-bell-off-fill:before { content: "\ea16"; }
.icon-bell:before { content: "\ea17"; }
.icon-bookmark-fill:before { content: "\ea18"; }
.icon-bookmark:before { content: "\ea19"; }
.icon-calendar:before { content: "\ea1a"; }
.icon-chat-add-two:before { content: "\ea1b"; }
.icon-checkmark-circle-2:before { content: "\ea1c"; }
.icon-checkmark-circle:before { content: "\ea1d"; }
.icon-checkmark-simple:before { content: "\ea1e"; }
.icon-checkmark:before { content: "\ea1f"; }
.icon-chevron-compact-down:before { content: "\ea20"; }
.icon-chevron-compact-up:before { content: "\ea21"; }
.icon-chevron-left:before { content: "\ea22"; }
.icon-chevron-right-fill:before { content: "\ea23"; }
.icon-chevron-right:before { content: "\ea24"; }
.icon-chevron-up:before { content: "\ea25"; }
.icon-clock:before { content: "\ea26"; }
.icon-close-fill:before { content: "\ea27"; }
.icon-close:before { content: "\ea28"; }
.icon-cloud-disconnected:before { content: "\ea29"; }
.icon-cloud-upload:before { content: "\ea2a"; }
.icon-cloud:before { content: "\ea2b"; }
.icon-compas:before { content: "\ea2c"; }
.icon-conversation:before { content: "\ea2d"; }
.icon-cookie:before { content: "\ea2e"; }
.icon-copy:before { content: "\ea2f"; }
.icon-diagonal-arrow-left-down:before { content: "\ea30"; }
.icon-download:before { content: "\ea31"; }
.icon-edit-2:before { content: "\ea32"; }
.icon-edit-fill:before { content: "\ea33"; }
.icon-edit:before { content: "\ea34"; }
.icon-email:before { content: "\ea35"; }
.icon-emoji-2:before { content: "\ea36"; }
.icon-emotion:before { content: "\ea37"; }
.icon-external-link:before { content: "\ea38"; }
.icon-eye-off:before { content: "\ea39"; }
.icon-eye:before { content: "\ea3a"; }
.icon-file-text:before { content: "\ea3b"; }
.icon-file:before { content: "\ea3c"; }
.icon-folder:before { content: "\ea3d"; }
.icon-gallery-arrow-left:before { content: "\ea3e"; }
.icon-gallery-arrow-right:before { content: "\ea3f"; }
.icon-globe:before { content: "\ea40"; }
.icon-grid:before { content: "\ea41"; }
.icon-guest:before { content: "\ea42"; }
.icon-hand:before { content: "\ea43"; }
.icon-hash-fill:before { content: "\ea44"; }
.icon-headphones-fill:before { content: "\ea45"; }
.icon-heart-fill:before { content: "\ea46"; }
.icon-history:before { content: "\ea47"; }
.icon-image:before { content: "\ea48"; }
.icon-info:before { content: "\ea49"; }
.icon-key:before { content: "\ea4a"; }
.icon-language-1:before { content: "\ea4b"; }
.icon-language:before { content: "\ea4c"; }
.icon-layout:before { content: "\ea4d"; }
.icon-link-2:before { content: "\ea4e"; }
.icon-list:before { content: "\ea4f"; }
.icon-listen:before { content: "\ea50"; }
.icon-loading:before { content: "\ea51"; }
.icon-lock:before { content: "\ea52"; }
.icon-log-in:before { content: "\ea53"; }
.icon-log-out:before { content: "\ea54"; }
.icon-loudspeaker:before { content: "\ea55"; }
.icon-map-point:before { content: "\ea56"; }
.icon-mention:before { content: "\ea57"; }
.icon-menu:before { content: "\ea58"; }
.icon-message-add-2:before { content: "\ea59"; }
.icon-message-add:before { content: "\ea5a"; }
.icon-message-ellipse:before { content: "\ea5b"; }
.icon-message-square-fill:before { content: "\ea5c"; }
.icon-message-square:before { content: "\ea5d"; }
.icon-message-stars:before { content: "\ea5e"; }
.icon-mic-2:before { content: "\ea5f"; }
.icon-mic-bubble:before { content: "\ea60"; }
.icon-mic-fill:before { content: "\ea61"; }
.icon-mic-off-fill:before { content: "\ea62"; }
.icon-mic-off:before { content: "\ea63"; }
.icon-mic:before { content: "\ea64"; }
.icon-minus-circle:before { content: "\ea65"; }
.icon-monitor:before { content: "\ea66"; }
.icon-moon-fill:before { content: "\ea67"; }
.icon-more-vertical-2:before { content: "\ea68"; }
.icon-more-vertical:before { content: "\ea69"; }
.icon-night-mode-1:before { content: "\ea6a"; }
.icon-night-mode:before { content: "\ea6b"; }
.icon-not-listen:before { content: "\ea6c"; }
.icon-notify-phone:before { content: "\ea6d"; }
.icon-options-2:before { content: "\ea6e"; }
.icon-paper-plane:before { content: "\ea6f"; }
.icon-pause-circle-fill:before { content: "\ea70"; }
.icon-pause-fill:before { content: "\ea71"; }
.icon-people-2:before { content: "\ea72"; }
.icon-people-fill:before { content: "\ea73"; }
.icon-people:before { content: "\ea74"; }
.icon-person-add-2:before { content: "\ea75"; }
.icon-person-add-fill:before { content: "\ea76"; }
.icon-person-add:before { content: "\ea77"; }
.icon-person:before { content: "\ea78"; }
.icon-phone-call:before { content: "\ea79"; }
.icon-phone-fill:before { content: "\ea7a"; }
.icon-phone-missed:before { content: "\ea7b"; }
.icon-phone-off:before { content: "\ea7c"; }
.icon-phone:before { content: "\ea7d"; }
.icon-pin-to-navbar:before { content: "\ea7e"; }
.icon-pin:before { content: "\ea7f"; }
.icon-place-small:before { content: "\ea80"; }
.icon-place:before { content: "\ea81"; }
.icon-play-circle-fill:before { content: "\ea82"; }
.icon-play-fill:before { content: "\ea83"; }
.icon-plus-circle:before { content: "\ea84"; }
.icon-plus:before { content: "\ea85"; }
.icon-QR:before { content: "\ea86"; }
.icon-question-mark-bubble:before { content: "\ea87"; }
.icon-question-mark-circle:before { content: "\ea88"; }
.icon-radio-button-on-fill:before { content: "\ea89"; }
.icon-realtime-translation:before { content: "\ea8a"; }
.icon-recorder-left-half:before { content: "\ea8b"; }
.icon-recorder-right-half:before { content: "\ea8c"; }
.icon-refresh:before { content: "\ea8d"; }
.icon-reply:before { content: "\ea8e"; }
.icon-rewind-left-fill:before { content: "\ea8f"; }
.icon-rewind-right-fill:before { content: "\ea90"; }
.icon-search:before { content: "\ea91"; }
.icon-select:before { content: "\ea92"; }
.icon-settings-2-fill:before { content: "\ea93"; }
.icon-settings:before { content: "\ea94"; }
.icon-share-fill:before { content: "\ea95"; }
.icon-share-more:before { content: "\ea96"; }
.icon-share:before { content: "\ea97"; }
.icon-silence:before { content: "\ea98"; }
.icon-skip-back-fill:before { content: "\ea99"; }
.icon-skip-forward-fill:before { content: "\ea9a"; }
.icon-sort-by-alphabet:before { content: "\ea9b"; }
.icon-sort-by-me:before { content: "\ea9c"; }
.icon-sort-by-message:before { content: "\ea9d"; }
.icon-sort-by-recent:before { content: "\ea9e"; }
.icon-star:before { content: "\ea9f"; }
.icon-status:before { content: "\eaa0"; }
.icon-stop-fill:before { content: "\eaa1"; }
.icon-sync:before { content: "\eaa2"; }
.icon-talking:before { content: "\eaa3"; }
.icon-text:before { content: "\eaa4"; }
.icon-transcription:before { content: "\eaa5"; }
.icon-trash-fill:before { content: "\eaa6"; }
.icon-trash02:before { content: "\eaa7"; }
.icon-trash03:before { content: "\eaa8"; }
.icon-unpin-from-navbar:before { content: "\eaa9"; }
.icon-unpin:before { content: "\eaaa"; }
.icon-unread:before { content: "\eaab"; }
.icon-vector-left:before { content: "\eaac"; }
.icon-vector-right:before { content: "\eaad"; }
.icon-video:before { content: "\eaae"; }
.icon-voice-01:before { content: "\eaaf"; }
.icon-volume-off-fill:before { content: "\eab0"; }
.icon-volume-off:before { content: "\eab1"; }
.icon-volume-settings:before { content: "\eab2"; }
.icon-volume-up-fill:before { content: "\eab3"; }
.icon-volume-up:before { content: "\eab4"; }

$icon-activity: "\ea01";
$icon-add-reaction: "\ea02";
$icon-admin02: "\ea03";
$icon-adminx-1: "\ea04";
$icon-ai-bot-avatar: "\ea05";
$icon-ai-search: "\ea06";
$icon-ai: "\ea07";
$icon-alert-circle: "\ea08";
$icon-alert-triangle: "\ea09";
$icon-anonym: "\ea0a";
$icon-archive: "\ea0b";
$icon-arrow-down-1: "\ea0c";
$icon-arrow-down: "\ea0d";
$icon-arrow-left-fill: "\ea0e";
$icon-arrow-left: "\ea0f";
$icon-arrow-right-1: "\ea10";
$icon-arrow-right-2: "\ea11";
$icon-arrow-right: "\ea12";
$icon-at: "\ea13";
$icon-attach-2: "\ea14";
$icon-bell-fill: "\ea15";
$icon-bell-off-fill: "\ea16";
$icon-bell: "\ea17";
$icon-bookmark-fill: "\ea18";
$icon-bookmark: "\ea19";
$icon-calendar: "\ea1a";
$icon-chat-add-two: "\ea1b";
$icon-checkmark-circle-2: "\ea1c";
$icon-checkmark-circle: "\ea1d";
$icon-checkmark-simple: "\ea1e";
$icon-checkmark: "\ea1f";
$icon-chevron-compact-down: "\ea20";
$icon-chevron-compact-up: "\ea21";
$icon-chevron-left: "\ea22";
$icon-chevron-right-fill: "\ea23";
$icon-chevron-right: "\ea24";
$icon-chevron-up: "\ea25";
$icon-clock: "\ea26";
$icon-close-fill: "\ea27";
$icon-close: "\ea28";
$icon-cloud-disconnected: "\ea29";
$icon-cloud-upload: "\ea2a";
$icon-cloud: "\ea2b";
$icon-compas: "\ea2c";
$icon-conversation: "\ea2d";
$icon-cookie: "\ea2e";
$icon-copy: "\ea2f";
$icon-diagonal-arrow-left-down: "\ea30";
$icon-download: "\ea31";
$icon-edit-2: "\ea32";
$icon-edit-fill: "\ea33";
$icon-edit: "\ea34";
$icon-email: "\ea35";
$icon-emoji-2: "\ea36";
$icon-emotion: "\ea37";
$icon-external-link: "\ea38";
$icon-eye-off: "\ea39";
$icon-eye: "\ea3a";
$icon-file-text: "\ea3b";
$icon-file: "\ea3c";
$icon-folder: "\ea3d";
$icon-gallery-arrow-left: "\ea3e";
$icon-gallery-arrow-right: "\ea3f";
$icon-globe: "\ea40";
$icon-grid: "\ea41";
$icon-guest: "\ea42";
$icon-hand: "\ea43";
$icon-hash-fill: "\ea44";
$icon-headphones-fill: "\ea45";
$icon-heart-fill: "\ea46";
$icon-history: "\ea47";
$icon-image: "\ea48";
$icon-info: "\ea49";
$icon-key: "\ea4a";
$icon-language-1: "\ea4b";
$icon-language: "\ea4c";
$icon-layout: "\ea4d";
$icon-link-2: "\ea4e";
$icon-list: "\ea4f";
$icon-listen: "\ea50";
$icon-loading: "\ea51";
$icon-lock: "\ea52";
$icon-log-in: "\ea53";
$icon-log-out: "\ea54";
$icon-loudspeaker: "\ea55";
$icon-map-point: "\ea56";
$icon-mention: "\ea57";
$icon-menu: "\ea58";
$icon-message-add-2: "\ea59";
$icon-message-add: "\ea5a";
$icon-message-ellipse: "\ea5b";
$icon-message-square-fill: "\ea5c";
$icon-message-square: "\ea5d";
$icon-message-stars: "\ea5e";
$icon-mic-2: "\ea5f";
$icon-mic-bubble: "\ea60";
$icon-mic-fill: "\ea61";
$icon-mic-off-fill: "\ea62";
$icon-mic-off: "\ea63";
$icon-mic: "\ea64";
$icon-minus-circle: "\ea65";
$icon-monitor: "\ea66";
$icon-moon-fill: "\ea67";
$icon-more-vertical-2: "\ea68";
$icon-more-vertical: "\ea69";
$icon-night-mode-1: "\ea6a";
$icon-night-mode: "\ea6b";
$icon-not-listen: "\ea6c";
$icon-notify-phone: "\ea6d";
$icon-options-2: "\ea6e";
$icon-paper-plane: "\ea6f";
$icon-pause-circle-fill: "\ea70";
$icon-pause-fill: "\ea71";
$icon-people-2: "\ea72";
$icon-people-fill: "\ea73";
$icon-people: "\ea74";
$icon-person-add-2: "\ea75";
$icon-person-add-fill: "\ea76";
$icon-person-add: "\ea77";
$icon-person: "\ea78";
$icon-phone-call: "\ea79";
$icon-phone-fill: "\ea7a";
$icon-phone-missed: "\ea7b";
$icon-phone-off: "\ea7c";
$icon-phone: "\ea7d";
$icon-pin-to-navbar: "\ea7e";
$icon-pin: "\ea7f";
$icon-place-small: "\ea80";
$icon-place: "\ea81";
$icon-play-circle-fill: "\ea82";
$icon-play-fill: "\ea83";
$icon-plus-circle: "\ea84";
$icon-plus: "\ea85";
$icon-QR: "\ea86";
$icon-question-mark-bubble: "\ea87";
$icon-question-mark-circle: "\ea88";
$icon-radio-button-on-fill: "\ea89";
$icon-realtime-translation: "\ea8a";
$icon-recorder-left-half: "\ea8b";
$icon-recorder-right-half: "\ea8c";
$icon-refresh: "\ea8d";
$icon-reply: "\ea8e";
$icon-rewind-left-fill: "\ea8f";
$icon-rewind-right-fill: "\ea90";
$icon-search: "\ea91";
$icon-select: "\ea92";
$icon-settings-2-fill: "\ea93";
$icon-settings: "\ea94";
$icon-share-fill: "\ea95";
$icon-share-more: "\ea96";
$icon-share: "\ea97";
$icon-silence: "\ea98";
$icon-skip-back-fill: "\ea99";
$icon-skip-forward-fill: "\ea9a";
$icon-sort-by-alphabet: "\ea9b";
$icon-sort-by-me: "\ea9c";
$icon-sort-by-message: "\ea9d";
$icon-sort-by-recent: "\ea9e";
$icon-star: "\ea9f";
$icon-status: "\eaa0";
$icon-stop-fill: "\eaa1";
$icon-sync: "\eaa2";
$icon-talking: "\eaa3";
$icon-text: "\eaa4";
$icon-transcription: "\eaa5";
$icon-trash-fill: "\eaa6";
$icon-trash02: "\eaa7";
$icon-trash03: "\eaa8";
$icon-unpin-from-navbar: "\eaa9";
$icon-unpin: "\eaaa";
$icon-unread: "\eaab";
$icon-vector-left: "\eaac";
$icon-vector-right: "\eaad";
$icon-video: "\eaae";
$icon-voice-01: "\eaaf";
$icon-volume-off-fill: "\eab0";
$icon-volume-off: "\eab1";
$icon-volume-settings: "\eab2";
$icon-volume-up-fill: "\eab3";
$icon-volume-up: "\eab4";

