@namespace ActualChat.Chat.UI.Blazor.Components
@implements ISlateEditorBackend
@implements IAsyncDisposable
@using ActualChat.Chat.UI.Blazor.Module

<div @ref="EditorRef" id="@Id" class="@Class slate-editor-root break-words"></div>

@code {
    private bool _rendered;
    private string _placeholder = "";
    private MentionListManager? _lastMentionListManager;

    private ElementReference EditorRef { get; set; }
    private IJSObjectReference JSRef { get; set; } = null!;
    private DotNetObjectReference<ISlateEditorBackend> BlazorRef { get; set; } = null!;

    [Inject] private IJSRuntime JS { get; init; } = null!;

    [CascadingParameter] public MentionListManager? MentionListManager { get; set; }
    [Parameter] public string Id { get; set; } = "";
    [Parameter] public string Placeholder { get; set; } = "";
    [Parameter] public string Class { get; set; } = "";
    [Parameter] public bool Autofocus { get; set; }
    [Parameter] public EventCallback Rendered { get; set; }
    [Parameter] public EventCallback<string> Post { get; set; }
    [Parameter] public EventCallback Cancel { get; set; }
    [Parameter] public EventCallback OpenPrevious { get; set; }

    protected override void OnParametersSet() {
        if (_lastMentionListManager != null)
            _lastMentionListManager.MentionSelected -= OnMentionSelected;
        _lastMentionListManager = MentionListManager;
        if (_lastMentionListManager != null)
            _lastMentionListManager.MentionSelected += OnMentionSelected;

        if (_rendered && !OrdinalEquals(_placeholder, Placeholder))
            _ = SetPlaceholder(Placeholder);
    }

    public async ValueTask DisposeAsync() {
        if (_lastMentionListManager != null)
            _lastMentionListManager.MentionSelected -= OnMentionSelected;
        _rendered = false;
        await JSRef.DisposeSilentlyAsync("dispose");
        JSRef = null!;
        BlazorRef.DisposeSilently();
        BlazorRef = null!;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            BlazorRef = DotNetObjectReference.Create<ISlateEditorBackend>(this);
            JSRef = await JS.InvokeAsync<IJSObjectReference>(
                $"{ChatBlazorUIModule.ImportName}.SlateEditor.create",
                EditorRef, BlazorRef, Constants.DebugMode.SlateEditor, Autofocus
                );
            _rendered = true;
            _ = SetPlaceholder(Placeholder);
            await Rendered.InvokeAsync().ConfigureAwait(false);
        }
    }

    public async Task<string> GetText()
        => await JSRef.InvokeAsync<string>("getText").ConfigureAwait(false);

    public Task SetMarkup(ImmutableArray<EditedMarkupConverter.EditorNode> markup, CancellationToken cancellationToken)
        => JSRef.InvokeVoidAsync("setMarkup", cancellationToken, markup).AsTask();

    public async Task Clear()
        => await JSRef.InvokeAsync<string>("clearText").ConfigureAwait(false);

    public Task Focus(CancellationToken cancellationToken = default)
        => JSRef.InvokeVoidAsync("focus", cancellationToken).AsTask();

    public Task MoveCursorToEnd(CancellationToken cancellationToken = default)
        => JSRef.InvokeVoidAsync("moveCursorToEnd", cancellationToken).AsTask();

    private async Task SetPlaceholder(string placeholder) {
        _placeholder = placeholder;
        await JSRef.InvokeAsync<string>("setPlaceholder", placeholder).ConfigureAwait(false);
    }

    // Backend methods

    [JSInvokable]
    public Task OnPost(string? text = null)
        => Post.InvokeAsync(text);

    [JSInvokable]
    public Task OnCancel()
        => Cancel.InvokeAsync();

    [JSInvokable]
    public Task OnOpenPrevious()
        => OpenPrevious.InvokeAsync();

    [JSInvokable]
    public async Task OnMentionCommand(string cmd, string args) {
        var manager = MentionListManager;
        if (manager == null)
            return;
        switch (cmd) {
            case "insert": {
                await Insert(manager.ListRef?.Selection);
                break;
            }
            case "moveUp": {
                manager.ListRef?.MoveSelection(-1);
                break;
            }
            case "moveDown": {
                manager.ListRef?.MoveSelection(+1);
                break;
            }
            case "close": {
                manager.Hide();
                break;
            }
            case "show": {
                manager.Show(args);
                break;
            }
        }
    }

    // Private methods

    private void OnMentionSelected(MentionSearchResult mention)
        => _ = Insert(mention);

    private async Task Insert(MentionSearchResult? mention) {
        MentionListManager?.Hide();
        if (mention == null)
            return;
        await Focus();
        await InsertMention(mention);
    }

    private Task InsertMention(MentionSearchResult mention)
        => JSRef.InvokeVoidAsync("insertMention", mention.Id, mention.SearchMatch.Text).AsTask();
}
