@namespace ActualChat.Chat.UI.Blazor.Components
@page "/test/slate-editor"

<MainHeader>Slate Editor Test Page</MainHeader>

<PageWithHeaderAndFooter>
    <Body>
        <div class="mt-2">
            <Button Click="OnGetTextClick">Get text</Button>
        </div>

        <div class="my-2 bg-purple-200 min-h-[50px]">@_text</div>

        <div class="flex-y h-40">
            <MentionListManager Limit="5">
                <SlateEditor
                    @ref="_editorRef"
                    Id="message-input"
                    Class="bg-gray-200 min-h-[50px]"
                    Placeholder="Enter some text..."
                    Posted="OnPostClick"/>
            </MentionListManager>
        </div>
    </Body>
</PageWithHeaderAndFooter>

@code{
    private SlateEditor? _editorRef;
    private string _text = "";

    private async Task OnGetTextClick() {
        if (_editorRef == null)
            return;
        _text = await _editorRef.GetText();
    }

    private async Task OnPostClick(string text) {
        _text = text;
        await _editorRef!.Clear();
    }
}
