.search-box {
    @apply flex-1;
    @apply max-h-10;
}
.search-box label {
    @apply relative flex-x;
}
.search-box i {
    @apply absolute;
    @apply flex items-center justify-center;
    @apply w-10 h-10;
    @apply text-icons-01;
}
.search-box input {
    @apply h-10;
    @apply pl-10 pr-4;
    @apply rounded-full;
    @apply text-left bg-04;
}
.search-box input::placeholder {
    @apply text-left;
}

.search-box.icon-alight-right i {
    @apply right-0;
}

.search-box.icon-alight-right input {
    @apply pr-10 pl-4;
}
