@using ActualChat.UI.Blazor.Module
@using ActualChat.UI.Blazor.Services
@namespace ActualChat.UI.Blazor.Components

<div class="@Class search-box">
    <label>
        <i class="icon-search text-2xl"></i>
        <TextInput
            @ref="InputRef"
            Class="w-full dialog-unstyled"
            Placeholder="@Placeholder"
            MaxLength="@MaxLength"
            TextChanged="OnInput">
        </TextInput>
    </label>
</div>

@code {
    private TextInput InputRef { get; set; } = null!;

    [Parameter] public string Class { get; set; } = "";
    [Parameter] public EventCallback<string> TextChanged { get; set; }
    [Parameter] public int? MaxLength { get; set; }
    [Parameter] public string Placeholder { get; set; } = "Search...";

    public ValueTask Focus()
        => InputRef.Focus();

    public ValueTask Cancel()
        => InputRef.Clear();

    private Task OnInput(string text)
        => TextChanged.InvokeAsync(text);
}
