@namespace ActualChat.UI.Blazor.Components

<div class="ac-bubble-content">
    @if (Title != null) {
        <div class="ac-bubble-title">
            @Title
        </div>
    }
    <div class="ac-bubble-body">
        @Body
    </div>
    <div class="flex-x items-center">
        <div class="bubble-counter flex-1 text-xs">
            @Bubble.Current of @Bubble.Count
        </div>
        <div class="bubble-buttons flex justify-end">
            <Button Class="btn-bubble" Click="OnSkipClick">Skip</Button>
            <Button Class="btn-bubble btn-next" Click="OnNextClick">Next</Button>
        </div>
    </div>
</div>

@code {
    [Parameter, EditorRequired] public IBubble Bubble { get; set; } = null!;
    [Parameter] public RenderFragment? Title { get; set; }
    [Parameter, EditorRequired] public RenderFragment Body { get; set; } = null!;

    private void OnNextClick() {
        Bubble.Host.ShowNextBubble(Bubble);
    }

    private void OnSkipClick() {
        Bubble.Host.SkipBubble();
    }
}
