@namespace ActualChat.Chat.UI.Blazor.Components
@{
    var text = Status switch {
        MessageStatus.Sending => "sending",
        MessageStatus.Unread => "unread",
        _ => "",
    };

    RenderFragment RenderIcon() {
        @if (Status == MessageStatus.Sending) {
            return @<i class="icon-clock"></i>;
        }
        return @<span class="sending-circle"></span>;
    }
}

<span class="chat-message-sending-status">
    <span>
        @text
    </span>
    @if (Status is MessageStatus.Sending or MessageStatus.Unread) {
        @RenderIcon()
    }
</span>

@code {
    [Parameter]
    public MessageStatus Status { get; set; }

    public enum MessageStatus {
        Default,
        Sending,
        Unread,
    }
}
