@namespace ActualChat.Chat.UI.Blazor.Components
@{
    var text = _status switch {
        MessageStatus.Sending => "sending",
        MessageStatus.Unread => "unread",
        _ => "",
    };

    RenderFragment RenderIcon() {
        @if (_status == MessageStatus.Sending) {
            return @<i class="icon-clock"></i>;
        }
        return @<span class="sending-circle"></span>;
    }
}

<div class="chat-message-sending-status">
    <span>
        @text
    </span>
    @if (_status is MessageStatus.Sending or MessageStatus.Unread) {
        @RenderIcon()
    }
</div>

@code {
    private MessageStatus _status = MessageStatus.Sending;

    enum MessageStatus {
        Default,
        Sending,
        Unread,
    }
}
