@namespace ActualChat.Chat.UI.Blazor.Components
@{
    var cls = IsDotOnly ? "only-dot" : "";

    var text = Status switch {
        MessageStatus.Sending => "sending",
        MessageStatus.Unread => "unread",
        _ => "",
    };

    RenderFragment RenderIcon() {
        @if (Status == MessageStatus.Sending) {
            return @<i class="icon-clock"></i>;
        }
        return @<span class="sending-circle"></span>;
    }
}

<span class="chat-message-sending-status @cls">
    @if (Status is MessageStatus.Sending or MessageStatus.Unread) {
        @RenderIcon()
    }
    @if (!IsDotOnly) {
        <span>
            @text
        </span>
    }
</span>

@code {
    [Parameter] public MessageStatus Status { get; set; }
    [Parameter] public bool IsDotOnly { get; set; }

    public enum MessageStatus {
        Default,
        Sending,
        Unread,
    }
}
