.chat-icon {
    @apply relative;
}

.chat-icon-picker {
    @apply absolute bg-01 rounded-full right-0 bottom-0;
}

.chat-icon-generated {
    @apply flex items-center justify-center rounded-full cursor-default pointer-events-none select-none;
}

.chat-icon-image {
    @apply rounded-full;
}

.chat-icon-show-cursor .chat-icon-image {
    @apply cursor-pointer;
}

.chat-icon-size-6 {
    @apply w-6 h-6;
}
.chat-icon-size-8 {
    @apply w-8 h-8;
}
.chat-icon-size-9 {
    @apply w-9 h-9;
}
.chat-icon-size-10 {
    @apply w-10 h-10;
}
.chat-icon-size-20 {
    @apply w-20 h-20 text-2xl;
}

.chat-icon-size-20 .chat-icon-picker {
    @apply w-9 h-9;
}

.chat-icon-input-file-label {
    @apply flex items-center justify-center w-full h-full cursor-pointer;
}
