@namespace ActualChat.Chat.UI.Blazor.Components
@using ActualChat.Hosting
@using BlazorContextMenu

<RenderIntoStack Name="@ContextMenuContainer.RenderStackName" Key="@MenuId">
    <ContextMenu Id="@MenuId" CssClass="context-menu dropdown-menu">
        <ChildContent>
            <Item OnClick="UploadFilesRequested" CssClass="context-menu-item">
                <div class="context-menu-content">
                    <div class="context-menu-icon">
                        <i class="icon-attach-2 text-2xl"></i>
                    </div>
                    <div class="context-menu-text">
                        Upload file
                    </div>
                </div>
            </Item>
        </ChildContent>
    </ContextMenu>
</RenderIntoStack>

@code{
    [Inject] private HostInfo HostInfo { get; init; } = null!;
    [Parameter] public EventCallback UploadFilesRequested { get; set; }

    public const string MenuId = "menu-AttachMenu";

}
