@using ActualChat.UI.Blazor.Events
@implements IModalView<AuthorModal.Model>
@inherits ComputedStateComponent<AuthorModal.ComputedModel>
@{
    var m = State.Value;
    var title = "User profile";
    if (m.IsOwn)
        title = "Your profile";
    else if (m.Author.IsAnonymous)
        title = "Anonymous profile";
}

<DialogFrame Title="@title" Class="author-modal modal-sm" HasCloseButton="true">
    <Body>
    <FormBlock>
        <AuthorModalContent Author="@m.Author" IsOwn="@m.IsOwn"/>
    </FormBlock>
    </Body>
    <Buttons>
        @if (m.IsOwn) {
            <Button Class="btn-modal" Click="OnSettingsClick">Edit profile</Button>
            if (!m.Author.IsAnonymous) {
                <Button Class="btn-modal" Click="OnAuthorClicked">Change avatar</Button>
            } else if (m.EnableIncompleteUI) {
                <Button Class="btn-modal danger" Click="OnRevealClicked">Reveal</Button>
            }
        } else if (m.Author.IsAnonymous) {
            <Button Class="btn-modal" Click="OnCancel">OK</Button>
        } else {
            @if (m.CanStartPeerChat) {
                <Button Class="btn-modal" Click="OnStartPeerChat">
                    <i class="icon-message-ellipse text-xl"></i>
                    Chat with @m.Author.Avatar.Name
                </Button>
            } else {
                <Button Class="btn-modal" Click="OnCancel">Close</Button>
            }
        }
    </Buttons>
</DialogFrame>

@code {
    [Inject] private Session Session { get; init; } = null!;
    [Inject] private IAccounts Accounts { get; init; } = null!;
    [Inject] private IAuthors Authors { get; init; } = null!;
    [Inject] private AuthorUI AuthorUI { get; init; } = null!;
    [Inject] private FeedbackUI FeedbackUI { get; init; } = null!;
    [Inject] private Features Features { get; init; } = null!;
    [Inject] private ModalUI ModalUI { get; init; } = null!;
    [Inject] private History History { get; init; } = null!;
    [Inject] private UICommander UICommander { get; init; } = null!;
    [Inject] private UIEventHub UIEventHub { get; init; } = null!;

    private AuthorId AuthorId => ModalModel.AuthorId;  // Shortcut
    private ChatId ChatId => AuthorId.ChatId; // Shortcut

    [CascadingParameter] public Modal Modal { get; set; } = null!;
    [Parameter] public Model ModalModel { get; set; } = null!;

    protected override ComputedState<ComputedModel>.Options GetStateOptions()
        => new() {
            InitialValue = ComputedModel.Loading,
            Category = GetStateCategory(),
        };

    protected override async Task<ComputedModel> ComputeState(CancellationToken cancellationToken) {
        if (AuthorId.IsNone)
            return ComputedModel.None;

        var chatId = AuthorId.ChatId;
        var author = await Authors.Get(Session, chatId, AuthorId, cancellationToken);
        if (author == null)
            return ComputedModel.None;

        var ownAccount = await Accounts.GetOwn(Session, cancellationToken);
        var account = await Authors.GetAccount(Session, ChatId, AuthorId, cancellationToken);
        var canStartPeerChat = await AuthorUI.CanStartPeerChat(AuthorId, cancellationToken);
        var enableIncompleteUI = await Features.Get<Features_EnableIncompleteUI, bool>(cancellationToken);

        return new ComputedModel() {
            Author = author,
            Account = account,
            OwnAccount = ownAccount,
            CanStartPeerChat = canStartPeerChat,
            EnableIncompleteUI = enableIncompleteUI,
        };
    }

    public sealed record ComputedModel {
        public static ComputedModel None { get; } = new() { Author = Author.None, OwnAccount = AccountFull.None };
        public static ComputedModel Loading { get; } = new() { Author = Author.Loading, OwnAccount = AccountFull.Loading }; // Should differ by ref. from None

        public Author Author { get; init; } = null!;
        public Account? Account { get; init; }
        public Account OwnAccount { get; init; } = null!;
        public bool IsOwn => Account?.Id == OwnAccount.Id;
        public bool CanStartPeerChat { get; init; }
        public bool EnableIncompleteUI { get; init; }
    }

    public sealed record Model(AuthorId AuthorId);

    private void OnCancel()
        => Modal.Close();

    private Task OnRevealClicked()
        => FeedbackUI.AskFeatureRequestFeedback("reveal-author", "Reveal yourself");

    private async Task OnAuthorClicked() {
        Modal.Close();
        await History.WhenNavigationCompleted();
        await ModalUI.Show(new AvatarSelectModal.Model(AuthorId.ChatId, false, OnAvatarSelected));
    }

    private async Task OnStartPeerChat()
        => await AuthorUI.StartPeerChat(AuthorId);

    private async Task OnAvatarSelected(AvatarFull avatar) {
        var command = new Authors_SetAvatar(Session, AuthorId.ChatId, avatar.Id);
        await UICommander.Run(command);
    }

    private async Task OnSettingsClick() {
        Modal.Close();
        await History.WhenNavigationCompleted();
        _ = UIEventHub.Publish(new ShowSettingsEvent());
    }
}
