@inherits ComputedStateComponent<ChatLinks.Model>

@{
    var model = State.LatestNonErrorValue;
    var chats = model.Chats;
}

<NavbarGroup Title="Chats" Class="navbar-chats" Id="chats">
    <ChildContent>
        @foreach(var chat in chats) {
            var isActive = model.ActiveChatId == chat.Id;
            <NavbarLink Title="@chat.Title" Url="@($"/chat/{chat.Id}")" IsActive="@isActive">
                <PostFragment>
                    <div class="menu-chat-pin-toggle justify-self-end flex-1 flex justify-end">
                        <ChatPinToggle ChatId="@chat.Id" />
                    </div>
                </PostFragment>
            </NavbarLink>
        }
    </ChildContent>
</NavbarGroup>

@code {
    [Inject] private Session Session { get; init; } = null!;
    [Inject] private IChats Chats { get; init; } = null!;
    [Inject] private ChatPageState ChatPageState { get; init; } = null!;

    protected override ComputedState<Model>.Options GetStateOptions()
        => new() {
            InitialValue = new (),
            UpdateDelayer = UpdateDelayer.MinDelay, // GetActiveChatId() change should be instantly visible
        };

    protected override async Task<Model> ComputeState(CancellationToken cancellationToken) {
        var chats = await Chats.GetChats(Session, cancellationToken);
        var chatsToShow = chats.OrderBy(c => c.Title).ToList();
        var addDefault = chats.Length == 0 || chats.All(c => c.Id != Constants.Chat.DefaultChatId);
        if (addDefault) {
            var defaultChat = await Chats.Get(Session, Constants.Chat.DefaultChatId, cancellationToken);
            if (defaultChat != null) {
                chatsToShow.Add(defaultChat);
            }
        }

        return new () {
            Chats = chatsToShow.ToArray(),
            ActiveChatId = await ChatPageState.ActiveChatId.Use(cancellationToken).ConfigureAwait(false),
        };
    }

    public class Model
    {
        public Chat[] Chats { get; set; } = Array.Empty<Chat>();
        public Symbol ActiveChatId { get; set; } = Constants.Chat.DefaultChatId;
    }
}
