@inherits ComputedStateComponent<ChatUserSettings?>
@inject Session _session
@inject IChatUserSettings _chatUserSettings
@inject UICommandRunner _cmd

@{
    var language = State.LatestNonErrorValue.LanguageOrDefault();
}
<ButtonInline Class="chat-language-toggle rounded-xl text-md font-semibold text-secondary -mr-2.5 z-10"
        OnClick="OnClick">
    <ChildContent>
        <span class="w-9 h-9 m-3.5">
            @language.Shortcut
        </span>
    </ChildContent>
</ButtonInline>

@code {
    [CascadingParameter] public Chat Chat { get; set; } = null!;

    protected override ComputedState<ChatUserSettings?>.Options GetStateOptions()
        => new() { UpdateDelayer = UpdateDelayer.MinDelay };

    protected override async Task<ChatUserSettings?> ComputeState(CancellationToken cancellationToken)
        => await _chatUserSettings.Get(_session, Chat.Id, cancellationToken);

    private async Task OnClick()
    {
        var settings = State.Value ?? new() { Language = LanguageId.Default };
        settings = settings with { Language = settings.LanguageOrDefault().Next() };
        var command = new IChatUserSettings.SetCommand(_session, Chat.Id, settings);
        await _cmd.Run(command).ConfigureAwait(true);
    }
}
