@namespace ActualChat.UI.Blazor.Components
@inject Blazored.Modal.Services.IModalService ModalService
@using BlazorContextMenu

<ContextMenuTrigger MenuId="chatHeaderMenu">
    <div class="px-2">
        <span class="float-left">@Chat.Title</span>
    </div>
</ContextMenuTrigger>

<ContextMenu Id="chatHeaderMenu" CssClass="text-secondary font-normal">
    <Item OnClick="@OnEditChatAuthor">Edit your name, image and bio in this chat</Item>
</ContextMenu>

@code {
    [CascadingParameter]
    public Chat Chat { get; set; } = null!;

    private void OnEditChatAuthor()
    {
        var options = new ModalOptions { UseCustomLayout = true };
        var parameters = new ModalParameters();
        parameters.Add(nameof(EditChatAuthor.ChatId), (string)Chat.Id);
        ModalService.Show<EditChatAuthor>(string.Empty, parameters, options);
    }
}
