<div class="flex-x justify-items-stretch items-center bg-primary md:bg-secondary text-primary font-medium">
    <div class="flex-none self-start">
        <NavbarToggle/>
    </div>
    <div class="flex-auto flex-x items-center m-3 ml-4">
        <ChatTitle/>
    </div>
    <div class="flex-none flex-x items-center m-1 space-x-1">
        <ChatActivities/>
        <ChatNotificationToggle ChatId="@Chat.Id"/>
        <ChatPlaybackToggles/>
    </div>
</div>

@code {
    [CascadingParameter] public Chat Chat { get; set; } = null!;
}
