@using ActualChat.Chat.UI.Blazor.Pages
@inherits ComputedStateComponent<ChatFooter.Model>
@{
    var model = State.LatestNonErrorValue ?? new();
}

@if (model.HasFooter) {
    <div class="flex-y w-full p-3">
        @if (model.CanPost) {
            <ChatMessageEditor/>
        } else if (model.AutoJoin) {
            if (_autoJoinTask == null) {
                _autoJoinTask = OnJoin();
                Nav.NavigateTo(Nav.GetUriWithQueryParameter(ChatPage.AutoJoinQueryParameter, (string?)null));
            }
        } else if (model.CanJoin) {
            <div class="bg-secondary rounded-md mx-3 py-1.5 px-2 flex justify-center">
                <AuthorizeView>
                    <Authorized>
                        <div>
                            <span class="inline-flex">To post or talk,</span>
                            <Button OnClick="@OnJoin">Join this chat</Button>
                        </div>
                    </Authorized>
                    <NotAuthorized>
                        <div>
                            <div class="inline-flex"><SignInMenu ButtonClass="px-3 py-1" ContentPositionClass="left-0 bottom-10"/></div>
                            <span class="inline-flex mx-1">or</span>
                            <Button OnClick="@OnJoin" Class="btn-cancel">Join this chat anonymously</Button>
                        </div>
                    </NotAuthorized>
                </AuthorizeView>
            </div>
        }
    </div>
}

@code {
    private Task? _autoJoinTask = null;

    [Inject] private Session Session { get; init; } = null!;
    [Inject] private IAuth Auth { get; init; } = null!;
    [Inject] private IChats Chats { get; init; } = null!;
    [Inject] private UICommandRunner Cmd { get; init; } = null!;
    [Inject] private NavigationManager Nav { get; init; } = null!;

    [CascadingParameter] public Chat Chat { get; set; } = null!;
    [Parameter] public string? AutoJoin { get; set; }

    protected override async Task<Model> ComputeState(CancellationToken cancellationToken) {
        string chatId = Chat.Id;
        var permissions = await Chats.GetPermissions(Session, chatId, cancellationToken);
        var canSend = permissions.HasFlag(ChatPermissions.Write);
        var canJoin = false;
        var autoJoin = false;
        if (!canSend) {
            canJoin = await Chats.CheckCanJoin(Session, chatId, cancellationToken);
            if (canJoin)
                autoJoin = StringComparer.Ordinal.Equals("1", AutoJoin);
        }
        return new () { CanPost = canSend, CanJoin = canJoin, AutoJoin = autoJoin };
    }

    private async Task OnJoin() {
        string chatId = Chat.Id;
        var command = new IChats.JoinChatCommand(Session, chatId);
        await Cmd.Run(command, default);
    }

    public record Model {
        public bool CanPost { get; init; }
        public bool CanJoin { get; init; }
        public bool AutoJoin { get; init; }
        public bool HasFooter => CanPost || CanJoin;
    }
}
