@inherits ComputedStateComponent<ChatLinks.Model>

@{
    var model = State.LatestNonErrorValue;
    var chats = model.Chats;
}

<NavbarGroup Title="Chats">
    <Icons>
        <AuthorizeView>
            <Authorized>
                <button title="Add chat" @onclick="OnAddChatClicked">
                    <svg class="fill-current h-4 w-4 opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path d="M11 9h4v2h-4v4H9v-4H5V9h4V5h2v4zm-1 11a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16z" />
                    </svg>
                </button>
            </Authorized>
        </AuthorizeView>
    </Icons>
    <ChildContent>
        @foreach(var chat in chats) {
            <NavbarLink Title="@chat.Name" Url="@($"/chat/{@chat.Url}")" />
        }
        @if (model.AddDefault) {
            <NavbarLink Title="The Actual One" Url="@($"/chat/{Constants.Chat.DefaultChatId}")" />
        }
    </ChildContent>
</NavbarGroup>

@code {
    public class Model
    {
        public (string Name, string Url)[] Chats { get; set; } = new (string Name, string Url)[0];
        public bool AddDefault { get; set; } = true;
    }

    [Inject] private IModalService ModalService { get; set; } = null!;
    [Inject] private Session Session { get; set; } = null!;
    [Inject] private IChats Chats { get; set; } = null!;

    protected override ComputedState<Model>.Options GetStateOptions()
        => new() { InitialValue = new () };

    protected override async Task<Model> ComputeState(CancellationToken cancellationToken) {
        var chats = await Chats.GetChats(Session, cancellationToken);
        return new () {
            Chats = chats.OrderBy(c => c.Title).Select(c => (Name:c.Title, Url:(string)c.Id)).ToArray(),
            AddDefault = chats.Length == 0 || chats.All(c => c.Id != Constants.Chat.DefaultChatId)
        };
    }

    private void OnAddChatClicked()
    {
        ModalService.Show<CreateChat>("", new ModalOptions { HideHeader = true });
    }
}
