<div class="flex-y w-full md:w-80 border-l-2 p-3 animate-from-right">
    <TabPanel>
        <Tab Title="Users" Id="Users">
            <ChatAuthorList />
        </Tab>
        <Tab Title="Settings" Id="Settings">
            <ChatSettings />
        </Tab>
    </TabPanel>
</div>
