@using ActualChat.Chat.UI.Blazor.Pages
@inherits ComputedStateComponent<ChatFooter.Model>
@{
    var m = State.LatestNonErrorValue ?? new();
}

@if (m.HasFooter) {
    <div class="flex-y w-full">
        @if (m.CanPost) {
            <ChatMessageEditor/>
        } else if (m.CanJoin) {
            <div class="bg-01 rounded-md mx-3 py-1.5 px-2 flex justify-center">
                @if (m.IsAuthenticated) {
                    <div>
                        <span class="inline-flex">To post or talk,</span>
                        <Button Click="@OnJoin">Join this chat</Button>
                    </div>
                } else {
                    <div>
                        <div class="inline-flex"><SignInMenu ButtonClass="px-3 py-1"/></div>
                        <span class="inline-flex mx-1">or</span>
                        <Button Click="@OnJoin" Class="btn-cancel">Join this chat anonymously</Button>
                    </div>
                }
            </div>
        }
    </div>
}

@code {
    [Inject] private Session Session { get; init; } = null!;
    [Inject] private IAccounts Accounts { get; init; } = null!;
    [Inject] private IChats Chats { get; init; } = null!;
    [Inject] private NavigationManager Nav { get; init; } = null!;
    [Inject] private UICommander UICommander { get; init; } = null!;

    [CascadingParameter] public Chat Chat { get; set; } = null!;

    protected override async Task<Model> ComputeState(CancellationToken cancellationToken) {
        string chatId = Chat.Id;
        var account = await Accounts.Get(Session, cancellationToken).ConfigureAwait(false);
        var permissions = await Chats.GetRules(Session, chatId, cancellationToken).ConfigureAwait(false);
        var canPost = permissions.CanWrite();
        var canJoin = !canPost && await Chats.CanJoin(Session, chatId, cancellationToken).ConfigureAwait(false);
        return new () {
            CanPost = canPost,
            CanJoin = canJoin,
            IsAuthenticated = account != null,
        };
    }

    private async Task OnJoin() {
        string chatId = Chat.Id;
        var command = new IChats.JoinChatCommand(Session, chatId);
        await UICommander.Run(command, default);
    }

    public record Model {
        public bool CanPost { get; init; }
        public bool CanJoin { get; init; }
        public bool HasFooter => CanPost || CanJoin;
        public bool IsAuthenticated { get; init; }
    }
}
