@namespace ActualChat.UI.Blazor.Components
@inherits ComputedStateComponent<LanguageId>
@inject Session _session
@inject IChatUserSettings _chatUserSettings
@inject UICommandRunner _cmd

@{
    var language = State.LatestNonErrorValue.ValidOrDefault();
}
<span class="@(_class ??= this.DefaultClass()) select-none cursor-pointer duration-500 ease-in-out group"
     @onclick="Toggle">
    <span>Language: <b>@language.Title</b></span>
</span>

@code {
    private static string? _class;

    [CascadingParameter]
    public Chat Chat { get; set; } = null!;

    protected override async Task<LanguageId> ComputeState(CancellationToken cancellationToken)
    {
        var language = await _chatUserSettings.GetLanguage(_session, Chat.Id, cancellationToken);
        return language.ValidOrDefault();
    }

    private async Task Toggle()
    {
        var language = State.LatestNonErrorValue.ValidOrDefault();
        var command = new IChatUserSettings.SetLanguageCommand(_session, Chat.Id, language.Next());
        await _cmd.Run(command).ConfigureAwait(true);
    }
}
