<div class="flex flex-row justify-items-stretch items-center bg-primary md:bg-secondary text-primary font-medium">
    <div class="flex-none self-start">
        <NavbarToggle/>
    </div>
    <div class="flex-auto flex flex-row items-center p-1 pt-0 m-3">
        <ChatTitle/>
    </div>
    <div class="flex-none flex flex-row items-center p-1 pb-2 space-x-1">
        <ChatActivities/>
        <ChatNotificationToggle ChatId="@Chat.Id"/>
        <ChatPlaybackToggles/>
    </div>
</div>

@code {
    [CascadingParameter] public Chat Chat { get; set; } = null!;
}
