@inherits ComputedStateComponent<Language>
@{
    var m = State.Value.Or(Languages.Main);
}

<ButtonRound
    Class="chat-language-toggle" Click="@(_ => OnClick())">
    <span class="w-8 h-8 m-1">
        @m.Code
    </span>
</ButtonRound>

@code {
    private ChatId ChatId { get; set; } = ChatId.None;

    [Inject] private Session Session { get; init; } = null!;
    [Inject] private AccountSettings AccountSettings { get; init; } = null!;
    [Inject] private UICommander UICommander { get; init; } = null!;
    [Inject] private LanguageUI LanguageUI { get; init; } = null!;
    [Inject] private ModalUI ModalUI { get; init; } = null!;

    [Parameter, EditorRequired] public string ChatSid { get; set; } = "";

    protected override void OnParametersSet() {
        ChatId = new (ChatSid);
    }

    protected override ComputedState<Language>.Options GetStateOptions()
        => new() {
            UpdateDelayer = FixedDelayer.Instant,
            Category = GetStateCategory(),
        };

    protected override async Task<Language> ComputeState(CancellationToken cancellationToken)
        => await LanguageUI.GetChatLanguage(ChatId, cancellationToken).ConfigureAwait(false);

    protected async Task OnClick(CancellationToken cancellationToken = default) {
        var languages = await LanguageUI.Settings.Use(cancellationToken);
        if (languages.Secondary != null)
            await LanguageUI.ChangeChatLanguage(ChatId);
        else
            _ = ModalUI.Show(new NoSecondaryLanguageModal.Model());
    }
}
