@namespace ActualChat.UI.Blazor.Components

<div class="mt-1"><span class="float-left">@Chat.Title</span><span><NavbarIcon/></span></div>
<div class="mt-1"><ChatLanguageSelector /></div>

@code {
    [CascadingParameter]
    public Chat Chat { get; set; } = null!;
}
