@inherits ComputedStateComponent<LanguageId>
@{
    var m = State.ValueOrDefault.Or(LanguageId.Default);
}

<ButtonRound
    Class="chat-language-toggle" Click="OnClick">
    <span class="w-8 h-8 m-1">
        @m.Shortcut
    </span>
</ButtonRound>

@code {
    [Inject] private Session Session { get; init; } = null!;
    [Inject] private AccountSettings AccountSettings { get; init; } = null!;
    [Inject] private UICommander UICommander { get; init; } = null!;
    [Inject] private LanguageUI LanguageUI { get; init; } = null!;

    [CascadingParameter] public Chat Chat { get; set; } = null!;

    protected override ComputedState<LanguageId>.Options GetStateOptions()
        => new() { UpdateDelayer = FixedDelayer.Instant };

    protected override async Task<LanguageId> ComputeState(CancellationToken cancellationToken)
        => await LanguageUI.GetChatLanguage(Chat.Id, cancellationToken).ConfigureAwait(false);

    protected Task OnClick()
        => LanguageUI.ChangeChatLanguage(Chat.Id);
}
