@namespace ActualChat.UI.Blazor.Components
@using ActualChat.Chat.UI.Blazor.Services

<div class="px-2">
    <span class="float-left">@Chat.Title</span>
    <HistoricalPlayerStopButton/>
</div>

@code {
    [CascadingParameter]
    public Chat Chat { get; set; } = null!;
}
