@inherits ComputedStateComponent<string>
@inject ILiveTime LiveTime

@{
    var timestamp = @State.LatestNonErrorValue;
}

<span class="@(_class ??= this.DefaultClass()) text-secondary text-xs has-tooltip">@timestamp
    <span class="tooltip z-10 py-2 px-3 text-xs text-gray-900 bg-white rounded-lg border border-gray-200 shadow-sm">@tooltip</span>
</span>

@*Planned to do tooltips with approach described in https://tailwind-elements.com/docs/standard/components/tooltip/, but I could not get it working.*@
@*So finally I could accomplish it with approach from https://github.com/Cosbgn/tailwindcss-tooltips.*@
@*TODO (@iqmulator, @Vladimir Chirikov): improve tooltip  *@

@code {
    private static string? _class;
    private string tooltip = "";
    private DateTime localTime;

    [Parameter]
    public DateTime Value { get; set; }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        localTime = Value.DefaultKind(DateTimeKind.Utc).ToLocalTime();

        tooltip = localTime.ToLongDateString() + ", " + localTime.ToShortTimeString();
    }

    protected override Task<string> ComputeState(CancellationToken cancellationToken)
    {
        return LiveTime.GetMomentsAgo(localTime);
    }
}
