/* DeleteMessageModal */

.delete-message-modal .c-question {
    @apply flex-none;
    @apply mb-4;
    @apply overflow-hidden;
}
.delete-message-modal .c-message {
    @apply flex-initial flex-y;
    @apply overflow-hidden;
    @apply rounded-lg;
    @apply border-2 border-bg-04;
}
.delete-message-modal .chat-message {
    @apply md:max-h-48;
    @apply overflow-auto custom-scrollbar; /* This is what we scroll */
}
.delete-message-modal .message-content {
    @apply min-h-fit;
    @apply font-normal text-base;
    overflow: visible; /* This cancels overflow-hidden @ .chat-message */
}
.delete-message-modal .message-content * {
    @apply pointer-events-none;
}

/* Sub-headers */

.historical-playback-sub-header {
    @apply relative flex-x py-1 px-2;
    @apply bg-01 shadow-lg text-02;
    @apply border-b border-bg-04;
    @apply animate-display-from-top;
}
.historical-playback-sub-header-content {
    @apply flex-x items-center;
    @apply w-full;
}
.historical-playback-sub-header-content .c-chat-title {
    @apply font-semibold;
}
.historical-playback-sub-header-content .c-text {
    @apply font-light;
}
.historical-playback-sub-header-content .c-moment {
    @apply font-normal;
}
.historical-playback-sub-header-content .c-stop .btn {
    @apply bg-transparent;
}

.btn-round.attach-btn {
    @apply self-start;
}

.tab-panel .tab.people-tab {
    @apply h-full;
}

.people-group {
    @apply gap-x-12;
}
.people-group .btn-square {
    @apply min-w-12;
    @apply bg-transparent;
    @apply border-b-2 border-transparent;
    @apply rounded-none;
}
.people-group .btn-square .btn-content {
    @apply justify-center;
    @apply bg-transparent;
}
body.hoverable .people-group .btn-square:hover {
    @apply text-02;
    @apply border-primary;
}
body.hoverable .people-group .btn-square:hover .btn-content {
    @apply bg-transparent;
}

.btn-square.add-user-btn {
    @apply flex-1 left-0;
    @apply min-w-8;
    @apply rounded-none;
    @apply bg-transparent;
    @apply border-b-2 border-transparent;
}
.btn-square.add-user-btn .btn-content {
    @apply justify-center;
    @apply bg-transparent;
}
body.hoverable .btn-square.add-user-btn:hover {
    @apply text-02;
    @apply border-primary;
}
body.hoverable .btn-square.add-user-btn:hover .btn-content {
    @apply bg-transparent;
}
.btn-square.add-user-btn:focus .btn-content {
    @apply bg-transparent;
    @apply text-02;
}

.author-settings-modal {
    @apply min-w-full md:min-w-modal max-w-full;
}
.author-settings-modal .user-avatar-editor {
    @apply gap-x-2;
    @apply max-h-96;
    @apply overflow-y-auto;
}
.author-settings-modal .dialog-body {
    @apply m-4;
}
.author-settings-modal .dialog-buttons {
    @apply m-0;
}

.people-tab .avatar-badge {
    @apply p-0.5 mr-1;
    @apply rounded-xl;
    @apply cursor-pointer;
}
.people-tab .avatar-badge .author-avatar-badge {
    @apply m-0.5;
}
body.hoverable .people-tab .avatar-badge:hover {
    @apply bg-round-hover;
}

.navbar-pages {
    @apply gap-y-1;
    @apply p-1;
}
.navbar-pages .navbar-item {
    @apply p-2;
    @apply cursor-pointer;
}
.navbar-pages .navbar-item .navbar-item-content {
    @apply mx-2;
    @apply font-medium;
}

.writable-chat-footer {
    @apply relative;
    @apply bg-transparent md:bg-transparent;
}
.writable-chat-footer.narrow {
    background: transparent;
}

.chat-footer {
    @apply flex justify-center items-center;
    @apply w-full h-full;
    @apply py-0 md:py-1.5 px-2;
    @apply bg-01;
}
.signin-footer {
    @apply flex justify-center items-center;
    @apply w-full md:w-auto min-h-footer;
    @apply py-1;
}
.signin-footer .btn {
    @apply h-10 min-h-10 min-w-0;
    @apply px-4;
    @apply rounded-full md:rounded-md;
}
.signin-footer .btn .btn-content {
    @apply text-lg;
}

.chat-header-control-panel {
    @apply flex-x gap-x-1;
}

.language-settings {
    @apply flex-y;
    @apply mb-2;
}
.language-settings legend {
    @apply text-xl;
}
.language-settings-item {
    @apply flex-x items-center;
    @apply my-1;
}

.message-counter-with-time {
    @apply flex-y items-end gap-y-0.5;
    @apply group-hover:hidden;
}

body.wide .author-modal {
    @apply w-80;
}
.author-modal .header-tile-item .tile-item-body-content {
    @apply max-h-8;
    @apply text-title-1 text-02;
}
.author-modal .header-tile-item {
    @apply h-8 md:h-10;
}
.author-modal .tile-item-body-content {
    @apply text-01;
    @apply max-h-6;
}
.author-modal .first-tile-item {
    @apply gap-x-4;
}
.author-modal .first-tile-item .tile-item-icon {
    @apply max-w-fit;
}
body.hoverable .author-modal .tile,
body.hoverable .author-modal .tile:hover {
    @apply p-0;
    @apply shadow-none;
}
.author-modal .tile {
    @apply p-0;
    @apply shadow-none;
}
.author-modal .anonymous-bio * {
    @apply text-icons-04;
}
.author-modal .anonymous-bio .tile-item-body-content {
    @apply max-h-max;
    @apply whitespace-normal;
}
