@inherits ComputedStateComponent<Language>
@{
    var m = State.Value;
    var isLoading = m == Languages.Loading;
    var loadingCls = isLoading ? "animate-pulse" : "";
    var cls = $"chat-language-toggle {loadingCls}";
}

<div class="language-wrapper">
    <ButtonRound
        Class="@cls" Click="@(_ => OnClick())">
        <span class="w-6 h-6 m-1">
            @if (!isLoading) {
                @m.ShortTitle
            }
        </span>
    </ButtonRound>
</div>

@code {
    [Inject] private ChatHub ChatHub { get; init; } = null!;
    private Session Session => ChatHub.Session;
    private AccountSettings AccountSettings => ChatHub.AccountSettings;
    private LanguageUI LanguageUI => ChatHub.LanguageUI;
    private ModalUI ModalUI => ChatHub.ModalUI;
    private UICommander UICommander => ChatHub.UICommander;

    [Parameter, EditorRequired] public Chat Chat { get; set; } = null!;

    protected override ComputedState<Language>.Options GetStateOptions()
        => new() {
            UpdateDelayer = FixedDelayer.Instant,
            Category = GetStateCategory(),
            InitialValue = Languages.Loading,
        };

    protected override async Task<Language> ComputeState(CancellationToken cancellationToken) {
        var language = await LanguageUI.GetChatLanguage(Chat.Id, cancellationToken).ConfigureAwait(false);
        return language.Or(Languages.Main);
    }

    protected async Task OnClick(CancellationToken cancellationToken = default) {
        var languages = await LanguageUI.Settings.Use(cancellationToken);
        if (languages.Secondary != null)
            await LanguageUI.ChangeChatLanguage(Chat.Id);
        else
            _ = ModalUI.Show(new NoSecondaryLanguageModal.Model());
    }
}
