@using Stl.Extensibility
@implements IModalView<LeaveChatConfirmationModal.Model>
@attribute [MatchFor(typeof(Model), typeof(IModalView))]

<DialogFrame Title="Leave chat">
    <Body>
        <p>Are you sure you want to leave this chat?</p>
    </Body>
    <Buttons>
        <div class="btn-group">
            <Button Class="btn-outline" Click="OnCancel">Cancel</Button>
            <Button Class="btn-error" Click="OnLeave">Leave</Button>
        </div>
    </Buttons>
</DialogFrame>

@code {
    [Inject] private Session Session { get; init; } = null!;
    [Inject] private UICommander UICommander { get; init; } = null!;
    [Inject] private ChatUI ChatUI { get; init; } = null!;
    [Inject] private NavigationManager Nav { get; init; } = null!;

    [CascadingParameter] public BlazoredModalInstance ModalInstance { get; set; } = null!;
    [Parameter] public Model ModalModel { get; set; } = null!;

    private void OnCancel()
        => _ = ModalInstance.CloseAsync();

    private async Task OnLeave(MouseEventArgs arg) {
        var isSelectedChat = ModalModel.Chat.Id.Equals(ChatUI.SelectedChatId.Value);
        var command = new IAuthors.LeaveCommand(Session, ModalModel.Chat.Id);
        var result = await UICommander.Run(command);
        if (!result.HasError) {
            await ModalInstance.CloseAsync();
            if (isSelectedChat)
                Nav.NavigateTo(Links.Chat(Constants.Chat.AnnouncementsChatId));
        }
    }

    public sealed record Model(Chat Chat);
}
