<div class="chat-footer text-lg">
    <div class="flex w-full mx-10 min-h-14 md:min-h-12 justify-center items-center md:bg-03 rounded-full cursor-default">
        @FooterText
    </div>
</div>

@code {
    [Parameter] public string FooterText { get; set; } = "This chat is read-only";
}
