@namespace ActualChat.Chat.UI.Blazor.Components
@using ActualChat.Chat.UI.Blazor.Events
@inherits MenuBase

<div class="sort-menu">
    <MenuEntry
        Icon="icon-sort-by-recent"
        Text="Recent"
        Click="@(() => OnClick(ChatListNavbarWidget.TabId.ByOwnActivity))">
    </MenuEntry>
    <MenuEntry
        Icon="icon-sort-by-alphabet"
        Text="Alphabet"
        Click="@(() => OnClick(ChatListNavbarWidget.TabId.ByAnyActivity))">
    </MenuEntry>
    <MenuEntry
        Icon="icon-sort-by-message"
        Text="Message"
        Click="@(() => OnClick(ChatListNavbarWidget.TabId.ByUnreadCount))">
    </MenuEntry>
</div>

@code {
    [Inject] private UIEventHub UIEventHub { get; init; } = null!;

    private Task OnClick(ChatListNavbarWidget.TabId tabId)
        => UIEventHub.Publish(new SelectSortingTypeEvent(tabId));
}
