@namespace ActualChat.Chat.UI.Blazor.Components
@inherits ComputedStateComponent<UnreadMessagesSubHeader.Model>
@{
    var m = State.ValueOrDefault ?? Model.None;
    if (m.Count == 0)
        return;
}

<div class="unread-messages-sub-header" @onclick="Click">
    @m.Count unread @PluralizeMessage(m.Count)
</div>

@code {
    [Inject] private Session Session { get; init; } = null!;
    [Inject] private ChatUI ChatUI { get; init; } = null!;
    [Inject] private IChats Chats { get; init; } = null!;
    [Inject] private MomentClockSet Clocks { get; init; } = null!;

    private IPersistentState<long>? LastReadEntryId { get; set; }
    private UnreadMessages UnreadMessages { get; set; } = null!;

    [CascadingParameter] public Chat Chat { get; set; } = null!;
    [Parameter] public EventCallback Click { get; set; }

    protected override async Task OnInitializedAsync() {

        LastReadEntryId = await ChatUI.GetLastReadEntryId(Chat.Id, default).ConfigureAwait(false);
        UnreadMessages = new(Session, Chat.Id, LastReadEntryId, Chats);
    }

    public override async ValueTask DisposeAsync() {
        await base.DisposeAsync();
        if (LastReadEntryId != null)
            await LastReadEntryId.DisposeAsync();
    }

    protected override ComputedState<Model>.Options GetStateOptions() {
        return new() {
            InitialValue = Model.None,
            UpdateDelayer = new UpdateDelayer(UICommandTracker.None, 2),
        };
    }

    protected override async Task<Model> ComputeState(CancellationToken cancellationToken) {
        var count = await UnreadMessages.GetCount(cancellationToken).ConfigureAwait(true);
        if (!count.HasValue)
            return Model.None;

        return new() {
            Count = count.Value,
        };
    }

    private string PluralizeMessage(int count) {
        return count switch {
            1 => "message",
            _ => "messages",
        };
    }

    public sealed record Model {
        public static readonly Model None = new();

        public int Count { get; init; }
    }
}
