@inherits ComputedStateComponent<AccountFull>
@{
    var account = State.LatestNonErrorValue;
    var relativeUri = Links.UserPage(account.Id);
    var linkInfo = LinkInfoBuilder.GetFrom(relativeUri);
}

<div class="user-page-link flex-x justify-start items-center gap-x-1">
    <div class="flex-none text-02">
        <a href="@linkInfo.NavigateLink">@linkInfo.DisplayLink</a>
    </div>
    <CopyToClipboard Class="flex-none text-03" InputClass="hidden" Text="@linkInfo.CopyLink"/>
</div>

@code {
    [Inject] public Session Session { get; init; } = null!;
    [Inject] public IAccounts Accounts { get; init; } = null!;
    [Inject] private LinkInfoBuilder LinkInfoBuilder { get; init; } = null!;

    protected override ComputedState<AccountFull>.Options GetStateOptions()
        => new() { UpdateDelayer = FixedDelayer.Instant };

    protected override Task<AccountFull> ComputeState(CancellationToken cancellationToken)
        => Accounts.GetOwn(Session, default);
}
