@namespace ActualChat.UI.Blazor.Components

<div class="inaccessible-place-request">
    <not-member-yet-svg/>
    <span class="c-title">Not member yet</span>
    <span class="c-text">Send a join request and admins will consider you for addition to the Place</span>
    <Button Class="btn-primary btn-w-full">
        Send Request
    </Button>
</div>
