@namespace ActualChat.UI.Blazor.Components
@layout NoLayout

<div class="flex-x h-full">
    <ThinLeftSkeletonPanel/>
    <WideLeftSkeletonPanel/>
    <ChatSkeletonPanel/>
    <RightSkeletonPanel/>
</div>

@code {

}
