@namespace ActualChat.UI.Blazor.Components

<div class="@Class">
    @ChildContent
</div>

@code {
    [Parameter] public string Class { get; set; } = "";
    [Parameter] public RenderFragment? ChildContent { get; set; }
}
