@namespace ActualChat.UI.Blazor.Components

<div class="wide-left-skeleton-panel">
    <SkeletonPanelHeader Class="border-b border-bg-04"/>
    <SkeletonPanelBody>
        <chat-list-skeleton count="12"></chat-list-skeleton>
    </SkeletonPanelBody>
</div>
