@namespace ActualChat.UI.Blazor.Components

<div class="wide-left-skeleton-panel">
    <SkeletonPanelHeader Class="border-b border-bg-04"/>
    <SkeletonPanelBody Class="chat-list-skeleton p-2 gap-y-0.5 overflow-auto custom-scrollbar">
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
    </SkeletonPanelBody>
</div>
