@namespace ActualChat.UI.Blazor.Components

<div class="thin-left-skeleton-panel">
    <SkeletonPanelHeader/>
    <SkeletonPanelBody Class="items-end gap-y-3 md:gap-y-2">

    </SkeletonPanelBody>
    <SkeletonPanelFooter/>
</div>
