@using ActualChat.UI.Blazor.Module
@namespace ActualChat.UI.Blazor.Components

<div class="chat-skeleton-panel">
    <SkeletonPanelHeader Class="border-b border-bg-04 bg-02"/>
    <SkeletonPanelBody>
        <chat-skeleton class="chat-view" count="14"></chat-skeleton>
    </SkeletonPanelBody>
    <SkeletonPanelFooter>
        <chat-skeleton class="chat-view-footer"></chat-skeleton>
    </SkeletonPanelFooter>

</div>

@code {

}
