@namespace ActualChat.UI.Blazor.Components

<div class="chat-skeleton-panel">
    <SkeletonChatHeader/>
    <SkeletonPanelBody>
        <chat-view-skeleton count="14"></chat-view-skeleton>
    </SkeletonPanelBody>
    <SkeletonPanelFooter>
        <chat-view-footer-skeleton />
    </SkeletonPanelFooter>
</div>
