@namespace ActualChat.UI.Blazor.Components

<div class="wide-left-skeleton-panel">
    <SkeletonPanelHeader/>
    <SkeletonPanelBody>
        <chat-list-skeleton count="12"></chat-list-skeleton>
    </SkeletonPanelBody>
</div>
