@namespace ActualChat.UI.Blazor.Components

<div class="wide-left-skeleton-panel">
    <SkeletonPanelHeader Class="border-b border-bg-04"/>
    <SkeletonPanelBody>
        <chat-skeleton class="chat-list" count="12"></chat-skeleton>
    </SkeletonPanelBody>
</div>
