@namespace ActualChat.UI.Blazor.Components

<div class="chat-skeleton-panel">
    <SkeletonPanelHeader Class="border-b border-separator bg-02"/>
    <SkeletonPanelBody>
        <chat-view-skeleton count="14"></chat-view-skeleton>
    </SkeletonPanelBody>
    <SkeletonPanelFooter>
        <chat-view-footer-skeleton />
    </SkeletonPanelFooter>
</div>
