@using ActualChat.UI.Blazor.Module
@namespace ActualChat.UI.Blazor.Components

<div class="chat-skeleton-panel">
    <SkeletonPanelHeader Class="border-b border-bg-04 bg-02"/>
    <SkeletonPanelBody>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>

        <div id="chat-skeleton-container"></div>

    </SkeletonPanelBody>
    <SkeletonPanelFooter Class="border-t border-bg-04 bg-02">

    </SkeletonPanelFooter>

</div>

@code {

}
