@namespace ActualChat.UI.Blazor.Components
@layout NoLayout

<div class="flex-x h-full">
    <SkeletonThinLeftPanel/>
    <SkeletonWideLeftPanel/>
    <SkeletonChatPanel/>
    @* <SkeletonRightPanel/> *@
</div>
