.thin-left-skeleton-panel {
    @apply flex-y;
    @apply px-0.5 md:px-4.5;
    @apply bg-04;
    width: 7.5rem;
}
body.narrow .thin-left-skeleton-panel {
    @apply hidden;
    width: auto;
}
.thin-left-skeleton-panel .skeleton-panel-body {
    @apply items-end gap-y-3 md:gap-y-2;
}
body.narrow .thin-left-skeleton-panel .skeleton-panel-body {
    padding-left: 0.4rem;
    padding-right: 0.5rem;
}
.wide-left-skeleton-panel {
    @apply flex-y;
    @apply bg-03;
    @apply w-full md:w-80;
}
body.narrow .wide-left-skeleton-panel {
    @apply hidden;
    width: 100%;
}
body.narrow .wide-left-skeleton-panel:has(.inaccessible-place-request) {
    @apply flex;
}
.wide-left-skeleton-panel .skeleton-panel-header {
    @apply flex-y gap-y-2;
    @apply h-26;
    @apply py-2 px-3;
    @apply rounded-b-xl;
    @apply bg-[var(--skeleton-left-panel-header)];
}
.wide-left-skeleton-panel .skeleton-panel-header .c-title {
    @apply flex-1 flex items-center;
    @apply h-1/2;
}
.wide-left-skeleton-panel .skeleton-panel-header .c-content {
    @apply flex-1 self-end;
    @apply w-full h-10;
    @apply rounded-full;
    @apply bg-skeleton;
}
.wide-left-skeleton-panel .skeleton-panel-body {
    @apply gap-y-0.5 overflow-auto;
    @apply p-2;
    scrollbar-width: none;
}

.layout-body:has(.chat-skeleton-panel) {
    scrollbar-width: none;
}
.chat-skeleton-panel {
    @apply flex-1 flex-y;
}
.right-skeleton-panel {
    @apply hidden flex-1 md:flex-y;
    @apply bg-03;
    @apply w-full md:min-w-80;
}
.right-skeleton-panel .skeleton-panel-header {
    @apply grid gap-y-2;
    @apply h-26;
    @apply py-2 px-3;
    @apply rounded-b-xl;
    @apply bg-[var(--skeleton-right-panel-header)];
}
.right-skeleton-panel .skeleton-panel-body {
    @apply relative;
}
.right-skeleton-panel .skeleton-panel-body .c-buttons {
    @apply absolute -top-8;
    @apply flex-x items-center;
    @apply w-full;
    @apply px-4;
}
.right-skeleton-panel .skeleton-panel-body .c-buttons > .c-right {
    @apply flex-x gap-x-2;
}
.right-skeleton-panel .skeleton-panel-body .c-description {
    @apply flex-y gap-y-2;
    @apply p-4 mt-6;
}
.right-skeleton-panel .skeleton-panel-body .c-notification {
    @apply flex-y items-center;
    @apply px-4 py-8;
}
.right-skeleton-panel .skeleton-panel-body .c-tab {
    @apply p-2;
}
.right-skeleton-panel .skeleton-panel-body .members-container {
    @apply flex-y;
    @apply py-2 px-4;
}

.skeleton-panel-header {
    @apply min-h-14;
}
.skeleton-chat-header {
    @apply px-2;
    @apply border-b border-separator;
}
.skeleton-panel-body {
    @apply flex-1 flex-y;
    scrollbar-width: none;
}
.skeleton-panel-footer {
    @apply sticky bottom-0;
    @apply flex-none flex-x items-center justify-center;
    @apply min-h-14 md:min-h-16;
}
.chat-skeleton-panel .skeleton-panel-footer {
    @apply flex-x gap-x-2.5;
    @apply px-3;
    @apply bg-01;
}
body.narrow .chat-skeleton-panel .skeleton-panel-footer {
    min-height: 9.5rem;
}
body.wide .thin-left-skeleton-panel .skeleton-panel-footer {
    @apply justify-end;
}
.chat-skeleton-panel .skeleton-panel-body {
    @apply p-2 md:p-0 md:pr-8;
    @apply overflow-y-auto;
}
body.narrow .chat-skeleton-panel .skeleton-panel-footer {
    @apply p-0;
    @apply bg-03;
}
.chat-skeleton-panel .skeleton-panel-body::-webkit-scrollbar {
    @apply hidden;
}
.chat-view-footer {
    @apply flex-1;
}

.inaccessible-place-request {
    @apply flex-y items-center gap-y-2;
    @apply p-2;
}
.inaccessible-place-request > .c-title {
    @apply text-headline-6 text-03;
}
.inaccessible-place-request > .c-text {
    @apply text-center text-headline-1 text-03;
}

/*.string-skeleton {*/
/*    @apply h-3;*/
/*    @apply bg-skeleton;*/
/*    @apply rounded-full;*/
/*    animation: pulse 2s*/
/*}*/
