@namespace ActualChat.UI.Blazor.Components

<div class="thin-left-skeleton-panel">
    <SkeletonPanelHeader/>
    <SkeletonPanelBody>
        <chat-skeleton class="thin-left-panel" count="3"></chat-skeleton>
    </SkeletonPanelBody>
    <SkeletonPanelFooter>
        <chat-skeleton class="thin-left-panel-footer"></chat-skeleton>
    </SkeletonPanelFooter>
</div>
