.left-search-panel.chat-search {
    @apply absolute inset-0 z-50 gap-y-0;
    @apply flex-y gap-y-0;
    @apply h-14;
    @apply p-0;
    @apply bg-transparent;
    @apply duration-300 delay-0;
    transition-behavior: allow-discrete;
    transition-property: height;
}
.left-search-panel.chat-search.open {
    @apply h-auto;
    @apply duration-300;
    @starting-style {
        height: 3.5rem;
    }
}
.left-search-panel.chat-search.open:not(:has(.height-anchor)) {
    @apply h-fit;
}
.left-search-panel.chat-search > .c-content {
    @apply z-10;
    @apply hidden flex-y;
    @apply h-full;
    @apply p-2;
    @apply overflow-hidden;
    @apply bg-03;
    @apply opacity-0;
    @apply -translate-y-full;
    @apply duration-300 delay-0;
    transition-behavior: allow-discrete;
    transition-property: display, opacity, transform;
}
.left-search-panel.chat-search.open > .c-content {
    @apply flex-y;
    @apply opacity-100;
    @apply translate-y-0;
    @apply duration-300 delay-300;
    @starting-style {
        opacity: 0;
        transform: translateY(-100%);
    }
}
.left-search-panel.chat-search > .c-search {
    @apply z-20;
    @apply flex items-center self-end;
    @apply min-h-14;
    @apply px-2;
    @apply bg-transparent;
    @apply border-b border-separator;
    @apply duration-300 delay-300;
    width: calc(100% - 4rem);
    transition-behavior: allow-discrete;
    transition-property: width, background-color;
}
.left-search-panel.chat-search.open > .c-search {
    width: 100%;
    @apply bg-03;
    @apply delay-0;
    @starting-style {
        width: calc(100% - 4rem);
    }
}
.left-search-panel.chat-search .search-input input {
    @apply px-4;
}
.left-search-panel.chat-search .c-ai-btn {
    @apply absolute right-1 top-1;
    @apply flex items-center justify-center;
    @apply w-8 h-8;
    @apply bg-primary;
    @apply text-white;
}
.left-search-panel.chat-search .c-ai-btn.search-btn {
    @apply bg-04;
    @apply text-03;
}
.left-search-panel.chat-search.open .c-ai-btn {
    @apply hidden;
    @apply opacity-0;
    @apply duration-300 delay-0;
    transition-behavior: allow-discrete;
    transition-property: display, opacity;
}
.left-search-panel.chat-search.closed .c-ai-btn {
    @apply opacity-100;
    @apply delay-300;
    @starting-style {
        opacity: 0;
    }
}

.left-search-panel.chat-search .c-close-btn {
    @apply flex;
}
.left-search-panel.chat-search.closed .c-close-btn {
    @apply hidden;
    @apply opacity-0;
    @apply duration-300 delay-0;
    transition-behavior: allow-discrete;
    transition-property: display, opacity;
}
.left-search-panel.chat-search.open .c-close-btn {
    @apply opacity-100;
    @apply delay-300;
    @starting-style {
        opacity: 0;
    }
}
body.hoverable .left-search-panel.chat-search .c-ai-btn.btn-round:hover {
    @apply bg-primary;
}
body.hoverable .left-search-panel.chat-search .c-ai-btn.search-btn.btn-round:hover {
    @apply bg-04;
}

.left-search-panel.chat-search .tab-panel .btn-group {
    @apply gap-x-4;
    @apply py-0 px-2;
}
.left-search-panel.chat-search .recent-contacts {
    @apply flex-none flex-x gap-x-1;
    @apply mt-2;
    @apply overflow-y-hidden;
    @apply custom-scrollbar-hide;
}
.left-search-panel.chat-search .recent-contacts:first-child,
.left-search-panel.chat-search .recent-contacts:last-child {
    @apply px-1;
}
.recent-contacts .c-plug {
    @apply flex-y items-center justify-center;
    @apply min-w-20;
    @apply truncate;
}
.recent-contacts .c-plug > .c-author {
    @apply w-10 h-10;
    @apply rounded-full;
}
.recent-contacts .c-plug > .c-name {
    @apply w-full;
    @apply text-center;
    @apply text-caption-6;
    @apply truncate;
}

.left-search-panel.chat-search .recently-viewed {
    @apply flex-y gap-y-2;
}
.left-search-panel.chat-search .c-header {
    @apply flex-x items-center;
    @apply px-2;
}
.left-search-panel.chat-search .recently-viewed .c-header .c-title,
.left-search-panel.chat-search .chat-list .c-header .c-title {
    @apply flex-1;
    @apply text-caption-1 text-02;
}
.left-search-panel.chat-search .recently-viewed .c-header .btn-h,
.left-search-panel.chat-search .chat-list .c-header .btn-h {
    @apply flex-none;
    @apply text-02;
}
.left-search-panel.chat-search .recently-viewed .c-header .btn-h i {
    @apply text-xl text-02;
}
.left-search-panel.chat-search .recently-viewed .c-message-list {
    @apply flex-y gap-y-0.5;
    @apply px-2;
}
.left-search-panel.chat-search .recently-viewed .c-message-list > .c-item {
    @apply flex-x items-center gap-x-2;
    @apply p-1;
    @apply rounded-lg;
}
.left-search-panel.chat-search .recently-viewed .c-message-list > .c-item:hover {
    @apply bg-hover;
}
.left-search-panel.chat-search .recently-viewed .c-message-list > .c-item > .c-author {
    @apply flex-none;
    @apply h-10 w-10;
    @apply rounded-full;
}
.left-search-panel.chat-search .recently-viewed .c-message-list > .c-item > .c-center {
    @apply flex-1 flex-y gap-y-1;
    @apply truncate;
}
.left-search-panel.chat-search .recently-viewed .c-message-list > .c-item > .c-center > .c-name {
    @apply text-headline-1 text-02;
    @apply truncate;
}
.left-search-panel.chat-search .recently-viewed .c-message-list > .c-item > .c-center > .c-last-message {
    @apply text-xs text-03;
    @apply truncate;
}
.left-search-panel.chat-search .recently-viewed .c-message-list > .c-item > .c-ending {
    @apply flex-none flex-y items-end gap-y-1;
    @apply text-xs text-03;
}

.left-search-panel.chat-search .tab-panel {
    @apply overflow-hidden;
}
.left-search-panel.chat-search .tab-panel .tab {
    @apply py-2;
    @apply overflow-hidden;
}
.left-search-panel.chat-search .tab > .c-container {
    @apply flex-y;
    @apply h-full;
    @apply overflow-y-auto;
    @apply custom-scrollbar;
}
.left-search-panel.chat-search .own-chats-list {
    @apply px-2;
}
.left-search-panel.chat-search .chat-list .c-header .btn-h {
    @apply text-xs text-primary;
}

.left-search-panel.chat-search .ai-btn .btn {
    @apply min-w-full;
}
body.narrow .left-search-panel.chat-search .ai-btn .btn {
    @apply min-h-10 max-h-10;
}
.left-search-panel.chat-search .ai-btn .btn .btn-content {
    @apply gap-x-3;
    @apply text-text-1;
}
