@namespace ActualChat.UI.Blazor.Components
@using ActualChat.UI.Blazor.Services

<div class="wide-left-panel-wrapper">
    <div class="wide-left-panel">
        <div class="flex-x justify-center items-center min-h-14 border-b border-bg-04 px-4 gap-x-1 panel-content">
            <div class="md:hidden w-12">
                <input id="navbar-toggle" class="hidden" type="checkbox" @bind="@IsOpen"/>
                <NavbarToggle/>
            </div>
            <Search Class="mobile-hidden" Applied="OnSearch"/>
            <div class="w-12 ml-2">
                <ButtonRound Click="@OnClick" Class="add-to-chat transparent">
                    <i class="icon-message-add text-2xl"></i>
                </ButtonRound>
            </div>
        </div>
        <div class="navbar-content flex-auto flex-y overflow-y-hidden h-full panel-content">
            <NavbarContent/>
        </div>
    </div>
</div>

@code {
    [Inject] private NavbarUI NavbarUI { get; init; } = null!;
    [Inject] private ModalUI ModalUI { get; init; } = null!;
    [Inject] private SearchUI SearchUI { get; init; } = null!;
    private bool _isOpen;

    private bool IsOpen {
        get => _isOpen;
        set {
            _isOpen = !NavbarUI.IsThinPanelOpen.Value;
            NavbarUI.IsThinPanelOpen.Value = _isOpen;
        }
    }

    private void OnClick() {
        if (NavbarUI.AddButtonAction.TryGetValue(NavbarUI.ActiveGroupId, out var addAction)) {
            addAction();
        }
    }

    private void OnSearch(string? criteria) {
        SearchUI.Criteria.Value = criteria ?? "";
    }
}
