@namespace ActualChat.UI.Blazor.Components

<div class="copy-to-clipboard">
    @if (ShowInput) {
        <input
            @ref="_inputRef"
            readonly="readonly"
            class="@InputClass flex-1"
            type="text"
            value="@(Caption.NullIfEmpty() ?? Text)"/>
    }

    <CopyTrigger Tooltip="@Tooltip" CopyText="@Text">
        <ButtonRound
            ContentClass="flex-x gap-x-1"
            Class="@ButtonClass">
            <i class="hide-on-copied-hint icon-copy text-xl" aria-hidden="true"></i>
            <i class="copied-hint icon-checkmark-simple text-xl" aria-hidden="true"></i>
        </ButtonRound>
    </CopyTrigger>
</div>

@code {
    private ElementReference _inputRef;

    [Parameter] public string Class { get; set; } = "";
    [Parameter] public string ButtonClass { get; set; } = "";
    [Parameter] public string InputClass { get; set; } = "";
    [Parameter] public string Tooltip { get; set; } = "Copy";
    [Parameter] public bool ShowInput { get; set; }
    [Parameter] public string Caption { get; set; } = "";
    [Parameter, EditorRequired] public string Text { get; set; } = "";
}

