@namespace ActualChat.UI.Blazor.Components
@using ActualChat.UI.Blazor.Services

<div class="@Class copy-to-clipboard">
    <input @ref="InputRef" class="@InputClass" type="text" value="@Text" onclick="@OnClick"/>
    <ButtonSquare Click="OnClick" ContentClass="flex-x gap-x-1">
        <i class="fa fa-files-o py-0.5" aria-hidden="true"></i>
        @if (OrdinalEquals(_lastCopiedText, Text)) {
            <div class="c-copied">
                copied!
            </div>
        }
    </ButtonSquare>
</div>

@code {
    private string? _lastCopiedText = null;

    [Inject] private ClipboardUI ClipboardUI { get; init; } = null!;

    private ElementReference InputRef { get; set; }

    [Parameter] public string Class { get; set; } = "";
    [Parameter] public string InputClass { get; set; } = "";
    [Parameter] public string Text { get; set; } = "";
    [Parameter] public string? CopyText { get; set; }

    private async Task OnClick() {
        await ClipboardUI.CopyTextFrom(InputRef, CopyText ?? Text);
        _lastCopiedText = Text;
    }
}

