<div class="message">
    <span style="margin-right: 2px">
        <UserNameBadge UserId="@Entry.AuthorId"/>
    </span>
    @if (Entry.IsStreaming) {
        <ChatMessageTranscript StreamId="@Entry.StreamId"/>
    }
    else {
        <ChatMessageText Text="@Entry.Content"/>
    }
</div>

@code {
    [Parameter]
    public ChatEntry Entry { get; set; } = null!;

}
