<div class="message">
    <UserNameBadge UserId="@Entry.CreatorId"/>
    @if (Entry.IsStreaming) {
        <ChatMessageTranscript StreamId="@Entry.StreamId"/>
    }
    else{
        <ChatMessageText Text="@Entry.Content"/>
    }
</div>

@code {
    [Parameter]
    public ChatEntry Entry { get; set; } = null!;

}
