@using ActualChat.UI.Blazor.Events
@namespace ActualChat.Chat.UI.Blazor.Components

<div class="left-panel-buttons">
    <div class="c-spacer"></div>
    <div class="c-content">
        <div class="c-logo" @onclick="@OnLogoClick">
            <svg class="w-8 h-8" viewBox="0 0 37 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_4327_181649)">
            <path d="M34.979 23.29H34.8925C34.1132 23.2035 33.5938 22.5974 33.5938 21.8182V21.3853C33.5938 20.6926 33.6803 20 33.6803 19.3074V18.355C33.6803 18.0087 33.6803 17.5758 33.5938 17.2294C33.5938 16.4502 34.1132 15.8442 34.8925 15.7576C35.6717 15.671 36.2777 16.2771 36.3643 17.0563C36.3643 17.4892 36.3643 17.8355 36.4509 18.2684V18.7013C36.4509 18.8745 36.4509 19.1342 36.4509 19.3074C36.4509 20.0866 36.4509 20.7792 36.3643 21.5584V22.0779C36.2777 22.7706 35.6717 23.29 34.979 23.29Z" fill="url(#paint0_linear_4327_181649)"/>
            <path d="M17.8371 40C14.3739 40 11.3436 36.8831 9.52541 31.342C9.26567 30.6494 9.69857 29.8701 10.3912 29.6104C11.0839 29.3506 11.8631 29.7836 12.1228 30.4762C13.5081 34.632 15.6726 37.2294 17.8371 37.2294C21.3003 37.2294 25.1098 30.1299 25.1098 20C25.1098 9.87013 21.3003 2.77056 17.8371 2.77056C15.6726 2.77056 13.5081 5.36797 12.1228 9.61039C11.8631 10.303 11.0839 10.7359 10.3912 10.4762C9.69857 10.2165 9.26567 9.43723 9.52541 8.74459C11.3436 3.20346 14.3739 0 17.8371 0C23.4648 0 27.8804 8.74459 27.8804 20C27.8804 31.2554 23.4648 40 17.8371 40Z" fill="url(#paint1_linear_4327_181649)"/>
            <path d="M30.2162 28.9178C30.1296 28.9178 30.043 28.9178 29.8698 28.9178C29.0906 28.7446 28.6577 28.052 28.8309 27.2727C29.3503 24.8485 29.6967 22.1645 29.6967 19.4805C29.6967 17.1429 29.5235 14.8052 29.0906 12.6407C28.9174 11.8615 29.4369 11.1688 30.2162 10.9957C30.9954 10.8225 31.688 11.342 31.8612 12.1212C32.2941 14.4589 32.5538 16.8831 32.5538 19.4805C32.5538 22.4242 32.2941 25.2814 31.688 27.8788C31.4283 28.4849 30.8222 28.9178 30.2162 28.9178Z" fill="url(#paint2_linear_4327_181649)"/>
            <path d="M19.5685 32.6407C19.3954 32.6407 19.2222 32.6407 19.0491 32.5541C18.3564 32.2944 18.0101 31.5152 18.2698 30.7359C19.482 27.6191 20.088 23.8961 20.088 19.9134C20.088 15.9307 19.482 12.2078 18.2698 9.09091C18.0101 8.39827 18.3564 7.61905 19.0491 7.27273C19.7417 7.01299 20.5209 7.35931 20.8672 8.05195C22.1659 11.5152 22.8586 15.5844 22.8586 19.8268C22.8586 24.1558 22.1659 28.2251 20.8672 31.6017C20.6075 32.2944 20.088 32.6407 19.5685 32.6407Z" fill="url(#paint3_linear_4327_181649)"/>
            <path class="fill-[var(--left-side-logo)]" d="M4.84848 34.1126C3.63636 34.1126 2.85714 33.9394 2.77056 33.9394C2.33766 33.8528 1.90476 33.5065 1.7316 33.0736C1.55844 32.6407 1.64502 32.1212 1.81818 31.7749C3.11688 29.8701 3.37662 28.5714 3.4632 27.9654C1.2987 25.8009 0 22.8571 0 20C0 15.4113 3.0303 11.2554 7.87879 9.09091C10.0433 8.13853 12.4675 7.61905 14.8918 7.61905C15.671 7.61905 16.2771 8.22511 16.2771 9.00433C16.2771 9.78355 15.671 10.3896 14.9784 10.3896C12.9004 10.3896 10.8225 10.8225 9.09091 11.6017C5.19481 13.3333 2.85714 16.4502 2.85714 19.9134C2.85714 22.2511 3.8961 24.5887 5.80087 26.2338C5.97403 26.4069 6.14719 26.6667 6.23377 26.9264C6.32035 27.2727 6.58009 28.7446 5.36797 31.342C6.75325 31.2554 8.48485 30.9091 9.43723 29.5238C9.78355 29.0909 10.303 28.8312 10.8225 29.0043C11.6883 29.1775 14.1126 29.697 15.0649 29.697C15.8442 29.697 16.4502 30.303 16.4502 31.0823C16.4502 31.8615 15.8442 32.4675 15.0649 32.4675C14.026 32.4675 12.2078 32.1212 11.0823 31.9481C9.17749 33.7662 6.58009 34.1126 4.84848 34.1126Z"/>
            </g>
            <defs>
            <linearGradient id="paint0_linear_4327_181649" x1="35.0223" y1="15.7493" x2="35.0223" y2="23.29" gradientUnits="userSpaceOnUse">
            <stop stop-color="#2970FF"/>
            <stop offset="0.510417" stop-color="#C60077"/>
            </linearGradient>
            <linearGradient id="paint1_linear_4327_181649" x1="18.6648" y1="0" x2="18.6648" y2="40" gradientUnits="userSpaceOnUse">
            <stop stop-color="#2970FF"/>
            <stop offset="0.510417" stop-color="#C60077"/>
            </linearGradient>
            <linearGradient id="paint2_linear_4327_181649" x1="30.6734" y1="10.9623" x2="30.6734" y2="28.9178" gradientUnits="userSpaceOnUse">
            <stop stop-color="#2970FF"/>
            <stop offset="0.510417" stop-color="#C60077"/>
            </linearGradient>
            <linearGradient id="paint3_linear_4327_181649" x1="20.5211" y1="7.18649" x2="20.5211" y2="32.6407" gradientUnits="userSpaceOnUse">
            <stop stop-color="#2970FF"/>
            <stop offset="0.510417" stop-color="#C60077"/>
            </linearGradient>
            <clipPath id="clip0_4327_181649">
            <rect width="36.4502" height="40" fill="white"/>
            </clipPath>
            </defs>
            </svg>

        </div>
        <div class="c-buttons">
            <NavbarButtons/>
        </div>
        <div class="c-account">
            <AccountDropdown/>
        </div>
    </div>
</div>

@code {
    [Inject] private UIEventHub UIEventHub { get; init; } = null!;

    private void OnLogoClick()
        => _ = UIEventHub.Publish(new ShowSettingsEvent());
}
