@namespace ActualChat.Chat.UI.Blazor.Components
@using ActualChat.UI.Blazor.Services
@using ActualChat.Chat.UI.Blazor.Events
@using ActualChat.Hosting
@inherits StatefulComponentBase<IState<bool>>
@{
    var canBeHidden = State.Value;
}

<OnUIEvent TEvent="@SelectedChatChangedEvent" Handler="@OnSelectedChatChangedEvent" />
<div class="left-panel-content">
    <DownloadAppBanner CanBeClosed="true"/>
    <div class="c-search">
        <SearchBox
            @ref="_searchBoxRef"
            Placeholder="Find chat..."
            TextChanged="OnSearchBoxTextChanged"/>
    </div>
    <NavbarContent/>
    @if (ScreenSize.IsNarrow()) {
        <div class="c-title">
            <div class="text-02 text-title-1">@NavbarUI.SelectedGroupTitle</div>
            <div class="flex grow"></div>
            @if (canBeHidden) {
                <div class="flex">
                    <HeaderButton Click="OnHideLeftPanelClick">
                        <i class="icon-arrow-right text-2xl"></i>
                    </HeaderButton>
                </div>
            }
        </div>
    }
</div>

@code {
    SearchBox? _searchBoxRef = null;

    [Inject] private ChatUIHub Hub { get; init; } = null!;
    private NavbarUI NavbarUI => Hub.NavbarUI;
    private PanelsUI PanelsUI => Hub.PanelsUI;
    private SearchUI SearchUI => Hub.SearchUI;
    private ModalUI ModalUI => Hub.ModalUI;

    [CascadingParameter] ScreenSize ScreenSize { get; set; }

    protected override void OnInitialized() {
        State = PanelsUI.Left.CanBeHidden;
        base.OnInitialized();
        NavbarUI.SelectedGroupChanged += OnNavbarSelectedGroupChanged;
    }

    public override ValueTask DisposeAsync() {
        NavbarUI.SelectedGroupChanged -= OnNavbarSelectedGroupChanged;
        // Shouldn't dispose State!
        return default;
    }

    private void OnHideLeftPanelClick()
        => PanelsUI.Left.SetIsVisible(false);

    private void OnSearchBoxTextChanged(string text)
        => SearchUI.Text.Value = text;

    private void OnNavbarSelectedGroupChanged(object? s, EventArgs e)
        => InvokeAsync(StateHasChanged);

    private async Task OnSelectedChatChangedEvent(SelectedChatChangedEvent @event, CancellationToken cancellationToken) {
        if (_searchBoxRef != null)
            await _searchBoxRef.Cancel();
    }
}
