@namespace ActualChat.Chat.UI.Blazor.Components
@using ActualChat.UI.Blazor.Components.SideNav
@using ActualChat.IO
@implements IDisposable

<SideNav
    Side="SideNavSide.Left"
    IsOpen="@_isOpen"
    VisibilityChanged="@(isOpen => PanelsUI.Left.SetIsVisible(isOpen))">
    <div class="left-panel">
        <LeftPanelButtons/>
        <LeftPanelContent/>
    </div>
</SideNav>

@code {
    // private Debouncer<Unit> _isOpenDebouncer = null!;
    private Action? _leftPanelVisibilityChanged;
    private bool _isOpen;

    [Inject] private PanelsUI PanelsUI { get; init; } = null!;
    // [Inject] private Dispatcher Dispatcher { get; init; } = null!;

    protected override void OnInitialized() {
        _isOpen = PanelsUI.Left.IsVisible.Value;
#if false
        var isOpenDebouncer = new Debouncer<Unit>(
            TimeSpan.FromMicroseconds(30),
            _ => Dispatcher.InvokeAsync(OnLeftPanelVisibilityChanged));
        _leftPanelVisibilityChanged = () => isOpenDebouncer.Debounce(default);
#endif
        _leftPanelVisibilityChanged = OnLeftPanelVisibilityChanged;
        PanelsUI.Left.VisibilityChanged += _leftPanelVisibilityChanged;
    }

    private void OnLeftPanelVisibilityChanged() {
        var isOpen = PanelsUI.Left.IsVisible.Value;
        if (_isOpen == isOpen)
            return;

        _isOpen = isOpen;
        StateHasChanged();
    }

    public void Dispose()
        => PanelsUI.Left.VisibilityChanged -= _leftPanelVisibilityChanged;
}
