@namespace ActualChat.Chat.UI.Blazor.Components
@using ActualChat.UI.Blazor.Components.SideNav
@implements IDisposable

<SideNav Direction="SideNavDirection.LeftToRight"
         Opened="OnSideNavOpened"
         Closed="OnSideNavClosed"
         IsOpen="@NavbarUI.IsVisible">
    <div class="flex-x h-full w-full bg-04">
        <ThinLeftPanel/>
        <WideLeftPanel/>
    </div>
</SideNav>

@code {
    [Inject] private NavbarUI NavbarUI { get; init; } = null!;
    [Inject] private NavigationManager Nav { get; init; } = null!;
    [Inject] private HistoryUI HistoryUI { get; init; } = null!;
    [Inject] private BrowserInfo BrowserInfo { get; init; } = null!;

    protected override void OnInitialized() {
        NavbarUI.VisibilityChanged += OnNavbarVisibilityChanged;
    }

    public void Dispose() {
        NavbarUI.VisibilityChanged -= OnNavbarVisibilityChanged;
    }

    private void OnNavbarVisibilityChanged(object? sender, EventArgs e) {
        InvokeAsync(StateHasChanged);
    }

    private void OnSideNavOpened() {
        NavbarUI.ChangeVisibility(true);
    }

    private void OnSideNavClosed() {
        NavbarUI.ChangeVisibility(false);
    }
}
