@using ActualChat.UI.Blazor.Events
@namespace ActualChat.Chat.UI.Blazor.Components

<div class="left-panel-buttons">
    <div class="c-spacer"></div>
    <div class="c-content">
        <div class="c-logo" @onclick="@OnLogoClick">
            <logo-button-svg />
        </div>
        <div class="c-buttons">
            <NavbarButtons/>
        </div>
        <div class="c-account">
            <AccountDropdown/>
        </div>
    </div>
</div>

@code {
    [Inject] private UIEventHub UIEventHub { get; init; } = null!;

    private void OnLogoClick()
        => _ = UIEventHub.Publish(new ShowSettingsEvent());
}
