@using ActualChat.UI.Blazor.Events
@namespace ActualChat.Chat.UI.Blazor.Components

<div class="left-panel-buttons">
    <div class="c-spacer"></div>
    <div class="c-content">
        <NavbarButton
            Class="c-logo-btn"
            ButtonClass="unhovered"
            Tooltip="Settings"
            TooltipPosition="FloatingPosition.Right"
            Click="@OnLogoClick">
            <ChildContent>
                <logo-button-svg />
            </ChildContent>
            <Ending>
                <LeftLine/>
                <div class="right-line"></div>
            </Ending>
        </NavbarButton>
        <div class="c-buttons">
            <NavbarButtons/>
        </div>
        <div class="c-account">
            <div class="right-line"></div>
            <AccountDropdown/>
            <div class="right-line"></div>
        </div>
    </div>
</div>

@code {
    [Inject] private UIEventHub UIEventHub { get; init; } = null!;

    private void OnLogoClick()
        => _ = UIEventHub.Publish(new ShowSettingsEvent());
}
