@namespace ActualChat.Chat.UI.Blazor.Components
@using ActualChat.Contacts
@inherits ComputedStateComponent<PlaceMenuButton.Model>
@{
    var m = State.Value;
    if (!m.IsPlaceMember)
        return;
}

<div
    class="menu"
    data-menu="@(MenuRef.New<PlaceMenu>(PlaceId).ToString())"
    data-menu-trigger="@MenuTrigger.Primary"
    data-menu-placement="@(FloatingPosition.RightStart.ToPositionString())">

    <HeaderButton>
        <i class="icon-more-vertical text-2xl"></i>
    </HeaderButton>
</div>

@code {
    [Inject] private ChatUIHub Hub { get; set; } = null!;
    private Session Session => Hub.Session();
    private IContacts Contacts => Hub.Contacts;

    [Parameter, EditorRequired] public PlaceId PlaceId { get; set; }

    protected override ComputedState<Model>.Options GetStateOptions()
        => ComputedStateComponent.GetStateOptions(GetType(),
            static t => new ComputedState<Model>.Options() {
                InitialValue = default,
                Category = ComputedStateComponent.GetStateCategory(t),
            });

    protected override async Task<Model> ComputeState(CancellationToken cancellationToken) {
        var placeId = PlaceId;
        var places = await Contacts.ListPlaceIds(Session, cancellationToken).ConfigureAwait(false);
        var isMember = places.Contains(placeId);
        return new(isMember);
    }

    // Nested types

    public record struct Model(bool IsPlaceMember);
}
