@namespace ActualChat.Chat.UI.Blazor.Components

<div class="thin-left-panel flex md:w-30 h-full flex-x bg-04 z-10 px-2 md:px-3">
    <div class="flex grow h-full"></div>
    <div class="flex h-full flex-y">
        <div class="flex w-full py-3 justify-center">
            <img class="w-8 h-8 fill-current" alt="Actual Chat" src="/favicon.svg"/>
        </div>
        <div class="flex w-full grow flex-y items-center gap-y-2">
            <NavbarGroupToggles/>
            <div class="border-t border-placeholder w-4/5 my-2"></div>
            <NavbarPlaces/>
        </div>
        <div class="flex w-full py-2 justify-center">
            <AccountDropdown/>
        </div>
    </div>
</div>
