@namespace ActualChat.Chat.UI.Blazor.Components
@using ActualChat.UI.Blazor.Services

<div class="wide-left-panel flex-y w-full md:w-80 h-full overflow-hidden bg-03 border-r border-bg-04">
    <div class="flex-x justify-center items-center min-h-14 border-b border-bg-04 px-4 gap-x-1 panel-content">
        <SearchBox
            Placeholder="Find chat..."
            TextChanged="OnSearchBoxTextChanged"/>
        <div class="w-12 ml-2">
            <ButtonRound
                Click="@OnClick"
                Class="add-to-chat transparent"
                Tooltip="New chat..."
                TooltipPosition="TooltipPosition.Bottom">
                <i class="icon-message-add text-2xl"></i>
            </ButtonRound>
        </div>
    </div>
    <div class="navbar-content flex-auto flex-y overflow-y-hidden h-full panel-content">
        <NavbarContent/>
    </div>
</div>

@code {
    [Inject] private NavbarUI NavbarUI { get; init; } = null!;
    [Inject] private ModalUI ModalUI { get; init; } = null!;
    [Inject] private SearchUI SearchUI { get; init; } = null!;

    private void OnClick() {
        if (NavbarUI.AddButtonAction.TryGetValue(NavbarUI.ActiveGroupId, out var addAction))
            addAction();
    }

    private void OnSearchBoxTextChanged(string text)
        => SearchUI.Text.Value = text;
}
