@namespace ActualChat.Chat.UI.Blazor.Components
@inherits FusionComponentBase
@{
    var cls = Kind == ChatEntryKind.Audio ? "icon-volume-up" : "icon-text";
}

<span class="chat-entry-kind-marker @cls"></span>

@code {
    [Parameter, EditorRequired] public ChatEntryKind Kind { get; set; }
}
