@namespace ActualChat.Chat.UI.Blazor.Components
@inherits ComputedStateComponent<string>
@inject ILiveTime _liveTime

@{
    var timestamp = State.LatestNonErrorValue;
}

<span class="@(_class ??= this.DefaultClass()) text-secondary text-xs" title="@tooltip">@timestamp</span>

@code {
    private static string? _class;
    private string tooltip = "";
    private DateTime localTime;

    [Parameter]
    public DateTime Value { get; set; }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        localTime = Value.DefaultKind(DateTimeKind.Utc).ToLocalTime();

        tooltip = localTime.ToLongDateString() + ", " + localTime.ToShortTimeString();
    }

    protected override Task<string> ComputeState(CancellationToken cancellationToken)
    {
        return _liveTime.GetMomentsAgo(localTime);
    }
}
