@namespace ActualChat.Chat.UI.Blazor.Components
@inherits FusionComponentBase
@{
    var authorNameCls = IsOwn ? "text-06 " : "text-02 ";
    authorNameCls += "font-bold text-base";
}

@if (Entry.IsRemoved) {
    <div class="chat-message-quote removed">
        <LeftLine/>
        <div class="c-content">
            <div class="c-text">The message was deleted.</div>
        </div>
    </div>
} else {
    <div class="chat-message-quote" @onclick="@OnQuoteClick">
        <LeftLine/>
        <div class="c-content">
            <div class="c-author">
                <AuthorName AuthorSid="@Entry.AuthorId" Class="@authorNameCls"/>
            </div>
            <div class="c-text">@_text</div>
        </div>
    </div>
}

@code {
    private IChatMarkupHub _chatMarkupHub = null!;
    private string _text = "";

    [Inject] private ChatHub ChatHub { get; init; } = null!;
    private ChatUI ChatUI => ChatHub.ChatUI;
    private KeyedFactory<IChatMarkupHub, ChatId> ChatMarkupHubFactory => ChatHub.ChatMarkupHubFactory;

    [Parameter, EditorRequired] public ChatEntry Entry { get; set; } = null!;
    [Parameter, EditorRequired] public bool IsOwn { get; set; }

    // Shortcuts
    private ChatId ChatId => Entry.ChatId;

    protected override void OnParametersSet() {
        _chatMarkupHub = ChatMarkupHubFactory[ChatId];
        var markup = _chatMarkupHub.GetMarkup(Entry, MarkupConsumer.QuoteView);
        _text = markup.ToReadableText(MarkupConsumer.QuoteView);
    }

    private void OnQuoteClick()
        => ChatUI.HighlightEntry(Entry.Id, navigate: true);
}
