@namespace ActualChat.Chat.UI.Blazor.Components

<div class="message-menu h-8 absolute right-0 flex flex-row bg-secondary shadow-lg rounded-md p-1 mr-6 -mt-6 invisible">
    @* Reaction Button *@
    <div class="reaction-button mx-1 rounded-md">
        <div class="flex-col">
            <button class="message-menu-button">
                <svg class="w-6 h-6 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="-2 -2 28 28"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm3.5 8c.828 0 1.5.671 1.5 1.5s-.672 1.5-1.5 1.5-1.5-.671-1.5-1.5.672-1.5 1.5-1.5zm-7 0c.828 0 1.5.671 1.5 1.5s-.672 1.5-1.5 1.5-1.5-.671-1.5-1.5.672-1.5 1.5-1.5zm3.501 10c-2.801 0-4.874-1.846-6.001-3.566l.493-.493c1.512 1.195 3.174 1.931 5.508 1.931 2.333 0 3.994-.736 5.506-1.931l.493.493c-1.127 1.72-3.199 3.566-5.999 3.566z"/></svg>
            </button>
            <div class="reaction-tooltip message-menu-tooltip">
                <span>Reaction</span>
            </div>
        </div>
    </div>
    @* Reply Button *@
    <div class="reply-button mx-1 rounded-md">
        <div class="flex-col">
            <button class="message-menu-button">
                <svg class="w-6 h-6 fill-current -scale-x-100" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M14 18l10-7.088-10-6.912v3.042s-11.618 2.583-14 12.958c5.072-5.431 14-5.218 14-5.218v3.218z"/></svg>
            </button>
            <div class="reply-tooltip message-menu-tooltip">
                <span>Reply</span>
            </div>
        </div>
    </div>
    @* Edit Button *@
    <div class="edit-button mx-1 rounded-md">
        <div class="flex-col">
            <button class="message-menu-button">
                <svg class="w-6 h-6 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="-3 -3 30 30"><path d="M7.127 22.564l-7.126 1.436 1.438-7.125 5.688 5.689zm-4.274-7.104l5.688 5.689 15.46-15.46-5.689-5.689-15.459 15.46z"/></svg>
            </button>
            <div class="edit-tooltip message-menu-tooltip">
                <span>Edit</span>
            </div>
        </div>
    </div>
    @* Remove Button *@
    <div class="remove-button mx-1 rounded-md">
        <div class="flex-col">
            <button class="message-menu-button">
                <svg class="w-6 h-6 fill-current" viewBox="-3 -3 30 30" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M19 24h-14c-1.104 0-2-.896-2-2v-16h18v16c0 1.104-.896 2-2 2m-9-14c0-.552-.448-1-1-1s-1 .448-1 1v9c0 .552.448 1 1 1s1-.448 1-1v-9zm6 0c0-.552-.448-1-1-1s-1 .448-1 1v9c0 .552.448 1 1 1s1-.448 1-1v-9zm6-5h-20v-2h6v-1.5c0-.827.673-1.5 1.5-1.5h5c.825 0 1.5.671 1.5 1.5v1.5h6v2zm-12-2h4v-1h-4v1z"/></svg>
            </button>
            <div class="remove-tooltip message-menu-tooltip">
                <span>Remove</span>
            </div>
        </div>
    </div>
    @*More Button*@
    <div class="more-button mx-1 rounded-md">
        <div class="flex-col">
            <button class="text-secondary transition duration-300 ease-in-out hover:scale-110">
                <svg class="w-6 h-6 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="-3 -3 30 30"><path d="M6 12c0 1.657-1.343 3-3 3s-3-1.343-3-3 1.343-3 3-3 3 1.343 3 3zm9 0c0 1.657-1.343 3-3 3s-3-1.343-3-3 1.343-3 3-3 3 1.343 3 3zm9 0c0 1.657-1.343 3-3 3s-3-1.343-3-3 1.343-3 3-3 3 1.343 3 3z"/></svg>
            </button>
            <div class="more-tooltip message-menu-tooltip">
                <span>More</span>
            </div>
        </div>
    </div>
</div>
