@namespace ActualChat.Chat.UI.Blazor.Components

@{
    var attachment = Attachment;
    var url = ContentUrlMapper.ContentUrl(Attachment.ContentId);
    var previewUrl = ContentUrlMapper.ImagePreviewUrl(url, 400, 300);
    var imgStyle = "max-width: 400px; max-height: 300px";
    if (attachment.Height > 0 && attachment.Width > 0) {
        var width = attachment.Width;
        var height = attachment.Height;
        if (width > 400 || height > 300) {
            var ratio = Math.Min(400d / width, 300d / height);
            width = (int)Math.Round(ratio * width);
            height = (int)Math.Round(ratio * height);
        }
        imgStyle = $"width: {width}px; height: {height}px";
    }
}

<div class="message-attachment-image mt-1">
    <a class="cursor-pointer" href="@url"
       role="button" @onclick="_ => ImagePreviewUI.Show(url)" @onclick:preventDefault="true">
        <img class="inline skeleton" style="@imgStyle" src="@previewUrl" alt="image" onload="this.classList.remove('skeleton')" />
    </a>
</div>

@code {
    [Inject] private ImagePreviewUI ImagePreviewUI { get; init; } = null!;
    [Inject] private ContentUrlMapper ContentUrlMapper { get; init; } = null!;
    [Inject] private NavigationManager Nav { get; init; } = null!;

    [Parameter, EditorRequired]
    public TextEntryAttachment Attachment { get; set; } = null!;
}
