@namespace ActualChat.Chat.UI.Blazor.Components
@using Cysharp.Text
@inherits ComputedStateComponent<MessageReactions.Model>
@{
    var m = State.Value;
}
@if (!_areReactionsEnabled || !m.HasReactions) {
    return;
}
<ul class="message-reactions">
    @foreach (var reaction in m.Reactions) {
        <li class="message-reactions-reaction" @onclick="_ => ToggleReaction(reaction.Emoji)"
            data-menu="@(MenuRef.New<ReactionAuthorsMenu>(ChatEntry.CompositeId, reaction.Emoji))"
            data-menu-trigger="@MenuTriggers.RightClick.Format()">
            <span class="message-reactions-reaction-emoji">@reaction.Emoji</span>
            <span class="message-reactions-reaction-count">@reaction.Count</span>
        </li>
    }
</ul>

@code {
    private bool _areReactionsEnabled;

    [Inject] private IReactions Reactions { get; init; } = null!;
    [Inject] private Session Session { get; init; } = null!;
    [Inject] private Features Features { get; init; } = null!;
    [Inject] private UICommander UICommander { get; init; } = null!;
    [Inject] private IAuthors Authors { get; init; } = null!;
    [Parameter, EditorRequired] public ChatEntry ChatEntry { get; set; } = null!;

    protected override async Task OnInitializedAsync()
        => _areReactionsEnabled = await Features.Get<UIFeatures.EnableMessageReactions, bool>(CancellationToken.None);

    protected override ComputedState<Model>.Options GetStateOptions()
        => new() { InitialValue = new Model(ChatEntry.HasReactions, ImmutableArray<ReactionSummary>.Empty), };

    protected override async Task<Model> ComputeState(CancellationToken cancellationToken) {
        var summaries = await Reactions.List(Session, ChatEntry.CompositeId, cancellationToken);
        if (summaries.Length == 0)
            return new Model(false, summaries);

        return new Model(true, summaries);
    }

    private Task ToggleReaction(string emoji) {
        return UICommander.Run(new IReactions.ReactCommand(Session, new Reaction {
            ChatId = ChatEntry.ChatId,
            EntryId = ChatEntry.Id,
            Emoji = emoji,
        }));
    }

    public record Model(bool HasReactions, ImmutableArray<ReactionSummary> Reactions);
}
