@namespace ActualChat.Chat.UI.Blazor.Components
@inherits MenuBase

<ul>
    @foreach (var authorId in _firstAuthorIds) {
        <li class="flex-x justify-between">
            <AuthorBadge Id="@authorId" Size="SquareSize.Size5"/>
            <div class="ml-2">@_emoji</div>
        </li>
    }
</ul>

@code {
    private ImmutableList<AuthorId> _firstAuthorIds = ImmutableList<AuthorId>.Empty;
    private string _emoji = "";
    [Inject] private IReactions Reactions { get; init; } = null!;
    [Inject] private Session Session { get; init; } = null!;

    protected override async Task OnParametersSetAsync() {
        if (Arguments is {Length: 2}) {
            var chatEntryId = new ChatEntryId(Arguments[0]);
            _emoji = Arguments[1];
            var summaries = await Reactions.ListSummaries(Session, chatEntryId, CancellationToken.None).ConfigureAwait(false);
            var summary = summaries.FirstOrDefault(x => x.EmojiId == _emoji);
            if (summary == null)
                return;

            _firstAuthorIds = summary.FirstAuthorIds;
        }
    }
}
