.location-message {
    @apply flex-y;
    @apply w-80 max-w-full min-h-[12.125rem];
    @apply mt-1;
    @apply rounded-xl border border-separator;
    @apply overflow-hidden;
    @apply bg-01;
    @apply cursor-pointer;
}
.location-message.live {
    border-color: var(--blue-80);
}
.location-message .c-map-area {
    @apply relative shrink-0 h-[8.75rem];
    @apply overflow-hidden;
}
.location-message .c-map {
    @apply w-full h-full;
}
.location-message .c-countdown {
    @apply absolute top-2 left-2;
    @apply w-8 h-8;
    @apply rounded-full;
    background: var(--white-50);
    color: var(--blue-50);
    @apply text-sm font-medium;
    @apply pointer-events-none;
}
.location-message .c-countdown i {
    @apply text-base;
}
.location-message .c-map-area .btn.btn-round.btn-stop-sharing {
    @apply absolute top-2 right-2;
    @apply w-8 h-8;
    background: var(--white-80);
    color: var(--magenta-50);
}
.location-message .c-map-area .btn.btn-round.btn-stop-sharing marker-pin-off-svg {
    @apply text-xl;
}
.location-message .c-tracking-error {
    @apply absolute bottom-0 left-0 right-0;
    @apply flex-x items-center gap-1.5;
    @apply px-3 pt-8 pb-2;
    background: linear-gradient(to top, var(--black-70), transparent);
    @apply text-white text-caption-1 font-medium;
    @apply pointer-events-none;
}
.location-message .c-tracking-error i {
    color: var(--danger);
}
.location-message .c-footer {
    @apply flex-x grow items-center gap-x-2;
    @apply p-2;
}
.location-message .c-footer .c-pin {
    @apply text-2xl text-03;
}
.location-message.live .c-footer .c-pin {
    color: var(--blue-50);
}
.location-message .c-footer .c-info {
    @apply flex-y grow min-w-0;
}
.location-message .c-footer .c-title {
    @apply truncate;
    @apply text-headline-1 text-01;
}
.location-message.live .c-footer .c-title {
    color: var(--blue-50);
}
.location-message .c-footer .c-caption {
    @apply truncate;
    @apply text-xs text-03;
}
.location-message .c-footer .c-copy {
    @apply flex shrink-0;
    @apply text-03;
}
.location-message .btn.c-share-back {
    @apply flex-none;
    @apply mx-2 mb-2;
    @apply h-8 min-h-8 max-h-8 w-auto;
    @apply rounded-md;
    @apply bg-cancel;
    @apply text-primary text-caption-1;
}
