.chat-entry-kind-marker {
    @apply top-0.5;
    @apply mr-1;
}
.translation-marker {
    @apply top-1;
}
.entry-marker {
    @apply relative;
    @apply inline-flex items-center;
    @apply w-4 h-0;
}

.mention-markup {
    @apply inline-flex items-center;
    @apply max-w-48 h-5;
    @apply px-1.5;
    @apply rounded-full bg-mention-other;
    @apply text-mention-other-text font-medium;
    @apply select-none;
}
.mention-markup.dim {
    @apply bg-status-badge;
    @apply text-status;
}
.mention-markup.mention-markup-own {
    @apply bg-mention-own text-mention-own-text;
}
.mention-markup > i {
    font-size: 1.25rem;
}

.url-markup {
    @apply cursor-pointer no-underline hover:underline text-primary;
}

.plain-text-markup {
    @apply whitespace-break-spaces;
    word-break: break-word;
}
.plain-text-markup.highlight {
    @apply bg-[var(--highlighted)];
}
.plain-text-markup:empty,
.plain-text-markup:empty + br {
    @apply hidden;
}

.playable-text-markup {
    @apply whitespace-break-spaces;
    @apply select-text;
}
.playable-text-markup > span {
    @apply inline-block;
}
.playable-text-markup > span.last-word {
    white-space: nowrap;
}
body.hoverable .playable-text-markup > span:hover {
}

.playable-text-markup .highlight {
    @apply text-primary;
}
.playable-text-markup .playing-start:after {
    border-radius: 6px 0 0 6px;
}
.playable-text-markup .playing-end:after {
    border-radius: 0 6px 6px 0;
}
.playable-text-markup .playing-start-end:after {
    border-radius: 6px;
}
.playable-text-markup .played-start {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}

.selected-word-float {
    @apply absolute z-modal-overlay;
    @apply flex items-center justify-center;
    @apply rounded-full;
    @apply pointer-events-none;
    @apply text-text-1 text-transparent;
    @apply bg-[var(--blue-50-30)];
    @apply opacity-0;
    outline: 0.125rem solid var(--blue-50-30);
    outline-offset: 0;
    animation: starting-blink 0.3s ease-in-out;
}
@keyframes starting-blink {
    0%, 100% {
        outline-width: 0.125rem;
        opacity: 0;
    }
    50% {
        outline-width: 0.375rem;
        opacity: 1;
    }
}

.playable-text-markup .played-end {
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}

.playable-text-markup .playing {
    @apply relative;
}
.playable-text-markup .playing:after {
    @apply content-empty;
    @apply absolute z-minus inset-0;
    filter: opacity(0.2);
}
.playable-text-color-blue .playing,
.playable-text-color-blue .played {
    @apply bg-[var(--blue-80-20)];
}
.playable-text-color-blue .playing:after {
    @apply bg-[var(--blue-50)];
}
.playable-text-color-green .playing,
.playable-text-color-green .played {
    @apply bg-[var(--green-80-20)];
}
.playable-text-color-green .playing:after {
    @apply bg-[var(--green-50)];
}
.playable-text-color-purple .playing,
.playable-text-color-purple .played {
    @apply bg-[var(--violet-80-20)];
}
.playable-text-color-purple .playing:after {
    @apply bg-[var(--violet-50)];
}
.playable-text-color-yellow .playing,
.playable-text-color-yellow .played {
    @apply bg-[var(--sienna-80-20)];
}
.playable-text-color-yellow .playing:after {
    @apply bg-[var(--sienna-50)];
}

.preformatted-text-markup {
    @apply bg-02;
    @apply whitespace-pre-wrap;
    @apply text-sm;
}
.preformatted-text-markup > span.highlight {
    @apply text-primary;
}

.code-block-markup {
    @apply flex-y items-stretch overflow-hidden;
    @apply mr-2;
}
.code-block-markup code {
    @apply block;
    @apply p-1 px-1.5;
    @apply rounded border-2 bg-02;
    @apply overflow-y-hidden overflow-x-auto custom-scrollbar-x;
    @apply text-sm;
    /*@apply whitespace-pre-wrap;*/
}

ol.list-markup {
    /*@apply flex-y;*/
    @apply inline-block;
    @apply list-decimal list-inside;
}
ul.list-markup {
    /*@apply flex-y;*/
    @apply inline-block;
    @apply list-disc list-inside;
}

.unknown-markup {
    @apply text-red-500;
}
