@namespace ActualChat.Chat.UI.Blazor.Components
@implements IModalView<AvatarSelectModal.Model>
@inherits ComputedStateComponent<AvatarSelectModal.ViewModel>
@{
    var m = State.Value;
}

<DialogFrame HasCloseButton="true" Title="Choose avatar" Class="avatar-select-modal">
    <Body>
    @if (m == ViewModel.None) {
        return;
    }

    <div class="avatar-select">
        @foreach (var avatar in m.Avatars) {
            <Tile Click="_ => OnAvatarSelected(avatar)" Class="avatar-select-item">
                <TileItem>
                    <Icon>
                        <AvatarCard Avatar="@avatar"/>
                    </Icon>
                    <Content>
                        @avatar.Name
                    </Content>
                    <Right>
                        @if (m.SelectedAvatarId == avatar.Id) {
                            <i class="icon-star text-xl text-primary"></i>
                        }
                    </Right>
                </TileItem>
            </Tile>
        }
    </div>
    </Body>
</DialogFrame>

@code {
    [Inject] private Session Session { get; init; } = null!;
    [Inject] private IAvatars Avatars { get; init; } = null!;
    [Inject] private IAccounts Accounts { get; init; } = null!;
    [Inject] private IAuthors Authors { get; init; } = null!;

    [CascadingParameter] public Modal Modal { get; set; } = null!;
    [Parameter] public Model ModalModel { get; set; } = null!;

    protected override ComputedState<ViewModel>.Options GetStateOptions()
        => new() {
            InitialValue = ViewModel.None,
            Category = GetStateCategory(),
        };

    protected override async Task<ViewModel> ComputeState(CancellationToken cancellationToken) {
        var selectedAvatarId = await GetSelectedAvatarId(cancellationToken);
        var avatarIds = await Avatars.ListOwnAvatarIds(Session, cancellationToken);
        var avatars = await avatarIds
            .Select(x => Avatars.GetOwn(Session, x, cancellationToken))
            .Collect();
        var existingAvatars = avatars.SkipNullItems().ToImmutableArray();
        return new ViewModel(existingAvatars, selectedAvatarId);
    }

    private async Task<Symbol> GetSelectedAvatarId(CancellationToken cancellationToken)
    {
        if (ModalModel.ChatId.IsNone) {
            var account = await Accounts.GetOwn(Session, cancellationToken);
            return account.Avatar.Id;
        }
        else {
            var author = await Authors.GetOwn(Session, ModalModel.ChatId, cancellationToken);
            return author?.Avatar.Id ?? Symbol.Empty;
        }
    }

    private async Task OnAvatarSelected(AvatarFull avatar) {
        await ModalModel.OnAvatarSelected(avatar);
        Modal.Close();
    }

    public record Model(ChatId ChatId, Func<AvatarFull, Task> OnAvatarSelected);

    public record ViewModel(ImmutableArray<AvatarFull> Avatars, Symbol SelectedAvatarId) {
        public static readonly ViewModel None = new(ImmutableArray<AvatarFull>.Empty, Symbol.Empty);
    }
}
