@namespace ActualChat.Chat.UI.Blazor.Components

@{
    var rnd = new Random(Random.Shared.Next());
    var count = 3 + rnd.Next(6);
}

<div class="chat-list-skeleton chat-list">
    @for (var i = 0; i < count; i++) {
        <ChatListItemSkeleton />
    }
</div>
