@namespace ActualChat.Chat.UI.Blazor.Components
@inherits MenuBase

<div class="sort-menu">
    <div class="p-2 text-02 font-semibold">
        Sort by:
    </div>
    <MenuEntry
        Icon="icon-sort-by-recent"
        Text="Recency of anyone's activity"
        Click="@(() => OnClick(ChatListOrder.ByLastEventTime))">
    </MenuEntry>
    <MenuEntry
        Icon="icon-sort-by-me"
        Text="Recency of your own activity"
        Click="@(() => OnClick(ChatListOrder.ByOwnUpdateTime))">
    </MenuEntry>
    <MenuEntry
        Icon="icon-sort-by-message"
        Text="Count of unread messages"
        Click="@(() => OnClick(ChatListOrder.ByUnreadCount))">
    </MenuEntry>
    <MenuEntry
        Icon="icon-sort-by-alphabet"
        Text="Alphabet"
        Click="@(() => OnClick(ChatListOrder.ByAlphabet))">
    </MenuEntry>
</div>

@code {
    [Inject] private ChatListUI ChatListUI { get; init; } = null!;

    private void OnClick(ChatListOrder order)
        => ChatListUI.ActiveChatListView.Value?.SetOrder(order);
}
