@namespace ActualChat.UI.Blazor.Components
@inherits LayoutComponentBase
@implements IDisposable
@inject NavigationManager _navigator
@inject UICommandFailureList _commandFailureList
@{
    var failures = _commandFailureList.Items;
    var version = (GetType().Assembly.GetInformationalVersion() ?? "n/a").Replace('+', ' ');
}

<Navbar />
<div class="main-layout-common main-layout-blue">
    <input id="navbar-toggle" class="hidden" type="checkbox" />
    <nav id="navbar-links" class="nav-common nav-blue">
        <div class="flex-1 flex flex-col overflow-y-auto">
            <div class="navbar-logo-common">
                <NavbarLogo />
            </div>
            <div class="navbar-links-common">
                <NavbarLinks />
            </div>
        </div>
        @* Bottom sticky panel *@
        <div class="flex flex-col sticky items-stretch">
            <div class="navbar-version-common">
                @version
                <span class="px-1">/</span>
                <BlazorModeToggle />
            </div>
            <div class="navbar-account-mode-common navbar-account-mode-blue">
                <AccountDropdown />
            </div>
        </div>
    </nav>
    <div class="flex-1 overflow-y-auto flex flex-col relative">
        <div class="bg-white flex-1 overflow-y-auto">
            @foreach (var failure in failures) {
                <WhenCommandError
                    Error="failure.Result?.Error"
                    Dismissed="@(_ => _commandFailureList.Remove(failure.CommandId))" />
            }
            @Body
        </div>
    </div>
</div>

@code {
    protected override void OnInitialized() {
        _navigator.LocationChanged += OnLocationChanged;
        _commandFailureList.Changed += OnCommandFailureListChanged;
    }

    public void Dispose() {
        _navigator.LocationChanged -= OnLocationChanged;
        _commandFailureList.Changed -= OnCommandFailureListChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
        => _commandFailureList.Clear();

    private void OnCommandFailureListChanged()
        => InvokeAsync(StateHasChanged);
}
