@namespace ActualChat.UI.Blazor.Components
@inherits LayoutComponentBase
@layout MainLayout

@{
    var cssClass = RouteData.PageType.Name.TrimSuffix("Page").ToLowerInvariant() + "-page";
}
<div class="@cssClass h-full w-full flex flex-col flex-nowrap justify-between overflow-y-auto">
    <div class="header flex flex-row justify-between mt-0 font-medium bg-gray-800 text-gray-200 p-3 select-none">
        <PageLayoutHeader/>
    </div>
    <div class="content flex-1 flex flex-col overflow-y-auto bg-white p-3">
        @Body
    </div>
    <div class="footer flex sticky m-0">
        <PageLayoutFooter/>
    </div>
</div>

@code {
    [CascadingParameter] RouteData RouteData { get; set; } = null!;
}
