@namespace ActualChat.UI.Blazor.Components
@inherits LayoutComponentBase
@layout MainLayout

@{
    var cssClass = RouteData.PageType.Name.TrimSuffix("Page").ToLowerInvariant() + "-page";
}
<div class="@cssClass chat-page-common chat-page-blue">
    <div class="chat-header-common chat-header-blue">
        <PageLayoutHeader/>
    </div>
    <div class="content content-blue">
        @Body
    </div>
    <div class="footer flex sticky m-0">
        <PageLayoutFooter/>
    </div>
</div>

@code {
    [CascadingParameter] RouteData RouteData { get; set; } = null!;
}
