.onboarding-modal.modal-frame {
    @apply md:w-88 lg:w-96 2xl:w-96;
    @apply p-0;
    @apply text-01;
}
.stepper.onboarding-stepper {
    @apply md:h-192;
}
.step-tiles {
    @apply mt-6 flex-y gap-y-4;
}
.step-tile {
    @apply flex-x gap-x-4;
    @apply pl-4 pt-2 pb-2 pr-4;
    @apply bg-03;
    @apply rounded-lg;
}
.step-tile-body {
    @apply flex-y gap-y-2 grow;
}
.step-tile-title {
    @apply truncate;
    @apply text-headline-1;
}
.step-tile-subtitle {
    @apply text-03 text-caption-2;
}
.onboarding-modal .stepper-footer {
    @apply sticky bottom-0;
}
.onboarding-modal .stepper-footer .btn-group {
    @apply justify-center;
    @apply max-w-none md:max-w-none;
}
.onboarding-modal .stepper-footer .btn-group .btn {
    @apply max-w-none md:max-w-none;
}
.onboarding-modal .avatar-step {
    @apply flex-y gap-y-4;
}
.onboarding-modal .c-upload {
    @apply flex-none flex-x gap-x-4;
    @apply my-8;
}
.onboarding-modal .c-upload .c-buttons {
    @apply flex-1 flex-y justify-center gap-y-2;
}
.onboarding-modal .form .c-upload .c-buttons label.upload-label {
    @apply text-primary;
}
.onboarding-modal .form-block {
    @apply p-0;
}

.analytics-step {
    @apply flex-y gap-y-2;
    @apply mt-6;
}
.analytics-step > .c-subtitle {
    @apply self-center;
    @apply text-headline-1;
}
.analytics-step > .c-content {
    @apply p-4;
    @apply rounded-lg;
    @apply bg-input;
    @apply text-justify text-headline-1 font-normal;
}
.analytics-step > .c-content > a {
    @apply bg-transparent;
    @apply font-medium;
}
body.hoverable .analytics-step > .c-content > a:hover {
    @apply text-primary;
}

.onboarding-modal .chat-roulette-step {
    @apply flex-y gap-y-4;
}

.step-tile > .c-docs {
    @apply flex;
    @apply flex-y gap-y-2;
    @apply flex-1;
}

.step-tile > .c-docs a {
    @apply bg-transparent;
    @apply underline;
}

body.hoverable .step-tile > .c-docs a:hover {
    @apply text-primary;
}

.sign-in-step .c-recaptcha-info {
    @apply text-caption-2 text-03;
}
.sign-in-step .c-recaptcha-info .recaptcha-link {
    @apply text-caption-3 text-primary;
}

/* Specific styles */
.stepper:has(.stepper-image-filler) .stepper-header {
    @apply hidden;
}
.stepper-image-filler {
    @apply flex items-center justify-center;
    @apply max-h-32;
    @apply mt-8 mb-4;
    @apply overflow-hidden;
}
body.narrow .stepper-image-filler {
    @apply max-h-none;
    @apply my-12;
}
.stepper-image-filler img {
    @apply max-h-full;
    transform: scaleX(-1);
}

.stepper:has(.onboarding-tutorial) {
    @apply px-8;
    @apply overflow-hidden;
    @apply text-white;
    background: radial-gradient(152.59% 69.81% at 42.78% 125.88%, #FF3880 0%, #0036A3 100%);
}
.stepper:has(.onboarding-tutorial) .stepper-header {
    @apply hidden;
}
.stepper-body:has(.onboarding-tutorial) {
    @apply justify-end;
    @apply overflow-y-auto;
    mask-image: linear-gradient(to top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 2rem);
}
.stepper-body:has(.onboarding-tutorial.tutorial-4) {
    @apply justify-between;
}
.stepper-body:has(.onboarding-tutorial) .stepper-filler {
    @apply hidden;
}
.stepper-content:has(.onboarding-tutorial) {
    scrollbar-width: none;
}
.onboarding-stepper .stepper-content {
    @apply pb-4;
    @apply overflow-y-auto overflow-x-hidden;
}
.onboarding-tutorial {
    @apply flex-y gap-y-4;
}
.onboarding-tutorial .c-title > p {
    @apply text-3.5xl font-semibold leading-8;
    font-size: clamp(1.5rem, 2.5vw, 1.75rem);
    line-height: clamp(1.5rem, 2.5vw, 1.75rem);
}
.onboarding-tutorial .c-description {
    @apply text-headline-7 font-light leading-5;
    font-size: clamp(1rem, 1.75vw, 1.375rem);
    line-height: clamp(1rem, 1.75vw, 1.375rem);
}
.tutorial-btn-wrapper {
    @apply relative;
    @apply flex-none flex items-center justify-center;
    @apply w-14 h-14;
    @apply rounded-full border border-[var(--white-30)];
}

.tutorial-btn-wrapper .tutorial-btn {
    @apply flex-none flex items-center justify-center;
    @apply w-12 h-12;
    @apply rounded-full;
    @apply overflow-hidden;
    @apply bg-white;
    @apply text-[var(--blue-30)];
    box-shadow: 0 4px 9px 0 rgba(41, 112, 255, 0.29);
}
.tutorial-btn-wrapper.step-4 .tutorial-btn {
    @apply bg-[var(--magenta-60)];
    @apply text-white;
}
.tutorial-btn-wrapper .tutorial-btn::before {
    @apply content-empty;
    @apply absolute;
    @apply w-14 h-14;
    @apply rounded-full border-2 border-transparent;
    border-top-color: var(--magenta-60);
    transform: rotate(45deg);
}
.tutorial-btn-wrapper.step-2 .tutorial-btn::before {
    border-right-color: var(--magenta-60);
}
.tutorial-btn-wrapper.step-3 .tutorial-btn::before {
    border-right-color: var(--magenta-60);
    border-bottom-color: var(--magenta-60);
}
.tutorial-btn-wrapper.step-4 .tutorial-btn::before {
    border-color: var(--magenta-60);
}

.stepper-skip-filler {
    @apply flex items-center justify-end;
    @apply h-10;
    @apply pr-1;
}
.stepper-skip-filler .btn-h {
    @apply absolute top-2;
    @apply text-white;
}
body.hoverable .stepper-skip-filler .btn-h:hover {
    @apply text-white;
}
.onboarding-stepper:has(.onboarding-tutorial) .stepper-footer {
    @apply pt-4;
}

/* Phone verification */
.phone-verification-modal .dialog-body {
    @apply flex-1 flex-y;
}
.phone-verification-modal .dialog-body > .c-image {
    @apply flex-1 flex-x items-center justify-center;
}
.phone-verification-modal .dialog-body > .c-content {
    @apply flex-1 flex-y gap-y-4;
    @apply p-4;
}
.phone-verification-modal .dialog-body > .c-content .c-title {
    @apply font-bold text-2xl text-02;
}
.phone-verification-modal .dialog-body > .c-content .c-title {
    @apply text-headline-1 text-02;
}
