@namespace ActualChat.UI.Blazor.App.Components
@using System.ComponentModel.DataAnnotations
@inherits Step;

@if (CurrentStep != this) {
    return;
}

<div class="phone-verifier">
    @if (Stepper.CurrentStepIndex == 0) {
        <p class="text-title-1 text-center">Welcome to Actual Chat!</p>
    }
    <p class="text-headline-1 mt-6">
        Please confirm your phone number.
    </p>
    <p class="text-headline-1 mt-2">
        We collect this information to help you find friends in your contacts list who are already using Actual Chat.
    </p>
    <Form
        Class="mt-6"
        Model="@_model">
        <AsyncDataAnnotationsValidator @ref="_validator"/>
        <FormSection
            For="() => _model.Phone"
            InputId="phone"
            Label="Phone"
            Class="grow"
            IsLabelInsideInput="true"
            IsRequired="true">
            <ChildContent>
                <InputText
                    id="phone"
                    @bind-Value="_model.Phone"
                    autocomplete="tel"
                    type="tel"
                    inputmode="tel"/>
            </ChildContent>
            <Right>
                @if (_showVerificationStatus) {
                    <VerificationStatus
                        IsVerified="_isVerified ?? false"
                        Class="w-8 h-8" />
                }
            </Right>
        </FormSection>
        @if (CaptchaUI.IsConfigured) {
        <div class="c-recaptcha-info">
            This site is protected by reCAPTCHA and the Google
            <a href="https://policies.google.com/privacy">Privacy Policy</a> and
            <a href="https://policies.google.com/terms">Terms of Service</a> apply.
        </div>
        }
    </Form>
</div>

@code {
    private readonly Model _model = new();
    private ValidationState _validationState = ValidationState.None;
    private bool _showVerificationStatus;
    private bool? _isVerified;
    private bool? _skipped;
    private AsyncDataAnnotationsValidator _validator = null!;

    [Inject] private UIHub UIHub { get; init; } = null!;
    [Inject] private IPhones Phones { get; init; } = null!;
    [Inject] private OnboardingUI OnboardingUI { get; init; } = null!;
    [Inject] private CaptchaUI CaptchaUI { get; init; } = null!;
    [Inject] private ICaptcha Captcha { get; init; } = null!;
    [Inject] private TotpUI TotpUI { get; init; } = null!;
    private Session Session => UIHub.Session();
    private IAccounts Accounts => UIHub.Accounts;
    private UICommander UICommander => UIHub.UICommander();
    private ModalUI ModalUI => UIHub.ModalUI;

    [Parameter, EditorRequired] public AccountFull Account { get; set; } = null!;

    public override bool CanSkip => _isVerified is null or false;

    public override string NextTitle => "Verify";

    public override bool IsCompleted {
        get {
            if (Account.HasVerifiedPhone())
                return true;

            // Can move forward if already verified in case when Skip and Back were pressed
            if (_isVerified is true)
                return true;

            // Can't move forward if skipped in case when Skip and Back were pressed
            if (_skipped is true)
                return false;

            return OnboardingUI.UserSettings.Value.IsVerifyPhoneStepCompleted;
        }
    }

    protected override void MarkCompleted()
        => OnboardingUI.UpdateUserSettings(OnboardingUI.UserSettings.Value with { IsVerifyPhoneStepCompleted = true });

    protected override async Task OnInitializedAsync() {
        var account = await Accounts.GetOwn(Session, default);
        _showVerificationStatus = !account.HasVerifiedPhone();
        if (!account.Phone.IsNone)
            _model.Phone = account.Phone.ToReadable();

        await CaptchaUI.EnsureInitialized();
    }

    protected override Task<bool> Validate()
        => _validator.Validate(CancellationToken.None);

    protected override ValueTask OnSkip() {
        _skipped = true;
        return ValueTask.CompletedTask;
    }

    protected override async Task<bool> Save() {
        var phone = await Phones.Parse(_model.Phone, default);
        var account = await Accounts.GetOwn(Session, default);
        var command = new Accounts_Update(Session, account with { Phone = phone }, account.Version);
        var (_, error) = await UICommander.Run(command);
        if (error is not null)
            return false;

        if (!account.HasVerifiedPhone()) {
            var hasSentCodeRecently = await TotpUI.HasSentCodeRecently(CancellationToken.None);
            if (hasSentCodeRecently) {
                _validationState = ValidationState.CodeSentRecently;
                StateHasChanged();
                return await ShowTotpVerificationModal();
            }

            if (CaptchaUI.IsConfigured) {
                _validationState = ValidationState.Validating;
                StateHasChanged();
                try {
                    var captchaToken = await CaptchaUI.GetActionToken(Constants.Recaptcha.Actions.PhoneSignIn, CancellationToken.None);
                    var validationResult = await Captcha.Validate(captchaToken, Constants.Recaptcha.Actions.PhoneSignIn, CancellationToken.None);
                    _validationState = validationResult.Success
                        ? ValidationState.Valid
                        : ValidationState.Invalid;
                }
                catch {
                    _validationState = ValidationState.Invalid;
                }
                finally {
                    StateHasChanged();
                }
            }

            return await ShowTotpVerificationModal();
        }

        return true;

        async Task<bool> ShowTotpVerificationModal() {
            var verificationModel = new PhoneVerificationModal.Model(phone);
            var modalRef = await ModalUI.Show(verificationModel);
            await modalRef.WhenClosed;
            _showVerificationStatus = verificationModel.IsVerified;
            _isVerified = verificationModel.IsVerified;
            if (verificationModel is { IsVerified: false, CanSkip: false })
                return false;
            _showVerificationStatus = true;
            return true;
        }
    }

    public class Model {
        [Required, PhoneNumber] public string Phone { get; set; } = PhoneCodes.Default.DisplayCode;
    }
}
