@using ActualChat.Invite
@using ActualChat.UI.Blazor.Services
@using ActualChat.Chat
@namespace ActualChat.UI.Blazor.Components

@if (Invites.Count > 0) {
    @foreach (var invite in Invites) {
        var link = GetLink(invite);
        var caption = GetCaption(invite);
        var isNew = !NewInviteId.IsNullOrEmpty() && invite.Id.Equals(NewInviteId);

        <div class="invite-list-item">
            <div class="link">
                <TileItem>
                    <Icon>
                        <i class="icon-link-2 text-2xl"></i>
                    </Icon>
                    <Content>
                        @link.ShortAbsoluteUrl
                        @if (isNew) {
                            <sup class="text-badge ml-0.5">new</sup>
                        }
                    </Content>
                    <Caption>
                        @caption
                    </Caption>
                </TileItem>
            </div>
            <div class="actions">
                @if (AllowRevoke) {
                    <Button Class="btn-modal" Click="@(() => Revoke(invite))">
                        <i class="icon-trash03 text-xl"></i>
                        Revoke
                    </Button>
                }
                <Button Class="btn-modal" Click="@(() => OnShareClick(invite))">
                    <i class="icon-share-more text-xl"></i>
                    Share
                </Button>
            </div>
        </div>
    }
}

@code {
    [Inject] private IServiceProvider Services { get; init; } = null!;
    [Inject] private UrlMapper UrlMapper { get; init; } = null!;

    private ShareUI ShareUI => Services.GetRequiredService<ShareUI>();

    [Parameter, EditorRequired] public ApiArray<Invite> Invites { get; set; } = ApiArray<Invite>.Empty;
    [Parameter, EditorRequired] public string LinkFormat { get; set; } = "";
    [Parameter] public bool AllowRevoke { get; init; }
    [Parameter] public string NewInviteId { get; init; } = "";

    private DisplayUrl GetLink(Invite invite)
        => Links.Invite(LinkFormat, invite.Id).ToDisplayUrl(UrlMapper);

    private string GetCaption(Invite invite) {
        switch (invite.Details.Option) {
            case UserInviteOption:
                return "User invite link";
            case ChatInviteOption:
                return "Private join link";
            default:
                return "Unknown link";
        }
    }

    private Task Revoke(Invite invite)
        => Services.UICommander().Run(new Invites_Revoke(Services.Session(), invite.Id));

    private async Task OnShareClick(Invite invite) {
        switch (invite.Details.Option) {
            case UserInviteOption: {
                ShareUI.ShareLink(GetLink(invite).AbsoluteUrl, "Share invite", "User invite link");
                return;
            }
            case ChatInviteOption chatDetails: {
                var linkDescription = "Chat join link";
                var chats = Services.GetRequiredService<IChats>();
                var chat = await chats.Get(Services.Session(), chatDetails.ChatId, default);
                if (chat != null)
                    linkDescription = $"Chat '{chat.Title}' join link";
                ShareUI.ShareLink(GetLink(invite).AbsoluteUrl, "Share chat", linkDescription);
                return;
            }
            default:
                return;
        }
    }
}
