@namespace Blazored.Modal

<div class="bm-container @Position @OverlayCustomClass"
     @ref="_modalReference"
     @onclick="HandleBackgroundClick">

    <FocusTrap @ref="FocusTrap" IsActive="ActivateFocusTrap">
        <div class="@ModalClass" role="dialog" aria-modal="true" @onclick:stopPropagation="true">
            <div class="bm-content">
                <ErrorBarrier>
                    <CascadingValue Value="this">
                        @Content
                    </CascadingValue>
                </ErrorBarrier>
            </div>
        </div>
    </FocusTrap>

</div>
