@namespace ActualChat.Chat.UI.Blazor.Components
@inherits AuthorBadgeBase
@{
    var m = State.Value;
}

<div class="avatar-badge">
    <AvatarCircle
        Avatar="@m.Author.Avatar" Size="SquareSize.Size9" Presence="@m.Presence"
        Click="@_onClickCallback"/>
</div>

@code {
    private EventCallback _onClickCallback;

    [Parameter] public EventCallback<AuthorId> Click { get; set; }

    public ChatMessageAuthorCircle() {
        ShowPresence = true;
        ShowRecording = true;
    }

    protected override void OnInitialized() {
        _onClickCallback = NoStateHasChanged.EventCallback(OnAvatarBadgeClick);
        base.OnInitialized();
    }

    private void OnAvatarBadgeClick()
        => Click.InvokeAsync(AuthorId);
}
