<button class="btn-download @Class">
    <div class="c-content">
        Download App
    </div>
    <i class="icon-download text-2xl font-thin text-04 c-icon"></i>
</button>

@code {
    [Parameter] public string Class { get; set; } = "";
}
