<button class="download-btn" data-href="@(Links.Apps.Android)">
    <div class="text-04 text-headline-1">
        Download for Android
    </div>
    <div>
        <img draggable="false" src="/dist/images/landing/android.svg" alt="android">
    </div>
</button>
