<button class="download-btn" data-href="@(Links.Apps.Android)">
    <div class="text-04 font-semibold">
        Download for Android
    </div>
    <div>
        <img src="/dist/images/landing/android.svg" alt="android">
    </div>
</button>
