<button class="download-btn" data-href="@(Links.Apps.Android)">
    <div class="text-04 text-headline-1">
        Download App
    </div>
    <i class="icon-download text-2xl font-thin text-04"></i>
</button>
