<div class="full-screen-page page-links">
    <div class="page-links-wrapper overflow-hidden">
        <div class="flex-y items-center justify-center h-full overflow-hidden">
            <div class="page-title">
                Download Actual.chat
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 w-full md:w-auto">
                <LandingDownloadTile Link="@(Links.Apps.Android)">
                    <Title>For Android</Title>
                    <Text>Mobile, Tablet</Text>
                    <Brand>
                        <img draggable="false" src="/dist/images/landing/google-play.svg" alt="Google Play">
                    </Brand>
                    <QrCode>
                        <img draggable="false" src="/dist/images/landing/google-play-qr.svg" alt="QR Google Play">
                    </QrCode>
                </LandingDownloadTile>
                <LandingDownloadTile Link="@(Links.Apps.iOS)">
                    <Title>For iOS</Title>
                    <Text>Mobile, Tablet</Text>
                    <Brand>
                        <img draggable="false" src="/dist/images/landing/app-store.svg" alt="App Store">
                    </Brand>
                    <QrCode>
                        <img draggable="false" src="/dist/images/landing/app-store-qr.svg" alt="App Store QR">
                    </QrCode>
                </LandingDownloadTile>
                <LandingDownloadTile>
                    <Title>For Windows</Title>
                    <Text>Desktop</Text>
                    <Brand>
                        <img draggable="false" src="/dist/images/landing/microsoft-store.svg" alt="Microsoft Store">
                    </Brand>
                </LandingDownloadTile>
                <LandingDownloadTile>
                    <Title>For Web</Title>
                    <Text>Mobile, Desktop</Text>
                    <Brand>
                        <div class="flex-x items-center gap-2 rounded-lg px-2 py-1 bg-black">
                            <span class="text-base font-medium text-04">Sign in Web App</span>
                            <i class="icon-monitor text-2xl text-04 font-thin"></i>
                        </div>
                    </Brand>
                </LandingDownloadTile>
                <button class="btn-download web-signin transparent btn-to-main-page text-04 md:hidden">
                    Back to Main page
                </button>
            </div>
        </div>
    </div>
</div>
