@namespace ActualChat.UI.Blazor.App

<h1 class="title-text my-4 text-4.5xl md:text-7xl @Class">
    @ChildContent
</h1>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string Class { get; set; } = "";
}
