<div class="page-links hidden">
    <div class="page-links-wrapper">
        <div class="c-content">
            <div class="page-title">
                Get Actual Chat
            </div>
            <DownloadTiles/>
            <button class="btn-download transparent btn-to-main-page" @onclick="@BackToMainPageClick">
                Back to Main page
            </button>
        </div>
    </div>
</div>

@code {
    [Parameter] public EventCallback BackToMainPageClick { get; set; }
}
