@namespace ActualChat.UI.Blazor
@using ActualChat.UI.Blazor.App.Pages.Landing

<div class="c-content">
    <div class="c-title">Where Actual Chat stands out?</div>

    @* Row 1 *@
    <div class="c-row c-first">
        <LandingImageCard Class="title-card">
            <CardTitle>
                At Home
            </CardTitle>
        </LandingImageCard>
        <LandingImageCard>
            <CardImage>
                <img draggable="false" src="/dist/images/landing/card-family-chats.svg" alt="">
            </CardImage>
            <CardTitle>
                Family chats
            </CardTitle>
            <CardText>
                <LandingImageCardItem>
                    Talk to the whole family without bothering them with calls.
                </LandingImageCardItem>
                <LandingImageCardItem>
                    Allow both your youngsters and grandparents to use a medium that's universally accessible
                    and comfortable.
                </LandingImageCardItem>
            </CardText>
        </LandingImageCard>
        <LandingImageCard>
            <CardImage>
                <img draggable="false" src="/dist/images/landing/card-classmate-chats.svg" alt="">
            </CardImage>
            <CardTitle>
                Friend, Classmate Chats
            </CardTitle>
            <CardText>
                <LandingImageCardItem>
                    Discover the ultimate storytelling platform, ensuring your tone and details are captured both in text and voice.
                </LandingImageCardItem>
                <LandingImageCardItem>
                    Experience a fresh way to enhance your verbal communication skills.
                </LandingImageCardItem>
            </CardText>
        </LandingImageCard>
    </div>

    <div class="row-title">At Work</div>

    @* Row 2 *@
    <div class="c-row c-last">
        <LandingImageCard>
            <CardImage>
                <img draggable="false" src="/dist/images/landing/card-remote-team.svg" alt="">
            </CardImage>
            <CardTitle>
                Remote Teams, Onsite Crews
            </CardTitle>
            <CardText>
                <LandingImageCardItem>
                    Improve team communication by lowering the barrier for asking.
                </LandingImageCardItem>
                <LandingImageCardItem>
                    Deliver detailed responses rapidly: remember, we speak 5x faster than we type.
                </LandingImageCardItem>
                <LandingImageCardItem>
                    Boost employee productivity (and happiness!) by replacing many of the endless meetings
                    with <em>actual</em> chats.
                </LandingImageCardItem>
            </CardText>
        </LandingImageCard>
        <LandingImageCard>
            <CardImage>
                <img draggable="false" src="/dist/images/landing/card-webinar.svg" alt="">
            </CardImage>
            <CardTitle>
                Webinars, Online Classes,
                and Presentations
            </CardTitle>
            <CardText>
                <LandingImageCardItem>
                    Use Actual Chat as a side communication channel with any streaming platform.
                </LandingImageCardItem>
                <LandingImageCardItem>
                    Amplify audience engagement by turning listeners into active contributors.
                </LandingImageCardItem>
                <LandingImageCardItem>
                    Let your attendees ask and address questions while your presentation unfolds.
                </LandingImageCardItem>
            </CardText>
        </LandingImageCard>
        <LandingImageCard>
            <CardImage>
                <img draggable="false" src="/dist/images/landing/card-customer-support.svg" alt="">
            </CardImage>
            <CardTitle>
                Customer Support
            </CardTitle>
            <CardText>
                <LandingImageCardItem>
                    Sidestep the anxiety associated with traditional calls.
                </LandingImageCardItem>
                <LandingImageCardItem>
                    Boost customer satisfaction with no perceived wait times, text+voice responses, and a complete chat history.
                </LandingImageCardItem>
                <LandingImageCardItem>
                    Use Actual Chat on your website’s "Contact Us" page.
                </LandingImageCardItem>
            </CardText>
        </LandingImageCard>
    </div>
</div>
