@namespace ActualChat.UI.Blazor.App
@{
    var cls = IsOpen ? "open" : "closed";
}

<div class="landing-menu @cls">
    <div class="c-container">
        <div class="menu-header">
            <div class="flex">
                <img src="/dist/images/landing/ac-icon-dark.svg" alt="icon" class="dark-icon">
            </div>
            <div class="px-2 self-center max-w-40">
                <img src="/dist/images/landing/ac-title-dark.svg" alt="brand" class="dark-title">
            </div>
        </div>
        <div class="menu-content">
            <button onclick="@Signin">
                Sign in
            </button>
            <a href="/docs/privacy">
                Privacy
            </a>
            <a href="/docs/terms">
                Terms
            </a>
            <a href="/docs/cookies">
                Cookie Preferences
            </a>
            @if (EnableIncompleteUI) {
                <a href="/docs/privacy">
                    Contact Us
                </a>
                <button>
                    For Business
                </button>
                <button>
                    API
                </button>
                <button>
                    Apps
                </button>
                <button>
                    FAQ
                </button>
            }
        </div>
        <div class="menu-footer">
            <ButtonRound>
                <img src="/dist/images/landing/github-gray.svg" alt="github">
            </ButtonRound>
            @if (EnableIncompleteUI) {
                <ButtonRound>
                    <img src="/dist/images/landing/facebook-gray.svg" alt="facebook">
                </ButtonRound>
                <ButtonRound>
                    <img src="/dist/images/landing/telegram-gray.svg" alt="telegram">
                </ButtonRound>
                <ButtonRound>
                    <img src="/dist/images/landing/medium-gray.svg" alt="medium">
                </ButtonRound>
            }
        </div>
    </div>
</div>

@code {
    [Parameter] public bool IsOpen { get; set; }
    [Parameter] public bool EnableIncompleteUI { get; set; }
    [Parameter] public EventCallback Signin { get; set; }
}
