.landing {
    @apply flex-y;
    @apply select-text;
    @apply bg-01 text-01;
    color-scheme: only light;
}
.landing .landing-video,
.landing .landing-video-plug {
    @apply h-full;
    @apply rounded-2xl;
    max-height: inherit;
}
.landing .landing-video {
    @apply cursor-pointer;
}
.landing .page {
    @apply relative;
    @apply flex-y justify-center items-center;
    @apply px-16 lg:px-32;
    @apply overflow-hidden;
    @apply bg-01;
}
.landing .page > .c-content {
    @apply gap-x-12;
    @apply h-full w-full max-w-320 lg:max-w-352;
    @apply pt-30 pb-16;
    @apply overflow-hidden;
}
body.narrow .landing .page > .c-content {
    @apply gap-y-8;
    @apply pt-24 pb-16;
}
body.narrow .landing .page {
    @apply px-4;
}

/* General styles */

.landing .page a[target="_blank"] {
    @apply underline hover:no-underline;
}

.landing .page > .c-content .main-text {
    @apply flex-1 flex-y self-center;
}
body.narrow .landing .page > .c-content .main-text {
    @apply gap-y-2;
}
.landing .page > .c-content .main-text > p {
    @apply text-base leading-4.5 font-normal;
    @apply md:text-xl md:leading-6;
    @apply lg:text-3.5xl lg:leading-9;
}
.landing .page > .c-content .main-image {
    @apply relative;
    @apply flex justify-start items-center;
    @apply rounded-2xl;
    @apply overflow-hidden;
}

.landing .page > .c-content .main-image .hover-plug {
    @apply absolute inset-0 z-button;
    @apply hidden;
    @apply items-center justify-center;
    @apply always-white;
    @apply cursor-pointer;
    transition-behavior: allow-discrete;
    transition-property: display, backdrop-filter, filter, -webkit-filter;
    transition-duration: 150ms;
    filter: opacity(0);
    backdrop-filter: blur(0px) brightness(1);
}
.landing .page > .c-content .main-image:hover .hover-plug {
    @apply flex;
    backdrop-filter: blur(2px) brightness(0.5);
    filter: opacity(1);
    @starting-style {
        backdrop-filter: blur(0px) brightness(1);
        filter: opacity(0);
    }
}
.landing .page > .c-content .main-image:hover .hover-plug .play-btn {
    @apply flex-none flex items-center justify-center;
    @apply w-20 h-20;
    @apply rounded-full;
    @apply overflow-hidden;
    @apply bg-pal-black-50;
    @apply always-white;
}
.landing .page > .c-content .main-image .hover-plug:active .play-btn-icon {
    @apply scale-125;
    @apply transition-transform duration-150;
}

.landing-auth-btn.btn.btn-round {
    @apply min-w-8 max-w-8 min-h-8 max-h-8;
    @apply text-lg md:text-base;
}
.landing-auth-btn.btn.btn-round .btn-content {
    @apply min-w-8 max-w-8 min-h-8 max-h-8;
    @apply rounded-full;
}
.landing .title-text {
    @apply my-0;
    @apply text-start;
    @apply text-5xl;
}
.landing .title-text.highlight {
    @apply font-bold;
}
.landing .title-text.card-text {
    @apply text-4.5xl md:text-3.5xl lg:text-5xl;
}
body.narrow .landing .title-text {
    @apply self-center;
    @apply py-4;
    @apply text-4.5xl;
    @apply leading-11;
}
body.narrow .landing .title-text.main {
    @apply text-3xl;
}

/* Header */
.landing .landing-header {
    @apply fixed z-button top-0;
    @apply flex-x items-center justify-center;
    @apply h-16;
    @apply py-2 px-16;
    @apply bg-transparent;
    @apply backdrop-blur-xl;
    @apply opacity-100;
    @apply duration-300 ease-in-out;
    transition-property: opacity;
    left: var(--safe-area-left);
    right: var(--safe-area-right);
    padding-top: calc(0.5rem + var(--safe-area-top));
    height: calc(4rem + var(--safe-area-top));
}
.landing .landing-header > .c-content {
    @apply flex-1 flex-x;
    @apply max-w-320 lg:max-w-352;
}
.landing .landing-header > .c-content {
    @apply flex-1 flex-x;
}
.landing .landing-header > .c-content > .c-title-wrapper {
    @apply flex-1 flex-x;
}
.landing .landing-header > .c-content > .c-title-wrapper > .c-title {
    @apply self-center;
    @apply min-w-fit;
    @apply px-2 -mt-1.5;
}
.landing .landing-header .c-title img {
    @apply max-w-none;
}
.landing .landing-header > .c-right {
    @apply flex-none justify-end;
}

.landing .landing-header.hide-header {
    @apply opacity-0;
}
@media (min-width: 1024px) {
    .landing .landing-header {
        @apply px-32;
    }
}
body.narrow .landing .landing-header {
    @apply gap-x-2;
    @apply px-2;
    height: calc(3.5rem + var(--safe-area-top));
}
body.wide.app-maui .landing .landing-header {
    @apply px-32;
}
.landing .landing-header .light-icon,
.landing .landing-header .dark-icon,
.landing .menu-header .dark-icon,
.docs-header .menu-header .dark-icon,
.docs-left-panel .c-header .dark-icon {
    @apply min-w-10 min-h-10 max-h-10;
    @apply ease-in-out duration-300;
    transition-property: opacity;
}

/* Light & Dark headers */
.landing .landing-header .light-header,
.landing .landing-header .dark-header {
    @apply flex-1 flex-x items-center gap-x-2;
}
.landing .landing-header .dark-header {
    @apply absolute;
    @apply opacity-0;
}
.landing .landing-header.filled .dark-header {
    @apply relative;
    @apply opacity-100;
}
.landing .landing-header .light-header {
    @apply relative;
    @apply opacity-100;
}
.landing .landing-header.filled .light-header {
    @apply absolute;
    @apply opacity-0;
}
.landing .landing-header .light-header .c-title-wrapper,
.landing .landing-header .dark-header .c-title-wrapper {
    @apply flex-x items-center;
    @apply h-full;
    @apply min-w-0 overflow-hidden;
}
.landing .landing-header .c-btn-group {
    @apply flex-x items-center justify-center gap-x-2;
    @apply min-w-fit w-fit;
    @apply text-06 font-medium;
}
.landing .landing-header .c-btn-group .lg-icon i {
    @apply md:hidden lg:flex;
}
body.narrow .landing .landing-header .c-btn-group {
    @apply hidden;
}
.landing .landing-header .btn-text {
    @apply flex-x items-center justify-center gap-x-2;
    @apply min-w-fit w-fit;
    @apply px-2;
    @apply text-06 text-headline-1 leading-4.5;
    @apply ease-in-out duration-300;
    transition-property: color;
}

.landing .landing-header.filled .light-icon,
.landing .landing-header.filled .light-title {
    @apply opacity-0;
}
.landing .landing-header.filled .dark-icon,
.landing .landing-header.filled .dark-title {
    @apply opacity-100;
}
.landing .landing-header.filled .btn-text {
    @apply text-01;
    @apply ease-in-out duration-300;
    transition-property: color;
}
.landing .landing-header.filled .signin-button-group {
    @apply text-01;
    @apply border-text-01;
    @apply ease-in-out duration-300;
    transition-property: color, border-color;
}
/* blur-bg class no longer needed — blur is always on */
.landing .landing-header .signin-button.btn {
    @apply min-w-10;
    @apply border border-bg-01;
    @apply bg-transparent;
    @apply no-sheen;
}
.landing .landing-header.filled .signin-button.btn {
    @apply border-text-01;
}
.landing .landing-header .signin-button.btn .btn-content {
    @apply min-w-10 max-w-10 min-h-10 max-h-10;
    @apply bg-transparent;
    @apply text-06;
}
.landing .landing-header.filled .signin-button.btn .btn-content {
    @apply text-01;
}
.landing .landing-header .menu-button.btn,
.docs-header .menu-button.btn {
    @apply min-w-10;
    @apply bg-transparent;
    @apply no-sheen;
}
.landing .landing-header .menu-button.btn .btn-content,
.docs-header .menu-button.btn .btn-content {
    @apply min-w-10 max-w-10 min-h-10 max-h-10;
    @apply bg-transparent;
    @apply text-06;
}
.landing .landing-header.filled .menu-button.btn .btn-content {
    @apply text-01;
}
.landing .landing-header .signin-button-group {
    @apply flex gap-3;
    @apply px-6;
    @apply border border-separator;
    @apply bg-transparent;
    @apply text-06;
}
body.app-maui .landing .landing-header .btn-download {
    @apply hidden;
}

/* Page styles */
.landing .page {
    @apply text-base md:text-xl lg:text-2xl;
}
.landing .page .features-text {
    @apply text-base md:text-lg;
}
.landing .page p {
    @apply pt-2 md:pt-4;
}

/* Page 1 styles */
.landing .page-1 {
    @apply relative;
    @apply flex items-center justify-center;
    @apply w-full;
    @apply overflow-hidden;
    background: var(--indigo-10);
}
.landing .page-1 {
    @apply min-h-screen max-h-screen;
    min-height: calc(var(--vh, 1vh) * 100);
    max-height: calc(var(--vh, 1vh) * 100);
}
.landing .page-1 .bg-wrapper > img {
    @apply absolute top-0 z-10;
    @apply h-full w-full;
}
.landing .page-1 > .c-content {
    @apply z-10;
    @apply flex-1 flex-x justify-center items-end;
    @apply w-full;
    @apply py-0;
}
body.narrow .landing .page-1 > .c-content {
    @apply py-16;
}
.landing .page-1 .page-1-wrapper,
.landing .page-links .page-links-wrapper {
    @apply z-10;
    @apply h-full;
    @apply pt-16;
    @apply bg-transparent;
}

body.narrow .landing .page-links .page-links-wrapper {
    @apply h-full;
    @apply pt-12 px-4;
    @apply bg-cover bg-repeat-round;
    @apply bg-[url('images/ellipses-mobile.svg')];
}
.landing .page.page-1 > .c-content .main-text {
    @apply gap-y-[clamp(0.75rem,3.2vh,2rem)] items-start;
    @apply pt-0;
    align-self: safe center;
}
body.narrow .landing .page.page-1 > .c-content .main-text {
    @apply gap-y-4 items-center;
}
.landing .page-1 > .c-content .main-text {
    @apply md:items-center;
}
.landing .page-1 > .c-content .main-text .main-text-wrapper {
    @apply flex-y gap-y-[clamp(0.75rem,3.2vh,2rem)];
    @apply p-0;
    @apply w-auto md:w-100 lg:w-120;
    @apply md:text-3xl font-normal text-06;
}
body.narrow .landing .page-1 > .c-content .main-text .main-text-wrapper {
    @apply justify-center gap-y-8;
    @apply w-auto;
}
.landing .page-1 > .c-content .main-text .main-text-wrapper .c-title {
    @apply flex-y;
    @apply text-3.5xl;
    @apply md:font-semibold;
    @apply md:text-[clamp(1.875rem,4vh,2.5rem)] md:leading-[clamp(2.25rem,4.8vh,3rem)];
    @apply lg:text-[clamp(2.5rem,5.6vh,3.5rem)] lg:leading-[clamp(3rem,6.8vh,4.25rem)];
}
body.narrow .landing .page-1 > .c-content .main-text .main-text-wrapper .c-title {
    @apply items-center;
}
.landing .page-1 > .c-content .main-text .main-text-wrapper .c-title .c-title-accent-line {
    @apply inline-flex items-center gap-x-3;
}
.landing .page-1 .page-1-handwrite {
    @apply font-handwriting font-normal;
    font-size: 1.3em;
    line-height: 1;
    margin-bottom: -0.2em;
}
.landing .page-1 .main-text .main-text-wrapper .c-description {
    @apply flex-y;
    @apply pt-0;
    @apply md:leading-9;
}
.landing .page>.c-content .main-text .main-text-wrapper > p {
    @apply text-base leading-4.5 font-normal;
    @apply md:text-xl md:leading-6;
    @apply lg:text-3.5xl lg:leading-9;
}
.landing .page-1 > .c-content .main-text .main-text-wrapper > p {
    @apply lg:text-2xl lg:leading-8;
}
body.narrow .landing .page-1 .main-text .c-description {
    @apply text-base;
}
.landing .page-1 .main-text .main-text-wrapper .c-description > .bolder {
    @apply font-semibold;
}
.landing .page-1 .main-text .c-btn-group {
    @apply flex-y gap-4;
    @apply w-full md:w-100 lg:w-120;
    @apply py-[clamp(0.5rem,1.6vh,1rem)];
}
.landing .page-1 > .c-content .main-image {
    @apply hidden md:flex justify-end;
    @apply max-w-1/3;
    max-height: 85vh;
}
body.narrow .landing .page-1 .main-text .main-text-wrapper .c-btn-group {
    @apply flex-y;
}
.landing .page-1 .main-text .main-text-wrapper .c-btn-group .lg-icon i {
    @apply md:hidden lg:flex;
}
.landing .page-1 .main-text .main-text-wrapper .c-btn-group .btn-download.web-signin > i {
    @apply md:text-01;
}
.landing .page-1 .bg-wrapper {
    @apply absolute;
    @apply w-screen h-full;
    @apply overflow-hidden;
}

/* Page 2 */

.landing .page-2 {
    @apply bg-01;
}
.landing .page-2 > .c-content {
    @apply flex-x items-center;
    @apply py-40;
}
body.narrow .landing .page-2 > .c-content {
    @apply flex-y;
}
.landing .page-2 > .c-content .main-image {
    @apply justify-center;
    @apply w-3/5;
    @apply py-20;
}
body.narrow .landing .page-2 > .c-content .main-image {
    @apply w-auto;
}
.landing .page-2 > .c-content .main-image > img,
.landing .page-3 > .c-content .main-image > img {
    @apply h-full max-h-110;
}
.landing .page-2 > .c-content .main-image .c-first {
    margin-top: -40%;
    margin-left: 25%;
}
.landing .page-2 > .c-content .main-image .c-second {
    margin-bottom: -20%;
    margin-left: -50%;
}
.landing .page-2 > .c-content .main-text {
    @apply gap-y-8;
}
.landing .page-2 > .c-content .main-text .c-line {
    @apply flex-x items-center gap-x-4;
}
.landing .page-2 .page-2-handwrite {
    @apply mt-4 md:mt-0;
    @apply md:whitespace-nowrap;
    @apply font-handwriting font-normal text-3.5xl text-pal-blue-40;
}
body.narrow .landing .page-2 .page-2-handwrite {
    @apply text-center;
}

/* Page 3 */

.landing .page-3 {
    background: linear-gradient(to right, var(--indigo-95) 50%, var(--indigo-99), var(--gray-95));
}
.landing .page-3 > .c-content {
    @apply flex-y gap-y-20;
}
.landing .page-3 > .c-content > .c-top {
    @apply flex-x gap-x-4;
}
.landing .page-3 > .c-content > .c-top .main-image {
    @apply w-1/2;
}
.landing .page-3 > .c-content > .c-bottom {
    @apply flex-x gap-x-8;
}
body.narrow .landing .page-3 > .c-content > .c-top {
    @apply -flex-y gap-y-4;
}
body.narrow .landing .page-3 > .c-content > .c-top .main-image {
    @apply w-full;
}
body.narrow .landing .page-3 > .c-content > .c-bottom {
    @apply flex-y gap-y-4;
}
.landing .page-3 > .c-content > .title-text {
    @apply text-center;
}
.page-3-item {
    @apply flex-x gap-x-24;
}
.page-3-item .c-description {
    @apply flex-y gap-y-4;
    @apply pt-24;
}
.page-3-item .c-description .c-title {
    @apply text-2xl font-bold;
}

/* Page 4 */

.landing .page-4 {
    @apply px-12;
    background: linear-gradient(to right, var(--indigo-95) 50%, var(--indigo-99), var(--gray-95));
}
.landing .page-4 > .c-content {
    @apply relative z-20;
    @apply flex-y gap-y-20;
}
body.narrow .landing .page-4 > .c-content {
    @apply gap-y-4;
}
.landing .page-4 > .c-content .title-text {
    @apply text-center;
}
.landing .page-4 > .c-content > .curved-line {
    @apply absolute;
    @apply hidden lg:flex;
    @apply pt-12;
}
.landing .page-4 > .c-content > .c-row {
    @apply items-center justify-center gap-x-24;
    @apply px-2;
}
.landing .page-4 > .c-content > .c-row.odd {
    @apply flex-x;
}
.landing .page-4 > .c-content > .c-row.even {
    @apply -flex-x;
}
body.narrow .landing .page-4 > .c-content > .c-row.odd {
    @apply -flex-y gap-y-4;
    @apply px-0;
}
body.narrow .landing .page-4 > .c-content > .c-row.even {
    @apply -flex-y gap-y-4;
    @apply px-0;
}
.landing .page-4 > .c-content > .c-row > div {
    @apply max-w-80;
}
body.narrow .landing .page-4 > .c-content > .c-row > div {
    @apply max-w-none;
}
.landing .page-4 > .c-content > .c-row > .c-column {
    @apply flex-y gap-y-4;
}
.landing .page-4 > .c-content > .c-title,
.landing .page-5 > .c-content > .c-title {
    @apply text-center;
    font-size: 2.5rem;
    line-height: 2.625rem;
}
body.narrow .landing .page-4 > .c-content > .c-title,
body.narrow .landing .page-5 > .c-content > .c-title {
    @apply text-start;
    font-size: 2rem;
    line-height: 2.125rem;
    font-weight: 500;
}

.colored-card {
    @apply relative;
    @apply flex gap-4;
    @apply rounded-2xl;
    @apply overflow-hidden;
    @apply h-fit w-fit;
}
body.narrow .colored-card {
    @apply w-auto;
}
.colored-card > .c-wrapper {
    @apply relative;
    /*@apply px-6 pb-12;*/
    min-height: 25.75rem;
}
body.narrow .colored-card > .c-wrapper,
body.narrow .colored-card > .c-wrapper > img {
    @apply flex-1 flex;
}
.colored-card.card-3 {
    @apply flex-y gap-y-2;
    @apply p-4;
    /*@apply bg-[#BBBEFF];*/
}
.colored-card.card-3 > .c-title {
    @apply text-headline-6;
}
.colored-card.card-3 > .c-text {
    @apply text-text-1;
}
.landing .page-4 > .c-content > .c-row .c-description {
    @apply flex-y gap-y-4;
}
.landing .page-4 > .c-content > .c-row .c-description > .c-title {
    @apply text-2xl font-bold;
}

/* Page 5 */

.landing .page-5 > .c-content {
    @apply relative;
    @apply flex-y gap-y-8;
}
.landing .page-5 > .c-content .title-text {
    @apply text-center;
}
.landing .page-5 > .c-content > .c-row {
    @apply grid grid-cols-3 justify-items-center gap-x-8;
}
.landing .page-5 > .c-content > .c-row.c-first {
    @apply pt-12;
}
body.narrow .landing .page-5 > .c-content > .c-row {
    @apply flex-y gap-y-4;
}
body.narrow .landing .page-5 > .c-content > .c-row.c-first {
    @apply pt-0;
}

.landing-image-card {
    @apply flex-y;
    @apply w-full;
    @apply rounded-xl;
}
.landing-image-card.title-card {
    @apply w-full;
    @apply border-none;
}
.landing .page-5 > .c-content > .row-title,
.landing-image-card.title-card > .c-title {
    @apply text-5xl;
}
.landing-image-card.title-card > .c-image,
.landing-image-card.title-card > .c-text {
    @apply hidden;
}
.landing-image-card > .c-image {
    @apply relative;
    @apply flex;
    @apply min-h-60;
}
body.narrow .page-6 .landing-image-card > .c-image,
body.narrow .page-7 .landing-image-card > .c-image {
    @apply self-center;
    @apply min-h-0 w-3/5;
}
.landing-image-card > .c-image > img {
    @apply relative z-10;
    @apply flex-1 flex;
}
.landing-image-card > .c-title {
    @apply pt-4 px-4;
    @apply text-center text-headline-6;
}
.landing-image-card > .c-text {
    @apply flex-y gap-y-4;
    @apply p-4;
}
.landing-image-card.title-card > .c-title {
    @apply p-0;
}
.landing-image-card-item {
    @apply flex-x gap-x-4;
}
.landing-image-card-item > .c-icon {
    @apply flex-none flex items-center;
    @apply w-6 h-6;
}
.landing-image-card-item > .c-content {
    @apply text-text-1;
}
.landing-image-card .image-bg {
    @apply absolute z-0 -inset-4 md:inset-0;
    @apply flex items-center justify-center;
}
.landing-image-card .image-bg img {
    @apply h-full;
}

/* Page 6 */

.landing .page-6 {
    background: linear-gradient(to right, var(--indigo-95) 50%, var(--indigo-99), var(--gray-95));
}
.landing .page-6 > .c-content {
    @apply relative;
    @apply flex-y gap-y-16;
}
.landing .page-6 > .c-content .title-text {
    @apply text-center;
}
.landing .page-6 > .c-content > .c-row {
    @apply grid grid-cols-3 justify-items-center gap-x-40;
}
.landing .page-6 > .c-content > .c-row.c-first {
    @apply pt-12;
}
body.narrow .landing .page-6 > .c-content > .c-row {
    @apply flex-y gap-y-4;
}
body.narrow .landing .page-6 > .c-content > .c-row.c-first {
    @apply pt-0;
}
.landing .page-6 > .c-content > .c-description {
    @apply flex-y items-start md:items-center justify-center;
    @apply text-2xl;
}
.landing .page-6 .page-6-handwrite {
    @apply whitespace-nowrap;
    @apply font-handwriting font-normal text-4.5xl text-pal-blue-40;
}
body.narrow .landing .page-6 .page-6-handwrite {
    @apply self-center;
}
body.narrow .landing .page-6 .page-6-handwrite:last-of-type {
    @apply mb-8;
}

/* Page 7 */

.landing .page-7 .landing-page-noise {
    @apply z-20;
}
.landing .page-7 > .c-content {
    @apply relative;
    @apply flex-y gap-y-16;
}
.landing .page-7 > .c-content .title-text {
    @apply text-center;
}
.landing .page-7 > .c-content > .c-row {
    @apply grid grid-cols-3 justify-items-center gap-x-40;
}
.landing .page-7 > .c-content > .c-row.c-first {
    @apply pt-12;
}
body.narrow .landing .page-7 > .c-content > .c-row {
    @apply flex-y gap-y-4;
}
body.narrow .landing .page-7 > .c-content > .c-row.c-first {
    @apply pt-0;
}

/* Page Last */

.landing .page-last {
    @apply min-h-0 md:h-screen;
    background: linear-gradient(to right, var(--indigo-95) 50%, var(--indigo-99), var(--gray-95));
}
.landing .page-last .bg-wrapper {
    @apply absolute top-0 z-0;
    @apply h-full w-full;
}
.landing .page-last .bg-wrapper > img {
    @apply absolute top-0 z-10;
    @apply h-full w-full;
}
.landing .page-last > .c-content {
    @apply relative;
    @apply flex-y justify-center lg:gap-y-8;
    @apply py-0;
}
.landing .page-last > .c-content > .c-top {
    @apply flex-x gap-x-16;
}
body.narrow .landing .page-last > .c-content > .c-top {
    @apply -flex-y gap-y-4;
}
.landing .page-last > .c-content > .c-top > .main-image {
    @apply flex justify-end;
    @apply w-1/3;
}
body.narrow .landing .page-last > .c-content > .c-top > .main-image {
    @apply justify-center;
    @apply w-full;
    @apply my-8;
}
.landing .page-last > .c-content > .c-top > .main-text {
    @apply flex items-start self-center gap-8;
    @apply text-white;
}
body.narrow .landing .page-last > .c-content .main-text p {
    @apply text-3.5xl;
}
.landing .page-last > .c-content > .c-top > .main-text > .title-text > br {
    @apply hidden md:flex;
}
.landing .page-last > .c-content > .c-top > .main-text .btn-download {
    @apply w-fit;
    @apply mt-8;
}
body.narrow .landing .page-last > .c-content > .c-top > .main-text .btn-download.light {
    @apply w-full;
    @apply mt-4;
    @apply bg-01;
    @apply text-01;
}
.landing .page-last > .c-content > .c-bottom {
    @apply flex;
}
body.narrow .landing .page-last > .c-content > .c-bottom {
    @apply pb-64;
}
.landing .page-last > .c-content > .c-bottom > .c-btn-group {
    @apply hidden;
}
body.narrow .landing .page-last > .c-content > .c-bottom > .c-btn-group {
    @apply flex-1 flex-y gap-y-4;
}
body.narrow .landing .page-last > .c-content > .c-bottom > .c-btn-group > .btn-download.web-signin {
    @apply border-white;
    @apply bg-transparent;
    @apply text-white;
}
body.narrow .landing .page-last > .c-content > .c-bottom > .c-btn-group > .btn-download.web-signin > i {
    @apply text-white;
}
.landing .page-last > .c-content > .c-top > .main-text .btn-download.web-signin > span,
body.narrow .landing .page-last > .c-content > .c-bottom > .c-btn-group > .btn-download.web-signin > span {
    @apply text-base font-medium;
}
.landing .page-last .page-last-handwrite {
    @apply font-handwriting font-normal text-[3rem] md:text-[4rem] leading-4;
}

/* Buttons */

.signin-button-group {
    @apply flex-x items-center;
    @apply px-2;
    @apply h-10 w-fit;
    @apply rounded-full;
    @apply bg-01;
    @apply text-01 font-semibold;
}
body.narrow .signin-button-group {
    @apply my-4;
    @apply text-xl;
}

.link-btn {
    @apply flex-none flex-x items-center justify-center gap-x-3;
    @apply py-2 px-4;
    @apply rounded-2xl;
    @apply bg-transparent;
}
body.hoverable .link-btn:hover,
.touch-capable .link-btn:active {
    @apply bg-pal-white-20;
}
.link-btn-content {
    @apply flex items-center;
    @apply h-8;
}
body.narrow .landing .link-btn-content {
    @apply h-8;
}
.link-btn-content img {
    @apply min-h-8 min-w-8 max-w-8 max-h-8;
}
.landing .footer-link {
    @apply text-title-1 text-white;
    @apply cursor-pointer;
}
body.narrow .landing .footer-link {
    @apply h-8;
    @apply text-title-1 text-start;
}

/* Landing Menu */
.landing-menu {
    @apply flex;
    @apply bg-06;
    @apply ease-in-out duration-300;
    transition-property: translate;
    background: linear-gradient(to right, rgba(255,255,255,1) 75%, rgba(68,68,68,0.5) 25%);
}
body.wide .landing-menu {
    @apply hidden;
}
body.narrow .landing-menu {
    @apply fixed inset-x-0 top-0;
    @apply flex-x z-menu-container;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}
body.narrow .landing-menu.closed {
    @apply -translate-x-full;
}
body.narrow .landing-menu.open {
    @apply translate-x-0;
}
body.narrow .landing-menu .c-container {
    @apply relative flex-y;
    @apply w-10/12;
    @apply rounded-r-2xl;
    @apply pl-12;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}
body.narrow .landing-menu {
    @apply flex-x;
    @apply right-0;
}
.landing-menu.open .c-container {
    @apply relative flex-y;
    @apply h-screen w-10/12;
    @apply rounded-r-2xl;
    @apply bg-01;
    height: calc(var(--vh, 1vh) * 100);
}
.landing-menu .c-container .menu-header {
    @apply ordinary-header;
    @apply justify-start gap-x-2;
    @apply px-0 py-2;
}
.landing-menu .c-container .menu-header > .c-title {
    @apply self-center;
    @apply pb-2;
}
.landing-menu .menu-footer {
    @apply flex-x items-center justify-start gap-x-2;
    @apply my-8;
}
.landing-menu .menu-footer .btn.btn-round .btn-content {
    @apply min-w-10 min-h-10 max-w-10 max-h-10;
}
.landing-menu .menu-content {
    @apply flex-y items-start justify-start gap-y-2;
    @apply h-full;
    @apply my-4;
}
.landing-menu .menu-content button,
.landing-menu .menu-content a {
    @apply flex-none;
    @apply text-title-1 text-01;
}
.landing-menu .menu-content .sign-in-btn {
    @apply text-primary;
}

/* Landing Links */
.landing .landing-links {
    @apply flex-1 flex-y lg:flex-x items-center justify-between gap-2 lg:gap-8;
    @apply py-4 lg:py-8 px-0 my-12;
    @apply rounded-lg;
    @apply bg-transparent;
}
body.narrow .landing .landing-links {
    @apply hidden;
}
.landing .landing-links > .c-title {
    @apply flex-none flex-y;
    @apply text-06 text-headline-4;
}
.landing .landing-links > .link-group {
    @apply flex-1 flex-x justify-evenly lg:gap-x-2;
}
.landing .landing-links > .link-group > .link-btn > .c-text {
    @apply flex-y items-start;
    @apply text-06 text-xl;
    line-height: 1.375rem;
}

/* Landing Footer */
.landing .landing-footer {
    @apply absolute bottom-0;
    @apply flex-x justify-center;
    @apply w-full;
    @apply py-4 md:py-8 px-0;
    @apply bg-transparent;
}
.landing .landing-footer .c-content {
    @apply flex-x items-center justify-center;
    @apply w-full max-w-320 lg:max-w-352;
}
.landing .landing-footer .c-content .c-left {
    @apply flex-1 flex-y gap-y-4;
}
.landing .landing-footer .c-content .c-left .c-links {
    @apply flex-y md:flex-x md:gap-x-12 justify-start;
    @apply text-white;
}
.landing .landing-footer .c-content .c-left .c-copyright {
    @apply flex items-end;
    @apply min-h-8;
    @apply text-white text-sm;
}
.landing .landing-footer .c-content .c-right {
    @apply flex-y gap-y-3 items-end;
    @apply text-white;
}
body.narrow .landing .landing-footer .c-content .c-right {
    @apply hidden;
}

/* Download Button */
.btn-download {
    @apply md:flex-none flex-x gap-x-4 items-center justify-center;
    @apply h-10;
    @apply px-6;
    @apply rounded-full;
    @apply bg-gradient-to-r from-pal-magenta-40 to-primary;
    @apply text-06 text-headline-1;
}
.btn-download.light {
    @apply bg-none bg-01;
    @apply text-01;
}
.btn-download.light.with-border {
    @apply border border-text-02;
}
.landing .btn-download {
    @apply max-w-none md:max-w-88;
}
.landing .btn-download > i {
    @apply text-2xl font-thin text-06;
}
.landing .btn-download.light > i {
    @apply text-01;
}
.landing .btn-download.web-signin,
.landing .btn-download.ios-disabled {
    @apply justify-center;
    @apply w-full lg:w-fit;
    @apply bg-none bg-01;
    @apply border border-text-06;
}
body.narrow .landing .btn-download.web-signin,
body.narrow .landing .btn-download.ios-disabled {
    @apply justify-center;
    @apply w-full;
    @apply bg-none bg-transparent;
    @apply border border-text-06;
    @apply text-06;
}
.btn-download.transparent,
.btn-download.ios-disabled.transparent {
    @apply justify-center;
    @apply bg-none bg-transparent;
    @apply border border-bg-01;
}
.btn-download.ios-disabled {
    @apply opacity-75;
}
.btn-download.transparent * {
    @apply text-06;
}
.btn-download .c-content {
    @apply flex items-center;
    @apply text-06 text-headline-1;
}
.btn-download.btn-to-chats {
    @apply p-px;
    @apply overflow-hidden;
}
.btn-download.btn-to-chats .c-content {
    @apply flex-1 flex-x items-center justify-center;
    @apply h-full;
    @apply rounded-full;
    @apply overflow-hidden;
    @apply bg-white;
}
.btn-download.btn-to-chats .gradient-span {
    @apply flex-x items-center gap-x-2;
    @apply bg-gradient-to-r from-pal-magenta-40 to-primary;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Docs */
.docs-layout {
    @apply flex-y;
    @apply bg-01;
}
.docs-layout::before,
.docs-layout::after {
    content: "";
    width: 100%;
    flex-shrink: 0;
    background-color: transparent;
    backdrop-filter: blur(8px);
}
/*
body.device-ios .docs-layout::before,
body.device-ios .docs-layout::after {
    backdrop-filter: none;
}
 */
.docs-layout::before {
    height: var(--safe-area-top);
}
.docs-layout::after {
    height: var(--safe-area-bottom);
}
.docs-layout .layout-header .safe-area-top {
    @apply hidden;
}
.docs-layout .layout-header {
    @apply px-4;
    @apply border-b border-separator;
    @apply text-01;
}
body.narrow .docs-layout .layout-header {
    @apply relative top-0;
    @apply border-none;
}
.docs-layout .docs-header {
    @apply bg-transparent;
}
body.narrow .docs-layout .layout-header {
    @apply px-2;
}
.docs-layout .layout-footer {
    @apply hidden;
}
body.narrow .side-nav-left:has(.docs-left-panel) {
    @apply hidden;
}
.docs-left-panel {
    @apply flex-y;
    @apply h-full w-full;
    @apply pl-24 pr-4;
    @apply bg-03;
    @apply border-r border-separator;
}
body.narrow .docs-left-panel {
    @apply hidden;
}
.docs-left-panel .c-header {
    @apply flex-x;
    @apply h-14;
    @apply items-center;
    @apply py-2;
}
.docs-left-panel .c-header > .c-title-wrapper {
    @apply flex-x;
}
.docs-left-panel .c-header > .c-title-wrapper > .c-title {
    @apply self-center;
    @apply px-2 -mt-1.5;
}
.docs-left-panel .c-content {
    @apply h-full py-2;
}
.docs-left-panel .navbar-item {
    @apply cursor-pointer;
}
.docs-left-panel .navbar-item .c-title,
.docs-right-panel .c-title {
    @apply text-caption-3 font-medium;
}
.docs-left-panel .navbar-item.active .navbar-item-content {
    @apply text-primary;
}
body.hoverable .docs-left-panel .navbar-item.inactive:hover {
    @apply bg-secondary;
}
.docs-left-panel .navbar-item {
    @apply gap-x-0;
}
.docs-left-panel .navbar-item .navbar-item-content {
    @apply flex-x gap-x-4 items-center;
    @apply mx-2;
}
.docs-left-panel .navbar-item-content {
    @apply grow;
}
.docs-left-panel .navbar-item-ending {
    @apply hidden;
}
.docs-header {
    @apply flex;
    @apply h-14;
    @apply items-center;
    @apply bg-01;
    @apply text-3xl font-semibold;
}
.docs-right-panel .context-menu-btn,
.landing .context-menu-btn {
    @apply md:mx-4;
    @apply rounded-full;
    @apply cursor-pointer;
}
.docs-right-panel {
    @apply flex-y;
    @apply w-full md:w-80 h-full;
    @apply bg-01;
}
body.narrow .docs-right-panel {
    @apply hidden;
}
.docs-right-panel .c-header {
    @apply flex-x items-center justify-end gap-x-4;
    @apply h-14;
    @apply px-4;
    @apply bg-01;
}
.docs-right-panel .signin-button-group {
    @apply h-10;
    @apply border border-text-01;
}
.docs-right-panel .c-title.active,
.docs-subheader .c-title.active {
    @apply text-primary;
}
.docs-right-panel .c-title,
.docs-subheader .c-title {
    @apply no-underline;
}
.docs-subheader > .c-text {
    @apply text-sm font-medium;
}

.docs-content {
    @apply flex-y flex-1;
    @apply gap-y-4 px-4;
    @apply overflow-y-auto custom-scrollbar;
    @apply select-text;
    @apply bg-01 text-01;
}
body.narrow .docs-content {
    @apply pl-4 pr-2;
}

body.narrow .docs-header {
    @apply gap-x-2;
    @apply bg-02;
    @apply text-headline-1;
}
.docs-header .menu-button.btn .btn-content {
    @apply text-03;
}

body.wide .docs-subheader {
    @apply hidden;
}
body.narrow .docs-subheader {
    @apply flex-y gap-y-2;
    @apply px-4 py-1;
    @apply bg-01;
    @apply text-01;
    @apply border-b-2 border-bg-04;
}

body.narrow .side-nav.side-nav-right:has(> .docs-right-panel) {
    @apply hidden;
}
body.narrow .layout-body:has(> .docs-content) {
    @apply px-0;
    @apply bg-01;
}

/* Video modal */
body.narrow .landing-video-modal {
    @apply inset-0;
    @apply h-full;
    @apply p-0;
    @apply rounded-none;
}
body.narrow .landing-video-modal video,
body.narrow .landing-video-modal .c-video-plug {
    @apply h-screen;
    height: calc(var(--vh, 1vh) * 100);
}
body.narrow .landing-video-modal .dialog-body {
    @apply bg-gradient-to-b from-pal-blue-30 to-landing-bg-01;
}
.landing-video-modal .modal-wrapper {
    @apply absolute;
    @apply inset-0;
    @apply bg-cover bg-repeat-round;
    @apply bg-[url('images/ellipses-mobile.svg')];
}
.landing-video-modal .video-wrapper {
    @apply relative z-20;
    @apply flex items-center justify-center;
    @apply h-full w-full;
}
.landing-video-modal .control-wrapper {
    @apply absolute z-30 top-0 bottom-0 left-0 right-0;
    @apply flex-y;
    @apply ease-in-out duration-300;
    transition-property: opacity;
}
.landing-video-modal .control-wrapper.hide-control {
    @apply opacity-0;
}
.landing-video-modal .control-wrapper.show-control {
    @apply opacity-100;
}
.landing-video-modal .c-header > .c-btn {
    @apply flex-none;
    @apply w-14 h-14;
}
.landing-video-modal .c-header > .c-title {
    @apply flex-1 flex;
}
body.narrow .landing-video-modal .c-header {
    @apply flex-x items-center;
    @apply h-14;
    @apply text-pal-gray-90;
    @apply bg-pal-gray-10;
    @apply opacity-90;
}
body.narrow .landing-video-modal .c-body {
    @apply flex-1 flex justify-center items-center;
}
body.narrow .landing-video-modal .c-footer {
    @apply flex-x items-center gap-x-2;
    @apply h-14;
    @apply px-2;
    @apply text-pal-gray-90;
    @apply bg-pal-gray-10;
    @apply opacity-90;
}
.landing-video-modal .play-btn,
.landing-video-modal .pause-btn {
    @apply flex-none items-center justify-center;
    @apply w-20 h-20;
    @apply rounded-full;
    @apply bg-pal-gray-10;
    @apply opacity-60;
    left: calc(50vw - 2.5rem);
    bottom: calc(50vh - 2.5rem);
}
.landing-video-modal .play-btn-icon {
    @apply absolute;
    @apply bg-transparent;
    @apply text-3xl;
    @apply text-pal-gray-90;
}
.landing-video-modal .c-body .play-btn,
.landing-video-modal .c-body.playing .pause-btn {
    @apply flex;
}
.landing-video-modal .c-body .pause-btn,
.landing-video-modal .c-body.playing .play-btn {
    @apply hidden;
}
.landing-video-modal progress {
    @apply flex-1;
    @apply h-0.5 w-full;
}
.landing-video-modal progress[value]::-webkit-progress-bar {
    @apply bg-pal-gray-60;
    @apply rounded-sm;
}

.landing-video-modal progress[value]::-webkit-progress-value {
    @apply bg-pal-gray-90;
}
.landing-video-modal .c-timeline {
    @apply flex-none flex-x gap-x-1;
    @apply text-pal-gray-90 text-xs font-thin;
}
.landing-video-modal .c-current,
.landing-video-modal .c-duration {
    @apply flex items-center justify-center;
    @apply w-10;
}

.landing .page-links {
    @apply h-screen;
    @apply overflow-hidden;
    @apply bg-gradient-to-b from-pal-blue-30 to-landing-bg-01;
    height: calc(var(--vh, 1vh) * 100);
    padding-bottom: var(--safe-area-bottom);
}
body.narrow .page-links {
    @apply min-h-screen;
    min-height: calc(var(--vh, 1vh) * 100);
}
.landing .page-links .page-links-wrapper {
    @apply overflow-hidden;
}
.page-links .c-content {
    @apply flex-y items-center justify-center;
    @apply h-full;
    @apply overflow-hidden;
}
.page-links .page-title {
    @apply flex;
    @apply my-8;
    @apply text-headline-4 text-06;
}
body.narrow .page-links .page-title {
    @apply justify-start;
    @apply w-full;
    @apply mt-0 mb-4;
    @apply text-2xl;
}
body.narrow .btn-to-main-page {
    @apply mt-4;
    @apply w-full;
}
body.wide .page-links .btn-to-main-page {
    @apply hidden;
}
.landing-download-tile {
    @apply flex-x justify-between gap-4;
    @apply p-4;
    @apply rounded-lg;
    @apply bg-01;
    @apply overflow-hidden;
}
body.hoverable .landing-download-tile:hover {
    @apply bg-primary;
}
body.hoverable .landing-download-tile:hover .c-title,
body.hoverable .landing-download-tile:hover .c-text {
    @apply text-06;
}
.landing-download-tile .c-title {
    @apply flex justify-start;
    @apply text-xl font-semibold;
}
.landing-download-tile .c-text {
    @apply flex justify-start;
    @apply text-text-1;
}
.landing-download-tile .c-brand {
    @apply md:mt-4;
}
.landing-download-tile .c-qrcode {
    @apply hidden md:flex;
    @apply w-20 h-20;
    @apply m-4;
}
.landing .landing-header .btn-download {
    @apply gap-x-3;
    @apply min-w-0;
}
.landing-download-tile .c-content {
    @apply flex-1 flex-y justify-between;
}
body.narrow .landing-download-tile .c-content {
    @apply flex-x items-center;
}
.landing-download-tile .web-app {
    @apply flex-x items-center gap-2;
    @apply px-2 py-1;
    @apply rounded-lg;
    @apply bg-08;
}
.landing-download-tile .web-app > span {
    @apply text-base font-medium text-06;
}
.landing-download-tile .web-app > i {
    @apply text-2xl text-06 font-thin;
}

.landing .checkmark {
    @apply flex-x items-center gap-x-4;
}
.landing .checkmark > .c-text {
    @apply text-2xl md:text-3.5xl lg:text-4.5xl font-normal;
}
.landing .checkmark img {
    @apply w-11 h-11 md:w-12 md:h-12;
}

/* Landing card */
.landing-card {
    @apply flex-y gap-y-2;
    @apply p-4;
    @apply rounded-lg;
    @apply border-2 border-pal-indigo-90;
}
.landing-card > .landing-card-header {
    @apply flex-x gap-x-4;
}
.landing-card > .landing-card-header > .c-icon {
    @apply flex;
}
.landing-card > .landing-card-header > .c-icon i {
    @apply text-2xl text-primary;
}
.landing-card > .landing-card-header > .c-title {
    @apply flex items-center;
    @apply text-headline-6;
}
.landing-card > .c-text {
    @apply text-xl leading-6;
}

/* Premium features modal */
.premium-features-modal.modal-frame {
    @apply flex-y gap-y-0;
    @apply w-full;
    @apply py-8;
    max-width: 47rem;
}
body.narrow .premium-features-modal.modal-frame {
    @apply py-0;
}
body.wide .premium-features-modal .modal-header {
    @apply hidden;
}
.premium-features-modal .modal-header-interactive {
    @apply bg-bubble;
}
.premium-features-modal .modal-header-interactive * {
    @apply text-06;
}
.premium-features-modal .modal-header-interactive .modal-title {
    @apply text-headline-1;
}
.premium-features-modal > .dialog-body {
    @apply px-8;
}
body.narrow .premium-features-modal > .dialog-body {
    @apply px-4;
}
.premium-features-modal > .dialog-body > .form-block {
    @apply p-0;
}
body.narrow .premium-features-modal > .dialog-body > .form-block {
    @apply py-4;
}
.premium-features-modal .modal-wrapper {
    @apply flex-y gap-y-6;
}
.premium-features-modal .c-left,
.premium-features-modal .c-right {
    @apply flex-y gap-y-4;
    @apply w-1/2;
}
body.narrow .premium-features-modal .c-left,
body.narrow .premium-features-modal .c-right {
    @apply w-auto;
}
.premium-features-modal .c-header {
    @apply flex-y;
    @apply text-01;
}
.premium-features-modal .c-header > .c-title {
    @apply text-headline-4;
}
.premium-features-modal .c-header > .c-subtitle {
    @apply text-3.5xl font-normal;
}
.premium-features-modal .c-block-1,
.premium-features-modal .c-block-2,
.premium-features-modal .c-block-3,
.premium-features-modal .c-block-4,
.premium-features-modal .c-block-note {
    @apply flex-x gap-x-8;
}
.premium-features-modal .c-block-yellow {
    @apply p-4;
    @apply rounded-lg;
    @apply overflow-hidden;
    @apply bg-pal-sienna-90;
    @apply text-headline-1 text-01;
}
body.narrow .premium-features-modal .c-block-1 {
    @apply -flex-y gap-y-4;
}
body.narrow .premium-features-modal .c-block-2 {
    @apply flex-y;
}
body.narrow .premium-features-modal .c-block-3 {
    @apply flex-y gap-y-6;
}
body.narrow .premium-features-modal .c-block-4 {
    @apply -flex-y gap-y-6;
}
body.narrow .premium-features-modal .c-block-note {
    @apply flex-y gap-y-4;
}
.premium-features-modal .c-block-1 p {
    @apply text-text-1 text-01;
}
.premium-features-modal .c-block-1 .c-left p span {
    @apply text-headline-1;
}
.premium-features-modal .c-block-3 .c-left {
    @apply gap-0;
    @apply text-3.5xl text-01;
}
.premium-features-modal .c-block-3 .c-left > span {
    @apply text-03;
}
.premium-features-modal .c-block-3 .c-right {
    @apply text-text-1 text-01;
}
.premium-features-modal .c-block-3 .c-right .btn-download {
    @apply flex-1;
}
.premium-features-modal .c-block-4 .c-left p {
    @apply text-text-1 text-01;
}
.premium-features-modal .c-block-4 .c-right {
    @apply text-text-1 text-01;
}

.premium-features-modal .text-note {
    @apply text-caption-2 text-03;
}
.premium-features-modal-card {
    @apply flex-x items-center gap-x-4;
    @apply h-14;
    @apply p-2;
    @apply rounded-lg;
    @apply border-2 border-pal-indigo-90;
}
.premium-features-modal-card .c-icon {
    @apply text-primary;
}
.premium-features-modal-card .c-text {
    @apply text-headline-1 text-01;
}
.premium-features-modal-card.text-only {
    @apply justify-start items-end;
    @apply px-0;
    @apply border-none;
}
.premium-features-modal-card.text-only .c-icon {
    @apply hidden;
}
.premium-features-modal .round-blue {
    @apply flex-none flex justify-center items-center;
    @apply w-8 h-8;
    @apply rounded-full;
    @apply bg-pal-blue-95;
    @apply text-title-1 text-primary;
}

.ac-menu:has(.landing-account-menu) {
    @apply theme-light;
}

/* Cookie settings */
.cookie-settings {
    @apply fixed z-button;
    @apply flex-y gap-y-4;
    @apply max-w-150;
    @apply p-4;
    @apply rounded-lg;
    @apply overflow-hidden;
    @apply bg-toast-body;
    @apply opacity-95;
    bottom: calc(1rem + var(--safe-area-bottom));
    left: calc(1rem + var(--safe-area-left));
    right: calc(1rem + var(--safe-area-right));
}
body.narrow .cookie-settings {
    @apply transform-none;
    transform: none;
    left: calc(1rem + var(--safe-area-left));
    right: calc(1rem + var(--safe-area-right));
}
.cookie-settings .c-top {
    @apply flex-x items-center gap-x-4;
}
.cookie-settings .c-top > .c-icon {
    @apply flex-none flex items-center justify-center;
    @apply w-10 h-10;
    @apply rounded-full;
    @apply bg-white;
    @apply text-03;
}
.cookie-settings .c-top > .c-text {
    @apply text-headline-7 text-white;
}
.cookie-settings .c-content {
    @apply flex-y gap-4;
    @apply text-text-1 text-white;
}
.cookie-settings .c-content a {
    @apply text-05;
}
.cookie-settings .c-content a:hover {
    @apply text-06 underline;
}
.cookie-settings .c-bottom {
    @apply flex-x items-center gap-4;
}
body.narrow .cookie-settings .c-bottom {
    @apply flex-y;
}
.cookie-settings .c-bottom a.c-link {
    @apply flex-1 self-start md:self-auto;
    @apply text-text-1 text-primary;
}
.cookie-settings .c-bottom a.c-link:hover {
    @apply underline;
}
.cookie-settings .c-bottom .c-buttons {
    @apply flex-y md:flex-x items-center gap-4;
}
body.narrow .cookie-settings .c-bottom .c-buttons {
    @apply w-full;
}
.btn.cookie-btn {
    @apply min-w-40 min-h-0 h-10;
    @apply text-text-1 text-white;
    @apply bg-pal-white-10;
}
body.narrow .btn.cookie-btn {
    @apply min-w-0 w-full;
}

/* Menu */
.manage-account-item {
    @apply flex-x items-center;
}
.manage-account-item .c-content {
    @apply flex-1 flex-y;
    @apply overflow-hidden;
}
.manage-account-item .c-content .c-name {
    @apply truncate;
    @apply text-sm;
}
.manage-account-item .c-ending {
    @apply flex-none;
    @apply w-8;
    @apply -mt-1;
    @apply rotate-180;
}

.landing-page-noise {
    @apply absolute inset-0 z-10;
    @apply opacity-100;
    mix-blend-mode: overlay;
}
.landing-page-noise img {
    @apply w-full;
}
.landing-card-video-container {
    @apply relative z-20;
    @apply rounded-b-xl;
    @apply overflow-hidden;
}
.landing-card-video {
    @apply absolute inset-0;
}
.landing-card-video-plug {
}

ul.custom-list {
    @apply flex-y gap-y-2;
    @apply mx-0 pl-0;
    @apply font-normal text-2xl leading-7;
    @apply md:text-[clamp(1.5rem,3.2vh,2rem)] md:leading-[clamp(2rem,4.8vh,3rem)];
    list-style: none;
}
.custom-list li {
    @apply relative;
    @apply pl-8;
}
.custom-list li::before {
    content: "•";
    @apply absolute left-0;
    @apply text-white;
}
