@using ActualChat.UI.Blazor.Services

<div class="landing-links" xmlns="http://www.w3.org/1999/html">
    <div class="flex-y self-auto font-semibold text-04 text-4.5xl md:text-6xl">
        Get Actual Chat
    </div>
    <div class="flex-x justify-center gap-x-4">
        <button class="link-btn">
            <div class="link-btn-content">
                <img src="/dist/images/landing/android-logo-white.svg" alt="android">
            </div>
            <div class="text-04 @(IsNarrow ? "text-sm" : "")" data-href="@(Links.Apps.Android)">
                Download for <strong>Android</strong>
            </div>
        </button>
        <button class="link-btn cursor-default">
            <div class="link-btn-content">
                <img src="/dist/images/landing/apple-logo-white.svg" alt="apple">
            </div>
            <div class="text-04 @(IsNarrow ? "text-sm" : "")">
                Coming soon:
                <strong>iPhone/iPad</strong>
            </div>
        </button>
        <button class="link-btn cursor-default">
            <div class="link-btn-content">
                <img src="/dist/images/landing/web-logo-white.svg" alt="web">
            </div>
            <div class="flex-y text-04 @(IsNarrow ? "text-sm" : "")">
                <strong>Web app</strong>
                <span>just sign in!</span>
            </div>
        </button>
    </div>
</div>

@code{
    [Parameter] public bool IsNarrow { get; set; }
    [Parameter] public bool EnableIncompleteUI { get; set; }
}
