<div class="flex-x p-4 md:py-12 md:px-16 bg-07">
    <div class="flex-y flex-1">
        <div class="flex-y md:flex-x md:gap-x-12 justify-start h-full text-04">
            <a href="/docs/privacy" class="footer-link">
                Privacy
            </a>
            <a href="/docs/terms" class="footer-link">
                Terms
            </a>
            <a href="/docs/cookies" class="footer-link">
                Cookie Preferences
            </a>
            <a href="mailto:support@actual.chat" class="footer-link">
                Contact us
            </a>
        </div>
        <div class="flex items-end min-h-8 text-05 text-sm">
            © 2023 Actual Chat Inc. All rights reserved.
        </div>
    </div>
    <div class="hidden md:flex-y justify-between items-start text-04">
        <a class="footer-link" href="https://actual.chat/chat/announcements">
            Announcements
        </a>
        <a class="footer-link" href="https://github.com/Actual-Chat/actual-chat">
            GitHub
        </a>
    </div>
</div>
