<div class="landing-footer">
    <div class="flex-1 flex-y gap-y-4">
        <div class="flex-y md:flex-x md:gap-x-12 justify-start text-01">
            <a href="/docs/privacy" class="footer-link">
                Privacy
            </a>
            <a href="/docs/terms" class="footer-link">
                Terms
            </a>
            <a href="/docs/cookies" class="footer-link">
                Cookie Preferences
            </a>
            <a href="mailto:support@actual.chat" class="footer-link">
                Contact us
            </a>
        </div>
        <div class="flex items-end min-h-8 text-01 text-sm">
            © 2023 Actual Chat Inc. All rights reserved.
        </div>
    </div>
    <div class="hidden md:flex-y gap-y-3 items-start text-01">
        <a class="footer-link" href="https://actual.chat/chat/announcements">
            Announcements
        </a>
        <a class="footer-link" href="https://github.com/Actual-Chat/actual-chat">
            GitHub
        </a>
    </div>
</div>
