.link-preview {
    @apply relative;
    @apply flex-x items-center gap-x-4;
    @apply h-34;
    @apply rounded-lg border border-separator;
    @apply overflow-hidden;
    @apply bg-01;
}
body.narrow .link-preview {
    @apply flex-y items-start;
    @apply h-60;
}
.link-preview:not(:has(.c-thumbnail)) {
    @apply h-20 md:h-20;
}
.link-preview:not(:has(.c-thumbnail)):not(:has(.c-description)) {
    @apply h-16 md:h-14;
}
body.hoverable .link-preview:hover {
    @apply brightness-105;
}
.link-preview.compact {
    @apply flex-x flex-x items-center;
    @apply h-auto;
    @apply p-2;
    @apply rounded-full;
}
body.narrow .link-preview.compact {
    @apply flex-x items-center gap-x-1;
    @apply h-auto;
    @apply p-1;
}
.link-preview .c-info {
    @apply flex-1 flex-y justify-between gap-y-4;
    @apply h-full;
    @apply p-2 md:py-4;
}
.link-preview.compact .c-info {
    @apply gap-y-1;
    @apply py-0 pr-20;
}
body.narrow .link-preview.compact .c-info {
    @apply p-0;
}

/* thumbnail */
.link-preview .c-thumbnail {
    @apply w-full md:max-w-34 lg:max-w-60;
    @apply h-40 md:h-34;
}
.link-preview .c-thumbnail.c-video {
    @apply relative;
    @apply cursor-pointer;
}
.link-preview.compact .c-thumbnail {
    @apply max-w-20 md:max-w-30;
    @apply h-20 md:h-30;
}
.link-preview .c-thumbnail .c-skeleton {
    @apply h-full w-full;
}
.link-preview image-skeleton::part(image) {
    object-fit: cover;
    object-position: 25%;
}
/* icon */
.link-preview .c-icon {
    @apply flex-none flex-x items-center justify-center;
    @apply h-12 w-12;
    @apply rounded-full;
    @apply bg-hover;
}
body.narrow .link-preview.compact .c-icon {
    @apply w-8 h-8;
    @apply bg-transparent;
}
.link-preview:not(:has(.c-description)) .c-icon {
    @apply h-10 w-10;
}
.link-preview .c-icon > i {
    @apply text-2xl text-primary;
}
body.narrow .link-preview.compact .c-icon > i {
    @apply text-xl;
}
/* text */
.link-preview .c-title {
    @apply text-caption-1 md:text-headline-1 leading-4 text-primary;
    @apply line-clamp-1;
}
.link-preview .c-description {
    @apply text-caption-2 text-02;
    @apply line-clamp-1;
}
.body.narrow .link-preview.compact .c-description {
    @apply text-xs font-normal leading-3;
}
.link-preview .c-domain {
    @apply w-fit;
    @apply text-caption-6 text-04;
    @apply line-clamp-1;
}
body.narrow .message-link-preview:not(:has(.compact)) .c-domain {
    @apply mb-1;
}
.link-preview .c-play {
    @apply text-white text-xl;
}
.link-preview .c-overlay {
    @apply absolute top-1/2 left-1/2;
    @apply flex-x items-center justify-center;
    @apply h-15 w-15;
    @apply -mt-7.5 -ml-7.5;
    @apply rounded-full;
    @apply backdrop-brightness-50;
}

/* Link Buttons */
.message-link-preview .link-buttons {
    @apply absolute bottom-3 right-1;
    @apply flex-x items-center gap-x-1;
    @apply h-fit;
}
body.narrow .message-link-preview:not(:has(.compact)) .link-buttons {
    @apply bottom-2;
}
body.narrow .message-link-preview:has(.compact) .link-buttons {
    @apply gap-x-0;
}
.message-link-preview:has(.compact) .link-buttons {
    @apply right-2 inset-y-1/2;
    transform: translateY(-50%);
}
.message-link-preview .link-buttons .btn.btn-round {
    @apply bg-transparent;
}
body.hoverable .message-link-preview .link-buttons .btn.btn-round:hover,
body.hoverable .message-link-preview .link-buttons .btn.btn-round:hover .btn-content {
    @apply bg-transparent;
}
.message-link-preview .link-buttons .btn.btn-round i {
    @apply text-xl text-04;
}
body.hoverable .message-link-preview .link-buttons .btn.btn-round:hover i {
    @apply text-primary;
}

body.narrow .link-preview.compact .incut {
    @apply flex-none;
    @apply w-15 h-12;
}
