.author-circle-group {
    @apply relative;
    @apply flex-x;
    @apply h-14 md:h-10;
}
.author-circle-group > .c-container {
    @apply absolute right-0 top-3 md:top-2 z-20;
    @apply flex-x;
}
.author-circle-group > .c-container.back {
    @apply top-2 md:top-1 z-10;
}

.author-circle-group-item {
    @apply flex-none;
    @apply -mr-2;
    @apply rounded-full;
    @apply outline outline-[var(--background-02)] outline-2;
    @apply overflow-visible;
}
.back .author-circle-group-item {
    @apply -mr-4;
    @apply outline-none;
    background: linear-gradient(180deg, #2970FF 0.32%, #C60077 133.76%);
    filter: blur(1px);
    animation: back-circle-pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.author-circle-group-item.last-author {
    @apply mr-1;
}
.back .author-circle-group-item.last-author {
    @apply mr-0;
}

.back .author-circle-group-item.last {
    @apply -ml-3 mr-0;
    @apply animate-none;
}
.forward .author-circle-group-item.last {
    @apply -ml-2 mr-1;
    @apply bg-transparent;
}
.author-circle-group-item.last > .avatar-text {
    @apply justify-end;
    @apply pr-2 md:pr-1;
    @apply bg-transparent;
    @apply always-white text-caption-3 md:text-caption-6;
}

@keyframes back-circle-pulse {
    0%, 100% {
        opacity: 0.9;
    }
    50% {
        opacity: 0.7;
    }
}
