@page "/test/render-slot"

<MainHeader>RenderSlot Test Page</MainHeader>

<div>
    <RenderSlot Name="TestHeader"/>
</div>
<div>
    <RenderSlotTestPageContent/>
</div>
<div>
    <RenderSlot Name="TestFooter"/>
</div>
