@page "/test/render-slot"

<h1>RenderSlot Test Page</h1>

<div>
    <RenderSlot Name="TestHeader"/>
</div>
<div>
    <RenderSlotTestPageContent/>
</div>
<div>
    <RenderSlot Name="TestFooter"/>
</div>
