@page "/test/render-slot"

<RequireAccount MustBeAdmin="true"/>
<MainHeader>RenderSlot Test Page</MainHeader>

<div class="flex-y">
    <RenderSlot Name="TestHeader"/>
</div>
<div class="flex-y">
    <RenderSlotTestPageContent/>
</div>
<div class="flex-y">
    <RenderStack Name="TestFooter">
        <Item>
            <div class="flex-auto">@context</div>
        </Item>
    </RenderStack>

</div>
