@namespace ActualChat.Chat.UI.Blazor.Components
@implements IDisposable
@using ActualChat.UI.Blazor.Services
@{
    var isVisible = NavbarUI.SelectedGroupId == Id;
    if (!isVisible)
        return;
}

<div class="@Class navbar-group">
    @ChildContent
</div>

@code{
    [Inject] private NavbarUI NavbarUI { get; init; } = null!;
    private EventHandler? _onActiveGroupChanged;

    [Parameter, EditorRequired] public string Id { get; set; } = "";
    [Parameter] public string Class { get; set; } = "";
    [Parameter] public RenderFragment? Icons { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }

    protected override void OnInitialized() {
        _onActiveGroupChanged = (s, e) => StateHasChanged();
        NavbarUI.SelectedGroupChanged += _onActiveGroupChanged;
    }

    public void Dispose() {
        NavbarUI.SelectedGroupChanged -= _onActiveGroupChanged;
    }
}
