@using ActualChat.Hosting
@using ActualChat.UI.Blazor.Services
@using ActualChat.Users
@namespace ActualChat.Chat.UI.Blazor.Components
@inherits OwnAccountComponentBase
@{
    var m = State.Value;
}

<div class="navbar-content">

@if (NavbarUI.SelectedGroupId == NavbarGroupIds.Chats) {
    <ChatListNavbarWidget />
}
@if (NavbarUI.SelectedGroupId.StartsWith(NavbarGroupIds.PlacePrefix)) {
    <PlaceChatListNavbarWidget PlaceId="@PlaceUI.ActivePlaceId.Value" />
}
@if (m.IsAdmin) {
    <NavbarGroup Title="Administration" Class="navbar-pages" Id="@NavbarGroupIds.Administration">
        <NavbarItem ReplaceOnPrefix="/admin/" Url="/admin/user-invites">Invite Users</NavbarItem>
    </NavbarGroup>
}
@if (HostInfo.IsDevelopmentInstance) {
    <NavbarGroup Title="Test pages" Class="navbar-pages" Id="@NavbarGroupIds.TestPages">
        <NavbarItem ReplaceOnPrefix="/test/" Url="/test/virtual-list">Virtual List</NavbarItem>
        <NavbarItem ReplaceOnPrefix="/test/" Url="/test/audio-player">Audio Player</NavbarItem>
        <NavbarItem ReplaceOnPrefix="/test/" Url="/test/audio-recorder">Audio Recorder</NavbarItem>
        <NavbarItem ReplaceOnPrefix="/test/" Url="/test/render-slot">Render Slot</NavbarItem>
        <NavbarItem ReplaceOnPrefix="/test/" Url="/test/ui-colors">UI Colors</NavbarItem>
        <NavbarItem ReplaceOnPrefix="/test/" Url="/test/error-barrier">Error Barrier</NavbarItem>
        <NavbarItem ReplaceOnPrefix="/test/" Url="/test/error-toast">Error Toast</NavbarItem>
        <NavbarItem ReplaceOnPrefix="/test/" Url="/test/toast">Toast</NavbarItem>
        <NavbarItem ReplaceOnPrefix="/test/" Url="/test/dive-in-modal-test">Dive-in Modal</NavbarItem>
        <NavbarItem ReplaceOnPrefix="/test/" Url="/test/reconnect-overlay">Reconnect Overlay</NavbarItem>
        <NavbarItem ReplaceOnPrefix="/test/" Url="/test/loading-overlay">Loading Overlay</NavbarItem>
        <NavbarItem ReplaceOnPrefix="/test/" Url="/test/mic-permission-guides">Mic Permission Guides</NavbarItem>
        <NavbarItem ReplaceOnPrefix="/test/" Url="/test/skeletons">Skeletons</NavbarItem>
        <NavbarItem ReplaceOnPrefix="/test/" Url="/test/requirements">Requirements</NavbarItem>
        <NavbarItem ReplaceOnPrefix="/test/" Url="/test/features">Features</NavbarItem>
        <NavbarItem ReplaceOnPrefix="/test/" Url="/test/compute-state">Compute State</NavbarItem>
        <NavbarItem ReplaceOnPrefix="/test/" Url="/test/markup-editor">Markup Editor</NavbarItem>
        <NavbarItem ReplaceOnPrefix="/test/" Url="/test/auth">Authentication</NavbarItem>
        <NavbarItem ReplaceOnPrefix="/test/" Url="/test/blazor">Blazor</NavbarItem>
        <NavbarItem ReplaceOnPrefix="/test/" Url="/test/js">JavaScript</NavbarItem>
        <NavbarItem ReplaceOnPrefix="/test/" Url="/test/embedded">Embedded</NavbarItem>
        <NavbarItem ReplaceOnPrefix="/test/" Url="/test/totp">Totp</NavbarItem>
        @if (HostInfo.AppKind == AppKind.MauiApp) {
            <NavbarItem ReplaceOnPrefix="/test/" Url="/test/maui">Maui</NavbarItem>
        }
        <NavbarItem ReplaceOnPrefix="/test/" Url="/test/system">System</NavbarItem>
    </NavbarGroup>
}

</div>

@code {
    [Inject] private NavbarUI NavbarUI { get; init; } = null!;
    [Inject] private PlaceUI PlaceUI { get; init; } = null!;

    private EventHandler _navbarUIOnSelectedGroupChanged = null!;

    protected override void OnInitialized() {
        _navbarUIOnSelectedGroupChanged = NavbarUIOnSelectedGroupChanged;
        NavbarUI.SelectedGroupChanged += _navbarUIOnSelectedGroupChanged;
        base.OnInitialized();
    }

    public override ValueTask DisposeAsync() {
        NavbarUI.SelectedGroupChanged -= _navbarUIOnSelectedGroupChanged;
        return base.DisposeAsync();
    }

    private void NavbarUIOnSelectedGroupChanged(object? sender, EventArgs e)
        => StateHasChanged();
}
