.left-panel-buttons .btn.btn-square .navbar-button-content.btn-content {
    @apply w-10 md:w-12 h-10 md:h-12;
    @apply text-primary;
}
.left-panel-buttons .btn.btn-square.on .navbar-button-content.btn-content {
    @apply text-square-title;
}

/* Group toggle button on the left side of the navbar */
.navbar-button {
    @apply relative;
    @apply flex-none flex-x items-center justify-end;
    @apply lg:w-20;
}
.navbar-button .left-line {
    @apply self-center;
    @apply -order-1;
    @apply h-10 md:h-12;
    @apply py-2;
    @apply rounded-full;
}
.navbar-button:not(.selected) .left-line {
    @apply invisible;
}
.navbar-button-content.btn-content {
    @apply justify-center;
    @apply p-1;
    @apply rounded-xl md:rounded-lg;
}

.navbar-button .badge {
    @apply absolute -right-0.5 -top-0.5;
    @apply min-w-4 min-h-4 w-4 h-4;
    @apply text-[0.625rem];
    @apply bg-danger;
}

.navbar-button > .c-dots {
    @apply absolute z-10 left-1;
    @apply hidden;
    @apply opacity-50;
}
.navbar-button:hover > .c-dots {
    @apply lg:flex;
}

/* Navbar content */
.navbar-content {
    @apply flex-auto flex-y overflow-y-hidden;
    @apply h-full;
}

/* Navbar group - the right part of the navbar */
.navbar-group {
    @apply flex-1 flex-y gap-y-1;
    @apply overflow-auto custom-scrollbar;
    will-change: custom; /* Ensures its own composition layer */
}
.navbar-group > .c-container {
    @apply flex-1 flex-y;
}
.navbar-group > .c-container > .c-delimiter {
    @apply border-t border-separator;
}
/* Navgar subgroup */
.navbar-subgroup {
    @apply flex-x justify-start items-center gap-x-1;
    @apply pt-2;
}
.navbar-subgroup.first {
    @apply pt-0;
}
.navbar-subgroup .navbar-subgroup-content {
    @apply text-03 text-xs font-semibold uppercase;
    @apply opacity-75;
}
.navbar-subgroup .navbar-subgroup-ending {
    @apply flex-1 justify-self-end;
    @apply flex-x justify-end gap-x-1;
    @apply text-03 text-xs font-light;
}

/* Navbar item */
.navbar-item {
    @apply relative;
    @apply flex-x justify-start items-center gap-x-1;
    @apply min-h-12 h-12;
    @apply px-2;
    @apply rounded-lg;
}
.navbar-item .navbar-item-content {
    @apply flex-1 flex-x;
    @apply h-full;
    @apply overflow-hidden;
    @apply text-02;
}
.navbar-item .navbar-item-ending {
    @apply flex-none justify-self-end;
    @apply flex-x justify-end items-center gap-x-2;
    @apply h-full;
    @apply overflow-hidden;
}
.navbar-item .navbar-item-ending .slot {
    @apply flex-none flex-x items-center;
    @apply h-full;
    @apply overflow-hidden;
}

body.hoverable .navbar-item:hover {
    @apply bg-hover;
    @apply cursor-pointer;
}
.navbar-item:has(.navbar-item-content:active) {
    @apply bg-transparent border-x border-transparent;
}
.navbar-item.active {
    @apply bg-selected;
}
.navbar-item.active:active {
    @apply border-0;
}

.active-chats .navbar-subgroup .pin-toggle,
.active-chats .navbar-item .pin-toggle {
    @apply visible;
}

.navbar-place-buttons {
    @apply relative;
    @apply flex-y items-center gap-y-3 md:gap-y-2;
    @apply w-full overflow-y-auto;
    @apply pt-2 -mt-2;
    @apply custom-scrollbar-hide;
}
.navbar-place-buttons:empty {
    @apply m-0 -mb-3 md:-mb-2 p-0;
}
.navbar-place-buttons::-webkit-scrollbar {
    display: none;
}

.right-line {
    @apply w-[5px];
}

.navbar-button.drag-btn .btn.btn-square .navbar-button-content.btn-content,
.navbar-button.ghost-btn .btn.btn-square .navbar-button-content.btn-content {
    @apply h-12 w-12;
}

body.narrow .navbar-button.drag-btn .btn.btn-square .navbar-button-content.btn-content,
body.narrow .navbar-button.ghost-btn .btn.btn-square .navbar-button-content.btn-content {
    @apply h-10 w-10;
}

.ghost-btn {
    @apply fixed z-[1000];
    @apply flex-x items-center justify-center;
}
.ghost-btn > .navbar-button {
    animation: twitch 200ms 2 forwards;
}
.ghost-btn > .navbar-button > .c-dots {
    @apply opacity-100;
}
.ghost-btn > .navbar-button .btn.btn-square {
    @apply opacity-50;
}
.ghost-btn .btn.btn-square .navbar-button-content.btn-content {
    @apply h-10 w-10 md:h-12 md:w-12;
}
@keyframes twitch {
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(0);
    }
    75% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0);
    }
}
