@page "/docs/cookies"
@inherits LayoutComponentBase
@layout DocsLayout

<DocsDocument Page="@DocsPage.Cookies"/>

<DocsSubHeader Page="@DocsPage.Cookies"/>

<div class="docs-content">
    <h1>Cookies</h1>
    <p>Last updated: January 18, 2023</p>
    <h1 id="introduction">Introduction</h1>
    <p>
        Most websites use cookies to improve your user experience by enabling that website to ‘remember’ you, either
        for the duration of your visit (using a ‘session cookie’) or for repeat visits (using a ‘persistent cookie’).
    </p>
    <p>
        Cookies do many different things. They allow you to navigate between website pages efficiently, store your
        preferences and generally improving your experience of any website. Cookies make the interaction between you
        and the website faster and easier.
    </p>
    <p>
        When you visit any web site, it may store or retrieve information on your browser, mostly in the form of
        cookies. This information might be about you, your preferences or your device and is mostly used to make the
        site work as you expect it to. The information does not usually directly identify you, but it can give you a
        more personalized web experience. Because we respect your right to privacy, you can choose not to allow some
        types of cookies.
    </p>
    <p>
        However, blocking some types of cookies may impact your experience of the site and the
        services we are able to offer.
    </p>

    <h1 id="whats-in">Whats in a cookie?</h1>
    <p>
        A cookie is a simple text file that is stored on your computer or mobile device by a website’s server and only
        that server will be able to retrieve or read the contents of that cookie. Each cookie is unique to your web
        browser. It will contain some anonymous information such as a unique identifier and the site name and some
        digits and numbers. It allows a website to remember things like your preferences or what is in your shopping
        basket.
    </p>

    <h1 id="how-to-set">What to do if you do not want cookies to be set</h1>
    <p>
        Some people find the idea of a website storing information on their computer or mobile device intrusive,
        particularly when this information is stored and used by a third party without them knowing.
    </p>
    <p>
        Although this is generally quite harmless you may not, for example, want to see advertising that has been
        targeted to your interests. If you prefer, it is possible to block some or all cookies or even to delete
        cookies that have already been set; but you need to be aware that you might lose some functions of that website.
    </p>

    <h1 id="control">How can I control cookies?</h1>
    <p>
        If you do not want to receive cookies, you can modify your browser so that it notifies you when cookies are
        sent to it or you can refuse cookies altogether. You can also delete cookies that have already been set.
    </p>
    <p>
        If you wish to restrict or block web browser cookies which are set on your device then you can do this through
        your browser settings. You may wish to visit aboutcookies.org which contains comprehensive information on how
        to do this on a wide variety of desktop browsers.
    </p>

    <h1 id="how-we-use">How Actual.Chat uses cookies</h1>
    <p>
        When you visit the Actual.Chat website, you will be prompted to give your explicit consent
        (pop-up - Accept) to store cookies on your computer. You can decline the cookies (do not click Accept on
        the pop-up), and if you accepted the cookies and would like to remove them, you need to clear your browser.
        You can find more information on enabling, disabling and deleting cookies in the instructions and in your
        browser’s Help tab. We use the following cookies:
    </p>
    <h2>Permanent cookies</h2>
    <p>
        Permanent cookies help us to recognise you each time you visit our website, so that the website can be
        presented in line with your preferences and settings. Also, if you give permission for cookies to be used,
        this is itself saved by means of a cookie. This means you do not have to re-enter your preferences, which
        saves time and guarantees a better user experience. You can disable permanent cookies in the settings of
        your web browser.
    </p>
    <h2>Session cookies</h2>
    <p>
        Session cookies allow us to see which parts of the website you viewed during your visit. This helps us tailor
        our website to the surfing behavior or our visitors. These cookies are automatically deleted when you restart
        your browser.
    </p>
    @* <h2>Google Analytics</h2> *@
    @* <p> *@
    @*     Our website stores cookies from Google as part of the Google Analytics service. We use this service to keep *@
    @*     track of how visitors use our website. Google may provide this information to third parties if it is legally *@
    @*     required to do so or if the parties process this information on Google’s behalf. We have no influence over *@
    @*     this. We have authorised Google to use these analytics for other Google services. *@
    @* </p> *@
    @* <h2>Facebook, Twitter and other external companies</h2> *@
    @* <p> *@
    @*     Our website has buttons that allow you to ‘like’ or share webpages on social networks like Facebook or Twitter. *@
    @*     These buttons work using strings of code generated by the social networks, which are then used to store cookies *@
    @*     on your computer. We have no influence over this process. Please read the privacy policies of Facebook, *@
    @*     LinkedIn, Google+ and Twitter (which are subject to regular changes) to find out how they use the personal *@
    @*     information they collect with these cookies. The information they collect is anonymized as far as possible. *@
    @*     It is transferred to and stored by Twitter, Facebook, Google+ and LinkedIn on servers in the United States. *@
    @*     These companies must adhere to the Safe Harbor principles and are registered in the Safe Harbor programme of *@
    @*     the US Department of Commerce. This ensures an adequate level of protection when processing any personal *@
    @*     information. *@
    @* </p> *@

    <h1 id="blocking">Blocking cookies</h1>
    <p>
        Most browsers allow you to refuse to accept cookies; for example:
    </p>
    <p>
        in <strong>Internet Explorer</strong> (version 11) you can block cookies using the cookie handling override
        settings available by clicking "Tools", "Internet Options", "Privacy" and then "Advanced";
    </p>
    <p>
        in <strong>Firefox</strong> (version 59) you can block all cookies by clicking "Tools", "Options", "Privacy",
        selecting "Use custom settings for history" from the drop-down menu, and unticking "Accept cookies from sites";
    </p>
    <p>
        in <strong>Chrome</strong> (version 65), you can block all cookies by accessing the "Customise and control"
        menu, and clicking "Settings", "Show advanced settings" and "Content settings", and then selecting "Allow sites
        to save and read cookie data (recommended)" under the "Cookies" heading.
    </p>
    <p>
        In <strong>Edge</strong> (version 41) you can block cookies by clicking on the 3-dotted ‘More’ link to open
        Settings, Scroll down and click on “View Advanced Settings”, again scroll down till you see the setting for
        Cookies, when here, from the 3 options, select one, Block all Cookie Block only third party cookies, Don’t
        block cookies.
    </p>
    <p>
        In <strong>Safari</strong> (version 11) choose “Preferences”, “Privacy” and select from the options.
    </p>
    <p>
        Blocking all cookies will have a negative impact upon the usability of many websites.
        If you block cookies, you will not be able to use all the features on our website.
    </p>

    <h1>Deleting cookies</h1>
    <p>
        You can delete cookies already stored on your computer.
    </p>

    <h1>Contact Us</h1>
    <p>If you have any questions about the Cookies we collect, You can contact us:</p>
    <ul>
        <li>By email:
            <a href="mailto:support@actual.chat">support@actual.chat</a>
        </li>
    </ul>
    <div id="rememberry__extension__root" style="all: unset;"></div>
</div>

<AnchorNavigation/>
