@using ActualChat.UI.Blazor.Services
@using ActualChat.Users
@using System.Security.Cryptography
@using ActualChat.UI.Blazor.App.Module
@using ActualChat.UI.Blazor.Module
@{
    var title = Page switch {
        DocsPage.Terms => "Terms and Conditions",
        DocsPage.Cookies => "Cookies",
        _ => "Privacy Policy",
    };
}

@if (!ScreenSize.IsNarrow()) {
    <div class="docs-header">
        Documents
    </div>
} else {
    <div class="docs-header">
        <LandingLeftMenu @ref="_landingLeftMenu" ShowHome="true"/>

        <ButtonRound Class="menu-button btn-sm" Click="@OnMenuHandleClick">
            <i class="icon-menu text-2xl"></i>
        </ButtonRound>
        <div class="-mt-0.5">
            @title
        </div>
    </div>
}

@code {
    private LandingLeftMenu? _landingLeftMenu;

    [CascadingParameter] private ScreenSize ScreenSize { get; set; }

    [Parameter] public DocsPage Page { get; set; }

    private void OnMenuHandleClick()
        => _landingLeftMenu?.Open();
}
