@namespace ActualChat.UI.Blazor.App

<div class="c-header">
    <SigninButtonGroup>
        <GoogleIcon>
            <img src="/dist/images/landing/google-icon-color.svg" alt="google" class="min-h-8 min-w-8">
        </GoogleIcon>
        <FacebookIcon>
            <img src="/dist/images/landing/google-icon-color.svg" alt="facebook" class="min-h-8 min-w-8">
        </FacebookIcon>
        <AppleIcon>
            <img src="/dist/images/landing/google-icon-color.svg" alt="apple" class="min-h-8 min-w-8">
        </AppleIcon>
    </SigninButtonGroup>
</div>
