@namespace ActualChat.UI.Blazor.App

<RenderIntoSlot Name="MainLeftDrawer">
    <CascadingValue Value="@Page">
        <DocsLeftPanel/>
    </CascadingValue>
</RenderIntoSlot>

<RenderIntoSlot Name="MainRightDrawer">
    <DocsRightPanel Page="@Page"/>
</RenderIntoSlot>

<RenderIntoSlot Name="MainHeader">
    <div class="docs-header">
        Documents
    </div>
</RenderIntoSlot>

@code {
    [Parameter] public DocsPage Page { get; set; } = DocsPage.Privacy;

    public enum DocsPage {
        Privacy,
        Terms,
        Cookies,
        Faq,
    }
}
