@namespace ActualChat.UI.Blazor.Components
@implements IModalView<ShareModal.Model>

<DialogFrame
    HasCloseButton="true"
    Title="@(ModalModel.Title.NullIfEmpty() ?? "Share")"
    NarrowViewSettings="DialogFrameNarrowViewSettings.Stretch">
    <Body>
        <h3>ShareModal</h3>
    </Body>
    <Buttons>
        <ShareDialogButtons
            Title="@ModalModel.Title"
            Text="@ModalModel.Text"
            Link="@ModalModel.Link"/>
    </Buttons>
</DialogFrame>


@code {
    [CascadingParameter] public Modal Modal { get; set; } = null!;
    [Parameter] public Model ModalModel { get; set; } = null!;

    public record Model {
        public Model(string text)
            => Text = text;
        public Model(Uri link)
            => Link = link;

        public string Text { get; } = "";
        public Uri? Link { get; }
        public string Title { get; init; } = "";
    }
}
