.replay-subheader {
    --subheader-height: 3rem;
    @apply relative z-10;
    @apply flex items-center;
    @apply w-full min-h-12;
    @apply pl-2 md:pl-1 pr-3 md:pr-1;
    @apply rounded-lg border-2 border-replay;
    @apply bg-replay;
    @apply text-replay;
}
.replay-subheader .c-authors-block {
    @apply relative;
    @apply flex-none flex items-center;
}
.replay-subheader .c-authors-block.c-slots-2 {
    @apply w-14;
}
.replay-subheader .c-authors-block.c-slots-3 {
    width: 4.75rem;
}
.replay-subheader .c-authors-block.c-slots-4 {
    @apply w-16 md:w-24;
}
.replay-subheader .c-authors {
    @apply relative z-10;
    @apply flex-1;
}
.replay-subheader .author-circle .avatar-circle {
    border-color: var(--border-replay);
}
.replay-subheader .c-skeletons {
    @apply absolute inset-0 z-0;
    @apply flex items-center;
    @apply pointer-events-none;
}
.replay-subheader .replay-skeleton {
    @apply w-9 h-9;
    @apply -ml-4;
    @apply rounded-full;
    background-color: var(--border-replay);
}
.replay-subheader .replay-skeleton:first-child {
    @apply ml-0;
}
.replay-subheader .replay-skeleton:nth-child(1) {
    opacity: 0.55;
}
.replay-subheader .replay-skeleton:nth-child(2) {
    opacity: 0.4;
}
.replay-subheader .replay-skeleton:nth-child(3) {
    opacity: 0.25;
}
.replay-subheader .replay-skeleton:nth-child(4) {
    opacity: 0.12;
}
.replay-subheader .c-divider {
    @apply flex-none;
    @apply h-8 w-[2px];
    @apply m-0;
    @apply rounded-full;
    background-color: var(--border-replay);
}
.replay-subheader .c-info {
    @apply flex-1 flex-y justify-center;
    @apply min-w-0;
    @apply overflow-hidden;
}
.replay-subheader .c-info .c-title {
    @apply truncate;
    @apply text-caption-4 text-01;
}
a.c-title {
    @apply cursor-pointer hover:underline;
}
.replay-subheader .c-info .c-date {
    @apply truncate;
    @apply text-caption-8 text-03;
}
.replay-subheader .c-playback {
    @apply flex-none flex-x items-center gap-x-0.5 md:gap-x-1;
    @apply p-0.5;
    @apply rounded-full;
    @apply bg-cancel;
}
.replay-subheader .c-actions {
    @apply flex-none flex-x items-center gap-x-2;
}
.replay-subheader .c-speed-btn {
    @apply flex-none;
}
.replay-subheader .c-speed-btn .c-speed-label {
    @apply text-caption-2 whitespace-nowrap;
}

/* Speed menu */
.replay-speed-menu {
    @apply min-w-32;
}
.replay-speed-menu > div:first-child {
    @apply p-2;
    @apply text-02 font-semibold;
}
.replay-speed-menu > .divider {
    @apply mb-1;
}
.replay-speed-menu .ac-menu-item.selected .ac-menu-text {
    @apply text-primary font-semibold;
}
