@namespace ActualChat.Chat.UI.Blazor.Components
@using ActualChat.Comparison

<EventHandler TEvent="@NavigateToChatEntry" Handler="@OnNavigateToChatEntry" />
<VirtualList
    Class="chat-view"
    LoadZoneSize="2000" BufferZoneSize="4000" SpacerSize="200" SkeletonCount="20"
    DataSource="GetMessages"
    KeyComparer="LongAsStringKeyComparer.Default"
    VisibleKeysState="VisibleKeys">
    <Item>
        <ChatMessage Message="@context" />
    </Item>
    <Skeleton>
        @{
            var rnd = new Random(Random.Shared.Next());
        }
        <div class="mx-4 my-2 flex items-start opacity-75 hover:opacity-100 animate-pulse">
            <div class="block bg-skeleton w-10 h-10 rounded-full mr-3"></div>
            <div class="flex-1 overflow-hidden">
                <div class="flex-x">
                    <div class="font-bold bg-skeleton rounded-md border-skeleton-border border-2 w-32 h-4"></div>
                    <div class="bg-skeleton w-10 h-4 rounded-md border-skeleton-border border-2"></div>
                </div>
                <div class="leading-normal bg-skeleton block h-4 rounded-md border-skeleton-border border-2"
                     style="width: @(30 + rnd.Next(70))%;"></div>
            </div>
        </div>
    </Skeleton>
</VirtualList>
