@namespace ActualChat.Chat.UI.Blazor.Components
@using ActualChat.Comparison

<VirtualList
    Class="@(this.DefaultClass())"
    PreferredTrackingEdge="VirtualListEdge.End"
    LoadZoneSize="6000" BufferZoneSize="12000" SpacerSize="24000"
    DataSource="GetMessages"
    KeyComparer="LongAsStringKeyComparer.Default">
    <Item>
        @if (context.Value is ChatMessageModel chatMessageModel) {
            <ChatMessage Model="@chatMessageModel" />
        }
        else if (context.Value is ChatDateSeparatorModel chatDateSeparator) {
            <ChatDateSeparator Model="@chatDateSeparator" />
        }
        else {
            
        }
    </Item>
    <Skeleton>
        @{
            var rnd = new Random(context);
        }
        <div class="flex items-start mb-4 text-sm opacity-75 hover:opacity-100 animate-pulse">
            <div class="block bg-gray-200 w-10 h-10 rounded-full mr-3"></div>
            <div class="flex-1 overflow-hidden">
                <div class="flex flex-row">
                    <div class="font-bold bg-gray-200 rounded-md border-white border-2 w-32 h-4"></div>
                    <div class="bg-gray-200 w-10 h-4 rounded-md border-white border-2"></div>
                </div>
                <div class="leading-normal bg-gray-200 block h-4 rounded-md border-white border-2" style="width: @(30 + rnd.Next(70))%;"></div>
            </div>
        </div>
    </Skeleton>
</VirtualList>
