.message-wrapper {
    @apply relative flex-y;
    @apply border-l-2 border-bg-01;
    @apply md:select-text;
    @apply translate-z-0;
}
body.hoverable .message-wrapper:hover {
    @apply bg-message-hover border-message-hover;
}
body.hoverable .message-wrapper:hover .avatar-badge {
    @apply bg-message-hover;
}
body.hoverable .system-entry.message-wrapper:hover {
    @apply bg-transparent border-transparent;
}

.chat-message {
    @apply relative;
    @apply flex-1 flex-x items-stretch gap-x-1 overflow-hidden;
    @apply text-current break-words;
    @apply antialiased sm:subpixel-antialiased md:antialiased;
}

.chat-message > .c-author-badge {
    @apply flex-none;
    @apply h-fit;
    @apply pl-2.5 pt-2.5 pb-2.5 pr-1.5;
    @apply overflow-hidden;
    @apply select-none;
}
.chat-message > .c-author-badge:has(.c-empty) {
    @apply py-2;
}
.chat-message > .c-author-badge > .c-empty {
    @apply flex items-center justify-center;
    @apply w-9 h-2.5;
}

.chat-message > .c-content {
    @apply flex-1 flex-y;
    @apply mr-4 md:mr-8;
    @apply overflow-hidden;
}

.chat-message > .c-content > .c-author-header {
    @apply flex-none flex-x items-baseline gap-x-2;
    @apply min-w-0;
    @apply mt-1;
}

.chat-message-author-name {
    @apply max-h-6 overflow-hidden truncate;
    @apply font-bold text-03;
    @apply hover:opacity-80;
    @apply cursor-pointer;
}

.forwarded-message .forwarded-chat-header {
    @apply flex-x items-center gap-x-1;
    @apply min-w-0;
}
.forwarded-message .forwarded-chat-header-icon {
    @apply font-normal text-primary;
}
.forwarded-message .forwarded-chat-header-title {
    @apply max-h-6 truncate;
    @apply font-normal text-primary;
}
.forwarded-message .forwarded-chat-header-name {
    @apply max-h-6 truncate;
    @apply font-medium text-primary;
}
.forwarded-message .forwarded-author-header {
    @apply flex-x items-baseline gap-x-2;
    @apply min-w-0;
}
.forwarded-message .forwarded-author-header-name {
    @apply max-h-6 truncate;
    @apply font-medium text-primary;
}
.message-link {
    @apply hover:opacity-80;
    @apply cursor-pointer;
}

.forwarded-message .message-content,
.forwarded-message .message-attachments,
.forwarded-message .message-reactions,
.forwarded-message .message-link-preview,
.forwarded-message .forwarded-author-header {
    @apply pl-2;
    @apply border-l-2 border-primary;
}

.message-wrapper.own-message .author-name {
    @apply text-primary;
}

.chat-message-highlighted {
    @apply animate-highlight;
}

body.hoverable .message-wrapper:hover .avatar-badge {
    @apply bg-inherit;
}

.message-wrapper.replied-message,
.message-wrapper.mention.replied-message {
    @apply bg-replied-message border-l-2 border-replied-message-border;
}
body.hoverable .message-wrapper.replied-message:hover,
body.hoverable .message-wrapper.mention.replied-message:hover {
    @apply bg-replied-message-hover border-l-2 border-replied-message-border;
}

.chat-message-timestamp,
.chat-message-timestamp-on-hover {
    @apply text-03 text-xs;
}
.chat-message-timestamp-on-hover {
    @apply invisible;
}
body.hoverable .chat-message:hover .chat-message-timestamp-on-hover,
body.hoverable .chat-message.mention:hover .chat-message-timestamp-on-hover {
    @apply visible;
}

.chat-message-markup {
    @apply text-02;
}

.chat-message.mention .chat-message-markup {
    @apply ml-0;
}
body.narrow .message-menu .reaction-select {
    @apply gap-2;
}
body.narrow .message-menu .reaction-select-reaction-emoji {
    @apply w-8 h-8;
}
body.hoverable .chat-message:hover .message-reactions-add {
    @apply visible;
}
.chat-message-transcript {
    @apply text-02 whitespace-normal;
}

.chat-message-transcript .retained {
}

.chat-message-transcript .changes {
    @apply underline;
}

body.hoverable .chat-header-title:hover {
    @apply text-02;
}

.new-separator-title {
    @apply bg-new-separator;
    @apply text-danger;
    @apply translate-z-0;
}

.message-content {
    @apply flex-1 overflow-hidden;
    @apply py-0.5;
}
.system-entry {
    @apply self-center;
    @apply w-full;
    @apply px-6;
    @apply mt-0.5;
}
.system-entry .chat-message {
    @apply flex-y items-center justify-center;
}
.system-entry .chat-message > .c-content {
    @apply flex-none;
    @apply mr-0;
}
.system-entry .chat-message-markup {
    @apply flex flex-wrap items-center justify-center gap-x-0.5;
    @apply mt-0.5;
}
.system-entry * {
    @apply text-xs font-medium;
}
.system-entry .message-content {
    @apply flex-x flex-wrap justify-center items-center gap-x-2;
    @apply bg-03;
    @apply w-fit;
    @apply px-2;
    @apply rounded-lg;
}
.system-entry .message-content .avatar-name {
    @apply font-semibold;
    @apply cursor-pointer;
    @apply hover:opacity-80;
}
.system-entry .mention-markup,
.system-entry .mention-markup.mention-markup-own {
    @apply p-0;
    @apply bg-transparent;
}
.system-entry .mention-markup *,
.system-entry .mention-markup.mention-markup-own * {
    @apply m-0;
    @apply text-xs font-medium;
}
.system-entry .icon-at {
    @apply hidden;
}

.chat-message-quote {
    @apply flex-x gap-x-2 h-11;
    @apply text-03 cursor-pointer;
    @apply antialiased sm:subpixel-antialiased md:antialiased;
}
.chat-message-quote.removed {
    @apply italic cursor-default;
}
.chat-message-quote > .c-content {
    @apply flex-1 flex-y content-center;
    @apply overflow-hidden;
}
.chat-message-quote > .c-content > .c-author {
    @apply max-h-6 overflow-hidden truncate;
    @apply opacity-90;
}
.chat-message-quote > .c-content > .c-text {
    @apply max-h-6 overflow-hidden truncate;
    @apply font-medium text-base text-03;
    @apply pointer-events-none;
}

.message-attachments {
    @apply flex-y gap-y-1;
    @apply py-0.5;
    @apply overflow-hidden;
}
.message-image-attachments {
    @apply flex-y flex-wrap gap-px;
    @apply w-fit max-w-full md:max-w-120 /*lg:w-180*/ /*xl:w-240*//* 2xl:w-320*/;
    @apply rounded-xl;
    @apply overflow-hidden;
}
.message-file-attachments {
    @apply flex-y gap-y-1;
}

.chat-welcome-block {
    @apply flex-y gap-y-2;
    @apply p-4;
}
.chat-welcome-block .c-header {
    @apply flex-x gap-x-2 items-center;
}
.chat-welcome-block .c-chat-title {
    @apply text-01 text-headline-6;
}
.chat-welcome-block .c-content {
    @apply text-02 text-text-1;
}
.chat-link {
    @apply flex-x items-center gap-x-16;
    @apply w-full;
    @apply mt-2 p-2 md:p-2;
    @apply border border-separator rounded-full;
    @apply text-primary text-headline-1;
    @apply bg-transparent;
    max-width: 35.5rem;
}
.narrow .chat-link {
    @apply gap-x-4;
}
.chat-link .c-link-url,
.chat-link .c-link-buttons {
    @apply flex-x items-center gap-x-4;
}
.chat-link .c-link-url {
    @apply flex-1;
    @apply text-caption-1 md:text-headline-1;
    @apply truncate;
}
.chat-link .c-link-url > .c-round {
    @apply flex-none flex items-center justify-center;
    @apply h-12 w-12;
    @apply rounded-full;
    @apply bg-hover;
}
body.narrow .chat-link .c-link-buttons {
    @apply gap-x-3;
}
.chat-link i {
    @apply text-xl;
}
.chat-link i.icon-copy,
.chat-link i.fa-check {
    @apply text-lg;
}
.chat-link .c-link-wrapper {
    @apply flex-y overflow-hidden;
}
.chat-link .link-url {
    @apply truncate;
}
.chat-link .link-hint {
    @apply text-xs font-normal text-03;
}
.chat-link .btn.btn-round i {
    @apply text-primary text-2xl;
}
.chat-link .btn .btn-content {
    @apply flex-x gap-x-3;
}
body.hoverable .message-wrapper:has(.chat-welcome-block):hover {
    @apply bg-transparent border-transparent;
}

.message-link-preview {
    @apply relative;
    @apply py-1;
}
