.chat-page {
    @apply h-full w-full flex flex-col flex-nowrap justify-between overflow-y-auto;
}

.chat-message {
    @apply flex items-start;
    @apply antialiased sm:subpixel-antialiased md:antialiased;
    @apply text-sm text-current break-words;
}

.chat-message.mention {
    @apply border-x-2 border-x-mention-hover bg-mention-message border-y border-y-sky-100;
}

.chat-message:hover {
    @apply bg-message-hover;
}

.chat-message.mention:hover {
    @apply bg-mention-message
}

.chat-message:hover .author-badge {
    @apply bg-message-hover;
}

.chat-message:hover .hidden-btn {
    @apply visible;
}

.chat-message.mention:hover .author-badge {
    @apply bg-mention-message;
}

.author-image {
    @apply rounded-lg border-2 inline-block;
}

.author-recording {
    @apply border-success;
}

.author-not-recording {
    @apply border-secondary;
}

.chat-message:hover .author-recording {
    @apply border-success;
}

.chat-message:hover .author-not-recording {
    @apply border-message-hover;
}

.chat-message:hover .chat-message-timestamp-secondary {
    @apply visible;
}

.chat-message.mention:hover .chat-message-timestamp-secondary {
    @apply visible;
}

.chat-message.mention .chat-message-markup {
    @apply ml-0;
}

.chat-message:hover .message-menu {
    @apply visible;
}

.chat-message:hover .menu-body {
    @apply flex;
}

.chat-message-markup .playable {
    @apply cursor-pointer;
    transition: color 300ms ease-in, text-shadow 300ms ease-in;
}

.chat-message-markup .playable:hover {
    text-shadow: 0 0 2px var(--glow-max), 0 0 4px var(--glow-mid), 0 0 8px var(--glow-min);
}

.chat-message-markup .playing {
    text-shadow: 0 0 2px var(--playing-glow-max), 0 0 4px var(--playing-glow-mid), 0 0 8px var(--playing-glow-min);
}

.chat-header-title:hover {
    @apply text-accent;
}

.whitespace-break-spaces {
    white-space: break-spaces;
}

.panel-menu {
    @apply bg-transparent shadow-none;
}

.panel-menu-item {
    @apply h-5;
}

.panel-menu-item:hover {
    @apply bg-transparent;
}

.new-separator {
    @apply bg-accent;
}

.new-separator-title {
    @apply bg-accent text-accent rounded-md;
}

