.dropdown:focus-within .dropdown-menu {
    opacity: 1;
    transform: translate(0) scale(1);
    visibility: visible;
  }

.account-dropdown-menu {
    @apply absolute;
}

.account-dropdown-menu.menu {
    @apply border border-context-border;
}

.btn.btn-square.account-btn {
    @apply flex flex-1 ml-1 bg-transparent rounded-none;
}
.btn-square.account-btn .avatar-badge {
    @apply bg-transparent p-0;
}
.btn-square.account-btn .btn-content {
    @apply p-2;
}
.btn-square.account-btn .avatar-badge > * {
    @apply m-0;
}
.btn-square.account-btn .avatar-badge img {
    @apply min-w-10 max-w-10 min-h-10 max-h-10;
    @apply md:min-w-12 md:max-w-12 md:min-h-12 md:max-h-12;
}
body.hoverable .btn.btn-square.account-btn:hover > .btn-content {
    @apply bg-transparent;
}
.btn.btn-square.account-btn:focus {
    @apply ring-4 ring-square-focus rounded-sm;
}

.left-panel-account-menu .dropdown-menu-btn.btn-round .btn-content {
    @apply bg-primary text-primary-title;
}
.left-panel-account-menu .dropdown-menu-btn.btn-round .btn-content {
    @apply bg-primary text-primary-title h-10 w-10 min-h-0 min-w-0;
}
body.hoverable .left-panel-account-menu .dropdown-menu-btn.btn-round:hover .btn-content {
    @apply bg-primary-hover text-primary-title;
}

.footer-account-menu {
    @apply w-full;
}
