.dropdown:focus-within .dropdown-menu {
    opacity: 1;
    transform: translate(0) scale(1);
    visibility: visible;
  }

.account-dropdown-menu {
    @apply absolute bottom-6 -left-12;
}

.account-dropdown-menu.menu {
    @apply border border-context-border;
}

.btn.btn-square.account-btn {
    @apply flex flex-1 ml-1 bg-transparent rounded-none;
}
.btn-square.account-btn .author-badge {
    @apply bg-transparent p-0;
}
.btn-square.account-btn .btn-content {
    @apply p-2;
}
.btn-square.account-btn .author-badge > * {
    @apply m-0;
}
.btn.btn-square.account-btn:hover > .btn-content {
    @apply bg-transparent;
}
.btn.btn-square.account-btn:focus {
    @apply ring-4 ring-square-focus rounded-sm;
}

.left-panel-account-menu .dropdown-menu-btn.btn-round .btn-content {
    @apply bg-success text-success-title;
}
.left-panel-account-menu .dropdown-menu-btn.btn-round .btn-content {
    @apply bg-success text-success-title h-10 w-10 min-h-0 min-w-0;
}
.left-panel-account-menu .dropdown-menu-btn.btn-round:hover .btn-content {
    @apply bg-success-hover text-success-title;
}
