.dropdown:focus-within .dropdown-menu {
    opacity: 1;
    transform: translate(0) scale(1);
    visibility: visible;
  }

.account-dropdown-menu {
    @apply rounded-md p-1 ml-2 absolute bottom-6 -left-40 w-48 shadow-context;
}

.account-dropdown-menu.menu {
    @apply border border-context-border;
}

.btn.btn-square.account-btn {
    @apply flex flex-1 ml-1 bg-transparent rounded-none;
}
.btn-square.account-btn .author-badge {
    @apply bg-transparent px-1;
}
.btn.btn-square.account-btn:hover > .btn-content {
    @apply bg-transparent;
}
.btn.btn-square.account-btn:focus {
    @apply ring-4 ring-square-focus rounded-sm;
}
