@namespace ActualChat.UI.Blazor.Components
@using ActualChat.Users
@inherits ComputedStateComponent<AccountView.Model>

@{
    var model = State.ValueOrDefault ?? Model.Guest;
    var profile = model.Profile;
}

<img class="inline-block h-8 w-8 rounded-full" src="@profile.Picture" alt="avatar">
<div class="ml-3">
    <p class="text-sm leading-5 font-medium text-primary-muted hover:text-primary">
        @profile.Name
    </p>
    <div class="flex-x items-center px-1">
        <span class="rounded-full block w-2 h-2 mr-2 bg-online"></span>
        <span class="text-primary-muted font-medium text-xxs text-left leading-4 hover:text-primary"><a href="#">Online</a></span>
    </div>
</div>

@code {
    [Inject] private Session Session { get; init; } = null!;
    [Inject] private IUserProfiles UserProfiles { get; init; } = null!;

    protected override ComputedState<Model>.Options GetStateOptions()
        => new () { InitialValue = Model.Guest };

    protected override async Task<Model> ComputeState(CancellationToken cancellationToken)
    {
        var profile = await UserProfiles.Get(Session, cancellationToken).ConfigureAwait(true);
        if (profile == null) return Model.Guest;

        return new Model() { Profile = profile };
    }

    public class Model
    {
        public static Model Guest => new () { Profile = UserProfile.Guest };

        public UserProfile Profile { get; init; } = null!;
    }
}
