@namespace ActualChat.UI.Blazor.Components
@using ActualChat.Users
@using ActualChat.UI.Blazor.Services
@using ActualChat.Hosting
@using ActualChat.UI.Blazor.Events
@inject NavigationManager Navigator

<button class="account-btn btn-square" onclick="@OnSettingsClick">
    <AccountView/>
</button>

@code {
    [Inject] private ModalUI ModalUI { get; init; } = null!;
    [Inject] private UIEventHub UIEventHub { get; init; } = null!;

    private void OnSettingsClick()
        => _ = UIEventHub.Publish(new ShowSettingsEvent());
}
