@namespace ActualChat.UI.Blazor.Components
@{
    var usedAuthSchemas = User.Identities.Select(kv => kv.Key.Schema).ToHashSet();
    var unusedAuthSchemas = AuthSchemas.Where(p => !usedAuthSchemas.Contains(p.Name)).ToArray();
    var buttonClass = "btn-success " + ButtonClass;
}

<Dropdown MenuClass="@ContentPositionClass" ButtonClass="@buttonClass">
    <ButtonTemplate>
        <span>Sign in</span>
        <svg class="ml-1 -mr-2 w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="-12 -12 48 48">
            <path d="M0 16.67l2.829 2.83 9.175-9.339 9.167 9.339 2.829-2.83-11.996-12.17z"/>
        </svg>
    </ButtonTemplate>
    <MenuTemplate>
        <Menu Class="rounded-md border border-accent p-1" ItemClass="text-left" Orientation="MenuOrientation.Vertical" IconPosition="MenuIconPosition.Right">
            @foreach (var (name, displayName) in unusedAuthSchemas) {
                MenuItemTitle = "Sign in with " + displayName;
                <MenuItem Title="@MenuItemTitle" Click="(() => SignIn(name))"/>
            }
        </Menu>
    </MenuTemplate>
</Dropdown>

@code {
    [Inject] private ClientAuthHelper ClientAuthHelper { get; init; } = null!;

    private AuthState AuthState { get; set; } = new(new User("")); // For SSB pre-render
    private User User => AuthState.User;
    private (string Name, string DisplayName)[] AuthSchemas { get; set; } = Array.Empty<(string, string)>();
    private string MenuItemTitle { get; set; } = "";

    [CascadingParameter] private Task<AuthState> AuthStateTask { get; set; } = null!;
    [Parameter] public string ButtonClass { get; set; } = "";
    [Parameter] public string ContentPositionClass { get; set; } = "";

    protected override async Task OnParametersSetAsync()
        => AuthState = await AuthStateTask;

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
    // GetSchemas requires JS interop, so it can be called only at this point
            AuthSchemas = await ClientAuthHelper.GetSchemas();
            StateHasChanged();
        }
    }

    private void SignIn(string name)
        => ClientAuthHelper.SignIn(name);
}
