@namespace ActualChat.Streaming.UI.Blazor.Pages
@page "/test/audio-recorder"

<RequireAccount MustBeAdmin="true"/>
<MainHeader>Audio Recorder Test Page</MainHeader>

<div class="text-xl text-bold">
    <button @onclick="@(_ => ToggleRecording())" class=" @(IsRecording ? "bg-red-200" : "bg-yellow-200") rounded-lg px-3 py-2">
         @(IsRecording ? "StopTask" : "Record")
    </button>
</div>
<div class="text-xl text-bold" @ref="_recordsRef">
</div>
