@using ActualChat.Search
@using ActualChat.Chat.UI.Blazor.Module
@namespace ActualChat.Chat.UI.Blazor.Components

<CascadingValue TValue="MentionListManager" Value="@this" IsFixed="true">
    <div @ref="Ref" class="absolute left-0 right-0 z-50">
        <div class="absolute bottom-0 w-full text-03 overflow-y-hidden">
            <MentionList @ref="ListRef" />
        </div>
    </div>
    @ChildContent
</CascadingValue>


@code {
    [Inject] protected IStateFactory StateFactory { get; init; } = null!;
    [Inject] private IJSRuntime JS { get; init; } = null!;

    [Parameter] public ISearchProvider<MentionSearchResult> SearchProvider { get; set; } = TestMentionSearchProvider.Instance;
    [Parameter] public int Limit { get; set; } = 100;
    [Parameter] public RenderFragment? ChildContent { get; set; }

    public MentionList? ListRef { get; private set; }
    public event Action<MentionSearchResult>? MentionSelected;

    private DotNetObjectReference<MentionListManager> BlazorRef { get; set; } = null!;
    private IJSObjectReference JSRef { get; set; } = null!;
    private ElementReference Ref { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            BlazorRef = DotNetObjectReference.Create(this);
            JSRef = await JS.InvokeAsync<IJSObjectReference>(
                $"{ChatBlazorUIModule.ImportName}.MentionList.create",
                Ref, BlazorRef
                );
        }
    }

    public void SelectMention(MentionSearchResult mention)
        => MentionSelected?.Invoke(mention);

    public void Show(string filter)
    {
        if (ListRef != null)
            ListRef.Filter.Value = filter;
    }

    public void Hide() {
        if (ListRef != null)
            ListRef.Filter.Value = null;
    }
}
