@using ActualChat.Search
@namespace ActualChat.Chat.UI.Blazor.Components

<CascadingValue TValue="MentionListManager" Value="@this" IsFixed="true">
    <div class="mention-list-manager">
        <MentionList @ref="ListRef"/>
    </div>
    @ChildContent
</CascadingValue>


@code {
    [Inject] protected StateFactory StateFactory { get; init; } = null!;

    [Parameter, EditorRequired] public ISearchProvider<MentionSearchResult> SearchProvider { get; set; } = null!;
    [Parameter] public int Limit { get; set; } = 100;
    [Parameter] public RenderFragment? ChildContent { get; set; }

    public MentionList? ListRef { get; private set; }
    public event Action<MentionSearchResult>? MentionSelected;

    public void SelectMention(MentionSearchResult mention)
        => MentionSelected?.Invoke(mention);

    public void Show(string filter)
    {
        if (ListRef != null)
            ListRef.Filter.Value = filter;
    }

    public void Hide() {
        if (ListRef != null)
            ListRef.Filter.Value = null;
    }
}
