@namespace ActualChat.Chat.UI.Blazor.Components
@inherits ComputedStateComponent<NavigateToUnreadOrEnd.Model>
@{
    var m = State.Value;
    if (ReferenceEquals(m, Model.None))
        return;

    _animator.State = m.IsVisible;
    if (_animator.MustHideComponent)
        return;

    var tooltip = m.UnreadEntryLid.HasValue ? "Go to the unread part" : "Go to the last message";
}

<div class="navigate-to-end @_animator.Class">
    <div class="c-content">
        @if (m.UnreadCount > 0) {
            var text = m.UnreadCount.FormatK();
            <Badge Class="unread-counter" Click="OnClick">@text</Badge>
        }
        <ButtonRound Tooltip="@tooltip" Click="OnClick">
            <i class="icon-arrow-down text-2xl font-thin"></i>
        </ButtonRound>
    </div>
</div>

@code {
    private ShowHideAnimator _animator = null!;
    private Moment _hideUntil;

    private Session Session => ChatContext.Session;
    private Chat Chat => ChatContext.Chat;
    private IChats Chats => ChatContext.Chats;
    private ChatUI ChatUI => ChatContext.ChatUI;
    private UIEventHub UIEventHub => ChatContext.UIEventHub();
    private Moment Now => ChatContext.Clocks().CpuClock.Now;

    [Parameter, EditorRequired] public ChatContext ChatContext { get; set; } = null!;
    [Parameter, EditorRequired] public ChatView ChatView { get; set; } = null!;
    [CascadingParameter] public RegionVisibility RegionVisibility { get; set; } = null!;

    protected override void OnInitialized() {

        _animator = new ShowHideAnimator(this, TimeSpan.FromMilliseconds(300));
        base.OnInitialized();
    }

    public override ValueTask DisposeAsync() {
        _animator.Dispose();
        return base.DisposeAsync();
    }

    protected override ComputedState<Model>.Options GetStateOptions()
        => new() {
            InitialValue = Model.Invisible,
            UpdateDelayer = FixedDelayer.Instant,
            Category = GetStateCategory(),
        };

    protected override async Task<Model> ComputeState(CancellationToken cancellationToken) {
        if (Chat.Id.IsNone || !await RegionVisibility.IsVisible.Use(cancellationToken))
            return Model.None;

        var lastEntryId = await GetLastTextEntryLid(cancellationToken);
        if (lastEntryId == 0)
            return Model.Invisible;

        await ChatView.WhenInitialized;
        var itemVisibility = await ChatView.ItemVisibility.Use(cancellationToken);
        var isVisible = !itemVisibility.IsEndAnchorVisible;
        if (!isVisible)
            return Model.Invisible;

        // Delay showing the button for the first time
        var now = Now;
        if (_hideUntil == default)
            _hideUntil = now + TimeSpan.FromSeconds(0.35);
        if (_hideUntil > now)
            await Task.Delay(_hideUntil - now + TimeSpan.FromMilliseconds(50), cancellationToken);

        var readEntryLid = await ChatView.ShownReadEntryLid.Use(cancellationToken);
        var canScrollToUnread = itemVisibility.MaxEntryLid < readEntryLid;
        var unreadCount = await ChatUI.GetUnreadCount(Chat.Id, cancellationToken);
        return new(true, lastEntryId, canScrollToUnread ? readEntryLid : null, unreadCount);
    }

    private void OnClick() {
        var m = State.Value;
        if (!m.IsVisible)
            return;

        if (m.UnreadEntryLid is { } unreadEntryLid)
            _ = ChatView.NavigateToNext(unreadEntryLid, true);
        else
            _ = ChatView.NavigateTo(m.LastEntryLid, false, true);
    }

    private async ValueTask<long> GetLastTextEntryLid(CancellationToken cancellationToken)
    {
        var chatNews = await Chats.GetNews(Session, Chat.Id, cancellationToken).ConfigureAwait(false);
        return chatNews.LastTextEntry?.LocalId ?? 0;
    }

    // Nested types

    public sealed record Model(
        bool IsVisible,
        long LastEntryLid,
        long? UnreadEntryLid,
        Trimmed<int> UnreadCount)
    {
        public static readonly Model None = new(false, default, default, default);
        public static readonly Model Invisible = new(false, default, default, default);
        public static readonly Model InvisibleToVisible = new(false, default, default, default);
    }
}
