@namespace ActualChat.UI.Blazor.Components

<div class="@_sizeClass flex-x justify-center items-center
            rounded-full bg-avatar
            text-center text-04 select-none">
    <div>@Text</div>
</div>

@code {
    private string _sizeClass = "";

    [Parameter] public SquareSize Size { get; set; } = SquareSize.Size6;
    [Parameter] public string Text { get; set; } = "";

    protected override void OnParametersSet() {
        base.OnParametersSet();
        _sizeClass = GetSizeClass();
    }

    private string GetSizeClass() {
        var size = (int) Size;
        return $"h-{size} w-{size}";
    }
}
