@page "/user/activate/{InviteId}"
@using ActualChat.Invite
@attribute [Authorize]

<MainHeader>Joining via invite link</MainHeader>

@if (_useResult is { } useResult) {
    if (useResult.Error is { } error) {
        <div>Failed to activate your account: @error.Message</div>
    } else {
        <div>Your account has been successfully activated!</div>
    }
}

@code {
    private Result<Invite>? _useResult;

    [Inject] private Session Session { get; init; } = null!;
    [Inject] private UICommander UICommander { get; init; } = null!;

    [Parameter] public string InviteId { get; set; } = "";

    protected override async Task OnParametersSetAsync() {
        var useCommand = new IInvites.UseCommand(Session, InviteId);
        _useResult = await UICommander.Run(useCommand, CancellationToken.None).ConfigureAwait(true);
    }
}
