@page "/admin/user-invites"
@using ActualChat.Invite
@inherits ComputedStateComponent<ApiArray<Invite>>
@{
    var m = State.Value;
}

<RequireAccount MustBeAdmin="true"/>
<MainHeader>User invite codes</MainHeader>

<div class="-flex-x">
    <Button Click="OnNewInviteClick" Class="btn-primary">New invite link</Button>
</div>
<InviteList Invites="@m" LinkFormat="@Links.InviteLinkFormat.InviteUser"/>

@code {
    [Inject] private Session Session { get; init; } = null!;
    [Inject] private IInvites Invites { get; init; } = null!;
    [Inject] private UICommander UICommander { get; init; } = null!;

    protected override ComputedState<ApiArray<Invite>>.Options GetStateOptions()
        => new() {
            InitialValue = ApiArray<Invite>.Empty,
            Category = GetStateCategory(),
        };

    protected override Task<ApiArray<Invite>> ComputeState(CancellationToken cancellationToken)
        => Invites.ListUserInvites(Session, cancellationToken);

    private async Task OnNewInviteClick() {
        var invite = Invite.New(10, new UserInviteOption());
        _ = await UICommander.Run(new Invites_Generate(Session, invite));
    }
}
