@page "/admin/user-invites"
@using ActualChat.Invite
@inherits ComputedStateComponent<List<Invite>>
@{
    var m = State.Value;
}

<RequireAccount MustBeAdmin="true"/>
<MainHeader>User invite codes</MainHeader>

<div class="-flex-x">
    <Button Click="OnNewInviteClick" Class="btn-primary">New invite link</Button>
</div>
<InviteList Invites="@m" LinkFormat="@InviteLinkFormat.User"/>

@code {
    [Inject] private Session Session { get; init; } = null!;
    [Inject] private IInvites Invites { get; init; } = null!;
    [Inject] private UICommander UICommander { get; init; } = null!;

    protected override ComputedState<List<Invite>>.Options GetStateOptions()
        => new() {
            InitialValue = [],
            Category = GetStateCategory(),
        };

    protected override async Task<List<Invite>> ComputeState(CancellationToken cancellationToken)
        => (await Invites.ListUserInvites(Session, cancellationToken).ConfigureAwait(false)).ToList();

    private async Task OnNewInviteClick() {
        var invite = Invite.New(Constants.Invites.Defaults.UserRemaining, new UserInviteOption());
        _ = await UICommander.Run(new Invites_Generate(Session, invite));
    }
}
