@page "/sign-out"
@page "/sign-out/{RedirectUrl}"
@layout NoLayout

<div>Signing out...</div>

@code {
    [Inject] private Session Session { get; init; } = null!;
    [Inject] private IAccounts Accounts { get; init; } = null!;
    [Inject] private IClientAuth ClientAuth { get; init; } = null!;
    [Inject] private NavigationManager Nav { get; init; } = null!;

    [Parameter] public string RedirectUrl { get; set; } = "";

    protected override async Task OnInitializedAsync() {
        if (RedirectUrl.IsNullOrEmpty())
            RedirectUrl = Links.Home;

        var account = await Accounts.GetOwn(Session, default);
        if (account.IsActive())
            await ClientAuth.SignOut();

        Nav.NavigateTo(RedirectUrl, true, true);
    }
}
