@page "/user/invite/{InviteId}"
@using ActualChat.Invite

<RequireAccount MustBeActive="false"/>
<MainHeader>Joining via invite link</MainHeader>

<div class="text-03 ml-2 mt-1">
    @if (_useResult is { } useResult) {
        if (useResult.Error is { } error) {
            <div>Failed to activate your account: @error.Message</div>
        } else {
            <div>Your account has been successfully activated!</div>
        }
    } else {
        <div>Processing activation code...</div>
    }
</div>


@code {
    private Result<Invite>? _useResult;

    [Inject] private Session Session { get; init; } = null!;
    [Inject] private UICommander UICommander { get; init; } = null!;

    [Parameter] public string InviteId { get; set; } = "";

    protected override async Task OnParametersSetAsync() {
        var useCommand = new Invites_Use(Session, InviteId);
        _useResult = await UICommander.Run(useCommand, CancellationToken.None);
    }
}
