@namespace ActualChat.Chat.UI.Blazor.Components

<div class="flex-y gap-y-2">
    <h3>PlaceChatList: @PlaceId</h3>

    <ChatList Kind="ChatListKind.All"/>
</div>

@code {
    [Parameter] public string PlaceId { get; set; } = null!;
}
