@inherits ComputedStateComponent<UserLanguageSettings>
@{
    var m = State.Value;
    var text = m.Primary.ShortTitle.Value.ToSentenceCase();
    if (m.Secondary is { } secondary)
        text += ", " + secondary.ShortTitle.Value.ToSentenceCase();
}

<div class="text-primary text-sm">
    @text
</div>

@code{
    [Inject] private LanguageUI LanguageUI { get; init; } = null!;

    protected override ComputedState<UserLanguageSettings>.Options GetStateOptions()
        => ComputedStateComponent.GetStateOptions(GetType(),
            static t => new ComputedState<UserLanguageSettings>.Options() {
                InitialValue = new(),
                UpdateDelayer = FixedDelayer.NextTick,
                Category = ComputedStateComponent.GetStateCategory(t),
            });

    protected override Task<UserLanguageSettings> ComputeState(CancellationToken cancellationToken)
        => LanguageUI.Settings.Use(cancellationToken).AsTask();
}
