@inherits ComputedStateComponent<LanguageUserSettings>

<div class="text-primary text-sm">
    @State.ValueOrDefault?.Primary.Title
</div>

@code{
    [Inject] private LanguageUI LanguageUI { get; init; } = null!;

    protected override Task<LanguageUserSettings> ComputeState(CancellationToken cancellationToken)
        => LanguageUI.Languages.Use(cancellationToken).AsTask();
}
