.settings-tab .app-settings .tile-item {
    @apply h-auto;
}
.settings-tab .app-settings .tile-item-body {
    @apply max-h-none;
}
.settings-tab .app-settings .auto-start .disable-reason {
    @apply text-danger;
}
.settings-tab .app-settings .auto-start .disable-reason.active {
    @apply underline;
    @apply cursor-pointer;
}

.settings-tab .theme-tile .tile-item:hover,
.settings-tab .blazor-mode-tile .tile-item:hover {
    @apply bg-transparent;
}

.phone-verification-status {
    @apply flex-x items-center;
    @apply h-7 px-3 rounded-lg border-none;
    @apply text-sm;
}
.phone-verification-status > i {
    @apply text-base mr-2;
}

.blazor-mode-tile .label {
    @apply whitespace-normal;
    @apply text-headline-1 text-02;
}
.blazor-mode-tile .c-comment {
    @apply whitespace-normal;
    @apply text-caption-6 text-03;
}
.blazor-mode-tile .tile-item:not(.selected):hover label {
    @apply text-01;
}
.blazor-mode-tile .tile-item:not(.selected):hover .c-comment {
    @apply text-02;
}

.host-switcher-tile .form-block.with-input-radio .tile-item {
    @apply h-16;
    @apply px-4;
}

.languages-form > section .form-section-validation,
.email-form > section .form-section-validation,
.time-zone-form > section .form-section-validation {
    @apply bg-tile;
}
