@inherits ComputedStateComponent<Theme>
@{
    var m = State.ValueOrDefault;

    RenderFragment ThemeButton(Theme theme, string title) {
        var cls = m == theme ? "on" : "";
        return
            @<button type="button"
                     class="@cls block bg-04 rounded-md w-full h-10"
                     onclick="@(() => SetTheme(theme))">
                <div class="flex-x self-center items-center px-1">
                    <Dot/>
                    <div class="text-03">@title</div>
                </div>
            </button>;
    }
}

<div class="flex-y gap-y-2">
    @ThemeButton(Theme.Light, "Light")
    @ThemeButton(Theme.Dark, "Dark (an ugly alpha we work on)")
</div>

@code {
    [Inject] ThemeUI ThemeUI { get; init; } = null!;

    private void SetTheme(Theme theme)
        => ThemeUI.CurrentTheme.Value = theme;

    protected override ComputedState<Theme>.Options GetStateOptions()
        => new() { UpdateDelayer = UpdateDelayer.MinDelay };

    protected override Task<Theme> ComputeState(CancellationToken cancellationToken)
        => ThemeUI.CurrentTheme.Use(cancellationToken).AsTask();
}
