<section>
    <UserNameEditor />
</section>

<section>
    <h4 class="section section-top">User page</h4>
    <UserPageLink/>
</section>

<section>
    <h4 class="section">Avatars</h4>
    <UserAvatarsEditor />
</section>
