<Tile>
    <UserNameEditor/>
</Tile>

<Tile>
    <h4 class="section section-top">User page</h4>
    <UserPageLink/>
</Tile>

<TileTopic Topic="My avatars"/>

<Tile>
    <h4 class="section">Avatars</h4>
    <UserAvatarsEditor />
</Tile>
