@namespace ActualChat.Chat.UI.Blazor.Components
@using ActualChat.Audio.UI.Blazor.Components

<div class="chat-audio-panel">
    <div class="language-button">
        <LanguageToggle/>
    </div>
    <div class="recorder-button">
        <RecorderToggle ChatId="@Chat.Id"/>
    </div>
    <div class="playback-button">
        <PlaybackToggle ChatId="@Chat.Id"/>
    </div>
</div>

@code {
    [CascadingParameter] public Chat Chat { get; set; } = null!;
}
