@namespace ActualChat.Chat.UI.Blazor.Components
@using ActualChat.Audio.UI.Blazor.Components
@inherits FusionComponentBase

<div class="chat-audio-panel">
    <div class="language-button">
        <LanguageToggle/>
    </div>
    <div class="recorder-button">
        <RecorderToggle Chat="@Chat"/>
    </div>
    <div class="playback-button">
        <PlaybackToggle Chat="@Chat"/>
    </div>
</div>

@code {
    [CascadingParameter] public Chat Chat { get; set; } = null!;
}
