body.wide .top-chat-audio-panel {
    @apply hidden;
}
body.narrow .top-chat-audio-panel {
    @apply landscape:hidden;
}
body.narrow .right-chat-audio-panel {
    @apply portrait:hidden;
}

/* ChatAudioPanel */
.chat-audio-panel {
    @apply flex-x;
    @apply justify-center;
    @apply rounded-none outline-none;
    @apply bg-01;
}
/* ChatAudioPanel, Mobile view */
.chat-audio-panel.top-chat-audio-panel {
    @apply self-stretch items-center;
    @apply gap-x-8;
    @apply py-2 mb-0.5;
    @apply rounded-b-4xl;
    @apply overflow-hidden;
    background: linear-gradient(to top, var(--background-01) 40%, transparent);
}
.narrow.to-thick .chat-audio-panel.top-chat-audio-panel {
    @apply gap-x-8;
    background: linear-gradient(to top, var(--background-01) 5%, var(--background-01) 35%, transparent);
    transition: all 0ms;
}
.narrow.to-thick.smooth .chat-audio-panel.top-chat-audio-panel {
    transition: all 150ms ease-in-out;
}
/* ChatAudioPanel, Mobile view, Text mode */
.narrow-panel.narrow .chat-audio-panel.top-chat-audio-panel {
    @apply gap-x-2;
    @apply py-2;
    background: linear-gradient(to top, var(--background-01) 65%, transparent);
}
.narrow.to-thin .chat-audio-panel.top-chat-audio-panel {
    @apply items-end gap-x-2;
    background: linear-gradient(to top, var(--background-01) 60%, var(--background-01) 5%, transparent);
    transition: all 0ms;
}
.narrow.to-thin.smooth .chat-audio-panel.top-chat-audio-panel {
    transition: all 150ms ease-in-out;
}

/* ChatAudioPanel, Desktop view */
.chat-audio-panel.right-chat-audio-panel {
    @apply h-12;
    @apply self-end items-end;
    @apply gap-x-2.5;
}
body.narrow .chat-audio-panel.right-chat-audio-panel {
    @apply landscape:bg-post-panel;
}

/* Buttons */
.chat-audio-panel .record-off-btn.btn,
body.hoverable .chat-audio-panel .record-off-btn.btn:hover {
    @apply bg-gradient-to-b from-[var(--recorder-off-top)] to-[var(--recorder-off-bottom)];
    @apply text-06;
}
.chat-audio-panel .record-on-btn.btn,
body.hoverable .chat-audio-panel .record-on-btn.btn:hover {
    @apply bg-gradient-to-b from-[var(--recorder-on-top)] to-[var(--recorder-on-bottom)];
    @apply text-06;
}
.chat-audio-panel .language-button,
.chat-audio-panel .playback-wrapper,
.chat-audio-panel .recorder-wrapper {
    @apply rounded-full;
    @apply transition-all ease-linear duration-100;
}
.chat-audio-panel .language-button {
    @apply relative;
}
.chat-audio-panel .language-button .btn.btn-round,
.chat-audio-panel .playback-wrapper .btn.btn-round,
.chat-audio-panel .recorder-wrapper .btn.btn-round {
    @apply bg-post-panel md:bg-input;
    @apply text-audio-panel-button-text;
}
body.narrow .chat-audio-panel.right-chat-audio-panel .language-button .btn.btn-round,
body.narrow .chat-audio-panel.right-chat-audio-panel .playback-wrapper .btn.btn-round,
body.narrow .chat-audio-panel.right-chat-audio-panel .recorder-wrapper .btn.btn-round {
    @apply landscape:bg-[var(--audio-panel-narrow-landscape-button)];
}
body.narrow .chat-audio-panel.right-chat-audio-panel .language-button,
body.narrow .chat-audio-panel.right-chat-audio-panel .playback-button {
    @apply theme-dark;
}
.chat-audio-panel .recorder-wrapper.applying-changes .record-off-btn.btn,
.chat-audio-panel .recorder-wrapper.applying-changes .record-on-btn.btn {
    @apply opacity-50;
}
.recorder-wrapper .recorder-icon {
    @apply always-white;
}
.recorder-wrapper .mic-disabled.btn .btn-content,
body.hoverable .recorder-wrapper .mic-disabled.btn:hover .btn-content {
    @apply bg-05;
}
.recorder-wrapper.mic-disabled {
    @apply border-text-04;
}

.playback-wrapper.listen-on,
.playback-wrapper.listen-off-to-on {
    @apply bg-playback-on;
}
.playback-wrapper.listen-off-to-on,
.playback-wrapper.listen-on {
    @apply outline outline-1 outline-primary outline-offset-0;
    @apply bg-round-focus;
}
.chat-audio-panel .recorder-wrapper.record-off,
.chat-audio-panel .recorder-wrapper.record-on-to-off {
    @apply relative;
    @apply items-center;
    @apply rounded-full;
    @apply bg-transparent;
    @apply text-06;
    box-shadow:
        -1px 0 0 0 var(--recorder-off-middle),
        0 -1px 0 0 var(--recorder-off-top),
        1px 0 0 0 var(--recorder-off-middle),
        0 1px 0 0 var(--recorder-off-bottom);
}

.chat-audio-panel .recorder-wrapper.record-on,
.chat-audio-panel .recorder-wrapper.record-off-to-on {
    box-shadow:
        -1px 0 0 0 var(--recorder-on-middle),
        0 -1px 0 0 var(--recorder-on-top),
        1px 0 0 0 var(--recorder-on-middle),
        0 1px 0 0 var(--recorder-on-bottom);
}
.chat-audio-panel .recorder-wrapper .btn {
    @apply absolute;
    @apply transition-all ease-in-out duration-300;
}
.chat-audio-panel .recorder-wrapper {
    @apply border-none;
}

/* Buttons, Mobile View */
.chat-audio-panel.top-chat-audio-panel .language-button,
.chat-audio-panel.top-chat-audio-panel .playback-wrapper,
.chat-audio-panel.top-chat-audio-panel .recorder-wrapper {
    @apply drop-shadow-lg;
}
.chat-audio-panel.top-chat-audio-panel .btn.btn-round .btn-content {
    @apply min-h-12 max-h-12 min-w-12 max-w-12;
}
.chat-audio-panel.top-chat-audio-panel .language-button:active,
.chat-audio-panel.top-chat-audio-panel .playback-wrapper:active,
.chat-audio-panel.top-chat-audio-panel .recorder-wrapper:active {
    @apply translate-y-0.5;
}
.chat-audio-panel.top-chat-audio-panel .playback-wrapper.listen-off,
.chat-audio-panel.top-chat-audio-panel .playback-wrapper.listen-on-to-off,
.chat-audio-panel.top-chat-audio-panel .language-button {
    @apply bg-gradient-to-b from-[var(--background-02)] to-[var(--background-01)];
}
.top-chat-audio-panel .playback-wrapper .btn.btn-round,
.top-chat-audio-panel .transcription-options-btn.btn.btn-round {
    @apply bg-audio-panel-button;
    @apply text-audio-panel-button-text;
}
.chat-audio-panel.top-chat-audio-panel .language-button,
.chat-audio-panel.top-chat-audio-panel .playback-wrapper {
    @apply flex-x justify-center;
}

/* Playback, Mobile View */
.top-chat-audio-panel  .playback-wrapper.listen-on .btn.btn-round,
.top-chat-audio-panel .playback-wrapper.listen-off-to-on .btn.btn-round {
    @apply bg-playback-on;
}
.top-chat-audio-panel .playback-wrapper.listen-off-to-on,
.top-chat-audio-panel .playback-wrapper.listen-on {
    @apply outline outline-1 outline-primary outline-offset-0;
    @apply bg-round-focus;
}
.base-panel .chat-audio-panel.top-chat-audio-panel .playback-wrapper {
    @apply min-w-12 max-w-12 min-h-12 max-h-12;
}
.to-thick .chat-audio-panel.top-chat-audio-panel .playback-wrapper {
    @apply min-w-12 max-w-12 min-h-12 max-h-12;
    transition: all 0ms;
}
.to-thick.smooth .chat-audio-panel.top-chat-audio-panel .playback-wrapper {
    transition: all 150ms ease-in-out;
}

/* Recorder, Mobile View */
.chat-audio-panel.top-chat-audio-panel .recorder-wrapper {
    @apply flex;
    @apply h-20 w-20;
    @apply justify-center;
}
.chat-audio-panel.top-chat-audio-panel .recorder-wrapper:active {
    @apply translate-y-0;
}
.chat-audio-panel.top-chat-audio-panel .recorder-wrapper .btn {
    @apply self-center;
}
.chat-audio-panel.top-chat-audio-panel .recorder-wrapper .btn {
    @apply min-w-17 max-w-17 min-h-17 max-h-17;
    @apply text-06;
}
.chat-audio-panel.top-chat-audio-panel .recorder-wrapper .btn .btn-content i {
    font-size: 2rem;
    line-height: 2.5rem;
}
.chat-audio-panel.top-chat-audio-panel .recorder-button .btn.recorder-skeleton .btn-content {
    @apply min-w-20 min-h-20;
}
.to-thick .chat-audio-panel.top-chat-audio-panel .recorder-wrapper {
    @apply flex justify-center;
    @apply h-20 w-20;
    transition: all 0ms;
}
.to-thick.smooth .chat-audio-panel.top-chat-audio-panel .recorder-wrapper {
    transition: all 100ms ease-in-out;
}
.to-thick .chat-audio-panel.top-chat-audio-panel .recorder-wrapper .btn.btn-round .btn-content {
    @apply min-w-17 max-w-17 min-h-17 max-h-17;
    transition: all 0ms;
}
.to-thick.smooth .chat-audio-panel.top-chat-audio-panel .recorder-wrapper .btn.btn-round .btn-content {
    transition: all 150ms ease-in-out;
}
.to-thick .chat-audio-panel.top-chat-audio-panel .recorder-wrapper {
    border-width: 1px;
}

/* Language, Mobile View */
.narrow .chat-audio-panel.top-chat-audio-panel .language-button {
    @apply flex-x justify-start;
}
.narrow .chat-audio-panel.top-chat-audio-panel .language-wrapper {
    @apply flex-x items-center justify-center;
}
.narrow .chat-audio-panel.top-chat-audio-panel .btn.chat-language-toggle {
    @apply text-primary;
}
.narrow.base-panel .chat-audio-panel.top-chat-audio-panel .language-wrapper {
    @apply min-w-12 max-w-12 min-h-12 max-h-12;
}
.narrow.to-thick .chat-audio-panel.top-chat-audio-panel .language-wrapper {
    @apply min-w-12 max-w-12 min-h-12 max-h-12;
    transition: all 0ms;
}
.narrow.to-thick.smooth .chat-audio-panel.top-chat-audio-panel .language-wrapper {
    transition: all 150ms ease-in-out;
}

/* Buttons, Mobile view, Text mode */
.narrow-panel.narrow .chat-audio-panel.top-chat-audio-panel .btn.btn-round {
    @apply min-w-20 max-w-20 min-h-12 max-h-12;
}
.narrow-panel.narrow .chat-audio-panel.top-chat-audio-panel .btn.btn-round svg {
    @apply h-6 w-6;
}

/* Playback, Mobile View, Text Mode */
.narrow.to-thin .chat-audio-panel.top-chat-audio-panel .playback-wrapper {
    @apply min-w-20 max-w-20 min-h-12 max-h-12;
    transition: all 0ms;
}
.narrow.to-thin.smooth .chat-audio-panel.top-chat-audio-panel .playback-wrapper {
    transition: all 150ms ease-in-out;
}
.narrow-panel.narrow .chat-audio-panel.top-chat-audio-panel .playback-button {
    @apply m-0;
}
.narrow-panel.narrow .chat-audio-panel.top-chat-audio-panel .playback-button .playback-wrapper,
.narrow-panel.narrow .chat-audio-panel.top-chat-audio-panel .playback-button .playback-wrapper.listen-on-to-off {
    background: var(--audio-panel-button);
}
.narrow-panel.narrow .chat-audio-panel.top-chat-audio-panel .playback-button .playback-wrapper.listen-on,
.narrow-panel.narrow .chat-audio-panel.top-chat-audio-panel .playback-button .playback-wrapper.listen-off-to-on {
    background: var(--playback-on);
}
.narrow-panel.narrow .chat-audio-panel.top-chat-audio-panel .playback-button .playback-wrapper .btn.btn-round .btn-content {
    @apply min-w-12 max-w-12;
    @apply bg-transparent;
}
.narrow-panel.narrow .top-chat-audio-panel .playback-wrapper.listen-on .loud-btn.btn.btn-round {
    @apply opacity-100;
    @apply translate-x-10;
}
.narrow-panel.narrow .top-chat-audio-panel .playback-wrapper.listen-off .loud-btn.btn.btn-round {
    @apply absolute;
    @apply opacity-0;
    @apply translate-x-10;
}
.narrow-panel.narrow .top-chat-audio-panel .playback-wrapper.listen-on-to-off .loud-btn.btn.btn-round {
    @apply absolute;
    @apply scale-0;
    @apply opacity-0;
    @apply animate-loud-hide-text-mode;
    @apply transition duration-300;
}
.narrow-panel.narrow .top-chat-audio-panel .playback-wrapper.listen-off-to-on .loud-btn.btn.btn-round {
    @apply absolute;
    @apply animate-loud-show-text-mode;
    @apply translate-x-10;
}

/* Recorder, Mobile View, Text Mode */
.narrow.base-panel .chat-audio-panel.top-chat-audio-panel .recorder-wrapper .btn.btn-round .btn-content {
    @apply min-w-17 max-w-17 min-h-17 max-h-17;
}
.narrow.to-thin .chat-audio-panel.top-chat-audio-panel .recorder-wrapper {
    @apply flex justify-center;
    @apply h-12 w-20;
    transition: all 0ms;
}
.narrow.to-thin.smooth .chat-audio-panel.top-chat-audio-panel .recorder-wrapper {
    transition: all 100ms ease-in-out;
}
.narrow.to-thin .chat-audio-panel.top-chat-audio-panel .recorder-wrapper {
    border-width: 0;
}
.narrow.to-thin .chat-audio-panel.top-chat-audio-panel .recorder-wrapper .btn.btn-round {
    @apply min-w-20 max-w-20 min-h-12 max-h-12;
    transition: all 0ms;
}
.narrow.to-thin.smooth .chat-audio-panel.top-chat-audio-panel .recorder-wrapper .btn.btn-round {
    transition: all 150ms ease-in-out;
}

/* Language, Mobile View, Text Mode */
.narrow.to-thin .chat-audio-panel.top-chat-audio-panel .language-wrapper {
    @apply min-w-20 max-w-20 min-h-12 max-h-12;
    transition: all 0ms;
}
.narrow.to-thin.smooth .chat-audio-panel.top-chat-audio-panel .language-wrapper {
    transition: all 150ms ease-in-out;
}

/* Temporarily disabled switch between loud speaker and earpiece
   to have single audio channel controlled with volume buttons
*/
/*
.narrow .chat-audio-panel .playback-button {
    @apply w-24;
    @apply -mr-12;
}
.narrow .chat-audio-panel .playback-button .playback-wrapper {
    @apply relative flex-x;
    @apply h-12;
    @apply bg-03;
}
.narrow .chat-audio-panel .playback-button .playback-wrapper .btn.btn-round {
    @apply absolute;
}
.narrow .playback-wrapper .loud-btn {
    @apply self-center;
}
.narrow .playback-wrapper.listen-on {
    @apply w-24;
}
.narrow .playback-wrapper.listen-on .loud-btn.btn.btn-round {
    @apply opacity-100;
    @apply translate-x-12;
}
.narrow .playback-wrapper.listen-off {
    @apply w-12;
}
.narrow .playback-wrapper.listen-off .loud-btn.btn.btn-round {
    @apply absolute;
    @apply opacity-0;
    @apply translate-x-12;
}
.narrow .playback-wrapper.listen-on-to-off {
    @apply w-12;
}
.narrow .playback-wrapper.listen-on-to-off .loud-btn.btn.btn-round {
    @apply absolute;
    @apply opacity-0;
    @apply scale-0;
    @apply animate-loud-hide;
    @apply transition duration-300;
}
.narrow .playback-wrapper.listen-off-to-on {
    @apply w-24;
}
.narrow .playback-wrapper.listen-off-to-on .loud-btn.btn.btn-round {
    @apply absolute;
    @apply translate-x-12;
    @apply animate-loud-show;
}
*/

/* Buttons, Desktop view */
.chat-audio-panel.right-chat-audio-panel .recorder-wrapper {
    @apply relative flex;
    @apply h-14 w-14;
    @apply justify-center;
    @apply top-1;
    @apply rounded-full;
}
.chat-audio-panel.right-chat-audio-panel .recorder-wrapper .btn {
    @apply self-center;
    @apply m-0.5;
}
.chat-language-toggle.btn {
    @apply font-semibold text-lg text-03 md:text-base;
}
.chat-audio-panel.right-chat-audio-panel .playback-button {
    @apply min-w-12 max-w-12;
    @apply rounded-full;
}
.playback-wrapper.right-chat-audio-panel .loud-btn {
    @apply hidden;
}
.chat-audio-panel.right-chat-audio-panel .playback-button .btn-content-inner > * {
    @apply relative top-[0.09rem] left-0; /* Fix headphones position */
}

/* Recorder button animation */

/* From "off" state */
.chat-audio-panel .recorder-wrapper.record-off .record-on-btn.btn {
    @apply scale-0;
    @apply opacity-0;
}
.chat-audio-panel .recorder-wrapper.record-off .record-off-btn.btn {
    @apply scale-100;
    @apply opacity-100;
}
.chat-audio-panel .recorder-wrapper.record-off.applying-changes .record-off-btn.btn {
    @apply opacity-50;
}
.chat-audio-panel .recorder-wrapper.record-off-to-on .record-off-btn.btn {
    @apply scale-0;
    @apply opacity-0;
}
.chat-audio-panel .recorder-wrapper.record-off-to-on .record-on-btn.btn {
    @apply scale-100;
    @apply opacity-100;
}
.chat-audio-panel .recorder-wrapper.record-off-to-on.applying-changes .record-on-btn.btn {
    @apply opacity-50;
}

/* From "on" state */
.chat-audio-panel .recorder-wrapper.record-on .record-off-btn.btn {
    @apply scale-0;
    @apply opacity-0;
}
.chat-audio-panel .recorder-wrapper.record-on .record-on-btn.btn {
    @apply scale-100;
    @apply opacity-100;
}
.chat-audio-panel .recorder-wrapper.record-on.applying-changes .record-on-btn.btn {
    @apply opacity-50;
}
.chat-audio-panel .recorder-wrapper.record-on-to-off .record-on-btn.btn {
    @apply scale-0;
    @apply opacity-0;
}
.chat-audio-panel .recorder-wrapper.record-on-to-off .record-off-btn.btn {
    @apply scale-100;
    @apply opacity-100;
}
.chat-audio-panel .recorder-wrapper.record-on-to-off.applying-changes .record-off-btn.btn {
    @apply opacity-50;
}

.modal-frame.menu-styled-modal {
    @apply md:gap-x-0;
    @apply max-w-72;
}
.modal-frame.menu-styled-modal .c-text {
    @apply flex-y gap-y-2;
    @apply font-medium text-sm;
}

.narrow .modal-frame.menu-styled-modal .c-text {
    @apply font-normal text-base;
}
.narrow .modal-frame.menu-styled-modal .dialog-body {
    @apply gap-y-4;
}

.narrow .recorder-wrapper > .c-tooltip {
    @apply hidden;
}

.recorder-wrapper > .c-tooltip {
    @apply relative z-tooltip bottom-12 left-0;
    @apply flex justify-center;
    @apply h-10;
    @apply px-[12px] py-[7px];
    @apply rounded-lg;
    @apply whitespace-nowrap;
    @apply bg-01;
    @apply text-base text-02;
    @apply pointer-events-none;
    filter: drop-shadow(0px 5px 12px rgba(0, 0, 0, 0.16));
}


.recorder-wrapper > .c-tooltip > .c-tooltip-arrow {
    @apply absolute -bottom-1;
    @apply w-[8px] h-[8px];
    @apply rotate-45;
    @apply bg-01;
}

.narrow .narrow-recorder-tooltip {
    @apply visible;
    @apply fixed z-tooltip;
    @apply flex justify-center text-center;
    @apply h-10 w-48;
    @apply p-2;
    @apply rounded-lg;
    @apply whitespace-nowrap;
    @apply bg-01;
    @apply text-base text-02;
    @apply pointer-events-none;
    @apply portrait:bottom-38 portrait:left-0 portrait:right-0;
    @apply landscape:bottom-16 landscape:left-auto landscape:right-0.5;
    margin: 0 auto;
    filter: drop-shadow(0px 5px 12px rgba(0, 0, 0, 0.16));
}
.narrow-recorder-tooltip .c-tooltip-text {
    @apply line-clamp-1;
}

.narrow-panel .narrow-recorder-tooltip {
    @apply portrait:bottom-30 landscape:bottom-16;
}

.wide .narrow-recorder-tooltip {
    @apply hidden;
}

.narrow-recorder-tooltip > .c-tooltip-arrow {
    @apply absolute -bottom-1;
    @apply w-[8px] h-[8px];
    @apply bg-01;
    @apply rotate-45;
}

.btn.btn-round.transcription-options-btn i {
    @apply text-2xl font-thin;
}
.transcription-options-modal > .dialog-body {
    @apply gap-y-1;
}
.transcription-options-modal .language-btn-group {
    @apply flex-y;
    @apply mb-2;
}
.transcription-options-modal .language-btn-group > .c-settings-hint {
    @apply mb-4;
    @apply text-02;
}
.transcription-options-modal .language-btn-group > .c-title {
    @apply mb-2;
    @apply text-02;
}
.transcription-options-modal .language-btn-group a.link {
    @apply md:cursor-pointer;
    @apply text-primary;
    @apply underline;
}

.transcription-options-modal .language-btn-group > .c-languages{
    @apply flex-x gap-x-2;
    @apply p-2;
    @apply rounded-lg;
    @apply bg-04;
}
.transcription-options-modal .language-btn-group > .c-languages > span {
    @apply flex-1 flex items-center justify-center;
    @apply text-03;
}
.transcription-options-modal .language-btn-group > .c-languages > button {
    @apply flex-1 flex items-center justify-center;
    @apply h-8;
    @apply rounded-lg;
    @apply bg-transparent;
    @apply text-02;
}
.transcription-options-modal .language-btn-group > .c-languages > button.active {
    @apply bg-cancel;
    @apply text-primary;
}

.options-item {
    @apply flex-x items-center gap-x-4;
    @apply h-12;
}
.options-item > .c-title {
    @apply flex-1 flex-y;
}

.selected-language {
    @apply absolute z-10 -top-1 -right-0.5;
    @apply px-1;
    @apply rounded-full;
    @apply bg-05;
    @apply text-primary-title text-xs;
}
