/* ChatAudioPanel */
.chat-audio-panel {
    @apply flex-x;
    @apply justify-center;
    @apply rounded-none outline-none;
    @apply bg-01;
}
/* ChatAudioPanel, Mobile view */
.narrow .chat-audio-panel {
    @apply self-stretch items-center;
    @apply py-2 mb-0.5;
    @apply rounded-b-4xl;
}
.narrow.base-panel .chat-audio-panel {
    @apply gap-x-6;
    background: linear-gradient(to top, rgba(255,255,255,1) 5%, rgba(255,255,255,1) 35%, transparent);
}
.narrow.to-thick .chat-audio-panel {
    @apply gap-x-6;
    background: linear-gradient(to top, rgba(255,255,255,1) 5%, rgba(255,255,255,1) 35%, transparent);
    transition: all 200ms ease-in-out;
}
.narrow.to-thin .chat-audio-panel {
    @apply items-end gap-x-2;
    background: linear-gradient(to top, rgba(255,255,255,1) 60%, rgba(255,255,255,1) 5%, transparent);
    transition: all 200ms ease-in-out;
}

/* ChatAudioPanel, Desktop view */
.wide .chat-audio-panel {
    @apply h-12;
    @apply self-end items-end;
    @apply gap-x-2.5;
}

/* Buttons */
.chat-audio-panel .btn.btn-round .btn-content {
    @apply rounded-full;
    @apply bg-03;
}
.chat-audio-panel .record-off-btn.btn .btn-content,
body.hoverable .chat-audio-panel .record-off-btn.btn:hover .btn-content {
    @apply bg-gradient-to-b from-primary to-[#B60B84];
    @apply text-04;
}
.chat-audio-panel .record-on-btn.btn .btn-content,
body.hoverable .chat-audio-panel .record-on-btn.btn:hover .btn-content {
    @apply bg-gradient-to-b from-[#FF3880] to-[#B64AAC];
    @apply text-04;
}
.chat-audio-panel .language-wrapper,
.chat-audio-panel .playback-wrapper,
.chat-audio-panel .recorder-wrapper {
    @apply rounded-full;
    @apply transition-all ease-linear duration-100;
}
.narrow .chat-audio-panel .language-wrapper,
.narrow .chat-audio-panel .playback-wrapper,
.narrow .chat-audio-panel .recorder-wrapper {
    @apply drop-shadow-lg shadow-gradient-stop-02;
}
.chat-audio-panel .recorder-wrapper {
    @apply border;
}
.chat-audio-panel .recorder-wrapper.applying-changes .record-off-btn.btn,
.chat-audio-panel .recorder-wrapper.applying-changes .record-on-btn.btn {
    @apply opacity-50;
}
.recorder-wrapper .recorder-icon {
    @apply h-10 w-10;
}
.recorder-wrapper .mic-disabled.btn .btn-content,
body.hoverable .recorder-wrapper .mic-disabled.btn:hover .btn-content {
    @apply bg-icons-02;
}
.recorder-wrapper.mic-disabled {
    @apply border-icons-02;
}

.playback-wrapper .btn.btn-round.on .btn-content {
    @apply bg-[#C9E3FF];
}
.playback-wrapper.listen-off-to-on,
.playback-wrapper.listen-on {
    @apply outline outline-1 outline-accent outline-offset-0;
    @apply bg-round-focus;
}

.narrow-panel.narrow .recorder-wrapper .recorder-icon,
.wide .recorder-wrapper .recorder-icon {
    @apply h-7 w-7;
}
.chat-audio-panel .recorder-wrapper.record-off,
.chat-audio-panel .recorder-wrapper.record-on-to-off {
    @apply relative;
    @apply items-center;
    @apply rounded-full;
    @apply bg-transparent;
    @apply text-04;
    box-shadow:
        -1px 0 0 0 #5D4CD2FF,
        0 -1px 0 0 #2970FFFF,
        1px 0 0 0 #5D4CD2FF,
        0 1px 0 0 #B50C85FF;
}

.chat-audio-panel .recorder-wrapper.record-on,
.chat-audio-panel .recorder-wrapper.record-off-to-on {
    box-shadow:
        -1px 0 0 0 #E93E8DFF,
        0 -1px 0 0 #FF3880FF,
        1px 0 0 0 #E93E8DFF,
        0 1px 0 0 #A550B6FF;
}
.chat-audio-panel .recorder-wrapper .btn {
    @apply absolute;
    @apply transition-all ease-in-out duration-300;
}

/* Buttons, Mobile view */
.narrow .chat-audio-panel .language-wrapper:active,
.narrow .chat-audio-panel .playback-wrapper:active,
.narrow .chat-audio-panel .recorder-wrapper:active {
    @apply translate-y-0.5;
}

.narrow .chat-audio-panel .language-button {
    @apply flex-x justify-start;
    @apply w-20;
}
.narrow .chat-audio-panel .language-wrapper {
    @apply flex-x items-center justify-center;
}
.narrow.base-panel .chat-audio-panel .language-wrapper {
    @apply min-w-12 max-w-12 min-h-12 max-h-12;
}
.narrow.to-thin .chat-audio-panel .language-wrapper {
    @apply min-w-20 max-w-20 min-h-12 max-h-12;
    transition: all 200ms ease-in-out;
}
.narrow.to-thick .chat-audio-panel .language-wrapper {
    @apply min-w-12 max-w-12 min-h-12 max-h-12;
    transition: all 200ms ease-in-out;
}
.narrow .chat-audio-panel .btn.chat-language-toggle {
    @apply text-primary;
}
.narrow .chat-audio-panel .language-wrapper,
.narrow .chat-audio-panel .playback-wrapper.listen-off,
.narrow .chat-audio-panel .playback-wrapper.listen-on-to-off {
    @apply bg-gradient-to-b from-[#F5F5F5] to-[#FFFFFF];
}
.narrow .chat-audio-panel .playback-wrapper.listen-on,
.narrow .chat-audio-panel .playback-wrapper.listen-off-to-on {
    @apply bg-round-focus;
}
.narrow .chat-audio-panel .playback-wrapper .btn.btn-round .btn-content,
.narrow .chat-audio-panel .language-wrapper .btn.btn-round .btn-content {
    @apply bg-transparent;
}
.narrow .chat-audio-panel .playback-wrapper .btn.btn-round.on .btn-content {
    @apply bg-round-focus;
}
.narrow.base-panel .chat-audio-panel .recorder-wrapper {
    @apply flex justify-center;
    @apply h-20 w-20;
}
.narrow.to-thin .chat-audio-panel .recorder-wrapper {
    @apply flex justify-center;
    @apply h-12 w-20;
    transition: all 200ms ease-in-out;
}
.narrow.to-thin .chat-audio-panel .recorder-wrapper {
    border-width: 0;
}
.narrow.to-thick .chat-audio-panel .recorder-wrapper {
    @apply flex justify-center;
    @apply h-20 w-20;
    transition: all 200ms ease-in-out;
}
.narrow.to-thick .chat-audio-panel .recorder-wrapper {
    border-width: 1px;
}
.narrow .chat-audio-panel .recorder-wrapper:active {
    @apply translate-y-0;
}
.narrow .chat-audio-panel .recorder-wrapper .btn {
    @apply self-center;
}
.narrow .chat-audio-panel .recorder-wrapper .btn .btn-content i {
    font-size: 2rem;
    line-height: 2.5rem;
}
.narrow .chat-audio-panel .recorder-button .btn.recorder-skeleton .btn-content {
    @apply min-w-20 min-h-20;
}

/* Temporarily disabled switch between loud speaker and earpiece
   to have single audio channel controlled with volume buttons
*/
/*
.narrow .chat-audio-panel .playback-button {
    @apply w-24;
    @apply -mr-12;
}
.narrow .chat-audio-panel .playback-button .playback-wrapper {
    @apply relative flex-x;
    @apply h-12;
    @apply bg-03;
}
.narrow .chat-audio-panel .playback-button .playback-wrapper .btn.btn-round {
    @apply absolute;
}
.narrow .playback-wrapper .loud-btn {
    @apply self-center;
}
.narrow .playback-wrapper.listen-on {
    @apply w-24;
}
.narrow .playback-wrapper.listen-on .loud-btn.btn.btn-round {
    @apply opacity-100;
    @apply translate-x-12;
}
.narrow .playback-wrapper.listen-off {
    @apply w-12;
}
.narrow .playback-wrapper.listen-off .loud-btn.btn.btn-round {
    @apply absolute;
    @apply opacity-0;
    @apply translate-x-12;
}
.narrow .playback-wrapper.listen-on-to-off {
    @apply w-12;
    @apply animate-width-full-to-half;
}
.narrow .playback-wrapper.listen-on-to-off .loud-btn.btn.btn-round {
    @apply absolute;
    @apply opacity-0;
    @apply scale-0;
    @apply animate-loud-hide;
    @apply transition duration-300;
}
.narrow .playback-wrapper.listen-off-to-on {
    @apply w-24;
    @apply animate-width-half-to-full;
}
.narrow .playback-wrapper.listen-off-to-on .loud-btn.btn.btn-round {
    @apply absolute;
    @apply translate-x-12;
    @apply animate-loud-show;
}
*/

/* Buttons, Mobile view, Text mode */
.narrow-panel.narrow .chat-audio-panel .btn.btn-round .btn-content {
    @apply min-w-20 max-w-20 min-h-12 max-h-12;
}

.narrow.to-thin .chat-audio-panel .recorder-wrapper .btn.btn-round .btn-content {
    @apply min-w-20 max-w-20 min-h-12 max-h-12;
    transition: all 200ms ease-in-out;
}
.narrow.to-thick .chat-audio-panel .recorder-wrapper .btn.btn-round .btn-content {
    @apply min-w-17 max-w-17 min-h-17 max-h-17;
    transition: all 200ms ease-in-out;
}
.narrow.base-panel .chat-audio-panel .recorder-wrapper .btn.btn-round .btn-content {
    @apply min-w-17 max-w-17 min-h-17 max-h-17;
}

.narrow-panel.narrow .chat-audio-panel .btn.btn-round svg {
    @apply h-6 w-6;
}

.narrow .chat-audio-panel .playback-button {
    @apply flex-x justify-end;
    @apply w-20;
}
.narrow .chat-audio-panel .playback-wrapper {
    @apply flex-x items-center justify-center;
}
.narrow.base-panel .chat-audio-panel .playback-wrapper {
    @apply min-w-12 max-w-12 min-h-12 max-h-12;
}
.narrow.to-thin .chat-audio-panel .playback-wrapper {
    @apply min-w-20 max-w-20 min-h-12 max-h-12;
    transition: all 200ms ease-in-out;
}
.narrow.to-thick .chat-audio-panel .playback-wrapper {
    @apply min-w-12 max-w-12 min-h-12 max-h-12;
    transition: all 200ms ease-in-out;
}

.narrow-panel.narrow .playback-wrapper.listen-on .loud-btn.btn.btn-round {
    @apply opacity-100;
    @apply translate-x-10;
}
.narrow-panel.narrow .playback-wrapper.listen-off .loud-btn.btn.btn-round {
    @apply absolute;
    @apply opacity-0;
    @apply translate-x-10;
}
.narrow-panel.narrow .playback-wrapper.listen-on-to-off .loud-btn.btn.btn-round {
    @apply absolute;
    @apply scale-0;
    @apply opacity-0;
    @apply animate-loud-hide-text-mode;
    @apply transition duration-300;
}
.narrow-panel.narrow .playback-wrapper.listen-off-to-on .loud-btn.btn.btn-round {
    @apply absolute;
    @apply animate-loud-show-text-mode;
    @apply translate-x-10;
}

/* Buttons, Desktop view */
.wide .chat-audio-panel .recorder-wrapper {
    @apply relative flex;
    @apply h-14 w-14;
    @apply justify-center;
    @apply top-1;
    @apply rounded-full;
}
.wide .chat-audio-panel .recorder-wrapper .btn {
    @apply self-center;
    @apply m-0.5;
}
.chat-language-toggle.btn {
    @apply font-semibold text-lg text-icons-01 md:text-base;
}
.wide .chat-audio-panel .playback-button {
    @apply min-w-12 max-w-12;
    @apply rounded-full;
}
.wide .playback-wrapper .loud-btn {
    @apply hidden;
}
.chat-audio-panel .playback-button .btn-content-inner > * {
    @apply relative top-[0.09rem] left-0; /* Fix headphones position */
}

/* Recorder button animation */

/* From "off" state */
.chat-audio-panel .recorder-wrapper.record-off .record-on-btn.btn {
    @apply scale-0;
    @apply opacity-0;
}
.chat-audio-panel .recorder-wrapper.record-off .record-off-btn.btn {
    @apply scale-100;
    @apply opacity-100;
}
.chat-audio-panel .recorder-wrapper.record-off.applying-changes .record-off-btn.btn {
    @apply opacity-50;
}
.chat-audio-panel .recorder-wrapper.record-off-to-on .record-off-btn.btn {
    @apply scale-0;
    @apply opacity-0;
}
.chat-audio-panel .recorder-wrapper.record-off-to-on .record-on-btn.btn {
    @apply scale-100;
    @apply opacity-100;
}
.chat-audio-panel .recorder-wrapper.record-off-to-on.applying-changes .record-on-btn.btn {
    @apply opacity-50;
}

/* From "on" state */
.chat-audio-panel .recorder-wrapper.record-on .record-off-btn.btn {
    @apply scale-0;
    @apply opacity-0;
}
.chat-audio-panel .recorder-wrapper.record-on .record-on-btn.btn {
    @apply scale-100;
    @apply opacity-100;
}
.chat-audio-panel .recorder-wrapper.record-on.applying-changes .record-on-btn.btn {
    @apply opacity-50;
}
.chat-audio-panel .recorder-wrapper.record-on-to-off .record-on-btn.btn {
    @apply scale-0;
    @apply opacity-0;
}
.chat-audio-panel .recorder-wrapper.record-on-to-off .record-off-btn.btn {
    @apply scale-100;
    @apply opacity-100;
}
.chat-audio-panel .recorder-wrapper.record-on-to-off.applying-changes .record-off-btn.btn {
    @apply opacity-50;
}

.modal-frame.menu-styled-modal {
    @apply md:gap-x-0;
    @apply max-w-72;
}
.modal-frame.menu-styled-modal .c-text {
    @apply flex-y gap-y-2;
    @apply font-medium text-sm;
}

.narrow .modal-frame.menu-styled-modal .c-text {
    @apply font-normal text-base;
}
.narrow .modal-frame.menu-styled-modal .dialog-body {
    @apply gap-y-4;
}

.narrow .recorder-wrapper > .c-tooltip {
    @apply hidden;
}

.recorder-wrapper > .c-tooltip {
    @apply relative bg-01 -top-11 h-10 left-0 text-base text-02 px-[12px] py-[7px] pointer-events-none rounded-lg whitespace-nowrap z-tooltip;
    filter: drop-shadow(0px 5px 12px rgba(0, 0, 0, 0.16));
}

.recorder-wrapper > .c-tooltip > .c-tooltip-arrow {
    @apply absolute -bottom-1 bg-01 w-[8px] h-[8px] rotate-45;
}

.narrow .narrow-recorder-tooltip {
    @apply visible;
    @apply fixed bg-01 bottom-36 h-10 left-0 right-0  text-base text-02 px-[12px] py-[7px] pointer-events-none rounded-lg whitespace-nowrap z-tooltip;
    margin: 0.25rem auto;
    width: fit-content;
    filter: drop-shadow(0px 5px 12px rgba(0, 0, 0, 0.16));
}

.wide .narrow-recorder-tooltip {
    @apply hidden;
}

.narrow-recorder-tooltip > .c-tooltip-arrow {
    @apply absolute -bottom-1 bg-01 w-[8px] h-[8px] rotate-45;
}

.btn.btn-round.transcription-options-btn i {
    @apply text-2xl font-thin;
}
.transcription-options-modal > .dialog-body {
    @apply gap-y-1;
}
.transcription-options-modal .language-btn-group {
    @apply mb-2;
}
.options-item {
    @apply flex-x items-center gap-x-4;
    @apply h-12;
}
.options-item > .c-title {
    @apply flex-1 flex-y;
}
