/* ChatAudioPanel */
.chat-audio-panel {
    @apply flex-x justify-center rounded-none outline-none bg-01;
}
/* ChatAudioPanel, Mobile view */
.narrow .chat-audio-panel {
    @apply w-full self-stretch items-center gap-x-6 py-2 rounded-b-5xl;
    background: linear-gradient(to top, rgba(255,255,255,1) 5%, rgba(255,255,255,1) 35%, transparent);
}
/* ChatAudioPanel, Mobile view, Text mode */
.narrow-panel.narrow .chat-audio-panel {
    @apply gap-x-2 py-1;
    @apply bg-01;
}
/* ChatAudioPanel, Desktop view */
.wide .chat-audio-panel {
    @apply self-end items-end h-12 gap-x-2.5;
}

/* Buttons */
.chat-audio-panel .btn.btn-round .btn-content {
    @apply rounded-full bg-03;
}
.chat-audio-panel .record-off-btn.btn .btn-content,
.chat-audio-panel .record-off-btn.btn:hover .btn-content {
    @apply bg-primary text-04;
}
.narrow .chat-audio-panel .record-off-btn.btn .btn-content,
.narrow .chat-audio-panel .record-off-btn.btn:hover .btn-content {
    @apply text-04 bg-gradient-to-b from-primary to-[#B60B84];
}
.chat-audio-panel .record-on-btn.btn .btn-content,
.chat-audio-panel .record-on-btn.btn:hover .btn-content {
    @apply bg-error text-04;
}
.narrow .chat-audio-panel .record-on-btn.btn .btn-content,
.narrow .chat-audio-panel .record-on-btn.btn:hover .btn-content {
    @apply bg-[#FF3880] text-04;
}
.chat-audio-panel .language-button,
.chat-audio-panel .playback-wrapper,
.chat-audio-panel .recorder-wrapper,
.chat-audio-panel .recorder-button {
    @apply rounded-full transition-all ease-linear duration-100;
}
.chat-audio-panel .recorder-wrapper {
    @apply border;
}
.recorder-wrapper .recorder-icon {
    @apply h-10 w-10;
}
.narrow-panel.narrow .recorder-wrapper .recorder-icon {
    @apply h-7 w-7;
}

/* Buttons, Mobile view */
.narrow .chat-audio-panel .btn.btn-round .btn-content {
    @apply min-h-12 max-h-12 min-w-12 max-w-12;
}
.narrow .chat-audio-panel .language-button,
.narrow .chat-audio-panel .playback-wrapper,
.narrow .chat-audio-panel .recorder-wrapper {
    @apply shadow-scrollbar shadow-md;
}
.narrow .chat-audio-panel .language-button:active,
.narrow .chat-audio-panel .playback-wrapper:active,
.narrow .chat-audio-panel .recorder-button:active {
    @apply translate-y-0.5;
}
.narrow .chat-audio-panel .btn.chat-language-toggle {
    @apply text-primary;
}
.narrow .chat-audio-panel .recorder-wrapper {
    @apply flex justify-center h-20 w-20 transition-none;
}
.narrow .chat-audio-panel .recorder-wrapper:active {
    @apply translate-y-0 transition-none;
}
.narrow .chat-audio-panel .recorder-wrapper .btn {
    @apply self-center;
}
.narrow .chat-audio-panel .recorder-wrapper .btn .btn-content {
    @apply min-w-17 max-w-17 min-h-17 max-h-17 text-04;
}
.narrow .chat-audio-panel .recorder-button .btn.recorder-skeleton .btn-content {
    @apply min-w-20 min-h-20;
}
.narrow .chat-audio-panel .recorder-wrapper.record-off,
.narrow .chat-audio-panel .recorder-wrapper.record-on-to-off {
    @apply w-20 h-20 rounded-full border border-double border-transparent;
    background-image: linear-gradient(white, white), linear-gradient(to bottom, #2970FF, #C60077);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}
.narrow .chat-audio-panel .recorder-wrapper.record-on,
.narrow .chat-audio-panel .recorder-wrapper.record-off-to-on {
    @apply border-[#FF3880] transition-colors duration-300;
}
.narrow .chat-audio-panel .recorder-wrapper.record-off .record-on-btn.btn {
    @apply absolute scale-0;
}
.narrow .chat-audio-panel .recorder-wrapper.record-off .record-off-btn.btn {
    @apply scale-100;
}
.narrow .chat-audio-panel .recorder-wrapper.record-off-to-on .record-off-btn.btn {
    @apply absolute scale-0 animate-scale-to-5;
}
.narrow .chat-audio-panel .recorder-wrapper.record-off-to-on .record-on-btn.btn {
    @apply scale-100 animate-scale-to-full;
}
.narrow .chat-audio-panel .recorder-wrapper.record-on .record-off-btn.btn {
    @apply absolute scale-0;
}
.narrow .chat-audio-panel .recorder-wrapper.record-on .record-on-btn.btn {
    @apply scale-100;
}
.narrow .chat-audio-panel .recorder-wrapper.record-on-to-off .record-on-btn.btn {
    @apply absolute animate-scale-to-5 scale-0;
}
.narrow .chat-audio-panel .recorder-wrapper.record-on-to-off .record-off-btn.btn {
    @apply scale-100 animate-scale-to-full;
}
.narrow .chat-audio-panel .playback-button {
    @apply w-24 -mr-12;
}
.narrow .chat-audio-panel .playback-button .playback-wrapper {
    @apply relative flex-x h-12 bg-03;
}
.narrow .chat-audio-panel .playback-button .playback-wrapper .btn.btn-round {
    @apply absolute;
}
.narrow .playback-wrapper .loud-btn {
    @apply self-center;
}
.narrow .playback-wrapper.listen-on {
    @apply w-24;
}
.narrow .playback-wrapper.listen-on .loud-btn.btn.btn-round {
    @apply translate-x-12 opacity-100;
}
.narrow .playback-wrapper.listen-off {
    @apply w-12;
}
.narrow .playback-wrapper.listen-off .loud-btn.btn.btn-round {
    @apply absolute translate-x-12 opacity-0;
}
.narrow .playback-wrapper.listen-on-to-off {
    @apply w-12 animate-width-full-to-half;
}
.narrow .playback-wrapper.listen-on-to-off .loud-btn.btn.btn-round {
    @apply absolute opacity-0 scale-0;
    @apply animate-loud-hide transition duration-300;
}
.narrow .playback-wrapper.listen-off-to-on {
    @apply w-24 animate-width-half-to-full;
}
.narrow .playback-wrapper.listen-off-to-on .loud-btn.btn.btn-round {
    @apply absolute translate-x-12 animate-loud-show;
}

/* Buttons, Mobile view, Text mode */
.narrow-panel.narrow .chat-audio-panel .btn.btn-round .btn-content {
    @apply min-w-20 max-w-20 min-h-12 max-h-12;
}
.narrow-panel.narrow .chat-audio-panel .btn.btn-round svg {
    @apply h-6 w-6;
}
.narrow-panel.narrow .chat-audio-panel .language-button,
.narrow-panel.narrow .chat-audio-panel .playback-wrapper,
.narrow-panel.narrow .chat-audio-panel .recorder-wrapper {
    @apply shadow-sm shadow-scrollbar;
}
.narrow-panel.narrow .chat-audio-panel .recorder-wrapper {
    @apply h-auto w-auto border-0;
}
.narrow-panel.narrow .chat-audio-panel .playback-button {
    @apply w-20 m-0;
}
.narrow-panel.narrow .chat-audio-panel .playback-button .playback-wrapper {
    @apply h-12 bg-03;
}
.narrow-panel.narrow .chat-audio-panel .playback-button .playback-wrapper .btn {
    @apply left-4;
}
.narrow-panel.narrow .chat-audio-panel .playback-button .playback-wrapper .btn.btn-round .btn-content {
    @apply min-w-12 max-w-12 bg-transparent;
}
.narrow-panel.narrow .playback-wrapper.listen-on {
    @apply w-28;
}
.narrow-panel.narrow .playback-wrapper.listen-on .loud-btn.btn.btn-round {
    @apply translate-x-10 opacity-100;
}
.narrow-panel.narrow .playback-wrapper.listen-off {
    @apply w-20;
}
.narrow-panel.narrow .playback-wrapper.listen-off .loud-btn.btn.btn-round {
    @apply absolute translate-x-10 opacity-0;
}
.narrow-panel.narrow .playback-wrapper.listen-on-to-off {
    @apply w-20 animate-width-7-to-5;
}
.narrow-panel.narrow .playback-wrapper.listen-on-to-off .loud-btn.btn.btn-round {
    @apply absolute opacity-0 scale-0;
    @apply transition duration-300 animate-loud-hide-text-mode;
}
.narrow-panel.narrow .playback-wrapper.listen-off-to-on {
    @apply w-28 animate-width-5-to-7;
}
.narrow-panel.narrow .playback-wrapper.listen-off-to-on .loud-btn.btn.btn-round {
    @apply absolute translate-x-10 animate-loud-show-text-mode;
}
/* Buttons, Desktop view */
.wide .chat-audio-panel .recorder-wrapper {
    @apply relative flex h-14 w-14 top-1 justify-center rounded-full border-primary;
}
.wide .chat-audio-panel .recorder-wrapper .btn {
    @apply self-center m-0.5;
}
.wide .chat-audio-panel .recorder-wrapper.record-off,
.wide .chat-audio-panel .recorder-wrapper.record-on-to-off {
    @apply border-primary transition-colors duration-300;
}
.wide .chat-audio-panel .recorder-wrapper.record-on,
.wide .chat-audio-panel .recorder-wrapper.record-off-to-on {
    @apply border-error transition-colors duration-300;
}
.wide .chat-audio-panel .recorder-wrapper .record-on-btn.btn .btn-content {
    @apply shadow-mobile-button shadow-error-hover;
}
.wide .chat-audio-panel .recorder-wrapper .record-off-btn.btn .btn-content {
    @apply shadow-lg shadow-secondary;
}
.wide .chat-audio-panel .recorder-wrapper.record-off .record-on-btn.btn {
    @apply absolute scale-0;
}
.wide .chat-audio-panel .recorder-wrapper.record-off .record-off-btn.btn {
    @apply scale-100;
}
.wide .chat-audio-panel .recorder-wrapper.record-off-to-on .record-off-btn.btn {
    @apply absolute scale-0 animate-scale-to-5;
}
.wide .chat-audio-panel .recorder-wrapper.record-off-to-on .record-on-btn.btn {
    @apply scale-100 animate-scale-to-full;
}
.wide .chat-audio-panel .recorder-wrapper.record-on .record-off-btn.btn {
    @apply absolute scale-0;
}
.wide .chat-audio-panel .recorder-wrapper.record-on .record-on-btn.btn {
    @apply scale-100;
}
.wide .chat-audio-panel .recorder-wrapper.record-on-to-off .record-on-btn.btn {
    @apply absolute scale-0 animate-scale-to-5;
}
.wide .chat-audio-panel .recorder-wrapper.record-on-to-off .record-off-btn.btn {
    @apply scale-100 animate-scale-to-full;
}
.chat-language-toggle.btn {
    @apply font-semibold text-lg md:text-base text-icons-01;
}
.wide .chat-audio-panel .playback-button {
    @apply w-12 rounded-full;
}
.wide .playback-wrapper .loud-btn {
    @apply hidden;
}
