@namespace ActualChat.Chat.UI.Blazor.Components
@using ActualChat.Audio.UI.Blazor.Components
@using Stl.CommandR.Internal
@inherits ChatLanguageToggle
@{
    var m = State.Value;
    var isLoading = m == Languages.Loading;
    var loadingCls = isLoading ? "animate-pulse" : "";
    var cls = $"chat-language-toggle {loadingCls}";
}

<ButtonRound
    Class="@cls" Click="@(_ => OnClick())">
    <span class="w-6 h-6 m-1 font-sans">
        @if (!isLoading) {
            @m.Code
        }
    </span>
</ButtonRound>
