@namespace ActualChat.Chat.UI.Blazor.Components
@implements IModalView<ListeningSettingsModal.Model>
@using ActualChat.Kvas
@inherits ComputedStateComponent<ListeningSettingsModal.ComputedModel>
@{
    var m = State.Value;
    var mode = m.ListeningMode;
}
<DialogFrame
    Title="Turn off listening in this chat:"
    Class="transcription-options-modal modal-sm"
    HasCloseButton="false">
    <Body>
    <FormBlock Class="first last">
        @foreach (var info in ListeningModeInfo.All) {
            RenderFragment content;
            if (info.Duration < TimeSpan.MaxValue) {
                content = @<span>After <u>@info.Text</u> of inactivity</span>;
            } else {
                content = @<span><u>Keep listening</u> while the app is active</span>;
            }
            <TileItem Click="@(() => SetListeningMode(info.Mode))">
                <Content>@content</Content>
                <Right>
                    @if (mode == info.Mode) {
                        <i class="icon-checkmark-simple text-primary text-2xl"></i>
                    }
                </Right>
            </TileItem>
        }
    </FormBlock>
    </Body>
</DialogFrame>

@code {
    [Inject] public ChatUIHub Hub { get; set; } = null!;

    [CascadingParameter] public Modal Modal { get; set; } = null!;
    [Parameter] public Model ModalModel { get; set; } = null!;

    private ChatUI ChatUI => Hub.ChatUI;
    private AccountSettings AccountSettings => Hub.AccountSettings();

    protected override ComputedState<ComputedModel>.Options GetStateOptions()
        => new() {
            UpdateDelayer = FixedDelayer.NextTick,
            Category = GetStateCategory(),
            InitialValue = new (ListeningMode.Default),
        };

    protected override async Task<ComputedModel> ComputeState(CancellationToken cancellationToken) {
        var chatInfo = await ChatUI.Get(ModalModel.ChatId, cancellationToken);

        return new (chatInfo?.UserSettings.ListeningMode ?? ListeningMode.Default);
    }

    private async Task SetListeningMode(ListeningMode listeningMode) {

        var chatId = ModalModel.ChatId;
        var userChatSettings = await AccountSettings.GetUserChatSettings(chatId, default);
        userChatSettings = userChatSettings with { ListeningMode = listeningMode };
        await AccountSettings.SetUserChatSettings(chatId, userChatSettings, default);
        if (listeningMode == ListeningMode.Forever) {
            await Hub.ChatAudioUI.SetListeningState(chatId, true);
            await AccountSettings.AddAlwaysListenedChat(chatId, default);
        } else {
            await AccountSettings.RemoveAlwaysListenedChat(chatId, default);
        }

        Modal.Close();
    }

    public sealed record ComputedModel(ListeningMode ListeningMode);

    public sealed record Model(ChatId ChatId);
}
