@namespace ActualChat.Chat.UI.Blazor.Components
@using ActualChat.UI.Blazor.Events
@implements IModalView<TranscriptionOptionsModal.Model>

<DialogFrame Title="Transcription options" Class="transcription-options-modal modal-sm" HasCloseButton="true">
    <Body>
    <LanguageButtonGroup Chat="@ModalModel.Chat"/>
    <OptionsItem Chat="@ModalModel.Chat" IsOn="true">
        <Left>
            <i class="icon-transcription text-2xl"></i>
        </Left>
        <Title>
            Transcription voice to text
        </Title>
        <Right>
            <Toggle IsChecked="true" Class="toggle-sm"/>
        </Right>
    </OptionsItem>

    <OptionsItem Chat="@ModalModel.Chat" IsOn="false">
        <Left>
            <i class="icon-radio-button-on-fill text-2xl"></i>
        </Left>
        <Title>
            Record voice
        </Title>
        <Right>
            <Toggle IsChecked="false" Class="toggle-sm"/>
        </Right>
    </OptionsItem>

    <OptionsItem Chat="@ModalModel.Chat" IsOn="true">
        <Left>
            <i class="icon-volume-up text-2xl"></i>
        </Left>
        <Title>
            Speaker
        </Title>
        <Right>
            <Toggle IsChecked="true" Class="toggle-sm"/>
        </Right>
    </OptionsItem>

    </Body>
</DialogFrame>

@code {
    [Inject] private History History { get; init; } = null!;
    [Inject] private UIEventHub UIEventHub { get; init; } = null!;

    [CascadingParameter] public Modal Modal { get; set; } = null!;

    [Parameter] public Model ModalModel { get; set; } = null!;

    private async Task OnClick() {
        Modal.Close();
        await History.WhenNavigationCompleted();
        _ = UIEventHub.Publish(new ShowSettingsEvent());
    }

    public sealed record Model(Chat Chat);
}
