@namespace ActualChat.Chat.UI.Blazor.Components
@using ActualChat.Audio.UI.Blazor.Components
@using Stl.CommandR.Internal

<div class="language-wrapper">
    <ButtonRound
        Class="transcription-options-btn" Click="@OnClick">
        <i class="icon-options-2"></i>
    </ButtonRound>
</div>

@code {
    [Inject] private ModalUI ModalUI { get; init; } = null!;

    [Parameter, EditorRequired] public Chat Chat { get; set; } = null!;

    private void OnClick()
        => ModalUI.Show(new VoiceSettingsModal.Model(Chat.Id));
}
