@namespace ActualChat.Chat.UI.Blazor.Components
@using ActualChat.Contacts

<div class="creation-panel">
    <div class="header add-members">
        <ButtonRound Class="transparent" Click="OnPreviousPageClick">
            <i class="icon-arrow-left text-2xl"></i>
        </ButtonRound>
        <div class="grow px-2 text-xl md:text-lg font-semibold md:font-medium">@Title</div>
        <ButtonRound Class="transparent" Click="OnCloseClick">
            <i class="icon-close text-2xl md:text-xl font-medium"></i>
        </ButtonRound>
    </div>
    <div class="flex-x flex-wrap gap-x-2 w-full px-2">
        @foreach (var contact in SelectedContacts) {
            <btn
                class="selected-contact"
                @onclick="@(() => OnRemoveContact.InvokeAsync(contact))">
                <div class="remove-contact-icon">
                    <i class="icon-close text-04 text-2xl pl-0.5"></i>
                </div>
                <AvatarCircle Size="SquareSize.Size6" Avatar="@contact.Account?.Avatar"/>
                <div class="pl-1 pr-2 max-w-32 truncate">
                    @contact.Account?.Avatar.Name
                </div>
            </btn>
        }
    </div>
</div>

@code{
    [Parameter] public string Title { get; set; } = "";
    [Parameter] public Contact[] SelectedContacts { get; set; } = null!;
    [Parameter] public EventCallback OnCloseClick { get; set; }
    [Parameter] public EventCallback OnNextPageClick { get; set; }
    [Parameter] public EventCallback OnPreviousPageClick { get; set; }
    [Parameter] public EventCallback<Contact> OnRemoveContact { get; set; }
}
