@namespace ActualChat.Chat.UI.Blazor.Components
@using ActualChat.Contacts

<div class="creation-panel">
    <div class="header">
        <ButtonRound Class="transparent" Click="OnPreviousPageClick">
            <i class="icon-arrow-left text-2xl"></i>
        </ButtonRound>
        <div class="w-full px-2 text-xl md:text-lg font-semibold md:font-medium">@Title</div>
        <ButtonRound Class="transparent">
            <i class="icon-search text-2xl md:text-xl font-medium"></i>
        </ButtonRound>
        <ButtonRound Class="transparent" Click="OnCloseClick">
            <i class="icon-close text-2xl md:text-xl font-medium"></i>
        </ButtonRound>
    </div>
    <div class="creation-buttons">
        <CreationButton Title="New Group" OnClick="@OnNextPageClick">
            <Icon>
                <i class="icon-people text-2xl"></i>
            </Icon>
        </CreationButton>
        <CreationButton Title="New Channel">
            <Icon>
                <i class="icon-loudspeaker text-2xl"></i>
            </Icon>
        </CreationButton>
        <CreationButton Title="New Contact">
            <Icon>
                <i class="icon-person-add text-2xl"></i>
            </Icon>
        </CreationButton>
        <CreationButton Title="New Place">
            <Icon>
                <i class="icon-plus text-2xl"></i>
            </Icon>
        </CreationButton>
    </div>
</div>

@code{
    [Parameter] public string Title { get; set; } = "";
    [Parameter] public Contact[] AllContacts { get; set; } = null!;
    [Parameter] public Contact[] SelectedContacts { get; set; } = null!;
    [Parameter] public EventCallback OnCloseClick { get; set; }
    [Parameter] public EventCallback OnNextPageClick { get; set; }
    [Parameter] public EventCallback OnPreviousPageClick { get; set; }
}
