@namespace ActualChat.Chat.UI.Blazor.Components
@inherits ComputedStateComponent<bool>

@{
    var isVisible = State.LatestNonErrorValue;
}

<div class="creation-panel @(isVisible ? "open" : "closed")">
    <div class="header">
        <div class="w-full px-4 text-lg font-medium">Create</div>
        <ButtonRound Class="transparent" ContentClass="!min-w-14 !max-w-14">
            <i class="icon-search text-xl font-medium"></i>
        </ButtonRound>
    </div>
    <div class="creation-buttons">
        <CreationButton Title="New Group" OnClick="OnCreateNewChatClick">
            <Icon>
                <i class="icon-people text-2xl"></i>
            </Icon>
        </CreationButton>
        <CreationButton Title="New Channel">
            <Icon>
                <i class="icon-loudspeaker text-2xl"></i>
            </Icon>
        </CreationButton>
        <CreationButton Title="New Contact">
            <Icon>
                <i class="icon-person-add text-2xl"></i>
            </Icon>
        </CreationButton>
        <CreationButton Title="New Place">
            <Icon>
                <i class="icon-plus text-2xl"></i>
            </Icon>
        </CreationButton>
    </div>
    <div class="contacts">
        <CreationPanelContacts/>
    </div>
</div>

@code {
    [Inject] private CreationPanelUI CreationPanelUI { get; set; } = null!;
    [Inject] private Features Features { get; init; } = null!;
    [Inject] private ModalUI ModalUI { get; init; } = null!;

    protected override ComputedState<bool>.Options GetStateOptions()
        => new() { UpdateDelayer = FixedDelayer.Instant };

    protected override async Task<bool> ComputeState(CancellationToken cancellationToken)
        => await CreationPanelUI.IsVisible.Use(cancellationToken);

    private void OnCreateNewChatClick() {
        CreationPanelUI.Switch();
        ModalUI.Show(new NewChatModal.Model());
    }
}
