.custom-checkbox {
    @apply absolute z-minus opacity-0;
}
.custom-checkbox+label {
    @apply inline-flex items-center select-none;
}
.custom-checkbox+label::before {
    @apply inline-block w-5 h-5 shrink-0 grow-0 border-2 border-disabled rounded mr-2 bg-no-repeat bg-center;
    content: '';
    background-size: 50% 50%;
}
.custom-checkbox:checked+label::before {
    @apply border-primary bg-primary;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
    @apply border-primary;
}
.custom-checkbox:not(:disabled):active+label::before {
    @apply bg-primary border-primary;
}
.custom-checkbox:focus+label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.custom-checkbox:focus:not(:checked)+label::before {
    @apply border-primary-hover;
}
.custom-checkbox:disabled+label::before {
    @apply bg-primary border-primary;
}
