.checkbox {
    @apply flex-1 flex-x items-center gap-x-2;
    @apply overflow-hidden;
}
.checkbox input {
    /* The actual input is hidden */
    @apply absolute z-minus;
    @apply flex-none;
    @apply w-0 h-0;
    @apply overflow-hidden;
    @apply invisible;
}
.checkbox > .c-label {
    @apply flex-1 flex-x items-center;
    @apply overflow-hidden;
}
.checkbox > .c-label > .c-text {
    @apply flex-1;
    @apply truncate;
}

/* "X" styling */
.checkbox > .x {
    @apply flex-none;
    @apply w-5 h-5;
    @apply border-[1.5px] border-disabled;
    @apply rounded-md;
    @apply overflow-hidden;
    @apply bg-no-repeat bg-center bg-contain;
    background-size: 50% 50%;
}
.checkbox[data-input-checked] > .x {
    @apply border-primary bg-primary;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='11' viewBox='0 0 11 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg transform='scale(1.3) translate(-1.1,-1.3)'%3E%3Cpath d='M1 5.16981L4.21429 8L10 1' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E");
}
.checkbox:not([data-input-checked]):not([data-input-disabled]) > .x {
    @apply border-bg-05;
}
.checkbox[data-input-disabled] > .x {
    @apply border-disabled;
    @apply bg-outline;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='11' viewBox='0 0 11 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg transform='scale(1.3) translate(-1.1,-1.3)'%3E%3Cpath d='M1 5.16981L4.21429 8L10 1' stroke='%23B9B9B9' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E");
}

/* Active/Focus - impossible, coz input is invisible */
/*
.checkbox:has(input:not(:disabled):active) >.x {
    @apply bg-primary border-primary;
}
.checkbox:has(input:focus) > .x {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.checkbox:has(input:focus:not(:checked)) > .x {
    @apply border-primary-hover;
}
*/
