@font-face {font-family: "icon";
  src: url('icon.eot?t=1677104286621'); /* IE9*/
  src: url('icon.eot?t=1677104286621#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("icon.woff2?t=1677104286621") format("woff2"),
  url("icon.woff?t=1677104286621") format("woff"),
  url('icon.ttf?t=1677104286621') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('icon.svg?t=1677104286621#icon') format('svg'); /* iOS 4.1- */
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icon' !important;
  font-size: 16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Stop-fill:before { content: "\ea01"; }
.icon-add-reaction:before { content: "\ea02"; }
.icon-adminx-1:before { content: "\ea03"; }
.icon-alert-circle:before { content: "\ea04"; }
.icon-alert-triangle:before { content: "\ea05"; }
.icon-arrow-down-1:before { content: "\ea06"; }
.icon-arrow-down:before { content: "\ea07"; }
.icon-arrow-left-fill:before { content: "\ea08"; }
.icon-arrow-left:before { content: "\ea09"; }
.icon-arrow-right-1:before { content: "\ea0a"; }
.icon-arrow-right-2:before { content: "\ea0b"; }
.icon-arrow-right:before { content: "\ea0c"; }
.icon-at:before { content: "\ea0d"; }
.icon-attach-2:before { content: "\ea0e"; }
.icon-bell-fill:before { content: "\ea0f"; }
.icon-bell-off-fill:before { content: "\ea10"; }
.icon-bell:before { content: "\ea11"; }
.icon-bookmark-fill:before { content: "\ea12"; }
.icon-bookmark:before { content: "\ea13"; }
.icon-chat-add-two:before { content: "\ea14"; }
.icon-checkmark-circle:before { content: "\ea15"; }
.icon-chevron-left:before { content: "\ea16"; }
.icon-chevron-right-fill:before { content: "\ea17"; }
.icon-chevron-up:before { content: "\ea18"; }
.icon-close-fill:before { content: "\ea19"; }
.icon-close:before { content: "\ea1a"; }
.icon-cloud-disconnected:before { content: "\ea1b"; }
.icon-cloud:before { content: "\ea1c"; }
.icon-conversation:before { content: "\ea1d"; }
.icon-copy:before { content: "\ea1e"; }
.icon-download:before { content: "\ea1f"; }
.icon-edit-2:before { content: "\ea20"; }
.icon-edit-fill:before { content: "\ea21"; }
.icon-edit:before { content: "\ea22"; }
.icon-external-link:before { content: "\ea23"; }
.icon-eye-off:before { content: "\ea24"; }
.icon-eye:before { content: "\ea25"; }
.icon-file-text:before { content: "\ea26"; }
.icon-file:before { content: "\ea27"; }
.icon-folder:before { content: "\ea28"; }
.icon-hand:before { content: "\ea29"; }
.icon-hash-fill:before { content: "\ea2a"; }
.icon-headphones-fill:before { content: "\ea2b"; }
.icon-heart-fill:before { content: "\ea2c"; }
.icon-image:before { content: "\ea2d"; }
.icon-info:before { content: "\ea2e"; }
.icon-language-1:before { content: "\ea2f"; }
.icon-language:before { content: "\ea30"; }
.icon-layout:before { content: "\ea31"; }
.icon-link-2:before { content: "\ea32"; }
.icon-list:before { content: "\ea33"; }
.icon-listen:before { content: "\ea34"; }
.icon-lock:before { content: "\ea35"; }
.icon-log-in:before { content: "\ea36"; }
.icon-log-out:before { content: "\ea37"; }
.icon-loudspeaker:before { content: "\ea38"; }
.icon-menu:before { content: "\ea39"; }
.icon-message-add-2:before { content: "\ea3a"; }
.icon-message-add:before { content: "\ea3b"; }
.icon-message-ellipse:before { content: "\ea3c"; }
.icon-message-square-fill:before { content: "\ea3d"; }
.icon-message-square:before { content: "\ea3e"; }
.icon-mic-2:before { content: "\ea3f"; }
.icon-mic-fill:before { content: "\ea40"; }
.icon-mic-off-fill:before { content: "\ea41"; }
.icon-mic:before { content: "\ea42"; }
.icon-moon-fill:before { content: "\ea43"; }
.icon-more-vertical:before { content: "\ea44"; }
.icon-night-mode-1:before { content: "\ea45"; }
.icon-night-mode:before { content: "\ea46"; }
.icon-not-listening:before { content: "\ea47"; }
.icon-paper-plane:before { content: "\ea48"; }
.icon-pause-circle-fill:before { content: "\ea49"; }
.icon-pause-fill:before { content: "\ea4a"; }
.icon-people-fill:before { content: "\ea4b"; }
.icon-people:before { content: "\ea4c"; }
.icon-person-add-fill:before { content: "\ea4d"; }
.icon-person-add:before { content: "\ea4e"; }
.icon-person:before { content: "\ea4f"; }
.icon-phone-call:before { content: "\ea50"; }
.icon-phone-fill:before { content: "\ea51"; }
.icon-phone-missed:before { content: "\ea52"; }
.icon-phone-off:before { content: "\ea53"; }
.icon-phone:before { content: "\ea54"; }
.icon-pin:before { content: "\ea55"; }
.icon-play-circle-fill:before { content: "\ea56"; }
.icon-play-fill:before { content: "\ea57"; }
.icon-plus:before { content: "\ea58"; }
.icon-question-mark-circle:before { content: "\ea59"; }
.icon-radio-button-on-fill:before { content: "\ea5a"; }
.icon-reply:before { content: "\ea5b"; }
.icon-rewind-left-fill:before { content: "\ea5c"; }
.icon-rewind-right-fill:before { content: "\ea5d"; }
.icon-search:before { content: "\ea5e"; }
.icon-settings-2-fill:before { content: "\ea5f"; }
.icon-settings:before { content: "\ea60"; }
.icon-share-fill:before { content: "\ea61"; }
.icon-share:before { content: "\ea62"; }
.icon-skip-back-fill:before { content: "\ea63"; }
.icon-skip-forward-fill:before { content: "\ea64"; }
.icon-sort-by-alphabet:before { content: "\ea65"; }
.icon-sort-by-message:before { content: "\ea66"; }
.icon-sort-by-recent:before { content: "\ea67"; }
.icon-star:before { content: "\ea68"; }
.icon-status:before { content: "\ea69"; }
.icon-sync:before { content: "\ea6a"; }
.icon-text:before { content: "\ea6b"; }
.icon-trash-fill:before { content: "\ea6c"; }
.icon-trash02:before { content: "\ea6d"; }
.icon-trash03:before { content: "\ea6e"; }
.icon-unpin:before { content: "\ea6f"; }
.icon-unread:before { content: "\ea70"; }
.icon-volume-off-fill:before { content: "\ea71"; }
.icon-volume-off:before { content: "\ea72"; }
.icon-volume-up-fill:before { content: "\ea73"; }
.icon-volume-up:before { content: "\ea74"; }

$icon-Stop-fill: "\ea01";
$icon-add-reaction: "\ea02";
$icon-adminx-1: "\ea03";
$icon-alert-circle: "\ea04";
$icon-alert-triangle: "\ea05";
$icon-arrow-down-1: "\ea06";
$icon-arrow-down: "\ea07";
$icon-arrow-left-fill: "\ea08";
$icon-arrow-left: "\ea09";
$icon-arrow-right-1: "\ea0a";
$icon-arrow-right-2: "\ea0b";
$icon-arrow-right: "\ea0c";
$icon-at: "\ea0d";
$icon-attach-2: "\ea0e";
$icon-bell-fill: "\ea0f";
$icon-bell-off-fill: "\ea10";
$icon-bell: "\ea11";
$icon-bookmark-fill: "\ea12";
$icon-bookmark: "\ea13";
$icon-chat-add-two: "\ea14";
$icon-checkmark-circle: "\ea15";
$icon-chevron-left: "\ea16";
$icon-chevron-right-fill: "\ea17";
$icon-chevron-up: "\ea18";
$icon-close-fill: "\ea19";
$icon-close: "\ea1a";
$icon-cloud-disconnected: "\ea1b";
$icon-cloud: "\ea1c";
$icon-conversation: "\ea1d";
$icon-copy: "\ea1e";
$icon-download: "\ea1f";
$icon-edit-2: "\ea20";
$icon-edit-fill: "\ea21";
$icon-edit: "\ea22";
$icon-external-link: "\ea23";
$icon-eye-off: "\ea24";
$icon-eye: "\ea25";
$icon-file-text: "\ea26";
$icon-file: "\ea27";
$icon-folder: "\ea28";
$icon-hand: "\ea29";
$icon-hash-fill: "\ea2a";
$icon-headphones-fill: "\ea2b";
$icon-heart-fill: "\ea2c";
$icon-image: "\ea2d";
$icon-info: "\ea2e";
$icon-language-1: "\ea2f";
$icon-language: "\ea30";
$icon-layout: "\ea31";
$icon-link-2: "\ea32";
$icon-list: "\ea33";
$icon-listen: "\ea34";
$icon-lock: "\ea35";
$icon-log-in: "\ea36";
$icon-log-out: "\ea37";
$icon-loudspeaker: "\ea38";
$icon-menu: "\ea39";
$icon-message-add-2: "\ea3a";
$icon-message-add: "\ea3b";
$icon-message-ellipse: "\ea3c";
$icon-message-square-fill: "\ea3d";
$icon-message-square: "\ea3e";
$icon-mic-2: "\ea3f";
$icon-mic-fill: "\ea40";
$icon-mic-off-fill: "\ea41";
$icon-mic: "\ea42";
$icon-moon-fill: "\ea43";
$icon-more-vertical: "\ea44";
$icon-night-mode-1: "\ea45";
$icon-night-mode: "\ea46";
$icon-not-listening: "\ea47";
$icon-paper-plane: "\ea48";
$icon-pause-circle-fill: "\ea49";
$icon-pause-fill: "\ea4a";
$icon-people-fill: "\ea4b";
$icon-people: "\ea4c";
$icon-person-add-fill: "\ea4d";
$icon-person-add: "\ea4e";
$icon-person: "\ea4f";
$icon-phone-call: "\ea50";
$icon-phone-fill: "\ea51";
$icon-phone-missed: "\ea52";
$icon-phone-off: "\ea53";
$icon-phone: "\ea54";
$icon-pin: "\ea55";
$icon-play-circle-fill: "\ea56";
$icon-play-fill: "\ea57";
$icon-plus: "\ea58";
$icon-question-mark-circle: "\ea59";
$icon-radio-button-on-fill: "\ea5a";
$icon-reply: "\ea5b";
$icon-rewind-left-fill: "\ea5c";
$icon-rewind-right-fill: "\ea5d";
$icon-search: "\ea5e";
$icon-settings-2-fill: "\ea5f";
$icon-settings: "\ea60";
$icon-share-fill: "\ea61";
$icon-share: "\ea62";
$icon-skip-back-fill: "\ea63";
$icon-skip-forward-fill: "\ea64";
$icon-sort-by-alphabet: "\ea65";
$icon-sort-by-message: "\ea66";
$icon-sort-by-recent: "\ea67";
$icon-star: "\ea68";
$icon-status: "\ea69";
$icon-sync: "\ea6a";
$icon-text: "\ea6b";
$icon-trash-fill: "\ea6c";
$icon-trash02: "\ea6d";
$icon-trash03: "\ea6e";
$icon-unpin: "\ea6f";
$icon-unread: "\ea70";
$icon-volume-off-fill: "\ea71";
$icon-volume-off: "\ea72";
$icon-volume-up-fill: "\ea73";
$icon-volume-up: "\ea74";

