@font-face {font-family: "icon";
  src: url('icon.eot?t=1659124914473'); /* IE9*/
  src: url('icon.eot?t=1659124914473#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("icon.woff2?t=1659124914473") format("woff2"),
  url("icon.woff?t=1659124914473") format("woff"),
  url('icon.ttf?t=1659124914473') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('icon.svg?t=1659124914473#icon') format('svg'); /* iOS 4.1- */
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icon' !important;
  font-size: 16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-adminx:before { content: "\ea01"; }
.icon-alert-circle:before { content: "\ea02"; }
.icon-alert-triangle:before { content: "\ea03"; }
.icon-arrow-left:before { content: "\ea04"; }
.icon-at:before { content: "\ea05"; }
.icon-attach-2:before { content: "\ea06"; }
.icon-bell:before { content: "\ea07"; }
.icon-bookmark:before { content: "\ea08"; }
.icon-checkmark-circle-2:before { content: "\ea09"; }
.icon-chevron-up:before { content: "\ea0a"; }
.icon-close:before { content: "\ea0b"; }
.icon-copy:before { content: "\ea0c"; }
.icon-deafen:before { content: "\ea0d"; }
.icon-edit-2:before { content: "\ea0e"; }
.icon-edit:before { content: "\ea0f"; }
.icon-external-link:before { content: "\ea10"; }
.icon-eye-off:before { content: "\ea11"; }
.icon-eye:before { content: "\ea12"; }
.icon-folder:before { content: "\ea13"; }
.icon-hand:before { content: "\ea14"; }
.icon-link-2:before { content: "\ea15"; }
.icon-listen:before { content: "\ea16"; }
.icon-log-in:before { content: "\ea17"; }
.icon-log-out:before { content: "\ea18"; }
.icon-loudspeaker:before { content: "\ea19"; }
.icon-menu:before { content: "\ea1a"; }
.icon-message-add-2:before { content: "\ea1b"; }
.icon-message-add:before { content: "\ea1c"; }
.icon-message-square:before { content: "\ea1d"; }
.icon-mic-off:before { content: "\ea1e"; }
.icon-mic:before { content: "\ea1f"; }
.icon-more-vertical:before { content: "\ea20"; }
.icon-paper-plane:before { content: "\ea21"; }
.icon-people:before { content: "\ea22"; }
.icon-person-add:before { content: "\ea23"; }
.icon-person:before { content: "\ea24"; }
.icon-phone-call:before { content: "\ea25"; }
.icon-phone-missed:before { content: "\ea26"; }
.icon-phone-off:before { content: "\ea27"; }
.icon-phone:before { content: "\ea28"; }
.icon-pin:before { content: "\ea29"; }
.icon-plus:before { content: "\ea2a"; }
.icon-reply:before { content: "\ea2b"; }
.icon-search:before { content: "\ea2c"; }
.icon-settings:before { content: "\ea2d"; }
.icon-share:before { content: "\ea2e"; }
.icon-trash-2:before { content: "\ea2f"; }
.icon-trash:before { content: "\ea30"; }
.icon-trash02:before { content: "\ea31"; }
.icon-trash03:before { content: "\ea32"; }
.icon-unread:before { content: "\ea33"; }
.icon-volume-off:before { content: "\ea34"; }
.icon-volume-up:before { content: "\ea35"; }
