@using Stl.Extensibility
@inherits MarkupViewBase<ChatEntryTypeMarkup>
@attribute [MatchFor(typeof(ChatEntryTypeMarkup), typeof(IMarkupView))]
@{
    var cls = Markup.Type == ChatEntryType.Audio ? "icon-volume-up" : "icon-edit-2";
}
<span class="chat-entry-type-markup @cls"></span>
