@using Stl.Extensibility
@inherits MarkupPartViewBase
@attribute [MatchFor(typeof(FormattedTextPart), typeof(IMarkupPartView))]
@{
    var part = (FormattedTextPart)Part;
}

<span class="formatted-text-part-view whitespace-break-spaces">
    @if (part.Emphasis.HasFlag(Emphasis.Strong) && part.Emphasis.HasFlag(Emphasis.Em)) {
        <strong><em>@part.Text</em></strong>
    }
    else if (part.Emphasis.HasFlag(Emphasis.Strong)) {
        <strong>@part.Text</strong>
    }
    else if (part.Emphasis.HasFlag(Emphasis.Em)) {
        <em>@part.Text</em>
    } else {
        @part.Text
    }
</span>
