@using Stl.Extensibility
@inherits MarkupPartViewBase
@attribute [MatchFor(typeof(LinkPart), typeof(IMarkupPartView))]
@{
    var part = (LinkPart)Part;
}

<a class="link-part-view cursor-pointer no-underline hover:underline text-cyan-600"
   href="@part.Url" target="_blank">@part.Text</a>
