.chat-entry-kind-marker {
    @apply inline-block relative top-0.5 -bottom-0.5 mr-1;
}

.mention-markup {
    @apply inline-block align-middle;
    @apply my-[1px] px-1.5 pb-0.5;
    max-width: 12rem;
    @apply rounded-full bg-mention-other;
    @apply text-mention-other-text font-medium;
    @apply select-none cursor-pointer;
}
.mention-markup.mention-markup-own {
    @apply bg-mention-own text-mention-own-text;
}

.url-markup {
    @apply cursor-pointer no-underline hover:underline text-primary;
}

.plain-text-markup {
    word-break: break-word;
}

.playable-text-markup {
    @apply whitespace-break-spaces;
}
.playable-text-markup > span {
    @apply inline-block;
}
body.hoverable .playable-text-markup > span:hover {
}

.playable-text-markup .playing-start {
    border-radius: 6px 0 0 6px;
}
.playable-text-markup .playing-end {
    border-radius: 0 6px 6px 0;
}
.playable-text-markup .playing-start-end {
    border-radius: 6px;
}
.playable-text-markup .played-start {
    border-radius: 6px 0 0 0;
}
.playable-text-color-blue .playing {
    @apply bg-[var(--blue-50-20)];
}
.playable-text-color-blue .played {
    @apply bg-[var(--blue-80-20)];
}
.playable-text-color-green .playing {
    @apply bg-[var(--green-50-20)];
}
.playable-text-color-green .played {
    @apply bg-[var(--green-80-20)];
}
.playable-text-color-purple .playing {
    @apply bg-[var(--violet-50-20)];
}
.playable-text-color-purple .played {
    @apply bg-[var(--violet-80-20)];
}
.playable-text-color-yellow .playing {
    @apply bg-[var(--sienna-50-20)];
}
.playable-text-color-yellow .played {
    @apply bg-[var(--sienna-80-20)];
}

.preformatted-text-markup {
    @apply bg-02;
    @apply whitespace-pre-wrap;
    @apply text-sm;
}

.code-block-markup {
    @apply flex-y items-stretch overflow-hidden;
    @apply mr-2;
}
.code-block-markup code {
    @apply block;
    @apply p-1 px-1.5;
    @apply rounded-l border-0 border-l-4 bg-02;
    @apply overflow-y-hidden overflow-x-auto custom-scrollbar-x;
    @apply text-sm;
    /*@apply whitespace-pre-wrap;*/
}

.unknown-markup {
    @apply text-red-500;
}
