@using Stl.Extensibility
@using ChatAuthor = ActualChat.Chat.ChatAuthor
@inherits MarkupViewBase<Mention>
@attribute [MatchFor(typeof(Mention), typeof(IMarkupView))]

@if (ChatAuthor.IsValidId(Target)) {
    <ChatAuthorBadge AuthorId="@Target">
        @if (!context.Author.Id.IsEmpty) {
            <div class="inline-block px-1 bg-mention hover:bg-mention-hover cursor-pointer rounded-md"
                 @onclick="OnChatAuthorClick">
                @@@context.Author.Name
            </div>
        } else {
            <div class="inline-block px-1 bg-mention hover:bg-mention-hover rounded-md">@@@Target</div>
        }
    </ChatAuthorBadge>
}
else {
    <div class="inline-block px-1 bg-mention hover:bg-mention-hover rounded-md">@@@Target</div>
}

@code {
    [Inject] private ChatUI ChatUI { get; set; } = null!;
    private string Target => Markup.Target;

    private void OnChatAuthorClick()
        => ChatUI.ShowChatAuthorCard(Target);
}
