@using Stl.Extensibility
@using ChatAuthor = ActualChat.Chat.ChatAuthor
@inherits MarkupPartViewBase
@attribute [MatchFor(typeof(MentionPart), typeof(IMarkupPartView))]

@if (ChatAuthor.IsValidId(MentionId)) {
    <ChatAuthor AuthorId="@MentionId">
        @if (!context.Author.Id.IsEmpty) {
            <div class="inline-block pb-1 bg-button-success text-white hover:underline cursor-pointer"
                 @onclick="OnChatAuthorClick">
                @@@context.Author.Name
            </div>
        } else {
            <div class="inline-block pb-1 bg-button-error text-white">
                Unknown author (@MentionId)
            </div>
        }
    </ChatAuthor>
}
else {
    <div class="inline-block pb-1 bg-button-error text-white">
        Unknown mention (@MentionId)
    </div>
}

@code {
    [Inject] private ChatUI ChatUI { get; set; } = null!;
    private string MentionId => ((MentionPart) Part).MentionId;

    private void OnChatAuthorClick()
        => ChatUI.ShowChatAuthorCard(MentionId);
}
