@using Stl.Extensibility
@using ChatAuthor = ActualChat.Chat.ChatAuthor
@inherits MarkupPartViewBase
@attribute [MatchFor(typeof(MentionPart), typeof(IMarkupPartView))]

@if (ChatAuthor.IsValidId(MentionId)) {
    <ChatAuthor AuthorId="@MentionId">
        @if (!context.Author.Id.IsEmpty) {
            <div class="inline-block px-1 bg-mention hover:bg-mention-hover cursor-pointer rounded-md"
                 @onclick="OnChatAuthorClick">
                @@@context.Author.Name
            </div>
        } else {
            <div class="inline-block px-1 bg-mention hover:bg-mention-hover rounded-md">@@@MentionId</div>
        }
    </ChatAuthor>
}
else {
    <div class="inline-block px-1 bg-mention hover:bg-mention-hover rounded-md">@@@MentionId</div>
}

@code {
    [Inject] private ChatUI ChatUI { get; set; } = null!;
    private string MentionId => ((MentionPart) Part).MentionId;

    private void OnChatAuthorClick()
        => ChatUI.ShowChatAuthorCard(MentionId);
}
