@using Stl.Extensibility
@inherits MarkupViewBase<Mention>
@attribute [MatchFor(typeof(Mention), typeof(IMarkupView))]
@{
    var targetAsParsedAuthorId = new ParsedChatAuthorId(Target);
}

@if (targetAsParsedAuthorId.IsValid) {
    <ChatAuthorBadgeTemplate AuthorId="@Target">
        @if (!context.Author.Id.IsEmpty) {
            <div class="inline-block px-1 rounded-md bg-mention select-none cursor-pointer hover:bg-mention-hover"
                 @onclick="OnChatAuthorClick">
                @@@context.Author.Name
            </div>
        } else {
            <div class="inline-block px-1 rounded-md bg-mention">@@@Target</div>
        }
    </ChatAuthorBadgeTemplate>
}
else {
    <div class="inline-block px-1 rounded-md bg-mention">@@@Target</div>
}

@code {
    [Inject] private ChatUI ChatUI { get; init; } = null!;
    private string Target => Markup.Target;

    private void OnChatAuthorClick()
        => ChatUI.ShowChatAuthorModal(Target);
}
