@using Stl.Extensibility
@inherits MarkupViewBase<TextMarkup>
@attribute [MatchFor(typeof(PlainTextMarkup), typeof(IMarkupView))]
@attribute [MatchFor(typeof(UnparsedTextMarkup), typeof(IMarkupView))]

<span class="plain-text-markup break-words">@Markup.Text</span>
