@using Stl.Extensibility
@inherits MarkupViewBase<Markup>
@attribute [MatchFor(typeof(Markup), typeof(IMarkupView))]

<span class="unknown-markup">
    [<span class="fa fa-exclamation-triangle"></span> No view for '@(Markup.GetType().GetName())']
</span>
