@inherits LayoutComponentBase
@using ActualChat.UI.Blazor.Services
@using ActualChat.UI.Blazor.Module

<div class="base-layout">
    <div class="base-layout-body">
        <div class="c-layout-content">
            @if (!RenderModeSelector.IsPrerendering) {
                <ToastHost @key="@ToastHostKey"/>
            }
            <NoComponent @key="@BodyKey">
                <ErrorBarrier>@Body</ErrorBarrier>
            </NoComponent>
        </div>
    </div>
</div>

@code {
    private static readonly object BodyKey = new();
    private static readonly object ToastHostKey = new();

    [Inject] private RenderModeSelector RenderModeSelector { get; init; } = null!;
    [Inject] private IJSRuntime JS { get; init; } = null!;

    [CascadingParameter] public ScreenSize ScreenSize { get; set; }

    protected override async Task OnInitializedAsync() {
        if (BlazorModeHelper.IsBlazorServer && !RenderModeSelector.IsPrerendering)
            await JS.InvokeVoidAsync($"{BlazorUICoreModule.ImportName}.reloadOnDeviceAwake").ConfigureAwait(false);
    }
}
