@inherits LayoutComponentBase
@using ActualChat.UI.Blazor.Services
@using ActualChat.UI.Blazor.Module
@using ActualChat.Hosting

<div class="base-layout">
    <div class="base-layout-body">
        <div class="c-layout-content">
            @if (!RenderModeSelector.IsPrerendering) {
                <ToastHost @key="@ToastHostKey"/>
            }
            <NoComponent @key="@BodyKey">
                <ErrorBarrier Name="BaseLayout-Body">@Body</ErrorBarrier>
            </NoComponent>
        </div>
    </div>
</div>

@code {
    private static readonly object BodyKey = new();
    private static readonly object ToastHostKey = new();

    [Inject] private UIHub Hub { get; init; } = null!;
    private RenderModeSelector RenderModeSelector => Hub.RenderModeSelector;
    private IJSRuntime JS => Hub.JSRuntime();

    [CascadingParameter] public ScreenSize ScreenSize { get; set; }

    protected override async Task OnInitializedAsync() {
        if (Hub.HostInfo().HostKind.IsMauiApp())
            return;
        if (BlazorModeHelper.IsBlazorServer && !RenderModeSelector.IsPrerendering)
            await JS.InvokeVoidAsync($"{BlazorUICoreModule.ImportName}.reloadOnDeviceAwake").ConfigureAwait(false);
    }
}
