@inherits LayoutComponentBase
@layout BaseLayout

<PageWithHeaderAndFooter Class="chat-layout" BodyClass="pt-0">
    <Header><RenderSlot Name="MainHeader"/></Header>
    <SubHeader><RenderStack Name="SubHeader"/></SubHeader>
    <Footer><RenderSlot Name="MainFooter"/></Footer>
    <SubFooter><RenderStack Name="SubFooter"/></SubFooter>
    <Body>@Body</Body>
    <RightPanel><RenderSlot Name="MainRightPanel"/></RightPanel>
</PageWithHeaderAndFooter>
