@inherits LayoutComponentBase
@layout BaseLayout

<PageWithHeaderAndFooter Class="chat-page" BodyClass="pt-3">
    <Header>
        <RenderSlot Name="MainHeader"/>
    </Header>
    <Footer>
        <RenderSlot Name="MainFooter"/>
    </Footer>
    <Body>
        @Body
    </Body>
</PageWithHeaderAndFooter>
