@inherits LayoutComponentBase
@layout BaseLayout

<PageWithHeaderAndFooter @key="@Key" Class="default-layout">
    <LeftDrawer><RenderSlot Name="MainLeftDrawer"/></LeftDrawer>
    <Header><RenderSlot Name="MainHeader"/></Header>
    <SubHeader><RenderStack Name="SubHeader"/></SubHeader>
    <Footer><RenderSlot Name="MainFooter"/></Footer>
    <SubFooter><RenderStack Name="SubFooter"/></SubFooter>
    <Body>@Body</Body>
    <RightDrawer><RenderSlot Name="MainRightDrawer"/></RightDrawer>
</PageWithHeaderAndFooter>

@code {
    private static readonly object Key = new();
}
