@inherits LayoutComponentBase
@implements IDisposable
@inject NavigationManager _navigator
@inject UICommandFailureList _commandFailureList

@{
    var failures = _commandFailureList.Items;
    var version = "v" + (GetType().Assembly.GetInformationalVersion() ?? "n/a").Replace('+', ' ');
}
<NavbarIcon />
<div class="flex-1 flex flex-row justify-items-stretch h-full max-h-full overflow-y-hidden relative bg-primary">
    <input id="navbar-toggle" class="hidden" type="checkbox" />
    <nav id="navbar-links" class="bg-primary text-primary z-50 absolute top-0 left-0 h-full md:static flex flex-col justify-between transform -translate-x-full md:translate-x-0 w-full md:w-64 lg:w-80 transition-all duration-200 ease-in-out p-2">
        <div class="flex-1 flex flex-col overflow-y-auto mb-1">
            <div class="hidden md:flex flex-row flex-nowrap justify-center">
                <NavbarLogo />
            </div>
            <div class="md:hidden flex flex-row h-6 py-1">
                <NavbarIcon/>
            </div>
            <div class="flex-1 flex flex-col overflow-y-auto px-2 py-2 custom-scrollbar">
                <NavbarLinks />
            </div>
        </div>
        @* Bottom sticky panel *@
        <div class="flex flex-col sticky items-stretch mx-2">
            <div class="text-xxs text-primary-muted w-auto h-auto block mt-2 border-t border-accent">
                <span><b class="text-primary font-medium border-b border-accent">@version</b></span>
            </div>
            <div class="flex-col text-xxs text-primary-muted w-auto h-auto block mb-2 border-b border-accent">
                <div>
                    <BlazorModeToggle/>
                </div>
                <div>
                    <MediaRecorderToggle/>
                </div>
            </div>
            <div class="bg-primary flex flex-row justify-between items-center w-full">
                <AccountDropdown />
            </div>
        </div>
    </nav>
    <div class="flex-1 overflow-y-auto flex flex-col relative float-left">
        <div class="bg-secondary flex-1 overflow-y-auto">
            @if (failures.Count != 0) {
                <div class="flex flex-col absolute z-50 right-0 mr-2 mt-12 md:mt-2 w-4/5 md:w-1/4 overflow-y-auto">
                    @foreach (var failure in failures) {
                        <WhenCommandError
                            Error="failure.Result?.Error"
                            Dismissed="@(_ => _commandFailureList.Remove(failure.CommandId))"/>
                    }
                </div>
            }
            @Body
        </div>
    </div>
</div>

@code {
    protected override void OnInitialized() {
        _navigator.LocationChanged += OnLocationChanged;
        _commandFailureList.Changed += OnCommandFailureListChanged;
    }

    public void Dispose() {
        _navigator.LocationChanged -= OnLocationChanged;
        _commandFailureList.Changed -= OnCommandFailureListChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
        => _commandFailureList.Clear();

    private void OnCommandFailureListChanged()
        => InvokeAsync(StateHasChanged);
}
