@inherits LayoutComponentBase
@layout BaseLayout

<PageWithHeaderAndFooter BodyClass="p-3">
    <MainContextMenu>
        <RenderSlot Name="MainContextMenu"/>
    </MainContextMenu>
    <Header>
        <RenderSlot Name="MainHeader"/>
    </Header>
    <Footer>
        <RenderSlot Name="MainFooter"/>
    </Footer>
    <Body>
    @Body
    </Body>
</PageWithHeaderAndFooter>
