@inherits LayoutComponentBase
@layout BaseLayout

<PageWithHeaderAndFooter BodyClass="text-03 m-4 no-chat-layout">
    <Header><RenderSlot Name="MainHeader"/></Header>
    <SubHeader><RenderStack Name="SubHeader"/></SubHeader>
    <Footer><RenderSlot Name="MainFooter"/></Footer>
    <SubFooter><RenderStack Name="SubFooter"/></SubFooter>
    <Body>@Body</Body>
</PageWithHeaderAndFooter>
