@inherits LayoutComponentBase
@layout MainLayout

@{
    var cssClass = RouteData.PageType.Name.TrimSuffix("Page").ToLowerInvariant() + "-page";
}
<div class="@cssClass h-full w-full flex flex-col flex-nowrap justify-between overflow-y-auto">
    <div class="flex flex-row justify-between mt-0 font-medium bg-primary md:bg-secondary text-primary p-3 select-none border-b border-accent">
        <PageLayoutHeader/>
    </div>
    <div class="chat-content">
        @Body
    </div>
    <div class="chat-footer">
        <PageLayoutFooter/>
    </div>
</div>

@code {
    [CascadingParameter] RouteData RouteData { get; set; } = null!;
}
