@namespace ActualChat.Chat.UI.Blazor.Components
@using ActualChat.Contacts
@using ActualChat.Kvas
@inherits ComputedStateComponent<bool>

<Banner
    Class="add-members-banner"
    IsVisible="@State.Value"
    ShowDismissButton="true"
    Dismiss="OnDismiss">
    <Icon>@* Intentionally empty *@</Icon>
    <Body>
        <Button Class="btn-transparent" Click="OnInviteClick">
            <i class="text-2xl icon-person-add"></i>
            Add members
        </Button>
    </Body>
</Banner>

@code {
    private IStoredState<bool> _dismissed = null!;
    private ILogger? _log;

    private Session Session => ChatContext.Session;
    private Chat Chat => ChatContext.Chat;
    private IRoles Roles => ChatContext.Roles;
    private IAuthors Authors => ChatContext.Authors;
    private AccountSettings AccountSettings => ChatContext.AccountSettings;
    private ChatListUI ChatListUI => ChatContext.ChatListUI;
    private ModalUI ModalUI => ChatContext.ModalUI;
    private ILogger Log => _log ??= Services.LogFor(GetType());

    [Parameter, EditorRequired] public ChatContext ChatContext { get; set; } = null!;

    protected override void OnInitialized() {
        var chatId = Chat.Id;
        var key = $"AddChatMembersBanner_Dismissed_{chatId.Value}";
        _dismissed = StateFactory.NewKvasStored<bool>(new(AccountSettings, key));
        base.OnInitialized();
    }

    protected override ComputedState<bool>.Options GetStateOptions()
        => new() {
            InitialValue = false,
            UpdateDelayer = FixedDelayer.Instant,
            Category = GetStateCategory(),
        };

    protected override async Task<bool> ComputeState(CancellationToken cancellationToken) {
        if (!_dismissed.WhenRead.IsCompleted)
            await _dismissed.WhenRead;
        if (Chat.Id.IsPeerChat(out _))
            return false;
        if (!Chat.Rules.CanInvite())
            return false;
        if (Chat.HasSingleAuthor)
            return false;
        var dismissed = await _dismissed.Use(cancellationToken);
        if (dismissed)
            return false;
        var allAuthorIds = await Authors.ListAuthorIds(Session, Chat.Id, cancellationToken);
        var ownerIds = await Roles.ListOwnerIds(Session, Chat.Id, cancellationToken);
        var hasRegularMembers = allAuthorIds.Except(ownerIds).Any();
        if (hasRegularMembers)
            return false;
        var peopleContacts = await ChatListUI.ListAllUnordered(ChatListFilter.People, cancellationToken);
        return peopleContacts.Count > 0;
    }

    // Event handlers

    private void OnDismiss()
        => _dismissed.Value = true;

    private void OnInviteClick()
        => ModalUI.Show(new AddMemberModal.Model(Chat.Id));
}
