@namespace ActualChat.Chat.UI.Blazor.Components
@using ActualChat.Kvas
@using ActualChat.Contacts.UI.Blazor.Services
@using ActualChat.Hosting
@using ActualChat.Permissions
@inherits ComputedStateComponent<ContactsPermissionBanner.Model>
@{
    var m = State.Value;
    if (ReferenceEquals(m, Model.Loading))
        return;

    var isVisible = m is { IsPermissionGranted: false or null, IsDismissed: false };
}

@if (isVisible) {
    <RenderIntoSlot Name="PermissionBanner">
        <Banner
            @key="GetType()"
            IsVisible="@isVisible"
            Severity="BannerSeverity.Info"
            ShowDismissButton="true"
            Dismiss="OnDismiss">
            <Body>
                Actual Chat can import your <strong>contacts</strong> to find them here
            </Body>
            <Buttons>
                <Button
                    Class="btn-transparent on"
                    Click="@OnConfigureClick">Configure</Button>
            </Buttons>
        </Banner>
    </RenderIntoSlot>
}

@code {
    private IStoredState<Moment> _dismissedAt = null!;

    [Inject] private HostInfo HostInfo { get; init; } = null!;
    [Inject] private DeviceContacts DeviceContacts { get; init; } = null!;
    [Inject] private ContactsPermissionHandler ContactsPermission { get; init; } = null!;
    [Inject] private LocalSettings LocalSettings { get; init; } = null!;
    [Inject] private MomentClockSet Clocks { get; init; } = null!;
    [Inject] private ILogger<ContactsPermissionBanner> Log { get; init; } = null!;

    protected override void OnInitialized() {
        _dismissedAt = StateFactory.NewKvasStored<Moment>(new(LocalSettings, "Permissions.Contacts.DismissedAt"));
        base.OnInitialized();
    }

    protected override async Task OnInitializedAsync()
        => await ContactsPermission.Check(CancellationToken.None);

    protected override ComputedState<Model>.Options GetStateOptions()
        => new() {
            InitialValue = Model.Loading,
            UpdateDelayer = FixedDelayer.Instant,
            Category = GetStateCategory(),
        };

    protected override async Task<Model> ComputeState(CancellationToken cancellationToken) {
        if (!_dismissedAt.WhenRead.IsCompleted)
            await _dismissedAt.WhenRead;

        var permissionState = await ContactsPermission.Cached.Use(cancellationToken);
        // NOTE(AY): I intentionally don't use IFusionTime here - prob. fine to don't show it back on timer
        var dismissedAt = await _dismissedAt.Use(cancellationToken);
        var dismissPeriod = Clocks.SystemClock.Now - dismissedAt;
        var isDismissed = dismissPeriod < Constants.Contacts.PermissionRequestDismissPeriod;
        return new(permissionState, isDismissed);
    }

    // Event handlers

    private void OnDismiss()
        => _dismissedAt.Value = Clocks.SystemClock.Now;

    private Task OnConfigureClick(MouseEventArgs e)
        => ContactsPermission.CheckOrRequest().AsTask();

    // Nested types

    public sealed record Model(
        bool? IsPermissionGranted,
        bool IsDismissed
    ) {
        public static readonly Model Loading = new(null, true);
    }
}
