@namespace ActualChat.UI.Blazor.App.Components
@inherits MenuBase

@if (_entry != null) {
    <div class="reaction-select-menu">
        <ReactionSelect Entry="@_entry" />
    </div>
}

@code {
    private ChatEntry? _entry;

    [Inject] private IChats Chats { get; init; } = null!;
    [Inject] private Session Session { get; init; } = null!;

    protected override async Task OnParametersSetAsync() {
        if (Arguments is not [ var sEntryId ])
            throw new ArgumentOutOfRangeException(nameof(Arguments));

        var entryId = new TextEntryId(sEntryId);
        _entry = await Chats.GetEntry(Session, entryId);
    }
}
