.virtual-list {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    overflow-y: auto;
}

.virtual-list .content {
}

.virtual-list .content .measured {
    visibility: hidden;
    height: 1px;
    overflow-y: hidden;
}

.virtual-list .content .shown {
}

.virtual-list .content .shown .spacer {
}

.virtual-list .content .item {
}
