.virtual-list {
    overflow-y: auto;
    background: url("https://fakeimg.pl/100x100/?text=Loading...") repeat;
}

.virtual-list .content {
}

.virtual-list .items {
    display: flex;
    flex-direction: column;
    align-content: stretch;
}

.virtual-list .items-measured {
    visibility: hidden;
    height: 0;
    overflow-y: hidden;
}

.virtual-list .items-shown {
    background: white;
}

.virtual-list .item {
}

.virtual-list .spacer-end {
    height: 500px;
}
