@namespace ActualChat.Chat.UI.Blazor.Components
@inherits MenuBase

<ul>
    @foreach (var authorId in _firstAuthorIds) {
        <li class="reaction-authors-menu-item">
            <AuthorBadge AuthorId="@authorId" Size="SquareSize.Size5"/>
            <EmojiIcon Code="@_emoji" class="reaction-authors-menu-item-emoji"/>
        </li>
    }
</ul>

@code {
    private ImmutableList<Symbol> _firstAuthorIds = ImmutableList<Symbol>.Empty;
    private string _emoji = "";
    [Inject] private IReactions Reactions { get; init; } = null!;
    [Inject] private Session Session { get; init; } = null!;

    protected override async Task OnParametersSetAsync() {
        if (Arguments is {Length: 2}) {
            var chatEntryId = Arguments[0];
            _emoji = Arguments[1];
            var summaries = await Reactions.ListSummaries(Session, chatEntryId, CancellationToken.None).ConfigureAwait(false);
            var summary = summaries.FirstOrDefault(x => x.Emoji == _emoji);
            if (summary == null)
                return;

            _firstAuthorIds = summary.FirstAuthorIds;
        }
    }
}
