@namespace ActualChat.UI.Blazor.Components

<div class="tile-item">
    <div class="tile-item-icon">
        @Icon
    </div>
    <div class="tile-item-content">
        @ChildContent
    </div>
    <div class="tile-item-ending">
        @AdvancedContent
    </div>
</div>

@code {
    [Parameter] public RenderFragment? Icon { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public RenderFragment? AdvancedContent { get; set; }
}
