@namespace ActualChat.UI.Blazor.Components
@{
    var link = new LocalUrl(Link).ToDisplayUrl(UrlMapper);
}

<TileItem IsHoverable="IsHoverable"
          @attributes="@AdditionalAttributes">
    <Icon>
        <i class="icon-link-2 text-xl"></i>
    </Icon>
    <Content>
        <div class="flex-x justify-start items-center gap-x-1">
            <div class="flex-none">
                <a class="text-02">@link.ShortAbsoluteUrl</a>
            </div>
        </div>
    </Content>
    <Caption>@Caption</Caption>
    <Right>
        <CopyToClipboard
            ButtonClass="btn-sm transparent tile-hidden-btn"
            Text="@link.AbsoluteUrl"/>
    </Right>
</TileItem>

@code {
    [Inject] private UrlMapper UrlMapper { get; init; } = null!;

    [Parameter, EditorRequired] public string Link { get; set; } = "";
    [Parameter] public string Caption { get; set; } = "";
    [Parameter] public bool IsHoverable { get; set; } = true;
    [Parameter(CaptureUnmatchedValues = true)]
    public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }
}
