@using ActualChat.UI.Blazor.Services
@namespace ActualChat.UI.Blazor.Components

<HeaderButton Click="ArrowClick" Class="md:hidden">
    <i class="icon-arrow-left"></i>
</HeaderButton>
<div class="c-title">
    @Title
</div>

@code {
    [Parameter] public string Title { get; set; } = "";
    [Parameter] public EventCallback ArrowClick { get; set; }
}
