@using ActualChat.UI.Blazor.Services
@namespace ActualChat.UI.Blazor.Components

<div class="settings-header-title">
    <button onclick="@OnArrowClick" class="md:hidden w-8 h-8">
        <i class="icon-arrow-left text-2xl text-icons-01"></i>
    </button>
    <span>@Title</span>
</div>

@code {
    [Parameter] public string Title { get; set; } = "";
    [Parameter] public EventCallback OnArrowClick { get; set; }
}
