@namespace ActualChat.UI.Blazor.Components

@{
    var unselectedCls = IsHoverable ? "" : "unselected";
}
<div class="tile-item @unselectedCls group @Class"
     @attributes="@AdditionalAttributes">
    <div class="tile-item-icon">
        @Icon
    </div>
    <div class="tile-item-body">
        <div class="tile-item-body-content">
            @Content
        </div>
        @if (Caption != null) {
            <div class="tile-item-body-caption">
                @Caption
            </div>
        }
    </div>
    <div class="tile-item-right">
        @Right
    </div>
</div>

@code {
    [Parameter] public RenderFragment? Icon { get; set; }
    [Parameter] public RenderFragment? Right { get; set; }
    [Parameter] public RenderFragment? Content { get; set; }
    [Parameter] public RenderFragment? Caption { get; set; }
    [Parameter] public bool IsHoverable { get; set; } = true;
    [Parameter] public string Class { get; set; } = "";
    [Parameter(CaptureUnmatchedValues = true)]
    public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }
}
