@namespace ActualChat.UI.Blazor.Components

<div class="tile @Class" @onclick="@Click">
    @ChildContent
</div>

@code {
    [Parameter] public string Class { get; set; } = "";
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public EventCallback Click { get; set; }
}
