/* Gradient circle */

.background {
    @apply absolute top-0;
    @apply flex;
    @apply h-full w-full;
    @apply backdrop-blur-sm;
    background: rgba(255, 255, 255, 0.2);
}
body.narrow .background {
    background: rgba(255, 255, 255, 0.3);
}
.image-background {
    @apply absolute top-0 z-10;
    @apply flex items-center justify-center;
    @apply h-full w-full;
    @apply overflow-hidden;
}
.image-background .c-circle {
    @apply flex-y items-center justify-center gap-y-2;
    @apply w-88 h-88 md:w-96 md:h-96;
    @apply rounded-full;
    @apply md:backdrop-blur-sm;
    @apply bg-01;
    @apply text-2xl font-semibold text-03;
}
.image-background .after-circle {
    @apply absolute z-minus;
    @apply w-88 h-88 md:w-96 md:h-96;
    @apply rounded-full;
    @apply blur;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 0 50px 50px rgba(255, 255, 255, 1);
}
.c-circle .c-text {
    @apply text-03;
    @apply animate-pulse-70;
}
.c-circle img {
    @apply animate-pulse-70;
}

/* Loading screen (until-ui-is-ready) */

.until-ui-is-ready .background {
    background: rgba(255, 255, 255, 0.1);
}
body.app-maui .until-ui-is-ready .background {
    background: #0036a3;
}

.until-ui-is-ready .gradient-circle {
    @apply absolute z-minus;
    @apply w-48 h-48 md:w-96 md:h-96;
    @apply bg-gradient-to-b from-[#0036A3] to-[#9B0C80];
}
.until-ui-is-ready .after-circle {
    @apply w-36 h-36 md:w-72 md:h-72;
    @apply rounded-5xl;
    @apply bg-transparent;
    box-shadow: 0 0 0 100vw #fff;
    @apply blur-none;
    animation: rotate 5s infinite;
}
.until-ui-is-ready .c-circle {
    @apply w-36 h-36 md:w-64 md:h-64;
    @apply rounded-5xl;
    @apply bg-transparent;
    @apply backdrop-blur-none;
}
.until-ui-is-ready .c-circle .c-text {
    @apply animate-none;
}
.until-ui-is-ready .c-circle img {
    @apply animate-none;
}

.until-ui-is-ready .c-circle:before {
    @apply absolute top-0 left-0;
    @apply w-full;
    @apply opacity-50;
    @apply blur-sm;
    @apply animate-shine;
    content: '';
    height: 200%;
    background: linear-gradient(to left, transparent 0%, #fff 40%, #fff 60%, transparent 100%);
    transform: translate(-100%, -25%) rotate(10deg);
}

@keyframes rotate {
    0% { transform: rotate(0deg); }
    20% { transform: rotate(90deg); }
    25% { transform: rotate(90deg); }
    45% { transform: rotate(180deg); }
    50% { transform: rotate(180deg); }
    70% { transform: rotate(270deg); }
    75% { transform: rotate(270deg); }
    100% { transform: rotate(360deg); }
}
