.background {
    @apply absolute top-0;
    @apply flex;
    @apply h-full w-full;
    @apply backdrop-blur-sm;
    background: rgba(0, 0, 0, 0.5);
}
body.narrow .background {
    background: rgba(0, 0, 0, 0.8);
}
.image-background {
    @apply absolute top-0 z-10;
    @apply flex items-center justify-center;
    @apply h-full w-full;
    @apply overflow-hidden;
}
.image-background .c-circle {
    @apply flex items-center justify-center;
    @apply w-88 h-88;
    @apply rounded-full;
    @apply md:backdrop-blur-sm;
}
.image-background .after-circle {
    @apply absolute z-minus;
    @apply w-88 h-88;
    @apply rounded-full;
    @apply blur;
    @apply animate-scaling-5;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 30px 30px rgba(0, 0, 0, 0.6);
}
body.narrow .image-background .after-circle {
    @apply hidden;
}
body.narrow .image-background .c-circle img {
    @apply animate-pulse;
}
