@namespace ActualChat.UI.Blazor.Components

<div class="background"></div>
<div class="image-background">
    <div class="after-circle"></div>
    <div class="c-circle">
        <img src="/dist/images/loading-cat.svg" alt="loading">
        <span class="c-text">Connecting...</span>
    </div>
</div>
