@namespace ActualChat.Chat.UI.Blazor.Components
@using ActualChat.Audio.UI.Blazor.Components

<div class="recorder-panel">
    <div class="playback-toggle desktop-button">
        <ChatPlaybackToggle ChatId="@Chat.Id"/>
    </div>
    <div class="recorder-button desktop-button flex">
        <ChatRecorderToggle ChatId="@Chat.Id"/>
    </div>
    <div class="language-button desktop-button flex">
        <ChatLanguageToggle/>
    </div>
</div>

@code {
    [CascadingParameter] public Chat Chat { get; set; } = null!;
}
