@namespace ActualChat.Chat.UI.Blazor.Components
@using ActualChat.Audio.UI.Blazor.Components

<div class="recorder-panel">
    <div class="playback-toggle">
        <ChatPlaybackToggle/>
    </div>
    <div class="recorder-buttons -flex-x">
        <div class="recorder-button flex">
            <ChatRecorderToggle ChatId="@Chat.Id"/>
        </div>
        <div class="language-button flex hidden">
            <ChatLanguageToggle/>
        </div>
    </div>
</div>

@code {
    [CascadingParameter] public Chat Chat { get; set; } = null!;
}
