<div class="creation-buttons">
    <CreationButton Title="New Chat">
        <Icon>
            <i class="icon-people text-xl"></i>
        </Icon>
    </CreationButton>
    <CreationButton Title="New Place">
        <Icon>
            <i class="icon-plus text-xl"></i>
        </Icon>
    </CreationButton>
    <CreationButton Title="New Friend">
        <Icon>
            <i class="icon-person-add text-xl"></i>
        </Icon>
    </CreationButton>
</div>
