<div class="discover-center">

    @for (var i = 0; i < 5; i++) {
        <div class="chat-message group">
            <div class="c-author-badge">
                <div class="c-circle"></div>
            </div>
            <div class="c-content">
                <div class="c-author-header">
                    <div class="chat-message-author-name">
                        Peter Falk
                    </div>
                    <div class="chat-message-timestamp">
                        Today at 11:44
                    </div>
                </div>
                <div class="message-content">
                    <p class="chat-message-markup">
                        The slings and arrows of outrageous fortune, or to take arms against a sea of troubles.
                        And by opposing end them? To die: to sleep; No more; and by a sleep to say we end.
                        The heart-ache and the thousand natural shocks
                    </p>
                </div>
                <div class="message-info">
                    <div class="c-reactions">
                        <div class="c-reaction">
                            <img src="/dist/images/emoji-thumbs-up.svg" alt="emoji-thumbs-up"/>
                            <span class="reaction-text">5</span>
                        </div>
                        <div class="c-reaction">
                            <i class="icon-message-ellipse text-lg"></i>
                            <span class="reaction-text">4</span>
                        </div>
                        <div class="c-reaction">
                            <i class="icon-share text-lg"></i>
                            <span class="reaction-text">3</span>
                        </div>
                    </div>
                    <div class="c-views">
                        <i class="icon-eye text-lg"></i>
                        <span class="reaction-text">2</span>
                    </div>
                </div>
            </div>
        </div>
        <Separator/>
    }

</div>
