<div class="c-wide">
    <DiscoverLeftPanelHeader/>

    <div class="c-content">
        <CreationButtons/>

        <Button Class="btn-primary btn-w-full start-tour-btn">
            Start the application tour
        </Button>

        <DiscoverNavbar/>

        <TopChats/>

        <TopPlaces/>
    </div>
</div>
