<div class="top-container @Class">
    <div class="c-header">
        <div class="c-title">
            @Title
        </div>
        <Button Class="show-more-btn btn-transparent unhovered btn-sm">
            Show more
        </Button>
    </div>
    <div class="c-content">
        @ChildContent
    </div>
</div>

@code {
    [Parameter] public string Title { get; set; } = "";
    [Parameter] public string Class { get; set; } = "";
    [Parameter] public RenderFragment? ChildContent { get; set; }
}
