@page "/test-list"
@page "/test-list/{IsReversed:bool}"
@using ActualChat.Comparison
@inject ILogger<TestListPage> _log
@inject TestListService _listService

<h1>VirtualList Test Page</h1>

<VirtualList style="height: 600px;"
             IsReversed="@IsReversed"
             SpacerSize="1000"
             LoadZoneSize="200" BufferZoneSize="400"
             DataSource="GetVirtualListItems" KeyComparer="LongAsStringKeyComparer.Default">
    <Item>
        <TestListItemBadge Key="@context.Key" />
    </Item>
    <Skeleton>
        <div>
            Skeleton @(context)...
        </div>
    </Skeleton>
</VirtualList>

@code {
    [Parameter]
    public bool IsReversed { get; set; } = false;

    private Task<VirtualListData<string>> GetVirtualListItems(VirtualListDataQuery query, CancellationToken cancellationToken)
        => _listService.GetItemKeys(query, cancellationToken);
}
