@page "/test-list"
@using ActualChat.Comparison
@inject ILogger<TestListPage> _log
@inject TestListService _listService

<h1>VirtualList Test Page</h1>

<VirtualList style="height: 600px;"
             SpacerSize="6000"
             LoadZoneSize="200" BufferZoneSize="400"
             DataSource="GetVirtualListItems" KeyComparer="LongAsStringKeyComparer.Default">
    <Item>
        <TestListItemBadge Key="@context.Key" />
    </Item>
    <Skeleton>
        <div>
            Skeleton...
        </div>
    </Skeleton>
</VirtualList>

@code {
    private Task<VirtualListData<string>> GetVirtualListItems(VirtualListDataQuery query, CancellationToken cancellationToken)
        => _listService.GetItemKeys(query, cancellationToken);
}
