@page "/test/virtual-list"
@using ActualChat.Comparison
@inject ILogger<TestListPage> _log
@inject TestListService _listService

<h1>VirtualList Test Page</h1>

<VirtualList style="height: 600px;"
             PreferredTrackingEdge="@(IsEndAligned ? VirtualListEdge.End : VirtualListEdge.Start)"
             SpacerSize="1000"
             LoadZoneSize="200" BufferZoneSize="400"
             DataSource="GetVirtualListItems" KeyComparer="LongAsStringKeyComparer.Default">
    <Item>
        <TestListItemBadge ItemRef="@context.Value" />
    </Item>
    <Skeleton>
        <div>
            Skeleton @(context)...
        </div>
    </Skeleton>
</VirtualList>

@code {
    [Parameter, SupplyParameterFromQuery]
    public bool IsEndAligned { get; set; } = false;
    [Parameter, SupplyParameterFromQuery]
    public int? RangeSeed { get; set; } = null;
    [Parameter, SupplyParameterFromQuery]
    public int? ContentSeed { get; set; } = null;

    private Task<VirtualListData<TestListItemRef>> GetVirtualListItems(
        VirtualListDataQuery query,
        CancellationToken cancellationToken)
        => _listService.GetItemKeys(query, RangeSeed, ContentSeed, IsEndAligned, cancellationToken);
}
