@inherits ComputedStateComponent<TestListItem>
@inject TestListService _listService

@{
    var item = State.ValueOrDefault ?? new(0, "Loading...");
}

<div style="font-size: @(item.FontSize)em">
    <div style="font-weight: bold">@item.Title</div>
    <div>@item.Description</div>
</div>

@code {
    [Parameter] public string Key { get; set; } = "";

    protected override Task<TestListItem> ComputeState(CancellationToken cancellationToken)
        => _listService.GetItem(Key, cancellationToken);

}
