@page "/test/virtual-list"
@using ActualChat.Comparison
@implements IVirtualListDataSource<TestListItemRef>
@inject VirtualListTestService Service
@inject ILogger<VirtualListTestPage> Log

<RequireAccount MustBeAdmin="true"/>
<MainHeader>VirtualList Test Page</MainHeader>

<VirtualList
    Style="height: 600px;"
    SpacerSize="10_000"
    SkeletonCount="2"
    DataSource="this" KeyComparer="LongAsStringKeyComparer.Default">
    <Item>
        <TestListItemBadge ItemRef="@context" />
    </Item>
    <Skeleton>
        <div>
            Skeleton @(context)...
        </div>
    </Skeleton>
</VirtualList>

<div class="m-3 pl-4">
    <p>URL parameters:</p>
    <ul class="list-disc">
        <li><b>RangeSeed:</b> @RangeSeed</li>
        <li><b>ContentSeed:</b> @ContentSeed</li>
    </ul>

</div>

@code {
    [Parameter, SupplyParameterFromQuery]
    public int? RangeSeed { get; set; } = null;
    [Parameter, SupplyParameterFromQuery]
    public int? ContentSeed { get; set; } = null;

    public Task<VirtualListData<TestListItemRef>> GetData(
        ComputedState<VirtualListData<TestListItemRef>> state,
        VirtualListDataQuery query,
        VirtualListData<TestListItemRef> renderedData,
        CancellationToken cancellationToken)
        => Service.GetItemKeys(query, RangeSeed, ContentSeed, cancellationToken);
}
