@page "/about"

<div class="jumbotron">
    <h1 class="display-4">
        <a href="https://github.com/Actual-Chat/actual-chat" target="_blank">Actual Chat: chat actually</a>
    </h1>

    <p>Useful links:</p>
    <ul>
        <li><a href="/swagger" target="_blank">Swagger API browser</a></li>
    </ul>

    <hr class="my-4">
    <p class="lead">Please share your feedback once you're done playing with it!</p>
    <p class="lead">
        <Button Type="@ButtonType.Link" Color="Color.Primary" Size="Size.Large"
                To="https://forms.gle/TpGkmTZttukhDMRB6"
                Target="Target.Blank">
            Share your feedback
        </Button>
    </p>
</div>
