@namespace ActualChat.UI.Blazor.Components

<ModalFrame Class="@Class" Title="@Title" HasHeader="HasHeader" HasCloseButton="HasCloseButton">
    <div class="dialog-body">
        @Body
    </div>
    <div class="dialog-buttons">
        @Buttons
    </div>
</ModalFrame>

@code {
    [Parameter] public string Class { get; set; } = "";
    [Parameter] public bool HasHeader { get; set; } = true;
    [Parameter] public bool HasCloseButton { get; set; } = true;
    [Parameter] public string Title { get; set; } = "";
    [Parameter] public RenderFragment? Body { get; set; }
    [Parameter] public RenderFragment? Buttons { get; set; }
}
