@namespace ActualChat.UI.Blazor.Components

<ModalFrame Class="@Class" Title="@Title" HasHeader="HasHeader" HasCloseButton="HasCloseButton">
    <div class="flex-y grow p-5">
        <div class="modal-body grow">
            @Body
        </div>
        <div class="flex-x justify-end gap-x-2 pt-4 min-h-24 md:min-h-0">
            @Buttons
        </div>
    </div>
</ModalFrame>

@code {
    [Parameter] public string Class { get; set; } = "";
    [Parameter] public bool HasHeader { get; set; } = true;
    [Parameter] public bool HasCloseButton { get; set; }
    [Parameter] public string Title { get; set; } = "";
    [Parameter] public RenderFragment? Body { get; set; }
    [Parameter] public RenderFragment? Buttons { get; set; }
}
