@namespace ActualChat.UI.Blazor.Components

<div class="modal-header-interactive no-padding-header-decorator">
    <HeaderButton Click="CloseClick">
        @if (IsMultiStep) {
            <i class="icon-arrow-left"></i>
        } else {
            <i class="icon-close"></i>
        }
    </HeaderButton>
    <div class="modal-title">
        @Title
    </div>
    @if (!IsMultiStep && (SubmitClick.HasDelegate || SubmitButtonType != ButtonType.Button)) {
        <HeaderButton Class="btn-submit" Type="SubmitButtonType" IsDisabled="@(!CanSubmit)" Click="SubmitClick">
            <span>@SubmitButtonText</span>
        </HeaderButton>
    }
</div>

@code {
    [Parameter] public string Title { set; get; } = "";
    [Parameter] public bool IsMultiStep { get; set; }
    [Parameter] public string SubmitButtonText { set; get; } = "";
    [Parameter] public ButtonType SubmitButtonType { set; get; } = ButtonType.Button;
    [Parameter] public bool CanSubmit { set; get; } = true;
    [Parameter] public EventCallback SubmitClick { set; get; }
    [Parameter] public EventCallback CloseClick { set; get; }
}
