@using ActualChat.UI.Blazor.Services
@namespace ActualChat.UI.Blazor.Components
@implements IAsyncDisposable

<div>
    <ModalFrame Class="@Class" Title="@Title" HasHeader="HasHeader" HasCloseButton="HasCloseButton">
        <div class="dialog-body">
            @Body
        </div>
        <div class="dialog-buttons">
            @Buttons
        </div>
    </ModalFrame>
</div>

@code {
    [Inject] private Escapist Escapist { get; init; } = null!;

    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; } = null!;

    [Parameter] public string Class { get; set; } = "";
    [Parameter] public bool HasHeader { get; set; } = true;
    [Parameter] public bool HasCloseButton { get; set; } = true;
    [Parameter] public string Title { get; set; } = "";
    [Parameter] public RenderFragment? Body { get; set; }
    [Parameter] public RenderFragment? Buttons { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            await Escapist.ConnectAsync();
            Escapist.Escape += OnEscape;
        }
    }

    public async ValueTask DisposeAsync() {
        Escapist.Escape -= OnEscape;
        await Escapist.DisposeAsync().ConfigureAwait(true);
    }

    private void OnEscape() => ModalInstance.CancelAsync();
}
