@namespace ActualChat.UI.Blazor.Components

<div class="@Class">
    <div class="bg-primary p-5 h-screen md:h-auto">
        @if (SubTitle != null) {
            <div class="modal-subtitle relative flex-x text-sm mb-2 min-h-8">
                @SubTitle
            </div>
        }
        <div class="modal-body">
            @Body
        </div>
        <div class="-flex-x gap-x-2 bottom-0 right-5 absolute md:static bg-primary w-full py-4 md:p-0 min-h-24 md:min-h-0">
            @Buttons
        </div>
    </div>
</div>

@code {
    [Parameter] public string Class { get; set; } = "";
    [Parameter] public RenderFragment? SubTitle { get; set; }
    [Parameter] public RenderFragment? Body { get; set; }
    [Parameter] public RenderFragment? Buttons { get; set; }
}
