@using ActualChat.UI.Blazor.Services
@namespace ActualChat.UI.Blazor.Components

<ModalFrame Class="@Class">
    <Header>
        @if (Header != null) {
            @Header
        }
        else if (HasHeader) {
            <DialogHeader Title="@Title" HasCloseButton="@HasCloseButton" />
        }
    </Header>
    <ChildContent>
        <div class="dialog-body">
            @Body
        </div>
        @if (Buttons != null && Buttons != RenderFragments.Null) {
            <div class="dialog-buttons @ButtonsClass">
                @Buttons
            </div>
        }
    </ChildContent>
</ModalFrame>

@code {
    [Parameter] public string Class { get; set; } = "";
    [Parameter] public string ButtonsClass { get; set; } = "";
    [Parameter] public bool HasHeader { get; set; } = true;
    [Parameter] public bool HasCloseButton { get; set; }
    [Parameter] public string Title { get; set; } = "";
    [Parameter] public RenderFragment? Header { get; set; }
    [Parameter] public RenderFragment? Body { get; set; }
    [Parameter] public RenderFragment? Buttons { get; set; }
    [Parameter] public ElementReference? Ref { get; set; }
}
