@namespace ActualChat.UI.Blazor.Components
@{
    var cls = $"modal-frame {Class}";
}

<ModalChrome Class="@cls">
    @if (HasHeader) {
        <div class="modal-header">
            <h3 class="modal-title flex flex-1 text-lg font-bold">@Title</h3>
        </div>
    }
    @ChildContent
</ModalChrome>

@code {
    [CascadingParameter] public BlazoredModalInstance ModalInstance { get; set; } = null!;
    [Parameter] public string Class { get; set; } = "";
    [Parameter] public bool HasHeader { get; set; } = true;
    [Parameter] public bool HasCloseButton { get; set; }
    [Parameter] public string Title { get; set; } = "";
    [Parameter] public RenderFragment ChildContent { get; set; } = null!;

    private void OnCloseClick()
        => ModalInstance.CancelAsync();
}
