@namespace ActualChat.UI.Blazor.Components
@{
    var cls = $"modal-frame {Class}";
}

<ModalChrome Class="@cls">
    @if (HasHeader) {
        <div class="modal-header">
            <h3 class="modal-title flex-1 text-lg font-bold">@Title</h3>
            @if (HasCloseButton) {
                <div class="flex-none my-1">
                    <ButtonRound Class="modal-close" Click="OnCloseClick" tabindex="-1" aria-label="close">
                        <i class="icon-close text-2xl font-medium"></i>
                    </ButtonRound>
                </div>
            }
        </div>
    }
    @ChildContent
</ModalChrome>

@code {
    [CascadingParameter] public BlazoredModalInstance ModalInstance { get; set; } = null!;
    [Parameter] public string Class { get; set; } = "";
    [Parameter] public bool HasHeader { get; set; } = true;
    [Parameter] public bool HasCloseButton { get; set; }
    [Parameter] public string Title { get; set; } = "";
    [Parameter] public RenderFragment ChildContent { get; set; } = null!;

    private void OnCloseClick()
        => _ = ModalInstance.CloseAsync();
}
