/* Inherited from Blazored Modal */

.modal-overlay {
    @apply z-modal-overlay fixed;
    @apply flex-1 flex-y justify-center;
    @apply top-0 left-0 h-full w-full;
    @apply overflow-x-hidden overflow-y-hidden;
    @apply outline-0;
    background-color: rgba(0,0,0,0.5);
}

.modal-focus-trap {
    @apply h-full w-full md:h-auto md:w-auto;
}

.modal {
    @apply flex-y;
    @apply h-full w-full md:h-auto md:w-auto;
    @apply border-0 rounded-none;
    @apply p-0 m-0 bg-transparent;
    box-shadow: none;
}

.modal .modal-content {
    /* h-[90vh] adds top+bottom gap between the modal frame & screen edge on smaller screens */
    /* Note that modal-overlay-fullscreen selector below cancels it */
    @apply h-full md:h-[90vh] w-full;
}

.narrow .narrow-view__modal__position-bottom {
    @apply absolute bottom-0 left-0 right-0;
    @apply w-auto h-auto rounded-b-none;
    min-height: 80vh;
}

.narrow .narrow-view__modal__position-stretch {
    @apply rounded-none;
}

/* Full-screen mode overrides */
.modal-overlay-fullscreen .modal-focus-trap,
.modal-overlay-fullscreen .modal .modal-content {
    @apply h-full w-full;
}

.modal-chrome-wrapper {
    @apply h-full w-full;
    @apply flex flex-col justify-center items-center;
}

.modal-chrome-overlay {
    @apply block fixed left-0 top-0 h-full w-full;
}

.modal-chrome {
    @apply rounded-lg md:shadow-2xl;
    @apply bg-01 text-03;
    @apply overflow-hidden;
    @apply z-10;
}
.modal-frame {
    @apply flex-y items-stretch gap-y-2 overflow-hidden;
    @apply p-2;
    @apply h-full w-full md:h-auto md:w-modal;
    @apply rounded-lg;
    @apply font-medium;
}

.btn.btn-square.modal-close {
    @apply h-fit -mr-1.5;
}
body.hoverable .btn.btn-square.modal-close:hover > .btn-content {
    @apply bg-transparent opacity-90;
}

.modal-header {
    @apply flex-none flex-x justify-between items-center gap-x-2;
    @apply min-h-10 max-h-10;
    @apply p-2;
    @apply overflow-visible;
}

.modal-title {
    @apply flex-1;
}

.modal-header .modal-title {
    @apply text-xl md:text-lg font-semibold md:font-medium truncate;
}
.modal-header .modal-close {
    @apply flex-none;
    @apply -mr-0.5;
    @apply overflow-visible;
    @apply invisible md:visible;
}

.modal-header-mobile {
    @apply flex-x justify-start items-center gap-x-2;
    @apply p-2;
}

.modal-header-mobile .modal-title {
    @apply text-title-1 text-02;
}

.modal-header-interactive {
    @apply flex-x items-center;
    @apply min-h-14;
    @apply pr-2; /* indent to Submit button */
    @apply bg-02 border-bg-04 border-b;
}

.modal-header-interactive .btn .btn-content {
    @apply bg-transparent;
}

.modal-header-interactive .modal-title {
    @apply text-title-1 text-02;
}

.modal-header-interactive .btn-submit {
    @apply text-headline-1;
    @apply text-accent;
}

.dialog-body {
    @apply flex-1 p-2;
    @apply flex-y items-stretch overflow-y-auto;
}

.dialog-buttons {
    @apply flex-none p-2;
    @apply flex-x gap-x-2 overflow-hidden;
}

body.narrow .dialog-buttons {
    @apply p-2;
    @apply -flex-y gap-y-2;
}

.dialog-buttons .btn {
    @apply flex-1 max-w-none;
}

.dialog-body .validation-errors {
    @apply rounded-md mb-2;
}
.dialog-body .validation-errors .validation-message {
    @apply flex justify-center rounded-md p-2 bg-error text-04 font-normal text-base;
}

.dialog-body input:not([type='checkbox']):not(.dialog-unstyled) {
    @apply border rounded-md outline-none p-1 px-2;
}
.dialog-body input:not([type='checkbox']):not(.dialog-unstyled).invalid {
    @apply border-error;
}
.dialog-body input:focus:not(.dialog-unstyled) {
    @apply outline-none border-primary;
    @apply ring-1 ring-primary;
}
.dialog-body input:not([type='checkbox']):not(.dialog-unstyled).invalid:focus {
    @apply border-error;
}

/* Fullscreen Modal */
.modal-overlay-fullscreen .modal {
    @apply md:w-full md:h-full;
}
.modal-overlay-fullscreen .modal-frame.modal-chrome {
    @apply w-full h-full p-0 gap-y-0 rounded-none;
}
.modal-overlay-fullscreen .dialog-body {
    @apply p-0;
}
.modal-overlay-fullscreen .btn-x {
    @apply absolute right-4 top-4;
    @apply hidden md:flex-x;
}
.modal-overlay-fullscreen .modal-header {
    @apply hidden;
}

.modal-frame .no-padding-header-decorator {
    @apply -mt-2 -ml-2 -mr-2;
}
