@namespace ActualChat.UI.Blazor.Components

<div class="modal-chrome-wrapper" @onclick="OnCloseClick">
    <div class="modal-chrome @Class">
        @ChildContent
    </div>
</div>

@code {
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; } = null!;
    [Parameter] public string Class { get; set; } = "";
    [Parameter] public RenderFragment? ChildContent { get; set; }

    private void OnCloseClick()
        => ModalInstance.CancelAsync();
}
