@namespace ActualChat.UI.Blazor.Components
@{
    var cls = $"modal-frame {Class}";
}

<ModalChrome Class="@cls">
    @if (HasHeader) {
        <div class="modal-header flex items-start justify-between px-5 py-3 border-b border-accent bg-accent top-0">
            <h3 class="modal-title text-lg font-bold">@Title</h3>
            @if (HasCloseButton) {
                <ButtonSquare Class="modal-close" Click="OnCloseClick" tabindex="-1" aria-label="close">
                    <span>&times;</span>
                </ButtonSquare>
            }
        </div>
    }
    @ChildContent
</ModalChrome>

@code {
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; } = null!;
    [Parameter] public string Class { get; set; } = "";
    [Parameter] public bool HasHeader { get; set; } = true;
    [Parameter] public bool HasCloseButton { get; set; }
    [Parameter] public string Title { get; set; } = "";
    [Parameter] public RenderFragment ChildContent { get; set; } = null!;

    private void OnCloseClick()
        => ModalInstance.CancelAsync();
}
