.markup-editor {
    @apply relative;
    @apply text-xl md:text-base;
}
.markup-editor .editor-content {
    @apply relative inline-block overflow-auto;
    @apply text-base;
    @apply whitespace-pre-wrap text-ellipsis;
    word-wrap: break-word;
    /*
    Super important to keep select-text here, otherwise contenteditable simply doesn't work on iOS.
    Details: https://github.com/ionic-team/ionic-framework/issues/18368
    */
    @apply select-text;
}
.markup-editor .editor-content .editor-mention {
    @apply inline-block;
    @apply px-1.5 py-0.25 mx-[1px] -mb-1.5;
    @apply rounded-full bg-mention-other;
    @apply text-mention-other-text font-medium;
    @apply truncate;
    max-width: 12rem;
}
.markup-editor .editor-hidden {
    @apply inline-block overflow-hidden w-[1px] h-[1px];
}
.markup-editor .editor-preformatted {
    @apply font-mono font-medium;
}

/* Placeholder */
.markup-editor .editor-content:empty:not(:focus):before {
    content: attr(data-placeholder);
    @apply text-counter md:text-05 !opacity-100 truncate;
}

/* Permanent mobile cursor */

.markup-editor > .c-cursor {
    @apply absolute;
    @apply w-px h-5;
    @apply bg-scrollbar;
    animation: cursor 1s infinite step-end;
}
body.wide .editor-content + .c-cursor,
body.narrow .editor-content:focus + .c-cursor {
    @apply hidden;
}
body.narrow .editor-content:not(:focus) {
    @apply ml-0.5;
}
body.narrow .editor-content:focus {
    @apply ml-0;
}
@keyframes cursor {
    50% { background: transparent; }
}
