@namespace ActualChat.Chat.UI.Blazor.Components
@implements IMarkupEditorBackend
@implements IAsyncDisposable
@using ActualChat.Chat.UI.Blazor.Module

<div @ref="Ref" id="@Id" class="@Class editor">
    <div class="editor-content"
         contenteditable="true"
         data-placeholder="@Placeholder"></div>
</div>

@code {
    private MentionListManager? _lastMentionListManager;
    private Action<MentionSearchResult> _onMentionSelected;

    private ElementReference Ref { get; set; }
    private IJSObjectReference JSRef { get; set; } = null!;
    private DotNetObjectReference<IMarkupEditorBackend> BlazorRef { get; set; } = null!;

    [Inject] private IJSRuntime JS { get; init; } = null!;

    [CascadingParameter] public MentionListManager? MentionListManager { get; set; }
    [Parameter] public string Id { get; set; } = "";
    [Parameter] public string Placeholder { get; set; } = "";
    [Parameter] public string Class { get; set; } = "";
    [Parameter] public bool Autofocus { get; set; }
    [Parameter] public EventCallback<string> Post { get; set; }
    [Parameter] public EventCallback Cancel { get; set; }
    [Parameter] public EventCallback OpenPrevious { get; set; }

    public MarkupEditor()
        => _onMentionSelected = mention => _ = InsertMention(mention);

    protected override void OnParametersSet() {
        if (_lastMentionListManager != null)
            _lastMentionListManager.MentionSelected -= _onMentionSelected;
        _lastMentionListManager = MentionListManager;
        if (_lastMentionListManager != null)
            _lastMentionListManager.MentionSelected += _onMentionSelected;
    }

    public async ValueTask DisposeAsync() {
        if (_lastMentionListManager != null)
            _lastMentionListManager.MentionSelected -= _onMentionSelected;
        await JSRef.DisposeSilentlyAsync();
        JSRef = null!;
        BlazorRef.DisposeSilently();
        BlazorRef = null!;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            BlazorRef = DotNetObjectReference.Create<IMarkupEditorBackend>(this);
            JSRef = await JS.InvokeAsync<IJSObjectReference>(
                $"{ChatBlazorUIModule.ImportName}.MarkupEditor.create",
                Ref,
                BlazorRef,
                Autofocus,
                Constants.DebugMode.MarkupEditor);
        }
    }

    public Task<string> GetText()
        => JSRef.InvokeAsync<string>("getText").AsTask();

    public Task SetMarkup(ImmutableArray<EditedMarkupConverter.EditorNode> markup, CancellationToken cancellationToken)
        => JSRef.InvokeVoidAsync("setMarkup", cancellationToken, markup).AsTask();

    public Task Clear()
        => JSRef.InvokeAsync<string>("setHtml", "").AsTask();

    public Task Focus(CancellationToken cancellationToken = default)
        => JSRef.InvokeVoidAsync("focus", cancellationToken).AsTask();

    public Task MoveCursorToEnd(CancellationToken cancellationToken = default)
        => JSRef.InvokeVoidAsync("moveCursorToEnd", cancellationToken).AsTask();

    public async Task InsertMention(MentionSearchResult? mention) {
        MentionListManager?.Hide();
        if (mention == null)
            return;
        await JSRef.InvokeVoidAsync("insertMention", mention.Id, mention.SearchMatch.Text);
    }

    // Backend methods

    [JSInvokable]
    public Task OnPost(string? text = null)
        => Post.InvokeAsync(text);

    [JSInvokable]
    public Task OnCancel()
        => Cancel.InvokeAsync();

    [JSInvokable]
    public Task OnOpenPrevious()
        => OpenPrevious.InvokeAsync();

    [JSInvokable]
    public async Task OnListCommand(string listId, MarkupEditorListCommand command) {
        if (listId != "@")
            throw new ArgumentOutOfRangeException(nameof(listId));

        var manager = MentionListManager;
        if (manager == null)
            return;
        switch (command.Kind) {
        case MarkupEditorListCommandKind.Show:
            manager.Show(command.Filter ?? "");
            break;
        case MarkupEditorListCommandKind.Hide:
            manager.Hide();
            break;
        case MarkupEditorListCommandKind.GoToNextItem:
            manager.ListRef?.MoveSelection(1);
            break;
        case MarkupEditorListCommandKind.GoToPreviousItem:
            manager.ListRef?.MoveSelection(-1);
            break;
        case MarkupEditorListCommandKind.InsertItem:
            await InsertMention(manager.ListRef?.Selection);
            break;
        default:
            throw new ArgumentOutOfRangeException(nameof(command));
        }
    }
}
