@namespace ActualChat.Chat.UI.Blazor.Components

<button @onclick="@MenuToggle" class="dropdown-button @CssClasses">
    <svg class="fill-current h-6 w-6 text-secondary hover:text-primary" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
        <path d="M11 9h4v2h-4v4H9v-4H5V9h4V5h2v4zm-1 11a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16z"/>
    </svg>
</button>

@code {
    private bool IsMenuOpen { get; set; }
    [Parameter]
    public string? Icon { get; set; }
    [Parameter]
    public string? CssClasses { get; set; }
    [Parameter]
    public EventCallback MenuToggle { get; set; }
}
