.date-visor-wrapper {
    @apply hidden justify-center;
    @apply pt-1;
    @apply bg-transparent;
    @apply duration-300;
    @apply opacity-0;
    transition-property: display, opacity;
    transition-behavior: allow-discrete;
}
.date-visor-wrapper.show {
    @apply flex-x;
    @apply opacity-100;
    @apply delay-200;
    @starting-style {
        opacity: 0;
    }
}
.date-visor-wrapper:has(.date-visor:empty) {
    @apply hidden;
}
.date-visor {
    @apply flex items-center;
    @apply h-6;
    @apply px-2;
    @apply rounded-full;
    @apply bg-01;
    @apply text-caption-6 text-01;
    @apply drop-shadow-lg;
}
