@namespace ActualChat.Chat.UI.Blazor.Components

<div class="flex-y w-full h-full md:w-80 border-l border-accent p-3 animate-from-right">
    <TabPanel TabsClass="right-panel-tabs">
        <div class="overflow-y-hidden">
            <Tab Title="People" Class="people-tab">
                <ChatAuthorsTab/>
            </Tab>
            <Tab Title="Chat">
                <ChatTab/>
            </Tab>
        </div>
    </TabPanel>
</div>

@code {
    [CascadingParameter] public Chat Chat { get; set; } = null!;
}
