@namespace ActualChat.Chat.UI.Blazor.Components

<Form Model="@(new object())">
    <FormSection>
        <ChatMuteToggle ChatId="@Chat.Id" />
    </FormSection>
</Form>

@code {
    [CascadingParameter] public Chat Chat { get; set; } = null!;
}
