@namespace ActualChat.Chat.UI.Blazor.Components
@using ActualChat.UI.Blazor.Components.SideNav
@inherits ComputedStateComponent<ChatRightPanel.Model>

<SideNav Direction="SideNavDirection.RightToLeft"
         Open="() => RightPanelUI.IsVisible.Value = true"
         Closed="() => RightPanelUI.IsVisible.Value = false"
         IsOpen="@State.Value.IsRightPanelVisible">
    <div class="flex-y w-full h-full md:w-80 border-l border-bg-04">
        <RightPanelHeader/>
        <RightPanelChatInfo/>
        <div class="flex w-full min-h-2 bg-04"></div>
        <div class="flex flex-col w-full h-full overflow-hidden">
            <TabPanel TabsClass="wide-left-panel-tabs" BottomHill="true">
                <Tab Title="Members">
                    <ChatAuthors/>
                </Tab>
                <Tab Title="Media">
                </Tab>
                <Tab Title="Files">
                </Tab>
                <Tab Title="Links">
                </Tab>
            </TabPanel>
        </div>
    </div>
</SideNav>

@code {
    [Inject] private RightPanelUI RightPanelUI { get; init; } = null!;

    [CascadingParameter] public Chat Chat { get; set; } = null!;

    protected override ComputedState<Model>.Options GetStateOptions()
        => new() {
            InitialValue = Model.None,
            UpdateDelayer = UpdateDelayer.ZeroDelay,
        };

    protected override async Task<Model> ComputeState(CancellationToken cancellationToken) {
        var isRightPanelVisible = await RightPanelUI.IsVisible.Use(cancellationToken).ConfigureAwait(false);
        return new () {
            IsRightPanelVisible = isRightPanelVisible,
        };
    }

    public sealed record Model {
        public static Model None { get; } = new();
        public bool IsRightPanelVisible { get; init; }
    }
}
