@namespace ActualChat.Chat.UI.Blazor.Components
@{
    var isPeerChat = ChatId.GetChatType(Chat.Id) == ChatType.Peer;
}

<div class="flex-y w-full md:w-80 border-l border-accent p-3 animate-from-right">
    <TabPanel>
        <div class="overflow-y-auto custom-scrollbar">
            <Tab Title="Users">
                <ChatAuthorsTab/>
            </Tab>
            @if (!isPeerChat) {
                <Tab Title="You">
                    <ChatUserTab/>
                </Tab>
                <Tab Title="Chat">
                    <ChatTab/>
                </Tab>
            }
        </div>
    </TabPanel>
</div>

@code {
    [CascadingParameter] public Chat Chat { get; set; } = null!;
}
