@namespace ActualChat.Chat.UI.Blazor.Components

<Form Model="@(new object())">
    <FormSection>
        <ChatMuteToggle ChatId="@Chat.Id" />
    </FormSection>
</Form>

<h4 class="section">User avatars</h4>
<div class="mt-2">
    <UserAvatarsEditor ChatId="@Chat.Id"/>
</div>

@code {
    [CascadingParameter] public Chat Chat { get; set; } = null!;
}
