@namespace ActualChat.Chat.UI.Blazor.Components
@{
    var isPeerChat = ChatIdExt.GetChatIdKind(Chat.Id) == ChatIdKind.PeerFull;
}

<div class="flex-y w-full md:w-80 border-l border-accent p-3 animate-from-right">
    <TabPanel>
        <Tab Title="Users" Id="Users" Class="custom-scrollbar">
            <ChatAuthorsTab />
        </Tab>
        @if (!isPeerChat) {
            <Tab Title="You" Id="You" Class="custom-scrollbar">
                <ChatUserTab />
            </Tab>
            <Tab Title="Chat" Id="Chat" Class="custom-scrollbar">
                <ChatTab />
            </Tab>
        }
    </TabPanel>
</div>

@code {
    [CascadingParameter] public Chat Chat { get; set; } = null!;
}
