@namespace ActualChat.Chat.UI.Blazor.Components
@inherits ComputedStateComponent<ChatAuthorRules>
@{
    var m = State.LatestNonErrorValue;
}

<div class="flex-x px-2 md:pl-5 md:pr-2 min-h-14 border-b border-bg-04">
    <ButtonRound Click="OnHideRightPanelClick" Class="md:!hidden transparent">
        <i class="icon-arrow-left text-2xl"></i>
    </ButtonRound>
    <div class="flex grow text-03 font-medium self-center">Chat Settings</div>
    @if (m.CanEditProperties()) {
        <ButtonRound
            Class="transparent"
            Tooltip="Edit"
            TooltipOptions="@(new(TooltipPosition.Bottom))"
            Click="@OnEditChatSettingsClick">
            <i class="icon-edit text-2xl"></i>
        </ButtonRound>
    }
</div>

@code {
    [Inject] private FeedbackUI FeedbackUI { get; init; } = null!;
    [Inject] private RightPanelUI RightPanelUI { get; init; } = null!;
    [Inject] private Session Session { get; init; } = null!;
    [Inject] private IChats Chats { get; init; } = null!;
    [Inject] private ModalUI ModalUI { get; init; } = null!;

    [CascadingParameter] public Chat Chat { get; set; } = null!;

    private void OnHideRightPanelClick()
        => RightPanelUI.IsVisible.Value = false;

    private void OnEditChatSettingsClick()
        => ModalUI.Show(new ChatSettingsModal.ModalInput(Chat));

    protected override ComputedState<ChatAuthorRules>.Options GetStateOptions()
        => new() {
            InitialValue = ChatAuthorRules.None(Chat.Id),
            UpdateDelayer = UpdateDelayer.MinDelay,
        };

    protected override Task<ChatAuthorRules> ComputeState(CancellationToken cancellationToken)
        => Chats.GetRules(Session, Chat.Id, default);
}
