@namespace ActualChat.Chat.UI.Blazor.Components

<div class="c-info">
    @if (Chat.Kind is ChatKind.Group or ChatKind.Place) {
        @(Chat.IsPublic ? "Public" : "Private")
    } else {
        <PeerAccountInfo ChatContext="@ChatContext" />
    }
</div>

@code {
    private Chat Chat => ChatContext.Chat;

    [Parameter, EditorRequired] public ChatContext ChatContext { get; set; } = null!;
}
