@namespace ActualChat.Chat.UI.Blazor.Components
@inherits ComputedStateComponent<ChatMemberCounter.Model>
@{
    var m = State.Value;
    if (m.MembersCount == 0)
        return;
}

@if (m.MembersCount > 0) {
    <div class="chat-member-counter">
        <div class="c-text">
            <span>
                @($"{GetCountString(m.MembersCount)} {"member".Pluralize(m.MembersCount)}")
            </span>
            @if (m.OnlineCount > 0) {
                @($", {GetCountString(m.OnlineCount)} online")
            }
        </div>
        <SeparatorDot/>
    </div>
}

@code {
    private Chat Chat => ChatContext.Chat;
    private Session Session => ChatContext.Hub.Session();
    private IAuthors Authors => ChatContext.Hub.Authors;

    [Parameter, EditorRequired] public ChatContext ChatContext { get; set; } = null!;

    protected override ComputedState<Model>.Options GetStateOptions()
        => ComputedStateComponent.GetStateOptions(GetType(),
            static t => new ComputedState<Model>.Options() {
                InitialValue = Model.Loading,
                UpdateDelayer = FixedDelayer.NextTick,
                Category = ComputedStateComponent.GetStateCategory(t),
            });

    protected override async Task<Model> ComputeState(CancellationToken cancellationToken) {
        var chatId = Chat.Id;
        var allAuthorIds = await Authors.ListAuthorIds(Session, chatId, cancellationToken);

        var authorPresences = await allAuthorIds
            .Select(async authorId => await Authors.GetPresence(Session, chatId, authorId, cancellationToken).ConfigureAwait(false))
            .Collect()
            .ConfigureAwait(false);

        var onlineCount = authorPresences.Count(presence => presence is Presence.Away or Presence.Online or Presence.Recording);
        return new() {
            MembersCount = allAuthorIds.Count,
            OnlineCount = onlineCount,
        };
    }

    private string GetCountString(int memberCount) {
        decimal count;
        switch (memberCount) {
            case < 1000:
                return $"{memberCount}";
            case < 1000000:
                count = Math.Round(memberCount / 1000m, 1, MidpointRounding.AwayFromZero);
                return $"{count}K";
            default:
                count = Math.Round(memberCount / 1000000m, 1, MidpointRounding.AwayFromZero);
                return $"{count}M";
        }
    }

    public sealed record Model {
        public static readonly Model Loading = new();

        public int MembersCount { get; init; }
        public int OnlineCount { get; init; }
    }
}
